[2020-03-30 16:57] zepumph opened #1 "Master Checklist"
I'm not sure how similar this sim will be to others, since it is so research focused, but it will be good to create this issue still.

## Ratio and Proportion master checklist

## Design
- [x] **Sim folder and design doc created** (Date: April 2020)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  -

[2020-03-30 17:45] zepumph opened #2 "Implement initial mockup"
I received an email from @emily-phet with the initial mockup, so I will put it here:

Mockup description

**Representations**
* two parallel bars - each can be moved up and down independently, but change color (from pink to green) when the ratio of their height is at the target ratio (e.g., 1:2).
* To support initial interaction by learner, on startup there are brightly colored (orange) double-sid

[2020-03-30 17:47] zepumph commented on #2
![image](https://user-images.githubusercontent.com/6856943/77944456-7d735900-726b-11ea-9869-e6e91d159708.png)

[2020-03-30 21:25] zepumph opened #3 "rename this sim?"
It was mentioned briefly in a recent email that we aren't totally sure this is the name that will stick around. It is pretty straight forward to change it if we want to, just let me know. PhET already has a sim called "Proportion Playground" which seems worth mentioning.

[2020-03-30 22:11] zepumph opened #4 "Add arrow hints to cue dragging"
![image](https://user-images.githubusercontent.com/6856943/77966828-52e7c700-7290-11ea-954f-9ec438773fcb.png)

These go away upon first interaction.

[2020-03-30 22:50] #4 closed

[2020-03-30 22:50] zepumph commented on #4
see #2

[2020-03-30 23:13] zepumph opened #5 "Implement Grid layout and radio buttons (Grid + Numbering Design, General)"
From https://github.com/phetsims/proportion/issues/2:

[2020-03-30 23:23] zepumph opened #6 "Add keyboard interaction for draggable bars"
I'm not entirely sure what we would want in terms of keyboard interaction. I would want to have a designer discuss with me before implementing. Most of the interesting pedagogical value in this sim relies on multi-touch (changing both bars at the same time). Thus our current KeyboardDragListener didn't seem that useful. I'll hold off an implementation util I get a bit more guidance.

[2020-03-30 23:28] zepumph commented on #2
I have gone through the initial mockup and implemented everything (at least at a first pass) except the grid radio buttons, which I was going to wait on until I understood their behavior a bit more (see https://github.com/phetsims/proportion/issues/5).

@emily-phet please review. I can still work further on this tomorrow to refine for the meeting on Wednesday. just let me know what you would like

[2020-03-31 15:05] BLFiedler commented on #2
Great work!

Four quick thoughts:

- It's possible to drag the bars so low that you can't retrieve them without resetting.
- There's something wonky about Mystery 3 which I think has to do with the proportion being inverted. At low tolerance, it's possible to never see it (maybe something to do with the number of values on the slider?)
- Definitely could use a grid or number grid option (eventuall

[2020-03-31 15:13] emily-phet commented on #2
@zepumph Thanks - this great!

By tomorrow's meeting...
- Can you have the sim start in the green state (at the 1:2 ratio?)

[2020-03-31 16:11] zepumph commented on #2
I made a min height so that you can't make the bar smaller than 10% of the bar's height.

Yes, the ratio is 4:1, I thought it would be good to flip it one so the other was larger. Perhaps now with a forced min of 10%, it will be easier to set the right proportion.
![image](https://user-images.githubusercontent.com/6856943/78049097-19ae6600-7327-11ea-87ba-efa621fa6aa2.png)

I added this mostly just

[2020-03-31 16:29] zepumph commented on #6
Ok, I ended up implementing a keyboard interaction. It is a bit strange, but I felt like it will be helpful to have for the initial meeting.

[2020-03-31 18:25] zepumph commented on #3
@jessegreenberg mentioned this today independently today, with regards to how `proportion-playground` may get "looped" into this one like it was a suite (since we have many of those).

Another thought from me, is that currently I named to main Property in the model that keeps track of the target proportion: `ratioProperty`. It sounded better in the moment than `proportionProperty`. I'm not sure if

[2020-03-31 18:26] zepumph commented on #2
I'm going to go ahead and close this issue since a mockup has been created. We can make new issues for further work.

[2020-03-31 18:26] #2 closed

[2020-04-02 14:12] emily-phet commented on #3
@kathy-phet
Any reason you see at the moment not to have a sim named "Proportion"? We're creating this now as a research/design tool, but it would likely be published publicly at some point.

[2020-04-02 14:17] kathy-phet commented on #3
I would need to know more about the simulation, and we should loop Amanda in if this is a math sim. Can you provide more information about this sim and its design and status?

[2020-04-02 14:23] emily-phet opened #7 "New First Screen - two freely moving objects"
Let's move the current prototype screen to the second screen. The new first screen would have, as DA mentioned yesterday, two freely moving points. Maybe two small spheres?

@zepumph can you comment on any immediate implementation issues you see with this. I recognize that freely moving objects will introduce downstream challenges for interaction, description, etc., but if you know of any immediat

[2020-04-02 14:42] emily-phet commented on #3
Here's the [design doc](https://docs.google.com/document/d/1udBAdppMJOaJXp3-vbzNydEFYsxr0wIYpAvvDO9AEGY/edit?usp=sharing), where you can see a mockup and initial prototype.

The a11y team is sprinting on this during this quarter, in collaboration with multiple partners. We aim to create a "traditional" a11y phet sim, visual display, description, sound, etc., and at least one coupled tangible inter

[2020-04-02 15:10] kathy-phet commented on #3
@amanda-phet - Please review and let's set up a time to discuss with @emily-phet.

[2020-04-02 15:14] emily-phet commented on #3
@kathy-phet and @amanda-phet
Note - I have severely limited work time right now. I will try to give a brief intro at status today, covering most of what's in the design doc with a demo from @zepumph, pending kid care. I can probably fit in a quick phone call next week. Otherwise, all action is happening via email list (@amanda-phet I can add you), Google docs, and ad hoc design conversations.

[2020-04-02 16:29] amanda-phet commented on #3
From what I can see so far, this sim is about a **ratio**. Proportionality can mean a number of things, but in the math classroom, a **proportion** is two equivalent ratios. If the learning goals were more fleshed out that would be helpful. I see one NGSS standard alignment, but if you want this sim to be used in a math classroom then it should have CCSS alignments as well.

This CCSS page might b

[2020-04-02 16:49] emily-phet commented on #3
Thanks @amanda-phet. I'm guessing our math ed collaborators' work refers to this embodied activity as "proportion" as they using it as an entry into a broad range of proportion ideas, and/or see this particular embodied experience as foundational to a range of proportion concepts.

I'll reach out to our collaborators for clarification, elaboration, and specifically ask if there are objections to c

[2020-04-03 21:50] emily-phet commented on #3
@amanda-phet thanks for your time in considering this. I have added you to the email list. Apologies for the flood of email likely to occur. Please feel free to skim at your leisure, if there is anything that goes out requesting your involvement specifically, I will also reach out on Slack.

I spoke with the father (so-to-speak) of MITp today, and discussed the name. His response was more eloquent

[2020-04-06 14:31] emily-phet commented on #7
Additional considerations:

- Let's have an option to switch the freely moving points from small spheres, to cross hairs (radio button options).
- Model update - *any* way the height ratio = the desired ratio (e.g., 1:2) results in "success" feedback (color change, etc.). Doesn't matter whether left or right object is higher or lower, as long as the height ratio is the desired ratio.

[2020-04-06 15:10] amanda-phet commented on #3
I am happy to look more into those resources you sent. It's not that I don't understand why it is named Proportion, I just don't think it's an appropriate name for this sim if published to the PhET website. "Ratio and Proportion" sounds great to me.

[2020-04-06 23:02] zepumph commented on #7
I have implemented the second (actually first) screen in the above commits.

Here is the latest dev version: https://phet-dev.colorado.edu/html/proportion/1.0.0-dev.3/phet/proportion_en_phet.html

My goal was largely to implement things as simply as possible, and to wait for more design feedback before honing things in. I don't even feel like I have a good name for the screen just yet. I went with

[2020-04-07 05:43] DorAbrahamson commented on #7
Emily, let's revisit the tradeoffs of allowing an a:b ratio to be green both when left < right (a:b) AND left > right (b:a). I have always preferred to give green only for the a:b, because a:b =\= b:a. (That said, on the other project, where two students are facing each other, we would need to exercise flexibility). This is my First Post Ever on GitHub, so Hello World and apologies if I put this i

[2020-04-07 12:52] emily-phet commented on #7
Welcome to GitHub @DorAbrahamson!

Thanks for bringing this up. This is a good potential "fork in the road" we'll want to sort out soon. It may be particularly significant for those working on interactive description, and maybe sound.

If it's something we'll need to investigate empirically, we can pick the most flexible option and proceed, but we'll want the team to know that so they can design w

[2020-04-07 14:50] BLFiedler commented on #7
First two thoughts are from a cursor/visual/touchscreen perspective, third more universal, fourth in response to Dor & EM:

1. @zepumph There's a bit of "momentum" to dragging the object, which I'm a little uncertain of since it pulls the visual away from your body movement a little when moving quickly (I notice this pretty strongly using my hands and a touch screen). I'd like to hear others' thou

[2020-04-07 15:46] DorAbrahamson commented on #7
Hi! Responding to Brett, see below:

1. Momentum would be a nice, realistic effect. Still, I worry about confusion over the “where” of my finger. I think finger-to-cursor tightness is less ambiguous.

2. Thinking ahead to the appearance of the grid, I’d want the player to see the cursor’s precise location on the grid. The crosshairs of the “plus” cursor enable acuity in calibrating cursor location

[2020-04-07 17:34] zepumph commented on #6
I'm going to close this, but we can open new issues as new designs need to be implemented for alternative input.

[2020-04-07 20:26] zepumph opened #8 "Add mechamarkers to this sim"
From a tangibles design meeting today, we decided that mechamarkers will be a great technology for prototyping tangible input in this simulation.

After meeting with @Petroochio and @clementzheng, we determined that the best path forward is to just use three markers. One will be a "base" marker, with the plan to attach it stationary near the bottom of the camera view. Then two markers will act as

[2020-04-07 21:40] jbphet opened #9 "Implement sound design"
@Ashton-Morris, @emily-phet, and I (@jbphet) did some brainstorming on the sound design for the proportion sim and thought we should write some of these things down.

- Use two sound generators that are producing the same note when in correct proportion, and when the proportions aren't correct they would produce different notes and thus beat frequencies.
- Same idea - two sound generators - but pr

[2020-04-07 21:54] jbphet commented on #9
I made a quick recording to demonstrate beat frequencies.  In the explanation at the beginning I probably should have said that I'm "playing the same note on two different strings" instead of that I'm "playing the same note".

Here's a link: https://drive.google.com/file/d/1AmrwecgS4_QDzztTGWdeK7pM2TMpIomE/view

[2020-04-08 00:07] zepumph commented on #8
I created the `tangible` repo to house common code between GFL and Proportion. I then added marker input into both screens of Proportion. Unfortunately it broke using the screen to adjust the Y axis in the free-objects screen. I'll get to that first thing next time.

[2020-04-08 16:23] zepumph commented on #8
@samreid mentioned that `handtrack.js` could be an interesting technology to explore. https://towardsdatascience.com/handtrackjs-677c29c1d585

[2020-04-08 16:43] BLFiedler commented on #8
Oh, cool! I think the mechamarkers are still the way to go (attachment to objects for the tangible experience), but if this is super easy, it might be a nice deployable option.

[2020-04-08 17:52] BLFiedler commented on #7
@zepumph Is the tolerance multiplicative? We might consider a constant tolerance. It seems I have more wiggle room at larger values than smaller values.

[2020-04-08 18:00] DorAbrahamson commented on #7
(Tolerance has always been a sticky issue for us. On the one hand, an absolute tolerance is impracticable at the lower values, because, then, just about everything is green. So, in the lower values, a universal absolute margin would be too large. On the other hand, a multiplicative margin would be too small in the lower values, to the point where it would be down to a single pixel! And so, in the

[2020-04-08 18:11] BLFiedler commented on #7
Great insight. A piecewise function is a sound strategy for our first pass. I suspect you may have an idea for each proportion when the "feel" is right to switch between either strategy.

[2020-04-08 18:17] DorAbrahamson commented on #7
Well, one might wish to begin by asking what is a minimal acceptable distance between “left” and “right.” That could serve us as a basis for evaluating when to switch per each ratio. That said, given that we hope to be multi-platform (yes?), such as various multi-touch PDA, tablet, and desktop, this minimum would need to vary by host platform… I wouldn't know if that is technically feasible.

[2020-04-08 18:34] KatieWoe opened #10 "CT s.reset is not a function"
[code]

[2020-04-08 18:45] zepumph commented on #10
Thanks! Fixed above. Fuzzing locally is working. Closing

[2020-04-08 18:45] #10 closed

[2020-04-08 20:07] zepumph commented on #9
In the above commit. I made a refactor that exposed what I call the `proportionFItnessProperty` in `ProportionModel`. This is a value between 0 and 1. When 1 the proportion is "perfect", and 0 means it is outside of the tolerance range. I did this with the hope that it would be easy to monitor for a simple "fitness" sound that can change in the same way as we do for color. Let me know if I can be

[2020-04-08 21:13] zepumph commented on #7
In regards to tolerance:
Currently the tolerance is constant, and always the value in the NumberControl. This value itself is a bit arbitrary, but it is the same unit as the values of the left/right objects. Currently the first screen's objects can range in height from 0 (bottom) to ~.6 (top). This is totally arbitrary based on how the view elements are set up and scaled from the model. Thus a tol

[2020-04-08 21:34] BLFiedler commented on #7
@zepumph Sorry, I may be misunderstanding. There is a difference in the distance I move the right circle/crosshair and have a green screen when the left circle/crosshair is either very low or in the middle of the screen. It's exaggerated if I raise the tolerance to say "0.20", and when the left circle/crosshair is in the middle of the screen there is a large distance I can move the right crosshair

[2020-04-08 21:36] Matthew-Moore240 opened #11 "A11y Implementation"
This issue helps tracks the big picture progress of the description design, description implementation, and implementation of alternative input. Sound and adaptive features are incorporated only at a high-level here, though could be added as we move forward and learn more.

# A11y Features
**Checked features are being worked on for this sim**
- [ ] Alternative Input -  (Started: ) (Completed: )

[2020-04-08 22:56] zepumph commented on #7
Ahh I see that! You are right.

[2020-04-09 00:06] DorAbrahamson commented on #7
My hunch would be to try out various versions, making sure we strike a balance between, on the on hand, having some minimal differentiation at the low values near the bottom of the screen where it’s crowded and, on the other hand, having a more-or-less uniform margin higher up. Of course, arguable, if the ratio is 9:10…, then even higher up on the screen we cannot have large margins (bc/ then 10:1

[2020-04-09 17:10] samreid commented on #8
Is there research that indicates that moving physical markers is more pedagogically effective than moving your hands without holding physical markers?

[2020-04-09 17:18] BLFiedler commented on #8
pedagogically effective is relative to the experience or concept you're trying to convey. We're seeking to implement/design tangibles that afford a property relevant to a particular aspect of a given concept (this may include shape, temperature, deformation, size, etc of the object).

There are cases where your hands may be enough! Say you're really interested in conveying the thermal energy trans

[2020-04-09 17:25] BLFiedler commented on #8
I should also say, that as we head further down the road and are considering "deployment" options, something as lightweight as the handtracking could be an excellent option for embodied sim control without the need for "accessories". However, this does encompass only one way (and a well studied way https://edrl.berkeley.edu/projects/kinemathics/) we hope to enable learners to interface with Propor

[2020-04-10 18:11] zepumph opened #12 "remove tolerance numberControl"

[2020-04-10 18:41] zepumph commented on #12
Implemented above. closing

[2020-04-10 18:41] #12 closed

[2020-04-12 14:24] emily-phet commented on #9
@Ashton-Morris - please propose something (could be related to beat frequencies or anything else) that is reasonably pleasant and can be added to the sim quickly. I'd like to get some sound in asap so there's some auditory feedback available as the team brainstorms sound and other features. Let's start with something that aligns with the color change in the sim, as @zepumph [indicated](https://git

[2020-04-12 14:54] Ashton-Morris commented on #9
@emily-phet I have a few ideas ready but I cant seem to properly clone the directory that has Proportion.

It would be much quicker if someone could do a simple screen recording of a proportion slider slowly going up and down. I can then do a few mockups of how sound would work and can upload it here.

If anyone is willing to do that please let me know.

[2020-04-12 15:41] emily-phet opened #13 "Adding standard UI sounds"
@jbphet @zepumph
Please also add the standard UI sounds to the radio buttons, the reset all button, and the pickup/drop of the freely moving objects, as well as the screen selection buttons.

Note - the tolerance slider is just to support design, it will not be in a final version of the sim, so don't add sound to that slider.

[2020-04-12 15:56] emily-phet commented on #9
@Ashton-Morris - I'll try to do a screen recording for you later today. Here's a link to the latest dev version, in case that's helpful in the meantime.
https://bayes.colorado.edu/dev/html/proportion/1.0.0-dev.5/phet/proportion_en_phet.html

[2020-04-12 16:42] Ashton-Morris commented on #9
@emily-phet Don't worry about a screen recording, I can do that. I didn't know there was a dev version. That all I needed.

I'll work on some mockups asap

[2020-04-12 17:35] emily-phet commented on #9
@Ashton-Morris I figured that might have been the issue. :)

When you make the screen recording, keep in mind that in some scenarios, learners will be moving each object one at a time, but in the more desirable scenarios, they're moving both at the same time (e.g., on a touch screen, or with tangible objects). Just thought that might impact your thoughts re sound.

[2020-04-13 14:40] Ashton-Morris commented on #9
I worked on some ideas this morning. You should be able to view these in your browser. I will do my best to explain my thinking with each one.  @emily-phet Please assign the proper people for review

- [Proportion_C_Major_Sine.m4v](https://drive.google.com/open?id=1npUOcMoX-bPlTxfD_UpL0jjpUQW8J1WF)
Max out of proportion = Low volume and only a C sine wave tone
Max in proportion = Added E and G not

[2020-04-13 14:54] emily-phet commented on #9
@Ashton-Morris Thanks for these!
@zepumph @jbphet Can we have a version with two sound options - with "Proportion-Vibrato" and "Proportion-Random Clicks" (random clicks as the default)?
If it's not time consuming to do, having a third option of "Proportion_C_Major_Sine" would be nice to have in as well.

To ensure those playing with at-home tangible versions has some auditory feedback to consider,

[2020-04-13 15:12] BLFiedler opened #14 "What should the default tolerance (or "success feedback" window) be?"
Aggregation of discussion from the Design doc and Issue #7

(4/10/2020) Visually, MK has implemented a “tolerance” parameter that is linked (multiplicatively) to the value of the lower bar.
This means that at low height, the tolerance is small and larger at large heights.
Next: It may be better to tie the tolerance to the proportion a/b instead or create a piecewise tolerance for extreme values.

[2020-04-13 15:21] emily-phet commented on #9
@Ashton-Morris Here are my thoughts:
- C_Minor_Sine - this sounds very pleasant to my ear. My concern is that from the video I wasn't sure if the feedback tied strongly enough to the goal state of "at ratio". That state needs to simultaneously stand out clearly. If this one gets implemented in the first options set, my hunch is that it will feel like it stands out more so than watching the video.

[2020-04-13 15:53] BLFiedler commented on #7
@zepumph This issue has gone on a bit of a tangent. I've opened up a new issue (#14) to discuss the tolerance issue.

I've identified the following unanswered/unimplemented questions from earlier:

Your questions:

and

Are any of these worthy of new issues @zepumph?

Or @emily-phet or @DorAbrahamson do you have any thoughts?

re: cue arrows - Perhaps similar to other free moving sims like the 4 d

[2020-04-13 16:57] BLFiedler opened #15 "Does the sim/tool treat a:b as equal to b:a as “success”?"
From the design doc:

Does the tool treat a:b as equal to b:a as “success”? (need to consider pedagogical needs, pair interactions, and description/sound cueing needs)

**(4/10/2020) Currently A:B and B:A give success.**

Quote from Dor on Github Issue #7 :

*Tradeoff 2: Arguably, there is some conceptual gain in noticing both a:b and b:a, because then you are likely to ask yourself “In what sense

[2020-04-13 18:07] BLFiedler commented on #15
Dor (from Design Doc)

[2020-04-13 20:15] BLFiedler commented on #8
Mechamarker implementation & Instructions: https://docs.google.com/document/d/1s72BACDjC7O5cEuZOA1QiJFH7_t7CMXjHt7x2yMAyHo/edit?usp=sharing

[2020-04-13 20:56] amanda-phet commented on #15
I 100% agree here and would vote for the sim to only treat a:b=a:b as a success.

[2020-04-14 14:20] emily-phet commented on #15
@zepumph Please go back to having a:b not equal to b:a, on all screens. Apologies for assuming it should be the other way!

[2020-04-14 14:22] emily-phet commented on #15
@Matthew-Moore240 Please note this change, this is not as I described it to you last week. Once @zepumph makes this change, the sim will work like this - for the ratio 1:2, the right side will have to be twice as high as the left side to get "success" feedback. If the left side is twice as high as the right, no success. So a:b ratio will not equal b:a ratio in the sim.

[2020-04-14 14:23] emily-phet opened #16 "Scaffolding Screens"
Dor (from Design Doc)

_Originally posted by @BLFiedler in https://github.com/phetsims/proportion/issues/15#issuecomment-613019563_

[2020-04-14 14:43] emily-phet commented on #16
@Dor we should discuss the interaction flow for the sim again. It matters a lot whether for the typical sequence of learner interaction whether things are in the first screen, second screen, or consolidated into one screen. Let's set up a time for a quick phone call on this.

[2020-04-14 15:58] BLFiedler opened #17 "Shape, Size, and Behavior of Freely Moving Cursors"
_Originally posted by @BLFiedler in https://github.com/phetsims/proportion/issues/7#issuecomment-610432553_

There has been some discussion on the shape and size of the cursor/crosshair already by @emily-phet and @ Dor.

Adding one idea to the conversation that I think retains some of the "fun" while remaining abstract. Should not be reminiscent of anything gun-like. Not required, but I wondered a

[2020-04-14 16:03] BLFiedler commented on #17
Dor, from #7

[2020-04-14 16:32] zepumph commented on #13
@jbphet and I turned on build in UI sounds yesterday. We can add the pickup/drop sound next.

[2020-04-14 17:58] jbphet commented on #13
@zepumph and I worked on this together today and the sounds are now all in place with the exception of the grab/release sounds for the second screen, which @zepumph said he'll take care of.  Unassigning.

[2020-04-14 18:03] zepumph commented on #13
We will next add this to the bar screen too.

[2020-04-14 18:47] BLFiedler commented on #17
Emily drew up a few designs and I was inspired to make a few based on some blobbier designs & some mixtures, as well as a few asymmetric and totally different ideas.

![image](https://user-images.githubusercontent.com/47331395/79262028-e3580700-7e4d-11ea-881d-d38ce3d7f3f6.png)

@emily-phet 's picture:
![image](https://user-images.githubusercontent.com/47331395/79262085-f9fe5e00-7e4d-11ea-8f84-f723

[2020-04-14 18:50] zepumph opened #18 "Cue arrows for freely moving cues?"
From https://github.com/phetsims/proportion/issues/7#issuecomment-612959273. @BLFiedler mentioned perhaps using Faradays Law style arrows:

![image](https://user-images.githubusercontent.com/6856943/79262372-ab48c800-7e3d-11ea-84fa-ee2b517abe63.png)

[2020-04-14 18:51] zepumph opened #19 "Add a cue for the "bottom" of the Proportion"
From https://github.com/phetsims/proportion/issues/7#issuecomment-612959273, should we annotate the bottom somehow on the free-objects screen?

[2020-04-14 18:52] zepumph commented on #17
- [  ] In addition to shape, it may be nice to think about extending pointer areas so that there is a way to have your finger to the side of the middle.

[2020-04-14 18:57] zepumph commented on #7
moved to https://github.com/phetsims/proportion/issues/18

I moved most questions to separate issues. @BLFiedler anything else for this issue?

[2020-04-14 18:58] zepumph commented on #17
- [ ] Also do we want the behavior to be such that the shape changes when the proportion is in a perfect/correct state?

[2020-04-14 19:08] Ashton-Morris commented on #9
I have a single click and a loop of them below for implementation.

In my DAW I have the clicks set to randomize between 0 and +16 semitones. The Randomizer's rate (like the rate of an LFO) is set to 30HZ. Then its set to 100% out of proportion = 100% of that randomizer effecting the clicks, and In proportion = 0% that randomizer effecting those clicks.

[proportion-random-clicks-loop.mp3](https:/

[2020-04-14 19:10] BLFiedler commented on #7
I think we're good! Closing now as we move to specific discussions about Screen 1.

[2020-04-14 19:10] #7 closed

[2020-04-14 19:58] zepumph commented on #13
KeyboardDragListener fires start/end for each arrow key interaction. This made grab/release sounds feel really weird, so I moved them instead to be based on focus/blur events. This sounds much nicer. I also added these to the bar screen. This issue is ready for review.

[2020-04-14 20:05] zepumph commented on #9
I, with tons of great help from @jbphet, added modes for the vibrato and random clicks sounds. The random clicks is on by default. The vibrato is currently just two sine waves at 220hz where one can be moved up to 230hz depending proportion fitness.

[2020-04-14 20:21] zepumph commented on #13
From design meeting, let's take out the pickup and drop sounds from the bar screen.

[2020-04-14 21:35] zepumph commented on #15
Sounds good! Implemented above. @Matthew-Moore240 feel free to close once you have read https://github.com/phetsims/proportion/issues/15#issuecomment-613472839

[2020-04-14 21:53] #13 closed

[2020-04-14 23:35] zepumph commented on #9
After the above commits, we successfully have mechamarkers input working with the two sounds discussed during today's meeting.

Summary of what is currently in the sim:
* A prototype of Vibrato
* A prototype of Random Clicks
* A prototype that just changes pitch based on the fitness
* Sound working for keyboard/drag/marker inputs

Next I will try to add C_Major sine as the final step for the day.

[2020-04-14 23:46] zepumph opened #20 "factor out common ScreenView"

[2020-04-15 00:04] #20 closed

[2020-04-15 00:13] zepumph commented on #9
Above I added the CMajor sine wave generator. It sounds really fun. I'm excited to be working on the sound design for this sim. I got perhaps a bit carried away and added a high C (C4) only when the proportion was perfect. This made for a direct cue from sound for when the user got it totally right. I'm not sure that this implementation is the best, but I really like a specific sound for when (and

[2020-04-15 00:14] zepumph commented on #5
Before implementing this. I think I will want to know a bit more about the intended design.

@jessegreenberg also mentioned that we could potentially use `GridNode.js` from ESP to help with this.

Over to you @BLFiedler.

[2020-04-15 00:16] zepumph commented on #8
@BLFiedler initial mechamarkers support is working for both screens, and has also been integrated with sound over in #9. Is there anything else you would like to do in this issue?

[2020-04-15 00:16] #6 closed

[2020-04-15 00:17] zepumph commented on #3
What steps needs to be taken before I do this renaming?

[2020-04-15 00:18] zepumph commented on #11
@Matthew-Moore240 as you are working on descriptions, I wanted to remind/let you know that the most recent dynamic-phrase-building tool is available at https://phetsims.github.io/a11y-research/js/phrase-builder/.

[2020-04-15 00:44] terracoda commented on #11
This is looking awesome @zepumph.

It could be possible to have the choose from the same list of parameters more than once per sentence show. Is it be possible to do a sentence like this?

- I like to eat, eat, eat, apples and {{otherFruit}} and {{otherFruit}}.

Or is better to do this:
- I like to eat, eat, eat, apples and {{otherFruit}} and {{otherFruit01}}.

The reason I was thinking about this

[2020-04-15 00:44] terracoda commented on #11
oops wrong issue!

[2020-04-15 16:49] BLFiedler commented on #5
@zepumph Can you screenshot how the grid (and numbered grid) appear in Dor's Mathematical Imagery Trainer iOS app? This will give me a better idea on how to proceed. Thanks!!

[2020-04-15 16:51] BLFiedler commented on #5
Also, for reference on ESP:
![image](https://user-images.githubusercontent.com/47331395/79364844-1f9b6e00-7f07-11ea-945c-1069500824f6.png)

[2020-04-15 17:05] BLFiedler commented on #8
Let's wait until our tangibles meeting next week. If nothing relevant to the implementation as is comes up, I'll close this one and we can open new issues for specifics. I'll leave it assigned to me for now.

[2020-04-15 19:54] BLFiedler commented on #9
@terracoda noted that the sound plays continuously on keyboard focus of either cursor without directional input.

It's not clear what the preferred feedback should be right now, but something we should decide at some point.

[2020-04-15 20:12] BLFiedler commented on #18
Just a note from the two interviews I did where I included this sim - They were pretty quick to pick up on the fact that those lone two items in the middle of the screen could be moved. Might not need too much cuing.

[2020-04-16 03:40] zepumph commented on #9
Yes that was done purposefully. After I tried it both ways (based on focus/blue and based on keydown/keyup), it felt the committed way was much easier to tell if there was success or not because it was much more continuous.

[2020-04-16 16:31] zepumph commented on #5
Here are the three grid views from the iOS app:
![IMG_0003](https://user-images.githubusercontent.com/6856943/79481982-a9f1d980-7fbc-11ea-8871-8886aa4bdba9.PNG)
![IMG_0004](https://user-images.githubusercontent.com/6856943/79481988-ac543380-7fbc-11ea-85da-30d26d42353a.PNG)
![IMG_0005](https://user-images.githubusercontent.com/6856943/79481996-aeb68d80-7fbc-11ea-8228-9825533f4e54.PNG)

[2020-04-16 18:09] Matthew-Moore240 commented on #15
understood!

[2020-04-16 18:09] #15 closed

[2020-04-16 18:24] BLFiedler commented on #5
@jessegreenberg or @zepumph

For `GridNode.js`,

1.  Is it possible to selectively enable horizontal or vertical gridlines?
2. Would we be able to add scale the numbers dynamically? e.g. a slider that multiplies the numbers on the grid
3. Can we dynamically alter the number of demarcations (major and minor gridlines), sort of like how it changes between Easy and Hard in the screenshots above?

[2020-04-16 18:28] BLFiedler commented on #5
@zepumph Is there any obstacle in how the model determines the proportion to arbitrarily assigning the grid values? Like if we wanted to have it go from 0(bottom)-10(top) or 0-50 is that fine?

[2020-04-16 20:04] zepumph commented on #5
Right now there is no good notion in the model for what the "top" is. I think that this would be valuable to add, and it seems like your example seems like what I should shoot for in the implementation.

[2020-04-17 15:16] BLFiedler commented on #9
A note from an interview using 1.0.0-dev.9:
- With Random Clicks enabled, the user thought they perceived an increase in the speed of the clicks even when they had not met the threshold for the increase in frequency to begin. Looking for signal in the noise type situation.

[2020-04-17 17:54] zepumph opened #21 "Simplify the Mechamarkers implementation"
After discussing with @Petroochio and @clementzheng, I think that MarkerInput.js can be simplified. Main take aways from the discussion for me:

* we don't need to wire everything up that listens to Mechamarkers when we initialize Mechamarkers.
* Each screen should do a better job of only running its code when it is the active screen. Right now using marker input on the first screen will remove th

[2020-04-17 22:54] emily-phet commented on #17
From Clement in design doc

I wonder if having two completely different symbols may be problematic pedagogically. Happy to explore that though, there may be benefits.
Another approach might be to have starting objects with natural handed-ness or chirality. Maybe even something as simple as a small left and right hand.

[2020-04-17 22:58] emily-phet commented on #17
In response to @zepumph [comment](https://github.com/phetsims/proportion/issues/17#issuecomment-613622631): I think changing shape is a good idea to keep in our pocket. I'd like to see how far we can get without that, as i think it might be 1) challenging to design potentially multiple object designs that work well when changing sizes and 2) work well when using a touch screen versus other input.

[2020-04-19 13:10] emily-phet commented on #16
@zepumph

I discussed with Dor - please remove the bars screen altogether.

[2020-04-19 13:23] emily-phet commented on #5
@zepumph
Please implement grid lines with the following features:
- Option for horizontal + vertical grid lines (as in ESP), *and* horizontal only. Note: the horizontal only variant may require a single vertical line for the numbers when in "numbered grid" mode (e.g., when "numbered grid" is selected, a single horizontal line + numbers appears). Ideally, (I think), the default is horizontal only,

[2020-04-19 13:36] emily-phet commented on #18
@zepumph - Please add up/down only cueing arrows, that appear on first focus / hover, and do not appear again after that (unless reset all is pressed).

@BLFiedler - From past experience with a few other sims, what can happen without initial visual cueing of motion on non-standard interactive objects (things that are not buttons, sliders, etc.) is that some learners will interact with all/some of

[2020-04-19 13:51] emily-phet opened #22 "Artwork needed - Hands and gifts"
@amanda-phet @arouinfar
We need some simple (I think) artwork for this sim. Would either of you have some time to create these this week? My hope is that it's pretty quick.

1. (Most important) A left and right hand, iconic, in the "stop" position. Something similar to [this](https://images.app.goo.gl/LyWPpTQQcgEEUrPJA). We're considering using these as the default objects for the freely moving ob

[2020-04-19 14:13] emily-phet opened #23 "Boundaries and constraints for free moving objects"
@zepumph
For the following, please refer to this figure:

![Slide1](https://user-images.githubusercontent.com/5109055/79689848-40680a00-820c-11ea-9281-3b32a22740aa.jpeg)

- Please add a *short thick black line* at the top and bottom of the screen, aligned with the starting locations for *each* of the free moving objects. The result would be two black lines on the top of the sim screen, and two bla

[2020-04-19 14:13] emily-phet commented on #19
Expanding on this in https://github.com/phetsims/proportion/issues/23.

Closing this issue.

[2020-04-19 14:13] #19 closed

[2020-04-19 14:19] emily-phet commented on #17
I'd like to try using two "hands" for the default style of the free moving objects. We would also probably want to provide another design option (like those explored above). See #22 for info on the hand design and progress.

Let's try out the hands alone, as we're working out the basic design, and revisit other options if/when there are issues with the hand representation, or when we're ready to a

[2020-04-19 14:29] emily-phet commented on #9
@BLFiedler Glad to hear the sound cueing seems helpful for finding the target ratio!
Please create a spreadsheet where you can summarize your findings for each interview, regarding specific categories - visual display, auditory display, interaction pathway, etc. You'll also want some fields for sim version, device, and some basic demographics. Let's add on to this as we do more interviews. You mig

[2020-04-19 14:31] emily-phet commented on #9
@jbphet @Ashton-Morris
Just a heads up, we'll be collecting more feedback re sound from the design team this week. So for this week sound is otherwise on hold, unless there are some specific topics you'd like to bring up when we meet on Tuesday.

[2020-04-19 14:44] emily-phet commented on #3
I discussed this briefly with Dor on April 3rd, and he indicated "Ratio and Proportion" is reasonable to him.

Let's change the sim name to "Ratio and Proportion". Code name RaP. :)

[2020-04-20 13:40] emily-phet commented on #9
A few thoughts on the random click sound - after playing with the sim + mechamarkers for a bit, I think the random click sound is the least helpful, and most challenging to listen to after awhile. I think tuning more when the change in rate happens will help. Thought not sure if it will help enough to put this sound as the frontrunner. Implementation of the grid representation could help with the

[2020-04-20 15:06] BLFiedler commented on #17
Not to muddy up the issue where this art is being requested, I'll just offer up some "chiral" hand options that have a "physical" feel much like we'd be doing in the tangible interface - grabbing, pinching, etc that create a natural opening to see the grid underneath:

![image](https://user-images.githubusercontent.com/47331395/79766961-eb98c200-82e5-11ea-9555-a007c09f8d64.png)

![image](https://u

[2020-04-20 16:10] arouinfar commented on #22
@emily-phet font-awesome has a hand icon (U+f256) that the developer can add to the sim without needing artwork assets.
<img src="https://user-images.githubusercontent.com/8419308/79772990-0cfdac00-82ee-11ea-82a2-d640d5ebe5df.png" width=200>

Your example had a filled hand, so I modified the font-awesome icon and have included the asset files here: [hand.zip](https://github.com/phetsims/proportion

[2020-04-20 17:06] zepumph opened #24 "Rename DraggableMarker.js"
"Marker" is a term that is becoming intimately linked with mechamarkers. Thus "marker" refers solely to a physical paper fiducial marker. It would be nice to not confuse terminology by having this type also names as such (when it has nothing to do with mechamarkers input).

[2020-04-20 17:24] emily-phet commented on #9
More thoughts - we should probably start a sound design doc to put these.
- I have liked the vibrato sound the most while playing with Mechamarkers. The current sound is good at indicating nearish-vs-not, but once you hone in on "keeping the screen green" while moving the markers up and down, the sounds don't help much. We need the sound to indicate 1) clearly when exactly at ratio, and to 2) chan

[2020-04-20 17:26] emily-phet commented on #22
@arouinfar Thanks very much! This is great.

Regarding the gifts artwork - @zepumph do you know how/where to find the artwork for one of the gift boxes in Balancing Act? If so, we could use that as a placeholder for now.

[2020-04-20 17:32] emily-phet opened #25 "How to support selection of new ratios?"
Current design has radio buttons for different Mystery ratios. I'm concerned this may be too inviting, and encourage learners to explore these options too early in interaction.

Idea 1 - **dropdown menu of ratio options** and also calling them "Challenges" to help cue that some may be more difficult than others, and implicitly indicate the default ratio may be the best one to stick with at first.

[2020-04-20 19:45] zepumph commented on #16
I removed it above. As for the code, I kept the super types split out into common. @emily-phet can you comment on the chances of us adding another screen at some point in the future?

[2020-04-20 20:22] amanda-phet commented on #22
Getting those cute little gift boxes is a great task for Cheryl! She would be great at that sort of thing. Let me know if you want me to create an artwork task for her.

[2020-04-20 20:38] zepumph commented on #23
Implemented above. I moved the layout of the control elements to try to maximize the width of the draggable pieces of the proportion. Here is a screenshot! Let me know what you think.

![image](https://user-images.githubusercontent.com/6856943/79797524-dd599e80-8303-11ea-910e-994c261c772b.png)

[2020-04-20 20:43] zepumph commented on #5
Changes to the view over in #23 have made it such that now model values go from 0 (when ratio pointer is at the bottom) to 1 (when the pointer is at the top. I think this will help the implementation of the grid here. I'll take a look.

[2020-04-20 21:17] zepumph commented on #22
Yes, they have `ai` files titled "mystery-object-. . ." in https://github.com/phetsims/balancing-act/tree/master/assets. Is that helpful? We can reuse those exact ones if you would prefer. I'll let you take it from here.

[2020-04-20 23:23] zepumph commented on #5
A first pass has been committed. This was only possible as of today because of @jessegreenberg's really great work over in https://github.com/phetsims/scenery-phet/issues/580.

I implemented horizontal lines, optional vertical lines, and a way to change the base unit.

I haven't yet gotten to adding numbers on the grid, in part because I wonder if that support will be added to the common code Node

[2020-04-21 00:39] zepumph commented on #3
Take a look at the URL! How fun.

The sim has been renamed, and is running locally and on phettest. I commented on slack and told all to rename. I'll publish a dev version next to make sure everything is working.

[2020-04-21 00:55] zepumph commented on #3
I'm glad I ended up doing the test, because I found https://github.com/phetsims/chipper/issues/938 in the process. Here is the latest dev version:

 https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.12/phet/ratio-and-proportion_en_phet.html

Closing

[2020-04-21 00:55] #3 closed

[2020-04-21 01:14] zepumph commented on #21
We no longer have more than one screen, so it is hard to test, but now that everything runs on step instead of our own timer, this should be fixed. I'm happy with how `MarkerInput.js` is being constructed now. Closing

[2020-04-21 01:14] #21 closed

[2020-04-21 01:23] #24 closed

[2020-04-21 01:39] zepumph commented on #18
@emily-phet I implemented a first pass at cue arrows, though I'm quite sure I didn't implement them exactly as you described above.

I made them just like the behavior of the cue arrows in friction and faradays-law. Would you please describe specifics if you want them to instead be shown on hover/highlight. My main question there was if only a single set of cue arrows highlights at a time, or if b

[2020-04-21 01:42] zepumph commented on #14
You summed things up very well! I will add that since last speaking, I have updated the model to be a bit more clear in these terms. Now 0 is the bottom, and 1 is the top. Thus .05 (the tolerance) is actually 1/20 of the height. This change occurred just today as part of #23. Hopefully that can yield a more quantitatively designed tolerance, and it should also make it easier if you want it to be a

[2020-04-21 13:30] emily-phet commented on #23
@zepumph Please half the size of each black bar and the corresponding y-axis movement.

[2020-04-21 13:32] emily-phet commented on #22
@amanda-phet Yes please, if you could create a task for the gift boxes, that would be awesome.

@zepumph can you add the filled hand as the default for the cursors, leaving circles and crosses as options as well?

[2020-04-21 13:35] emily-phet commented on #18
@zepumph I don't see this in the sim yet (using latest on phettest). Please have up/down arrows only, appearing on initial hover/focus. Arrows appear for both cursors whenever shown, and once one is interacted with both disappear.

[2020-04-21 13:38] emily-phet commented on #16
@zepumph I'd say it's too soon to tell about a second screen. Give us a few more weeks, and I think it will be more clear.

There's always the possibility that other math PhET folks may want to extend the sim, though...so there may be at least a small chance of extending the sim for quite awhile. Might be best to plan for the possibility existing for the long term, though again, my aim would be to

[2020-04-21 13:44] emily-phet commented on #5
@zepumph

I'll chat with Dor re location of numbers. For now, let's start with the numbers on the far left of the grid.
Let's have the grid lines stop at the outside edges of the black bars. (they can extend slightly further to the left if that makes sense to accommodate the numbers when "numbered grid" is selected).

[2020-04-21 13:57] emily-phet commented on #9
@zepumph Can you make "Vibrato" be the default sound (leaving all current options)?

[2020-04-21 16:21] BLFiedler commented on #8
I think the spirit of this issue has been accomplished. Let's generate new issues for anything that comes up for the mechamarkers.

[2020-04-21 17:19] zepumph commented on #23
Each "ratio half" used to be 4/9's width of the sim. I made if 1/4 width. I think it looked better, and was easier to manage layout in quarters. How does that look?

![Uploading image.png…]()

[2020-04-21 17:28] BLFiedler commented on #5
It would be great to have a "None" option as well! I think the default should still be without any grid, but correct me otherwise @emily-phet.

[2020-04-21 17:42] zepumph commented on #22
Here is a first pass at adding the filled in hand. Just like the circle, there isnt' a great notion of where the actual value is. I thought about adding a small circle point on top of the hand, but decided to discuss it first. I'll leave it up to designers to decide how to proceed.

![image](https://user-images.githubusercontent.com/6856943/79896130-69c39a00-83b4-11ea-9c17-deb2e1b473f5.png)

[2020-04-21 17:44] zepumph commented on #9
Done above.

[2020-04-21 18:01] zepumph commented on #18
This is what I see on phettest this morning (after some work in other issues):

![image](https://user-images.githubusercontent.com/6856943/79898022-04bd7380-83b7-11ea-9054-9828a8e049d2.png)

[2020-04-21 19:25] zepumph commented on #16
Sounds very reasonable. I have the following two conflicting thoughts.

1. Desire to not spend time pre-maturely optimizing when we may be changing designs drastically.
2. Recognizing that most of the time it is much easier and less costly to improve code as we go rather than to go back later and refactor.

Given the fact that things are so up in the air. I think that prioritizing (2) makes sense

[2020-04-21 20:01] zepumph commented on #16
I'm happy with the commits above. I added a few TODOs that I didn't want to dive into just yet (in part recognizing (1) above). There is now only one screen and no factored out common model/view stuff. Closing

[2020-04-21 20:01] #16 closed

[2020-04-21 21:05] jessegreenberg commented on #5
To follow up on this, I decided that it still seems best to add labels with decoration. See https://github.com/phetsims/scenery-phet/issues/580#issuecomment-617373635.

[2020-04-21 21:34] zepumph commented on #5
Great to hear! Thanks.

[2020-04-21 21:58] emily-phet commented on #5
@zepumph
I agree with @BLFiedler regarding adding a "none" option for the grid, and having the default be  "none".

[2020-04-22 16:30] Ashton-Morris commented on #9
I came up with more examples of how it could sound when you are in proportion but you are also staying in proportion and moving up and down. @emily-phet please assign people as necessary.

- [Proportion_Applause.mp4](https://drive.google.com/open?id=1KdcGTqZImXd5dstDTOrAWYymfNTyrlGq)
- [Proportion_FM_Synthesis.mp4](https://drive.google.com/open?id=1XmCDzPactzgSyZUhcOnugeq-rMZ52zFo)
- [Proportion_M

[2020-04-22 17:28] zepumph opened #26 "Updates to mechamarkers implementation"
From a meeting today with @BLFiedler,  @Petroochio and @clementzheng, there are some tweaks we want to do to solve problems.

**Problem one:** @emily-phet and @BLFiedler have both tried to set up their mechamarkers with their laptop facing the person, and angled down onto a table top. In this set up, the camera is up-side-down to how it was originally intended to be implemented. Thus the y distanc

[2020-04-22 18:04] zepumph commented on #26
Ok all three have been accomplished above.

@clementzheng, you can use your prototype with a query parameter like so https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.13/phet/ratio-and-proportion_en_phet.html?useClementPrototype1. Please take a look at https://github.com/phetsims/ratio-and-proportion/blob/master/js/common/RatioAndProportionQueryParameters.js to see how you can alte

[2020-04-22 18:26] zepumph commented on #18
I added support for cue arrows showing only on focus or hover before first interaction. Please review.

[2020-04-22 18:27] zepumph commented on #22
In a meeting today it was mentioned that the left hand should be flipped to look like a left hand. I'll do that now.

[2020-04-22 18:41] zepumph commented on #22
Implemented above.

[2020-04-22 18:42] BLFiedler opened #27 "project test"
boop

[2020-04-22 18:42] #27 closed

[2020-04-22 19:00] zepumph opened #28 "Performance implications of user testing with mechamarkers"
@BLFiedler brought up today that mechamarkers was taking 40% of his CPU. This felt like much more than is needed. @Petroochio and @clementzheng do you have any idea why this may be happening? Is it possible to turn off specific modules of that to improve performance.

This is worrisome given the whole user stack on potentially not-so-great computers.
* The sim in a browser
* Zoom
* Any assistive t

[2020-04-22 19:10] zepumph opened #29 "Design keyboard interaction for ratio"
From tangible research meeting today, we should add some more design time to this interaction.

Instead of having focus only on one of the ratio halves at a time, it would be good to be able to adjust both at the same time. This is pedagogically vital, just like in tangible-land.

Main considerations to me:
* Ability to control both at the same time.
* Likely we only need control in one dimension

[2020-04-22 19:25] BLFiedler commented on #28
![image](https://user-images.githubusercontent.com/47331395/80024549-77ece580-849c-11ea-8b27-e1428ea5db1a.png)

![image](https://user-images.githubusercontent.com/47331395/80024686-b1255580-849c-11ea-8662-0b03bad11614.png)

References, if at all useful.

[2020-04-22 19:31] BLFiedler commented on #28
Zoom, shared screen of sim with mechamarkers app and Toggle Video On, just to show a typical use scenario

![image](https://user-images.githubusercontent.com/47331395/80025171-707a0c00-849d-11ea-835c-a1940d9f44ae.png)

[2020-04-22 19:51] BLFiedler commented on #29
@emily-phet This issue came out of discussion about the nature of the focus-based input interaction with the simulation. Since we are early in development, I thought it would be a good time to have this discussion and a great time to potentially rethink focus-based interaction as it pertains to the pedagogical goals of the simulation. Or rule it out completely. I recall you mentioning that in some

[2020-04-22 20:03] zepumph commented on #5
"none" option added above. Units coming next.

[2020-04-22 20:17] zepumph commented on #28
I want to add that my mechamarkers runs around 20% CPU and doesn't drop noticeably when turning off my video.

[2020-04-23 01:13] zepumph commented on #5
I didn't quite get to units today. Here is an in-progress  patch

<details>

[code]
</details>

[2020-04-24 14:16] emily-phet commented on #23
@zepumph Can you increase the horizontal distance (maybe doubling) the white space between each "ratio half"?

Also, you probably are aware, but the version from phettest today has the region within which I can move each hand out of alignment with the drawn grid lines. Movement space seems offset to the left of the drawn grid lines.

[2020-04-24 18:28] BLFiedler opened #30 "Sim resizing for mobile aspect ratios"
Currently, the sim takes up a small portion of the screen when used on a mobile device or tablet:
![image](https://user-images.githubusercontent.com/47331395/80244748-bca48800-8626-11ea-8fa1-1726382bcc25.png)

Can we have the sim resize to take advantage of the increased vertical space in Portrait mode on tablets and mobile devices?

**We might consider rearranging the location of the options to m

[2020-04-24 18:38] BLFiedler commented on #30
Bad mockup, but the general idea :)
![image](https://user-images.githubusercontent.com/47331395/80245746-7ea86380-8628-11ea-8ad6-c18afa7b9bf0.png)

[2020-04-24 18:48] BLFiedler commented on #30
@emily-phet I thought this would be a nice feature earlier on (as I imagine it's a normal sim design step eventually) to enhance user testing with tablets/mobile devices. Portrait aspect ratios will give a bit more playspace. I'll leave it to you to assign anyone if you want to make this happen.

[2020-04-26 14:08] emily-phet commented on #18
@zepumph Please make each arrow 30% shorter, the color 20% more transparent, and remove the black outline.

[2020-04-26 14:11] emily-phet commented on #14
Great! With the grid in place now, we'll be able to get more specific feedback on the tolerance across devices and settings. Let's see what comes from the team this week.

[2020-04-26 14:20] emily-phet commented on #22
@zepumph This looks great!

[2020-04-26 14:20] #22 closed

[2020-04-26 14:32] emily-phet commented on #30
@BLFiedler There's no later design step to consider tablets/mobile devices. Until the launch of the mobile apps (very recently), we discouraged teachers/learners from using the sims on small mobile devices (smaller than tablets). I think early on in the HTML5 transition we did not even allow the sims to be open (threw a notification to use a tablet or desktop) when we could detect attempt to open

[2020-04-26 14:36] emily-phet commented on #30
Messaged Ariel on Slack re portrait mode, I'll update once he responds.

[2020-04-26 15:09] emily-phet commented on #9
@Ashton-Morris These are wonderful! I love these staged approaches you're taking.

I think a different combination of the staged approaches this set of demos may be worthwhile. I believe we want learners to experience this sequence:
1) something going "out of phase" then "into phase" [corresponding with the sim starting at ratio (good), then going out of ratio as the learner first moves the object

[2020-04-26 15:16] emily-phet commented on #9
@BLFiedler please add any thoughts you have as well.

[2020-04-27 13:26] emily-phet opened #31 "Investigating scaffolding issues - Remote Interviews"
I'd like to see how far along we are - with the support of only a few prompts (i.e., Can you find multiple places where the screen turns green? and Can you keep the screen green?) - in supporting learners to do the following:
- move both on-screen hands
- find a green screen
- find multiple green screens
- recognize that they can "find green" continuously from low on the screen to high on the scre

[2020-04-27 13:39] emily-phet opened #32 "Allowing user-defined custom ratios"
@zepumph I'd like to add an options dialog to the PhET menu, that allows the user to input their own ratios.

We don't need this now, but wanted to give you a heads up that this is a desired feature. Please let me know any questions or concerns about this.

[2020-04-27 13:49] emily-phet commented on #29
@zepumph @BLFiedler Thanks for bringing this up! Let's hold off on this for this week (and probably next). This will allow us to focus attention on bigger picture scaffolding issues, and then once we see what (if any) design changes we need to make to support a good sequence of interactions with the sim we'll be in a better position (I think) to consider keyboard access. We'll want to loop Taliesi

[2020-04-27 15:05] KatieWoe opened #33 "CT At least one line should be specified"
[code]

[2020-04-27 15:37] jessegreenberg commented on #33
This was my fault, fixed in https://github.com/phetsims/ratio-and-proportion/commit/7d1cd1c142e6738efb06488f5d682228c623dce2

[2020-04-27 15:37] #33 closed

[2020-04-27 19:46] zepumph commented on #5
Grid Units added above. They are controlled with (another) set of radio buttons. I've just been throwing all the UI control on the right side in no particular order. Please let me know if you would like tweaking on that, or if you want another issue to actually design and implement a control panel.

[2020-04-27 19:58] emily-phet commented on #30
Question / Response from Slack:

From Emily
Hey @ariel Question regarding landscape vs portrait layout for sims. If we wanted to have a sim default to portrait rather than landscape, how would we do this? Are the sims fixed to landscape in all settings, is this done globally or sim-by-sim, how would a portrait-oriented sim impact the apps, etc? Not sure if the current "default to landscape" is fix

[2020-04-27 20:05] emily-phet commented on #30
@zepumph
I think the idea behind this issue is that, given the vertical emphasis in this sim, it would be ideal to have the sim at least (a) support a good layout experience in portrait mode when accessed on mobile phones or tablets, or potentially (b) fix a portrait mode orientation when accessed on phone or tablet devices.

Can you weigh in with any thoughts on how we might support the sim in at

[2020-04-27 20:19] BLFiedler commented on #9
**Stage 2 (in prop):** My general impression is that the movement toward a neutral, single tone (from something else) is very successful in generating that feeling of "I found it!". This sound can possibly be more pleasant to listen to for a long period of time, but I don't think it HAS to be. What we need it to be is pleasant enough, but not as nice and rewarding as the next tone. This leads me t

[2020-04-27 22:42] Matthew-Moore240 opened #34 "State descriptions ready for implementation"
Most of the Static & Dynamic State Descriptions are ready to go for H1 in the [design doc](https://docs.google.com/document/d/1HJvvGWYaUv9tlat9S7omQQVng8fGB4FuUhTEM1qx1z8/edit#heading=h.jtxmm44qd6hc). Every thing in red is ready to go.

**Ready for implementation**

- [x] Static Screen Summary
- [x] Dynamic state-of-sim qualitative
- [x] Dynamic state-of-sim quantitative
- [x] Static sim-specific

[2020-04-27 22:49] Matthew-Moore240 opened #35 "Responsive descriptions ready for implementation"
Responsive descriptions are also ready implementation, they are near the bottom of the [design doc](https://docs.google.com/document/d/1HJvvGWYaUv9tlat9S7omQQVng8fGB4FuUhTEM1qx1z8/edit#heading=h.m96bq8cv9p9v) everything in red is ready to go and I tried to make the examples for both qualitative and quantitative as easy as possible. Feel free to slack me any questions or confusing things.

**Ready

[2020-04-28 14:03] Ashton-Morris commented on #9
@zepumph I have some files for you [which are all stored here](https://drive.google.com/open?id=10-kHZgFSu0HEMUfNk0zEn0cvPRK8gFXg). Some of these are .wav so we can have better loops during the prototype phase.

I added a staccato sine but realistically that's something we'd need to do in web audio programmatically.

applause-loop.wav
staccato-sine.mp3
strings-loop-c5.wav
cello-loop-c4.wav
synth-s

[2020-04-28 15:09] BLFiedler commented on #5
Copying this from Dor's email:

the cursors’ heights appear to reference the black platforms below them. And yet, when we play with the grid, some grid lines may be drawn lower than the platforms. Is that ok? For example, at 1:2, when we change to 4a:4b, we see a horizontal line go lower than the datum line.

And just a note: It appears the hands are not bound by the area indicated by the black ba

[2020-04-28 17:51] BLFiedler commented on #31
@zepumph  Emily & I talked about the simplified version for user testing

- Display only 3 options for the grid and only use the horizontal grid:
1. None
2. Grid
3. Numbered Grid

Something like this:
![image](https://user-images.githubusercontent.com/47331395/80520418-a3f9e200-8946-11ea-8d6a-78b25e2ff471.png)

[2020-04-28 18:07] zepumph commented on #23
horizontal distance increased above. I also fixed the dragging/alignment bug. There is still a tiny bit of movement, especially when using other pointers. I'll take a look soon.

[2020-04-28 20:42] jbphet commented on #9
I listened to the video demos after today's sound design meeting and agree with what was essentially decided in the meeting, which is that we should prototype the "Proportion_Strings" version and try adjusting some of the tolerance parameters to see if we can get it to work in a way that is viable.

[2020-04-28 22:02] zepumph commented on #25
I added a combo box above. With a colored rectangle next to the text. For now @emily-phet and I discussed that as a placeholder, maybe in the future we will have gift boxes in there. Please review.

[2020-04-28 22:03] zepumph commented on #31
After discussing with @emily-phet, we will move everything else to the options dialog. This way it will be less confusing as to the difference between "design option" controls vs actual UI for the sim.

[2020-04-28 22:20] zepumph commented on #17
Note that as part of https://github.com/phetsims/ratio-and-proportion/issues/31, cursor options have been moved to the options dialog.

[2020-04-28 22:28] zepumph opened #36 "Implement UI for grid "base unit""
Expanding from https://github.com/phetsims/ratio-and-proportion/issues/5, we should determine how to adjust the base unit for the grid. In Dor's app, there were arrows on the side of the ratio that could adjust that.

As part of https://github.com/phetsims/ratio-and-proportion/issues/31, we moved radio buttons to control this from the UI to the options dialog.

Over to designers.

[2020-04-28 23:01] zepumph commented on #31
Alright, all UI not specified above has been moved into the options dialog. I refactored a lot of the underlying Properties that control this into something called "designingProperties" with the thought that they are more temporary, and are just being used to inform the design process.

Let me know if you want any more tweaks for the sim before interviews.

I will note that the only feature that h

[2020-04-28 23:17] zepumph commented on #31
Here is a dev version https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.14/phet/ratio-and-proportion_en_phet.html

One other thought, "Grid" is a bit of a misnomer, since it is just horizontal lines.

There are a lot of thoughts above, feel free to split them out into side issues, especially if they are to be done after interviews.

[2020-04-28 23:23] zepumph commented on #18
I did everything above and I like it much more. The only last thought I have is if the tail should be narrower, I could go either way, but didn't alter it when I made the arrow shorter.

[2020-04-29 14:56] BLFiedler commented on #31
@zepumph @emily-phet

I discovered the following while playing around with dev.14, and I think we should sort this out before going to interviews:
![image](https://user-images.githubusercontent.com/47331395/80610660-d95e0880-89f6-11ea-899f-fd189d1b7b11.png)

I tried to put the hands at around 3 & 6, but did not get success feedback for doing so. I moved the right hand around until I found it, whic

[2020-04-29 18:15] zepumph commented on #30
In Projectile Motion, there was a particular layout implemented to try to maximize the space available to launch projectiles. After poking through that layout code, I think it will be quite possible to float the layout to the middle and bottom of the screen, and to extend the ratios to the available top of the screen. This involves changing all the layout code of the sim, so I am very happy to be

[2020-04-29 19:10] zepumph commented on #31
After discussion with @emily-phet and @BLFiedler, we fixed the above label bug, and also toggled visibility of the black rectangles when units are displayed.

Here are the new dev versions:
without sound: https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.15/phet/ratio-and-proportion_en_phet.html?sound=disabled

with sound: https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0

[2020-04-30 19:15] zepumph commented on #30
First pass, very rough:

<details>

[code]
</details>

[2020-05-01 16:28] jbphet commented on #9
I'm going to unassign myself for now, since I don't think there is anything specific that I need to contribute at this point.  @zepumph - I'm happy to help with the implementation if I'm needed, just assign it back to me if so and/or we can set up a time to collaborate on it.

[2020-05-01 17:06] BLFiedler commented on #31
After experimenting with dev.15 on an iPad, it does require Chrome for the audio to work (as a note for future interviews). Safari does not work.

[2020-05-01 19:39] BLFiedler commented on #31
For dev.15, cue arrows not present during touchscreen use (requires hover).  Noticed during interview with user on iPad & Safari.

@emily-phet , do we want to reconsider the "hover" requirement? They will never see the cue arrows if using a touchscreen. I wonder if the presence of cue arrows might help cue the learner to pick up both objects at the same time.

[2020-05-01 20:45] BLFiedler opened #37 "Sound does not work on iPad in Safari"
After experimenting with dev.15 on an iPad, it does require Chrome for the audio to work (as a note for future interviews). Safari does not work.

_Originally posted by @BLFiedler in https://github.com/phetsims/ratio-and-proportion/issues/31#issuecomment-622473585_

[2020-05-01 20:46] BLFiedler commented on #37
@jbphet , @emily-phet said you might be able to look into this or direct @zepumph on how to address it? Something within tambo or WebAudio?

[2020-05-01 23:47] zepumph commented on #30
I made more progress today, finally getting the scaling right for the screen view

<details>

[code]
</details>

[2020-05-03 13:33] emily-phet commented on #25
@zepumph Looks great.

One small thing - Please shift the radio buttons and accordion box lower on the screen. Position them so that when the accordion box opens with a max of 4 challenges, the open accordion box sits just above the reset all button.

[2020-05-03 13:45] emily-phet commented on #23
@zepumph The sim needs the following:

- To have grid lines numbered from 0-10 (currently 0-9)
- To have the zero line start just atop the bottom thick black bars, and to have the "10" line line up with the maximum position of the hand (where the center of the hand at its highest position just "touches" the number 10 line).
- Decrease the thickness (height) of the thick black bars by ~20%
- Have t

[2020-05-03 13:49] emily-phet commented on #18
@zepumph This looks great!

One thing I intended, but hadn't noticed wasn't there until @BLFiedler mentioned it Friday...

The arrows should appear onscreen when the sim opens, and persist until a marker is moved. It should not rely on hover to appear.

Apologies for the confusion, most (all?) PhET arrow cues like this one are indeed based on hover behavior...but I was intending something more lik

[2020-05-03 13:53] emily-phet commented on #5
Please see this [comment](https://github.com/phetsims/ratio-and-proportion/issues/23#issuecomment-623112619) in #23 for list of next steps on grid design.

[2020-05-03 14:40] emily-phet commented on #36
@amanda-phet @ariel-phet @kathy-phet

I would love your input on this! Here's what we're pondering:
1. Open the sim now ([latest dev](https://bayes.colorado.edu/dev/html/ratio-and-proportion/1.0.0-dev.15/phet/ratio-and-proportion_en_phet.html), or phettest, doesn't matter).
2. Select the "Numbered Grid" radio button
3. Open the phet menu
4. Select "Options...". There is an option to change the "Gr

[2020-05-03 14:45] emily-phet commented on #37
@jbphet
Can you look into this this week? We're doing interviews with sound in the near future and it would be ideal to not have to ask those using a touch device to download Chrome.

[2020-05-03 14:47] emily-phet commented on #37
@zepumph Not sure if this is something sim-specific or something that will need to be addressed in Tambo...but thought @jbphet might be able to get to the root of the issue quickly.

[2020-05-03 14:52] emily-phet commented on #31
Indicated in separate issue to do related to marker cueing arrows.

Sim version and dev link needed for this round of interviews was created and used. Closing issue.

[2020-05-03 14:52] #31 closed

[2020-05-03 15:03] emily-phet commented on #30
@zepumph Not sure where you need this on list of priorities. Looks like your midway through this...not sure if it's a "chip away" kind of thing, or something that you should just dive into now and get done as it reads like this is better sorted out sooner rather than later.

I'll trust your judgement here...if it needs to be your top priority this week, then certainly go for it. :) Let me know if

[2020-05-04 14:32] emily-phet opened #38 "Change 1:8 ratio challenge"
Please change 1:8 ratio challenge to be 3:4. Dor pointed out that 1:8 doesn't allow for many opportunities for observing success feedback for learners, and 3:4 would be better.

Updated from 3:5 to 3:4 - per updated email from Dor. 3:4 is my final answer. :)

[2020-05-04 15:44] jbphet commented on #37
I'll look into it.  I have a reasonably new PhET iPad available so I should be able to do at least some level of debugging from here.

[2020-05-04 18:21] ariel-phet commented on #36
@emily-phet apologies, I don't think I am able to add any valuable insight as it is not clear to me what the learning goals of the sim are and I haven't really had this sim contextualized in a design meeting, so it is difficult for me to make an informed comment/suggestion.

I will leave it to @amanda-phet or @kathy-phet or will wait until it comes around in design meeting.

[2020-05-04 18:36] zepumph commented on #30
Sounds good! It is taking longer than I wish it would, but as stated above, I think it is important to get sorted out earlier rather than later.

This patch relies on scaling the screen view to support multiple layouts, next I think I would like to investigate an approach that redraws according to only two layout dimensions: Tall or wide.

<details>

[code]
</details>

[2020-05-04 19:43] amanda-phet commented on #36
The closest thing I can think of is the combobox we use to select different scales on a number line. See [Number Line: Integers](https://phet.colorado.edu/sims/html/number-line-integers/latest/number-line-integers_en.html), Generic Screen.
![image](https://user-images.githubusercontent.com/7852916/81006604-06525700-8e0d-11ea-948a-16273f22da9a.png)

An up or down arrow makes me think of scrolling,

[2020-05-04 20:43] BLFiedler opened #39 "Selection highlighting on long-press on iPad"
I've noticed a selection box that appears when you long press on the cursors (hands) in RaP 1.0.0-dev.15 in my own testing on an iPad as well as in user interviews. This happens in Chrome and Safari. Does not happen on Microsoft Surface 10 on Chrome (though long pressing without moving the cursor enables the right-click context menu).

Pictured below:

![image](https://user-images.githubuserconten

[2020-05-04 20:50] jbphet commented on #37
Hmmm.  Sound for the [dev.5 version](https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.15/phet/ratio-and-proportion_en_phet.html) works fine for me in mobile Safari on the PhET device named "Pauling", which is an iPad Air 2 (A1566) running iOS 13.4.  Master also works fine on this device.

@BLFiedler - can you record in this issue the device(s) where you saw the problem, including

[2020-05-04 21:02] BLFiedler commented on #37
I tried it some more on my end.

During my initial testing, I didn't seem to be able to get anything other than the pick-up sound.

Now, the sound proportion sound itself does cut off **sometimes**, **rarely** when I go into the options menu or reset the sim. I'm not sure the exact cause because it appears a bit inconsistent. I've tried changing window focus, resetting sim, refreshing page.

I fee

[2020-05-04 21:04] KatieWoe commented on #37
Did you go to another tab/app/leave the sim? Sometimes that interrupts sound for safari, and it is a known issue.

[2020-05-04 21:07] BLFiedler commented on #37
Ah- okay. Got it. When I open the link from another tab, terrible noises or no noise happen. Changing tabs itself is not the problem. However, the interviewees will be opening from another tab or page most likely, so that is not desired. Can anyone else confirm that happens? Try opening the dev version from your e-mail or this issue on the iPad so that a new tab opens?

[2020-05-04 21:10] KatieWoe commented on #37
I'm getting the terrible noises whenever I refresh or open the tab. Leaving and coming back to safari seems to fix it?

[2020-05-04 21:58] zepumph commented on #30
I was finally able to make progress on this. I basically floundered in many different approaches that were complicated and unfortunate before finding the right path. I realized that I could keep all the same layout scaling behavior, but then extend the ratio to the top of the screen when that dimension is available. Once realizing that direction, it wasn't too complicated to implement (wahoo).

I

[2020-05-04 22:00] zepumph commented on #30
To test, the chrome dev tools have a cool tool for that! https://developers.google.com/web/tools/chrome-devtools/device-mode

[2020-05-04 22:05] zepumph commented on #38
3/4 it is!

[2020-05-04 22:05] #38 closed

[2020-05-04 22:11] zepumph commented on #18
Sounds great! I removed the hover logic, and they now are displayed on startup. Anything else here?

[2020-05-04 23:08] zepumph commented on #23
Please review!

[2020-05-04 23:11] zepumph commented on #25
Done!

[2020-05-04 23:11] #25 closed

[2020-05-04 23:13] zepumph commented on #39
@jessegreenberg is this similar to combo box problems in molarity? Or is it something else?

[2020-05-04 23:39] jessegreenberg commented on #39
Not sure if it is realted to ComboBox, but looks really similar to https://github.com/phetsims/scenery/issues/1006

[2020-05-04 23:54] jessegreenberg commented on #39
I believe it is this canvas element:
![image](https://user-images.githubusercontent.com/6396244/81024182-a2498600-8e40-11ea-85f9-e9df673f2736.png)

Probably in there for mechamarkers would be my guess? Canvas elements usually have a closing tag, but not sure if that is related to this issue. We added `-webkit-user-select: none;` to scenery elements to fix this in https://github.com/phetsims/scener

[2020-05-05 01:06] zepumph commented on #39
That is amazing. Thank you for the linked issue! I committed a fix just like the one used for aria live. @BLFiedler can you confirm fixed in this dev version?

https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.16/phet/ratio-and-proportion_en_phet.html

[2020-05-05 15:21] BLFiedler commented on #39
It shrunk! But I wonder if the problem is more to do with iPad gesture features? If you hold long enough (just a few seconds while not moving the cursor), a zoom feature appears on the cursor area. I made a quick video to show it off.

https://drive.google.com/open?id=1P08rRfCcH7EyKjBQEgM3GvfiHORW7k3X

It happened rather frequently during that last interview clip I sent yesterday if you get a chan

[2020-05-05 15:27] BLFiedler commented on #37
https://drive.google.com/open?id=1ufQ4MfzbcTOlNE0CiqwfJRxoBqMRpZcV

Caught the sound on video. Had just opened the sim from an e-mail to try out resizing. Note this is dev.16. Refreshing fixed it.

[2020-05-05 15:35] BLFiedler commented on #30
![image](https://user-images.githubusercontent.com/47331395/81084602-52f06d80-8eb3-11ea-80bb-4cd40049b99a.png)
![image](https://user-images.githubusercontent.com/47331395/81084848-aa8ed900-8eb3-11ea-9ced-3a3ac5d838e0.png)

(I think the cue arrows being off is from rotating the iPad while trying to take a screenshot, didn't notice until after it was taken)

Image of resizing on iPad in portrait mod

[2020-05-05 16:11] jessegreenberg commented on #39
Hmm, I confirmed it is still happening too. I tried all of these things but they didn't help, though canvas element is smaller again.

[code]

[2020-05-05 16:16] jessegreenberg commented on #39
I noticed that svg elements for text have
[code]
and setting this on the canvas element seems to fix it.

[2020-05-05 17:10] zepumph commented on #39
Thanks so much for diving into this. Do you think we should keep the user-select style too?

[2020-05-05 18:11] zepumph commented on #30
I can't reproduce the cue arrow being off on ipad/safari or windows/chrome.

[2020-05-05 19:33] zepumph commented on #37
Could not reproduce on 7th gen 13.2.3, or after software update to 13.4.1. This was on dev.15.

[2020-05-05 19:40] zepumph commented on #39
After discussing with @jessegreenberg and doing some testing, we decided to keep both. It wasn't clear what was best for all devices. On my iPad I was able to fix the bug with just the "user-select:none"  style, and for @jessegreenberg last night, both seemed to fix it. We will keep both!

@BLFiedler please confirm fixed on phettest.

[2020-05-05 19:49] KatieWoe commented on #37
I had a misunderstanding of the issue. Discussed over zoom with @jbphet just now. I thought the normal warble sound was a bug. Since it is intended, I was unable to reproduce this I believe. I think that, when I left safari briefly and came back, the intended warble sound was gone and only pick up and drop noises happened. Device is 6th gen iPad on iPadOS 13.4.1.

[2020-05-05 19:52] zepumph commented on #39
You can also confirm fixed in https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.17/phet/ratio-and-proportion_en_phet.html

[2020-05-05 19:54] BLFiedler commented on #30
Oh, sorry, I don't think that is something to use your time to address.

However, it is reproducible if you move a hand, change between landscape/portrait, and then hit the reset button.

[2020-05-05 19:58] BLFiedler opened #40 "Cursors slightly off ratio (1.0.0-dev.16)"
Switched to crosshairs for precision, but the ratio seems to be off relative to the grid in this version (1.0.0-dev.16) Image below shows left crosshair right on 4, but right crosshair above 8 to achieve "perfect" ratio.

![image](https://user-images.githubusercontent.com/47331395/81093321-2b9f9d80-8ebf-11ea-8f14-d28236dc9916.png)

[2020-05-05 20:04] BLFiedler commented on #37
So, difficult to reproduce and perhaps tied to bigger issues around focus & tab navigation (and opening/closing).

Unless it is obvious how to proceed to any of the developers, it may be best to put this on hold and it is possible I will need to consider with respect to the interview protocol how to handle this (it may include asking them to refresh before interacting with the simulation).

[2020-05-05 20:31] BLFiedler commented on #37
@jbphet If it isn't obvious what to do here, please close this issue and I'll open another (more specific) issue if it becomes a problem for interviewing.

[2020-05-05 20:32] zepumph commented on #40
Great catch! Sorry about that. Anything else here?

[2020-05-05 20:33] BLFiedler commented on #40
Nope! Thanks!

[2020-05-05 20:33] #40 closed

[2020-05-05 21:19] jbphet commented on #37
@BLFiedler - mostly sounds good, but I would suggest you update the iPad in question to 13.4, since @KatieWoe, @zepumph, and I were all unable to reproduce the problem on that iOS version (from the notes above, it looks like @zepumph skipped 13.3, which is the version on which you're seeing the problem).  If you could do that and then test and see if the issue is gone, I'd feel better about closin

[2020-05-05 21:25] Ashton-Morris commented on #37
I tried to replicate the bug on chrome and safari on iPad and did not hear the noise.

[2020-05-06 15:53] BLFiedler commented on #37
Still happens on 13.4.1. Maybe it's specific to this iPad. The sound dropping out that Katie experienced I have also experienced, but that is hard to reproduce on my side and I am more reliably getting the weird quality to the sounds in the video I showed above when I open the sim from an external link.

[2020-05-06 16:06] BLFiedler commented on #39
You know, it looks fixed to me! Thanks @jessegreenberg & @zepumph!

[2020-05-06 16:06] #39 closed

[2020-05-06 16:45] jbphet opened #41 "Selection box of some kind appears in the upper left corner on iPad"
In the two interviews that I've watched and during my own interaction with the sim on iPad, there is a blue selection box that pops up in the upper left everyone once in a while when the user is interacting.  You can see the user get distracted by it around time index 1:58 in [this video of an interview](https://drive.google.com/file/d/1ZZVVXQOjLlKMd1Y_39ZWNc2CwQokKJ5I/view).  It shows up again ar

[2020-05-06 16:48] jbphet commented on #41
Assigning to @zepumph, since he's the responsible dev.

Also - @KatieWoe - we saw this when you and I were looking at the sound design behavior on this sim yesterday, and you seemed to have some idea of what it was.  I think you may have even had a term for it.  If you have any insights to add, please do.

[2020-05-06 16:51] KatieWoe commented on #41
Found the previous issue of this happening here: https://github.com/phetsims/scenery/issues/1006

[2020-05-06 18:22] BLFiedler commented on #41
This is actually addressed in #39 . I confirmed it was fixed in dev.17, but if you'd like to confirm @jbphet : https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.17/phet/ratio-and-proportion_en_phet.html

[2020-05-06 19:10] zepumph commented on #34
I believe that all state descriptions in the PDOM have been implemented, at least as a first pass. The dynamic description in the screen summary was a nice bite-sized piece to begin creating the describer structure needed for this logic.

@Matthew-Moore240  can you please review this on phettest and let me know what you think?

[2020-05-06 19:16] BLFiedler commented on #5
@jbphet pointed out that the user in the first touchscreen interview with dev.15 kept lifting up his left hand in order to see the number on the grid. Given this, it may be worth reconsidering putting the grid numbers in the middle for continuous reference during bimanual input.

@emily-phet , what do you think?

[2020-05-07 16:17] BLFiedler opened #42 "Subtle visual cue for maintaining proportion using color gradients"
From @jbphet in the design doc:

Opening this up for discussion across the team.

I think design considerations are:
- Does the gradient only appear when both cursors are in motion (or in focus)?
- Intensity of the gradient.
- Directionality of the gradient based on movement.

I think modal considerations are:
- Sonification - @jbphet  mentioned he had an idea for how the sound design would follow

[2020-05-07 16:50] BLFiedler opened #43 "New feature for pointer/focus interaction for continuous ratio exploration"
I was thinking more about the unifocal interaction configuration (pointer, keyboard/switch focus) and how to lift the obstacle of continuous ratio exploration that is possible with bimanual exploration.

I'll preface this by saying I'm not sure this should be on by default, but may be considered a "pointer/single-focus" mode or similar idea that is accessible in the PhET menu (like an enhanced sou

[2020-05-08 13:38] emily-phet commented on #18
@zepumph looks great! Closing.

[2020-05-08 13:38] #18 closed

[2020-05-08 13:44] emily-phet commented on #23
@zepumph

- [ ] The gridlines still appear to be numbered 0-9 to me (on phettest). Please add the "10" on the top line.

- [ ] Also - can you bring back the horizontal-lines-only grid? I just see horizontal+vertical grid on default, and no other grid options in the options menu...

- [ ] Last, there needs to be a line at 0. Please make this line be at the same place that would be the very top of t

[2020-05-08 13:50] emily-phet commented on #36
@ariel-phet @amanda-phet Thanks - I'll ask for design meeting time next week if I can make it (that time slot has lately become the daycare reopening committee meeting time...).

[2020-05-08 14:12] emily-phet commented on #43
@BLFiedler Thanks for this idea!

The central challenge of supporting single focus movement (a binary operation) of the two hands lies in the fact that maintaining ratio during continuous motion requires two actions 1) changing y (height of hands) and changing delta (distance between hands) - it's hard to control both in a single keypress. You're idea is a nice way of collapsing this into a logica

[2020-05-08 15:52] jbphet commented on #41
Sounds good.  I messed around with it on the "Pauling" iPad using the master version and was unable to get the rectangle to appear, so as far as I can tell it is indeed fixed.  Thanks, closing.

[2020-05-08 15:52] #41 closed

[2020-05-08 16:21] jbphet commented on #37
@BLFiedler - I guess I'll go ahead and close this issue since there isn't much I can do.  If it continues to be a problem for you, please reopen or open a new one, and we'll work out a way that I can get the iPad where the issue is occurring and do some testing and debugging on it.

[2020-05-08 16:24] BLFiedler commented on #37
If I can make it to campus at some point I'll try to grab the other ipads that were purchased alongside this one and see if it's reproducible across them. I'll keep the ball in my court for now. Thanks, John!

[2020-05-09 02:35] amanda-phet commented on #36
We could always schedule it for another time! My calendar should show my availability, so if there is a time that overlaps it doesn't need to be on Thursday afternoon.

[2020-05-10 13:24] emily-phet opened #44 "Refining alternative input"
@zepumph @BLFiedler
The use of arrow keys to control the hands needs the following refinements:

- [x] (see https://github.com/phetsims/ratio-and-proportion/issues/47) Movement should map to the grid lines (even when gridlines not shown).
- [x] (see https://github.com/phetsims/ratio-and-proportion/issues/47) Up/down arrow keys alone should align with gridlines.
- [x] (see https://github.com/phetsi

[2020-05-10 19:30] Matthew-Moore240 commented on #34
Awesome! I can review it tomorrow!

[2020-05-11 13:34] emily-phet opened #45 "Implement Proportion_Strings sonification"
See issue #9, particularly this comment https://github.com/phetsims/ratio-and-proportion/issues/9#issuecomment-620843894.

It would be ideal to have this ready for discussion in Tuesday afternoon's sound design meeting.

(assigning @jbphet and @Ashton-Morris as a heads up that @zepumph will be working on this).

[2020-05-11 13:44] emily-phet commented on #44
@terracoda @zepumph  Is there anyway that you can imagine to have the hand markers actually "be sliders" for those interacting using a focus-based mechanism (e.g., screen reader)? Could we instrument with the same behaviors as a slider and have the screen reader read out as a slider?

I think it might be ok if the markers did not move horizontally at all when focused, and only responded as if any

[2020-05-11 13:58] emily-phet commented on #45
Adding on to this idea:

In Tuesday's meeting, I'd like to discuss potential secondary sounds, such as boundary sounds, and gridline-crossing sounds.

I have the idea we might treat the vertical movement of the hand markers as sliders. Thinking of them that way, boundary sounds and slight 'bumps' as you pass gridlines make a lot of sense! If we can add in the same slider sounds we just refined in

[2020-05-11 16:48] jbphet commented on #45
Thanks for the heads up, I'll consider myself "on call" for help with the implementation.

@zepumph - there are boundary sounds that are common and that were used in GFL if that helps.

[2020-05-11 18:05] zepumph commented on #23
In my local copy the "10" appears, but I can't get it to show on phettest. Weird! I'll look into it further.

I don't feel like I have clear instructions here. Do you want the "Grid" radio button to turn into two radio buttons: "Horizontal" (just horizontal) and "Grid" (both)? Do you want vertical lines possible at all in the sim?

The way it is implemented currently did not allow for a separate v

[2020-05-11 18:31] zepumph commented on #23
For some reason, after manually pulling RaP on phettest, the "10" is now showing for me. I cleaned up the unit code a bit above, over to @emily-phet for design condiserations about UI for horizontal vs vertical lines.

[2020-05-11 19:06] BLFiedler commented on #26
Oops - sorry! I think the mechamarker implementation as far as this issue goes are taken care of! New issues for further mechamarkers stuff can be generated after further testing!

[2020-05-11 19:06] #26 closed

[2020-05-11 19:15] terracoda commented on #44
Hmm, @emily-phet that's an interesting question.

For each of our freely moving objects (balloon, book, ruler) that we have implemented thus far, we have implemented a two-step interaction. We start with a native grab button that launches a custom move interaction.

This two-step approach is likely cumbersome and not ideal for two objects that we want to be moved at the same time. we wouldn't to f

[2020-05-11 19:40] jessegreenberg commented on #35
Alright, these have been added @Matthew-Moore240 and are ready for review. Reassigning to you.

[2020-05-11 21:21] zepumph commented on #45
For the first checkbox, I think copying @Ashton-Morris's comment over here will be helpful:

staccato-sine.mp3
strings-loop-c5.wav
cello-loop-c4.wav
synth-strings-loop-c4.wav
bowed-piano-loop-c4.wav
cello-tremolo-loop-c4.wav

[2020-05-11 22:19] zepumph commented on #45
I implemented a first pass of this above. Basically I took the vibrato sound and used it also for this sound option, then I added the `strings-loop-c5.wav` when both hands had enough velocity. The output volume of the strings is mapped from 0-.7 based on the fitness of the proportion.

As to the definition of "enough velocity": Basically I recalculate each velocity every 30 frames (~twice a second

[2020-05-11 22:28] zepumph commented on #45
https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.18/phet/ratio-and-proportion_en_phet.html

[2020-05-11 22:31] zepumph commented on #45
The first comment that comes to my mind is that the tolerance for  a "good" proportion is pretty small.  As an educated adult, I find the task of continuously producing strings sounds pretty challenging. We should take this into consideration when determining a general tolerance level in https://github.com/phetsims/ratio-and-proportion/issues/14.

I would hope that we could use the same window for

[2020-05-11 23:47] Matthew-Moore240 opened #46 "Unable to move the hands with keyboard while using NVDA"
Neither one of the hands work with keyboard while using NVDA. Instead when they are on focus they scroll through the PDOM with the arrow keys.

[2020-05-12 00:00] Matthew-Moore240 commented on #35
Reviewed both, the quantitative responses sound good.
The qualitative responses sound good but I think there are two responses that could be a bit more spread out over the region.

This response I think fires to close to the middle.
**{{right/left}} {{object}} {{somewhat close to the top}}**

The same for this response it fires a a bit to close to the middle.
**{{right/left}} {{object}} {{somewhat

[2020-05-12 00:03] Matthew-Moore240 commented on #34
All reviewed these sound really good so far! I think this is ready to close but just want to double check with you @zepumph

[2020-05-12 00:39] zepumph commented on #44
The two approaches make sense to me! I toyed around with the second one, because using as much native html as possible seems valuable. The issue I had was with this line:

I agree that the ability to use both hands at the same time is number (1) in my book, but with the outlined approach, I can't figure out a way to do it. More and more I'm trying to think of a parent `div` as the component, as op

[2020-05-12 00:46] zepumph opened #47 "Keyboard input should snap to grid"
From https://github.com/phetsims/ratio-and-proportion/issues/44

@emily-phet I am confirming here that this behavior is only for keyboard, and we don't want this for mouse. Because of this, I felt like it deserved its own issue to think about how to apply singulary to this input modality.

[2020-05-12 00:55] zepumph commented on #47
Not sure why this wasn't working. First thought is that downDelta is annotated as being in view coordinates. If that is the case, why?!?!

[code]

[2020-05-12 13:23] emily-phet commented on #47
@zepumph Yes, this behavior is intended only for focus-based navigation.

[2020-05-12 13:31] emily-phet commented on #44
@zepumph @terracoda (and @BLFiedler as well), let's discuss in tomorrow's RaP research meeting tomorrow. How this particular interaction is supported will be very important, so let's go through the intended interaction experience and potential options together.

[2020-05-12 13:41] emily-phet commented on #35
@Matthew-Moore240 Just a heads up, the alternative input experience is going to change as we refine - see #44 and #47. Please consider if changes to how the markers move with keyboard input impacts the responsive descriptions. Perhaps your comment above is about region boundaries, which might not be impacted.

[2020-05-12 13:49] terracoda commented on #44
@zepumph, honestly, I was just assuming that we need to use application role to be able to operate the two hands at once. That said, I wasn't sure where it should go.

Considering this more deeply, what if we made one hand use the custom interaction (using the WASD keys or just WS keys) and implement one as a fully native slider.

I'm not sure, how that would present to the user, but it might give

[2020-05-12 13:57] emily-phet commented on #45
Thanks @zepumph! Heads up to @BLFiedler that there's a new dev link above.

[2020-05-12 16:44] BLFiedler commented on #45
Just a few quick notes so that I don't forget:
- With just this addition, this feels REALLY close to a complete experience from a touch perspective. Absolutely fantastic.
- It's possible to be moving and have the String sound cut in instead of fade-in, which is a bit jarring. Will need to play more to figure out exactly why this happens.
- The string sound plays when the reset button is pressed (m

[2020-05-12 17:33] zepumph commented on #14
In the above commit, I made `?tolerance=.05` a query parameter, with that as the default. It felt good to mess around with values even up to .2, just to get an idea of what is "too far." Let me know if I can help this design any other ways.

[2020-05-12 17:39] zepumph commented on #45
I added a tolerance query parameter over in #14 to help us tweak that.

[2020-05-12 17:39] #34 closed

[2020-05-12 19:08] zepumph commented on #44
@jessegreenberg and I talked about this today. We feel like it is sorta an "either or" kind of situation. We can either use `input` elements and try to convey semantics through HTML, or we can attempt to implement a custom solution where you can control both at the same time. We can't see a way to implement a combination of the two.

Before tomorrow I am going to try to implement a fully custom, "

[2020-05-12 20:15] zepumph opened #48 "Sound cue for the ratio is too big vs too small"
During sound design meeting today, and https://github.com/phetsims/ratio-and-proportion/issues/45 (and #9 generally).

What would it sound like to cue when the ratio is bigger than desired, vs smaller than desired.

- One idea for the Vibrato sound would be to have the semi tone be lower for one, and higher for the other. Currently it is just off between 220 (base frequency) and 230
- Another idea

[2020-05-12 20:54] zepumph commented on #45
Feedback from today's strings discussion:

- [ ] have a fade in time, independent of the goal
- [ ] We want the velocities to be matching directions.
- [ ] Fix reset case

The above will be good to do, as they may apply to any sound we implement for the velocity success case.

Next week we plan to listen to a bunch of different sounds to try to find a more pleasant overall experience with our soun

[2020-05-13 00:17] zepumph commented on #45
I didn't get to the fade in today, but the other two bugs, along with a startup on was solved above.

[2020-05-13 00:25] zepumph commented on #45
I also implemented the ratio UI sounds, including having the pickup and drop sounds match the volume for the new boundary and grid "click" sounds.

@emily-phet the only thing left for me here is to implement the fading for the strings sound and any other aesthetic fine tuning we do from there. Would you like to review all but that now?

[2020-05-13 00:59] zepumph commented on #44
On master I made a first pass at keyboard control for the entire ratio. I will try to come back to refine it this evening, but you can play with it on phettest now if you want.

[2020-05-13 04:26] zepumph commented on #44
You can play around with this in https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.19/phet/ratio-and-proportion_en_phet.html. To be clear, this version has two different ways of handling the keyboard interaction for the ratio, bother won't stick around. The main point is to play around with the "combined" input (when focus highlight is around the entire ratio). Then you can use the

[2020-05-13 14:09] emily-phet commented on #23
@zepumph Thanks!
Regarding grid lines, for now just remove the vertical lines altogether from the visual. This is the simplest visual, and I'd like to move forward with that, and only bring in vertical lines if we find a really compelling reason to do so. So, we may want to switch to "horizontal+vertical only" in the future, but for now, let's proceed with "horizontal only". Other than a situation

[2020-05-13 14:16] emily-phet commented on #44
Just a note on this - I love the idea of this up arrow / down arrow and W/S interaction, but I'm very concerned about requiring so many key presses (four different keys) being required to interact with the heart of the sim. My concerns are that it may be verbose or challenging to make the interaction clear non-visually, and also that for those with mobility impairments it may be very difficult or

[2020-05-13 19:24] jessegreenberg commented on #35
In a design meeting today 5/13/20 we discussed that we wanted to change the hands to sliders in the PDOM. This would involve using aria-valuetext instead of aria-live to provide updates about hand positions, and this content is read a bit differently with a screen reader.

So the current alerts will need to be re-worked a bit to be used in this context.

[2020-05-13 19:48] terracoda commented on #35
@emily-phet and @Matthew-Moore240, it's beneficial to keep the main checklist up to date as the design progresses, see issue #11. It really helps at the end. I'll add the link to the design doc's Responsive Description in issue #11.

[2020-05-13 20:30] zepumph opened #49 "Convert individual ratio interactions to sliders"
This issue will change them from `div` element with `role="application"` to be an `input` of type slider. This is more semantic and make the description easier.

I'm pretty sure that we want to do this, but will assign @emily-phet to double check and for prioritization. My understanding was that we don't need keyboard interaction in the horizontal axis, and so this simplification will help pedagog

[2020-05-13 20:31] zepumph commented on #44
Today our RaP discussion was focused on this issue. We looked at the joint interaction and compared it to a potentially simpler solution (from both the input and description perspective) of only interacting with one OR the other hand.

We discussed potentially including both interactions as possibilities. In this case the join interaction would be after the two sliders in focus order, and could ha

[2020-05-14 15:00] KatieWoe opened #50 "CT cannot read property toLowerCase of undefined"
[code]

[2020-05-14 16:17] zepumph commented on #50
Thanks! Keyboard fuzzing isn't supporting the new `key` pattern, and will be worked on further over in https://github.com/phetsims/scenery/issues/1053. The above fixes the error though.

[2020-05-14 16:17] #50 closed

[2020-05-14 21:58] jessegreenberg commented on #46
I think that #44 should be done before we debug this. The representation in the PDOM is going to change completely and may fix this on its own. Removing my assignment, but feel free to reassign if I can help!

[2020-05-15 13:29] emily-phet commented on #30
Resizing is working well for me on my iPhone - @zepumph and @BLFiedler can we close this? We might want to consider additional changes once the graphics are finalized, but perhaps best to open up new issues related to that?

[2020-05-15 13:52] BLFiedler commented on #30
Yeah, I think there is some nitpicking on how it handles the change in the horizontal size as the vertical area scales up, but I don't think that is something to tackle until we finalize where various controls go. I've very successfully been using portrait orientation on the iPad I have ever since this was implemented.

I'll close. Great job, @zepumph!

[2020-05-15 13:52] #30 closed

[2020-05-15 13:58] emily-phet commented on #36
New idea - since the minimum value will always stay the same, what if the max value (on startup that would be "10") was a dropdown menu itself. It would look different than the other numbers (inside of a drop down box) but when you select it, the other number options would drop down (10, 20, 30, 40) and once another is selected, the grid and number visuals would change to correspond with the new s

[2020-05-15 16:37] BLFiedler commented on #36
I like the idea of moving this control to the maximum of the grid. I'm not sure if a dropdown is ideal, but I can't immediately think of something better. I kind of like the idea of something "zooming out/in", which I think the arrows sort of accomplished in Dor's iOS app, but just the visual change of the grid might do that.

Visually, we'll need to adjust the appearance of the numbers (they're a

[2020-05-15 20:43] emily-phet opened #51 "Improvement to numbers for "numbered grid""
The current numbers in the "numbered grid" scenario need some refinements. Additionally, there are some possible concerns related to these numbers that may require a unique design solution. Here are the related design considerations, and then some design ideas (from simple to more complex).

**Design Considerations**
- The numbers need to be able to be changed so that they span 0-10, 0-20, 0-40, a

[2020-05-15 21:07] emily-phet commented on #51
Here's a mockup of what a "number tool" could be like. Notice that with a number tool, I think we could have grid and number tool as checkboxes, removing the previous radio buttons. Note, this mockup does not include a solution for the changing the max number on the number tool. It would need to be either 1) on the number tool itself, or 2) a sub-option under the "number tool" checkbox...which wou

[2020-05-17 19:16] emily-phet commented on #36
Note - an idea for a "number control" tool is being considered (see #51). If this is moved forward, we would want to consider ways to allow control of number changes on the tool itself. Putting this on hold for now, until we decide if we're going with a "number tool" or not.

[2020-05-17 19:17] emily-phet commented on #5
Grid is in, considerations for look of grid happening in #51 and #23. Closing this issue for now.

[2020-05-17 19:17] #5 closed

[2020-05-17 19:38] emily-phet commented on #45
@zepumph The latest seems good to go for now, for our upcoming Tuesday discussion.

[2020-05-17 19:41] emily-phet commented on #45
@zepumph Actually, one small thing. Can you change the tolerance so that's it's a little easier to get and maintain the strings sound? It would be good to get feedback without people struggling to produce the sound. Note, this is not about optimizing the tolerance, just making sure if we ask for feedback that the person isn't hung up on trying to get the strings sound to happen.

[2020-05-17 21:30] emily-phet commented on #45
Just a few notes for Tuesday's design meeting.
We're looking for something pleasant, ideally playful, cohesive across all interactions (moving towards/away from target ratio, at ratio, and maintaining ratio consistently in motion). Some dimensions to explore:
- Continuous vs staccato sound when moving to/from target ratio.
- Continuous, layered, or looping sound for sound associated with maintaini

[2020-05-17 21:37] BLFiedler commented on #45
@zepumph set a query parameter for tolerance in #14 , but if we're choosing something that's a bit easier, tolerance=0.1 works pretty well I think.

[2020-05-18 13:50] emily-phet commented on #44
@zepumph Thanks for the version with the left, right, both tab order.

Observation: After playing with this version for awhile, I find myself focused on the keypress action (for the 1:2 ratio, I'm focused on "left, right right; left, right, right". I wonder if this will emphasize (implicitly or explicitly) that the distance between the objects is *maintained* rather than the distance widens, parti

[2020-05-18 14:02] emily-phet commented on #29
We discussed different variations last week, and are continuing this discussion in #44. Closing this issue for now.

[2020-05-18 14:02] #29 closed

[2020-05-18 14:07] emily-phet commented on #44
Argh - trying to mock this up, and keep running into the issue where (when playing with the current prototype with the newly proposed interaction in mind) still get scenarios where the same keyboard presses (e.g., left, right, right; left, right, right) are the result. That's not what I want! @BLFiedler, if my comment above makes sense to you, could you try actually writing out a persons interacti

[2020-05-18 14:11] emily-phet commented on #44
Here's the visual mockup I was working on.
![Screen Shot 2020-05-18 at 7 09 48 AM](https://user-images.githubusercontent.com/5109055/82222776-9fd23c00-98d6-11ea-8537-388910e3f45f.png)

[2020-05-18 18:18] BLFiedler commented on #44
Okay - I think I understand what you're going for.

1.) Starting screen (success). User tabs 4 times to engage "Bar".
2.) User uses W/S to shift both hands and hears decreasing "in-proportion" tones no matter how they move.
3.) User is out of proportion and uses Up/Down to move the right hand and encounters the perfect "in-proportion" tone.
4.) Users combines W/S shift of both hands with Up/Down o

[2020-05-18 18:36] BLFiedler commented on #44
Probably a crazy idea - What if the grid tick noise was pitched based on the distance between the hands? You'd only hear it occasionally (which may make it either confusing or less annoying or both. It'd need to exist even when the grid was not on the screen (invisible grid?). It might be distracting as they try to figure out when/why it happens, if not super intuitive feeling.

[2020-05-18 20:17] #23 closed

[2020-05-18 21:15] zepumph commented on #47
I made each hand a slider above. Now it will snap to each grid line, and using `shift` will subdevide each grid width by 4. This updates no matter what the grid base-unit is. @emily-phet please review.

[2020-05-18 21:18] zepumph commented on #46
This was fixed by #47. @Matthew-Moore240 please confirm and close.

[2020-05-18 21:18] #46 closed

[2020-05-18 21:20] zepumph commented on #32
The way to do this seems to be to use a keypad. It would likely be straightforward, though I don't have a good idea about what the exact UI would be besides just looking at the iOS app as a base. Let me know what more you want from me here.

[2020-05-18 21:22] zepumph commented on #14
Over in https://github.com/phetsims/ratio-and-proportion/issues/45#issuecomment-629849794 @emily-phet asked the default tolerance to be a bit easier. I'm going to make it .1 for now.

[2020-05-18 21:23] zepumph commented on #45
Yes indeed! That said, I really like .1 more and more each day, so I made that the default, you can still update it with the QP as desired.

[2020-05-18 21:26] zepumph commented on #49
Oops sorry, but over in #47 I already did this conversion. It made implementing the snap logic really easy and nice.

Now what is left in this issue is to implement the appropriate description for the sliders. This means aria-valuetext and potentially some rounding/units too. Assigning to @Matthew-Moore240 for the description support.

[2020-05-18 21:28] zepumph commented on #35
The conversion has been done, see #47. I think we should continue that description piece over in #49, adding aria-valuetext to sliders.

I agree! I was helpful for me to see your progress through it too.

I'll keep assigned @Matthew-Moore240 so he can organize the description design issues as desired.

[2020-05-19 00:43] zepumph commented on #44
To reiterate yet again so that I can make sure I understand it, the interaction is basically like the right hand is attached to the left one, and w/s effectively moves the left hand, but the right one comes along as it goes because it is attached. Then the arrow keys up/down effect the distance between the two hands, so it moves the right hand but only in effect it looks like it is moving the size

[2020-05-19 13:12] emily-phet commented on #47
@zepumph I think the general snap-to-gridline behavior looks great. I think we'll need the shift behavior to change based on the current ratio, to ensure that success can always be reached. Note, there will likely be an option for teachers / students to change the ratio, so this will need to be anything reasonable with a range of (likely ) 1-10 for the left and 1-10 for the right.

[2020-05-19 13:24] emily-phet commented on #32
What about a number...picker? interaction - like in GFL:B for changing the mass? How challenging is it to add a "Custom Challenges" dialog to the PhET menu, with three sets of number pickers in it?

[2020-05-19 16:22] BLFiedler commented on #48
Just to note this is tied to a potential visual design brought up in #42

[2020-05-19 16:59] jessegreenberg commented on #35
@Matthew-Moore240 and I met to discuss this today and came up with the following proposal to support aria-valuetext:
- The "On region change" portion of https://docs.google.com/document/d/1HJvvGWYaUv9tlat9S7omQQVng8fGB4FuUhTEM1qx1z8/edit#heading=h.m96bq8cv9p9v can become the aria-valuetext for the slider.
- We can remove direction and movement alerts like "Moving {{object}} up." and "Up." because

[2020-05-19 17:23] zepumph commented on #32
That sounds really nice. I have an understanding of this generally, though I think it will have to go under the "Options" dialog.

I don't understand this automatically. Likely we need a numerator and denominator picker, but what is the third, and what is a "set?"

[2020-05-19 18:40] jessegreenberg commented on #35
During alternative input meeting today, it seemed like the relative distance was an important thing to include in the alerts.

It seems like the various input strategies will have a large impact on how alerts are designed. If we add more controls for relative distance and hand positioning that may or may not change the strategy for alerts.  So I would recommend we put this on hold until #44 is mor

[2020-05-19 18:55] BLFiedler commented on #44
Just to sum up a big picture statement on our recent Design meeting:

We recognize that there is a difficulty when interacting with RaP through keypress in recognizing that _something is changing_, that is not reflected in the interaction pattern for success (e.g. Left up x 1, Right up x2). This interaction pattern DOES capture the CONSTANT RATE that you need to apply to the left and right hands w

[2020-05-19 18:58] BLFiedler commented on #51
We did not get to this during design meeting, but there has been some discussion on the e-mail list that I'll post here:

From Dor:

From Amanda:

[2020-05-19 20:46] zepumph opened #52 "Should sim start in successful ratio?"
This was talked about briefly during sound meeting today with @BLFiedler, @jbphet, @Ashton-Morris, and I. We were curious, especially from a sound perspective, if the sim should start in an already successful position.

We have not solidified a sound design yet, but we decided that we didn't like a "continuous" sound for a successful ratio. This may make the startup sound feel a bit weird. But we

[2020-05-19 20:48] BLFiedler commented on #52
I mentioned that this was a choice for our implicit scaffolding early on, but that the team as a whole had not discussed so the reasoning should at least be recorded here for posterity, if not discussion.

[2020-05-19 21:20] zepumph commented on #14
Today during sound meeting, it was brought up again that we will likely want to change the tolerance algorithm so that +- distance from ratio doesn't differ so drastically when the ratio is small vs large.  Right now the fitness is a function of how different the two ratio half values are, but we could just as easily make it a flat distance from the ratio, that is independent of the left/right val

[2020-05-19 21:21] zepumph commented on #9
After lots of design discussion today, with @Ashton-Morris playing many possibilities for us, we have decided on the following for the next steps:

* Add the chorus option for the velocity sound, (currently strings)
* Add a new ratio sound of marimba tones, increasing in frequency (how often it is played) the closer to successful ratio it gets. Then at a threshold it turns into a root/third tremol

[2020-05-19 21:22] zepumph commented on #45
We continued the discussion and next steps over in https://github.com/phetsims/ratio-and-proportion/issues/9#issuecomment-631089157. I think this issue may be ready to close, though I'm not sure.

[2020-05-19 21:31] zepumph commented on #47
I agree we will need to make sure that the target ratio is always available, but I worry a bit about changing the behavior of keys as a side-effect of changing the target ratio.

Possible easy solution: Make the shift step be 1/10 of a grid line (10 up arrows when holding shift make a single key press when not holding shift). This is simple to implement, and will give the needed granularity for an

[2020-05-19 21:33] zepumph opened #53 "layout but when re-sizing screen"
Thanks @BLFiedler for bringing it to my attention. To reproduce you can load a sim, and then in chrome dev tools toggle the device toolbar on. That layout trigger normally causes something like this:

![image](https://user-images.githubusercontent.com/6856943/82380687-5d435900-99d5-11ea-8fd0-5838f4c70e98.png)

[2020-05-20 05:33] zepumph commented on #9
Marimba staccato plus tremolo to third is in place on master and the default sound. I also have turned off sound when the fitness is at 0. Next steps are to add in choir and pizz sound options once @Ashton-Morris has them ready. Over to him.

[2020-05-20 05:36] zepumph commented on #53
This seems to only happen when the hand is all the way at the bottom and you resize.

[2020-05-20 06:05] zepumph commented on #53
I'm not totally sure how to solve this just yet. Here is a patch that investigates it. I found that the bottom of the ratioHalf is being set correctly, it is just that the height/bottomRect position is not lined up with the layoutBounds bottom. I think I am making an assumption about the two of them, but haven't found the issue yet.

<details>

[code]

</details>

[2020-05-20 13:46] emily-phet commented on #9
@zepumph re

The plan sounds great to me!

[2020-05-20 13:49] emily-phet commented on #47
I like the "shift = 1/10 of a step" idea. I worry that it might introduce some description challenges for the scenario where there are no gridlines or numbers (the qualitative description scenario) but if this is the "easy solution" let's go with it for now and (as you said) see how far it can take us.

[2020-05-20 13:50] emily-phet commented on #45
Agreed - moving on with with #9 and beyond. Closing.

[2020-05-20 14:11] emily-phet commented on #52
It's been my belief that the sim starting at the target ratio provides a significant benefit as it:
1) sets up a scenario where the learner's initial interaction with the markers causes clear and obvious dynamic feedback (change in color, etc.),
2) invites an initial question "why was it different and how to do I get it back to that", (so the learner has at least one obvious goal to work towards f

[2020-05-21 02:31] zepumph commented on #47
Implemented above. Let's see how that goes, and revisit as needed.

[2020-05-21 13:41] emily-phet commented on #47
@zepumph It still seems like 1/4 steps for me, from phettest.

[2020-05-21 13:45] emily-phet commented on #51
I think Dor may have misinterpreted my description, and envisioned that learners would be using the "tool" to "measure". I think Amanda's wording is better, I should have used "label" to describe what is the intent behind the suggestion, and called the new thing a "number label".

I used "tool" only to indicate that it is it's own "thing" that is interactive (like PhET readout tools, etc.), but my

[2020-05-21 13:48] emily-phet commented on #14
This sounds reasonable to me, as long as it "feels" good at low marker values (i.e., low on the screen). I'd also like to check in with Dor regarding the necessity of starting the grid at 0, which might impact things...

[2020-05-21 13:52] emily-phet commented on #32
There are three challenges. If we put this feature in the "options" menu, here's the use case:
teacher is setting up *all of the challenges* to be used either in class, or by student(s). Teacher can select a custom ratio for *each challenge*. So there would need to be three sets of number pickers, one for each challenge.

If we put this feature as a fourth, custom challenge, then it would only nee

[2020-05-22 13:26] emily-phet opened #54 "Expand colored background"
During a design meeting on 5/21, @amanda-phet pointed out at the colored background only extends to the sim border. With wide screen boundaries, white edges can be seen. She strongly preferred if the colored background extended beyond the sim boundary.

[2020-05-22 13:39] emily-phet commented on #17
@zepumph Please add white circles to each hand when grid is present. (Note, used old screenshot to make mockup below, sim should still have only horizontal gridlines).
<img width="820" alt="Screen Shot 2020-05-22 at 6 37 26 AM" src="https://user-images.githubusercontent.com/5109055/82673490-ce158b80-9bf6-11ea-9b79-b60f226e1a3d.png">

[2020-05-22 13:55] emily-phet commented on #51
@zepumph From the design meeting 5/21, it was decided to proceed with moving the number to the center of the gridlines, as in mockup below. @amanda-phet mentioned that other math sims have numbers at 18 point font. Let's give that a try, unless it seems obviously too big, and then go a bit smaller. In the current prototype, they seem too small.

<img width="402" alt="Screen Shot 2020-05-22 at 6 52

[2020-05-22 13:58] emily-phet commented on #36
Note - still not sure of the exact interface design, but in other PhET math sims, it's been sufficient to support 0-20 range.

[2020-05-22 14:01] emily-phet commented on #32
In 5/21 design meeting @kathy-phet pointed out that in other PhET math sims (e.g., Function Builder), they provide a way to input a custom function, and show/hide this information. This allows teachers to input a new function, and students to input new functions and challenge friends to figure it out.
I liked this idea for RaP - would involve change of ratio feature to be in sim display rather tha

[2020-05-22 14:35] emily-phet opened #55 "Grid options - changing from aqua radio button to scene selection style"
I like the look and feel of these buttons in the Area Model sims.
<img width="293" alt="Screen Shot 2020-05-22 at 7 08 42 AM" src="https://user-images.githubusercontent.com/5109055/82677713-4c752c00-9bfd-11ea-9890-201b4ff84a4f.png">

I'd like to see if this style can result in the desired sequence of interactions we want.
I've requested artwork to fit this style in phetsims/tasks#1036.

[2020-05-22 18:22] Ashton-Morris commented on #9
[@zepumph I have the files for you here](https://drive.google.com/open?id=10-kHZgFSu0HEMUfNk0zEn0cvPRK8gFXg)

choir-ahhh-loop.wav
pizz-C4.mp3
pizz-C3.mp3

[2020-05-22 21:14] emily-phet opened #56 "Ratio selection and input"
The current accordion box "Challenge" selector - used to change between different ratio settings - needs to be updated.

At its core, the solution needs to support:

- Selection of three different ratios
- Result in exploration of the first ratio first (*not* encourage flipping between ratios too soon)
- On the third challenge only, there needs to be available an option to show a pair of number sp

[2020-05-22 21:15] emily-phet commented on #56
@BLFiedler Can you take a stab at designing this? I suggest talking to @arouinfar and asking for her thoughts, based on her experience across sims.

[2020-05-24 14:19] emily-phet commented on #9
To discuss on Tuesday:
- Adjusting rate of staccato (current version sounds a bit frantic) @zepumph can you make sure it's straightforward to change/tune the tempo of the marimba/pizz sound?
- Consider reversing the mapping, where tempo decreases markers approach success. This require sounds to be playing whenever the markers are in use (which we decided last week we didn't want) but I think this

[2020-05-24 19:24] arouinfar commented on #56
I'd be happy to talk about this with @BLFiedler, but I am completely unfamiliar with this sim (aside from MK's status updates) and would need to know more about the context. I believe @amanda-phet is on the design team, so she may have some good insights here.

[2020-05-25 13:17] emily-phet commented on #49
Handling description in other issues, closing.

[2020-05-25 13:17] #49 closed

[2020-05-26 13:48] emily-phet commented on #43
Another thought here - the original proposed idea would involve minimal effort (single keypress) to maintain success once success was reached.
We ultimately want a way to require *effort* in maintaining green - we don't want that effort to be too complex, but *more* should have to be done actively by the learner to maintain success, rather than less.

[2020-05-26 17:09] zepumph commented on #47
Hmmm. I just tested and it looks to be using 1/10 step for the shift key step on master locally and on phettest. Perhaps it was a caching problem?

[2020-05-26 19:11] zepumph commented on #9
I added pizz staccato options and the choir ahh velocity option. See master or https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.21/phet/ratio-and-proportion_en_phet.html. Sorry to cut it short to our meeting time!

[2020-05-26 20:41] zepumph commented on #9
Nodes from today's design meeting

* Behavior of when the velocity sound plays. Right now it can occur when any staccato sound plays (any fitness >0), even when the tremolo to the third isn't going. @jbphet mentioned it may be nicer to layer on the velocity sound only when you maintain the tremolo sound while moving. If that is the case we need to greatly relax  the threshold for the "tremolo to t

[2020-05-26 21:24] zepumph commented on #17
Added above. Please review:

![Uploading image.png…]()

[2020-05-26 21:29] zepumph commented on #54
Great idea! I'm not sure why I didn't just do that to begin with. Implemented above.

[2020-05-26 21:29] zepumph commented on #55
Sounds great. Let me know when you have icons for this and I can add them in.

[2020-05-26 21:35] zepumph commented on #52
That sounds really nice! I mean to assign myself not you @emily-phet to read this. I am convinced and ready to close. Please reopen if there are other thoughts.

[2020-05-26 21:35] #52 closed

[2020-05-26 22:45] zepumph commented on #51
Implemented above. Please review:

![image](https://user-images.githubusercontent.com/6856943/82957512-9b092a00-9f5f-11ea-9211-3d658b9d5a8b.png)

[2020-05-26 23:13] zepumph commented on #9
Clean up above.

[2020-05-27 00:21] zepumph commented on #9
Above I added `staccatoMaxFrequency`, so that we can prototype the tremolo speed. I also doubled it from 40ms to 80. Here is an example of it doubled even again:

http://phettest.colorado.edu/ratio-and-proportion/ratio-and-proportion_en.html?ea&brand=phet&staccatoMaxFrequency=160

[2020-05-27 01:19] zepumph commented on #9
Above I added chords and arpeggio staccato success sound options. All of these have some build in reverb that @jbphet helped me get set up using `soundManager.reverbLevel`.  I don't know that it will be a long term strategy, but it seems valuable to have to this week's testing.

I will make a dev version shortly to share this work.

[2020-05-27 01:20] zepumph commented on #9
https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.22/phet/ratio-and-proportion_en_phet.html

[2020-05-27 17:02] amanda-phet commented on #51
I like the alignment of the numbers and grid lines!

Not sure if this is the right issue to mention this but I think the white dots in the hands could be smaller. Maybe 50% of the current diameter, so it looks more like a "point."

[2020-05-27 17:15] zepumph commented on #17
@amanda-phet said in https://github.com/phetsims/ratio-and-proportion/issues/51#issuecomment-634804642:

Let me know what you want @emily-phet.

[2020-05-27 19:40] zepumph commented on #53
I'm going to hold off on this until I have a better idea about what I want the final structure of the ratio to look like. Yesterday while working on https://github.com/phetsims/ratio-and-proportion/issues/51, I realized that things may change quite a bit. I will want to keep constraints like this issue in mind. Here we have a problem because I am trying to layout based on `ratioHalf.bottom`, assum

[2020-05-27 22:11] zepumph commented on #51
With the increased label size, I removed the option have 40 grid lines. This prevented the possibility of overlap.

[2020-05-28 13:50] emily-phet commented on #54
Looks great!

[2020-05-28 13:50] #54 closed

[2020-05-28 14:00] emily-phet commented on #51
@amanda-phet Thanks for weighing in here. Regarding the numbers - I really like the general look of this, but something about the numbers still looks a little unfinished to me. Do you know of any other fonts used for numbers in math sims? Do you see any issue with us playing around with different fonts or trying the numbers bold?

@zepumph - I agree with @amanda-phet regarding the size of the whit

[2020-05-28 14:01] emily-phet commented on #17
See my previous comment [here](https://github.com/phetsims/ratio-and-proportion/issues/51#issuecomment-635368320) in issue #51.

[2020-05-28 14:28] emily-phet commented on #55
Working on those icons now.

[2020-05-28 14:34] emily-phet commented on #9
Thoughts:

Staccato Success Sound:
- tremolo to third - a bit chaotic, doesn't lead me to think there's a single "special" location
- **single high note** - I liked this one best, but I think the single sound needs to feel richer somehow, and stand out more.
- single major 7th chord - same as below
- single major chord - current variant feels like a little 'bump in the road', doesn't stand out eno

[2020-05-28 14:40] emily-phet opened #57 "Color Polishing"
When this sim has it's visual features finalized (in particular, the color cueing when moving markers and any coloring associated with different ratio choices), I'd like to have a Thursday design meeting with as many designers as are available/interested to discuss color in this sim.

I generally try to stay out of color conversations, but I feel like this sim needs a little more polish in that de

[2020-05-28 14:56] BLFiedler commented on #56
Aggregating ideas here for discussion: https://docs.google.com/presentation/d/1N-9y7mmTNV0nTIVuXPW_cvawPb9frY2-GWdxTraS8kc/edit?usp=sharing

[2020-05-28 15:30] amanda-phet commented on #51
We use Times italic for things like variables, but usually just use the PhET sans serif font for numerals. I think you should feel free to play around with them to look the way you want!

I assume there is a reason for the numerals and the lines being different colors, but I wonder if it would look more finished if they were the same color, like both black.

[2020-05-28 20:57] zepumph commented on #17
The radius was 16. I changed it to 10. 8 felt a bit small, but let me know what you would like

[2020-05-28 21:07] zepumph commented on #9
I decreased the time of arpeggiation from .25 seconds to .1 second, and I like it a bit more. Actually I think it is my favorite staccato success. I feel like it helps solve the issue you had with the single "chord" strategies too. what do you think?

Agreed! I wonder if we could get a few options from @Ashton-Morris on "fuller" sounds to test out.

I think that perhaps we would like the marimba a

[2020-05-28 21:10] BLFiedler commented on #56
Okay - have some ideas put together with some additional ideas and refinement from @arouinfar !

### Challenge Selection (1-3)
- I believe this is still best accomplished with a combobox (dropdown), as it keeps the other challenges out of view, while highlighting the challenge you are currently on.  It has an implicit hierarchy from top-to-bottom that guides users to do them in order (which we hav

[2020-05-29 14:26] emily-phet commented on #56
Thanks @BLFiedler:
What if we did this:
- Keep accordion box as is (labels staying the same: "Challenge 1", "Challenge 2", "Challenge 3", etc.
- There's a collapsed panel below the accordion box labeled "My Challenge" (there's some weirdness here, since the accordion box opens down, but if we like this idea we can sort it out). The collapsed panel is not active (you can't open it) until you have f

[2020-05-29 14:32] emily-phet commented on #56
@BLFiedler - Let's talk about this during Tuesday's RaP design meeting.

[2020-05-29 14:35] emily-phet commented on #51
@zepumph - can you try making the numbers bold (thicker stroke), and making them the same grey color as the grid lines?

If it's straightforward to do, could we play around with font, color, etc. in realtime during the RaP design meeting on Tuesday morning?

[2020-06-01 14:24] emily-phet commented on #56
Thinking about this more - there is an added benefit to having the "my challenge" option be on the second screen. We don't necessarily need the grid number changes available on the first screen for the preset challenges - 0-10 work just fine. A second screen would allow us to put both the "my challenge" option and the grid number changes on a second screen...which still wouldn't be enough to make

[2020-06-01 14:44] emily-phet commented on #9
@zepumph I tried, using the query parameters listed above, adjusting the tolerance (which worked for me) and the staccatoMaxFrequency (which I couldn't get to work). Can you confirm that this works, and also remind me of any symbols I need to include if using two query parameters (isn't there an ampersand needed or something?). Note, I was trying the query parameters individually just now, so comb

[2020-06-01 15:25] BLFiedler commented on #56
Done below. Hopefully what you intended. It felt a little strange to separate the scale from the grid controls, so I moved them below, but above the challenge box. I assume the scale dropdown will only appear when the numbered grid option is selected? I'm happy to quickly redraw if you think the scale combobox should go below the My Challenge accordion box.

Again, I really like the idea of separa

[2020-06-01 16:31] Ashton-Morris commented on #9
[Sounds Incoming
](https://drive.google.com/open?id=10-kHZgFSu0HEMUfNk0zEn0cvPRK8gFXg)

- glock-marimba-c-maj-7-chord-stab.mp3
- glock-marimba-c-maj-7-chord-stab.wav
- glock-marimba-c-maj-chord-stab.mp3
- glock-marimba-c-maj-chord-stab.wav
- glock-marimba-c-maj-arp.mp3
- glock-marimba-c-maj-arp.wav
- glock-marimba-c-maj-7-arp.mp3
- glock-marimba-c-maj-7-arp.wav
- c4-ding-ring-out.mp3
- c4-ding-rin

[2020-06-01 20:24] zepumph commented on #9
@emily-phet I was able to reproduce your problem. I fixed it in master above. Please try the above link again, and note that the first query parameter gets prefixed with a `?`, and each subsequent gets a `&`, so phettest can look like:

http://phettest.colorado.edu/ratio-and-proportion/ratio-and-proportion_en.html?brand=phet&ea&staccatoMaxFrequency=20&tolerance=.3

[2020-06-01 20:24] zepumph commented on #9
Updated sounds coming in hot.

[2020-06-01 20:29] zepumph commented on #9
There are a lot of sounds in. It would be good to get some feedback on them, as well as the ones in the sim already, before doing the next batch of iteration in the sim. I personally like how some of the sounds have some reverb at the end of the note/chord. I think that will work well if someone stays on the ratio, and then we can fade it out when going out of proportion. I think my favorite is th

[2020-06-01 20:31] zepumph commented on #9
That said, I will exchange out the pizz sounds, as we have already discussed that.

[2020-06-01 20:42] zepumph commented on #51
It is likely very straightforward. I made things bold and grey above. Please review, and we can discuss more tomorrow if desired.

[2020-06-01 20:52] zepumph commented on #17
I centered them above. This then in turn has made the cue arrows uncentered to other pointers (circle and cross). It would be nice if we could just get rid of this option, and only support the Hand. Otherwise I will want to go in and add more logic to appropriately support the cue arrow layout with all pointers. Let me know what you would like.

[2020-06-01 23:53] zepumph opened #58 "Add a second screen with custom ratio"
From https://github.com/phetsims/ratio-and-proportion/issues/56#issuecomment-636890198, we are going to add a second screen. This will have the same Ratio implementation, but with additional UI. Here is the sketch for it that @BLFiedler made.

![image](https://user-images.githubusercontent.com/47331395/83423837-c6b96380-a3e8-11ea-8104-168350b4a6db.png)

[2020-06-02 13:23] emily-phet commented on #17
I just remembered, my hope had been to have the circle only appear on the hands once the gridline and numbered grid option are selected. Can you make that happen? I hope the cue arrows still look reasonable in their current (new) location. They always seemed slightly misaligned before, because of the asymmetric nature of the hand markers.

I think we can lose the "circle" and "cross" options for m

[2020-06-02 13:26] emily-phet commented on #51
I like 1) having the numbers the same color as the gridlines, and 2) having the numbers bold. The gridlines and numbers become a little hard to see when the background is the darkest green, but let's tackle that issue in #57, since there may be more background colors added (as in #54).

[2020-06-02 13:26] #51 closed

[2020-06-02 13:30] emily-phet commented on #56
@BLFiedler Looks great (hands and all!).

@zepumph we may end up wanting the radio buttons (none, grid, numbered grid), and the accordion box (0-10, 0-20, 0-30) placed **under** the "My Challenge" collapsible box...so if it's helpful, you might want to be anticipating that possible change.

[2020-06-02 14:32] emily-phet commented on #9
Here are some thoughts:

**Staccato Max Frequency:**
- For the marimba sound, I thought 50 is too fast, 100 is ok, 125 is ok (my personal preference when playing with sim), 150 is probably too slow. Let's go with 100 for now. Better to err on the slightly too fast side, I think, if we're between to favorites. With pizz, everything sounded a bit faster than marimba (like an auditory effect, probabl

[2020-06-02 14:45] emily-phet commented on #14
What if the tolerance was set such that you always get a “2 gridline radius above and below” of feedback. That would mean there would be four gridlines total of feedback (40% of the screen). We’d have to tweak at the edges (if the success point is less than 2 and greater than 8). This is *almost* the feedback range on the current phettest sim if you place the left hand at 3 and move the right hand

[2020-06-02 14:45] emily-phet commented on #48
another reason to have color/sound feedback different when you’re above vs below ratio is as you use the keyboard you could jump from just above/below to just below/above the success point. Currently, the auditory feedback may not be that different, which could be confusing.

[2020-06-02 14:48] emily-phet opened #59 "Sound Balancing"
Keeping track of sound balancing thoughts here, for a bit later in the design process.

- When staccato ratio fitness sounds will be heard, probably the hand pickup/drop sounds should be in the background more. When no staccato ratio fitness sounds will be heard, pickup/drop should probably be foregrounded more.

[2020-06-02 14:50] emily-phet commented on #36
This is being incorporated into a second screen, as an accordion box (as @amanda-phet suggested). Closing, can reopen if it is determined more design work needed on this feature.

[2020-06-02 14:50] #36 closed

[2020-06-02 14:51] emily-phet commented on #58
adding this comment from #56 here:

@zepumph we may end up wanting the radio buttons (none, grid, numbered grid), and the accordion box (0-10, 0-20, 0-30) placed under the "My Challenge" collapsible box...so if it's helpful, you might want to be anticipating that possible change.

[2020-06-02 14:52] emily-phet commented on #56
Closing this - can re-open if we find significant design issues with what is planned in #58.

[2020-06-02 14:52] #56 closed

[2020-06-02 14:53] emily-phet commented on #47
Looks good!

[2020-06-02 14:53] #47 closed

[2020-06-02 15:19] BLFiedler commented on #14
I definitely like basing the tolerance around the grid spacing.

Just a note for the continuous movement success feedback:
- We may want to determine a different tolerance for this than the tolerance for in-proportion. I say this because at tolerance=0.2, I can move my hands at _a fixed distance_ for maybe 30-40% of the screen and get the choir-ahh sound. That seems a little too far to give confir

[2020-06-02 17:15] zepumph opened #60 "Screen Names needed"
We now have two screens our first thought on names are:

Screen 1: Explore
Screen 2: My Challenge

@emily-phet would like to comment and get opinions from other designers before implementing.

@zepumph likes the above names.

[2020-06-02 18:09] zepumph opened #61 "simultaneous keyboard interaction doesn't work with screen reader"
Discovered during design meeting today, w/s and arrow keys don't work on `RatioInteractionListener` when NVDA is turned on. Here is what the Node currently looks like:

[code]

I would have expected that the role and focusable options were the only thing necessary to make this work.

[2020-06-02 19:25] jbphet commented on #9
Thoughts:

- The sound design is really coming along!
- The choir sound, IMO, is awesome.
- The current "Single Arpeggiated Chord" option is good, but too quick in my opinion.  I'd prefer the glock-marimba-c-maj-arp from above, though a little bit faster than it is and with less of a tail.
- The major and major 7th chords (not arpeggios) also feel too quick to me.
- I feel like the "success" sound

[2020-06-02 20:24] zepumph commented on #14
In today's sound design meeting. We decided to try out a new tolerance algorithm, in which we have the tolerance be static to .2 on either side of the value changing. This may make smaller ratios (like when both pointers are below .1), but we are not too worried about this, and it will be a large improvement for the larger ratios.

@BLFiedler mentioned that perhaps we can use a piece-wise function

[2020-06-02 20:32] zepumph commented on #14
The goal of this change is to make sure there is enough "wiggle room" for small devices. Let's test this once it is implemented.

[2020-06-02 21:01] zepumph commented on #9
Decisions from today's meeting:

- [ ] We prefer the marimba sound to the pizz sounds. That said it leans a bit towards a "casino sound." @Ashton-Morris will work on some fine tuning to the marimba sound so that it is more like a "bing" and less like a "ding."
- [ ] As for the frequency of the staccato notes (which @jbphet pointed out is actually a period of time between sounds), we will update th

[2020-06-02 23:27] zepumph commented on #58
My first pass on this is complete.

The main work done here is as follows:
* Refactoring logic used in both screens into common code
* Addition of the "My Challenge" accordion box control to specific the target ratio
* Refactor of `gridBaseUnitProperty` and the addition of the combo box to control it on the new screen.

Futher work:
* grid UI control in https://github.com/phetsims/ratio-and-propor

[2020-06-02 23:55] zepumph commented on #55
The scene-selection-like radio buttons have been implemented above given the icons from https://github.com/phetsims/tasks/issues/1036#issuecomment-637690810. I feel like they need some pixel polishing, but this was as far as I wanted to go without getting a designer's eyes on it. Up for review. . .

[2020-06-02 23:55] zepumph commented on #55
![image](https://user-images.githubusercontent.com/6856943/83580807-7970eb00-a4e9-11ea-9d6f-89cd46927bf5.png)

[2020-06-03 00:19] zepumph commented on #17
I was able to do a bunch of cleanup regarding the other pointer options. I also implemented the circle visibility logic that you asked for. Please note that I made this logic apply to the "My Challenge" icons as well, which is either cool or weird, I can't yet decide. Let me know what you'd like!

[2020-06-03 01:34] zepumph commented on #9
I reworked the logic for the staccato success/in proportion sound, and I think this is much better. Before the algorithm only tried to play the success sound based on the same loop delay as for the normal marimba approaching sound. This meant that the success sound was not eligible for playing every `step`. Which it should be, so I pulled the success sound out of the logic that sees if enough time

[2020-06-03 02:00] zepumph commented on #14
Implementing this ended up being a bit strange. Please review the current behavior and let me know if it is desired. I think I got it, but I am not confident. I think that @emily-phet and @BLFiedler have a better understanding of where the previous tolerance algorithm fell short, so I am interested to hear if/how they feel this is an improvement.

[2020-06-03 02:00] zepumph commented on #14
I also updated the doc for the tolerance query parameter if that is helpful, https://github.com/phetsims/ratio-and-proportion/blob/master/js/common/RatioAndProportionQueryParameters.js

[2020-06-03 02:25] zepumph commented on #14
I'm really worried about the above commit. There is really buggy behavior when you move both hands and the fitness is 0. This is because the new tolerance algorithm bases the tolerance on the most recently changed value. So when both are changing at once, the tolerance is chaotic. This results in horrible, speaker breaking sounds. I'll try to work out a stop gap right now, but I think we need to t

[2020-06-03 02:32] zepumph commented on #14
It is better after the above commit. Now it is a bit harder to get bad/scratchy sounds. Let's talk more about this.

The issue with having a "static" tolerance, is that the algorithm is calculated differently depending on if you want it to be .2 above/below the left value, or the right value. This means that when moving both at the same time, there is a race condition where both algorithms are fig

[2020-06-03 15:04] BLFiedler commented on #42
I think we should visit this topic next we talk about the coloring in the visual display.

[2020-06-08 17:01] emily-phet commented on #60
Thanks @Matthew-Moore240 I like "Challenge maker" for the second screen. It's a bit long - three characters longer than "My Challenge", but captures nicely the point of that screen, which *is* for actively making challenges.

Let's go with "Explore" and "Challenge Maker" screens for now. We should keep an eye out that the "maker" in "challenge maker" doesn't encourage learners to jump ahead too so

[2020-06-08 17:06] emily-phet commented on #57
More thoughts on color:
Can we do some fancy color transitions for all the grey colored lines/graphics/text in the sim (e.g., the gridlines, numbers, and radio button icons)? Can they get darker grey as the background gets darker? I like the grey conceptually, because it cues that these are not the most important things to attend to (and they are not, as emphasized by Dor in previous conversation)

[2020-06-08 17:07] emily-phet commented on #60
Another option to consider:
"Challenge Explorer" and "Challenge Maker".

[2020-06-08 17:10] emily-phet commented on #55
Let's discuss this on Tuesday. I agree, they can probably use a little tweaking, but it's not obvious to me what direction to go.

[2020-06-08 17:15] emily-phet commented on #17
@zepumph  I like the circle appearance/disappearance behavior! Nice touch that the hands on the custom challenge input match. Nice!

[2020-06-08 17:17] #17 closed

[2020-06-08 17:42] emily-phet commented on #14
Maybe it would be helpful to think of the task we're trying to accomplish a bit differently. Not sure where this is going...but here we go.

Rather than focusing on the 1) location of left hand, 2) location of right hand, 3) ratio between them, let's consider 1) the distance between the two hands and 2) the center point of that distance. For any specific distance between the two hands (e.g., 3 gri

[2020-06-08 17:47] Ashton-Morris commented on #9
[Here are some Marimba variations to try out](https://drive.google.com/open?id=10-kHZgFSu0HEMUfNk0zEn0cvPRK8gFXg)

- marimba-variations-003.mp3
- marimba-variations-003.wav
- marimba-variations-002.mp3
- marimba-variations-002.wav
- marimba-variations-001.mp3
- marimba-variations-001.wav
- marimba-variations-004.mp3
- marimba-variations-004.wav
- marimba-variations-000.mp3
- marimba-variations-000

[2020-06-08 18:59] emily-phet opened #62 "Additions to alternative input - number keys and jump key"
To the existing alternative input mode where both hands can be controlled simultaneously (W/S and arrow keys), please add the ability for:

- [x] Number keys (0-9) to jump both hands to that number gridline
- [x] “j” key to jumps both hands to lowest currently occupied position

This would be the same for both screens.

Noting here - we will also need to confirm that this interaction technically w

[2020-06-08 19:01] emily-phet commented on #44
See issue #62 for next steps in addressing alternative input design challenges.

[2020-06-08 19:01] #44 closed

[2020-06-08 19:02] emily-phet commented on #43
Enacting some approaches to solve the challenge brought up here over in #62.

[2020-06-08 19:02] #43 closed

[2020-06-08 19:08] emily-phet commented on #58
Functionality looks great! I'd like to discuss the following in a Thursday design meeting:
Visual design refinements
- Sizing of challenge control feature

Organization
- How to provide access to the grid range options, since they're only relevant when numbered grid is selected.

[2020-06-08 20:00] zepumph commented on #60
For brevity I like "Explore" as the first screen. Let's go with that for now unless someone else says otherwise.

[2020-06-08 21:52] zepumph commented on #62
When the base unit changes for the grid, do you want the behavior of the number keys to change? It would be easiest if the numbers were treated more like percents, where `1` went to 10% of the ratio height. Do you instead want to always align these numbers to the grid number?

[2020-06-09 00:08] zepumph commented on #14
I explored an algorithm

[code]

In the above patch I experimented with a "centers" algorithm, and found potential promise, but it still suffered from the same problem as the first algorithm in which changing the left value had a different view tolerance than the right value.

@chrisklus thought that it may be good to use the first algorithm, and normalize it based on the current ratio/current val

[2020-06-09 20:09] zepumph commented on #61
Fixed by using the right option, oops. Thanks for the help @jessegreenberg.

[2020-06-09 20:09] #61 closed

[2020-06-09 22:04] zepumph commented on #9
From today's sound design meeting:
- [ ] We want to see the above sounds as options in the sim. We don't need to see option (1) or (4)
- [ ] We want to try changing the pitch based on fitness. Perhaps trying a pentatonic scale, or maybe whole tone.
- [ ] @Ashton-Morris will experiment with some non-tonal sounds (since we ditched the original tremolo-to-third approach).
- [ ] @jbphet mentioned that

[2020-06-09 22:48] zepumph commented on #62
@emily-phet and I talked today, and we do want the numbers to map to the visual grid line numbers, not to percent.

[2020-06-09 23:29] zepumph commented on #9
Added the variations on marimba above. Note I also made the staccato sound quieter (along with the success sound).

[2020-06-10 00:11] zepumph commented on #60
Screens are now "Explore" and "Challenge Maker". let me know if there is anything else to be done here! Closing

[2020-06-10 00:11] #60 closed

[2020-06-10 00:23] zepumph commented on #62
Implemented above. @emily-phet please review.

[2020-06-10 00:40] zepumph opened #63 "Staccato success sound toggles volume on/off without stopping"
In the StaccatoFrequencySoundGenerator, we have this chunk of code in the `step` function:

[code]

basically, if we were in proportion, but then we were not, then fade the success sound away. The issue here has to do with how the staccato sound is quite long. Long enough that it can fade away completely, still silently be playing reverby decay, and then have the user interact with the ratio and p

[2020-06-10 15:35] KatieWoe opened #64 "CT there is an issue with the licenses for media types"
[code]

[2020-06-11 00:48] zepumph commented on #14
After discussing with @emily-phet yesterday, I decided to revert to the old, original tolerance algorithm. I then spent some time last night trying to figure out a function that I could calculate for tolerance based on what the numerator and denominator are for the current and target ratio. It worked for a target of 1/3, but didn't quite cover all ratios yet.

[code]

[2020-06-13 13:32] emily-phet opened #65 "Can we start the grid at 1?"
It feels odd that if you put the either hand at the lowest position, no position of the other hand will result in success. Until the numbered grid is on, there is no way for the learner to understand why that is.

I'd like to bring this to Dor and see if there is a pedagogical constraint on this.

[2020-06-13 13:36] emily-phet commented on #62
@zepumph The basic behavior looks great to me.
It seems a bit buggy though:

- I had a few times where the sound kept playing after I had moved the hands.
- The hands don't always look visually aligned. For example, on startup, go straight to using the number keys to jump the hands. They seem a bit off in horizontal placement.

Also - let's have the orange cueing arrows disappear if you use any of

[2020-06-13 13:47] emily-phet commented on #9
@zepumph I'd love to hear the staccato sounds with the pitch change, but at the moment (without that in place), i like the last option (pluck against drywall) the best. It has just enough of a natural feel to not sound like it could be an error indicator (which the ploink and thoink have a little of).

[2020-06-13 13:57] emily-phet commented on #42
We discussed this in detail in last Tuesday's design meeting.

Multiple concerns were brought up, including:
- not wanting to overwhelm the existing visual cueing for a more subtle detail
- not wanting to use color alone for visual cueing
- potential issues with introducing new colors, what happens in the transition between colors? In the original bar chart version, colors between pink and green w

[2020-06-13 13:57] #42 closed

[2020-06-15 17:58] emily-phet commented on #32
Adding a second screen, which focuses on custom ratios - see #58.

[2020-06-15 17:58] #32 closed

[2020-06-15 18:05] emily-phet commented on #57
Note to self - planning to bring up general color refinements in an upcoming Thursday design meeting.

[2020-06-15 18:21] emily-phet commented on #14
Note on priority:
@zepumph - the feedback on fitness seems a little buggy of late, as you're working through changes to tolerance. We'll need this to be at least in a stable consistent place (if not the final state) before interviewing again.

@Brett - If you haven't scheduled interviews yet, can you please check in directly with @zepumph about this tolerance issue, and depending on how much time

[2020-06-15 19:26] BLFiedler opened #66 "Second round of RaP interviews - Updated Design + Sounds"
New round of interviews happening shortly to address a multitude of interaction and visual changes and first interviews with proposed sound design.

1.) Is there tolerance where we want it to be? I'll talk with @zepumph about the logistics, but we want to make sure our choice of default tolerance feels good for exploration and continuous movement (and that there are no glitches).

2.) Do we want t

[2020-06-15 21:09] jbphet commented on #63
I have a number of thoughts on this.  First off, I don't think the staccato sounds should be fading out.  It sounds quite unnatural to me, and I suspect that others will hear it the same way.  If a user was using a metal detector, or a Geiger counter, or sonar in a submarine - all examples of things that use periodic sounds to indicate something - the individual sounds are always allowed to play o

[2020-06-15 22:10] zepumph commented on #63
I am only discussing the success sound. Not the individual notes that get more frequent as the ratio get's more correct. I have a separate sound generator for the success sound that the fading logic applies to.

Thanks for the feedback on library-level support. I see two paths forward: decide that fading isn't needed, or build out a simple timer in the soundGenerator that can execute independently

[2020-06-15 23:01] zepumph commented on #64
Thanks! I fixed this in https://github.com/phetsims/ratio-and-proportion/commit/aa461cf814136dfd610dec44aa3e015b667b8fbe

[2020-06-15 23:01] #64 closed

[2020-06-16 15:38] Ashton-Morris commented on #9
[Here are some non pitched sounds to try. ](https://drive.google.com/drive/u/1/folders/10-kHZgFSu0HEMUfNk0zEn0cvPRK8gFXg)They are more like button or UI sounds, some of which are from our previous UI tests.

non-melodic-indicator-1.wav
non-melodic-indicator-1-002.mp3
non-melodic-indicator-1-002.wav
non-melodic-indicator-1-001.mp3
non-melodic-indicator-1-001.wav
non-melodic-indicator-1.mp3

[2020-06-16 17:47] BLFiedler commented on #66
2.) Fine as is. Test full sim.

4.) We can focus touch enabled - one or two phone uses would be fine, but should try to get more tablet usage.

[2020-06-16 18:39] zepumph opened #67 "Toggling global mute on then off breaks ratio sounds"
This includes the staccato notes, and the choir "velocity" sound. Tagging #9.

[2020-06-16 19:04] zepumph commented on #14
Today @BLFiedler and I saw that the iPad app written by collaborators has a static tolerance that looks very nice for all ratios. It isn't based on the ratio, but instead is always a certain number of grid lines above and below. I'll look into trying to do that, and if not, then we will, at the very least,  need to alter how the choir success sound plays.

[2020-06-16 20:33] zepumph commented on #14
In the above commit. I made the tolerance algorithm exactly the same as the "easy" version of the collaborator app. To calculate fitness, it takes the difference from the current left value and the "desired" left value. Thus, at the default of `.1`, the fitness will be zero on startup after moving the left value up to 5, or down to 3.

@BLFiedler please review with the following thoughts:

* .1 ak

[2020-06-16 22:41] zepumph commented on #63
I added two potential TODOs tagged to this issue.

[2020-06-16 22:42] zepumph commented on #9
From sound design meeting today:

- [ ] implement the variation in TODOs in StaccatoFrequencySoundGenerator
- [ ] Include a way to have marimba tone with frequency modulation but NO pitch modulation, for interview comparisons
- [x] Discuss with @jbphet about how to handle added code to MultiClip.js

[2020-06-16 23:32] zepumph commented on #63
Here is a patch that listens to when the ratio is no longer being interacted with, and tries to stop the success sound so that it can start again the next time to click on it. It doesn't yet work though because it seems like there is a race condition between the `isBeingInteractedWithProperty` and the `step` function, and it seems like there is one more frame after the logic in the Property listen

[2020-06-16 23:34] zepumph commented on #9
Alright, I think that I got to everything we discussed today during sound design meeting. Here is a version with the "random mix" of sounds for staccato by default, and also an option to use the marimba. When on the marimba sound, the pitch won't modulate.

https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.27/phet/ratio-and-proportion_en_phet.html

[2020-06-17 19:50] BLFiedler opened #68 "Make Grid Range control on screen 2 appear only when numbered grid is selected"
If possible for interviewing, can we make the grid range control ( 0 to 10, 0 to 20, 0 to 30) only appear when we have Numbered Grid selected?

I think there may be more discussion about the presentation of this control, but I think at a base minimum having it hidden when the numbers are hidden will prevent confusion.

![image](https://user-images.githubusercontent.com/47331395/84943354-7c4f0c80-b

[2020-06-17 20:23] BLFiedler commented on #66
1.) @zepumph updated the tolerance function. Currently it behaves more similarly to Dor's MIT app which is more reliant on the physical dimensions of the bars. Right now you'll get feedback generally around 40% of the screen (2 grid lines on either side). This felt fine testing on an iPad.

3.) Random pitch plucking is default - can try marimba (no pitch modulation) after to see user preference.

[2020-06-17 21:46] zepumph commented on #66
Implemented above. The spacing is a bit funny, but I agree it is better for this round of interviews.

https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.28/phet/ratio-and-proportion_en_phet.html

[2020-06-18 01:17] zepumph commented on #68
Oops, wrong issue. I addressed it in https://github.com/phetsims/ratio-and-proportion/commit/6dce1e9e1f6ab260f0771d7faca48fb1405bdd0f, see https://github.com/phetsims/ratio-and-proportion/issues/66#issuecomment-645642600

I felt like this was weird with the spacing  when hidden. I foresee, like you mentioned, that this is good for interviews now, but may need more design time.

[2020-06-18 01:39] #68 closed

[2020-06-18 01:40] BLFiedler commented on #68
Looks good. Thanks, Michael!

[2020-06-18 17:10] BLFiedler commented on #14
We should bring this to everyone and see how it feels to them. I'll add the latest dev link to the slack channel and ask folk to try it ahead of Tuesday's meeting and see if anyone has thoughts.

[2020-06-18 17:32] BLFiedler opened #69 "Change visual in-proportion feedback to match auditory feedback"
@emily-phet  I'd like to think about altering the visual display to more closely match the auditory  display in representing perfect fitness (in proportion). I think the auditory display will work fine to cue visual/nonvisual users with no hearing impairments, but I am imagining deaf & HOH users or simply users who don't want the sound on may have more difficulty pinpointing the perfect ratio as i

[2020-06-18 21:10] BLFiedler commented on #67
I'm not sure if it's related, but the interviewee I just finished up with was using an iPhone X and Safari and we could not get sound to play at all on dev 28.

[2020-06-18 21:32] BLFiedler commented on #69
Quick thought: if we move forward with this, the sound for success is transient. Unclear if visual indicator should also be transient or just "TRUE" when in proportion.

[2020-06-19 00:30] zepumph commented on #69
Today during design meeting, @kathy-phet had a fun idea of changing the hand to a "thumbs up" when the ratio is perfect. This is potentially a nice balance because it could be quite subtle, and could occur without altering eye tracking results. It is also complementary with the "one shot" type of feedback that description and sound provide when in that state.

[2020-06-19 00:41] zepumph commented on #55
Today during design meeting, we got feedback on the grid ratio buttons:

@amanda-phet offered to clean up the icons a bit. She wanted to make them have transparent backgrounds, and to make them a bit less "fuzzy" for the size that we have the buttons at right now. @amanda-phet the ai file is https://github.com/phetsims/ratio-and-proportion/blob/master/assets/Gridlines.ai

[2020-06-19 00:46] zepumph commented on #57
Today during design meeting:
* We decided the bars when no grid lines are visible should be the same color gray as the grid.
* We diced that the gray color of the grid lines and units would change with the fitness, so that the dark green background will have darker grey lines on them.

I'm sure there are other color polishing steps to get to, but I'll assign myself for now.

[2020-06-19 00:56] zepumph commented on #58
During today's design meeting, much of the discussion centered around the second screen, so I will put most of the topics here. We decided to do the following:
- [ ] Increase the size of the number spinners
- [ ] Decrease font size of the ComboBox and label
- [ ] Make the accordion box corner radius match other buttons, use number-line-operations as an example.
- [ ] Same with accordion box margin

[2020-06-19 00:58] zepumph opened #70 "Continuity of UI between screens"
Today during design meeting, we discussed two pixel polishes to help with continuity between the two screens:

* The width of My Challenge on the 2nd Screen should be the same width as the challenge combo box on the 1st Screen.
* The Grid scene selection buttons should be in the same position between screens.

I won't do anything here until I get feedback or the go-ahead from @emily-phet.

[2020-06-19 01:30] BLFiedler commented on #69
I will say I am becoming a little more lukewarm to this entire idea the more I think about how distracting it may be. Let's see how interviews progress.

Just to add another idea that it would be a much more subtle adjustment. I sketched out the way we currently change the gradient as the right hand moves through the proportion vertically and offer up another method that may cue with just a small

[2020-06-19 23:32] zepumph commented on #9
Next design meeting it would be nice to take a quick look at the layering done in the c major sin waves. I doubt we will change our strategy now, but it sounds pretty nice no matter.

[2020-06-19 23:33] zepumph commented on #9
We also never discussed @Ashton-Morris's non-melodic sounds. Otherwise, I have done all for this issue that I can right now. Unassigning.

[2020-06-20 00:48] zepumph commented on #57
Implemented above.

I have to say, I Really like the interpolating the gray to dark gray. It feels very natural. I hardly notice it, except that I not longer experience contrast issues. Please review @emily-phet.

[2020-06-20 01:04] zepumph commented on #67
Hey. I think I will need some help on this from @jbphet. I tried to check the enabled/fullyEnabled status of everything all the way down the line, and I saw nothing suspicious. I logged to make sure that everything seemed fully enabled:

* soundManager.enabledProperty
* ProportionFitnessSoundGenerator.fullyEnabledProperty
  * isBeingInteractedWithProperty
  * StaccatoFrequencySoundGenerator.fullyE

[2020-06-20 01:08] zepumph commented on #58
I scaled the number pickers by 1.2 (they were scaled at 1 before). Let me know if it should be larger.

[2020-06-21 13:10] emily-phet commented on #58
Yes - let's set the width of the grey box to be the width of the radio button group. Then, let's scale the hands/pickers up so that they fill that box, leaving a moderate amount of padding between and to the box edges.

[2020-06-21 13:13] emily-phet commented on #55
@amanda-phet Please refine these icons however you think best.
One question about transparent background, did you mean you thought the success feedback color should show through, or did you mean transparent background in a different way?

[2020-06-21 13:15] emily-phet commented on #69
@BLFiedler Let's talk about this on Tuesday - perhaps @zepumph can show us this in action, and we can tweak live.

[2020-06-21 13:26] emily-phet commented on #57
@zepumph - I'm looking at the latest on phettest, and the black bars are still black, so I'm not seeing these changes (even after emptying caches, etc.).

[2020-06-21 13:42] emily-phet commented on #66
Closing this, as it seems interviews are in progress, and sim version is good to go for them.

[2020-06-21 13:42] #66 closed

[2020-06-21 13:49] emily-phet commented on #9
To discuss:

- [ ] Ashton's non-melodic sounds.
- [ ] @zepumph layered C major sin waves (if not for this sim, would be interesting to consider mentioning this for Waves Intro graph challenge.
- [ ] A version of the sim without tempo being used - so just movement results in single sound feedback. @zepumph - can you make a version where there is no repetition of sounds as you're interacting? I like

[2020-06-22 15:37] amanda-phet commented on #55
@emily-phet Here is what I'm seeing:
![image](https://user-images.githubusercontent.com/7852916/85306411-ad498b80-b46b-11ea-99d6-db5bfe237ab9.png)

The eye has a transparent background, but the other icons have a white background, so it makes for a strange white box when the button isn't selected. I can easily export the icons to have a transparent background instead of white. I was also thinking

[2020-06-22 15:43] amanda-phet commented on #55
@zepumph can you try integrating these icons and see how they look?

![numbered-grid-icon](https://user-images.githubusercontent.com/7852916/85307219-dcacc800-b46c-11ea-8845-38199ddfe386.png)
![grid-icon](https://user-images.githubusercontent.com/7852916/85307221-dd455e80-b46c-11ea-8228-00202d26f738.png)

[2020-06-22 17:12] zepumph opened #71 "Add zoom/mag feature to this sim"
From A11y planning meeting today, this was recognized as a feature we want to publish with the sim. It would be good to add this sooner rather than later so that it can be worked into the iterative design/dev process from here.

[2020-06-22 17:44] zepumph commented on #55
Added above. Thanks for the quick turnaround. I really like the transparent backgrounds.

[2020-06-22 17:47] amanda-phet commented on #55
They look good to me as well! I will put my changes to the ai file in assets.  Then I imagine this issue can be closed.

[2020-06-22 18:07] zepumph commented on #62
Right now, we only have a rough way of triggering sound to play with alternative input. The sound plays when there is focus on either hand, or on the composite ratio. You won't get any sound when fitness is 0, but you will get sound otherwise. It would most likely be good to open a  new issue to discuss this further if the current way isn't right.

They seem aligned to me. I think there is a bit o

[2020-06-22 18:46] zepumph commented on #57
Hmmm. I'm not sure what was happening there! I see it up on phettest now, can you try again? Here is also a dev version I just made, https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.29/phet/ratio-and-proportion_en_phet.html

[2020-06-22 18:51] zepumph commented on #57
Hmmm. I'm not sure what was happening there! I see it up on phettest now, can you try again? Here is also a dev version I just made, https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.30/phet/ratio-and-proportion_en_phet.html

[2020-06-22 19:07] zepumph opened #72 "Fix nav order and Play Area/Control Area split"
Since https://github.com/phetsims/ratio-and-proportion/issues/58, this has gotten off, and it would be good to work out the right order.

[2020-06-22 19:42] zepumph commented on #58
In the above commit I did this, but it is half baked right now because I haven't yet made the challenge selector UI the same width on both screens. I'll do that now.

[2020-06-22 20:27] zepumph opened #73 "Grid Range combo box disabled state"
From https://github.com/phetsims/ratio-and-proportion/issues/58#issuecomment-646377333:

I pinged the dev channel, and this seemed to not be a normal design. In that issue, I went ahead and linked up the ComboBox enabledProperty accordingly, but I thought I would create this issue to see if more steps need to be taken to actually hide the selected view, and if so, then presumably set the range bac

[2020-06-22 20:28] zepumph commented on #58
I went with "Range" for now, and I think that once the spacing of controls is better, this will be clearest.

[2020-06-22 22:02] BLFiedler commented on #14
In current iteration (dev28), tolerance algorithm gives success at 0L and 0R for all challenges. This may be unavoidable with a more static tolerance? It's had interesting repercussions during interviews, but I think if we do not change this behavior, we should consider Emily's issue at #65.

One participant used the success at zero to confirm their multiplicative reasoning (0 x 2 is green for cha

[2020-06-22 22:09] zepumph commented on #58
Everything from the above checklists has been done. I marked this for design meeting to determine if we like the name "Range" for the combo box label on the Create screen. Otherwise everything is ready for review.

[2020-06-22 22:11] zepumph opened #74 "Can select disabled Combo Box from PDOM"
I looks like `ComboBox.enabledProperty` is only changing pickability, which works for mouse, but doesn't prevent a11y listeners from firing on the element. @jessegreenberg and I discussed this on slack and decided to pair on this tomorrow.

It may be slightly related to https://github.com/phetsims/sun/issues/462

[2020-06-22 22:15] zepumph commented on #72
Steps for this issue:

1. Solidify the UI components for each screen (I think this is done, but would be good to double check with a designer)
2. Get a list of what elements are in the play area vs control area (likely this will be done in the design doc.
3. implement the set order according to the design.

Over to @emily-phet until this is ready for implementation.

[2020-06-22 22:21] zepumph commented on #71
On hold until https://github.com/phetsims/chipper/issues/956

[2020-06-22 22:27] zepumph commented on #69
I added this in the above commit. In its current state I think it is jarring and distracting. I think it can be fixed though by tweaking the colors. I am no color designer, so I didn't spent long on that part.

By tweaking some colors in https://github.com/phetsims/ratio-and-proportion/blob/master/js/common/view/RatioAndProportionColorProfile.js#L21, we should be able to make this better. I'm exci

[2020-06-23 13:31] emily-phet commented on #58
Getting close! A few tweaks to start - the reset all button needs to always be bottom right, and on the Create Screen, the font of the "My Challenge" needs to be larger while the "Range" and combobox need to be smaller. Essentially "My challenge" needs to stand out far more than the range combobox.

[2020-06-23 13:33] emily-phet commented on #73
Not sure I understand the question for me. Perhaps we can talk in the meeting later today about this?

[2020-06-23 13:34] emily-phet commented on #14
Seems like we should just disallow this - if 0L and 0R = no success feedback.

[2020-06-23 13:36] emily-phet commented on #55
@amanda-phet Thanks!

[2020-06-23 13:36] #55 closed

[2020-06-23 13:42] emily-phet commented on #57
I see it now - all looks good!

Let's circle back around to color polishing a bit later. For now, I think this is great improvement.

[2020-06-23 17:16] zepumph commented on #58
From today's design meeting, we didn't mind "Range," and will go with that for now.

[2020-06-23 17:30] zepumph commented on #73
From today's design meeting, we do want to replace the disabled value of the combo box with a line. In the PDOM, we need to see what will work. We may be able to just have blank text for the button, but we will for sure need make the html button be disabled.

[2020-06-23 17:51] zepumph opened #75 "Increase touch areas for ratio hands"
From today's design meeting. This will improve the ability to see the white circles on touch devices using fingers.

[2020-06-23 17:53] zepumph commented on #69
I demoed this as part of the design meeting today, and you can play with it here: https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.31/phet/ratio-and-proportion_en_phet.html

It wasn't totally clear where we should go from here. Perhaps we can discuss this at the meeting later today.

[2020-06-23 17:59] zepumph opened #76 "Move white circle on the hand"
During design meeting today, we decided to move the white circle up on the hand. Ideally the center of the circle would be on the same vertical line as the top of the thumb.

[2020-06-23 18:01] zepumph commented on #69
I misunderstood. Actually we made decisions:

- [ ] Instead of having such a large range for the jump, the tolerance for that "perfect" ratio color should be much smaller.

[2020-06-23 18:24] zepumph commented on #58
@emily-phet, your suggestions were implemented above. The fonts were all 18pt. Now the range is 16, and the "My Challenge" is 22. Please review.

One more piece of pixel polishing here. Right now the position of the UI controls is based on a distance from the ratio. It would be a bit simpler, and potentially cleaner looking, if they were instead closer to the edge. What do you think about right ju

[2020-06-23 18:28] zepumph commented on #69
Implemented above. The threshold used to be .1 on either side (1/10th of a grid line), now it is .025. This felt like a small number that was still attainable. I did not review how that worked with the bimanual interaction/sound.

I also feel like we haven't reviewed the colors themselves, but perhaps that is more for #57.

[2020-06-23 18:34] zepumph commented on #14
As an experiment, and because it was simple, I added logic such that if either value is less than half a grid line, the fitness is zero. This makes for some weird jumps, but I think it makes it clear that we don't want users poking around down there. I'm happy to revert this, but it felt like a minor improvement after hearing how 0 played into interviews. Let me know what you would like.

[2020-06-23 19:07] jbphet commented on #67
The problem lies with this code in the constructor of `ProportionFitnessSoundGenerator`:

[code]

It's actually kind of a fluke that `ProportionFitnessSoundGenerator` generates any sound at all, because the output level is never increased after the code that tries to turn it down.  The only reason that it works until the first time the sim is muted is that two operations are occurring to set the o

[2020-06-23 19:18] jbphet commented on #67
I added the call to `cancelScheduledValues`, and now the 2nd call for setting the output level is the one that works.  This is good, but as expected, it caused `ProportionFitnessSoundGenerator` to never generate any sound, so I commented out the problematic code in the `ProportionFitnessSoundGenerator` constructor and marked it with a TODO for @zepumph.

[2020-06-23 19:42] zepumph opened #77 "UI sound when clicking the title bar of the AccordionBox?"
Right now we only get a sound from the push button. I think this may be our first accordion box in a sound designed sim. Over to @emily-phet to decide what to do.

[2020-06-23 20:35] zepumph commented on #74
This has been solved by https://github.com/phetsims/scenery/issues/1056. Note also that now the button has `aria-disabled` added to it when disabled.

[2020-06-23 20:35] #74 closed

[2020-06-23 21:23] zepumph commented on #9
Discussion from design meeting today:

* It would be good to make some decisions, to help us focus on a prototype path
* Perhaps we can experiment with a DMZ of sorts, in which the staccato success not only has to leave its range, but also pass through a DMZ threshold surrounding it in order to then be able to trigger the staccato success again.

[2020-06-23 22:13] BLFiedler opened #78 "No sound playing on iPhone and Safari"
First two interviews on iPhones (latest updates as of 6/19) did not play any sounds (UI or Sonification) while using default Safari. Refreshing the page did not fix. Toggling sound did not fix.

@jbphet indicated it's probably **not** related to #67 . I do not have an iPhone to test this with.

[2020-06-23 22:16] zepumph commented on #67
That is so silly! That ouput level call was from when I copied the beginnings of this file from ContinuousPropertySoundGenerator.js. What a fun bug! Thanks for the fix. I appreciate it. Closing

[2020-06-23 22:16] #67 closed

[2020-06-23 22:41] zepumph commented on #78
I don't have an iPhone either. @jbphet, can you speak to if you have noticed this problem before? Perhaps we could publish a few other sims, maybe even a dev version of Tambo, and try it out on some iPhones to see if it is reproduceable.

[2020-06-24 00:45] zepumph commented on #76
This is what master now looks like. @emily-phet please review:

![Uploading image.png…]()

[2020-06-24 00:46] zepumph commented on #76
I think it looks a bit weird. Maybe it should be a bit bigger?

[2020-06-24 00:52] zepumph commented on #75
I increased the width and height of the touchable area both by a factor of two. Here is what the sim looks like with `?showPointerAreas`. Please review.

![image](https://user-images.githubusercontent.com/6856943/85483648-b6248500-b571-11ea-90de-b5fc107c76a8.png)

I thought it best to be on the edge of "too much" dilation rather than the other way, just to experiment. Let me know if you want me to

[2020-06-24 02:10] zepumph commented on #73
I was able to do this for the visuals of the combo box, in which the text is swapped out for a horizontal line when the grid is not shown. Unfotunately, there wasn't an easy way to update the PDOM button text in the same way. Here is a patch to the combo box in `sun/`  that I thought would be ugly but work, but unfortunately it didn't even work fully. This is because `ComboBoxItem` is really just

[2020-06-24 02:10] zepumph commented on #73
<details>

[code]

[2020-06-24 02:11] zepumph commented on #73
@emily-phet, can you please review the visuals, and see if anything needs to be tweaked for that?

[2020-06-24 17:38] emily-phet commented on #76
Agreed - it looks good, but a little odd. Can you increase the size of the circle by about 20%, and let's see how that looks. Regardless, I think that whatever it ends up looking like will be good for awhile. We can do another round of visual tweaking once we have this round done, and a little time has passed so we can get used to the new changes.

[2020-06-24 18:50] jbphet commented on #78
@BLFiedler - Can you record which dev version or versions of the sim were being used when this problem occurred?  Thanks.

[2020-06-24 19:35] BLFiedler commented on #78
All interviews were done on 1.0.0-dev28: https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.28/phet/ratio-and-proportion_en_phet.html

[2020-06-25 16:41] emily-phet commented on #73
@zepumph Thanks for the update re combobox. Visually it looks good. Hopefully there's a straightforward solution for the non-visual side of things that emerges in discussion w/ @jessegreenberg.

[2020-06-25 16:43] emily-phet commented on #75
@zepumph The touch area looks great for the hands.

Was there a formal decision to have the touch area for accordion boxes be just the plus/minus sign box? If not, let's increase the touch area for that to include the entire heading of the accordion box.

[2020-06-25 16:44] emily-phet commented on #76
Looks good! Let's leave it like this for now.

[2020-06-25 16:44] #76 closed

[2020-06-29 18:13] zepumph commented on #71
When I added this to the sim, I found that it completely co-opted the "bi-modal" interaction on a touch screen when trying to move both ratio hands at once. @jessegreenberg is there a way to "opt out" of the pan zoom listener for specific listeners? I think that we will need to code around this interaction somehow. Let's discuss tomorrow during a11y dev meeting!

[2020-06-29 18:13] zepumph commented on #73
Assigning @jessegreenberg so that he is aware of the discussion to come for tomorrow!

[2020-06-29 18:21] zepumph commented on #71
Note that the slider trouble described in https://github.com/phetsims/ohms-law/issues/162#issuecomment-651282523 is the same thing when trying to drag a ratio hand around when zoomed in. I think we will need to work on that interaction too.

[2020-06-29 18:23] zepumph commented on #70
This has been fixed as part of the large design checklist in #58.

[2020-06-29 18:23] #70 closed

[2020-06-29 18:29] zepumph commented on #75
That already exists. You can open the accordion box by clicking anywhere on the title, it just doesn't show up in that above visual because it isn't a specifically enlarged area. I'm going to close this. Please reopen if there is anything else.

[2020-06-29 18:29] zepumph commented on #77
Perhaps this is an issue for @jbphet.

[2020-06-29 19:58] zepumph commented on #9
I added a time-consistent staccato sound option above, and made it default. There are two query parameters to control it. The first has a use in the frequency modulated version also (staccatoMinRepeatTime), and in this mode it is the min time between to sounds, regardless of if the fitness changed enough to trigger that sound. The second is what the fitness change threshold is (fitnessChangeThresh

[2020-06-29 21:33] jbphet commented on #78
dev.28 works fine on my personal phone, which is an iPhone 8 running iOS 13.5.1, which is the latest according to support.apple.com.  That's the only iPhone I have access to at the moment, @KatieWoe - can you please see if you can duplicate this on any devices that are available to you?

[2020-06-29 22:33] KatieWoe commented on #78
iPhone 7 iOS 13. I had sound work for me, but the ringer needed to be on. If the phone was on silent then the sim sound would not play. I believe this is the case for other sims as well. Was the phone being used on silent?

[2020-06-29 22:56] BLFiedler commented on #78
Ah! That may have been it. I had them set their phones to Do Not Disturb to avoid recording any personal information. So, you think even though they turned their volume up that that may have prevented them from hearing sim sound?

[2020-06-29 22:59] KatieWoe commented on #78
Yes. The ringer silences other sounds as well. Including sim sounds. It does it other websites as well, so I'm not sure what a solution would be. @jbphet would be more familiar.

[2020-06-30 01:38] BLFiedler commented on #78
Hm. Strange design choice. If it's baked into the OS, I suspect that's something we need to watch out for in interviews, but let me know if there is some sort of override @jbphet, otherwise feel free to close.

[2020-06-30 12:46] emily-phet commented on #77
@Ashton-Morris can you put together a few options?

[2020-06-30 13:12] emily-phet commented on #69
This looks good to me - I'd like to check in that we're all still feeling good about this approach in today's design meeting. No changes from at the moment.

[2020-06-30 13:19] Ashton-Morris commented on #9
[Here are some new success sounds.](https://drive.google.com/drive/u/1/folders/10-kHZgFSu0HEMUfNk0zEn0cvPRK8gFXg)

- sucess-indicator-elec-piano-2w.mp3
- sucess-indicator-elec-piano-2w.wav
- sucess-indicator-elec-piano.mp3
- sucess-indicator-elec-piano.wav
- sucess-indicator-eastern-plucked-instrument-2.mp3
- sucess-indicator-eastern-plucked-instrument-2.wav
- sucess-indicator-eastern-plucked-inst

[2020-06-30 13:19] emily-phet commented on #58
@zepumph
I like the font sizes. Now the sizes of the accordion box header and the combobox need a little corresponding tweaking. Please:

- [ ] Decrease the size of the combobox by 10-20%. It looks disproportionately large compared to the "Range" font. We want it to look "a bit small", but not "that's so small I'm going to have a hard time tapping it successfully with my finger" small" - if that m

[2020-06-30 13:22] #75 closed

[2020-06-30 13:27] emily-phet opened #79 "Changes to layout on mobile?"
Noticed that in portrait mode on mobile, controls can look funky (too wide). Can we consider a different layout, perhaps with radio buttons vertical rather than horizontal, etc.?

[2020-06-30 13:42] emily-phet commented on #59
Alternately, if no staccato ratio fitness sound will be heard, perhaps no pickup/drop sound should be heard at all.

[2020-06-30 13:51] emily-phet opened #80 "sound static-y on safari"
Sound has a static-y, pop-y quality when using safari browser for me (EM). This is not new, it's always had this.

[2020-06-30 13:55] emily-phet opened #81 "visual cue for custom keyboard interaction"
When navigating with the keyboard there is a custom interaction (allowing the two hands to be controlled simultaneously), and there is special jump keys (numbers and letter "j"). We need to cue at least the two hand control with a visual display when arrived at two-hand control situation, for sighted alternative input users.

Not sure if this should also include a cue of the jump keys, or if those

[2020-06-30 13:57] emily-phet opened #82 "design keyboard help dialog"
this sim has many different UI features:
- sliders
- custom two-hand interaction
- custom jump keys (numbers and letter 'j')
- radio button group
- accordion box
- combobox
- number spinner

Once we complete at least one reasonably successful round of interviews with screen reader users, we need to design the keyboard help dialog.

[2020-06-30 16:59] zepumph commented on #58
By decreasing the font, the padding also increased, let me know if you want more than that.

[2020-06-30 16:59] zepumph commented on #58
![image](https://user-images.githubusercontent.com/6856943/86154808-0d65b080-bab0-11ea-9af0-705c1cafdafd.png)

[2020-06-30 18:47] zepumph opened #83 "Tolerance values - list of tolerance variables and addressing some tolerance changes"
- [x] Below a ratio value of .05 (perhaps less later) or so, don't allow a "success" feedback (ding or dark green), but still allow tolerance fading.
- [x] When right hand is 0, it should be white.
- [x] There is a "width" of dark green feedback when you are selecting a ratio (currently .025). When you do this with both ratios (bimodal), then widen this threshold, perhaps to .1.
- [x] In proportio

[2020-06-30 19:38] zepumph commented on #73
@jessegreenberg and I discussed a few ways to add this logic into ComboBox.js:
* We could add `disabledComboBoxItem` which is displayed when the combo box is disabled
* We could add support to ComboBoxItem to have different enabled/disabled content and tell the button to recompute that.
* ComboBoxItem could run a Property, and ComboBoxButton could listen to changes in ComboBoxItem and update accor

[2020-06-30 20:50] jbphet commented on #78
I'm glad we figured that out.  I just tested it on my phone and as soon as I flip the switch to silent mode the sound stops and as soon as it is switched back the sound resumes.  There is no override that I know of, and I doubt it's possible.  Or desirable for that matter.  Closing.

[2020-06-30 20:50] #78 closed

[2020-06-30 21:20] zepumph commented on #80
I will test this on my iPad

[2020-06-30 21:22] jessegreenberg commented on #73
Good luck! Removing my assignment.

[2020-06-30 21:28] zepumph commented on #83
Today during sound design meeting, we discussed implementing Hysteresis only during "Moving in Proportion" for visual/sound, but felt like it is more complicated than the above strategy of widening the window when the choir sound is playing.

[2020-06-30 21:30] zepumph commented on #83
- [ ] Choir sound fitness threshold is likely too big (.5). We should instead try to have it .3 around fitness, or a query parameter if it seems hard.

[2020-06-30 22:17] zepumph commented on #9
From today's sound meeting:

- [ ] Remove the sound mode added last week that didn't increase frequency as you go closer to in Proportion.
- [ ] Discretize the tones to semitones.
- [ ] ~Investigate https://github.com/phetsims/tambo/issues/114 as an alternative to needing many different notes of the same sound from @Ashton-Morris to get each to have the same length (since we modulate playback rate

[2020-06-30 22:50] jbphet commented on #77
This was discussed in today's sound design meeting, and we decided to use the common general open and close sounds, at least for now.  I'll take care of this.

[2020-07-02 00:40] zepumph commented on #69
We discussed this, and decided to implement what is outlined in https://github.com/phetsims/ratio-and-proportion/issues/83. Closing this one, please reopen if you feel differently.

[2020-07-02 00:40] #69 closed

[2020-07-02 20:45] zepumph commented on #73
@emily-phet please review the look and feel in master now. Currently the disabled button has an attribute saying it is disabled, but it doesn't have any label for the button:

Disabled:
![image](https://user-images.githubusercontent.com/6856943/86407636-dfc06900-bc61-11ea-91be-b8794b365e0c.png)

Enabled:
![image](https://user-images.githubusercontent.com/6856943/86407678-f36bcf80-bc61-11ea-95e5-2e

[2020-07-02 20:46] zepumph commented on #73
I wonder if that should be blank, or say something.

[2020-07-02 21:03] zepumph commented on #71
@jessegreenberg and I paired on this, and we made good progress, see https://github.com/phetsims/ohms-law/issues/162 for commits about DragListener support and a few other types. We still need to figure out how to handle RatioInteractionListener. The recommended way to support dragging is by calling a function on the Pointer that triggered the event. With KeyStateTracker, we only get DOM events, a

[2020-07-02 21:26] zepumph commented on #71
The above strategy was not ideal. Instead I decided to pull logic out of the keyStateTracker, and into the direct keydown listener. That way there was access to the SceneryEvent (and the Pointer). I added zoom mag on master also, because it was looking pretty good. I'm going to close this issue, and new problems that arise from zoom/mag can get their own issues.

[2020-07-02 22:10] zepumph commented on #9
Now I am just waiting on sounds from @Ashton-Morris. Unassigning.

[2020-07-03 20:04] emily-phet commented on #73
Thanks @zepumph!

Let's let @Matthew-Moore240 take the lead on answering this latest question https://github.com/phetsims/ratio-and-proportion/issues/73#issuecomment-653212930, with some help from TS if needed.

[2020-07-03 20:21] emily-phet commented on #14
Based on our meeting on June 30, I'd like to proceed with the following:
- The lowest point either hand can be located and result in a fitness of 1 is at the hand location 0.5. For hand locations below that point, fitness can be less than 1 and non-zero (showing non-success shades of green), but cannot show success.

Though I'm asking for implementation of this new approach, I'd like to acknowledg

[2020-07-03 20:27] emily-phet commented on #58
@zepumph I think this looks great!
Can you please also:

- [ ]  right align the range text + combobox. I also think it would look nice for the combo box alone to match exactly the width of the gridline and numbered grid radio button just above it.
- [ ] Arrange all so that the reset all button was aligned with the right alignment of the controls (radio buttons/comboboxes, etc.). I have some recoll

[2020-07-03 20:28] emily-phet commented on #73
@zepumph @Matthew-Moore240
Actually - I'd like to close this issue, so I'll make a note of the description question for combobox, and we can discuss on Tuesday, and open another description-specific issue if needed.

[2020-07-03 20:39] emily-phet commented on #72
Nav order should be as listed in the nav order table in the description design doc.

Everything sim specific is in the play area *except* the reset all button.

[2020-07-03 20:59] emily-phet opened #84 "artwork for sim screen buttons"
Let's put ideas here - based on complexity will ask if Amanda/Amy/Cheryl can take on creating the images.

**Please take 10 minutes or less before Tuesday 11am MT, and add comment with any suggestions or thoughts.**

- [x] @zepumph
- [x] @BLFiedler
- [ ] @Matthew-Moore240
- [x] @terracoda
- [x] @jbphet

My thoughts so far:

Explore Screen:
- Two hands side by side
- One hand only

Create Screen:
-

[2020-07-03 21:07] emily-phet commented on #79
@BLFiedler - assigning to you in case you have suggestions on this. If not, no problem

@zepumph - can we do this? So below a certain width the controls change such that at minimum the radio button group is arranged vertically rather than horizontally? Not sure if there is anything else that can be done to narrow the other controls...not sure we want to go down this path, but just for interests sa

[2020-07-03 21:21] emily-phet commented on #71
@BLFiedler Can you take a good run through the sim, and see if you notice any issues re zoom?

[2020-07-06 01:43] BLFiedler commented on #71
Ran through on an iPad in Safari and Chrome. Zoom feature works everywhere except when either the Left, right, or both hands are picked up. e.g. you cannot have your thumb on the left hand and try to pinch with your index to activate zoom or separate hands.
So, seems to all check out just fine!

[2020-07-06 01:54] BLFiedler commented on #84
I like the idea of keeping it to the imagery we already use in the simulation, so as simple as two hands works for me. Side by side or slightly offset? Green background or white background? I like two hands more than one since the key is the relationship between the two hands.

Since you can always see the Screen 2 artwork, we'd perhaps want to be careful what the displayed symbols are on the two

[2020-07-06 02:10] BLFiedler commented on #79
I'm not sure I see this. Everything looks pretty small on my end (Chrome, Android)

![image](https://user-images.githubusercontent.com/47331395/86548966-76f41d80-befb-11ea-9a27-174cf68dc85b.png)

[2020-07-06 18:49] zepumph commented on #72
Implemented above.

Dev note: I ran into trouble with this because I was mutating like `pdomPlayAreNode.accessibleOrder.push()` instead of setting accessibleOrder each time. This ended up not calling `PDOMTree.accessibleOrderChange` because it only mutated the value. This broke the DAG PDOM rules we had in place, and confused me for some time. To help fix this, I wrote a note about the accessibleO

[2020-07-06 19:02] zepumph commented on #84
Screen 1:
Two hands, slightly offset with some color background (not white)

Screen 2:
* Exact same thing as screen 1 but with grid lines/units (I worry about that cueing the issues that @BLFiedler just stated above)
* A hand next to a number spinner. Perhaps a bit confusing
* A hand next to a fraction (not number spinners), sketched out like this:
![image](https://user-images.githubusercontent.co

[2020-07-06 19:02] zepumph commented on #72
I noted in the a11y dev meeting, closing

[2020-07-06 19:02] #72 closed

[2020-07-06 19:16] zepumph commented on #14
The above sounds really good to me! I have it in my working copy, and I realize that I will need to work on https://github.com/phetsims/ratio-and-proportion/issues/83 in correlation with this issue, because it won't be enough to make sure fitness doesn't get to the value "1", but instead we will need to match the success thresholds outlined over there.

[2020-07-06 19:16] zepumph commented on #14
[code]

[2020-07-06 19:18] zepumph commented on #84
I also really like looking at FAMB for context, I like that it uses exclusively views from the sim, perhaps that sim is just lucky that it works out that way so easily:
![image](https://user-images.githubusercontent.com/6856943/86631251-5a4afa80-bf7a-11ea-9b43-4300ee18383a.png)

[2020-07-06 19:38] terracoda commented on #84
I am on board with these ideas, too.

I think @zepumph ideas will work really well with the words we are currently using:

**Explore**
![explore-woth-yellow-arrows](https://user-images.githubusercontent.com/1902116/86632795-69e23780-bfaa-11ea-9c22-451f4ce84d5a.png)

**Explore**
![explore-no-arrows](https://user-images.githubusercontent.com/1902116/86632802-6babfb00-bfaa-11ea-88aa-3428ce8c4957.png)

[2020-07-06 19:55] zepumph commented on #83
I implemented a first pass at the above constants. Next time I work I will review this issue and then implement that patch in https://github.com/phetsims/ratio-and-proportion/issues/14#issuecomment-654418180

[2020-07-07 13:58] emily-phet commented on #79
I think I was just being unclear above. Essentially, the controls do not seem to be our usual "big and friendly" style on mobile, so I'm hoping we can have them adjust for smaller screen sizes.
One thought I had to do that (re-phrasing the same ideas from above), is to have the grid view buttons align vertically rather than horizontal, and to abbreviate the text in the comboboxes so that they can

[2020-07-07 14:12] Ashton-Morris commented on #9
All right @zepumph [here are these files ](https://drive.google.com/drive/u/1/folders/10-kHZgFSu0HEMUfNk0zEn0cvPRK8gFXg)

- marimba-variation-v2-c.mp3
- marimba-variation-v2-c-001.mp3
- marimba-variation-v2-c-002.mp3
- marimba-variation-v2-c-sharp-001.mp3
- marimba-variation-v2-c-sharp-002.mp3
- marimba-variation-v2-c-sharp.mp3
- marimba-variation-v2-d.mp3
- marimba-variation-v2-d-001.mp3
- marimb