[2020-12-08 15:28] emily-phet commented on #166
Agreed, closing.

[2020-12-08 15:28] #166 closed

[2020-12-08 18:22] zepumph commented on #257
Today we talked mostly about why this range end of .05 is different from the NO_SUCCESS threshold in the model (.021). We decided that it should be the same, so I will change this .05 to follow that constant from the RAPModel.

[2020-12-08 18:34] zepumph commented on #248
During today's design meeting, @terracoda mentioned that for description, there are edge descriptions given for these cases when the ratio is locked. See https://github.com/phetsims/ratio-and-proportion/issues/247.

We feel like this should stay as it is for pedagogical reasons. @emily-phet will reach out to our research partner to see if anything should change.

[2020-12-08 18:34] #248 closed

[2020-12-08 19:19] zepumph commented on #247
Today in design meeting, we decided that we only want this if they try to "go beyond" the edge, not on first getting to the min/max edge. I'll investigate!

[2020-12-08 19:38] zepumph commented on #262
@terracoda said that it is correct as is. The object response gets a comma, like `hands, extremely close to challenge ratio`, but the context response (capitalized) doesn't get one, "Hands very close to each other, left on tick mark 2, right on tick mark 4.5."

We are ok with one underlying variable that runs the duplication-testing logic for all input modalities (both hands and individual sliders

[2020-12-08 20:03] zepumph commented on #227
Today @terracoda and I discussed this extensively, mostly we described the complexity of modular mvc coding and why that is challenging for complex description and context responses.

Steps from here:
- [ ] Make the "ratio unlocked" part of the alert assertie
- [ ] Discuss with @jessegreenberg potentially better design patterns for description in these context cases.
- [ ] Potentially @terracoda s

[2020-12-08 20:30] zepumph commented on #263
I encountered this again this morning, even though I don't see it on CT. This patch fixed it, but I'm unsure this is the right way.

[code]

[2020-12-08 23:18] DevonQui opened #275 "Hands are unable to recognize subtle position changes when dealing with small ratios"
**Test device**
MacBook Pro
**Operating System**
11.0.1 Big Sur
**Browser**
Safari
**Problem description**
This is for https://github.com/phetsims/QA/issues/582
When making a proportion of 10:1 (left-hand 10, right-hand 1) I noticed that the sim was unable to pick up on smaller values for a given ratio. For example, when moving the left-hand to 1, I should be able to put the right-hand somewhere a

[2020-12-08 23:59] DevonQui opened #276 "When locking ratio the lower hand is unable to go below 0.5"
**Test device**
MacBook Pro
**Operating System**
Big Sur 11.0.1
**Browser**
Safari
**Problem description**
This is for https://github.com/phetsims/QA/issues/582
When locking the ratio, the lower most hand isn't permitted to go below 0.5 even though the simulation is able to fulfill ratios at numbers lower than 0.5.
**Steps to reproduce**
1. Open the simulation
2.  Click on the Create section
3. Tu

[2020-12-09 00:36] zepumph commented on #262
After making it one variable, it actually had no change in logic, since the both-hands used a lowercase version of the QDR, and individual sliders were capitalized. I don't really think it matters either way, so I made the code that much simpler.

[2020-12-09 00:40] zepumph commented on #245
From the design meeting today, @terracoda reiterated two bugs with the current implementation:

* The distance-progress isn't working when ratio is locked
* When using both-hands, the distance-progress is often (always!?!) backwards.

[2020-12-09 01:51] zepumph commented on #245
This was fixed in https://github.com/phetsims/ratio-and-proportion/commit/65abe5698dbebd6c307309ed5a2cb5a77324fa41 by making sure that we only calculate the distance changed when we create the description. Before it was in a listener and could change multiple times before needing a value of "closer" or "farther", and it would be stale. This should be fixed now.

[2020-12-09 01:54] zepumph commented on #245
@terracoda, I believe that both bugs are fixed. I at least think it is ready for another review. Good luck!

[2020-12-09 01:57] zepumph commented on #276
This was a designed consideration that has to do with how finicky and small the values and relationships can get at the lower end of the range. Also note that over in https://github.com/phetsims/ratio-and-proportion/issues/247#issuecomment-740888170 we decided today that this threshold will get lowered down to .021. Closing

[2020-12-09 01:57] #276 closed

[2020-12-09 02:01] zepumph commented on #275
@emily-phet please watch this video. The first case is below the "no success" threshold, and the second is above it.

@DevonQui et al, you can confirm this behavior by adding `?log` as a query parameter, and noting that when either value is below .021 in the model, then the "in proportion" state cannot be reached.

This is a design consideration if we want to treat this as a problem.

[2020-12-09 14:34] emily-phet commented on #275
I believe this is happening because, at 0-30 gridlines view, having hands at 5 and 0.5 is the equivalent of having a left-hand value of 1.5 and .15 in the 0-10 gridlines view. Below 0.21 in the 0-10 gridlines view does not result in being "in ratio" so this expected.

We could decrease the threshold below 0.21 to address this (to 0.14), but I'm not sure what the full impact of that would be.

@BLF

[2020-12-09 14:46] emily-phet commented on #271
@zepumph I spoke with Amy and Amanda yesterday about my pointer area questions. The first three bullet points above are all good, I understand better now how pointer areas work and what's "typical".

Let's not worry about scaling the pointer area extra for small screen sizes. We've already done a lot more optimizations than normal for sim to address mobile phone scenarios - so let's just role with

[2020-12-09 15:29] emily-phet commented on #268
PhET folks:
Lead Design: Emily B. Moore, Dor Abrahamson
Software Development: John Blanco, Michael Kauzmann
Team: Brett Fiedler, Matthew Moore, Taliesin Smith
Sound Design: Ashton Morris
Quality Assurance: Kathryn Woessner (and many others by the time we're done!)

Here's a starting group of folks - all in alphabetical order except me and Dor - I'll ask how he would like to be listed.
I just sent

[2020-12-09 16:48] KatieWoe opened #277 "CT distance should have changed when this function is called"
[code]

[2020-12-09 17:36] terracoda commented on #262
@zepumph, the labels are still meeting and ready for review. Please let me know when this issue, #245 and #261 are all ready for review :-)

[2020-12-09 17:37] terracoda commented on #261
I'll review when #262  is complete.

[2020-12-09 17:38] terracoda commented on #245
Ok, cool.

[2020-12-09 17:40] zepumph commented on #262
Ready.

[2020-12-09 17:51] terracoda commented on #245
- closer/farther distance progress responses is no working for Both Hands with Lock Ratio checked.
- with the hands unlocked, the Both Hands is getting distance progress responses

[2020-12-09 17:51] terracoda commented on #245
I still need to check with the tick marks, but don't anticipate issues.

[2020-12-09 19:46] emily-phet commented on #268
Updated with info from Ellen and Dor:

Software Development: John Blanco, Michael Kauzmann
Team: Brett Fiedler, Emily B. Moore, Matthew Moore, Taliesin Smith, Dor Abrahamson and the Embodied Design Research Laboratory (UC Berkeley), Ellen Do and the ACME Lab (CU Boulder ATLAS Institute)
Sound Design: Ashton Morris
Quality Assurance: Kathryn Woessner (and many others by the time we're done!)

I'm i

[2020-12-09 19:53] terracoda commented on #245
- the distance progress is working with the tick marks on.

With ratio locked, it seems when the left hand is visually "on a tick mark", it described as being "around" to tick mark.

Here's 2 screen shots. Not sure if this is directly related to this issue, but since I am testing this issue, I just need to post it here before I lose my train of thought:
![Screen Shot 2020-12-09 at 4 15 54 PM](http

[2020-12-09 20:08] terracoda commented on #245
Double checking with Lock Ratio unchecked.
Ok, this seems to happen only with Lock Ratio checked.

I can start out with Both Hands at 1:3 with each on the correct tick mark, but by the time the Left Hand gets to Tick Mark 2, the descriptions says "around tick mark 2" with right hand "on tick mark 6".

Also, if I start out at 1:3 and then move the hands down as far as they can go with ratio locked,

[2020-12-09 20:12] terracoda commented on #209
We may still have an issue. I am not testing this issue yet, but I found that the description can become miss-aligned without changing the size of the window in comment https://github.com/phetsims/ratio-and-proportion/issues/245#issuecomment-742010350 and in comment https://github.com/phetsims/ratio-and-proportion/issues/245#issuecomment-742018464

[2020-12-09 20:13] terracoda commented on #245
I commented over in https://github.com/phetsims/ratio-and-proportion/issues/209#issuecomment-742020700 just in case the above comments should be in that issue.

[2020-12-09 20:16] zepumph opened #278 "In proportion ding when jumping through the "no success" region of the bottom"
We don't want to be able to hear the ding if the ding would be in the "no success" region, which is currently below .021, but may change as part of #275.

To reproduce:

* move right hand to .04 (using ?log)
* click and quickly drag the left hand down to zero and up to .05 back and forth.

[2020-12-09 20:17] terracoda commented on #245
@zepumph, in principle the correct object and context responses are firing for Both Hands.
The actual position of the left hand can become askew when ratio is locked.

Shall we work on that more in issue #209?
Assigning to for closing.

[2020-12-09 20:26] zepumph commented on #209
I think that is a separate problem. I'll make an issue.

[2020-12-09 20:29] zepumph opened #279 "Tick mark description says "around" when it is "on""
From https://github.com/phetsims/ratio-and-proportion/issues/245#issuecomment-742010350, @terracoda found a bug while reviewing that issue.

Here are her posts describing it over there:

With ratio locked, it seems when the left hand is visually "on a tick mark", it described as being "around" to tick mark.

Here's 2 screen shots. Not sure if this is directly related to this issue, but since I am

[2020-12-09 20:29] zepumph commented on #209
I created https://github.com/phetsims/ratio-and-proportion/issues/279.

[2020-12-09 20:30] zepumph commented on #245
I created https://github.com/phetsims/ratio-and-proportion/issues/279 for that bug. It sounds like this issue about flipping responses is done. Closing

[2020-12-09 20:30] #245 closed

[2020-12-09 20:30] zepumph commented on #278
I think that fixes it, @BLFiedler originally told me about this error, can you confirmed fixed on master and feel free to close.

[2020-12-09 20:33] terracoda commented on #275
I am ok with this change.
Can we verify that the described positions of 0.14 is "near bottom" and "near tick mark zero"?

And then, 1:2 could be
0.14:0.28

Can we also verify that the described positions of 0.28, assuming that is a 1:2 ratio, would 0.28 for the right hand be "near bottom", "around half-way to first tick mark", and "around tick mark 0.5"?

The position descriptions near the bottom

[2020-12-09 20:35] terracoda commented on #261
#262 is ready, so testing.

[2020-12-10 13:32] terracoda commented on #261
Reviewing now :-)

[2020-12-10 14:07] terracoda commented on #261
- With No Tick Marks, distance progress responses working as requested.
- With Tick Marks (plain), distance progress responses also working as requested.
- With Numbered Tick Marks, distance progress responses also working as requested.

The flip has been implemented as I wanted. I am adding a note here that when using the slider interactions (individual left or right hand), I feel like I need pos

[2020-12-10 14:07] #261 closed

[2020-12-10 14:14] terracoda opened #280 "Explore and verify best placement of position information for slider interactions"
While testing #245 and #261, I found the flipped design was implemented as I requested.

That said, I want to note that when I use the slider interactions (individual left or right hands), I feel like I need position as part of the object response.

This is not the case with the Both Hands interaction where I receive comprehensive position information for each hand while interacting.

This is an i

[2020-12-10 14:15] terracoda commented on #261
I opened #280 to explore the previous comment.

[2020-12-10 14:36] terracoda commented on #279
@zepumph, I found spot where  the incorrect "around" can happen without ratio locked.

When I have 1:3 and have the Tick Mark Range set to 0 to 30, the first tick mark seems to always be described as "around first Tick Mark".

**Screenshot with VO content**
![Screen Shot 2020-12-10 at 10 54 07 AM](https://user-images.githubusercontent.com/1902116/101784648-5ba6c300-3ad6-11eb-9861-a6ed0a8d9d97.png)

[2020-12-10 14:55] terracoda commented on #262
Ok, the adjusted logic we discussed is working.
I think we may not need to make additional changes outlined in https://github.com/phetsims/ratio-and-proportion/issues/262#issuecomment-738958504

I think, to be sure we need to revisit this issue after #279 and #209.

I find when the position of each hand includes "around half-way past" or "around X.5 Tick Mark" things are too long.

Having the much

[2020-12-10 14:57] terracoda commented on #262
I'll mark this one verified and on-hold. I can listen again after #209 and #279 are closed.

[2020-12-10 15:05] terracoda commented on #275
Addressing this issue may be helpful for #279 and #209.
I think it is important to keep in mind the Tick Mark Range 0 to 30.

And regarding my previous comment https://github.com/phetsims/ratio-and-proportion/issues/275#issuecomment-742031683, I think it is ok that when we are down near the bottom the position and distance descriptions are fuzzy and not so different from each other. It is the same

[2020-12-10 15:10] terracoda commented on #275
When I explored the example 10:1, I am pretty sure this issue is related to #279. The Left hand is not landing on the even tick marks properly. I could be wrong, but that's my guess.

Un-assigning myself for now. please let me know if I need to comment more.

[2020-12-10 15:14] terracoda commented on #262
Added the meeting label, that should help us not forget about this issue.

[2020-12-10 15:24] terracoda commented on #255
This is not a bug. I think it is implemented correctly. The hands are either passing or landing on a tick mark.

When using the shift key, I only hear the tick mark sound when I actually pass the mark.

@emily-phet, thanks for sharing the Sound design doc. In addition to your explanation, the design doc was helpful.

Closing.

[2020-12-10 15:24] #255 closed

[2020-12-10 15:30] BLFiedler commented on #275
I'll just remark that part of the original purpose for the hollywood zone was to prevent users from mistaking the hand position as being "the same" (and thus 1:1) and ascertaining that possibly 1) the ratio differs depending on where on the screen you are, or 2) you can only get the ratio near the bottom and not exploring the rest of the screen. This was a problem near the bottom of the screen whe

[2020-12-10 15:34] terracoda commented on #254
@zepumph, sorry, I don't think I was clear. I feel it is important that the common code also have  these three options for the associated the PDOM text.

Currently, in RaP, the PDOM describes all options for sliders rather than only describing the vertical arrows.

I'd like the PDOM text to be as succinct as the visual presentation.

![Screen Shot 2020-12-10 at 11 58 39 AM](https://user-images.git

[2020-12-10 16:12] terracoda commented on #200
Ok, I reviewed the video.
The issue is once focus is on the Both Hands, the down arrow key only works to move the right hand down. The only way out of the interaction is with the Tab key.

It might be helpful for this sim if the instructions (the help text) actually come before the interactions. I this would be beneficial for both the sliders and the Both Hands interactions.

Can we re-arrange thi

[2020-12-10 16:20] terracoda commented on #200
@zepumph in 4176e265 I adjusted the help text for the Both Hands interaction, and changed "Both hands" to "Both Hands".

Would it be a lot of work to change the PDOM order?

[2020-12-10 16:25] terracoda commented on #200
Assigning to you @zepumph to rearrange things.

[2020-12-10 16:26] terracoda commented on #256
I'll get to this today :-)

[2020-12-10 16:26] BLFiedler commented on #278
Does still happen when the right hand is in this position:
![image](https://user-images.githubusercontent.com/47331395/101799732-be459200-3ac9-11eb-8869-98d317c4f32f.png)

Does not happen when the right hand is in this position:
![image](https://user-images.githubusercontent.com/47331395/101799787-ca315400-3ac9-11eb-8d01-9975cd28115e.png)

[2020-12-10 17:39] zepumph commented on #277
This was caused by last minute changes in #262, I wanted to make an assumption about when we try to get distanceProgress, but I think instead we need to be flexible, even if distance hasn't changed.

[2020-12-10 17:40] zepumph commented on #277
This should be fixed, I'll check back on CT later today.

[2020-12-10 17:44] zepumph commented on #279
Yes, it is a rounding error. I can reproduce it consistently by moving the consequent, because then the model has to recompute what the child should be:

[code]

I feel like this has something to do with #243. Perhaps I'm clamping too early in a case, and then it isn't able to round up to 3.

[2020-12-10 17:52] zepumph commented on #243
Over in https://github.com/phetsims/ratio-and-proportion/issues/279#issuecomment-742681217 it seems like using Utils.toFixedNumber is not working as a general solution, error is being collected that shows up in the 6th decimal place.

[2020-12-10 18:35] zepumph commented on #243
After speaking with @jonathanolson,

We think that the issue is that I was rounding stored values in the model, instead of just rounding when comparing/displaying in the view. I will refactor the model to store as granular of numbers as possible and hopefully all will work out. Thanks JO!

[2020-12-10 19:53] terracoda commented on #256
In the latest version on master, using phettest on bayes, I now only hear "night sky" on the home page.

I am using iOS 14.2 and Safari on iphone 7.

Next, I will now test on iOS 13.5.1 and Safari on iphone 8.

[2020-12-10 20:29] terracoda commented on #256
hmm, the sim is not loading on my iPhone 8. I'll have to check back again later.

[2020-12-10 20:35] terracoda commented on #209
The left hand no longer slips below the bar when I resize the browser window, and thus does not become askew.
Closing.

[2020-12-10 20:35] #209 closed

[2020-12-11 16:12] terracoda commented on #256
@zepumph, I do not hear "night sky" when using 13.5.1 on iPhone8. These strange strings might be additional issue related to iOS 14?

[2020-12-11 16:33] terracoda commented on #86
I re-opened because I thought the Discover Screen's Both Hands help text was incorrect, but it is not.
Closing again.

[2020-12-11 16:33] #86 closed

[2020-12-11 17:31] brooklynlash opened #281 "Frame rate slow for Windows 10 Firefox"
**Test device**
Lenovo ThinkPad

**Operating System**
Windows 10

**Browser**
Firefox

**Problem description**
This is for https://github.com/phetsims/QA/issues/582
While quickly dragging the hands in and out of the ratio, the green colors flash at you at a blinding amount instead of being more gradual, and it is overall slightly slower than Chrome's performance.

Troubleshooting information:
!!!!

[2020-12-11 17:55] terracoda opened #282 "Focus management for Multi-Screen Sims"
**On Desktop**
- When I load a multi-screen sim focus is placed on the H1 of the home page with no visible pink focus highlight. (This has been good for interview participants)
- When I choose a sim screen from the Home Screen, focus starts on the H1 of the new screen, again with no visible pink focus high light. (This has been good for interview participants)
- When I choose a sim screen from the

[2020-12-11 18:00] terracoda commented on #282
@zepumph and @jessegreenberg could either of you comment on how straightforward it would be from a code and implementation perspective to make focus always go to the H1 when a screen change happens?

More generally, @emily-phet do you think we need to have a wider (brief) discussion on focus management of multi-screen sims?

[2020-12-11 18:34] zepumph commented on #282
This feels like some we should change, and that would be pretty straight forward to do.

This is peculiar and bad. Does this behavior change depending on what rotary function VO is on, like "form controls" vs "lines"

[2020-12-11 18:37] terracoda commented on #282
Regarding @zepumph's question

I think I am using lines as I have not turned on the rotar.

[2020-12-11 20:30] terracoda opened #283 "(mobile a11y) I hear percentages when using number spinners VO on iOS"
When using dev version 78 on iOS 13.5.1 I hear percentages

This happens when adjusting the number spinners.

I am not sure what the percentages are representing.

[2020-12-11 20:35] zepumph commented on #279
This has been fixed by https://github.com/phetsims/ratio-and-proportion/commit/47ef113d62b828f14e4ed0438c49d1520161d244. @terracoda can you please confirm and feel free to close.

[2020-12-11 20:36] zepumph commented on #243
After the above, no model values are being rounded to 6 decimal places. Next I'd like to factor out the remaining view usages to a single spot.

[2020-12-11 20:40] zepumph commented on #243
This has been done. Thanks again @jonathanolson for the help. Once I understood the problem, this was an easy fix.

[2020-12-11 20:40] #243 closed

[2020-12-11 20:57] terracoda commented on #283
Oh, I think it is the actual value of the number spinner.
10 = 100 percent
1 = 0 percent
It happens in both iOS versions I have.

Maybe iOS is not getting aria-valuetext values.
Can the values just be 1 through 10 whether in aria-valuetext or in real numbers?

[2020-12-11 21:11] terracoda commented on #279
I did a fresh pull. cleared history, and cleared caches.
I can still get "around 1", when 1:3

Steps to reproduce:
1. got create screen
2. set right number spinner to 3
3. choose numbered tick marks
4. set range to 0 to 30
5. move right hand to tick mark 3
6. move left hand to tick mark 1

I can't actually get the left hand to tick mark 1 unless the right hand is on tick mark 3.

![Screen Shot 202

[2020-12-11 21:12] terracoda commented on #279
This happens with sliders and the both hands interactions.

[2020-12-11 21:12] terracoda commented on #279
back over to you @zepumph.

[2020-12-11 22:09] terracoda commented on #279
This seems to only be an issue for tick mark 1.
Subsequent steps seem to be on mark visually and in the description.
![Screen Shot 2020-12-11 at 6 38 28 PM](https://user-images.githubusercontent.com/1902116/101959551-18d11200-3be0-11eb-9585-d3f04315fe0d.png)

[2020-12-11 22:10] terracoda commented on #279
Oh sorry, I lied. I didn't read the "around" in the previous post :-P

[2020-12-11 22:14] terracoda commented on #279
I think it may only be an issue with range 0 to 30.

[2020-12-11 22:18] KatieWoe commented on #230
I did note that the sound stops when keyboard nav focus leaves. Even when you come back to it. Is this alright @zepumph?
https://drive.google.com/file/d/151Zc6cyhgar9JyNq_w6DInmNuuDEARYf/view?usp=sharing

[2020-12-11 22:31] zepumph commented on #272
@samreid confirmed that GridLineSet is the way to go. I'll take a look!

[2020-12-11 22:47] zepumph commented on #272
From slack conversation, @pixelzoom recommended to just leave this as GridNode right now, because Bamboo is in flux, and RaP is moving toward publication quickly. Sounds good to me!

<details>

<summary>slack conversation</summary>

Michael Kauzmann:orangutan:  13:28
If I only need horizontal minor lines, and I'm currently using GridNode (deprecated), what bamboo type should I refactor to use?

Sa

[2020-12-11 22:48] #272 closed

[2020-12-11 23:14] KatieWoe opened #284 "Snap to line behavior can cause difficulty in matching ratio"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/582
This is not exactly a bug, per say, but it tripped me up for long enough before I realized what was happening that it might be worth re-examining the behavior. It is possible to set up one hand so that, to get the correct ratio with the second hand it must be pl

[2020-12-12 00:00] zepumph commented on #284
This is a know an expected problem; a biproduct of the design. I will toss this over to @emily-phet to confirm that we aren't going to do anything for this, or to recommend a potential solution.

[2020-12-12 00:05] zepumph opened #285 "QA Credits"
Once done with RC testing.

[2020-12-12 00:05] zepumph commented on #268
Implemented above. There is also a "graphicArts" and "thanks" section if you would like to use it. Anything else here?

[2020-12-12 00:13] zepumph commented on #263
I still haven't seen this on CT again.

[2020-12-12 00:13] zepumph commented on #210
I went through all files, updating doc and looking for places for improvement. I'm ready to call this as I fear diminishing returns.

[2020-12-12 00:13] #210 closed

[2020-12-12 00:15] zepumph commented on #208
#210 is done.  This is ready to go, but I'm noticing I accidentally committed a couple of commits to here instead of #210. There also isn't the code-review md in the first comment. I think it would be best to make a new issue.

[2020-12-12 00:15] #208 closed

[2020-12-12 00:18] zepumph opened #286 "Code Review"
Expanding from #210, and also replacing #208. Code review is ready for this sim. Over to @jbphet. Some notes:

* This is a bit earlier than I would normally do a code review, but with the holidays coming up, I think it is the best time for it right now.
* Note that there are many bug reports still open in the sim. Note that there are multiple code-review issues open in the sim. I still think it is

[2020-12-12 03:55] zepumph commented on #230
Yes, it should not begin again until you focus AND interact with it (move it) again.

[2020-12-12 04:01] zepumph commented on #283
I'm not so sure, as that is what the values are currently, here is a copy from the a11y view copy on startup. Note that they have valuetext and valuenow. Yet still you get percents. I can test on my iOS iPad next week.

[code]

[2020-12-14 01:22] terracoda commented on #283
@zepumph. what is the purpose of the two P elements with content 1 and 2?

[2020-12-14 01:24] terracoda commented on #283
Yes the aria attributes look correct. I will check my voice over settings. Maybe I have some weird setting turned on.

[2020-12-14 18:19] KatieWoe opened #287 "Unintended zoom/keyboard behavior"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/582
It seems to be possible to manipulate both the hands in the sim and the magnification at the same time, which can lead to unintended behavior that can cause some confusion. If keyboard nav focus is on both hands and you are zoomed in, you can use ctrl + 0 to zoo

[2020-12-14 18:25] terracoda commented on #247
@zepumph, we did these "go beyond edge" responses in GFL & GFLB.

[2020-12-14 18:54] KatieWoe opened #288 "Both hands at zero always counts as almost there"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/582
No matter what the ratio is set to, (any of the challenges on the first screen or any combination on the second) if both hands are at 0 it is counted as being almost at the ratio but not quite. The screen will be a darker green, but not the darkest green. And th

[2020-12-14 19:43] KatieWoe opened #289 "Both hands "0" behavior when ratio is locked?"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/582.
When the ratio is 1:1 or equivalent, pressing 0 to jump both hands to 0 can cause temporary or even permanent freezing of the sim. When this is done, the hands do not jump to 0. Using the arrow keys only sometimes works, and other numbers must be pressed to uns

[2020-12-14 19:55] KatieWoe commented on #289
Also noting that there seem to be other oddities with the 0 button, even if they don't cause this bug (such as pressing it once to get one speed/volume of notes, and pressing it again to see a slight color shift and new speed/volume of notes).

[2020-12-14 20:42] emily-phet commented on #282
@terracoda I trust your judgement on where you would like focus to go. If this is feasible, and pretty straightforward from a development perspective, let's do it. If it's more challenging or will require some investigation, let's incorporate it into our planning work in January  - so someone put it on your list (see email coming later today) of things you'd like to have happen in 2021.

[2020-12-14 20:42] KatieWoe opened #290 "Odd sound occurs when both hands are dragged against boundary at the same time"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/582
Only seems to be a multitouch issue, and fairly minor. Feel free to close if not an issue.
When both hands are dragged against the boundary at the same time (either works but the top is easier to hear) the sound that indicates you've hit the barrier plays longer

[2020-12-14 20:52] terracoda commented on #288
Agreed, it seems a bit odd, but the hands can't be in proportion if one value is set to zero.
That said, I am a little confused about the extreme difference in left and right values, e.g. 1:10, and the sim is still communicating "extremely close".

<img width="997" alt="Screen Shot 2020-12-14 at 5 13 45 PM" src="https://user-images.githubusercontent.com/1902116/102133716-19f87e00-3e30-11eb-8bfa-77

[2020-12-14 20:53] KatieWoe opened #291 "Should there be a way to individually jump hands to a marker?"
Suggestion for https://github.com/phetsims/QA/issues/582.
I noticed that the ability to jump the hands to 0-9 is only available when both hands are being controlled and jumps both of them. I think it might be useful to jump one to one number and the other to a different number. For instance, the ratio is 1:2, you could jump the left hand to 2 and the right hand to 4. The easiest way (I think) to d

[2020-12-14 21:08] KatieWoe commented on #288
I'm not sure what it should be mathematically. My instinct was that, at 0, they would match no matter the values. If the ration is 1:10, and the left hand is at 0, 0*10 = 0 so the right hand should be at 0 too. Not sure if my instinct is right though. Would @amanda-phet know?

[2020-12-14 21:47] jessegreenberg commented on #282
I have to admit, I think this will be a little confusing for sighted users. From their perspective the focus will simply disappear when they make a selection. If they just want to click through screen buttons they will have to tab through each screen to do so. I think this goes against the "don't move focus for the user" approach we have generally followed and makes assumptions about what the user

[2020-12-14 21:56] terracoda commented on #282
@jessegreenberg, I am always a little confused about what "blur" means.

If I am using a screen reader and I choose screen 2 from the navbar, and then hit the Tab key, where would I go?
If I am using a screen reader and I choose screen 2 from the navbar, and then hit the the down arrow key, where would I go?

[2020-12-14 22:17] jessegreenberg commented on #287
I think the best way to fix this would be to not have the sim specific behavior on "0" key if the "ctrl" key is down. However, let me know if that isn't possible @zepumph.

I considered adding a way "reserve" the Pointer for this case but it started to get complicated. Presumably we want to continue to allow zoom, we just want to prevent behavior on "0". So we would need an Intent on Pointer that

[2020-12-14 22:22] jessegreenberg commented on #282
By "blur" I just mean removing focus without putting it anywhere else.  Focus and the virtual cursor should then start from the top of the page.

It would go to the first focusable thing in the screen.

It should start reading from the top of the page, presumably the "H1" for the screen.

Behavior should be just like landing on the screen from the Home Screen.

[2020-12-14 22:59] emily-phet commented on #268
One update from Ellen - please make their part of the credits read as follows:
"Clement Zheng, Peter Gyory, and Ellen Do from the ACME Lab (CU Boulder ATLAS Institute)"

[2020-12-14 23:30] KatieWoe opened #292 "Possible to have unlocked hands when ratio checkbox is checked"
**Device**
iPad 6th Gen
**OS**
iPadOS 14.3
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/582.
I'm having some trouble reproducing this reliably, but I have reproduced it a few times. I will record my best guess as to how it occurs.
When clicking the lock ratio checkbox, occasionally, the hands will not actually be locked into ratio, and moving one will only m

[2020-12-15 00:03] zepumph commented on #291
I'm almost positive that this will be too much added complexity the the design. Over to @emily-phet to confirm and feel free to close.

[2020-12-15 00:10] zepumph commented on #288
The current behavior is based on a relatively extensive design process where we decided that the fitness (metric for how close the ratio is to tartet) is determined in part based on physical distance from what the target Ratio would look like, and not just by comparing the current Ratio value to the target. This is why a current Ratio of 0, or even x/0 can yield description and color output that a

[2020-12-15 00:11] zepumph commented on #269
Please also see https://github.com/phetsims/QA/issues/582#issuecomment-744727358

[2020-12-15 00:12] zepumph commented on #286
See https://github.com/phetsims/ratio-and-proportion/issues/269 for previous (recent)  memory test info.

[2020-12-15 00:17] zepumph commented on #287
@jessegreenberg does this feel like a slippery slope, in which a Sim specific issues needs to know about all global functionality in the sim and manually avoid duplicating it? If the future might there be a Sim with general listeners for zoom, playback, and perhaps other things? Is it solely a design consideration to know about these all and avoid overloading keys?

I think the answer is probably

[2020-12-15 01:57] amanda-phet commented on #288
Just jumping in here since I was mentioned... If they are actually at 0, as @terracoda 's screenshots seem to communicate, then I would consider a constraint to not allow 0 in this sim, especially if 0 isn't allowed in the ratio number pickers. If it's desirable to include 0 as a possibility in the play area, then the feedback should be the farthest from green if one or both hands is on 0. If they

[2020-12-15 13:56] terracoda commented on #291
@KatieWoe, thanks for the suggestion.
I have to agree with @zepumph that this shortcut is too complicated to implement. For example, a modifier key would be needed, and in addition a learner would still need to move their focus back and forth to execute the shortcut on each hand.

Moreover, at a design meeting a few weeks ago we discussed the different ways learners interact with the individual Le

[2020-12-15 13:58] terracoda commented on #291
Closing. @emily-phet please re-open if you think we should re-think and put time into this.

[2020-12-15 13:58] #291 closed

[2020-12-15 14:43] emily-phet commented on #288
@amanda-phet Agreed, you shouldn't ever get "at ratio" green/sound/responses when one or both hands are at zero. This constraint is in place.
Keeping zero in the sim was strongly emphasized as being important by our math ed collaborator, who has done significant research with related proportion learning tools.

I'm more concerned about the behavior I observe related to @KatieWoe 's comments here -

[2020-12-15 14:44] emily-phet commented on #288
Assigning @BLFiedler as well, for his thoughts on graphing this problem, and potential solutions.

[2020-12-15 14:51] emily-phet commented on #284
@KatieWoe This is a trade-off we decided to make when adding the snap-to-line feature. Without the snap to line feature, it can be difficult to find 'at ratio" exactly and with the size of the hands etc., people were getting the wrong idea about the ratio relationships when they were slightly off from "at ratio". With the snap-to-line feature, it means that sometimes you snap into or out of ratio

[2020-12-15 14:52] emily-phet commented on #284
Agreed - this is not ideal, but this sim is filled with tradeoffs related to issues/benefits that emerge from continuous vs discrete tradeoffs. Let's keep the current behavior. Closing.

[2020-12-15 14:53] #284 closed

[2020-12-15 15:50] amanda-phet commented on #288
@terracoda 's first screenshot in https://github.com/phetsims/ratio-and-proportion/issues/288#issuecomment-744703728 indicates that both hands are at 0. So there is a bug related to that scenario- maybe there are two issues going on in this thread?

[2020-12-15 16:22] terracoda opened #293 "Create general sim video for this new sim"
This issue is to remind us that we will need to create a video for the website that introduces this simulation.

@BLFiedler mentioned he would wants to review the keyboard navigation of this sim with @terracoda before he finalizes the script in the new year.

[2020-12-15 16:24] terracoda opened #294 "Create sound features video"
In addition to #293, this is a reminder issue that we need to create a Sound features video.

[2020-12-15 16:26] emily-phet commented on #288
@amanda-phet Yes, they are at zero. They are also indicated as "close to challenge ratio" not "at challenge ratio". This is intended, not a bug. You can be "close to ratio" when at 0, 0. You just can't be "at ratio".

[2020-12-15 16:26] terracoda opened #295 "Create a Teacher tips for Ratio and Proportion"
In addition to #293 and #294, this is a reminder issue that we need to create a Teacher tips sheet for Ratio and Proportion.

[2020-12-15 16:31] KatieWoe commented on #288
@emily-phet in that case, there is a secondary oddity I saw. If you press 0 to jump to zero while the hands are already there, the shade of green and audio feedback may change slightly, which still seems odd.

[2020-12-15 17:05] brooklynlash commented on #289
Other behaviors I noticed from this bug:
1. When clicking zero for the first time, the sound is like when the hands are not in ratio, when they actually are. Once you click out of keyboard navigation, the sound stops completely and the background color is not in ratio when it actually is.
2. At the frozen spot, you can't do anything with the sim, but putting keyboard nav back on and clicking the n

[2020-12-15 17:39] KatieWoe opened #296 "Should pg up, pg dn, home, and end cause zoomed in focus to follow the hand?"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/582
When the sim is zoomed in, the screen will follow a hand under keyboard nav if you use the arrow keys to move it. If, however, you use pg up, pg dn, home, or end, the hand is not followed. Is it possible/desired for the zoom focus to follow the hand in these cas

[2020-12-15 17:42] brooklynlash commented on #296
The "Both hands" also is not followed while zoomed in using keyboard nav.

[2020-12-15 17:52] zepumph commented on #292
@KatieWoe  can you please try to reproduce this on master? I tried a couple of times locally and couldn't. Also can you reproduce on any other device and access the console for errors? It is possible that https://github.com/phetsims/ratio-and-proportion/issues/243 fixed this problem.

I want to add a assertion to detect this case and fail loudly, but after looking at the model, I don't see an easy

[2020-12-15 17:54] zepumph commented on #296
This is a general zoom/sliderPDOM behavior question for @jessegreenberg. Have you thought about or discussed this before?

[2020-12-15 17:58] KatieWoe commented on #292
I only saw it on iPad at the time, but I only tried a few times on laptop. I'll try on a Mac Safari device, in case that is the cause. Then I'll try on iPad on master.

[2020-12-15 18:03] brooklynlash opened #297 "Challenge 3 in the Discover section makes the "in ratio" sound when both at tick 1"
**Test device**
Lenovo

**Operating System**
Win 10

**Browser**
Chrome

**Problem description**
This is for https://github.com/phetsims/QA/issues/582
For Challenge 3, as you move the hands further and further down using the "Both hands" feature in keyboard nav, the sim acts as if the hands are getting closer and closer to the correct ratio. Once you reach the 1 ticks, the sim makes the "in ratio"

[2020-12-15 18:27] KatieWoe commented on #292
I reproduced with the RC build on Mac 10.15.7 Safari 14.0.1. I did not manage to get any console errors, although there was something in the console if you opened it after the bug happened, it didn't show up as a console error and I'm not sure it is related. About to check master but will probably get something to eat before that.
![buglockratio](https://user-images.githubusercontent.com/41024075/

[2020-12-15 18:54] KatieWoe commented on #292
Actually, I just reproduced (on the RC build) on Win 10 Chrome, so it is not dependent on Safari.
<img width="959" alt="win10chromebug" src="https://user-images.githubusercontent.com/41024075/102259074-e3704100-3ecb-11eb-945c-dd92ab880c5c.png">

[2020-12-15 19:11] zepumph commented on #288
From design meeting today, we see that there are two ways of thinking about the "fitness" of a ratio. It is clear that @KatieWoe and @amanda-phet are likely thinking of this from a conceptual way, in which a hand on 0 could be infinity (or N/A) away from the target ratio.

@emily-phet and others in the design team in designing fitness thus far has taken that into consideration as a component of fi

[2020-12-15 19:15] zepumph commented on #288
@amanda-phet, with your math background, can you please comment, on the tradeoffs or weirdness of including physical distance in our fitness algorithm as it pertains to the edge case of either hand as 0.

[2020-12-15 19:17] zepumph commented on #275
To help remedy this weirdness, especially in correlatyion with https://github.com/phetsims/ratio-and-proportion/issues/288, @BLFiedler, @terracoda, @Matthew-Moore240, and @zepumph think that we should do the following:

* Lower the hollywood, no-success range to .1 exclusive of a tick mark
* Change the snap behavior to snap within .1 of a tick mark (exclusive).

@terracoda is excited about this be

[2020-12-15 19:24] KatieWoe commented on #292
Reproducing on master causes a full sim freeze with a console error.
![ezgif com-gif-maker](https://user-images.githubusercontent.com/41024075/102262566-875beb80-3ed0-11eb-85c3-96c03dea24de.gif)

[2020-12-15 19:34] zepumph commented on #279
@terracoda and I discussed this further today, and we see that this is because of using a shift keyboard step of 1/10 of an original tick mark, even when the range changes to 1/30. In this case, every tick mark that isn't divisible by 3 will be "around" because of the underlying math, not a rounding error. Over to @terracoda.

[2020-12-15 19:40] zepumph commented on #279
Tagging some previous discussion about step size for range 0-30 in https://github.com/phetsims/ratio-and-proportion/issues/175 and https://github.com/phetsims/ratio-and-proportion/issues/166.

[2020-12-15 19:54] zepumph opened #298 "Shift key step yields "around" tick marks for most in Range 0-30"
From https://github.com/phetsims/ratio-and-proportion/issues/279#issuecomment-743453138

@terracoda said:

Then I said:

The way to solve this would be to change the shift key step to support being "on" all tick marks in range 0-30. I was worried that this would be challenging because of the purpose that the range tick marks overlay serves. I think of it as a change in representation, like a reski

[2020-12-15 20:00] zepumph commented on #279
Above discussion moved to https://github.com/phetsims/ratio-and-proportion/issues/298, @terracoda please review that the original bug in the first comment is fixed.

[2020-12-15 20:09] zepumph commented on #262
@terracoda, I wasn't sure what you wanted to get out of this issue from the meeting today. Do you want to talk more about this? I'm happy to chat if we want this before next week.

[2020-12-15 20:11] zepumph commented on #275
@BLFiedler, we didn't discuss today that the snapping behavior in general (including to zero) doesn't happen when range is not 0-10. Do we need to add that to make this work? Or is the important bit that we decreased the hollywood, no-success zone.

[2020-12-15 20:20] zepumph commented on #292
I may be able to make an assertion that asserts that the lock ratio checkbox should never be disabled and the model locked, but I worry a bit about how reentrant the model Properties are, and don't want to just add that in right now without more testing, it could be something like this though.

[code]

[2020-12-15 20:29] BLFiedler commented on #275
I believe the only needed outcome is that we lower the no-success zone upper threshold and align its value to the grid used in alt input/description. The change to the snapping value is just another case of aligning to the grid (as it was a value inaccessible to alt input), but not technically crucial to this issue.

[2020-12-15 20:38] DevonQui opened #299 "Simulation thinks there is a locked ratio in Discover section of R&P"
**Test device**
MacBook Pro
**Operating System**
Big Sur 11.0.1
**Browser**
Safari
**Problem description**
This is for https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.77/phet/ratio-and-proportion_all_phet.html
In the Discover tab of the simulation, I was able to reproduce the "locked ratio" sounds of the Create tab. I'm not entirely sure if this was intentional but my impression

[2020-12-15 21:29] jbphet opened #300 ""Lock Ratio" unlocks itself with shuffleListeners on"
This issue was found during code review, see #286.

There is an item in the code review checklist that says, "Does the sim behave correctly when listener order is shuffled?".  While testing this, I found that if the `suffleListeners` query parameter is used, when on the 2nd screen if the "Lock Ratio" checkbox is set, the box unchecks itself and the hands stop moving together if the hand on the rig

[2020-12-15 21:41] jbphet opened #301 "Ratios seem to be a little off with "shuffleListeners" on"
This issue was found during code review, see #286.

There is an item in the code review checklist that says, "Does the sim behave correctly when listener order is shuffled?". While testing this, I found that if the suffleListeners query parameter is used, when on the 2nd screen the ratios can be a bit off.  Below is a screenshot, and the feedback is showing that the ratio is correct, but the right

[2020-12-15 21:49] terracoda commented on #279
@zepumph, yep this rounding issue is resolved. The left hand is now "on" the tick mark.
Thanks for explaining the difference between the issues I was finding.
<img width="494" alt="Screen Shot 2020-12-15 at 6 17 14 PM" src="https://user-images.githubusercontent.com/1902116/102276833-f56cd680-3f01-11eb-951d-3f890c0de8e1.png">
<img width="483" alt="Screen Shot 2020-12-15 at 6 16 50 PM" src="https://

[2020-12-15 21:51] terracoda commented on #298
I will review related issues and post my thoughts in the morning.
My main issue is that I find it weird that when using the keyboard, I cannot land "on" - only the ones divisible by 3 - when range is set to 0 - 30.

[2020-12-15 22:05] zepumph commented on #299
Nice find! There could be a little more memory when determining if the in-proportion sound should play currently it will turn on if criteria is met in a single instance, with no care for trend:

[code]

I can work at smoothing this out by running it on step.

[2020-12-15 22:23] jbphet opened #302 "Extend pointer area for "Lock Ratio" checkbox"
From #286 (code review).

I think it's conventional for us to extent the pointer areas of checkboxes, and I'm not seeing that here.  Here's a clip from the recently published "Natural Selection" sim:

![image](https://user-images.githubusercontent.com/3082831/102279931-7370b380-3ee9-11eb-8153-d72a97c4cdbe.png)

...and here's the Lock Ratio button in this sim:

![image](https://user-images.githubus

[2020-12-15 22:31] jbphet opened #303 "Icons appear to be individually pickable"
While working through the code review in #286, I noticed that the icons for the home screen and nav bar seem to have individually pickable components.  I'm not sure why this is, but I don't think I've seen it in any other sims, and would suggest making the individual sub-elements unpickable for simplicity.

Here are a couple of screenshots made during the `showPointerAreas` testing that illustrate

[2020-12-15 22:35] jbphet commented on #273
Noticed during code review, see #286.

[2020-12-15 22:47] jbphet opened #304 "Use screen.<name> for screen name keys in strings file"
From #286.

I think our convention is to name screens using the key `screen.<name>`, but for the life of me I can't remember why.  This sim isn't using that convention.

I just took a look in "Natural Selection", which is a recently published sim by one of our most experienced developers, and the convention was followed there.  I'd recommend just going with it, but if you'd like to discuss in deve

[2020-12-15 22:49] zepumph commented on #303
This is because the icons use Nodes that are interactive. Even unpickable elements will show their pointer areas with that query parameter. For example, if a parent Node is pickable:false the child will still render their pointer areas.

The left icon (two hands) uses icon creation that already sets pickable false: https://github.com/phetsims/ratio-and-proportion/blob/29577f8befa6e4f58e8a362e13092

[2020-12-15 22:51] zepumph commented on #302
Hmm. I don't know about this convention. If there was an icon or other content that we wanted to be selectable, or if we wanted consistency between multiple components, I would feel different. I am able to click on the checkbox, and on the text. What would you want to see here?

[2020-12-15 22:55] zepumph commented on #304
Sounds good! I forgot about the convention.

[2020-12-15 22:55] #304 closed

[2020-12-15 22:59] zepumph commented on #275
Sounds good. What more do we need for this issue?

[2020-12-15 23:17] KatieWoe opened #305 "Long strings make sims unusable"
For https://github.com/phetsims/QA/issues/582. Images taken on iPadOS 14 Safari.
When strings are longer than the English strings, this pushes the hand columns to the side. On iPad, these can go off the screen an cause other odd overlaps with stringTest=long.
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/102283933-9488d280-3ef0-11eb-843e-e37df2e2b663.png)
![Image from iO

[2020-12-15 23:23] zepumph commented on #305
Yeah thanks, duplicate of #273.

[2020-12-15 23:23] #305 closed

[2020-12-15 23:28] jbphet opened #306 "Check and potentially remove unneeded asset files"
From #286.

There are several asset files that are of type .ai, which is Adobe Illustrator, but there are no `Image` instances that I can find in the code.  Are these still part of the sim?  By the way, I think we only keep the asset files if we derive images from them, but not if they were just part of the design - the design folder should cover that.

The files in question are `cutout-hand.ai`,

[2020-12-15 23:39] zepumph commented on #305
No worries! There are approximately 100 million issues open right now.

[2020-12-15 23:43] jbphet opened #307 "model.md doesn't seem targeted to teachers"
From code review issue #286, specifically the item that says, "Does model.md adequately describe the model, in terms appropriate for teachers?"

In my opinion, this description as currently written seems targeted at developers rather than teachers.  It describes specific source code files, ratio values that are never presented to users, and some sim-specific terminology that a user would not encou

[2020-12-15 23:44] zepumph commented on #306
The `ai` files didn't end up rendering images, but instead were used for the SVG math, and copied into SCENERY/Path classes, Filled in/cutout hands: https://github.com/phetsims/ratio-and-proportion/blob/29577f8befa6e4f58e8a362e13092ebf02d3c67b/js/common/view/RatioHandNode.js#L208-L263
gridlines: https://github.com/phetsims/ratio-and-proportion/blob/3551afc8bfaa23a0e8d2334e1a79e0080fdfd68e/js/commo

[2020-12-15 23:45] zepumph commented on #307
Ahh, that distinction makes a lot more sense. Thanks. I will work on this.

[2020-12-15 23:53] jbphet opened #308 "implementation notes doc needs fleshing out"
From the code review in #286, specifically the item "Does implementation-notes.md adequately describe the implementation, with an overview that will be useful to future maintainers?".

The document as currently written is quite brief and jumps right into some very specific information without describing the overall architecture and design approach.  It also doesn't describe any of the key classes

[2020-12-16 00:22] zepumph commented on #268
How's that, it's a bit weird because it is a compound list. What do you think?

[2020-12-16 13:42] terracoda commented on #282
Ooops, I responded yesterday, but must have forgotten to press the comment button.

@jessegreenberg, what you describe above seems to be what I think users would expect. In interviews with blind learners, I have rarely witnessed trouble, surprise, uncertainty when a sim loads, or more recently with RaP when a learner navigates to a screen from the Home Page.

However, when navigating to a second s

[2020-12-16 13:53] terracoda commented on #282
I'll add, that in the past, I have thought that the sim screens were somewhat like tab panels and the sim screen buttons somewhat like "tabs". I think that this blur approach might mimic that type of navigation experience while maintaining our own language of "Home Screen", {{Sim}} Screen button", and "{{Sim}} Screen" rather than introducing tabpanel and tab semantics.

I think our "screen" semant

[2020-12-16 13:54] terracoda commented on #282
Tagging @jessegreenberg in case you and @zepumph will work on this together.

[2020-12-16 15:25] terracoda commented on #279
Ok, after a reset and then explore only with the keyboard on the 0 to 30 grid, I am always on a tick mark or on a half tick mark.

When I start using the mouse to get visually aligned with a visual tick mark, I get "around".

When I start using the keyboard again, the grid snaps back to being on a tick mark or on a half tick mark.

I think the smaller grid value that we discussed yesterday has imp

[2020-12-16 15:25] terracoda commented on #279
oops, wrong issue.

[2020-12-16 15:26] #279 closed

[2020-12-16 15:27] terracoda commented on #298
Ok accidentally posted in #279 ... now re-posting in correct issue:

Ok, after a reset and then explore only with the keyboard on the 0 to 30 grid, I am always on a tick mark or on a half tick mark.

When I start using the mouse to get visually aligned with a visual tick mark, I get "around".

When I start using the keyboard again, the grid snaps back to being on a tick mark or on a half tick mark

[2020-12-16 15:42] zepumph commented on #282
@jessegreenberg, bluring did not achieve what we wanted. When I blurred and tested with NVDA, the virtual cursor still stayed right on the screen button in the nav bar.

[code]

I am unsure about the strategies that are usually used to try to "refresh" a page to focus back to the top of the screen. I also tried a blanket focus of the document body and that didn't work either. Any thoughts here?

[2020-12-16 15:48] zepumph commented on #298
I'm not sure I understand what you mean. I don't think there were any changes to the sim that addressed this issue.

I agree that in general the description has been designed to leave out a lot of precision. We are now seeing what that means for some edge cases in the sim. In general I like the current behavior. We also have to think about pedagogical scaffolding, and how likely, by the time range

[2020-12-16 16:00] zepumph commented on #278
At the time of @BLFiedler's testing, the "no-success" threshold was .021, so what you showed above seems right. Yesterday, over in https://github.com/phetsims/ratio-and-proportion/issues/275,  we lowered that range to .01, so both of those above would still have this behavior. Can you please review this again in correlation with that other issue review.

[2020-12-16 16:02] zepumph commented on #297
The reason for this bug is that when both hands are set from 2 to 1, the model thinks that the sim is "moving in direction", which get's a lower fitness threshold to play the in-proportion sound.

I think that this is similar to the need for smoothing in https://github.com/phetsims/ratio-and-proportion/issues/299#issuecomment-745597310, and I will try to think of these together for now.

[2020-12-16 16:02] zepumph commented on #299
Note https://github.com/phetsims/ratio-and-proportion/issues/297 as a potential sibling to this issue.

[2020-12-16 16:06] zepumph commented on #289
There is a current design in which a locked ratio cannot go past a hard coded threshold. It is currently .5, but will soon be .1 (see https://github.com/phetsims/ratio-and-proportion/issues/257). So I think we just need to respect the locked ratio, and disallow this input listener from trying to access 0 in it is not in the enabled range.

[2020-12-16 16:21] zepumph opened #309 "valueRange should just be a constant"
I don't know why I am still passing around valueRange to types next to the enabledValueRangeProperty. `valueRange` is a constant, and should just be accessed by any type that needs it from the constants file. This will help in the implementation of the bug fix for https://github.com/phetsims/ratio-and-proportion/issues/289

[2020-12-16 16:42] zepumph commented on #309
I'm happy with this, I also was able to update a bit of sound file doc, closing

[2020-12-16 16:42] #309 closed

[2020-12-16 16:43] terracoda commented on #298
Hmm, you say you didn't make any changes to the grid yesterday?
Well, maybe I just explored more thoroughly today, and am more comfortable with the design.

That said, I was reviewing the other issues, and I see back in issue #198, **I chose** the simple option (more vague option) of describing between the tick marks.

I am now thinking that the slightly less vague option of describing the points

[2020-12-16 16:49] terracoda commented on #282
@zepumph, what's going on with focus when a learner hits a screen button on the home page?

[2020-12-16 16:59] zepumph commented on #298
I don't know how to answer this question. If you think it is needed for the description, then we'll add it. We have already discussed that this is a very complicated set of regions, and that it was messy to implement. It will still be messy, as the above spec has no less edge cases as what is currently implemented. I think that one of your strong suites as a design is incredible attention to detai

[2020-12-16 17:06] zepumph commented on #289
With https://github.com/phetsims/ratio-and-proportion/issues/309 done, I think that we can just pass in the enabledRangeProperty to BothHandsInteractionListener, and do one of two things. We can constrain to the enabledRange, or we can ignore input requests that are outside of that range. I think that doing the former will be best for now.

[2020-12-16 17:18] jbphet commented on #306
What I've seen and found helpful in similar situations in the past is a README.md file that explains how the asset file is used to generate the artifact used in the code.  Here is an example: https://github.com/phetsims/equality-explorer/blob/master/assets/README.md

[2020-12-16 17:18] KatieWoe commented on #292
Just reproduced on ChromeOS with 1:4 ration, so the 1:3 ratio doesn't matter.

[2020-12-16 17:21] jbphet commented on #302
I think we often enlarge the touch area so that the checkbox can be easily used in a touch environment.  I don't have any strong attachment to this though - I just want to make sure it's user friendly.  If you're finding that it's easy to interact with on an iPad, that's fine by me, and you can just close this.

[2020-12-16 17:22] jbphet commented on #303
Okay, sounds good.  I didn't realize that unpickable nodes still show point areas.  Closing.

[2020-12-16 17:22] #303 closed

[2020-12-16 17:40] jessegreenberg commented on #282
It looks like I was totally incorrect about this. Not only the virtual cursor but the DOM focus will also move to the next thing in order on tab press even after an element is blurred. If you click in empty space in a webpage, focus will start over and go back to the top of the page. I thought this was because of the blur but I guess it is because of the user click.

I guess it is just because of

[2020-12-16 18:10] terracoda commented on #298
Thanks, that's very helpful. Thanks for convincing me to stick up for my design :-)
I'd like to proceed with the update.

I do think it is valuable, and I am kicking myself that I went with the less vague version to begin with (sorry for that).

Please note that the range for each each is exactly the same as before (i.e., as currently implemented). The difference is that for each region before the

[2020-12-16 18:38] KatieWoe opened #310 "Typo in Screen Reader script has typo where 7 is said instead of at"
**Test device**
Dell and iPad 6th Gen
**Operating System**
Win 10 and iPadOS 14.3
**Browser**
Chrome and Safari
**Problem description**
For https://github.com/phetsims/QA/issues/582. First seen in a11y view on Windows, confirmed when read out on mobile VO.
In several instances where the screen reader should read out that the hands are "at challenge ratio" (I believe that is what it means at least)

[2020-12-16 18:48] zepumph commented on #257
I thought this patch would work, but for some reason, the model won't respect the lock-ratio bounds when the range min is the same as the no-success threshold. I found that when I make the ratio threshold Number.EPSILON larger though, it works. I don't want to commit that workaround, I want to figure out why.

[code]

[2020-12-16 18:49] terracoda commented on #283
I tested dev version 78 on both my phones.
I hear percentages on both iPhone7 with iOS 14.2 and on iPhone8 with iOS 13.5.1

I don't think I have enabled any weird VO settings.

And, @zepumph, I am curious about the purpose of the two P elements with content 1 and 2?
[code]
and
[code]

[2020-12-16 18:51] zepumph commented on #310
Yeah sorry, that was fixed by https://github.com/phetsims/ratio-and-proportion/commit/9892edd10b5e19764c755d6953055ac74b326695, two commits after this dev version was created.

[2020-12-16 18:51] #310 closed

[2020-12-16 18:56] zepumph commented on #302
@ariel-phet can you comment on expanding checkbox pointer areas in general? Is this common practice? What do you recommend for Ratio and Proportion's second screen's "lock ratio" checkbox?

[2020-12-16 19:29] jessegreenberg commented on #287
I am not sure. This does seem like a problem, and if we cannot catch in code then we need a well documented list of the taken hotkeys.  Currently, the overlapping key is in an arbitrary listener somewhere in the sim code, and I can't think of a way to detect this. Not sure how it would work, but perhaps one day we could have "hot key registration" class that keeps track of this for us.

[2020-12-16 19:36] KatieWoe opened #311 "Unable to easily select screen option from home screen with mobile VO"
**Device**
iPad 6th Gen
**OS**
iPadOS 14.3
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/582
It is possible for the list containing the two screen option on the home screen to seemingly disappear. Swiping left/right to read through or swiping two fingers up will skip over the options, sometimes with blank options containing no words, so that you go from the b

[2020-12-16 19:42] KatieWoe commented on #256
For https://github.com/phetsims/QA/issues/582
I've been hearing "night sky" seemingly when there are bullets or buttons being read. I noticed in Faraday's Law that it said "sky" so I'm wondering if background color has something to do with it?

[2020-12-16 20:36] terracoda commented on #283
@zepumph, I tested the pdom code on my macbook pro in a plain `html` page, and I do not hear any percentages. Note I had to remove two attributes from the input element code to get the number spinner to work without javascript:
-  `tabindex="-1"`
- `aria-valuetext="CURRENT VALUE"`

I did notice that your code uses all HTML5 attributes for the number spinner values, i.e., ` min="1" max="10" `.
In t

[2020-12-16 20:40] terracoda commented on #283
I just tested the number spinners in gravity-force-lab-basics, and I do not hear percentages on them.
I'll check the code.

[2020-12-16 21:36] ariel-phet commented on #302
@zepumph it has been common practice and requested in multiple sims. If clicking on the checkbox or on the text is working well on a small device (like a phone) I think you are in good shape. But I would think that will require some dilation to feel correct so the expansion used in something like Natural selection would be a good model to follow.

[2020-12-16 21:47] terracoda commented on #283
@zepumph, the same HTML5 attributes are used in GFLB's number spinners, however, there are some differences in the code.
1. The elements in RaP each have a `hidden` attribute. That's like because of the accordion box show hide.
2. The RaP code has an extra paragraph element which looks like it is holding the current value of the number spinner (not sure). Actually, I see the paragraph element in y

[2020-12-16 21:55] KatieWoe commented on #311
Non buggy, but similar behavior that I saw: on the first screen, if you read through the challenge options and go past them, the box closes. If you then swipe back it reads through a few blank options where the challenge list was. You can then open the list again and and read through the options again.
https://drive.google.com/file/d/1zD47i8-0hpg53FvOJwPgn_A5lbGczhig/view?usp=sharing

[2020-12-16 22:10] terracoda commented on #288
In @emily-phet's video, it looks to me like the left hand is at 0.01 (1 shift key step) above zero.
When the right had is moved to 0.02 (2 shift key steps) above zero, there is no ding for ratio and then the screen goes light again if the right hand is moved higher.

However, if the left hand is at 0.02 (2 shift key steps) above zero, and the right hand is moved to to 0.04 (4 shift key steps) abov

[2020-12-16 23:19] KatieWoe opened #312 "Mobile VO both hands instructions inconsistent"
For https://github.com/phetsims/QA/issues/582. iPadOS 14.3 Mobile VO
When reading through the second screen, when it gets to the both hands section it mentions using the lock ratio checkbox and moving a hand to move both of them, rather than the instructions given in this section in the laptop version. However, it then goes on to say that this functionality isn't available in mobile. This is refer

[2020-12-17 00:02] KatieWoe opened #313 "Mobile VO reads out percentages in number picker"
For https://github.com/phetsims/QA/issues/582. iPadOS 14.3 mobile VO
When going through the number pickers on the second screen for the my challenge option, VO will read out the number, then a percentage, making it confusing what is being selected/done. Note that due to https://github.com/phetsims/scenery/issues/1094 I had to open the my challenge box before turning on VO to see this.
https://driv

[2020-12-17 00:39] zepumph commented on #313
Likely duplicate of https://github.com/phetsims/ratio-and-proportion/issues/283.

[2020-12-17 00:39] #313 closed

[2020-12-17 00:40] zepumph commented on #283
@KatieWoe reported over in https://github.com/phetsims/ratio-and-proportion/issues/313:

When going through the number pickers on the second screen for the my challenge option, VO will read out the number, then a percentage, making it confusing what is being selected/done. Note that due to phetsims/scenery#1094 I had to open the my challenge box before turning on VO to see this.
https://drive.goog

[2020-12-17 13:49] terracoda commented on #275
@zepumph, could you please describe what this means in real shift-key-measured terms.

For example, should I be able to move left hand up 1 shift key press from zero and the right hand up 2 shift key presses from zero and get challenge ratio with Challenge 1 (1:2)?

Currently, on Master (local PhET Marks after a fresh pull), I need to move left hand up 2 shift-key steps and right hand up 4 shift-k

[2020-12-17 14:25] terracoda opened #314 "Slight discrepency in shift-key step size when using Shift + W"
While testing issue #275, I noticed a slight discrepancy in shift-key step size when using Shift + W when using Both Hands. I've opened a new issue in case this is a separate from #275.

The discrepancy might be a little random (not sure). It might also have to do with intended or unintended snapping behaviour (again not sure).

**Both Hands at Tick Mark zero**
![at-zero](https://user-images.githu

[2020-12-17 14:28] terracoda commented on #314
Do I need to tag https://github.com/phetsims/QA/issues/582?
Note I was testing from Master.

[2020-12-17 14:39] terracoda commented on #298
@zepumph, **I have reconsidered** when we should implement this change to the the ranges for in between the tick marks.

There are a lot of open issues for code review and dev test. I think it is more important to get the step sizes right in #275 and resolve issues in #288 and #289 before we make any more changes to the descriptions.

While I now feel the less vague scale will be an improvement, I

[2020-12-17 14:43] terracoda commented on #298
"priority 5 - deferred" might be a better label, not sure :-)

[2020-12-17 15:04] terracoda opened #315 "(mobile a11y) Lock Ratio not checkable on iOS with VoiceOver enabled"
When testing [dev version 78](https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.78/phet/ratio-and-proportion_en_phet.html) on iOS with VoiceOver enabled, I was not able to check or uncheck the Lock Ratio check box.

I tested on
- iPhone 8 with iOS 13.5.1
- iPhone7 with iOS 14.2

[2020-12-17 15:06] terracoda commented on #315
Tagging [QA dev test 582](https://github.com/phetsims/QA/issues/582).

[2020-12-17 15:11] terracoda opened #316 "(mobile a11y) - Accordion box not opening or closing on iOS 14.2"
When testing [dev version 78](https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.78/phet/ratio-and-proportion_en_phet.html) on:
-  iPhone 8 with iOS 13.5.1
-  iPhone7 with iOS 14.2

I found that the Accordion box worked fine on iOS 13.5.1, I could not open and close the My Challenge Accordion box on iOS 14.2.

Tagging [QA issue 582](https://github.com/phetsims/QA/issues/582)

[2020-12-17 15:24] terracoda commented on #312
@KatieWoe, can you you please be more clear about what is confusing about the wording?

The intent on screen 2 is to direct mobile screen reader users to use the Lock Ratio check box if they want to move both hands at the same time. There is no other way to move the hands simultaneously when using a screen reader on a touch device (iOS). With mobile VoiceOver enabled focus can on only be one item

[2020-12-17 15:31] terracoda commented on #315
This issue might be related to https://github.com/phetsims/scenery/issues/1094

[2020-12-17 15:31] terracoda commented on #316
This issue might be related to https://github.com/phetsims/scenery/issues/1094

[2020-12-17 15:34] terracoda commented on #312
I don't think this is a bug.
This is just about finding clear wording to redirect learners to a possible way to move both hands at the same time, assuming the Lock Ratio checkbox is working.

[2020-12-17 15:39] terracoda commented on #312
Another Option for Screen 2:
- Explore challenge ratio with individual Left and Right hands ****. **The custom Both Hands** interaction is not yet possible with screen reader software on a mobile device.

[2020-12-17 16:26] KatieWoe commented on #312
The issue is with screen 2 only for me. Since it talks about moving both hands, describes the way to do it, then says "this custom multi-touch interaction is not yet possible" the "this" tells me that the thing it just described (the lock ratio) is not possible. It does not tell me that there is some other method that was not described that exists but is not possible.

My suggestion would be to pu

[2020-12-17 16:35] terracoda commented on #312
Thanks @KatieWoe, I agree, the use of "this" makes it vague in the current order of the wording. To keep things shorter, it might be best to just state "The custom Both Hands interaction" as the thing that is not possible.

[2020-12-17 19:15] terracoda commented on #312
I think I like, the iteration I came up with, so I am going to update the strings at lines 349 and 380 and make a commit.

[2020-12-17 19:29] terracoda commented on #312
I think I addressed this issue. I will try and test it.

[2020-12-17 19:36] terracoda commented on #312
I was able to verify the change on phettest via bayes.
I think the new help text sounds good:
- Explore challenge ratio with individual Left and Right hands. The custom Both Hands interaction is not yet possible with screen reader software on a mobile device.
- Explore challenge ratio with individual Left and Right hands or try with ratio locked. The custom Both Hands interaction is not yet possib

[2020-12-17 19:46] terracoda commented on #312
I addressed this issue, so closing.

[2020-12-17 19:46] #312 closed

[2020-12-17 19:51] KatieWoe opened #317 "Should hand values be read out if one is at the top?"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/582. Found with JAWS.
When tick marks are on and the screen reader is reading numbers, it will read out the numbers of both hands as you move them. However, if one is at the top, it does not seem to do that. I noticed this while the hands were locked in ratio. When

[2020-12-17 19:56] terracoda commented on #247
@KatieWoe mentioned in #317. I will mark that issue as a duplicate issue as we already planning on updating the edge alert to be a go-beyond-edge alert.

[2020-12-17 20:02] terracoda commented on #317
This issue is a duplicate issue. We plan to make this edge response to fire not on the last step, but on a step after the last step in #247

[2020-12-17 20:36] KatieWoe opened #318 "Should target ratio be read out more when my challenge box is open"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/582. Noticed with JAWS.
Not so much a bug, but more of a suggestion. When on the second screen, it may be useful for there to be an alert as you move the hands as to what the challenge ratio is and/or a section in the initial scene description that says this. This w

[2020-12-17 20:50] KatieWoe opened #319 "JAWS reads dash in half-way"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/582. Seen with Jaws.
When reading the word "half-way" JAWS says "half dash way" which I found distracting and potentially confusing as it was reading the position of the hands in relation to the tick marks.

**Visuals**
https://drive.google.com/file/d/1uaXRmkqKxfJhq

[2020-12-17 20:51] terracoda commented on #318
@KatieWoe, we have indeed discussed this issue.
You are correct that nothing in the state descriptions currently describes the ratio challenge represented in the My Challenge number spinners.

There is a context response when a learner opens My Challenge, and there are responses for both values when either value is changed.

But there is nothing in the state descriptions if My Challenge is open.

[2020-12-17 21:00] terracoda commented on #319
@KatieWoe, nice catch. Accordion Merriam-Webster dictionary, halfway does not have a dash.

[2020-12-17 21:11] terracoda commented on #319
I changed half-way to halfway on lines 178, 181, 184 and 199.  That should cover it.
Jaws will likely read out other dashes like in lower-middle region of Play Area, but in cases like that the dash is correct spelling.

[2020-12-17 21:21] terracoda commented on #319
I verified this change in the context responses.

[2020-12-17 21:22] terracoda commented on #319
Closing.

[2020-12-17 21:22] #319 closed

[2020-12-17 21:52] KatieWoe opened #320 "Oddities in keyboard nav dialog"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/582
This is less of a bug, and more of a suggestion/something that confused me. The keyboard nav dialog is different on all three screens. This seems particularly odd to me in two cases. On the home screen, the dialog is very barebones. This may well be the first th

[2020-12-17 22:01] terracoda commented on #320
Thanks for the suggestion @KatieWoe. Keyboard Shortcuts are only relevant to the screen a learner is on, so that is whey the are all different.

The numbered list, represents required steps to choose a Challenge, so we chose a numbered list to help scaffold that all steps are required.

Marking as won't fix.

[2020-12-17 22:03] terracoda commented on #320
In addition, on screen 3 we decided to not re-describe how to use the Ranges combobox. We felt it was covered by the Challenges combobox.

[2020-12-17 22:03] terracoda commented on #320
Closing.

[2020-12-17 22:03] #320 closed

[2020-12-17 22:12] terracoda commented on #318
Here's my suggested design change for the dynamic screen summary:
## Dynamic state-of-sim Screen 2:
**IF My Challenge collapsed:**
Currently, hands, {{at}} challenge ratio and {{very close to each other}}:
- Left hand {{in lower region {{of Play Area}}}}
- Right hand {{in lower-middle region {{of Play Area}}}}

**IF My Challenge is expanded:**
Currently, hands, {{at}} challenge ratio and {{somewha

[2020-12-17 22:22] terracoda commented on #318
@zepumph, I updated the static help text.

[2020-12-17 22:26] terracoda commented on #318
Assigning to you @zepumph to dynamically add the bullet point.

[2020-12-17 22:36] KatieWoe opened #321 "Discover screen does not seem to start at the top with JAWS"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/582. Found with JAWS.
When entering the Discover screen from the home screen, the scene description seems to start in the middle, rather than from the top. I did not notice this on the Create screen. If I'm making some mistake myself, rather than this being a bug, f

[2020-12-17 22:37] KatieWoe commented on #230
I don't think we saw this. We will keep an eye out during future tests.

[2020-12-18 00:55] zepumph commented on #318
Thanks for taking care of all the static stuff! Please have a look at the new bullet and let me know what you think.

[2020-12-18 00:58] zepumph commented on #230
I think enough time has been spent on it! Closing. Thanks for all your help.

[2020-12-18 00:58] #230 closed

[2020-12-18 01:03] zepumph commented on #274
This was also mentioned by @jbphet in code review comments over in #286. Thanks! Closing

[2020-12-18 01:03] #274 closed

[2020-12-18 01:13] zepumph commented on #302
Thanks for catching me up on the protocol you two. That makes sense. There has been quite of bit of focus on dynamic layout for this sim, because of the vertical tendencies of the ratio. We have set up scaling for the controls on the right so that they aren't tiny in vertical aspect ratios. I poked around in a phone-sized layout, and feel like the scaling gets us most of the way there, but a bit e

[2020-12-18 01:13] zepumph commented on #302
![image](https://user-images.githubusercontent.com/6856943/102562124-d9447300-4082-11eb-8a91-05c66d070d2b.png)

[2020-12-18 01:15] zepumph commented on #283
Oh sorry, that was from copying from the a11y view, ignore that.

[2020-12-18 01:24] zepumph commented on #283
Most of the discrepancy you are discussing above is because I copied from the COPY in the a11yview, not the HTML in the sim. I'm sorry, I think that made for quite a bit of red herring in the above investigation.

Here is a better copy directly from the sim. I also cleaned up some of the superfluous attributes for clarity.

[code]

Here is a copy of one from GFLB:
[code]

The only difference that

[2020-12-18 16:20] terracoda commented on #283
@zepumph, that an interesting hypothesis. Since we only have 10 values, can you try just spelling out the values, one, two, three ... ten as a test?

[2020-12-18 17:53] zepumph commented on #269
@jbphet, I'm not sure if you were planning to do a memory test for code review, I would say you don't need to personally. Closing.

[2020-12-18 17:53] #269 closed

[2020-12-18 17:56] terracoda commented on #318
Looks like it working nicely!
Thanks!

[2020-12-18 17:56] #318 closed

[2020-12-18 17:57] terracoda commented on #317
I am going to go ahead and close this issue because it will be worked on in #247.

[2020-12-18 17:57] #317 closed

[2020-12-18 18:03] terracoda commented on #262
I am doing another review now that the above mentioned issues are addressed.

[2020-12-18 18:46] zepumph commented on #247
The above adds support to only use edge alerts when trying to move past the edge, not when arriving. @terracoda please review.

[2020-12-18 19:14] zepumph commented on #262
During a meeting with @terracoda, we decided that the checkboxes in https://github.com/phetsims/ratio-and-proportion/issues/262#issuecomment-738958504 don't need to be done. I added strikethrough to them.

[2020-12-18 19:20] terracoda commented on #262
Agreed. Everything in this issue has been addressed.
Closing this issue.

[2020-12-18 19:20] #262 closed

[2020-12-18 19:24] terracoda commented on #262
I'll add that the one thing we lost with the design flip was a mention of the position of each hand directly in the PDOM nearby the interactions. The object value of the sliders used to contain hand position. It now contains "proximity to ratio", and position is in context responses.

To address this minor gap, I'll open new issue to flesh out a short dynamic description of the hands.

[2020-12-18 19:28] terracoda commented on #200
In https://github.com/phetsims/ratio-and-proportion/issues/262#issuecomment-748277232 I decided we needed a dynamic description of the hands, which is somewhat related to what I was proposing above in https://github.com/phetsims/ratio-and-proportion/issues/200#issuecomment-742620175

I am going to close this issue as adding and open a new one that describes adding a dynamic description and re-arra

[2020-12-18 19:28] #200 closed

[2020-12-18 19:44] zepumph commented on #257
Ok. I finally understand the problem. Conceptually having these thresholds be the same don't make sense.

We want the number in which you cannot have successful fitness (so fitness must be <1), be the same value that a locked ratio can get to. The definition of a locked ratio is a ratio in proportion. Thus, I now feel like my Number.EPSILON workaround is making more and more sense.

[2020-12-18 19:46] terracoda opened #322 "Re-arrange static Play Area content and add a dynamic description for the hands"
This issue should address an information gap described in https://github.com/phetsims/ratio-and-proportion/issues/262#issuecomment-748277232 and should hopefully help with issue #200 where JAWS users had trouble accessing the help text for the Both Hands interaction once the the interaction had focus.

I propose to re-arrange the Play Area content and adding position information to a dynamic descr

[2020-12-18 19:49] terracoda commented on #322
@zepumph, I think the dynamic description above is the same string as the Both Hands context response.

[2020-12-18 19:51] zepumph commented on #257
@terracoda, after the above commit, the range for the lock ratio goes to just shy of the no-success threshold. So right now, from 0-.1 of a tickmark (.01 in the model), you can't be in-proportion. Then from `(.01,1]` (.01 exclusive), you can move the locked ratio around. Please let me know if this is good to you.

[2020-12-18 19:54] terracoda commented on #322
I bolded the content that is different based on the current dynamic description that is sitting in the PDOM, and then I realized when I add position information it basically has the same wording and punctuation as the Both Hands context response.

[2020-12-18 19:55] terracoda commented on #322
Let me know if you have any questions.

[2020-12-18 20:29] zepumph commented on #254
Ok, the description is now being updated in the common code based on what icons we are displaying. Anything else here?

[2020-12-18 20:32] terracoda commented on #257
There is no jumping when I lock the ratio. I tried several different ratios:
- 1:2
- 2:7
- 1:10
- 2:10
- 1:8

I moved hands into the lowest possible place I could get. The left hand would always have to be 2 shift-key steps up from the bottom. For example with ratio 1:10, the lowest I could physically go without Lock Ratio checked was with the Right Hand on Tick Mark 2 and the Left hand 2 shift-ke

[2020-12-18 20:32] #257 closed

[2020-12-18 20:34] zepumph commented on #263
I haven't hit this again recently, and it fails loudly enough that I feel good since a dev test in under RaP's belt. Closing

[2020-12-18 20:34] #263 closed

[2020-12-18 20:44] terracoda opened #323 "I can explore lower on the screen with ratio locked, is this okay?"
In #257, @zepumph fixed the big jumping that could happen ratio gets locked.

I have one remaining question though, is it ok that I can explore lower with ratio locked than when ratio is not locked? Is that expected?

Steps to reproduce:
1. with ratio at 1:2
2. using both hands or sliders, move left hand to 2 steps above bottom
3. move right hand down until you get ratio ding
4. lock the ratio
5.

[2020-12-18 20:50] terracoda commented on #323
I'm not saying we need to address this issue, the sim is working well.

I am just wondering based on recent changes in issue #257 and  #275 am I supposed to be able to find ratio if my Left Hand is 1 shift-key step above the bottom?

Actually, maybe this is a duplicate issue of #275.
Please close if this is a duplicate issue.

[2020-12-18 20:54] terracoda commented on #247
These responses are working great!
Thanks!

[2020-12-18 20:54] #247 closed

[2020-12-18 20:58] terracoda commented on #280
Oh, I addressed this issue in a quick meeting with @zepumph by opening #322.
Learners will have access to position information in a dynamic description of the hands.

#322 addresses the concern I had, so I am closing this issue.

[2020-12-18 20:58] #280 closed

[2020-12-18 21:02] terracoda commented on #254
Looks beautiful.
Thanks for the extra effort!

[2020-12-18 21:02] #254 closed

[2020-12-18 21:03] terracoda commented on #254
![Screen Shot 2020-12-18 at 5 32 57 PM](https://user-images.githubusercontent.com/1902116/102661296-1e39d980-4157-11eb-91f1-2d05625e6883.png)

[2020-12-18 21:31] terracoda commented on #314
@zepumph, I just noticed that this slight difference only happens if I move the right hand first and then the left hand. This might have something to do with the left hand trying to find ratio with the right hand???

If I move the left hand up first and then the right had up, the Shift + W and the shift + Up Arrow seem to make the same size step.
These look like even sized steps. I moved the left

[2020-12-21 21:21] zepumph commented on #322
Yes, I was able to use pretty much the exact same logic, except that in this dynamic description you never get distance-progress, and you also don't get "edge" alerts when locked. So it is just distance and position.

Please review.

[2020-12-21 21:29] zepumph commented on #314
This is a biproduct of using small values, and our positional fitness algorithm. This didn't happen when the no-success value threshold was at .021, but it is now at .01. Please recommend how to proceed.

I was unable to reproduce this until your tip in https://github.com/phetsims/ratio-and-proportion/issues/314#issuecomment-748329224. Then, using ?log, I was able to see that the model actually is

[2020-12-21 21:40] zepumph commented on #314
The above doesn't fix the problem, but I wanted to make sure that the shift key step size was as accurate as possible, and since #243, we need to apply `toFixed` to input values that will change the model.

[2020-12-21 21:49] zepumph commented on #314
Oh! The issue is that the "conservation of snap" logic is acting upon this, where since we are passing over the "ideal" value with the left value, it goes directly to that value. I think the fix here is to make sure that that behavior doesn't happen when we are < the no-success threshold.

[2020-12-21 21:59] zepumph commented on #314
Ok, I was able to fix this by having the snapping function ignore the snap-to-ratio feature when it is in the no-success range. This should solve all of the problems you mentioned. Also note that `?log` was helpful here to discover that the left value was snapping directly into ratio range.

please ignore my initial thoughts in https://github.com/phetsims/ratio-and-proportion/issues/314#issuecomme

[2020-12-21 22:05] zepumph commented on #282
I think you are on to something here, and that this is worth investigation:

My bad idea was to potentially rearrange the articles of the PDOM dynamically to achieve the right next-focusable item, but that feels pretty heavyweight. Maybe we can play around with something focusable that exists as the first thing on each screen. @jessegreenberg let's brainstorm tomorrow during out meeting.

[2020-12-21 22:35] zepumph commented on #273
[code]

This will get me started, but I hoped that it would be easier to get the scaling to play nicely. I am going to need to look into a few things.

1. are the tick mark radio buttons left or right justified?
2. Should the whole control panel snap with the reset all button to the right, or (like it is now) instead be based on the placement of the ratio halves. Likely they should be set to the r

[2020-12-22 01:33] zepumph opened #324 "re layout with comboBox open can look buggy"
![image](https://user-images.githubusercontent.com/6856943/102838213-1cb41f80-43aa-11eb-97f9-3a4168d24829.png)

I think the solution is to tell the ComboBox to close if open when re-laying out. Though I'm not sure if that is part of the ComboBox api atm.

[2020-12-22 01:48] zepumph commented on #273
There was some weird-looking behavior because the combo box list box was being included in the topScalingUILayer, but it wasn't getting updated, so the width the that layer was much larger than its visual components actually were. Removing the list box parents from anything that is getting scaled fixed that problem, and everything else was simple maxWidth additions. Closing

[2020-12-22 01:48] #273 closed

[2020-12-22 01:59] zepumph commented on #324
I fixed this by hiding the listbox whenever layout occurs.

[2020-12-22 01:59] #324 closed

[2020-12-22 02:01] zepumph commented on #323
Over in https://github.com/phetsims/ratio-and-proportion/issues/275 we decided that the no-success threshold should be lowered to .01. If that is problematic I think it should be taken up in the review of that one. @terracoda please note any weirdness over there, and perhaps pass it over to EM if you think it is needed.

[2020-12-22 02:03] #323 closed

[2020-12-22 19:41] jbphet commented on #302
This looks better.  Might as well do a little extension in the horizontal direction too, as is shown in the Natural Selection checkboxes.  This might be nicer for a left-handed touch screen user.  After that, it's fine with me to close.

[2020-12-22 19:53] zepumph commented on #289
Now you will no longer get this bug. `0` input from both hands with snap to the contrained range, so when that is locked, it is just over .1 of a default tick mark. @BLFiedler I think this is in need of a design review, this is based on what we discussed in the previous design meeting last week. Is it acceptable that pressing `0` doesn't go to `0` because the ratio is locked, and so `0` is out of

[2020-12-22 19:54] zepumph commented on #271
Sounds good. I also don't see any possibility for hand pointer area overlap in master right now. Closing

[2020-12-22 19:54] #271 closed

[2020-12-22 19:59] zepumph commented on #290
I think this is because I'm using a single instance of BoundarySoundClip to control the boundary sounds of both hands, so comparing "last position" is altering back and forth between the two. I'll take a look.

[2020-12-22 20:03] zepumph commented on #290
To fix this:
1. Either have each ratio half keep track of previous values and pass them in to onInteract, so that BoundaryClipSound isn't responsible for storing the last value.
2. OR, somehow create a BoundarySoundClip for each instance.

[2020-12-22 20:12] KatieWoe commented on #290
I think this actually also happens when dragging against the sides.

[2020-12-22 20:17] zepumph commented on #302
Makes sense to me! I used the same x number found in `EnvironmentalFactorsPanel.js`, and extended the mouseArea too. Closing. Thanks!

[2020-12-22 20:17] #302 closed

[2020-12-22 20:17] jbphet commented on #308
As I review the code, I'm seeing the terms "antecedent" and "consequent" used a lot.  It would be good to mention these as important terms in the implementation-notes document and say a bit about how they are used in this context, or perhaps provide a good link.  I vaguely recall the terms, but am in the process of searching online to refresh my memory about them, so some good docs might save time

[2020-12-22 20:18] zepumph commented on #290
That makes sense since the same algorithm is used to keep track of the last horizontal position too.

[2020-12-22 20:30] BLFiedler commented on #289
Hm. I may be a bit confused. If I have the ratio locked on screen 2, pressing 0 breaks Lock Ratio (as does pressing any other number) and puts both hands at a value of 0 (verified in log).

[2020-12-22 21:58] zepumph commented on #282
@jessegreenberg and I solved this today. We were able to generally focus the screen when a screen becomes visible. This was just a single listener in Screen.js, as well as hiding the focus highlight for a screen view to protect this feature from visual side-effects. We found one small bug in AnimatedPanZoomListener from this because of the initial focus on startup.

@jessegreenberg found one side-

[2020-12-22 22:19] zepumph commented on #290
I went ahead and just instantiated a single instance per interaction (one per ratio half, and another for both-hands). This fixed the problem as far as I can tell. @KatieWoe can you please confirm on master and feel free to close.

[2020-12-22 22:24] zepumph commented on #289
Pressing 0 is supposed to break the lock, but for me it does not go to zero, it goes to the min range of the lock ratio at the time of 0, which is .01.

![image](https://user-images.githubusercontent.com/6856943/102938326-9276c480-4458-11eb-855c-015ea2774ec9.png)

Is that different from what you get. Is that even desirable? The code is like this because we want to support the ability to stay in lo

[2020-12-22 22:26] zepumph commented on #308
Yes, I had an incorrect understanding of the separation of model.md and implementation_notes.md, as so those are defined briefly in model.md, Most of model.md will end up moving to implementation notes.

[2020-12-22 22:30] zepumph commented on #287
@jessegreenberg and I decided that the manual approach seemed acceptable for now, and we added doc in the code review checklist to look for these overlaps in the future.

[2020-12-22 22:30] #287 closed

[2020-12-22 23:31] KatieWoe commented on #290
Looks fixed on master

[2020-12-22 23:31] #290 closed

[2020-12-23 00:25] jbphet commented on #286
Code review complete, please search through the code for `// REVIEW` tags.  I also did some fixing of formatting, comments, typos and such that were unlikely to be controversial.  Overall, the structure looks good, conventions have been followed, and the code is readable.

I have one thought on the model that I'll set up a time with @zepumph to discuss.  I think it might be too big of a change to

[2020-12-23 02:24] terracoda commented on #282
Awesome. Will review in the morning!

[2020-12-23 17:13] terracoda commented on #314
Awesome work :-)
Thanks and closing.

[2020-12-23 17:13] #314 closed

[2020-12-23 17:26] terracoda commented on #322
The new descriptions are correct and the order is exactly how I requested.
Thanks @zepumph!
Closing.

[2020-12-23 17:26] #322 closed

[2020-12-23 17:51] terracoda commented on #282
@zepumph and @jessegreenberg, I am really liking the behaviour from a screen reader behaviour. Here's why:

1. I load a screen from the home page...
2. The page starts reading from the top.
3. I can verify it is the top by pressing Ctrl+Opt+left arrow - that takes me to the previous line, an H1.
4. I can then continue reading from automatically from top, or at my own pace with the cursor key (Ctrl

[2020-12-23 18:02] terracoda commented on #321
This issue may have been fixed with #282.
@KatieWoe, can you try again?

[2020-12-23 20:38] KatieWoe commented on #321
This looks fixed on master. Tested on Windows 10 Chrome with Jaws.

[2020-12-23 21:30] zepumph commented on #296
Is it possible to callback to animated pan zoom listener when certain input changes the position of the node? Or perhaps, more generally, AnimatedPanZoomListener needs to more robustly track the bounds of the focused Node?

[2020-12-23 21:32] zepumph opened #325 "Rewrite fitness algorithm"
From code review by @jbphet over in #286, he had some ideas about how the fitness algorithm could potentially be simpler and better.

Basically the current function takes inputs of x/y (left/right hand positions) and the target ratio to discover how far away from the ratio the current values are. It does this by treating one of the positions as "correct", and then maps the other to how far away it

[2020-12-23 21:33] zepumph commented on #325
Just to reiterate, this would be a large model change, and it is quite late in the process, but I don't think this would necessarily take the large number of hours that the title of this issue seems to hint at.  My estimate right now would be 3-4 hours.

[2020-12-23 21:34] #277 closed

[2020-12-23 21:42] zepumph commented on #292
@KatieWoe I believe this weirdness happened in an intermediate space that no longer exists (bigger than the no-success threshold, but smaller than the locked ratio range).

Now both of these values are at .01, or .1 of the first tick mark. Can you reproduce this now? If not, please close.

[2020-12-23 22:08] BLFiedler commented on #289
Updated, sorry. Didn't realize the connection between regular ol phettest connection and bayes. I see the same behvaior.

this does run us into the issue of "what is 0:0" if they are expecting it to go to that value. Personally, I believe even for the 1:1 case, going to 0 breaks the lock ratio because 0:0 =/= 1:1.

However, if you're using the 1:1 with a mouse, you can't accomplish the same behavi

[2020-12-23 22:17] zepumph opened #326 "movingInDirection() should be smoothed out"
This will solve https://github.com/phetsims/ratio-and-proportion/issues/297 and https://github.com/phetsims/ratio-and-proportion/issues/299. Right now we calculate the velocity every half second as a single opperation, it would be better if we kept track of motion for time X and then determined if it was moving in direction based on multiple points within that time. I'm not yet sure exactly how to

[2020-12-23 22:20] KatieWoe commented on #292
I didn't manage to reproduce after a few tries on Win10 Chrome. I'm wondering if it would be possible with multi touch, but I didn't manage it so closing the issue. Will reopen if it comes back.

[2020-12-23 22:20] #292 closed

[2020-12-23 23:50] zepumph commented on #326
After a couple of hours of rewriting the movingInDirection() function, I have a new algorithm, one that I like more than the previous one, but unfortunately it doesn't solve either of the bugs linked above. Those are both just behaviors that are in line with the criteria that we established for making the moving sound, but in places where we probably don't want it. I'll keep thinking.

[2020-12-23 23:56] zepumph commented on #326
I don't think I'm going to commit this at this time, but here is my work.

<details>

[code]

[2020-12-24 00:00] zepumph commented on #299
The above fixes the moving in proportion sound, in kinda a hard coded way, but I felt like this was the best way to go since https://github.com/phetsims/ratio-and-proportion/issues/326 didn't really end up fixing this. @DevonQui can you confirm fixed on master please.

[2020-12-24 00:03] zepumph commented on #326
I'm going to close for now. I'll reopen if it seems like it makes sense to work on in the future.

[2020-12-24 00:03] #326 closed

[2020-12-24 01:10] zepumph commented on #297
The above commit really was for https://github.com/phetsims/ratio-and-proportion/issues/299, but I linked to here too, because the above case played the "moving in proportion" sound in addition to the "in proportion" sound.

As for the in-proportion sound, I was able to expand the same sort of logic to the model proper, as well as to the in-proportion sound. I also factored out the method into a M

[2020-12-24 01:12] zepumph commented on #316
Yes it is exactly that @terracoda, because of the problem with iOS 14 outlined in https://github.com/phetsims/scenery/issues/1094, the accordion box is being clicked twice, so it is toggling open and then closed again. Unassigning and marking on hold until that issue is complete so that we can double check then.

[2020-12-24 01:13] zepumph commented on #315
Exact same as https://github.com/phetsims/ratio-and-proportion/issues/316#issuecomment-750689319, see https://github.com/phetsims/scenery/issues/1094 for details as to why this isn't working. Unassigning and on-hold until that one is complete.

[2020-12-24 01:24] zepumph commented on #306
Good idea, implemented above. CLosing

[2020-12-24 01:24] #306 closed

[2020-12-24 16:10] brooklynlash commented on #297
This seems fixed on Win10 Chrome, no "in proportion" sound at the 1 tick. Closing

[2020-12-24 16:10] #297 closed

[2020-12-24 20:00] zepumph commented on #311
I feel a bit like this goes beyond my knowledge about what is correct for screen reasers. @terracoda can you let me know what you think this is a bug to you?

[2020-12-24 20:12] zepumph commented on #270
@KatieWoe could you please comment on if there were any performance-type issues that came out of initial dev testing here. I will note #267 as a potential part of that. Were there any more?

[2020-12-24 22:49] zepumph commented on #325
I ended up just committing directly to master, because the behavior seemed to be the exact same as on master. This algorithm feels much simpler to me. Thanks @jbphet, I really appreciate your help. Could you please review this new fitness algorithm, so see if it was what you were thinking?

[2020-12-28 19:13] zepumph commented on #227
@jessegreenberg and I did end up discussing this, and we think that the best way to solve this is to know about all of the description dependencies ahead of time, because for cases like this, they drastically change the way that the code is set up.

If we know that a description needs to know  about the lock ratio checkbox interaction, the number pickers in the accordion box, and the ratio.lockedP

[2020-12-28 19:21] zepumph commented on #227
After the above commit, this is the order in which I get alerts while highlighting the both-hands interaction while locked (targetRatio not1), and pressing a number key:

![image](https://user-images.githubusercontent.com/6856943/103238120-30094280-48f6-11eb-96ec-be37b3fbc90b.png)

So now the "Ratio no longer locked" is after the assertive alert, so it won't get interrupted. This sounds really goo

[2020-12-28 20:52] zepumph commented on #227
I'm happy to report that the above commits add a "Ratio no longer locked" separate alert right before the context response when changing the my challenge AccordionBox (edge case 1).

@terracoda! We are ready for a complete review of the issue. Let me know how it goes!.

- [ ] @terracoda to review edge case 1

[2020-12-28 21:07] zepumph commented on #286
You said:

[code]

I actually prefer this, as I think it is easier to read what the actual string will look like, and templated vars allow for the `${}` shortcut to more easily fill in values. I moved the closing paren to a spot where I think it does a better job in framing the weird indentation block, bringing your eyes back to where  the rest of the function is indented at.  See https://github.c

[2020-12-28 21:18] zepumph commented on #286
I updated doc about the unclamped/clamped fitness Property. Please review. I didn't rename them though, because I still kinda feel like their current naming does a good job of trying to point people towards this.ratioFitnessProperty instead of treating both as equals. If you still feel differently after reading the updated doc, I'll be happy to rename.

- [ ] Just let me know what you think.

[2020-12-28 21:30] zepumph commented on #286
I totally understand why you feel this way. We started with that approach, and ended up factoring things out to a tuple, even though some input modalities (like RatioHalf's dragListener) require a single Property to be passed to it, and doesn't work with the tuple. The tuple is vital for changing both hands at once, and in supporting the "locked ratio" state. Otherwise you get complicated reentran

[2020-12-28 21:31] zepumph opened #327 "Remove RAPRatio.antecedentProperty and RAPRatio.concequentProperty from model"
From https://github.com/phetsims/ratio-and-proportion/issues/286, it is confusing to have these, and a tupleProperty. Ideally everything would be based on the single tupleProperty setting.

[2020-12-28 21:32] zepumph commented on #327
These would then move to the elements in the view that require them, and would try to force everything else that doesn't NEED them (i.e. because they aren't common code built around a single NumberProperty), to use the tupleProperty instead.

[2020-12-28 21:32] zepumph commented on #286
See https://github.com/phetsims/ratio-and-proportion/issues/327.

[2020-12-28 23:58] zepumph commented on #286
All review comments have been removed, and if I felt like something more was needed, I mentioned them above. @jbphet back to you. I'm going to head over to https://github.com/phetsims/ratio-and-proportion/issues/327 now.

[2020-12-29 00:25] zepumph commented on #327
I was able to remove all of the easy usages above. Basically these are all vestigial from before there was a tuple. To me they seem much cleaner using the tupleProperty like this. Now there are two more places that use the individual values, and I'm unsure if we will be able to factor them out.

1. In RatioHalf.js. Since RatioHandNode (sub component) is an AccessibleValueHandler, to support indivi

[2020-12-29 00:35] zepumph commented on #327
Wow. I'm really happy with https://github.com/phetsims/ratio-and-proportion/commit/86c9350df178f6f7e18b068603424494ba940605, and this issue's refactoring in general. I think I'll keep going on (2) above, and try to create them directly in RatioHalf.js.

[2020-12-29 01:00] zepumph commented on #327
Now there is only a `tupleProperty` in `RAPRatio`. @jbphet does this make more sense to you? Now RatioHalf creates two dynamicProperties to take the model (which only has a tuple of two terms) and map into a single number (for keyboard interaction via RatioHandNode's AccessibleValueHandle), and into a 2d position for the DragListener in RatioHalf.

I agreed heavily with your sentiment during code

[2020-12-29 01:35] zepumph commented on #327
a couple small bug fixes. The infinite loop was happening because of how DynamicProperty used comparison to determine if listeners should be called. In general using deep equality is cleaner in this case.

[2020-12-29 14:35] emily-phet commented on #307
I had no idea there were model notes targeted at teachers. I don't know that we actually tell anyone outside of PhET that this exists. The natural selection example is great!
Drafting this during the development process and having this be seen and discussed by the design team might be a great way to help designers better understand the current model as we go...what doesn't make sense in the drafte

[2020-12-29 22:41] zepumph commented on #307
I also didn't realize the target audience of model.md.

Having this around during the design process is a very good idea! It sounds like the best people to review my changes for this issue would be designers. I'll ping you about it.

[2020-12-29 22:46] zepumph opened #328 "Can't open my challenge accordion box by clicking on the title with ?shuffleListeners"
I think this has to do with the refactor in https://github.com/phetsims/ratio-and-proportion/commit/5d3cd2ae1594282c41c4670963fa4bd30cc2b274 for #286. I may have also run into the before, but I forget when or where.

[2020-12-29 23:10] zepumph commented on #301
I do not think that this has anything to do with ?shuffleListeners. Instead it seems to be because of the narrow range in which you can move the smaller hand (left in this case) and still be in-proportion. I was able to confirm this with and without
`?shuffleListeners`. To confirm this I recommend using `?log` to print out the exact values of the range.

4/30 is `.13333333333333333`, so use the co

[2020-12-29 23:11] zepumph commented on #328
Ahh, I remember, this was an issue in https://github.com/phetsims/ratio-and-proportion/issues/88.

[2020-12-29 23:12] zepumph commented on #328
UPDATE: this only occurs when `?shuffleListeners` is present.

[2020-12-29 23:24] zepumph commented on #328
Ok, I cannot consistently get this to reproduce. I believe I have only been able to reproduce this with both `?shuffleListeners&log`, but not every runtime.

http://localhost:8080/ratio-and-proportion/ratio-and-proportion_en.html?brand=phet&ea&shuffleListeners&log would do it about 40% of the time. Otherwise you could click the collapsed title bar just fine.

[2020-12-30 00:52] zepumph commented on #328
Ok. I think I have cracked it. It only happens some times because it depends on the random listener order of the pickableProperty listeners. Since Node got updated to use TinyProperty, it was rewritten to add a prioritized listener first, before any others. If this get's jumbled, then I would expect for scene graph operations (like the hit test for the accordion box to) to be buggy. I'm going to c

[2020-12-30 00:53] #328 closed

[2020-12-30 00:53] zepumph commented on #328
Note that this patch also fixes the problem, though we don't want to go down this road:

[code]

[2020-12-30 01:54] zepumph commented on #300
From my best estimates, this is happening because of the relationship between two central listeners in the model.

In RAPRatio, the tupleProperty is created, and then immediately linked to with reentrant charaticteristics to make sure that if the tuple is locked, changing one of them will correctly update the other.

Outside of the RAPRatio, the model's unclampedFitnessProperty looks at the two va

[2020-12-30 19:43] terracoda commented on #311
Hmm, it looks like the buttons disappear from the PDOM.
I'll have to try and reproduce on my devices.

[2020-12-30 19:58] terracoda commented on #227
@zepumph, I wasn't sure the separate responses would work, but they work very nicely in all cases.
I reviewed all three cases.

I found a new issue when reviewing the number key shortcuts. The hands don't move when ratio is 1:1 and the Lock Ratio checkbox is checked and I go to use the number key shortcuts. I'll open a new issue for that,

[2020-12-30 19:58] zepumph commented on #311
Perhaps this has to do with https://github.com/phetsims/scenery/issues/1094 then.

[2020-12-30 20:00] terracoda commented on #227
Awesome work @zepumph, closing.

[2020-12-30 20:01] zepumph commented on #227
Thanks!

FYI I did a bunch of refactoring related to the code review over in #286, so likely there is a bit of buggy weirdness from that. Thanks for being on the lookout.

[2020-12-30 20:09] terracoda opened #329 "Hands don't move with number keys when ratio is locked at 1:1"
While verifying #227, I noticed there was something funny when I lock the ratio at 1:1.
I commented in https://github.com/phetsims/ratio-and-proportion/issues/227#issuecomment-752739803 that the hands do not move in this case.

Steps to reproduce:
1. go to screen 2
2. change My Challenge to 1:1 or any N:N
3. Lock the ratio by checking the check box
4. Move focus back to Both Hands
5. Hit the numbe

[2020-12-30 20:12] zepumph commented on #329
Likely related to #286. and maybe #327.

[2020-12-31 17:23] terracoda commented on #311
@zepumph, it might be related to phetsims/scenery#1094 but I need to check on my 2 iphones. I have different iOS's on them, so might be able to verify.

Just need to figure out how to log into phettest from my iphone.

[2020-12-31 17:27] terracoda commented on #311
I logged into phettest :-) on bayes.

[2020-12-31 17:37] terracoda commented on #311
Hmm, the sim doesn't load from phettest.
@zepumph, when you get a chance can you make me a dev link.
In the mean time I will check dev 78 on both devices.

[2020-12-31 17:41] terracoda commented on #311
Using VO and Safari on iPhone 8 with iOS 13.5.1, I do not have any trouble accessing the screen buttons on the Home page.

[2020-12-31 20:43] zepumph commented on #311
Does this mean that you do have trouble on iOS 14?

[2020-12-31 20:45] zepumph commented on #329
Sorry about that! I used the wrong method call in the assertion. Feel free to close.

[2020-12-31 21:08] zepumph commented on #283
I spelled them out and it worked. I wasn't sure if you wanted me to do this anywhere else but for the values of the number spinners. Should I change the description like "Current challenge 1 to 2" to use words also?

Just let me know what you would like, and please review.

If so I would apply this patch:

Index: js/common/view/describers/RatioDescriber.js
IDEA additional info:
Subsystem: com.inte

[2020-12-31 21:29] zepumph commented on #256
I cannot seem to reproduce this in a standalone way. When I copy the static HTML out of the sim, navigating to the first list item sounds like:

"Discover Screen, Button, List start, Explore this screen to discover set cahllenge ratios". This is all as a single line, and the discover screen is highlighted. This is swiping right from the top of my static HTML page. This is when I copied the ENTIRE

[2020-12-31 21:39] zepumph commented on #233
Thanks for the updates @terracoda. It is so awesome that you reached out and got so many responses back. I really appreciate it.

I want to reiterate https://github.com/phetsims/ratio-and-proportion/issues/233#issuecomment-725026109 here:

So from all the above information, we seem to know the least about NVDA.

Next steps from here:
* Determine if this investigation should block publication of Ra

[2020-12-31 21:56] zepumph commented on #270
When I ran the sim with ?fuzz for 12 seconds after loading and recorded the performance in chrome dev tools, here were the top hitting items:

![image](https://user-images.githubusercontent.com/6856943/103426534-a8763a80-4b66-11eb-9e23-723415054501.png)

I don't see anything that is obviously sim-specific. I did note though that >7% is taken up from recalculating the bounds of text. I think that w

[2021-01-02 20:52] terracoda commented on #260
@emily-phet, how is this for a description for the website:

"With our first accessible math sim, play with the left and right hands in diverse ways to explore and discover a challenge ratio. On the Create Screen, create your own challenge to explore deeper and verify concepts around ratio and proportion."

[2021-01-03 21:39] terracoda commented on #329
Awesome. This issue is fixed. Thanks!

[2021-01-03 21:39] #329 closed

[2021-01-03 22:06] terracoda commented on #311
I can access the sim screen buttons easily on iPhone 7 with iOS 14.2

However, when I do exactly as @KatieWoe described, i.e., read from top with a 2 finger swipe up, then try to read backward with the left single-finger swipes, I can't get on the buttons.

If I read again from top with a 2-finger swipe up sometimes I get the buttons on a auto-re-read, and sometimes I don't.

There is something ve

[2021-01-03 22:09] terracoda commented on #311
@zepumph, re-assigning to you to answer my question about the PDOM.

[2021-01-03 22:21] terracoda commented on #311
@zepumph, could this issue be related to #256?

[2021-01-03 23:18] terracoda commented on #283
That’s a great question. For consistency and assurance, it might be nice to change the Challenge numbers to words.

I am assuming there are only 3 options and this would be an easy change.

We only had trouble with the number spinners, but screen readers can treat numbers differently, so best to spell out the challenge options, too.

[2021-01-03 23:18] terracoda commented on #283
Note, I haven’t reviewed yet.

[2021-01-04 15:17] terracoda commented on #256
@KatieWoe mentioned she heard "sky" in Faraday's Law. I am curious where.
I have only heard these strange utterances on the Home Page and in the Navbar, not from within the actual sim screen.

@zepumph, I'd like to test the latest version of the sim again on my two iOS devices. The sim is not loading on BAyes PhET Test, so I need a new dev version at your convenience.

[2021-01-04 15:21] terracoda commented on #256
And regarding your questions in https://github.com/phetsims/ratio-and-proportion/issues/256#issuecomment-753189255, I have a feeling we will have to mark this bug as a won't fix (after I test the latest version).

That said, I think we need to remain vigilant on this issue to try and find the source. I haven't found any related information by googling. It's got to be some strange iOS 14 bug.

[2021-01-04 15:49] terracoda commented on #256
I found one comment on the applevis forum that indicates that these words might be related to Apple's new image detection/description feature.

Please see: https://www.applevis.com/blog/apple-releases-ios-141-and-ipados-141-voiceover-fixes-and-support-new-iphone-models

It's a strange and erratic bug, I was just testing dev version 78 (latest that I have). The bug does not exist on iOS 13.5.1 (I t

[2021-01-04 22:11] zepumph commented on #229
So I guess the next question here is is it is worth investigating audio clipping that occurs when sharing screen with zoom. @emily-phet should this block publication? Adding label until we decide it doesn't since we are soon getting to RaP RC time.

[2021-01-04 22:14] zepumph opened #330 "VoiceOver input isn't working with iOS 14 for published sims"
To track progress of https://github.com/phetsims/scenery/issues/1094, which blocks publication of this simulation.

[2021-01-04 22:17] zepumph commented on #264
I don't think this will take long, but it may be the first sim that would use `globalKeyStateTracker`. So I'm going to have this block publication of RaP.

[2021-01-04 22:24] zepumph commented on #296
I think this needs to be handled before RC.

[2021-01-04 22:27] zepumph commented on #281
Thanks for the report! It is most helpful if you can assign me, as I'm not as good at looking at all the issues in the repo as I should be (oops), thanks!

[2021-01-04 22:29] zepumph commented on #246
This has sat for a while, @emily-phet can you let me know what you would like to do here?

[2021-01-04 22:34] zepumph commented on #256
Can you please describe your issue? On what devices? What does "not loading" mean as it pertains to the PhET Sim, its splash screen, and its loading bar. I just found that https://bayes.colorado.edu/dev/phettest/ratio-and-proportion/ratio-and-proportion_en.html?ea&brand=phet loaded just fine for me on my chrome/windows.

[2021-01-04 23:04] terracoda commented on #256
It's not loading on my phones.
I get the PhET splash page forever after loading the sim.
The loading bar flashes, but never starts filling.
I don't know how to troubleshoot on my phone ;-)
I can add more detail tomorrow.

[2021-01-04 23:04] terracoda commented on #256
I'm using Safari.

[2021-01-04 23:07] KatieWoe commented on #256
I know bayes has been slower than our old phettest. Not sure if that's the problem, or it's something else, but sometimes just refreshing the page if it's being slow can help.

[2021-01-05 20:45] zepumph commented on #289
We decided that when locked and target is 1, pressing "0" in the both hands interaction should not work. In addition to this patch. @terracoda will come up with an alert to say in this case.

[code]

[2021-01-05 21:10] zepumph commented on #307
A large point here will be to discuss how the fitness is calculated based on "physical distance" or "hand positions" or "hand proximity" to the ratio. No on the mathematical closeness/distance between the current ratio and the target ratio. This handles edge cases like when the current ratio is at 0/0. Like in https://github.com/phetsims/ratio-and-proportion/issues/288

[2021-01-05 21:17] zepumph commented on #288
Today @terracoda, @BLFiedler, @emily-phet and I discussed this further. There was one camp that was very interested in having a denominator at 0 cause a white screen, and there was another camp that wanted to keep it as is on master. The latter camp's justification was that the fitness is based on hand position proximity, and not on comparing the current ratio.

We decided to go with master as is,

[2021-01-05 21:17] #288 closed

[2021-01-05 21:18] zepumph commented on #275
Today during a design meeting, @terracoda, @emily-phet, @BLFiedler and I confirmed that this behavior in https://github.com/phetsims/ratio-and-proportion/commit/bf94ff2c2e34761c9bf228900e59ed40b526d882 makes sense, and aligning the interactions (keyboard/mouse), while decreasing the hollywood zone is the way to go.

Part of the rationale for this late-stage change is that the original hollywood zo

[2021-01-05 21:18] #275 closed

[2021-01-05 21:22] #278 closed

[2021-01-07 15:29] terracoda commented on #289
I was assuming I should put the newly needed context response in this issue, but I just discovered a problem with closed #227, so I think it is best to keep all Lock Ratio responses in that issue.

I hope that's okay.

[2021-01-07 16:28] terracoda commented on #227
Re-opening.

@zepumph, in light of a new response needed as a result of design changes needed for #289, I noticed that for Edge case 2, I think I am getting the wrong response. I see from my previous comments, things may have gotten very confusing. I think I confused things by using strings from what was implemented rather than what I originally requested.

So I am copying an updated table from th

[2021-01-07 18:50] zepumph commented on #227
If this needs a conversation between us, please mark for meeting, otherwise please assign to me for implementation.

[2021-01-07 18:57] zepumph commented on #289
That sounds good to me. I will unassign you to this, and assume that you will take care of whatever context responses needed over in https://github.com/phetsims/ratio-and-proportion/issues/227

[2021-01-07 18:58] zepumph commented on #227
Also, just to have over here, in https://github.com/phetsims/ratio-and-proportion/issues/289#issuecomment-754888778 I said (from meeting discussion):

- [ ] @terracoda will come up with the alert in this issue.

[2021-01-07 19:02] terracoda commented on #227
@zepumph , marking for a quick meeting to discuss the best way to handle edge cases 2 and 3.
I do have a proposed alert designed fro edge case 3 which was brought up in #289.

[2021-01-07 19:04] terracoda commented on #227
And a proposed change to that would follow the same pattern as edge case 3.
I think they should both follow the same pattern.

[2021-01-07 19:33] zepumph commented on #289
The patch from https://github.com/phetsims/ratio-and-proportion/issues/289#issuecomment-754888778 was applied above. Closing

[2021-01-07 19:33] #289 closed

[2021-01-07 20:27] zepumph commented on #281
I recorded performance on my windows firefox system, and reproduced minor slowing. For me it never went lower than 40fps. When I look at the spread of time spent, nothing sim-specific stood out to me. I know my computer is better than many students', but even still, this use case doesn't feel like something we need to spend more time on. Closing as a wont-fix.

[2021-01-07 20:27] #281 closed

[2021-01-08 17:42] BLFiedler commented on #142
This is being revived for this quarter. Reassigning to put on radar, but we may want to move it to a new issue that discusses the specific implementation and/or PhET-iO usage.

[2021-01-08 17:46] BLFiedler commented on #28
Reviving this as a reminder to speak with ATLAS folk to see the latest state of mechamarkers.

[2021-01-08 18:06] zepumph commented on #142
@BLFiedler, would you please put out any deadlines for the next quarter or so, even general ones, into this issue?

[2021-01-08 18:31] BLFiedler commented on #142
Looking like week of March 9th for a usable prototype.

[2021-01-11 15:49] terracoda commented on #227
@zepumph, maybe we do not need to meet about his issue. I have a new proposal that aligns edges case 2 and 3, to use already available object-response strings. I outlined 2 other possible approaches to Edge case 2 in the design document in the [Table: Lock Ratio Context Responses](https://docs.google.com/document/d/1HJvvGWYaUv9tlat9S7omQQVng8fGB4FuUhTEM1qx1z8/edit#heading=h.7kac3owqb80b), but I am

[2021-01-11 15:58] terracoda commented on #227
@zepumph, please re-mark with meeting label if you think we need to discuss.

[2021-01-11 16:27] terracoda commented on #268
@emily-phet, may I suggest a separate bullet item for the group contributors. We did this in John Travoltage.

It might make the list more readable.

- Software Development: John Blanco, Michael Kauzmann
- Team: Brett Fiedler, Emily B. Moore, Matthew Moore, Taliesin Smith
- Contributors: Dor Abrahamson and the Embodied Research Lab (UC Berkeley); Clement Zheng, Peter Gyory, and Ellen Do from the A

[2021-01-11 18:43] terracoda commented on #283
I just tested master from bayes/phettest and I no longer hear precentages.
Hardware: iPhone 7
Software: iOS 14.3
Screen reader: iOS VoiceOver
Browser: mobile Safari

Just going to double check on my other device.

[2021-01-11 20:19] terracoda commented on #283
Hmm, with iOS 13.5.1 (not the latest iOS) on my iPhone 8 the sim doesn't load. The splash screen progress bar just keeps flashing.

To test there I will need a dev version.

I think it is safe to close this issue since I am no longer hearing percentages with the numbers on the number spinner spelled out.

Regarding, spelling out the other numbers (see comment https://github.com/phetsims/ratio-and-

[2021-01-11 20:51] terracoda commented on #316
Using ios on iPhone7 14.3, I can now open and close the accordion box with and without iOS VoiceOver enabled.

I am not sure the fix for phetsims/scenery#1094 has been applied or if it was my iOS update to 14.3, though I assume the ix has been applied as we discussed it last week.

[2021-01-11 21:05] terracoda commented on #315
I can now check the check box.
Phone updated to iOS 14.3, and the fix in phetsims/scenery#1094 may also have been applied.
I think it is safe to close this issue for RaP.

[2021-01-11 21:24] terracoda commented on #267
Good news, I am not getting "Safari Busy" today.

[2021-01-11 22:12] zepumph opened #331 "Can't select items from ComboBox on VO + iOS"
@terracoda and I were able to consistently reproduce this problem. In iOS with VO on, when you open an accordion box, the list box is not focused. Furthermore we found that in the first screen, the my challenge list box is way out of order in the PDOM. I will commit an accessible order fix for that now.

As for the general focus issue in ComboBox for iOS, I think it has to do with this callback no

[2021-01-12 00:45] jessegreenberg commented on #296
I am not sure what is best here, and I would like to check in with @terracoda and @emily-phet. I see three ways forward.

1) We make our PanZoomListener always pan to the focused Node so that this happens automatically. In some cases, this could cause too much motion. Requires 1-2 hours of development to add this. Here is an example:
<details>

![ezgif com-gif-maker (2)](https://user-images.github

[2021-01-12 02:39] zepumph commented on #296
I think that PhET has spent a lot more time designing focus highlight than general browsers do, from color, shape, layering etc. Specific focus highlight design given our more targeted audience and learning goals makes sense to me, especially given our generally younger user-base. In general though I think that a simpler approach, (2), where Pan/zoom doesn't try to be fancy and follow the user, wi

[2021-01-12 14:20] terracoda commented on #296
We do not yet have a lot of user interview data with the Pan & Zoom feature.
I am wondering if different users might want different things.

Maybe an option to follow focus would be a nice user preference. I am thinking that users who choose to have interactive highlights enabled for all interactions may also prefer to have pan & zoom follow focus.

Also, I see following the skateboarder and and f

[2021-01-12 14:20] emily-phet commented on #296
My two cents:
- I think option 1 is problematic, for the reason @jessegreenberg indicates. For sims with a lot of animated motion it will be crazy!
- I think option 3 is probably ideal, but even in a "simpler" sim like RaP, I can see that it could be difficult to know when panning should happen and when it shouldn't. For example, the "Both Hands" case. Seems like you want to keep both hands visibl

[2021-01-12 14:30] terracoda commented on #296
I am not as familiar with all the possible PhET objects that are focusable, interactable and that also move on their own. I realize there are many. The Balloons in BASE, Skateboarder(s) in ESP, and orbiting planets come to mind. These interactable animating object will likely need the most discretion.

It is important to keep in might, following focus doesn't mean following every object that anima

[2021-01-12 14:36] emily-phet commented on #296
@terracoda I think @jessegreenberg option 1 needs to be ruled out **unless** it becomes optional to have focus tracked all the time. I think we don't need to think through all the possible cases to determine that, since If in even one case motion is likely to cause a problem, option 1 is a no-go, **unless it's opt-in only**. I get super motion sick from animation, and the clip @jessegreenberg show

[2021-01-12 14:40] terracoda commented on #296
I agree, following an animating object would need to be an opt-in thing. As you said, many people would not be able to follow the skateboarder.

[2021-01-12 16:13] terracoda commented on #296
3/4 participants used and commented on the Pan & Zoom feature. All comments were positive.
2/4 were very positive stating it was very natural and worked well.
1/4 said the only issue was accidental fires, e.g., sometimes when pinching to zoom in I would activate the speech and I would have to wait for it to stop talking to continue.

Note that GFLB has no interactive objects that move on their own

[2021-01-12 17:07] jessegreenberg commented on #296
It is sounding like we need to invest in option 3. @terracoda or @emily-phet can you comment on timeline? Does this need to be done prior to RaP publication?

[2021-01-12 17:46] zepumph commented on #283
I would like to find a place to document this generally. This doesn't block publication though.

[2021-01-12 17:47] terracoda opened #332 "Don't always hear "go beyond-edge" responses"
The "go beyond edge" responses were verified for keyboard interaction in #247.

However, yesterday while testing with iOS 14.3 and VO on iPhone7, I was not getting responses when the right hand tried to go beyond the top. I did, however, hear the response for the left hand, when trying to go lower than "near bottom".

Today, however, I am having trouble double verifying the behaviour, likely due t

[2021-01-12 17:52] terracoda commented on #316
Last comment is no longer true as of this morning.

[2021-01-12 17:54] terracoda commented on #315
My last comment is no longer true as of this morning.

[2021-01-12 18:10] BLFiedler commented on #229
I think it is reasonable to not let this block publication. It is fairly context specific, not reproduced by QA, and seems as though it can be fixed with a page refresh.

[2021-01-12 18:13] BLFiedler commented on #246
I agree that the edge sounds could be louder with no harm. As a baseline, we can bring them in line with the relative loudness in GFLB.

@terracoda , do you have a sense for how loud the tick marks would have to be relative to how they are now? Since it is in enhanced sounds now and you must explicitly turn them on, which means you want them on, we can likely turn them up without worrying too much

[2021-01-12 18:26] zepumph commented on #246
@terracoda @BLFiedler and I increased the volume for the boundary and tick mark bumps. We like the volume increase, and consider ourselves a quorum. Closing.

[2021-01-12 18:26] #246 closed

[2021-01-12 18:33] zepumph commented on #311
Things to think about in my investigation:
* Is this caused by the list structure?
* Is this caused by how we swap PDOM content when changing from a big button to a small button. Likely the last time that the HomeScreen had PDOM work on it was when we had two complete instances of a screen button for each sized button.

[2021-01-12 18:50] zepumph opened #333 "Custom focus behavior for both-hands when zoomed/panned"
Over in https://github.com/phetsims/ratio-and-proportion/issues/296 we noticed that when you are zoomed, and tab navigate to the boths hands, the zoom goes to the center of the Node. This most likely will not zoom to either hand, let alone both.

We don't want this issue to block publication, but feel like it could be a nice case to experiment with more custom zoom/focus behavior.

[2021-01-12 18:51] zepumph commented on #333
Perhaps instead of the pan/zoom listener always choosing the center, a Node could opt into an interface method like `onZoomedFocus` and it could return a point for the pan zoom listener to use. Tagging @jessegreenberg to see if he likes that idea when needing custom solutions.

[2021-01-12 18:55] zepumph commented on #296
For Ratio and Proportion, this is what we would like the behavior to be for soon publication:
* The general following of focused elements during tab navigation is nice.
* When highlighting the sliders, home/end/pg up/pg down should follow the slider. (We want this to be the default behavior in common code for all sliders, with an option to turn if off for cases like GFLB as @terracoda described in

[2021-01-12 19:04] jessegreenberg commented on #296
I don't really agree with this design request. It isn't just panning, but would also involve zooming out to keep both hands on screen.  In the case of RAP, you have to be almost completely zoomed out to see both hands when they are apart. What if the user wants to zoom in on a hand and change ratio? Doesn't this assume too much about what the user is trying to do?

[2021-01-12 19:05] zepumph commented on #268
@terracoda, @BLFiedler and I separated out the compound contributors into the "Contributors" section. I like it! We also added @amanda-phet  to the team since she has been an invaluable consultant in the Math department, as well as making us some hands!

This is what it looks like now.

![image](https://user-images.githubusercontent.com/6856943/104360394-74334000-54bd-11eb-890a-ecddd1aa1197.png)

[2021-01-12 19:05] #268 closed

[2021-01-12 19:06] #270 closed

[2021-01-12 19:09] zepumph commented on #229
I think this would be a good issue to get to at some point, since it seems to be sim-specific (see https://github.com/phetsims/ratio-and-proportion/issues/229#issuecomment-736894362). We also live in a remote world, and will want to be able to use zoom for interviews and pairing in the future. I'll remove the blocking label, but I'm going to keep this open.

[2021-01-12 19:11] zepumph commented on #260
@emily-phet  we may be past this, since we are about to publish the sim fully. Can this issue be closed? Or perhaps I don't understand this issue's purpose fully.

[2021-01-12 19:34] zepumph commented on #296
I would love to discuss that more in https://github.com/phetsims/ratio-and-proportion/issues/333, because I think I agree with you. But it also is informed by how we handle solution number (3) above, because this could be a custom implementation that we take based on assumptions about the particular sim (RaP).

I'll copy this over to that issue.

[2021-01-12 19:35] zepumph commented on #333
In https://github.com/phetsims/ratio-and-proportion/issues/296#issuecomment-758871051 @jessegreenberg said:

Then I responded with:

[2021-01-12 19:54] zepumph commented on #227
Something like

[code]

[2021-01-12 20:05] zepumph opened #334 "Describer design pattern question"
Is it better to pass dependencies through sim type functions into describer functions, or is it best to just have each describer created with the dependencies it needs and so its functions don't need arguments.

Example of the former (option 1):

[code]

Example of the latter (option 2):

[code]

The key here is to keep in mind that the description may be passed all over the view to Types that nee

[2021-01-12 20:16] jessegreenberg commented on #296
Does this include the numbered hotkeys as well?

[2021-01-12 20:24] zepumph commented on #296
No, that bullet was only for the common code slider implementation.

[2021-01-12 21:28] zepumph commented on #331
@jessegreenberg says this is due to or an example of the problem in https://github.com/phetsims/scenery/issues/1137.

[2021-01-12 21:46] jbphet commented on #327
For future reference, the comment in the parent issue where the cost/benefit for the tuple approach versus separate properties is discussed is https://github.com/phetsims/ratio-and-proportion/issues/286#issuecomment-751870514.

[2021-01-12 22:04] jbphet commented on #327
Above, @zepumph asked:

Absolutely, I think this is a very positive step that will make the code easier to understand and maintain.

I have two follow-up suggestions, and one is only partly related, so feel free to break it into a separate issue if desired.
- I think it would be helpful to explain why a tuple is used in `RAPRatio` instead of individual properties, using some of the information fro

[2021-01-12 23:14] zepumph commented on #316
This is fixed from changes in https://github.com/phetsims/scenery/issues/1094

[2021-01-12 23:14] #316 closed

[2021-01-12 23:15] zepumph commented on #315
This is fixed from recent changes over in https://github.com/phetsims/scenery/issues/1094. Closing

[2021-01-12 23:15] #315 closed

[2021-01-12 23:16] zepumph commented on #331
This is now fixed by https://github.com/phetsims/sun/commit/7476379ad49975f990021465c9db0d40cc428487. Closing

[2021-01-12 23:16] #331 closed

[2021-01-13 00:00] zepumph commented on #296
@jessegreenberg and I discussed this, and we will pursue turning the sim's AnimatedPanZoomListener in to a singleton in scenery that any code can opt into specific zoomed-focus behavior. This will cover the second bullet in https://github.com/phetsims/ratio-and-proportion/issues/296#issuecomment-758866363 as well as carving space for a more robust api to customize more sim-specific focus interacti

[2021-01-13 00:28] jbphet commented on #325
Yes, this was pretty much what I had in mind, and I'm glad you've found it useful.  The only other thing that I was thinking was that there would be an explicit "distanceFromTargetRatioProperty" in lieu of "unclampledFitnessProperty", since that's a little easier to understand, and `getMinFitness` would then become `getMaxDistance`, and `calculateFitness` would be `calculateDistance`, and the last

[2021-01-13 00:34] jbphet commented on #286
I think we're good here.  There are a handful of child issues that are being followed up on, so we're safe to close this.

[2021-01-13 00:34] #286 closed

[2021-01-13 01:26] zepumph commented on #334
@jessegreenberg and I discussed this today, and we feel like option 2 is the cleanest and easiest. I will give a once-over on the RaP describers, then update the describer design patterns about this decision.

[2021-01-13 01:29] zepumph commented on #327
Sounds great thanks. I don't think this work should block publication.

[2021-01-13 02:36] zepumph commented on #325
That makes sense. Thanks for the clarity. I do agree that using distance as an unbounded metric, and fitness from 0 to 1, will clean everything up nicely. I'm not sure if time will allow for this before first publication. I'll take a look.

[2021-01-13 20:31] jessegreenberg commented on #264
I think this looks good and is what I expect from globalKeyStateTracker. I tested it and it seems to be working well.

[2021-01-13 20:36] #264 closed

[2021-01-14 14:16] terracoda commented on #333
I thinking that I agree with @jessegreenberg and @zepumph that for RaP centering the hands (when zoomed in on a slider) is not so useful, especially if it means zooming out without the learner's consent.

I can imagine sims where quickly zooming out to get a little more context would be really useful. We could potentially achieve this some kind zoom-out short cut that might be useful across sims.

[2021-01-14 17:38] zepumph commented on #283
Or perhaps this problem came about because our default aria-valuetext is just the value. Perhaps we should remove that case, and the screen reader will just read the value from aria-valuenow. I will need to some testing on this. It is for after an RC is made.

[2021-01-14 18:02] zepumph commented on #332
I didn't know if this capability was supported on iOS. That said, it is possible that https://github.com/phetsims/scenery/issues/1094 just changed the behavior from what you experienced 2 days ago.

When I am at the border, and I swipe towards the border, I only get the object response. I also tested this behavior in GFLB and got the same behavior on master, as well as with https://phet.colorado.e

[2021-01-14 21:55] zepumph commented on #333
I am inclined to close this issue, since it seems like we don't want to customize anything special for the both hands focus. Is that true @terracoda? If so feel free to close, otherwise please add what behavior we may want that would be specific to the both-hands interaction.

[2021-01-14 22:17] zepumph commented on #282
I'm not sure we worked on the iOS behavior in this issue at all. I just found that pressing a nav bar screen button didn't focus the top of the sim. I'm not sure this needs to block publication though.

[2021-01-14 22:17] zepumph commented on #282
What do you think @terracoda?

[2021-01-14 22:18] terracoda commented on #333
Oh, sorry, I was talking about not needing to center the sliders like the way the Both Hands interaction gets centered.

For the Both Hands interaction, I think it would be useful if it worked more like the sliders. That is, the hand that is moving would stay in view.

If Both Hands are moving at the same time, I feel like the one hand should stay in view, ideally, if the hands are moving up, the

[2021-01-14 22:23] terracoda commented on #333
Oh @zepumph, apologies again, this issue is just about focus. Do you specifically mean, should we not center the interaction on focus?

[2021-01-14 22:51] zepumph commented on #227
@terracoda everything was implemented as you wanted to get edge case 2 and 3 in place. I got pretty confused about edge case 2 while doing it though. We will always hear the object response from the both hands interaction before the context response, so by making the second piece the proximity to ratio also (duplicate of the both hands object response), we are really just duplicating that info in

[2021-01-14 22:59] zepumph commented on #333
I agree with this. Why then would we spend time on custom behavior to track individual hands while zoomed in, when learning goals suggest that you will need to see both in order to understand the sim at all?

I don't yet see any useful value added by adding specific support to the both hands interaction to pan in a special way, either on focus or while interacting. So, to me, https://github.com/ph

[2021-01-15 15:42] terracoda commented on #333
Agreed, if a learner moves a hands off the screen, or uses the number key shortcuts while zoomed in, they will have to zoom out to see what happened.

For RaP, the zoom feature will be useful for reading labels, challenges, and ranges, but less useful for the hand interactions.

[2021-01-15 15:43] #333 closed

[2021-01-15 19:03] terracoda commented on #332
Ratio has to be locked to get this response.

**On Mac OS no issue**
I have verified that the "go beyond edge" responses fire for me when using the keyboard or the mouse on MacOS 10.13.6 (sorry I haven't updated). They fire when using either hand slider, and using either WS keys or Up/Down Arrow keys on the Both Hands interaction. The responses work with mouse and keyboard.

There is something inc

[2021-01-15 19:22] terracoda commented on #227
@zepumph, yes, Edge Case 2 and Edge Case 3 are working on MacOS with keyboard.
Thanks for the extra effort on this one.

[2021-01-15 19:22] #227 closed

[2021-01-15 19:48] terracoda commented on #282
Oh darn, I just verified again for keyboard and screen reader, and of course it works.

I also noticed that this was not working on iOS with VO enabled.
I think it should apply there, too.

Focus should go on the top (H1).

Currently, focus seems a little erratic, so setting in on the H1 when the screen loads, might help.

[2021-01-15 19:52] terracoda commented on #282
Actually, wait a second. This might not be right for iOS without VO enabled.
And you can't tell if a screen reader is enabled.
Reassigning to myself with I re-think this briefly.

[2021-01-15 21:27] terracoda commented on #282
As I said before, focus management is working great on my laptop with VO.

Now for my phone...
Ok, no focus highlights show up as I use the sim with regular touch gestures with VO off. Focus doesn't really exist in this exploration.

When I enable VO, and use VO's custom gestures (swipes and double taps, etc) I see both our interactive highlight and VO's black highlight. Sometimes they are not ali

[2021-01-15 21:27] #282 closed

[2021-01-15 23:09] zepumph commented on #332
@terracoda and I discussed this together today. We found https://github.com/phetsims/gravity-force-lab-basics/issues/185#issuecomment-545180225 which was this exact question that we discussed when publishing GFLB. Over there @jessegreenberg and I found that VO doesn't give the browser any events when moving "beyond" the min/max of a slider that is currently at that min or max.

Ratio and Proportio

[2021-01-16 01:59] zepumph commented on #311
Here is how I consistently reproduce this problem:

1. Load the sim on iOS.
2. Physically touch the PhET Menu (one of the few elements on the home screen still being positioned in the PDOM).
3. Swipe left back until the second, create screen is highlighted.
4. swipe two fingers up to read from the beginning, during this read-through, it will skip the second screen.

I am able to consistently find

[2021-01-16 02:23] zepumph commented on #311
The issue isn't the logic in HomeScreenButton, but instead the re-layout in HomeScreenView when selectedScreenProperty is changed:

https://github.com/phetsims/joist/blob/1acce4c15cc0158ba78dbcada5fe9760454a3fa4/js/HomeScreenView.js#L167

[code]

It is too late in the day for me to try to figure out how to proceed. Do I adapt the home screen so that the scene graph isn't getting completely rewritt

[2021-01-16 02:30] zepumph commented on #267
I have not been able to work on this because I don't have access to a mac. I think I would prefer to not have this block RC, and then to be able to have QA confirm that this is a problem consistently enough, and we can fix it while in RC. @terracoda does that seem like an appropriate plan, or should I do further investigation before RC?

[2021-01-17 16:24] emily-phet commented on #260
How about:
"Play with the left and right hands in different ways, and explore ratio and proportion. To get started, on the Explore screen, find each challenge ratio by moving the hands. Then, on the Create screen, set your own challenge ratios. Once you've found a challenge ratio, try to move both hands while maintaining the challenge ratio."

It's a bit verbose, and I'm going from memory (maybe t

[2021-01-17 20:35] terracoda commented on #260
Yep screen one is "Discover". I think your description is good. It provides all the learning pathways.

I'll adjust it slightly because of the "Discover Screen" name. How's this?

 "Play with the left and right hands in different ways, and explore ratio and proportion. Start on the Discover screen to find each challenge ratio by moving the hands. Then, on the Create screen, set your own challenge

[2021-01-17 20:36] terracoda commented on #260
@emily-phet is the new text in https://github.com/phetsims/ratio-and-proportion/issues/260#issuecomment-761875687 ok by you?

[2021-01-17 20:45] terracoda commented on #260
Actually, I have posted this on the A11y Sims page.
Please close issue, if the description is good as is :-)

![Screen Shot 2021-01-17 at 5 14 27 PM](https://user-images.githubusercontent.com/1902116/104855477-9119aa00-58e7-11eb-9719-4f363c557020.png)

[2021-01-17 21:02] terracoda commented on #267
@zepumph, I don't think this issue should block RC. I have not heard Safari busy in a long time, so perhaps performance has been improved through other work.

[2021-01-17 21:32] emily-phet commented on #260
Looks good!

[2021-01-17 21:32] #260 closed

[2021-01-18 16:20] terracoda commented on #256
I still hear these strange little phrases when using mobile VO. Recently hear "Day Time" when I loaded Faraday's Law.
I don't think the phrases get terribly in the way, ad they definitely seem to be an iOS VoiceOver bug.

[2021-01-18 16:33] terracoda opened #335 "Hide focus highlights but keep DOM focus in response to pointer interaction"
Some things were fixed in https://github.com/phetsims/ratio-and-proportion/issues/331
And again, many iOS issues were resolved by changes to how scenery now handles events on iOS in https://github.com/phetsims/scenery/issues/1094

However, the comboboxes in RaP are no longer working at all when VoiceOver on iOS is enabled.

With VoiceOver enabled, the buttons do not get focus, so I cannot activate

[2021-01-18 16:35] terracoda commented on #330
Everything but the comboboxes are working now, so I created #335 to work on that.
Closing this issue.

[2021-01-18 16:35] #330 closed

[2021-01-18 16:54] terracoda commented on #335
When I posted this issue, I didn't realize this issue is going to be worked here in https://github.com/phetsims/scenery/issues/1137

[2021-01-18 16:57] terracoda commented on #335
This is a duplicate issue, so closing to keep things simple.

[2021-01-18 18:54] zepumph commented on #335
While this issue won't get worked on, instead focusing on https://github.com/phetsims/scenery/issues/1137, it would be nice to keep track of the blocking work for RAP directly in the repo (hence the creation of the "duplicate" marker issue #330). I'll reopen until this is solved generally, but there is nothing to do here.

[2021-01-18 19:15] #332 closed

[2021-01-18 19:18] zepumph commented on #267
Ok sounds good. I'll mark it for confirmation by QA during RC. Thanks!

[2021-01-19 18:00] jessegreenberg commented on #296
This should be done, @zepumph can you please test and make sure that it is working as expected (or assign someone else to review)?

[2021-01-19 18:28] terracoda commented on #335
What was happening yesterday is not happening today.

The button gets focus, I can open the list box, but I just get help text before the list items, and the selected item is not focused.

[2021-01-19 18:32] zepumph commented on #335
@jessegreenberg and I would still like to use https://github.com/phetsims/scenery/issues/1137#issuecomment-761255891 to try to  improve the combo box experience by auto focusing the listbox when the button is selected.

I'll rename to be the sim-specific version of that issue.

[2021-01-19 18:34] zepumph commented on #296
@terracoda for some co-testing.

[2021-01-19 18:40] terracoda commented on #296
I verified all shortcuts on both sliders.

page up page down, home and end and arrow keys and shift arrow still work, too.

Working means focus follows the hand and the hand stays in view.

[2021-01-19 18:41] terracoda commented on #296
Closing.

[2021-01-19 18:42] terracoda commented on #296
Re-opening to test on other browsers. I only tested Safari on Mac OS.

[2021-01-19 18:44] zepumph commented on #296
I tested on chrome/firefox on windows and all looks great. @terracoda tested on chrome on Mac. Closing

[2021-01-19 18:44] #296 closed

[2021-01-19 18:47] zepumph commented on #259
Likely this is ready to be assigned.

[2021-01-19 18:48] emily-phet commented on #259
@BLFiedler Can you speak with @arouinfar about how to do this?

[2021-01-19 19:00] arouinfar commented on #259
The process is pretty straightforward, but is probably easiest to demonstrate over a zoom call. I'm happy to chat anytime @BLFiedler. We can also go over other pieces of the master checklist (#1) if there's anything else you'd like to consult on.

[2021-01-19 19:32] zepumph commented on #256
@terracoda and I worked on this again. @terracoda led the conversation towards feeling like they were image descriptions. Using that, and a guide [here](https://www.idropnews.com/ios-14/ios-14-adds-ai-based-voiceover-descriptions-for-images-heres-how-to-use-it/144589/) as inspiration, we were able to find a setting in VO that controls "image description". Though now on iOS 14.3 the setting is unde

[2021-01-19 19:35] zepumph commented on #229
Over to @jbphet for further investigation.

[2021-01-19 19:36] zepumph commented on #229
Feel free to create a tambo issue and close this one if that is easier/better for you.

[2021-01-19 19:37] zepumph commented on #28
I would say we shouldn't spend any time on this issue until we integrate their newer, in-browser solution and test it out.

[2021-01-19 19:37] KatieWoe commented on #256
Thanks for the heads up. Great work!

[2021-01-19 19:37] #256 closed

[2021-01-19 20:25] zepumph commented on #334
I didn't see anything to update in RaP. Closing

[2021-01-19 20:25] #334 closed

[2021-01-20 05:41] #327 closed

[2021-01-20 06:01] zepumph commented on #325
After looking into this further, I don't think I want to factor things out into a distanceProperty, because that distance depends on the target ratio. I wouldn't want spots that need to look at that distance have to normalize on target-ratio, which is basically what the "unclamped" fitness is doing currently. Perhaps if we were still designing description, I would test out what it sounded like for

[2021-01-20 06:01] #325 closed

[2021-01-21 04:04] zepumph commented on #311
This has been fixed by the first commit over in https://github.com/phetsims/joist/issues/683. @terracoda will you please confirm solved.

[2021-01-21 04:04] zepumph commented on #311
Sorry, I didn't check who opened the issue. @KatieWoe will you please confirm fixed on master.

[2021-01-21 04:08] zepumph commented on #311
You can also test with https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.79/phet/

[2021-01-21 19:43] KatieWoe commented on #311
Checked on master and this seems fixed there

[2021-01-21 19:44] terracoda commented on #311
Awesome, I'll give it a spin, too.

[2021-01-21 19:48] terracoda commented on #311
Works perfectly with iOS 14.3 using VO on iPhone 7.

[2021-01-21 19:51] terracoda commented on #311
Nice work @zepumph and @chrisklus! I think this issue can be closed.

[2021-01-21 19:52] #311 closed

[2021-01-21 20:33] terracoda commented on #259
Reminder @emily-phet and I created a description in #260 for the A11y Sims page, in case it is helpful.

[2021-01-22 18:46] BLFiedler commented on #259
Yeah, so I was given admin access to the sim pages on phet.colorado.edu awhile ago for uploading the Sound Features videos. I believe all of these are on those pages and fairly straight forward. I'll ping AR though if I run into any issues while trying to implement.

[2021-01-22 19:57] terracoda commented on #259
@BLFiedler, yes, I can also help with web admin, if needed. I mainly only add content for the A11y Pages, but it is the same principle.

[2021-01-25 21:50] zepumph commented on #335
@jessegreenberg and I have finished the common code issue. This should have fixed the combo box focus issue on iOS. That said it was a pretty extensive change to the way our focus behavior occurs in the sim. Can you please give a full review of iOS + VO, as well as let us know if Mac alternative input looks and behaves as you would expect.

From here the only thing that I know of still blocking is

[2021-01-26 18:01] terracoda commented on #335
Verified Mac alternative input. The combobox interaction still works great there.

On iOS with VO, the interaction is accessible and seems to work well.

There are some inconsistencies in interactive highlighting. The combobox uses the black VO highlight whereas other objects get the pink PhET highlight.

There are some other inconsistencies with hgihlighting as well:
- On first rad through (can't

[2021-01-26 18:25] zepumph commented on #335
@terracoda, @BLFiedler and I went over the reasoning for the inconsistent iOS + VO highlighting behavior. @terracoda can take these and put them in a place that can be used by designers testing iOS + VO in the future.
* VO highlight only shows up on "positioned" elements, where the PDOM element follows the scenery Node graphical element around the screen.
* We don't position anything that get's th

[2021-01-26 18:30] terracoda opened #336 "Hearing keyboard instructions for Both Hands with VO on iOS"
When reading through pdom on iOS and VO enabled, I accessed Keyboard helptext

[2021-01-26 18:35] zepumph commented on #336
From a refactor a while ago where we moved the Both Hands help text around. I think we just need to move this to the same spot:

https://github.com/phetsims/ratio-and-proportion/blob/619bd1757e7e70f69756feba7bea5164586e6c28/js/common/view/BothHandsPDOMNode.js#L223-L226

[2021-01-26 19:18] zepumph commented on #335
@terracoda feel free to close whenever.

[2021-01-26 19:27] zepumph commented on #336
Fixed in the above commit.

[2021-01-26 19:27] zepumph commented on #336
@terracoda feel free to close.

[2021-01-26 21:16] terracoda commented on #336
Verified and this is issue is fixed. No more keyboard instructions on iOS + VO.

[2021-01-26 21:16] #336 closed

[2021-01-26 21:24] terracoda commented on #335
Closing this issue as I created a documentation issue in A11y Research repo.

[2021-01-26 21:24] #335 closed

[2021-01-26 23:29] zepumph commented on #307
@emily-phet, will you please give this a onceover and feel free to change anything you would like. https://github.com/phetsims/ratio-and-proportion/blob/master/doc/model.md#. Also feel free to close.

[2021-01-26 23:30] zepumph commented on #308
I basically merged all of model.md into the implementation notes. @jbphet please let me know if you recommend anything else here, and feel free to close.

[2021-01-27 02:02] zepumph opened #337 "Create RC.2"
To Cherrypick:

- [x] https://github.com/phetsims/scenery/commit/40eca0b26f0e394be8a6db601effff067dea0a71 from https://github.com/phetsims/scenery/issues/1147
- [x] COmmits in https://github.com/phetsims/ratio-and-proportion/issues/341
- [x] COmmit in https://github.com/phetsims/ratio-and-proportion/issues/342 already cherry picked, just needs QA confirm
- [x] https://github.com/phetsims/ratio-and

[2021-01-27 23:14] jbphet commented on #301
Oaky, fair enough.  I messed around with it with and without `shuffleListeners`, and I think you're right.

I'm surprised by this.  I just tried it out on the [recent RC release](https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-rc.1/phet/ratio-and-proportion_en_phet.html) and it feels to me like when I have a 1-to-5 challenge with the left hand centered on 4, when the right hand cente

[2021-01-28 14:33] emily-phet commented on #301
Hmm, it sounds from my read of this that we aren't able to get the precision needed for the 0-30 tick marks setting that allows for the sim to always show "at ratio" correctly. If that's the case, that is an issue. The sim cannot indicate "at ratio" in the wrong place.

Perhaps the simplest solution is to remove the 0-30 tick mark option. If the tick marks are too close together for the snapping a

[2021-01-28 17:06] zepumph commented on #301
I do not agree fully with this description of the problem. In 0-30 there is no snapping. The issue is that @jbphet feels that it is a problem when the "intent" is to be at 4, but the mouse behavior  moves to something like 4.1. Since it isn't at 4, then the other hand will be off to, in cases where the other hand is larger, we could have larger error show up there. For example 4:20 would turn into

[2021-01-28 21:48] jbphet commented on #301
I'm sorry to belabor this, and if @emily-phet says that I should let it go, I will.

The scenario described below was done on https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-rc.1/phet/ratio-and-proportion_en_phet.html

It doesn't seem to me like a lack of "snapping" is at the root of the problem here.  In the screenshot below, I set up a challenge with a 1-to-10 ratio, and then used

[2021-01-29 17:59] BLFiedler commented on #294
Draft of script has been completed. @emily-phet can you review?

https://docs.google.com/document/d/1yqJegHU2fyfgQrieJQx16dB-pGSUgcvX5iRe0lKhy30/edit?usp=sharing

[2021-01-30 01:35] zepumph commented on #283
I tried removing aria-valutext by default in https://github.com/phetsims/sun/issues/681#issuecomment-770123543, and it didn't get rid of the percents, so I bailed.

I then realized that this is potentially more than just a documentation problem. Percents will likely be spoken on iOS + VO for any AccessibleValueHandler that doesn't provide non-default aria-valuetext. So I created https://github.com

[2021-01-30 01:35] #283 closed

[2021-02-01 22:23] jbphet commented on #308
Looks good, this is a big improvement.  I have a few comments:

- First, I made some edits for some minor things that I was fairly certain you'd want to change, please review the commit and feel free to back out anything that was intentional
- I would suggest a short overview in the model section that describes a few of the relationships between the major players.  For instance, I wasn't sure afte

[2021-02-01 23:05] jbphet commented on #229
So far, ratio-and-proportion is the only sim the exhibits the problem, so I'm not ready to create a general issue for this just yet.

[2021-02-01 23:20] jbphet commented on #229
I just tried to duplicate this by setting up a Zoom call between a MacBook Air and my main development machine, opening R&P in Safari from master, and sharing screens+sound on the dev call.  At first, sound didn't work at all, meaning that it wasn't playing on the Mac nor was it coming over the Zoom link.  I stopped screen sharing, and then several sounds (such as the Reset All sound) played.  I s

[2021-02-01 23:38] jbphet commented on #229
In the testing described in my previous comment, audio started working after loading a different PhET sim with sound (in this case Faraday's Law) and then reloading Ratio and Proportion.  If we have QA work on this, it would be good to figure out if this works every time, and if it fixes the clipping problem too.  If so, we could potentially use this as a workaround until we figure out how to full

[2021-02-01 23:50] zepumph commented on #308
Thank you for your suggestions. That was very helpful! Closing

[2021-02-01 23:50] #308 closed

[2021-02-01 23:56] zepumph commented on #229
Good idea, and thanks for taking a lead on this. I'd prefer to get an update from @emily-phet at this point if she would like us to pass this on to QA for reproducing, or if we should marks as a wontfix, close, and note it for future interviews. The main determining factor is the burden it would have on interviews (thus I feel like it is not my call).

[2021-02-02 02:48] amanda-phet commented on #301
My understanding is that the center of the hole is where the value aligns, so in the screenshot you shared, I see the same thing you do. Looks like a good catch to me.

[2021-02-02 17:01] DevonQui commented on #299
@zepumph I tested this in master along with the sim link provided above and it's much improved but I was still able to produce the sound. It only lasts for a split second as compared to before but it's still there. It's not a particularly egregious bug so let me know your thoughts on closing. Here's a link to the video I took during testing.

https://drive.google.com/file/d/1Nob4-KIvok2g7giZ2l5sci

[2021-02-02 17:34] KatieWoe commented on #299
I did see this, but it took some quick button presses to try and keep them in ratio as things were moving. At that point I think that the user should hear the sound anyway since they did something that kept the hands in ratio. If it becomes too hard to make the sound then moving the hands at the same time with multitouch and keeping them in ratio may be too difficult.
I'll keep an eye out though.

[2021-02-02 18:39] zepumph commented on #299
@BLFiedler, @terracoda, and I discussed this during design meeting today.

To reiterate from This is happening because moving both hands with the keyboard just a single time each is enough to put the model into the movingInDirection state. I tried to make this more robust in https://github.com/phetsims/ratio-and-proportion/issues/326 but sorta failed. As a result when the threshold lowers, it

As

[2021-02-03 21:40] KatieWoe opened #338 "Sound may be briefly interrupted after starting"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/601.
Sometimes, the metronome-like sound that indicates that hands are close to the ratio will start, seem to be interrupted and pause with no input, then start up again. I haven't fully determined what causes it, so I will record the settings at the time.
**Steps

[2021-02-03 22:33] KatieWoe opened #339 "Graphical issues where screen breaks up when hand is moved"
Seen on Win 10 Firefox while sim had pointer areas on. The sim was left to sit for a fairly long time as I worked on other tasks, including a zoom call. When I came back, the sim appeared normal until I tried to drag one of the hands. As it moved, the graphical issue shown bellow occurred. It seemed to change as more interactions were attempted. As I opened the console it seemed to fix itself. I a

[2021-02-03 22:53] KatieWoe opened #340 "Double tap on spinner sometimes adds/takes away 3 rather than 2"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/601
When using the track pad, doing a double tap on the My Challenge spinners would normally increment by two. However, it seems to increment by three instead.

Troubleshooting information:

<details>

!!!!! DO NOT EDIT !!!!!
Name: ‪Ratio and Proportion‬:‪Ratio and

[2021-02-03 23:08] KatieWoe opened #341 "Improper keyboard nav behavior and sounds"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/601. There seem to be a number in keyboard nav sounds that play at improper times or sound off. When tabbing around either screen, sometimes a donk sound will play, mostly when over the hands, but not always. These sounds also don't sound very clean.

Even more odd

[2021-02-03 23:44] KatieWoe opened #342 "Lock Ratio correction out of order"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/601. Documented with log querry parameter.
It is possible to achieve at ratio, but be slightly off. When clicking the Lock Ratio box, the hands are meant to slightly jump to be exactly in ratio. According to @zepumph this is meant to happen when you check the box.

[2021-02-04 00:03] liam-mulhall opened #343 "If trying to move both hands, can't move right hand"
### Test Device

MacBook Air

### Operating System

macOS 10.15.7

### Browser

Safari 14.0.2

### Description

For https://github.com/phetsims/QA/issues/601. If using Voice Over on macOS, and you navigate to "Both Hands", you can move the left hand using W and S, but you can't move the right hand using the up and down arrow keys. If you use the up and down arrow keys, you'll be interacting with V

[2021-02-04 00:47] arouinfar opened #344 "Create descriptions for Legends of Learning"
Related to https://github.com/phetsims/QA/issues/601 and #1

As a part of the publication process, we create icons and descriptions for each sim for our partner, Legends of Learning.

I went ahead and created the icons and pre-populated the [LoL spreadsheet](https://docs.google.com/spreadsheets/d/1umIAmhn89WN1nzcHKhYJcv-n3Oj6ps1wITc-CjWYytE/edit#gid=562591429&range=A8) for this sim. Things that ar

[2021-02-04 17:37] KatieWoe commented on #342
Interesting note: If one of the hands is at the top and would need to shift up to reach ratio, the clicking the lock ratio button seems to immediately jump the other hand in to position without needing to move the hands.

[2021-02-04 18:39] KatieWoe commented on #341
The aspect where keyboard nav sounds may play seems like it may also happen with the PhET Website link. Although, so far it seems to only make the sound as you leave, rather than when you come back. Will update this comment if that changes.

[2021-02-04 18:46] KatieWoe commented on #340
Seen on ChromeOS as well. It also happens when doing things like opening/closing the My Challenge box.

[2021-02-04 22:09] KatieWoe opened #345 "Large to small ratios have a ridiculous margin of error for in ratio"
**Test device**
Dell and Lovelace
**Operating System**
Win 10 and ChromeOS
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/601.
When the My Challenge ratio has a larger left hand side than right hand side, the acceptable range for something to be in ratio, is much, much larger than the equivalent ratio with the right hand side larger. For instance, with a 10:1

[2021-02-04 22:13] KatieWoe commented on #345
Checked against https://github.com/phetsims/QA/issues/582, and it looks like this might be a new issue.

[2021-02-04 22:16] KatieWoe commented on #341
Actually, after doing a bit more exploration, this may be in Firefox only.

[2021-02-05 02:51] muedli commented on #267
I didn't see you this come up in https://github.com/phetsims/QA/issues/601. I did my macOS Voice Over testing on macOS 10.15.7 with Safari 14.0.2.

[2021-02-05 02:52] muedli commented on #267
I'm going to close this issue, @zepumph.

[2021-02-05 02:55] #267 closed

[2021-02-05 20:47] KatieWoe opened #346 "Scene description does not update tickmark range in regards to hand position immediately"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/601. Found with Firefox + NVDA and seen on a11y view.
When you have the tick marks on, the hands are described as being on or around a tick mark of a certain number. If you change the number of tick marks, than which tick mark a given hand is described as being on

[2021-02-05 20:49] KatieWoe commented on #346
This can also seemingly be fixed by adjusting the challenge ratio. Also note that this is in the play area of the scene description only from what I see so far.

[2021-02-05 21:36] KatieWoe commented on #321
For https://github.com/phetsims/QA/issues/601, I am seeing this with both screens on NVDA.

https://user-images.githubusercontent.com/41024075/107091395-f530df00-67be-11eb-8a15-31840d24eeab.MOV

https://user-images.githubusercontent.com/41024075/107091595-480a9680-67bf-11eb-9768-b542c4d43bc7.MOV

[2021-02-05 22:55] KatieWoe commented on #345
While testing NVDA I realized this might be even more serious as an a11y issue, as the screen reader reads out misleading info. The reading matches the color and metronome sound on the screen, but it may be less obvious on a screen reader that something is off, especially with tick marks off.

https://user-images.githubusercontent.com/41024075/107097567-70e45900-67ca-11eb-93b5-9c379a04ae6b.MOV

[2021-02-06 00:03] KatieWoe opened #347 "VO stops automatic read through"
For https://github.com/phetsims/QA/issues/601.
MacOS 11.2, Safari with VO.
From Slack:

Hmmm, perhaps that is because it is a custom div with application role? We don't have any other occurrences in sims where the application role (custom interaction) is available in the generic nav order (grab/drag interaction hides it behind the grab button). Perhaps that is the reasoning. We would like want to

[2021-02-06 00:12] zepumph commented on #347
@jessegreenberg mentioned that this is because we alert on focus of the both-hands interaction. That alert interrupts the read-through. @terracoda please see if you can reproduce, and recommend how best to proceed. We may decide that it isn't worth solving, because it is too valuable to have an alert on focus. Perhaps also we could experiment with making that alert polite on focus, but assertive i

[2021-02-06 15:48] emily-phet commented on #307
@zepumph This looks very close. I'd like Brett to work with you to make this one notch more specific, with an eye towards using plain language everywhere possible.

@zepumph can you share @BLFiedler a link to a few other examples, perhaps one from Chris and one from JB, and show @BLFiedler how to edit this markdown file (if he doesn't know).

@BLFiedler Can you take a look at the examples, and mak

[2021-02-06 16:10] emily-phet commented on #301
This is what I originally wrote - after exploring 1:10.
_I played around with the latest sim on phettest - and I agree with @zepumph that this isn't a error, it's an artifact of the current way tolerance is set up. In your example @jbphet, if you move the left hand ever so slightly down (for example, looking at the black outline for the left hands thumb...moving it so that the top of the black lin

[2021-02-07 15:02] emily-phet commented on #233
@zepumph
This approach sounds great to me!
- No this should not block publication of RaP.
- Moving this to a11y research sounds like a great idea.

I reached out to the CU Accessibility and Usability Lab to see if they had a Braille Reader device, and if they had anyone on their team with knowledge of Braille Readers who might work with us to understand more. I'll update if/when I hear back.

They

[2021-02-07 15:11] emily-phet commented on #229
@terracoda Do you have strong feelings about continuing to work on a solution for this?

From my reading of the above comments, and my (poor) memory, it seems this problem has only been observed in RaP, was first observed in early November, and found intermittently since then...and is perhaps getting harder to reproduce (or at least, we're having less success reproducing it when folks have tried).

[2021-02-07 20:49] KatieWoe opened #348 "Jaws does not capture hand movement properly if moved into by tabbing backwards"
For https://github.com/phetsims/QA/issues/601. Win 10 Chrome Jaws.

This was a bit difficult to track down, but I noticed that, sometimes, Jaws would not read out any alerts when moved using the two hands setting, and would only read how close they were to each other, but not position in range, when only one was moved. This seemed to be persistent once it showed up.

As best I can tell, this is ho

[2021-02-07 20:53] KatieWoe opened #349 "Sim sound may play when muted"
For https://github.com/phetsims/QA/issues/601.

Found while testing Win 10 Chrome with Jaws. The sound I heard sounded like a sim sound, but it may have been a Jaws sound.

While the sim was muted, when tabbing through options with Jaws, sometimes an item would make a brief sound that sounded like a sim sound to me.

https://user-images.githubusercontent.com/41024075/107159209-d3189780-694b-11eb-9

[2021-02-08 16:10] terracoda commented on #347
_Note to self - this is not an issue on iOS as we do not have the Both Hands interaction available on iOS VO._

I have noticed this issue in the past, and it is a little inconsistent. I am not sure if the inconsistency has to do with OS version or browser caching. Just now while testing, here's what I experienced on Create Screen:

1. I selected Create Screen from the Home screen, auto reading rea

[2021-02-08 16:16] terracoda commented on #347
I removed the bug label as I think this a design problem not a bug.

[2021-02-08 16:20] terracoda commented on #346
Good catch @KatieWoe! The dynamic description in the Play Area is not updating in the same way as the sceen summary.

[2021-02-08 16:41] terracoda commented on #343
I don't think I have experienced this issue.

[2021-02-08 17:08] terracoda commented on #340
I wonder if this is because a long press can activate continuous increments or decrements?

I can't seem to reproduce the triple value change with 2 clicks on the track pad.

[2021-02-08 17:11] KatieWoe commented on #340
It's also probably not going to be a typical interaction. I mostly saw when I was rapid clicking through the spinner, and being off by one and going back and adjusting it doesn't seem to problematic.

[2021-02-08 18:04] BLFiedler commented on #299
It's certainly still a tricky task, but nothing buggy that I can see. Closing.

[2021-02-08 18:12] zepumph commented on #349
I'm pretty certain that these are not sim sounds, and are coming from JAWS. In general these two sounds pair with when the screen reader enters and exits an HTML form (aka "forms mode"). I'll toss this over to @jessegreenberg to confirm. Feel free to close or pass back to QA to document this behavior as needed.

[2021-02-08 18:19] jessegreenberg commented on #349
Yes, that is a JAWS sound not a sim sound.  Its letting the user know that the screen reader is entering/exiting different navigation modes like @zepumph described. Closing, but pinging @KatieWoe just so she is aware this is expected.

[2021-02-08 18:19] #349 closed

[2021-02-08 19:31] zepumph commented on #347
Thanks for your helpful summary. I wanted to pose two more potential options, though likely option (1) is what we should do.

(4): I was curious if this was a problem mainly because the focus alert was "assertive" instead of "polite", above I committed a change to master where the object response that occurs from changing the values with both hands is still assertive, but the focus version of this

[2021-02-08 22:34] zepumph commented on #301
@emily-phet, would you join us for tommorrow's RaP meeting to confirm this change.

Proposal: get rid of the 1-30 tick marks view.

I offer another proposal: Allow snapping to nearest tick mark on 1:20 and 1:30, which we currently aren't. This would remove the minor error in these cases. We could customize the "snap to threshold" to be different from the pretty large value that 1:10 currently has.

[2021-02-08 22:42] zepumph commented on #307
JO: https://github.com/phetsims/proportion-playground/blob/0cf288e3a8353f3a23183763bd904241d6e701da/doc/model.md

CM: https://github.com/phetsims/equality-explorer/blob/0cf288e3a8353f3a23183763bd904241d6e701da/doc/model.md
https://github.com/phetsims/function-builder/blob/2ab967f77688c0d7ec828589445771606640ed54/doc/model.md

JB: https://github.com/phetsims/number-line-operations/blob/da845fd6ca13

[2021-02-08 22:46] zepumph commented on #321
It seems like it is close to the top, but not quite. Why does it start on the second sentence of the second paragraph?!?!

![image](https://user-images.githubusercontent.com/6856943/107291052-06265e00-6a14-11eb-99a9-16f4d36e2340.png)

[2021-02-08 23:39] zepumph commented on #321
@KatieWoe, I found similar behavior as you did here, likely because after pressing the button, we were both next pressing the down arrow, like for "next line". In this case, I believe that NVDA is focused on the sentence "The Play Area is a tall space. . . ", and by pressing the down arrow, we start at "You can move the Left . . . ". I am able to confirm this by looking at my laptop-specific key c

[2021-02-08 23:53] zepumph commented on #321
I am feeling a bit stumped here. I looked into how the screen summary content was being set, as well as our order of operations around how we focus the screen view upon screenProperty change, and nothing seems obvious about this behavior. I'd like to touch base with @jessegreenberg at this point.

[2021-02-08 23:54] zepumph commented on #282
Noting that https://github.com/phetsims/ratio-and-proportion/issues/321 was reopened because NVDA was starting from the second paragraph of the screen summary.

[2021-02-08 23:56] zepumph commented on #339
if you cannot reproduce this consistently, perhaps it is not worthy of blocking. Nice screenshot though!

@jonathanolson, is this what "anti-aliasing" is supposed to prevent? Do you think we should add something to prevent this? Have you seen this before?

[2021-02-09 00:31] terracoda commented on #321
I'm stumped, too. Last time I checked, it was working fine with VoiceOver. I double check again tomorrow.

[2021-02-09 00:47] zepumph commented on #340
I tried to reproduce this for ~10 minutes on chrome and firefox, and couldn't. given the challenge to reproduce, and the ease to fix the mistake, I think we should close this. If anyone disagrees please reopen and I'll try to take a closer look.

[2021-02-09 00:47] #340 closed

[2021-02-09 01:04] zepumph commented on #341
**RE: the tabbing around problem:** When tabbing around, this is because of how I defined the "isBeingInteractedWithProperty" in the Both hands interaction. In the RC version, when you have the hands in a position where the staccato sound would play, you can highlight the both-hands interaction and press "h" and the staccato sound will begin, even though "h" doesn't do anything. Above I changed it

[2021-02-09 01:48] zepumph commented on #338
This is basically the same underlying cause as https://github.com/phetsims/ratio-and-proportion/issues/299. Tagging @BLFiedler and @terracoda about this so that they are in the loop.

In this issue, you jump both hands down to 1, and the model says that it is "moving in direction", and because it is with small values, you are actually in-proportion when moving in direction. Thus, for 30 frames (~1

[2021-02-09 02:24] zepumph commented on #338
This change set successfully updates the "granularity" of moving in direction such that you need 3 data points of change before it considers you moving in direction. I want to discuss to see if this is a possible solution to this and #299. The main point of hesitation is that you need to change the value 2 times (3 different values of the ratio) within a given time frame. And the moving-in-proport

[2021-02-09 02:27] zepumph commented on #342
I thought that this would have been happening already, because of this line, but it seems like something is wrong with it, and it only works after you move the ratio when  its locked

https://github.com/phetsims/ratio-and-proportion/blob/002a0538253a9f6e64318faf18f20b98756c2e29/js/common/model/RAPModel.js#L103

[2021-02-09 03:00] zepumph commented on #342
This bug was from this line, where I take the current RAPRatioTuple and then mutate it. Instead I should create a new one. I found it a bit easier to just keep the antecedent and consequent values separate. Committed above.

I also fixed a logic error where I wasn't snapping the smaller of the two values, like I said I was in doc and design decision, so I flipped an inequality sign.

@KatieWoe can

[2021-02-09 03:03] zepumph commented on #343
@liam-mulhall, let's pair on this sometime later this week. I would like to witness the behavior more intimately. Before that though, can you please test a couple sims on master that use the grab drag interaction, for example Friction or BASE to see if you are able to move the book/balloon with w/s but not with arrow keys? That is the same application role elelment, though you have to use a button

[2021-02-09 03:09] zepumph commented on #345
Yes this is a byproduct of the new fitness algorithm from https://github.com/phetsims/ratio-and-proportion/issues/325. The old algorithm was reciprocal in which it treated 10:1 and 1:10 in the same way, just swapped, by grabbing the min of the two to set fitness. This new algorithm does not do that, it has a specific assumption that the fitness will always be two tick marks of distance for the rig

[2021-02-09 03:15] BLFiedler commented on #307
Alright - gave it a shot! @zepumph, can you look over for accuracy? And I'll tag @emily-phet if she'd like to glance it over, but not assigning.

[2021-02-09 03:21] zepumph commented on #346
Nice indeed! Fixed above. I didn't see any others when inspecting what we are looking at in the screen summary. I'll put this into the branch.

[2021-02-09 03:27] zepumph commented on #348
Hmmm. I will need to get JAWS to experiment with this more. I won't get to it tonight.

[2021-02-09 03:46] liam-mulhall commented on #343
Sounds good, @zepumph.

[2021-02-09 16:49] terracoda commented on #347
@zepumph, option (4) is a bull's eye! The polite setting for the object response works great!
On focus I hear:
- Both Hands, movable
- hands, at challenge ratio

No interrupting on "Both Hands, movable"!

And I don't think it is a bug that the VO stops reading at the Both Hands interaction.

I think we can close this issue, if you are ready to close it.

[2021-02-09 16:50] jonathanolson commented on #339
Anti-aliasing seems unrelated. As far as PhET graphics are concerned, anti-aliasing is basically fine-grained smoothing pixel values (e.g. some pixels on the edges of paths are not FULLY empty or FULLY the path's color).

Looks like browser or GPU corruption. They usually use tiles as textures on the GPU to render webpages, and those tiles seem clearly delineated here. No way to prevent, and seems

[2021-02-09 16:51] terracoda commented on #347
Re-open if you need to.

[2021-02-09 16:55] terracoda commented on #321
Yep, it works fine on VO, not sure why they same thing would work with JAWS.

[2021-02-09 16:59] zepumph commented on #339
Alright thanks for the update.

[2021-02-09 16:59] #339 closed

[2021-02-09 17:00] zepumph commented on #347
I will need to cherry pick into the branch. Glad that worked out!

[2021-02-09 17:09] terracoda commented on #338
I can still get the choir sound, but I know the challenge ratio, so I have an advantage :-)

[2021-02-09 17:11] terracoda commented on #338
Oh, this issue is not about the choir sound :-)

[2021-02-09 17:13] terracoda commented on #338
I can reproduce. We'll discuss at meeting.

[2021-02-09 17:32] KatieWoe commented on #342
Looks ok on master.

[2021-02-09 18:25] zepumph commented on #301
From design meeting today, @emily-phet @terracoda @BLFiedler and I decided that snapping would have the desired fix for this situation. We don't though want a complicated workaround that we always have to maintain to support this case. If we find that it is too much work, then we will get rid of 1:30.

@emily-phet also mentioned that with the new preferences menu, this could be the type of thing t

[2021-02-09 18:53] zepumph commented on #338
At design meeting today, @terracoda, @BLFiedler and I decided that this bug wasn't worth the complexity of the moving-in-direction algorithm change above.

We were already able to excuse the weird behavior over in https://github.com/phetsims/ratio-and-proportion/issues/299, and here, this bug is just a bit of a pause, and not the negative to the UX.

We will not do anything further here. Closing

[2021-02-09 18:53] #338 closed

[2021-02-09 19:15] zepumph commented on #342
cherry picked to branch

[2021-02-09 20:04] zepumph commented on #307
Looks really good. Thanks. A couple edits above. Feel free to edit as you wish and reverse any of them. Please close when you are done with the markdown.

[2021-02-09 20:08] zepumph commented on #285
I think these are ready.

[2021-02-09 20:19] zepumph commented on #301
Above we are now snapping 10% of the tick mark above and below for all ranges. The limited paper trail of why we decided no to do this for 1:30 is https://github.com/phetsims/ratio-and-proportion/issues/122#issue-677125113 (not much to go on there). I think this behavior is nicer than it was, and the snap is very subtle. @emily-phet will you please review. Anything else for this issue?

[2021-02-09 21:26] zepumph commented on #321
@jessegreenberg and I investigated heavily today with NVDA and chrome. The main issue we are trying to solve is why NVDA starts at the "Play area" paragraph instead of the first, intro paragraph.

* We created an HTML scrap where a button focuses a div with two paragraphs. NVDA always auto reads to first paragraph on focus of the div.
* We removed the list structure from the Home screen to see if

[2021-02-09 21:27] zepumph commented on #321
I feel like this could be a low level bug or implementation detail that @jessegreenberg and I don't fully understand. It would be good to get to the bottom of this.

[2021-02-09 21:48] zepumph commented on #321
We feel like it may be good to pursue focusing directly on the h1, as that was the only thing that fixed our issue, but I'd like to sit on this for a bit.

[2021-02-09 23:27] jessegreenberg commented on #341
Hmm, the "report a problem" case is odd and I am not sure what is happening there. I tried to recreate it but I wasn't able to. It looked like in the video this was all happening from mouse interaction, is that right @KatieWoe? Do you remember any other interactions made to the sim before then to get it to happen?

[2021-02-09 23:29] KatieWoe commented on #341
It was mouse. It would happen right away without any special interactions from what I could see. But it did seem unique to firefox.

[2021-02-09 23:31] jessegreenberg commented on #341
Sorry, I see now that it is specific to Firefox and I just confirmed that it is happening there (but not in Chrome). For some reason when moving back to the sim tab Firefox is putting focus back on this input element
![image](https://user-images.githubusercontent.com/6396244/107442379-005c7580-6b05-11eb-8b17-8081042d1960.png)

[2021-02-11 18:25] zepumph commented on #341
I think it is more that the default `handleFocusCallback` for MenuItem (which applies to report a problem link). This will auto focus the first element in the sim. On Firefox, this actually adds the focusHighlight, but on all platforms it is calling "firstElement.focus()" and since we are using a mouse, the display's focusHighlightVisibleProperty is false.

Note a bug here that applies to all brow

[2021-02-11 22:16] zepumph commented on #341
After discussing with @jessegreenberg, we fixed the focus callback logic in PhetMenu so that focus went back to the PhetButton.

The actual bug on Firefox will have to stay if we want to support focus highlights on the first tab into a sim in general. We think it is most clear that the focus is on the PhetButton if at all. I will cherry-pick these to the branch.

[2021-02-12 00:00] zepumph commented on #348
@jessegreenberg and I can consistently get aria-live alerts to be broken when using JAWS. The easiest to reproduce is whe the reset all button, which almost always successfully alerts on startup, but quickly stops and just says "enter" on reset all button press.

I tried adding the `alert` role to our paragraphs, and it worked to speak every alert very well (fixing the current problem), but I don'

[2021-02-12 00:08] zepumph commented on #348
I was unfortunately able to reproduce this issue in https://phet.colorado.edu/sims/html/gravity-force-lab-basics/latest/gravity-force-lab-basics_en.html. I wonder what has happened with JAWS.

This patch didn't fix anything:
[code]

[2021-02-12 00:46] zepumph commented on #348
@jessegreenberg I'm pretty stumped. Do you have more ideas for me to pursue?

[2021-02-12 00:48] zepumph commented on #341
@KatieWoe, can you please review these two issues on master now?

[2021-02-12 01:08] zepumph commented on #321
@jessegreenberg and I got together again today and decided to commit a change where we focus the h1 directly. It seemed like the best way forward, even though it worked around the fact that we never discovered why NVDA behaved so strangely when focusing directly on the ScreenView's primary sibling. @jessegreenberg will you please review this.

[2021-02-12 01:13] zepumph commented on #300
Commits over in https://github.com/phetsims/scenery/issues/1131 have fixed this issue. I am not able to reproduce this with shuffle listeners on now. I'm going to close this, please reopen if desired.

[2021-02-12 01:14] #300 closed

[2021-02-12 01:29] zepumph commented on #348
Wow! This pretty much fixed the problem for me on JAWS, though it looks like it was added for iOS. . . So I'm not sure how to proceed here.

[code]

[2021-02-12 15:11] emily-phet commented on #345
@zepumph - would doing the following address the issue: Recognize when the antecedent is greater than/less than the consequent, and invert the algorithm accordingly. So if you're comparing 10:1 to 1:10 you're comparisons will feel the same wrt to when you're getting increasingly positive feedback?

If this addresses the issue, and is relatively straightforward to do, I'm not sure if it will just i

[2021-02-12 17:31] BLFiedler commented on #344
Filled out! Will leave myself assigned for now and assign @arouinfar when the sim is published.

[2021-02-12 17:32] KatieWoe commented on #341
Looks fixed on master. Checked Win 10 Chrome and Firefox

[2021-02-12 17:33] liam-mulhall commented on #343
No longer seeing this on 11.2.

[2021-02-12 17:41] BLFiedler commented on #307
Looks good to me. I suppose I should remember in the future to shrink my window (widescreen monitor) when checking how the layout looks :)

[2021-02-12 17:47] liam-mulhall commented on #343
@zepumph and I are leaning toward this being a "sighting," to use JB terminology. I will take a look at this again when I have 10.15 back on my laptop.

[2021-02-12 18:16] emily-phet commented on #307
Re-opening, assigning to me. I'd like to make some tweaks.

[2021-02-12 19:54] zepumph commented on #343
Sounds good. I will count this as non-blocking for now, but we can always promote if the "sighting" because more consistently reproducible.

[2021-02-12 20:18] zepumph commented on #345
I like that idea! I am not conditionally flipping the fitness when the targetRatio is greater than 1. I couldn't find any wack-a-mole gotchas that this caused. Will you please play around with master to see if you like the reciprocal behavior?

@KatieWoe will you also please review to see if this fixes the issue that you reported, and doesn't alter the fitness behavior in another way?

[2021-02-12 20:35] zepumph commented on #348
I found and reopened https://github.com/phetsims/scenery-phet/issues/490. I'll try to pick things up over there.

[2021-02-12 22:11] zepumph commented on #348
After a bit more testing, I should just need to cherry-pick https://github.com/phetsims/utterance-queue/commit/8104d517b9720d5111e9e2e453f0010c9fa188af.

[2021-02-12 22:45] jessegreenberg commented on #321
The new assertion is being hit on CT

I am not sure why yet, but I find that it happens quickly after clicking in the dev tools or the browser navigation bar, so when the document is no longer active.

[2021-02-12 23:13] jessegreenberg commented on #321
Addition of pdomTitleNode in https://github.com/phetsims/joist/commit/5491e6a986d1dd22fe68fa9f154a4715236aafed looks good to me.

I can no longer hit the CT error after making the pdomTitleNode non-focusable when a screen becomes inactive. Indeed, I think the issue is that we don't get blur events when running with `?fuzz` while the sim is in the background. @zepumph can you please review https://

[2021-02-12 23:47] jessegreenberg commented on #321
Sorry, https://github.com/phetsims/joist/commit/28e1fd7e56777efe4e24ad961a8615b939dc7734 wasn't right - I forgot that focus needs to change after the current screen becomes visible. Should be fixed in above commit.

[2021-02-13 00:09] jessegreenberg commented on #321
There is another problem with this though, the AnimatedPanZoomListener assumed that the first focusable element had defined bounds. Zooming into the screen right on load while the h1 has focus will break the sim.

@zepumph when this SHA is cherry-picked into the release branch you will also need to include this patch to scenery https://github.com/phetsims/scenery/commit/f508d40fe2c202d78a3bd92bc37

[2021-02-13 04:03] zepumph commented on #348
After some more testing on NVDA and JAWS on firefox and chrome, I feel ready to do this. I'll cherry pick.

[2021-02-13 04:44] zepumph commented on #321
Thanks for taking the lead at fixing my error. I like what you did. Upon seeing the order dependencies in that Sim function, and recognizing https://github.com/phetsims/joist/issues/208/https://github.com/phetsims/joist/issues/188, I felt like it would be best to try to keep this internal. Of course this means that there is a bit of an assumption about what having a visible ScreenView means (for t

[2021-02-13 04:51] zepumph commented on #337
- [ ] https://github.com/phetsims/ratio-and-proportion/issues/345, please note that QA should confirm fixed, but this is still out for a design review, so don't close.
- [ ] https://github.com/phetsims/ratio-and-proportion/issues/341

[2021-02-13 04:52] zepumph commented on #341
Cherry-picked

[2021-02-13 04:56] zepumph commented on #301
I'm going to proceed with this into the next RC, but we can keep tweaking (most likely there will be at least one more RC spot check after rc.2.

[2021-02-13 05:14] zepumph commented on #337
Everything has been cherry picked into the branch. I'll proceed with a new one.