[2021-02-13 05:31] zepumph commented on #337
RC complete, see https://github.com/phetsims/QA/issues/609

[2021-02-13 05:31] #337 closed

[2021-02-13 05:32] zepumph commented on #345
I went ahead with the next RC, and included this in it. @KatieWoe can review this as part of that issue, https://github.com/phetsims/QA/issues/609. @emily-phet let me know what you think.

[2021-02-15 16:53] brooklynlash commented on #345
There still seems to be issues with the margin for error, it is too small now, and the lock ratio button is really hard to achieve.
![ratioandpropissue](https://user-images.githubusercontent.com/72031637/107974327-a8de5f80-6f73-11eb-9d52-3457cf55b89e.gif)

[2021-02-15 17:09] brooklynlash opened #350 "On "both hands" keyboard nav tab and grab hands using mouse, the arrow key buttons do not disappear"
**Test device**
Lenovo ThinkPad

**Operating System**
Windows 10

**Browser**
Chrome

**Problem description**
This is for https://github.com/phetsims/QA/issues/609
When using the keyboard navigation and tabbing over to the "both hands" option, the squares that demonstrate the buttons to click to move the hands pop up, but if you grab a hand with the mouse, those squares don't go away.

**Visuals**

[2021-02-15 17:28] zepumph commented on #345
That is expected. It should be the exact same as if the target was 1:10 and you were moving the right hand.

[2021-02-15 18:35] zepumph commented on #350
@jessegreenberg, this is another byproduct of having focus remain (but invisible) when you mouse-click on something that has focus. To work around this currently buggy behavior I added the blur logic to the down event. Can you please review?

I also want to note that I just glanced through all focus and blur listeners in the project, and didn't see any other obvious issues from this focus-changing

[2021-02-15 20:10] zepumph commented on #142
Sounds good! Looks like that is about 3 weeks left for this deadline. I will get started now on an MVP.

[2021-02-15 20:11] zepumph opened #351 "Instrument for PhET-iO"
To support research goals over in https://github.com/phetsims/ratio-and-proportion/issues/142, basic instrumentation should be done.

[2021-02-15 21:21] zepumph commented on #351
The sim is now running with validation (so all required tandems are handled or opted out), and everything in the model is ready to go. CT will show if there are any more problems. I had to pass tandems because validation is required to get into rc/production, which I didn't want to write off as a possible way to proceed with the data collection.

[2021-02-15 21:37] zepumph commented on #142
After instrumenting the sim over in https://github.com/phetsims/ratio-and-proportion/issues/351, here is an example of the data stream as you change one of the hands.

<details>

[code]

</details>

And the `model.targetRatioProperty` will be in the data stream whenever it changes. Its initial value is given (along with everything else) in the initialState event that is emitted on startup. You can

[2021-02-15 23:44] liam-mulhall opened #352 "Lines around screen icons persist"
### Test Device

iPad Pro

### Operating System

iPadOS 14.4

### Browser

14.0.3

### Problem Description

For https://github.com/phetsims/QA/issues/609. The lines that appear around the screen icons when you hover over them or click them persist. See gif.

### Gif

![issue](https://user-images.githubusercontent.com/60749003/108002416-cbd93580-6fac-11eb-9388-c629864243dc.gif)

[2021-02-16 01:37] zepumph commented on #142
https://github.com/phetsims/tangible/issues/4 is going to take a bit more work. I'll keep posted.

[2021-02-16 01:41] zepumph commented on #142
Here is my working progress:

<details>

[code]
Index: ratio-and-proportion/js/common/view/ProportionMarkerInput.js
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===================================================================
diff --git a/ratio-and-proportion/js/common/view/ProportionMarkerInput.js b/ratio-and-proportion/js/common/view/RAPMarkerInput.

[2021-02-16 01:53] zepumph commented on #352
I don't have time to test right now, but I wonder if this is something to do with our recent changes involving PressListener.looksOverProperty

[2021-02-16 17:40] zepumph commented on #352
I tried reproducing in the RC on my iPad and can't. I press on a screen and then press and drag my finger across the buttons but the highlight works as expected for me. You are on an iPad, but use language that suggests that you may have a mouse plugged in for this test.

Can you please provide some more detailing on how to reproduce?

[2021-02-16 17:59] terracoda commented on #229
I do not have strong feelings about this issue. My interviewee was convinced it was a looping issue, but in comment https://github.com/phetsims/ratio-and-proportion/issues/229#issuecomment-725023252 my understanding was that it was definitely not a looping issue.

I have only experience this issue when sharing screens over zoom, and I agree as Zoom improves, it sharing capabilities should improve

[2021-02-16 18:11] terracoda commented on #229
I will go ahead and close this issue.

[2021-02-16 18:11] #229 closed

[2021-02-16 18:28] liam-mulhall commented on #352
@zepumph, I forgot to mention that I was using a stylus. I just checked and I wasn't able to reproduce by tapping with my fingers. Up until now, I haven't seen a stylus-specific bug, so I'll be more cognizant of this in the future.

[2021-02-16 18:34] liam-mulhall commented on #352
I added https://github.com/phetsims/QA/blob/master/documentation/qa-book.md#note-on-tablets. I will message @KatieWoe about this as well.

[2021-02-16 21:27] zepumph opened #353 "create RC.3"
To keep track of cherry picking

[2021-02-16 21:28] zepumph commented on #353
ALl of the above (save the chipper lint rule addition) should be cherry picked.

[2021-02-16 22:14] KatieWoe commented on #341
Looks good in rc.2

[2021-02-16 22:14] #341 closed

[2021-02-16 22:24] KatieWoe commented on #342
This looks good in rc.2

[2021-02-16 22:24] #342 closed

[2021-02-16 23:55] KatieWoe commented on #345
I think this is ok from what I can see. @brooklynlash if you are seeing problems, let me know and we can go over them and this may be reopened.

[2021-02-16 23:55] KatieWoe commented on #345
Nevermind, just saw note not to close

[2021-02-17 00:20] zepumph commented on #345
Thanks for the QA check. Over to @emily-phet to confirm.

[2021-02-17 00:21] zepumph commented on #352
See https://github.com/phetsims/scenery/issues/1156 for the common code issue tracking this. In short, this is because there is logic in scenery that is hard coded to only fire if it is a `Touch` pointer, but we actually want to fire it on `Touch` OR `Pen`.

[2021-02-17 17:41] KatieWoe commented on #346
Looks good in rc.2 on both a11y view and NVDA with Firefox.

[2021-02-17 17:41] #346 closed

[2021-02-17 19:42] KatieWoe commented on #348
This seems fixed after a quick check during rc.2. Will reopen if something comes up during full Jaws testing.

[2021-02-17 19:42] #348 closed

[2021-02-17 20:26] KatieWoe commented on #321
Saw something odd if you enter from the home screen while reading through the description and not tabbing with keyboard nav. It seems to read a random part of the scene description, then start at the top. Seen with NVDA on firefox.

https://user-images.githubusercontent.com/41024075/108263484-930f9c80-7123-11eb-9d42-cb7196094cfe.MOV

[2021-02-17 20:36] terracoda commented on #321
The "out of list" might just be what was cued up and left over from leaving the list of buttons on the home screen, and then I am not sure why the browser is announced, but it seems like it takes JAWS a few lines of code to get oriented on the new screen.

It's good that JAWS eventually finds its way automatically to the top - or did you make it go there, @KatieWoe.

[2021-02-17 20:39] KatieWoe commented on #321
This was NVDA, I haven't checked it with Jaws yet. It did get there on it's own.

[2021-02-17 22:19] KatieWoe opened #354 "Small hop to get into ratio with keyboard nav may hit ratio twice"
**Test device**
Lovelace and Dell
**Operating System**
ChromeOS and Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/609.
When using keyboard nav with shift, if the hand may jump over ratio, it will instead make a smaller jump to be in ratio. In some cases it seems like this small jump is done in one direction, but not the other, and you can hit in ratio

[2021-02-17 23:42] KatieWoe commented on #354
Forgot to add screenshot provided by @zepumph
![image](https://user-images.githubusercontent.com/41024075/108282602-299d8700-713f-11eb-9e27-4e193ad16f40.png)

[2021-02-18 16:06] brooklynlash opened #355 "Sound repeats when holding down keys"
**Test device**
Lenovo ThinkPad

**Operating System**
Win10

**Browser**
Chrome, Firefox

**Problem description**
This is for https://github.com/phetsims/QA/issues/609
When testing the keyboard navigation with the hands, when you hold down buttons and hit the bottom or top of something the sounds repeat/spam and start playing weirdly. Maybe there's a way to make it so that even if you are holding

[2021-02-18 16:51] brooklynlash opened #356 "Lag problem on Firefox when hands are near proportion"
**Test device**
Lenovo ThinkPad

**Operating System**
Win10

**Browser**
Firefox

**Problem description**
Not sure if this is machine-dependent, but there is a performance issue when moving a hand side-to-side when hands are near proportion.

**Visuals**
![ratioandpropissue3](https://user-images.githubusercontent.com/72031637/108391013-7c724f80-71ce-11eb-853f-676f6796209d.gif)

Troubleshooting inf

[2021-02-18 18:17] zepumph commented on #355
Excellent find! I updated the boundary sounds so that (like with individual hands), the sound only plays on keyup. Will you please confirm fixed on master. Note this also effects pressing 0 with the both-hands interaction.

[2021-02-18 18:29] brooklynlash commented on #355
I still see an issue when holding down the enter key with the orange reset button and other buttons besides the drop-down menus, and when holding down the side, up/down keys for the numbered interval buttons.

[2021-02-18 18:39] zepumph commented on #351
Today during PhET-iO meeting, we talked about me taking this further, and doing the full first pass and then letting PhET-iO designers review. This will be useful since we already have worked on PhET-iO for this sim, might as well take it all the way for this simpler instrumentation.

[2021-02-18 20:42] zepumph commented on #355
Yes, that will always occur. We have limitations with our buttons where we have to rely on using the `click` event for button presses. This is to support screen readers. We can only control multiple/spamming sounds when we have access to the keyup event, which we do in sliders (individual hands) and in custom interactions (the both-hands together interaction). Not with buttons though.

[2021-02-18 21:40] brooklynlash commented on #355
The 0-9 buttons and key-up work now without spamming the sound, looks good!

[2021-02-18 23:58] emily-phet commented on #345
Looks good to me!

[2021-02-18 23:58] #345 closed

[2021-02-19 00:06] emily-phet commented on #301
The snapping feels nice for all tick mark options.

One thing I do notice is that for the 1:30 case, the "snap-to" range is smaller than the "at ratio" range. So you can get the sim "at ratio" near a tick mark, and wiggle it around quite a bit without it snapping onto a single gridline. This is probably also true for 1:20, but seems hardly noticeable.

I think leaving it as is is probably just fin

[2021-02-19 20:26] jessegreenberg commented on #350
I think this is reasonable for the release. Would another way to do this be to link the visibility of interaction cues on focus to Display's `focusHighlightsVisibleProperty`?

[2021-02-19 21:02] zepumph commented on #350
I'm trying to figure out which is less confusing as a patter. I'm unsure if `down` is a general enough solution to counter-act the keyboard focus. That said, it may be nicer than requiring a display in order to handle this.  Either way feels a bit clumsey. I also am uncertain in general about how we now have focusHighlightsVisible to check in our focus events. part of me wants to try to use focusH

[2021-02-21 17:34] terracoda opened #357 "H1 is wrong place on Home Screen"
<img width="820" alt="image" src="https://user-images.githubusercontent.com/1902116/108633157-51e1fa00-744d-11eb-87bb-4acf6befaeef.png">

Just noticed this strange ordering and duplicate content. Not sure when this got introduced.

The Home Screen starts off with the correct content, but the sim name is not in an H1 element, then later after the intro the sim name appears again and this time in an

[2021-02-21 17:36] terracoda commented on #357
I should mention RC 2 https://github.com/phetsims/QA/issues/609, I am not sure RC 2 has started.

[2021-02-22 21:19] zepumph commented on #357
This is caused by https://github.com/phetsims/ratio-and-proportion/issues/321

[2021-02-22 21:32] zepumph opened #358 "Buggy alert on startup"
While working on https://github.com/phetsims/ratio-and-proportion/issues/357, I found that when loading the home screen right now, we get this alert "Hands, at new challenge ratio". I will take a look at why.

[2021-02-22 21:33] zepumph commented on #357
@jessegreenberg, can you please review since this is common code. Note that this is just a minor bug from commits in https://github.com/phetsims/ratio-and-proportion/issues/321 where we created `ScreenView.pdomTitleNode`.

[2021-02-22 21:40] zepumph commented on #358
This is occurring because we are listening to the Property instead of to the input of the ComboBox. This is a recuring issue. We have needed this for NumberPicker, Slider, and Checkbox to support description.

I am not very interested in diving into a way to add the callback, `onInput` or something into ComboBox, but I can use a workaround. I noticed that the targetRatio is only be changed on star

[2021-02-22 21:46] zepumph commented on #358
Oh, oops. I made this a `link` instead of `lazyLink`. Well that's easy enough to fix!! I notice this has been around for some time, https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.70/phet/ratio-and-proportion_a11y_view.html (note the initial alert).

I'll cherry pick and close.

[2021-02-22 21:48] zepumph commented on #358
Cherry picked, no need to do anything here for #353

[2021-02-22 21:48] #358 closed

[2021-02-22 21:52] zepumph commented on #321
I cannot reproduce this on Chrome + NVDA, but can for Firefox.

[2021-02-22 22:03] zepumph commented on #321
Over the last 8 minutes, I have been able to reproduce this once. Only in Firefox on rc.2, never in master or or unbuilt mode with 1.0 shas checked out. I have also not been able to consistently get this behavior in rc.2. I don't know how to solve an issue like this when I can't reproduce it consistently. In the vast majority of cases, it focuses the h1 of the selected screen and says "Create Scre

[2021-02-22 22:06] zepumph commented on #355
Cherry-picked.

[2021-02-22 22:13] zepumph commented on #352
I think this will be fixed with cherry-picks explained in https://github.com/phetsims/scenery/issues/1156#issuecomment-783712440.

I'll mark this as ready for testing.

[2021-02-22 22:14] zepumph commented on #353
- [ ] commits in common code for https://github.com/phetsims/ratio-and-proportion/issues/352

[2021-02-22 22:15] zepumph commented on #350
I feel ok about https://github.com/phetsims/ratio-and-proportion/commit/9cfb1cc91edeed9cb06bcff713d8d55db1ca7ab7 for now. I'll move on with this, and we can discuss generality at a later time.

[2021-02-22 22:16] zepumph commented on #350
Cherry-picked

[2021-02-22 22:23] zepumph commented on #301
I think that will prove really challenging. I am thinking about this in two ways.

1. The case you outline above is not general, because it assumes that when you are "in proportion", that the desired value is the same as the value of the tick mark. Though likely this is what the user is trying to do, it is quite possible that it is not, so I wouldn't want to assume this,
2. The "in proportion thre

[2021-02-22 22:23] #301 closed

[2021-02-22 22:33] KatieWoe commented on #321
I would say that, since it doesn't actually skip the top, it isn't as large a problem any more, though I did find it odd and distracting. I found it fairly easy to reproduce myself using the method described in https://github.com/phetsims/ratio-and-proportion/issues/321#issuecomment-780831469, but I can get more data and see if it is harder to replicate than I thought.

Also of note: NVDA is suppo

[2021-02-22 23:31] zepumph commented on #356
I did a performance test in chrome by spamming a hand back and forth. It often went through the "in proportion" state, but not always. The timing on it shows that 3% (of 5400 ms) was taken up with PDOMUtils.setTextContent. Basically because of these two multilinks:

https://github.com/phetsims/ratio-and-proportion/blob/9cfb1cc91edeed9cb06bcff713d8d55db1ca7ab7/js/common/view/BothHandsPDOMNode.js#L2

[2021-02-23 02:26] zepumph commented on #356
I'm going to change my estimate for how much this Multilink in DiscoverScreenSummaryNode is taking. Here is the screenshot where I highlighted the pieces I think are effected by this single multilink:

![image](https://user-images.githubusercontent.com/6856943/108792081-f25b1b80-752c-11eb-8598-8814ed3aaae3.png)

Every time this multilink is called, upwards of three redraws for paragraphs in the sc

[2021-02-23 02:42] zepumph commented on #356
I found that even though we added positionInPDOM, there is still some default style added to elements that aren't posistioned. like so:

[code]

@jessegreenberg , please note this patch, I don't know if it is safe, but I feel like the class `a11y-pdom-element` covers this style attribute. Can we get rid of this? Can you explain what we need both for?

[code]

[2021-02-23 03:07] zepumph commented on #354
Thanks for the bug report @KatieWoe. I fixed this by ignoring the input snapping feature if we are already in Proportion. Will you please test on master this buggy case as well as this feature in general. Basically you should still always be able to access an in-proportion state when stepping with the shift-key, no matter the target ratio. It is most beneficial on the create screen with proportion

[2021-02-23 16:44] KatieWoe opened #359 "CT h is not a function"
[code]

[2021-02-23 16:53] zepumph commented on #354
Sorry. I think it will be easier to just test in the next RC.

[2021-02-23 18:24] zepumph commented on #359
I forgot to pass an icon to icon creation when I added it to the main object creation. CT should be fixed, but I'll check back soon.

[2021-02-23 18:37] zepumph commented on #321
Right. I am reproducing it more often now. I feel like this is the same behavior that @jessegreenberg and I couldn't figure out a fix for, so we decided to focus the heading instead of the whole div. It sounds exactly the same, with "out of list". I will double check with @jessegreenberg and likely not fix. It is weird and annoying, but it is nice that it ends up at the h1 at the end.

[2021-02-23 20:21] zepumph commented on #321
@jessegreenberg and I feel like this is quite similar to the original problem, except that its behavior is much more usable. Given our investigation in https://github.com/phetsims/ratio-and-proportion/issues/321#issuecomment-776255039, and the fact that @jessegreenberg and I don't know what else we would try to get to the bottom of this. We are ready to close. We will add this to the screen ready

[2021-02-23 20:21] #321 closed

[2021-02-23 20:51] zepumph commented on #356
@jessegreenberg and I discussed some possible improvements for PDOM performance improvement. All of which seem quite scary to do in RC. As a result we don't want this to block RaP, but we will create an issue in scenery to investigate.

1. Separate out position-focused style from the a11y-pdom-element rules,
2. Apply the above patch and not set clientBounds style on non positioned elements.
3. Loo

[2021-02-23 23:40] phet-steele opened #360 "Moving both hands at near the same time can cause an erroneous in-proportion state"
Maybe similar to #354?

1. Enter the Create screen. Make sure sound is on and you can hear it!
2. Turn on the numbered ladder lines, just to make this easier to see.
3. Keep the default ratio of 1:2, but this should break with any ratio.
4. Enter keyboard nav, and tab until you are controlling both hands simultaneously.
5. Throughout this issue, I will ask you to do a "double move", and that means

[2021-02-23 23:57] zepumph commented on #356
I created https://github.com/phetsims/scenery/issues/1163. Unassigning.

[2021-02-23 23:58] zepumph commented on #359
Fixed for the last 5 rows.

[2021-02-23 23:58] #359 closed

[2021-02-24 02:11] zepumph commented on #360
This to me is not a bug, because we can only detect a single keypress at a time. Thus we will have to get either the left or right hand event first. Let's say first it is the left hand, then next it is the right hand. Thus, there are three discrete states in the single threaded UI of the simulation, which the sound is responding to. First you start at 2:4, in proportion; next you are at 1.5:2, out

[2021-02-24 22:50] KatieWoe commented on #285
Liam Mulhall, Kathryn Woessner, Steele Dalton, Megan Lai, Devon Quispe, Brooklyn Lash, Logan Bray

[2021-02-24 23:14] KatieWoe opened #361 "Screenshots"
For https://github.com/phetsims/QA/issues/609. Screenshots need to be added before the sim can be published. Since the sim seems close to publication, I am marking this as blocking.

This was discussed on slack. @BLFiedler suggested something like this as the main screenshot:
![Screenshot Capture - 2021-02-23 - 16-51-53](https://user-images.githubusercontent.com/41024075/109078601-dab19d80-76ba-11

[2021-02-25 00:32] terracoda commented on #361
These look good to me, and I like the main one.

[2021-02-25 02:25] BLFiedler commented on #361
Thanks, @KatieWoe! I think these are all fine. If it's more appropriate to have 3, I'd eliminate Alt #1.

[2021-02-25 17:32] jessegreenberg commented on #357
I see, thanks for fixing. Change looks reasonable to me and PDOM content for the home screen looks good in the a11y view.

[2021-02-25 21:55] KatieWoe commented on #361
Done in above commits. Closing

[2021-02-25 21:55] #361 closed

[2021-02-25 23:47] zepumph commented on #357
Excellent! Thanks.

[2021-03-01 19:26] zepumph commented on #360
By turning RAPRatio.movingInDirection() and RAPModel.inProportion() into Properties, we can not listen to those changes, so that the above incorrect state never occurs. Unfortunately this yields bit of a strange behavior because of the delay in calculating "movingInDirection", the half second or so it takes to stop being in the "moving in direction" state is now shown with the color and locked che

[2021-03-01 20:20] zepumph commented on #326
We tried this again in https://github.com/phetsims/ratio-and-proportion/issues/338#issuecomment-775607861, and then ran into this annoyance again over in https://github.com/phetsims/ratio-and-proportion/issues/360

[2021-03-01 20:48] zepumph commented on #299
Reopening. If we do and up fixing the moving in direction algorithm over in https://github.com/phetsims/ratio-and-proportion/issues/360, https://github.com/phetsims/ratio-and-proportion/commit/86bccf2f1fab4f5f135e9435212b6e6342142ec5 should be reverted since it was more of a work around.

[2021-03-01 20:54] BLFiedler commented on #360
Just to document this rationale - we were presently surprised by the ability to get the moving in proportion sound with key presses when the moving-in-proportion threshold was developed, but had not expected it would necessarily be true. Now that we are against an obstacle that requires us to choose tradeoffs for the experience at the cost of possibly degrading the ability of the normal learning g

[2021-03-01 23:11] zepumph commented on #360
Alright above I did a couple of things:

* Change the algorithm for what each term's velocity is, requiring three values for comparison instead of just 2 within 30 frames (~.5 seconds). This number can change, but the larger it gets, the laggier it is for touch/tangible input, and the shorter it is, the harder it is to trigger the "moving in proportion" state for keyboard. With 30 it is basically

[2021-03-02 01:02] zepumph commented on #299
Reverted above. I will cherry pick over in #360.

[2021-03-02 01:02] #299 closed

[2021-03-02 01:13] zepumph commented on #326
This was finally done. See https://github.com/phetsims/ratio-and-proportion/issues/360#issuecomment-788268293 and lower for commits.

[2021-03-02 01:23] zepumph commented on #360
I actually found this to be too laggy for all input (including keyboard), so I put it back to 30 frames in https://github.com/phetsims/ratio-and-proportion/commit/387abc72f2c5a6132c558864e1f49cbe897c1b41, https://github.com/phetsims/ratio-and-proportion/commit/d138b0908a40ab92ba36c34feebf0f8cdf0d6429 was a much more helpful fix, where instead of linearly sampling every 3 times per 1/2 second, we n

[2021-03-02 02:33] zepumph opened #362 "Hide cue arrows on tangible support"
see https://github.com/phetsims/ratio-and-proportion/issues/142

[2021-03-02 02:39] zepumph commented on #142
I have been able to commit for this issue, over in https://github.com/phetsims/tangible/issues/4.

Master now supports marker input.

To use:
1. you need to use the "Original" AruCo markers that can be found at https://chev.me/arucogen/
2. See https://github.com/phetsims/ratio-and-proportion/blob/5e6aa461687b711d0b6673ff2833b325ef80b69f/js/common/view/RAPMarkerInput.js#L18-L20 for the markers that

[2021-03-02 17:58] zepumph commented on #362
Added above. This wasn't tested as well as I would have liked because of https://github.com/project-beholder/beholder-detection/issues/4, but it seemed safe to commit. I will test again once that is solved.

[2021-03-02 18:37] zepumph commented on #360
During design meeting we liked what was in place, but felt like the new algorithm shouldn't apply to the ratio when locked. Above I added a workaround so that when locked, you don't need three different values to calculate velocity.

@terracoda @BLFiedler please sign off on this after playing with it in https://phet-dev.colorado.edu/html/ratio-and-proportion/1.1.0-dev.5/phet/ratio-and-proportion_e

[2021-03-02 18:47] zepumph opened #363 "Add self voicing"

[2021-03-02 19:46] BLFiedler commented on #142
Okay, magically started working. Did manage to get detection and movement in 1.1.0dev.5 (!), did not try going back to dev.4 though. It definitely loses the marker quite frequently when in motion and messing with configs did not seem to help it visually on the visual webcam demo.

[2021-03-02 19:54] zepumph commented on #142
To catch up the thread, @BLFiedler and I both found this morning that marker input wasn't working on 1.1.0-dev.4, I created https://github.com/project-beholder/beholder-detection/issues/4 as a best guess of what the problem is. I'm glad it is working for you though!

[2021-03-03 02:16] zepumph commented on #360
Sounds great. I think one review is plenty. Thanks all for a productive solve!

[2021-03-03 02:52] zepumph commented on #343
@liam-mulhall I'm going to close this. Please reopen if you encounter it again.

[2021-03-03 02:53] #343 closed

[2021-03-03 03:07] zepumph commented on #353
I'll proceed now. All has been cherry-picked.

[2021-03-03 03:07] #353 closed

[2021-03-03 03:36] zepumph commented on #285
I forgot to include this in RC.3, I'll do it next time.

[2021-03-03 22:19] phet-steele opened #364 "Hands are aligned differently between both screens"
The two hands + gray rectangles are slightly more over to the left on the Create screen, when compared to their positions on the Discover screen. Just click back and forth between the two and you should easily see that.

Seen on Win 10 Chrome. For phetsims/QA/issues/617.

<details>
<summary>Troubleshooting Information</summary>

URL: https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-rc

[2021-03-03 22:51] phet-steele commented on #360
All seems fixed for me in 1.0.0-rc.3. 😅

[2021-03-03 23:19] phet-steele commented on #360
Okay actually nevermind! I think I still see this bug happening, but @zepumph let me know if what you are about to read is something totally different or not:

1. "Create" screen
2. Set challenge ratio to 1:1
3. Do NOT select "Lock Ratio"
4. Use keyboard nav until you are moving both hands simultaneously
5. Rapidly move between three jumping number keys (for example, I was rapidly pressing 6>5>4 >

[2021-03-03 23:26] phet-steele commented on #355
Looks good in 1.0.0-rc.3!

[2021-03-03 23:26] #355 closed

[2021-03-03 23:51] phet-steele commented on #350
I am somewhat confused! It looks like there are three "states" for these interaction cues:

- (1) The individual movement Up/Down arrow keys
- (2) The simultaneous movement W/S arrow keys
- (3) The simultaneous movement Up/Down arrow keys

What I notice is that you clear the cue for (1) by pressing Up/Down while having focus on just one hand, which is great! This keeps the cues for (2) and (3) whe

[2021-03-03 23:54] phet-steele commented on #350
Alright I am going to move https://github.com/phetsims/ratio-and-proportion/issues/350#issuecomment-790159673 to its own issue, but otherwise I am seeing that the bug reported here is fixed!

[2021-03-03 23:54] #350 closed

[2021-03-03 23:57] phet-steele opened #365 "Inconsistencies about requirements to hide interactions cues"
I am somewhat confused! It looks like there are three "states" for these interaction cues:

(1) The individual movement Up/Down arrow keys
(2) The simultaneous movement W/S arrow keys
(3) The simultaneous movement Up/Down arrow keys

What I notice is that you clear the cue for (1) by pressing Up/Down while having focus on just one hand, which is great! This keeps the cues for (2) and (3) when you

[2021-03-03 23:58] phet-steele commented on #365
Originally reported by me at https://github.com/phetsims/ratio-and-proportion/issues/350#issuecomment-790159673.

[2021-03-04 00:05] zepumph commented on #365
Individual hands are a completely different interaction than both hands. Up to lead designer @BLFiedler to determine if this warrants further action. Feel free to close if we aren't going to change this.

[2021-03-04 00:42] zepumph commented on #360
It is quite possible to trigger the angelic (moving-in-proportion) sound without having the ratio locked, just like when using two fingers on touch. That sound is meant to indicate that you are correctly moving both hands and maintaining the ratio throughout the movement. So good work!  You can also get it (although it is hard) by setting ratio to 1:2, and the quickly pressing "w" for every time y

[2021-03-04 00:48] zepumph commented on #364
@BLFiedler would you like me to work to fix this?

[2021-03-04 01:38] phet-steele commented on #360
@zepumph I should have been more clear! Yes, that is the main part of the bug and I do not see that anymore. However, in part of the bug report I mentioned:

I mentioned this because it did not seem correct to hear that at the time. However, you have said otherwise, so I concede there! 😅 BUT, what I have stated in https://github.com/phetsims/ratio-and-proportion/issues/360#issuecomment-790144174 s

[2021-03-05 22:53] Matthew-Moore240 commented on #357
This looks to be fixed. Closing.

[2021-03-05 22:53] #357 closed

[2021-03-08 22:26] BLFiedler commented on #364
Yeah, I think this is a bit of polish that the sim should probably have, assuming it's not too difficult a fix.

[2021-03-09 00:39] zepumph commented on #364
Done and pushed to the branch.

[2021-03-09 00:39] #364 closed

[2021-03-09 01:38] zepumph commented on #360
It is likely chocked up to being a time-based algorithm. If you do two sets of actions, but one is a bit slower, the slower one likely won't yield this sound. I get the sound pretty consistently if I note the time I do it in. The sound itself is meant to represent a change-over-time relationship. So this also doesn't seem like a bug to me. If it still doesn't seem like I'm understanding you, then

[2021-03-09 13:42] terracoda commented on #365
From a visual keyboard user's perspective, I agree it may seem illogical that all the Arrow key cues disappear when both the left and right hands of the Both Hands interaction is used first. The Both Hands interaction, however, is a complicated custom interaction. When keyboard users are successful with the Both Hands interaction, it should be safe to assume that using the individual Left and Righ

[2021-03-09 13:45] terracoda commented on #365
I agree that the steps suggested by @phet-steele https://github.com/phetsims/ratio-and-proportion/issues/365#issue-821617892 are indeed logical, but it means we could be strongly cuing an intuitive move longer without really needing to.

[2021-03-09 13:49] terracoda commented on #363
@zepumph, for clarity, in other repos, I have been using (Self-Voicing) to preface the Self-Voicing design implementation ;-)

[2021-03-09 13:54] terracoda commented on #362
I would agree @zepumph, that keyboard interaction cues are not needed for tangible input. The visual cues and the PDOM help text are strictly keyboard dependent. We already have evidence that stumbling upon keyboard interaction cues with a screen reader on a touch device is not at all helpful. The PDOM help text directing learners to use the W/S keys or Arrow keys must not be exposed for tangible

[2021-03-09 14:43] terracoda commented on #298
Oh no, I am mistaken, while in general I think things seem better. I can still get a description that is incorrect. In the screen shot the left hand seems to be clearly on Tick mark 2 and the and are described as being in ratio (2:3), but the position of the left hand is described as "around tick mark 2", not "on tick mark 2".

Could this is just a rounding error? Have I asked this before?

Also,

[2021-03-09 18:02] #285 closed

[2021-03-09 18:18] #365 closed

[2021-03-09 18:29] zepumph commented on #360
@terracoda, @BLFiedler, @zepumph discussed this today during RAP standing meeting. We feel like the instructions in https://github.com/phetsims/ratio-and-proportion/issues/360#issuecomment-790144174 produce a case that is not optimal, but that behavior is a result of lots of design work to make a few other cases yield the moving-in-proportion much better (decided during meeting noted https://githu

[2021-03-09 18:29] #360 closed

[2021-03-09 18:38] terracoda commented on #298
Last comments are a bug not related to this design issue. Will move to a different issue.

[2021-03-09 18:39] zepumph commented on #298
https://github.com/phetsims/ratio-and-proportion/issues/298#issuecomment-793987903 is related to https://github.com/phetsims/ratio-and-proportion/issues/354, but I still think it should be in a new issue like @terracoda said.

[2021-03-09 18:40] zepumph opened #366 "Bug in shift-keyboard step snap mapper"
**@terracoda said over in https://github.com/phetsims/ratio-and-proportion/issues/298#issuecomment-793987903:**

Oh no, I am mistaken, while in general I think things seem better. I can still get a description that is incorrect. In the screen shot the left hand seems to be clearly on Tick mark 2 and the and are described as being in ratio (2:3), but the position of the left hand is described as "a

[2021-03-09 18:48] KatieWoe opened #367 "Shift brings keyboard focus back after it is ended"
**Test device**
Dell
**Operating System**
Win
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/617.
When you have keyboard focus on both hands, remove focus, and then hit just the shift key, the both hands focus comes back. Tab was not used, so keyboard focus should stay off in this case.
**Steps to reproduce**
1. Use tab to highlight both hands
2. Use mouse to

[2021-03-09 19:20] KatieWoe commented on #354
Looks fixed in rc.3

[2021-03-09 20:52] terracoda opened #368 "(Self-Voicing) Preferences Tabs"
If possible, it would be great of the Tabs in the Preferences menu could voice by Thursday March 11.
- General Preferences
- Visual Preferences
- Audio Preferences
- Input Preferences

See Preferences design doc:
https://docs.google.com/document/d/1Qu3U8IsFYn486oJUzQ71BXs_lBKZTVS5NVdLJlTK7gw/edit

But if it is not possible, we will carry on.

[2021-03-09 20:59] terracoda commented on #368
Wrong repo!

[2021-03-09 21:00] terracoda commented on #368
Closing and opening new issue in GFLB.

[2021-03-09 21:00] #368 closed

[2021-03-10 04:57] liam-mulhall commented on #352
My Apple Pencil is broken. I've ordered a new part for it, but it'll be two days before it gets here. I don't think this should block progress on the spot check since it's such an edge case, @zepumph and @KatieWoe.

[2021-03-10 20:27] KatieWoe commented on #367
Not seeing this in Firefox on the same device.

[2021-03-10 20:40] KatieWoe commented on #354
I'm actually a bit unconfident with this one. @zepumph if this looks alright, please close. I think it is acceptable but I find it hard to be sure.
![unsure](https://user-images.githubusercontent.com/41024075/110694495-e9617f80-81a5-11eb-8117-f336ad01b365.gif)

[2021-03-10 21:23] KatieWoe commented on #339
Seen again to an extent on Firefox on the same device. https://github.com/phetsims/QA/issues/617
![rangetoosmall](https://user-images.githubusercontent.com/41024075/110699521-2e88b000-81ac-11eb-9ac6-a48b1f54af68.gif)

[2021-03-10 21:41] KatieWoe opened #369 "If ratio is high enough, it may be impossible to hit with a mouse"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/617.
If the ratio is large enough, such as 1:10, then it may be impossible to hit the in ratio with a mouse with lines turned off. The sound will play, but you will always be going past it and the checkbox does not activate.

**Visuals**
![rangetoosmall](https://us

[2021-03-10 21:46] KatieWoe commented on #369
Incredibly strange addition. If you get it in ratio using the lines, then turn lines off, you can get it in ratio with the mouse.
![doesnow](https://user-images.githubusercontent.com/41024075/110702143-5fb6af80-81af-11eb-800f-0f076d032923.gif)

[2021-03-10 21:49] KatieWoe commented on #369
Seen with 1:7, 1:8, 1:9, and 1:10

[2021-03-10 22:04] zepumph commented on #369
Yes it is a bummer that mice aren't quite granular enough to lock in a small ratio like this. Note that you can actually zoom into the smaller hand and get more granularity that way.

Everything else you mentioned here is an intentional design choice. We purposefully play a sound when passing over the proportion because that sound represents "entering in-proportion state" and so conceptually passi

[2021-03-10 22:06] zepumph commented on #367
@jessegreenberg and I designed the focus display system in this exact way. It is a biproduct of decision that had to be made to support iOS + VO description and interaction. I'm going to close this issue, but I would hope that @BLFiedler @terracoda @jessegreenberg would reopen if they feel differently.

[2021-03-10 22:06] #367 closed

[2021-03-10 22:28] KatieWoe opened #370 "In ratio ding sound doesn't happen when hand jumps to line"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/617.
If ratio is reached by dropping a hand close to a line that would be in ratio, without hitting ratio, the hand jumps to the line and is then in ratio. This is good. However, when this happens, the in ratio ding sound does not occur.

**Visuals**

https://user-

[2021-03-10 22:37] KatieWoe opened #371 "iPad hand moves slightly when dropped, which can make getting in ratio hard"
For https://github.com/phetsims/QA/issues/617. Seen with iPadOS 14 with Safari.
When dragging the hands around, when let go they will move slightly, usually down. It does not seem to be due to a twitch from what I can tell. The jump is enough that it can go from in ratio to out, or out of ratio to in.

[2021-03-10 23:18] zepumph commented on #369
@KatieWoe talked me through this in a zoom call, and there does seem to be a particular bug in regards to not being able to hit exactly 1:10 when the challenge is 1:10. We can't reproduce with any other place but when the right hand is at 10. We could reproduce together at challenge ratio of 1:8, and sometimes at 1:9, though I couldn't get it at 1:7 at all.

[2021-03-10 23:50] KatieWoe opened #372 "Mobile VO does not let you click on an item to move focus there"
For https://github.com/phetsims/QA/issues/617. Found on iPadOS 14.4.1 with VO. Did not seem to happen on previously published sim (Molarity).
On previous sims, you would be able to specifically click on an item, such as a checkbox, in order to move focus to it. In this RC, you have to swipe to items it seems. Trying to click on an item moves to the nav bar or the range box, nothing else it seems.

[2021-03-15 17:10] zepumph commented on #370
In order for the in-proportion sound to play, you have to be interacting with the ratio hand. Thus, when you let go, you no longer have that criteria. So even though the line of code that says "play the in-proportion sound now" is being called, on the very next step it is being silenced because we are no longer interacting with the hand.

Here is a sloppy, uncommittable patch that demonstrates the

[2021-03-15 17:47] zepumph commented on #372
I will assume that you mean press with your finger.

Yes this was a sacrifice for simplicity and performance during @jessegreenberg's and my work on supporting iOS 14 + VO. Basically now that feature is opt-in, and a biproduct of interactions that we need to handle special for iOS. Currently the main items that you can do this for are the PhetButton and ComboBox. Others will, by default, not be ab

[2021-03-15 17:50] #372 closed

[2021-03-15 19:06] zepumph commented on #370
So I can very easily reproduce the issue. And @jbphet helped me discuss some of these possible solutions. We went for a time-based accumulator inside the in-proportion SoundGenerator, which ensures that we always play the first ding portion of the sound. This works really well, and I think sounds better in general. It involved some refactoring about how we passed enableControlProperties to the gen

[2021-03-15 19:17] zepumph commented on #366
@terracoda, I would like to discuss this issue more, because in actuality the step-mapper is behaving as it is supposed to. The asymmetry here is because in one direction you are in proportion in the shift step size (going from down .08 to .07 using `?log`). But `.06` isn't in proportion, so the step-size mapper goes from ( .06-> .066666 -> .08). Thus this issue, at least in part, is about the inc

[2021-03-15 20:00] zepumph commented on #369
@jonathanolson and I discussed this, and really it boiled down to a general usability/accessibility problem for mouse users. We are pretty confident that the reason for strange/different results in the above bug report and what I can reproduce is simply based on the resolution of the screen and the scale of the sim/layoutBounds when you are attempting to reproduce this. Since the left tolerance ra

[2021-03-15 20:14] zepumph commented on #369
I do not think this can actually be in the model, because on larger resolution displays (that we may not be able to test on), we don't want to pigeon whole minor changes into a hard coded granularity snapping. Instead I really feel like it has to be based on pixels.

[2021-03-15 21:08] zepumph commented on #369
A hard coded minimum distance is working nicely on my screen:

[code]

The only trouble is trying to fine-tune the distance for all devices:

* 0.0005 works to fix this bug reported in this issue for 1:10, but not 1:8. This is while I am fullscreen.
* 0.001 works to fix 1:10 and 1:8 at full screen for me.
* 0.005 seems too big, and can take away from staccato range in smaller threshold spaces.

Th

[2021-03-15 21:26] liam-mulhall commented on #352
Fixed in https://github.com/phetsims/QA/issues/617.

[2021-03-15 21:27] #352 closed

[2021-03-16 17:11] zepumph commented on #370
We reviewed this during our meeting today. The behavior was good, and the timing seemed good. @BLFiedler said that he wouldn't want to have it any shorter.

[2021-03-16 17:30] zepumph commented on #369
We confirmed that .001 and this algorithm in general is the way to do.

We don't feel too worried about incredibly small/weird screen sizes, but do want to test on a few typical devices.

I will commit code like that above patch, and toss it to @BLFiedler to review. Then QA should likely take a look on most of our weird resolution devices.

[2021-03-16 18:29] zepumph commented on #366
There are two problems here:

1. When the left value is `.0666667`, and the tick mark says "around tick mark two". That is a rounding error, and should be fixed.
2. When the left value is `.07`, and the tick mark says "around tick mark two" when the right says "on tick mark three", that inconsistency is because of how the shift-step-mapper behaves depending on if the current ratio is in-proportion

[2021-03-17 00:10] zepumph commented on #354
Yes that is really helpful. Thanks for that other case. I added both of these cases to unit tests, and that helped me find a more robust fix I think. I'll add to confirm in the next RC.

[2021-03-17 00:18] zepumph commented on #354
I tried to cherry-pick, but got a merge conflict. Perhaps after I merge some of the other work this will be easier.

[2021-03-17 00:25] zepumph opened #373 "Make rc.4"

[2021-03-17 00:36] zepumph commented on #366
I thought it may be because of something like toFixed rounding calls, but nothing was obvious just yet.

[code]

[2021-03-17 00:59] zepumph commented on #369
Applied above with a value of .001.

@BLFiedler please take a look on master or with https://phet-dev.colorado.edu/html/ratio-and-proportion/1.1.0-dev.6/phet/ratio-and-proportion_all_phet.html

[2021-03-17 01:15] zepumph commented on #371
I am able to reproduce this in CAF and CCK-DC (both on master and on the PhET website). I am not convinced this is a blocking issues, or issue at all. @BLFiedler, can you please recommend a path forward. Should this block RC publication?

[2021-03-17 01:40] zepumph commented on #366
(1) was fixed above, by limiting the amount of rounding going on:

![image](https://user-imagesithubusercontent.com/6856943/111401652-8a58aa80-867e-11eb-91db-8507b9fbf765.png)

@terracoda please review. Now we will having match "on" descriptions for both more often. In this case, they are both "on" when moving up to the ratio, but still not when moving down to it.

[2021-03-17 02:15] zepumph commented on #142
@BLFiedler, here is an updated version that should track much better than it did before.

Still to do for this issue:
* Work on how to specify the height of the screen. Right now we have a query parameter called `?heightInPixels=X`  which can help orient the height, but it is non trivial to do so. Ideally we want to work out the best way to tell remote study people to calibrate their system, in an

[2021-03-17 12:41] BLFiedler commented on #371
Yeah, I don't believe this is specific to RaP. However, we actually put the snap-to-tick because I saw this in interviews.

I don't believe there is anything we can do here without a more general investigation into touch interactions.

[2021-03-17 12:44] #371 closed

[2021-03-17 14:54] terracoda commented on #369
I am going to comment, but I have a feeling we can't fix this, when I explore My Challenge with 1:10 with keyboard I can't get ratio with Left Hand at 0.1 and Right Hand at 1. All other spots starting from Left Hand 0.2 are good.

However, if I just click on the Left Hand when it is at 0.1 and Right hand is at 1, the sim goes into proportion/ratio.

Here's 0.1 with keyboard
![Screen Shot 2021-03-1

[2021-03-17 15:11] terracoda commented on #366
I think it works great with range 0-10.
I think I see a slight improvement in 0-30, but I couldn't get the console to show me the values. Let's just go with this.

Both 0-20 and 0-30 seemed to have the same description issue (slightly miss-matched descriptions at some ratios). This is expected, right? Again, 0-10 is great.

[2021-03-17 15:14] terracoda commented on #366
@zepumph , if this slight miss-match is expected for both -20 and 0-30, let's go with this. Again, 0-10 is great.

[2021-03-18 20:59] BLFiedler commented on #369
For the purposes of the first three challenges on screen 1, I think these changes are fine.

re: @terracoda 's comment. Is the 0.01 in the hollywood region? Should the snap-to keyboard feature be able to capture the L0.01-R0.10 values for target = 0.1?

[2021-03-18 22:53] terracoda commented on #369
re: @BLFiedler question, "Is the 0.01 in the hollywood region?", I am not sure what was decided on that, maybe we set that to 0.2? @zepumph, do you know? Did I find a bug or a design decision?

[2021-03-19 01:22] zepumph commented on #369
RE @terracoda's comment, I think it is a bit of a bug, when the hollywood was adjusted in https://github.com/phetsims/ratio-and-proportion/issues/83#issuecomment-658303665 (the commit right below), the hollywood was made to include "`.1` of a tick mark", but perhaps it would be better as an exclusive relationship.

![image](https://user-images.githubusercontent.com/6856943/111718074-29f87300-880e-

[2021-03-19 01:31] zepumph commented on #370
I messed up, and ended up committing a `setTimeout` here, with it gone, my solution doesn't work. I'll keep working on it.

[2021-03-22 18:26] BLFiedler commented on #294
https://www.youtube.com/embed/HmT-ymz-iU0

Link above. Will be added to sim page when published.

[2021-03-22 18:27] BLFiedler commented on #28
Details here are being discussed in other opened issues.

[2021-03-22 18:27] #28 closed

[2021-03-22 22:15] zepumph commented on #370
Ok that is now fixed in an actually workable way. Basically I had to make sure that the in proportion sound could play directly when the in-proportion state changed, and not upon next step, because by the next `step`, the ratio hand will have already been toggled user-controlled off.

Ready for cherry-pick.

[2021-03-22 22:25] zepumph commented on #370
Cherry picked.

[2021-03-22 22:26] zepumph commented on #373
From https://github.com/phetsims/ratio-and-proportion/issues/370, test the in-proportion sound quite a bit.

[2021-03-22 22:27] zepumph commented on #369
cherry picked to 1.0

[2021-03-22 22:47] zepumph commented on #354
cherry picked

[2021-03-22 22:49] zepumph commented on #366
Confirmed fixed on the branch. CLosing

[2021-03-22 22:49] #366 closed

[2021-03-22 23:03] zepumph commented on #373
https://github.com/phetsims/QA/issues/628

[2021-03-22 23:03] #373 closed

[2021-03-23 18:44] KatieWoe commented on #370
Saw one instance where this still happens.
1. With lines off, get hands close to ratio
2. Turn on lines
3. Click hand to snap it to line and into ratio

This is very minor and may not be worth addressing. Rest of fix seems alright.

https://user-images.githubusercontent.com/41024075/112200709-1ade4000-8bd5-11eb-9730-6e74407217b0.MOV

[2021-03-23 19:14] zepumph commented on #354
I'll double check this with in the RC to make sure things look good. @KatieWoe will do the same, but didn't feel quite as confident about making sure the actual algorithm seems fixed in the branch.

[2021-03-23 19:20] KatieWoe commented on #369
This looks good in rc.4

[2021-03-23 19:20] #369 closed

[2021-03-23 19:31] KatieWoe commented on #354
Honestly, something still feels odd to me, but I once again am not sure how to put my finger on it. @zepumph if you want to zoom I might be able to show you.
![stillodd](https://user-images.githubusercontent.com/41024075/112206906-18cbaf80-8bdc-11eb-9b3f-a81b63dd4ab6.gif)

[2021-03-23 20:45] KatieWoe opened #374 "Mobile VO starts in wrong place when entering screen from home screen"
For https://github.com/phetsims/QA/issues/628
Seen with iPadOS 14 with VO. When entering second screen from the home screen, the focus seems to be on the tick mark options. When entering the first screen, it seems to be in the middle of the scene description.

https://user-images.githubusercontent.com/41024075/112215480-0a829100-8be6-11eb-9f42-dfb6ae8789d9.MOV

[2021-03-23 21:44] zepumph commented on #354
Thanks for the video. It likely feels odd because the algorithm is odd! The gif above though is working as expected. Thanks for reporting it. Nothing looks wrong to me in that video or on my own side. I'm going to close this issue now.

[2021-03-23 21:44] #354 closed

[2021-03-23 21:49] zepumph commented on #370
Really cool edge case @KatieWoe! We built into the in-proportion sound this feature called a "hysteresis threshold". This is where basically, in order to trigger the in proportion sound, it isn't enough to just leave proportion and go back in proportion, but you actually have to leave it by a certain amount, large enough that you don't spam-trigger the in proportion sound too much while trying to

[2021-03-24 19:39] #370 closed

[2021-03-25 01:54] zepumph commented on #374
I don't think this should block RaP publication, but it is good to have an issue noting it.

[2021-03-25 02:24] zepumph opened #375 "Production deploy this sim"
I am ready to production deploy this sim, but there was an error with the build server:

[code]

When pulling all, some repos had errors like:

[code]

I feel a bit stuck, though @samreid had some great ideas about how to fix this like
`https://github.com/github/hub/issues/1644` and `https://github.com/kemayo/sublime-text-git/issues/176#issuecomment-9606079`

I think it makes the most sense to wai

[2021-03-25 14:48] samreid commented on #375
Marking blocks publication since this may disrupt or prevent other publications in the meantime (for any sim).

[2021-03-25 20:11] pixelzoom commented on #375
I encountered this same problem with an RC deploy of molecule-polarity.

[code]

Raising priority to top, since this blocks progress on https://github.com/phetsims/molecule-polarity/issues/87.

[2021-03-25 20:23] pixelzoom opened #376 "Production deploy this sim"
Currently blocked by this build-server failure: https://github.com/phetsims/perennial/issues/221

[2021-03-26 17:28] zepumph commented on #376
I was able to publish now. Thanks @pixelzoom for pushing on a quick fix. This is a very nice way to end the week!

https://phet.colorado.edu/sims/html/ratio-and-proportion/1.0.0/ratio-and-proportion_all.html

[2021-03-26 17:28] #376 closed

[2021-03-30 16:31] #294 closed

[2021-04-02 16:27] zepumph commented on #363
https://docs.google.com/document/d/1offJbONUg8y5Aa9kHewC9iTDtNISzna4giGt7WrpXCk/edit

[2021-04-02 17:57] zepumph commented on #363
I am having trouble figuring out where to start here. This is all not a big deal, but I feel like it is important to fully explain what I have tried to do, and how it hasn't been fruitful to try to progress voicing as a feature.

* My first goal was to try to see what voicing features would already be in Ratio and Proportion when I added `?voicing`. I launched http://localhost:8080/ratio-and-propo

[2021-04-02 22:54] zepumph commented on #298
I committed the design in https://github.com/phetsims/ratio-and-proportion/issues/298#issuecomment-746607402 above. I also made extensive unit tests to ensure the expected behavior.

The only difference was that I found no hyphens in the current `halfway` wording. Would you like consistent hyphens in all `halfway` usages, like `half-way`?

[2021-04-05 15:29] KatieWoe opened #377 "CT remainder not in range"
[code]

[2021-04-05 16:28] zepumph commented on #377
I can't reproduce this after 10 minutes of fuzzing in `fuzz` and `fuzzzBoard`. I'll keep trying.

[2021-04-05 21:13] zepumph opened #378 "Voicing side panel causes layout bug"
From
https://github.com/phetsims/ratio-and-proportion/issues/363

![image](https://user-images.githubusercontent.com/6856943/113627925-a5309600-9610-11eb-8ff6-a671135bd99e.png)

[2021-04-06 17:11] BLFiedler commented on #142
Quick answers:
No more beholder. Let's not delete it though. I might be able to use it as is just to have the kids interact with something.
Yes, let's search for other options as you and Emily discussed last week. If we have a few, we can figure out what attributes we need from any particular system for our needs.
Primary though, given our desire for some data, it might be good and good enough to

[2021-04-06 17:41] zepumph commented on #142
From design meeting today, @BLFiedler will take a look at the actual items that he wants in the data stream.

To test master with tangible:
https://bayes.colorado.edu/dev/phettest/ratio-and-proportion/ratio-and-proportion_en.html?brand=phet&tangible

Highly recommended to have the demo open in a different tab so you can check to see if the markers are working
https://bayes.colorado.edu/dev/phettes

[2021-04-13 23:06] zepumph commented on #378
Thanks to help from @jessegreenberg and @jonathanolson, I was able to fix this in the preferences branch of RaP. I also added support for options to better support similar but tweaked ScreenView.getLayoutMatrix values.

@jonathanolson had a better idea of wrapping everything in the ScreenView in a container, instead of messing with `ScreenView.layout()`. I agree in theory, but this was prohibitive

[2021-04-13 23:06] #378 closed

[2021-04-14 18:26] zepumph commented on #363
[code]

[2021-04-15 20:27] BLFiedler commented on #142
Alright - these are probably not exact, and I think in most cases we care about the "newValue" for each, but I think we'd want an output of the following:

- time
- targetRatioProperty
- tupleProperty   (antecedent)
- tupleProperty   (consequent)
- unclampedFitnessProperty (the fitness value being used by the model)
- tickMarkViewProperty (NONE, VISIBLE, or VISIBLE_WITH_TEXT)
- Screen ID? (not sur

[2021-04-15 20:32] BLFiedler commented on #344
Good to go here @arouinfar !

[2021-04-15 20:33] BLFiedler commented on #295
Completed, uploaded to Gdrive, and on sim page.

[2021-04-15 20:33] #295 closed

[2021-04-15 20:33] #259 closed

[2021-04-15 20:35] BLFiedler commented on #293
Recorded, subtitled, uploaded to Gdrive, and on sim page!

[2021-04-15 20:35] #293 closed

[2021-04-20 18:30] BLFiedler commented on #142
Nope, forgot to assign. Sorry! @ you @zepumph

[2021-04-21 18:14] zepumph opened #379 "Convert from FA4 to FA5"
From https://github.com/phetsims/sherpa/issues/83#issuecomment-821685067

[2021-04-22 16:41] zepumph opened #380 "Reflect on design-patterns to combat complexities with having multiple input modalities"
It would be nice to get a subgroup discussion with devs to discuss some of the challenges that came about from Ratio and Proportion.

The primary challenges from Ratio and Proportion are as follows:
* Strategies for balancing modularity with the need for Interactive Description (mostly natural language alert sentences) to potentially know about many different aspects of the view and model in a giv

[2021-04-22 16:42] #1 closed

[2021-04-26 19:23] zepumph opened #381 "Implement My Challenge AccordionBox"
https://docs.google.com/document/d/1offJbONUg8y5Aa9kHewC9iTDtNISzna4giGt7WrpXCk/edit#heading=h.nvlwmm9fjx2v

Splitting out issues for individual components seems nicer here.

https://github.com/phetsims/ratio-and-proportion/issues/363

[2021-04-26 22:38] zepumph commented on #381
Questions about accordion box to discuss with JG:

1. In AccordionBox.js, it seems like we want to specify a voicing hit area for the interactive highlight that includes the title bar. Perhaps we want to refactor the components listeners to just expand hit areas of the button instead of new listeners for the title bar.
2. The TODO in the issue, how does he recommend I add voicing object responses

[2021-04-27 17:29] zepumph commented on #142
Version needed by next Friday, so I should get a working, recording version by this Friday.

[2021-04-27 17:30] zepumph opened #382 "Record all the constants and query parameter values for PhET-iO"
Today a designer requested that "threshold" values in this sim, of which there are many, would be able to be recorded so that when you look at the data stream, you would know what these constant values were.

@samreid, is there any precedent for instrumenting constants or something like that?

Noting the request from https://github.com/phetsims/ratio-and-proportion/issues/142j

[2021-04-27 21:40] zepumph commented on #381
After discussing with @jessegreenberg, we answered these questions:

1. See https://github.com/phetsims/scenery/issues/1212
2. Removed in the above commit. We would instead just use expandCollapseButtonOptions to pass through voicing strings.

[2021-04-28 02:09] zepumph commented on #381
@terracoda, the AccordionBox is ready for review. No other parts, including the nested NumberPickers have been implemented, please review with https://phet-dev.colorado.edu/html/ratio-and-proportion/1.1.0-preferences.1/phet/ratio-and-proportion_all_phet.html

[2021-04-28 15:12] samreid commented on #382
We do not have an established pattern for that, but I will brainstorm some ideas:

1. The constant could be made to be part of a `phetioState: true` stateful object, so that it outputs its value on startup
2. The constant could be promoted to a stateful `Property` instance which remains constant.

[2021-04-29 15:51] terracoda commented on #381
This sounds really awesome! I think you got it right for both Mouse and Keyboard.

The only thing that sounds weird from a design perspective is when I only have "object changes" checked. In that case I get the object name multiple times: My Challenge on focus and My Challenge on opening and My Challenge on closing.

Everything is implemented as requested. Nice job!

I'll mark this as a design iss

[2021-04-29 16:05] zepumph commented on #381
Same issue sounds fine to me!

[2021-04-30 19:26] zepumph commented on #382
With this patch, I can get this event in the data stream, which is enough for our purposes. Could you please advise potential improvements though? Why does this need to be in the model. That seems weird.

[code]

[2021-04-30 19:33] samreid commented on #382
Can you please include the patch, so I can see the context?

[2021-04-30 19:53] zepumph commented on #382
Sorry, I edited the first comment to include the patch.

[2021-04-30 19:54] zepumph commented on #142
Would there be any values that aren't included in this set of constants?

https://github.com/phetsims/ratio-and-proportion/blob/5a4faa76cc16406a312ba77429dd3f8a764d4b18/js/common/RAPConstants.js#L18-L38

[2021-04-30 19:56] samreid commented on #382
What you have written seems reasonable, but would it be an improvement to make RAPConstants a class with a singleton instance, and `RAPConstants extends PhetioObject` and use `ObjectLiteralIO` IO Type?

[2021-04-30 20:52] zepumph commented on #382
Good idea

It isn't technically possible because there is an extra prototype on the Object instance, so we can't use that. I created a new IOType, though that is a bit of a bummer. Perhaps we should change ObjectLiteralIO's signature to support this case?

Please review the commit.

[2021-04-30 21:09] zepumph commented on #142
So long as those values are all we need, here is how you access everything you asked for.

In general, any phetioID below that is on the `discoverScreen` is also on the createScreen. Unless otherwise stated, the event will have a key `phetioID` which will match the provided phetioID when a change occurs.

* time: included in each event, like this:
[code]

* targetRatioProperty: `ratioAndProportion

[2021-04-30 21:22] zepumph commented on #298
Oops, I forgot to re-assign. Sorry @terracoda.

[2021-04-30 22:04] zepumph opened #383 "[Voicing] implement resetAllButton"
I see JT has its own VoicingResetAllButton in the preferences branch currently. I asked @jessegreenberg if it was close to getting moved into ResetAllButton, and he said close but not quite yet.

@jessegreenberg will you please assign this issue to me when things are ready to go so I can test/implement the pattern in this sim.

[2021-05-03 19:17] zepumph opened #384 "[Voicing] implement TickMarkRadioButtonGroup"
From https://github.com/phetsims/ratio-and-proportion/issues/363

[2021-05-03 19:59] zepumph commented on #384
Activation supported above, with a refactor of the `switch. . . case` for interactive description alerts.

[2021-05-03 21:24] zepumph commented on #381
@jessegreenberg and I spoke about how to implement the interactive highlights for the AccordionBox, and we want to try mutating the mouse/touch areas and to get rid of the extra input listeners in AccordionBox. I'll give that a try. The other solution would be to mix Voicing into each Node with an input listener, like for these:

https://github.com/phetsims/sun/blob/260e29027c31d1193a830a22417e337

[2021-05-03 21:50] KatieWoe opened #385 "Launching from studio does not work"
For https://github.com/phetsims/QA/issues/647. Win 10 Chrome.
When in studio, if you launch the sim, the resulting sim freezes on the home screen and creates several issues in the console. If you launch without entering the sim, trying to enter the resulting launched sim will then create the freezed behavior.
<img width="960" alt="can't preview" src="https://user-images.githubusercontent.com/41024

[2021-05-03 23:36] zepumph commented on #384
Much of this work was done in https://github.com/phetsims/sun/issues/699.

Currently in the preferences branch in sun has commits to RectangularRadioButtonGroup that work well for focus and keyboard interaction, but don't give the object response for mouse/touch. Marking for a11y dev meeting to discuss with @jessegreenberg tomorrow.

[2021-05-03 23:48] zepumph commented on #385
Good catch! Thanks.

[2021-05-03 23:49] zepumph commented on #385
This is just a general problem with setting state. I'm not sure I had gotten to state just yet, as we are only supporting recording at this time. I'll keep you posted on priority of this.

[2021-05-04 16:06] KatieWoe commented on #385
Yup, confirming this is a problem in the state wrapper too.

[2021-05-04 16:12] KatieWoe opened #386 "Recording doesn't capture jumping both hands to a number"
For https://github.com/phetsims/QA/issues/647. Seen on Win 10 Chrome and MacOS 11 Safari.

When recording (this test used metacog recording) the record wrapper does not pick up when keyboard commands are used to jump both hands to a specific number.

[2021-05-04 16:20] terracoda commented on #298
"halfway" seems to be a legitimate spelling. Let's go with no hyphens on "halfway" throughout. Would that be ok. I agree consistent spelling is important.

[2021-05-04 16:21] KatieWoe opened #387 "Recording does not capture keyboard nav on home screen"
For https://github.com/phetsims/QA/issues/647. Seen on Win 10 Firefox with NVDA, but looking at the mirror wrapper, it seems to be tied to keyboard nav.

In attempting to enter the second screen from the home screen, the playback of the recording never shows the user leaving the home screen. On the mirror wrapper, focus doesn't seem to show up, making testing this fully there difficult, but it doe

[2021-05-04 16:22] terracoda commented on #298
And apologies for being inconsistent on that.

[2021-05-04 17:50] zepumph commented on #385
The problem was that my fromStateObject was on the prototype, and not a static. I'm a bit embarrassed by how long this took me to debug. As a result I added an assertion in IOType.fromCoreType.

@samreid let me know if you can foresee trouble with that assertion.

[2021-05-04 17:51] #385 closed

[2021-05-04 17:51] zepumph commented on #385
Cherry picked into 1.1 (for the study this week). Closing

[2021-05-04 19:08] zepumph commented on #386
I can debug this better now using https://github.com/phetsims/phet-io-wrappers/issues/415

[2021-05-04 20:29] samreid commented on #385
The assertion looks correct to me, and unlikely to yield any false positivise.

[2021-05-04 21:18] zepumph commented on #142
https://phet-io.colorado.edu/devguide/ can be a good guide for general PhET-iO understanding.

[2021-05-04 21:33] BLFiedler commented on #142
?phetioConsoleLog=json

[2021-05-04 21:39] zepumph commented on #142
Add instrumentation for movingInDirectionProperty and inProportionProperty

[2021-05-05 00:59] zepumph commented on #387
Likely a subset of https://github.com/phetsims/phet-io/issues/1748

[2021-05-05 00:59] zepumph commented on #386
This is likely a subset https://github.com/phetsims/phet-io/issues/1748

[2021-05-05 18:00] zepumph commented on #386
This is not an issue with recording, as I confirmed that the recorded events look good. It seems to be an issue with our playback strategy, on hold by https://github.com/phetsims/phet-io/issues/1748 and not blocking RaP data collection this week.

[2021-05-05 18:02] zepumph commented on #386
I confirmed this with the following steps:

1. load the record wrapper with `?localFile`
2. type in console `const _ = document.getElementById( 'sim').contentWindow._`
3. naviagate to both hands, and press a number key
4. type `window.phetio.eventArray.filter( function filte(x){ return x.phetioID.includes( 'tupleProperty') || (x.children && _.some( x.children, filte))});` in the console. You will

[2021-05-05 18:03] zepumph commented on #387
The recording events is working, it is just how the playback engine works. On hold until https://github.com/phetsims/phet-io/issues/1748 is sorted out.

[2021-05-05 18:50] zepumph commented on #142
I created a parsing engine to give @BLFiedler a table-like format to interpret. I started with a test:

I started with a small data log in which I manipulate every control in the sim

[ration-and-proportion-test.json.log](https://github.com/phetsims/ratio-and-proportion/files/6429428/ration-and-proportion-test.json.log)

Then I wrote a Node script to turn this into a format that the R package `jso

[2021-05-05 19:04] BLFiedler commented on #142
Great! First glance, it looks good to me. I think the data parsing is probably something we can refine later if I'm having any trouble, but for now let's go ahead and get a test link I can try out before deployment on Friday?

[2021-05-05 19:06] zepumph commented on #142
Just a couple minutes out on that!

[2021-05-05 19:40] zepumph commented on #142
Please see https://github.com/phetsims/special-ops/issues/202.

[2021-05-06 19:29] chrisklus commented on #380
From 5/6/21 dev meeting:

Subgroup volunteers: @samreid, @jessegreenberg, @jonathanolson
Thanks!

[2021-05-07 01:37] zepumph commented on #380
I don't think that @samreid and my schedules with align next week. I'll reach out about a potential time the week of 5/17

[2021-05-07 23:27] jessegreenberg commented on #381
@terracoda @zepumph after today's discussion during Voicing meeting I would like to try the design option for the "My Challenge" AccordionBox where we categorize components of speech explicitly into "object", "context" and "help" responses. Using strings from the design document it would look like this:
[code]
where each of these can easily be added/removed depending on user preferences.

An imple

[2021-05-08 00:07] jessegreenberg commented on #381
I spent 35 minutes trying to match what is in the design document now using the current Voicing API. I made progress but did not finish in that time. Here is my progress. It is an example of the kind code required to create unique strings for various *combinations* of Voicing preferences.

<details>

[code]
</details>

[2021-05-10 21:55] jessegreenberg commented on #381
During a discussion today we decided on a new category for responses called the "name" that is different from the object response. That could make the requested design much easier to implement, I am going to give that a try after https://github.com/phetsims/scenery/issues/1217#issuecomment-837138572

[2021-05-11 16:37] terracoda commented on #381
Just a little extra information about how I think about object responses.

Object responses contain object-specific information.
Depending on where the user/learner is in their interaction, the object response can be slightly different.

Initially they will need object name and starting value, but as soon as changes happen they only need the latest information.

I feel like separating the object n

[2021-05-11 19:02] terracoda commented on #381
As I said in slack

"Current challenge" and "My challenge" appear in the read me buttons, so maybe users will just put it all together magically like screen reader users, do.
I still think for many interactions having the object name separate is going to be super useful. I re-mapped out Friction's Grab button today . I think it works really nicely with having the button name as a separate entity f

[2021-05-12 05:24] samreid commented on #382
The commit looks great, I don't have any further recommendations for this issue.  Closing.

[2021-05-12 05:24] #382 closed

[2021-05-17 16:29] KatieWoe commented on #377
Still occurs:
[code]
Reopening

[2021-05-21 18:08] zepumph opened #388 "[Voicing] implement Hands"
From https://github.com/phetsims/ratio-and-proportion/issues/363

[2021-05-21 18:11] zepumph commented on #388
This is my helpful testing patch:

[code]

[2021-05-21 18:18] zepumph commented on #388
I implemented a first pass without help text at the moment. the name is given on start drag, and on focus, and the object/context responses are exactly what they are for description. This is pretty much the most basic copying of logic from description that we could do, so I'm curious how it goes.

I implemented the individual hands, as well as the both hands alerts (with a new hard coded name call

[2021-05-24 18:38] zepumph commented on #380
Tagging @emily-phet as this is a quarterly goal to discuss.

[2021-05-25 16:17] zepumph commented on #380
@jonathanolson, @jessegreenberg, @samreid, and @zepumph discussed this today. We took a general tour of interactive description in Ratio and Proportion, as well as the "describer" pattern. In general that pattern means constructing `*Describer` types  high up in the view (like in the general ScreenView class) with all of the model data they may need, and then passing those accordingly down the sce

[2021-06-04 16:59] emily-phet commented on #380
Just wanted to add a comment. From my read of the summary above, it seems like group discussion centered on interactive description. I just want to note that to me, the issue to tackle spans beyond interactive description, to ultimately develop strategies for designing sim models that work well across different input and output modalities. Interactive description is one complex subset of the bigge

[2021-07-02 13:57] zepumph commented on #377
Thanks, I see that too. I'm fuzzing locally now to try to reproduce, it takes many minutes for me.

[2021-07-02 17:02] zepumph commented on #377
I'm hopeful that this will fix the error. I'll check back on CT.

[2021-07-03 21:31] samreid commented on #347
Reopening based on a TODO in the code.  I'm not sure if the TODO can be deleted or if it needs attention.

[2021-07-06 14:45] #347 closed

[2021-07-09 14:51] zepumph commented on #379
Removing hold because of https://github.com/phetsims/sherpa/issues/83#issuecomment-876881719. I'll take it for a test drive.

[2021-07-09 15:15] zepumph commented on #379
Ok, here is how the regular shape looks, it's a bit smaller of an eye even though it has the same bounds. This was as large as I could make it without changing the size of the radio buttons:

![image](https://user-images.githubusercontent.com/6856943/125098200-4c472280-e083-11eb-903b-97ca8f002646.png)

And here is the "solid" version of the eye, which I don't think we want, but posted to this just

[2021-07-22 16:12] zepumph commented on #379
![image](https://user-images.githubusercontent.com/6856943/126672269-487d1fb1-3853-418f-909c-142241408da8.png)

![image](https://user-images.githubusercontent.com/6856943/126672390-3e7ba3f5-94c6-460d-b1b0-1464b9307393.png)

You can also take a look on https://bayes.colorado.edu/dev/phettest/ratio-and-proportion/ratio-and-proportion_en.html?ea&brand=phet.

[2021-07-22 16:23] BLFiedler commented on #379
I think that looks reasonable even on small screens like my phone. Go for it.

[2021-07-22 16:44] #379 closed

[2021-07-23 21:15] zepumph opened #389 "branch: preferences"
We want to keep this around for the voicing code in it until the next time we work on voicing. in https://github.com/phetsims/ratio-and-proportion/issues/363 et al.

[2021-07-29 20:52] BLFiedler commented on #142
For the purposes of this study, this is complete and I will close. Further exploration of movement related data output can happen in new issues.

[2021-07-29 20:52] #142 closed

[2021-08-09 16:18] KatieWoe opened #390 "CT this.contextResponseUtterance.resetTimingVariables is not a function"
[code]

[2021-08-11 18:25] zepumph commented on #390
https://github.com/phetsims/utterance-queue/issues/20#issuecomment-896371137 cleaned this up. Thanks @jessegreenberg!

[2021-08-11 18:25] #390 closed

[2021-08-27 18:06] terracoda opened #391 "(PDOM) Remove captitalization on "Challenge Ratio" in body of state descriptions"
Please change "Challenge Ratio" to "challenge ratio" when "Challenge Ratio" appears on body-like state descriptions in paragraphs and lists.

Heading, label, and option elements can keep capitalization.

Not sure if this is straight forward or not. If not, we should keep the capitalization in the Voicing strings. In my voicing design document I have removed all the capitalization.

[2021-09-07 15:34] terracoda opened #392 "(PDOM) Tick Mark Options - remove "to Play Area" from context responses"
As suggested in the design document in the [Tick Mark Options section](https://docs.google.com/document/d/1offJbONUg8y5Aa9kHewC9iTDtNISzna4giGt7WrpXCk/edit#heading=h.d3xfbu80tqt1), I'd like to try the removing "at Play Area" from the context response:

- Evenly-spaced numbered lines added to Play Area.
- Evenly-spaced horizontal lines added to Play Area.

The "Play Area" and "Control Area" section

[2021-09-07 15:36] terracoda commented on #392
New context responses will be:
- Evenly-spaced numbered lines added.
- Evenly-spaced horizontal lines added.

[2021-09-15 16:52] KatieWoe opened #393 "CT reentry detected"
[code]

[2021-09-16 15:02] zepumph opened #394 "branch: typescript"
For initial TypeScript investigation.

[2021-09-16 16:20] zepumph commented on #394
Just kidding, I think the best path forward is to go from master.

[2021-09-16 16:20] #394 closed

[2021-09-27 15:30] terracoda opened #395 "(Visual Change) Change all labels (visual & description) from "Lock Ratio" to "Ratio Lock""
Having a verb in a checkbox label can be challenging, especially when considering all inputs in the Vocing design.

As mentioned in the Voicing design doc, we think changing the visual label to “Ratio Lock” will allow us to avoid having two name responses that reflect the checked and unchecked states of the checkbox, and allow us to rely on the context responses to communicate the state changes.

[2021-09-27 16:23] terracoda opened #396 "(Voicing) Disabled Controls - Would reading blocks make sense?"
In Ratio and Proportion and in many other simulations there is a need sometimes to disable access to an interactive control.

There are standard methods using HTML and ARIA to communicate a control is disabled. These methods are implemented through the use of the PDOM. In Voicing design and implementation not all inputs have access to the PDOM.

For example, mouse and touch input events do not go

[2021-09-27 17:06] terracoda opened #397 "(Description) Inconsistent sound feedback when using 0-9 shortcut keys"
If I set the ratio to essentially 1:1 and then use the hot keys 1-9, I only get the at ratio chime on the first ratio change I make. The screen remains green through out use of number key shortcuts.

After going to zero and then to a 1:1, I will again get the at ratio chime on the first ratio hit, but not subsequent ones.

Using Chrome on MacOs 11.4

I can't remember if this was intentional or if

[2021-09-27 17:08] terracoda commented on #397
Oh, if I press the number keys fast (1, 2, 3, etc.), I sometimes get the proportion choir sound, but not all the time.

[2021-09-27 17:23] terracoda commented on #397
With ratio locked, I get the proportion chime every time when using the shortcut keys, but only some times if ratio is not locked.

[2021-09-27 19:50] BLFiedler commented on #397
I recall having a conversation about this, though not exactly the resolution. I believe we concluded in some of the more recent discussions prior to publication that the shortcut was not actually intended to be used for the exploring the ratio. If so, we'd also want it to give feedback as you pass the target ratio, which I don't believe happens?

@zepumph, do you know if this is designed behavior

[2021-09-27 19:51] terracoda opened #398 "(Description) Change help text for Ratio Lock checkbox"
Related to #395.

**Change help text for Ratio Lock checkbox from:**
- Enabled when hands are at challenge ratio. Move hands as a single unit to maintain my challenge ratio.

**To:**
- Enabled when hands are at challenge ratio. Move hands as a single unit with ratio locked.

And since the Voicing hints use word for word the first and second halves of the help text,
- Move hands as a single unit wi

[2021-09-28 13:15] terracoda opened #399 "(Description & Voicing) Change initial interaction hint on Discover Screen"
As noted in the Voicing design doc, please change the interaction from
- Move hands to find the Challenge Ratio in different places.

To:
- Move hands up and down to explore and discover different challenges.

The content for the Play Hint button hint for Voicing is not yet implemented. With this change, the two hints will use the same content.

[2021-09-28 13:30] terracoda opened #400 "(New) For both Description & Voicing create a scale for green-ness"
As documented in the Voicing design document, we need a qualitative scale to describe the greenness of the screen. The greenness-scale follows the described proximity to ratio regions the same as the sonification does.

**Table: Greenness & Described Proximity to Ratio**
Proximity to Ratio 8-point scale | challenge ratio | Notes on timing sonification 5-point scale | Ideas for voicing design 5-poi

[2021-09-28 14:21] terracoda opened #401 "(Description & Voicing) Update Home Screen button hints"
Voicing of Home Screen is not yet implemented, but these changes can help to align the strings used in description and strings used in Voicing. The new wording also shortens the help text for the home screen buttons:

**For the Discover Screen  button**, change the help text from
- Explore and this screen to discover set challenge ratios.

To:
- Explore and discover set challenge ratios.

**For th

[2021-09-28 14:26] terracoda commented on #383
I think this issue is stale. We have a voicing design for the reset all button that was published with John Travoltage and is used in other sims, too, e.g. GFLB.

I think this issue should be safe to close.

[2021-09-28 14:44] #383 closed

[2021-09-29 16:51] terracoda opened #402 "(Description & Voicing) Change unlocking context response of Ratio Lock checkbox"
Related to #395 and #398

Change context response for the unlocking event from:
- Ratio no longer locked.

To:
- Hands no longer locked.

[2021-09-29 18:07] terracoda commented on #396
Marking as on hold as work is done in phetsims/scenery#1220

[2021-10-08 19:39] terracoda opened #403 "(Voicing) What to call the response when an option becomes selected for a combobox interaction?"
This sim has 2 Combobox interactions. They each have their own interesting point of view.

**For the Challenge combobox** the both the name and the current value (1, 2, or 3) form the name of the combobox pop-up button. The same words on the button and the options are highlighted when interacting.

For this combobox, it seems to me that the list of phrases we need to use for both name response and

[2021-10-08 19:56] terracoda commented on #403
Note that my documentation in the design doc is a little undecided, so I opened this issue.

[2021-10-19 18:20] zepumph opened #404 "Convert to typescript"
Discussed during quarterly planning last week, every developer is to take on converting a sim to typescript to take the new language for a test drive. Since this sim is my next sim I'm going to be working on (for voicing), I will start here, and with https://github.com/phetsims/chipper/blob/master/doc/typescript-quick-start.md. My expectation is that it will take one day (8 hours).

Note https://g

[2021-10-19 20:00] zepumph opened #405 "typescript convention questions"
While working on https://github.com/phetsims/ratio-and-proportion/issues/404, I would like to keep track of questions I have about how we want to codify things in this new language. Most will probably be dumb questions, since I don't know the language very well.

- [x] Should we ever mark a field as `public`, isn't that redundant to the default?
- [x] How to support Enumeration values?
- [x] Expor

[2021-10-19 21:38] zepumph commented on #404
I started with about 1350 compiler errors when converting all resources to `*.ts`. After completing the model, I'm down to 1100, and with strict mode off, its 888. I'm going to commit to a branch to start.

[2021-10-19 21:42] zepumph opened #406 "branch: typescript"
Just while working on https://github.com/phetsims/ratio-and-proportion/issues/404

[2021-10-20 00:33] BLFiedler commented on #344
@arouinfar Just checking that this was done and can be closed?

[2021-10-21 05:34] zepumph commented on #404
After the above commits, I am down to 500 compile errors.

[2021-10-21 15:58] zepumph commented on #404
So far, I have found ~3 actual bugs (boolean passed in for number, or null for number, etc), and about 5-10 cleanup pieces, like extra parameters passed in that were ignored.

[2021-10-23 01:54] zepumph commented on #404
Branch merged, lint and ts compile errors have been either fixed or worked around.

[2021-10-23 01:54] zepumph commented on #406
Merged to master.

[2021-10-23 01:54] #406 closed

[2021-10-25 15:33] KatieWoe opened #407 "CT unsupported RatioTerm"
[code]

[2021-10-25 17:41] #407 closed, assigned to zepumph

[2021-11-02 20:26] KatieWoe opened #408 "CT uiScaleFunction is not a function"
[code]

[2021-11-04 16:37] zepumph commented on #408
@samreid, is this from https://github.com/phetsims/dot/issues/112?

[2021-11-04 16:39] samreid commented on #408
Yes, probably, I'll take a look.

[2021-11-04 16:42] samreid commented on #408
This is similar to what happened in https://github.com/phetsims/gravity-and-orbits/issues/413.  I can see the code is using `evaluate` and not invoking `uiScaleFunction()` directly.  You can see that by navigating to the source file in the stack trace: https://bayes.colorado.edu/continuous-testing/ct-snapshots/1636041297601/chipper/dist/ratio-and-proportion/js/common/view/RAPScreenView.js

I think

[2021-11-05 15:51] zepumph commented on #408
Ok, ready for my best guess. . . .

It is because of these lines:

https://github.com/phetsims/aqua/blob/3ef48f258560d90cbb31541705d435fd5f205cda/js/server/ContinuousServer.js#L519-L525

This is the exact same problem as https://github.com/phetsims/phettest/issues/7.

So we encountered this problem because when you pushed the linearFunction fix, it compiled GAO and RAP before dot was. https://gith

[2021-11-10 04:35] samreid commented on #405
I noted some of these parts in https://github.com/phetsims/phet-info/blob/master/doc/typescript-conventions.md

[2021-11-10 05:02] samreid commented on #408
I don't have a capture of https://bayes.colorado.edu/continuous-testing/ct-snapshots/1636041297601/chipper/dist/ratio-and-proportion/js/common/view/RAPScreenView.js but it did have the new, correct compiled code in `dist/`.  But it errored as if it had the bad prior code.  So I'm not sure what was going wrong there.  Perhaps we should close this issue or move it to aqua as a sighting?

[2021-11-10 18:24] zepumph opened #409 "query parameter to show position regions"
Like we did in GFL and BASE

This is just the general regions when there are no tick marks.

[2021-11-10 22:55] zepumph opened #410 "Sliver of white behind the voicing toolbar chevron"
![image](https://user-images.githubusercontent.com/6856943/141206827-96beea8f-d38c-480b-a37e-e0d42ce0d9a4.png)

I can fix this by using the backgroundColorProperty from Screen for the backgound instead of a custom rectangle.

[2021-11-10 22:59] zepumph commented on #410
This commit also happened to add voicing support, but it wasn't supposed to for this issue specifically.

[2021-11-10 22:59] #410 closed

[2021-11-10 23:47] zepumph commented on #409
@terracoda please review by adding `?showRegions` to a version of RAP.

It looks like:

![image](https://user-images.githubusercontent.com/6856943/141211603-87eb86d0-146c-4e21-b9d6-044e29626f8a.png)

[2021-11-10 23:49] zepumph commented on #409
You can use https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.1/phet/ratio-and-proportion_all_phet.html?showRegions.

[2021-11-11 01:20] samreid commented on #408
None of the hypotheses identified in this issue can explain the behavior we saw, where it was the new code but acting as if it was the old code.  Also, in https://github.com/phetsims/phettest/issues/7 we made it compile everything after pull all.

[2021-11-11 16:52] zepumph commented on #363
Since last working on this issue, we have merged voicing implementation into master, and I have converted RAP to typescript. Both of these items have caused quite a bit of divergence between the rap preferences branch and master. Here is the list of commits (from newest to oldest) that are in the preferences branch but not on master. I should go through each one to make sure I get master up to its

[2021-11-11 16:56] zepumph commented on #363
Also, note that voicing was added to master in https://github.com/phetsims/ratio-and-proportion/issues/410 (oops).

[2021-11-11 16:57] zepumph commented on #362
Unassigning until we add tangible support back into this sim.

[2021-11-11 17:02] zepumph commented on #408
You are very correct! Furthermore, I feel confused about when RAP itself stopped displaying this. I wonder if it had to do with a restart I did to CT a couple of days ago? Likely not, as I recall that was closed 8 days ago as part of https://github.com/phetsims/scenery/issues/1318.

[2021-11-11 21:25] terracoda commented on #409
Looks good. This should work for me.

Just one fix... I think "at middle" is a single value region, so the line should probably go through the middle of the words like "at top" and "at bottom".

[2021-11-11 21:25] terracoda commented on #409
I'll assign back as soon as I determine the new region ranges.

[2021-11-11 21:31] terracoda commented on #403
I think I decided.

name response on focus
object reponse  when moving through selections
for some comboboxes, the list of name responses and object responses will be identical (e.g. challenge combobox)

[2021-11-11 21:31] #403 closed

[2021-11-11 21:56] zepumph commented on #409
Oh no! I just realized that I input the incorrect values for the ranges, I used the distance ranges instead of the position ones. One fix coming in up.

[2021-11-11 22:20] zepumph commented on #409
![image](https://user-images.githubusercontent.com/6856943/141374875-1891f536-0d5c-4633-ac77-0a95cc1a40ed.png)

[2021-11-11 22:20] zepumph commented on #409
@terracoda I'm so terribly sorry for wasting your time. Please re-review.

[2021-11-11 22:25] terracoda commented on #409
From the screenshot it does not look like "at middle" or "at top" are single-value regions.

[2021-11-11 23:16] zepumph commented on #381
I am back working on this issue and it is quite messy. We have a preferences branch that can't be used anymore because RAP is now typescript. While trying to move some of that logic over to master, I found that @jessegreenberg has some prototyping that he was working on in https://github.com/phetsims/ratio-and-proportion/issues/381#issuecomment-834884186. Basically I'm going to bail because I thin

[2021-11-11 23:25] zepumph commented on #363
Going through, most was just merging with master or bumping the version number for a deploy. Basically the three pieces that are on the branch that we should copy functionality out for when it is time is MyChallengeAccordionBox, TickMarkRadioButtonGroup, and one commit to BothHandsPDOMNode. I've annotated the above commits accordingly.

[2021-11-11 23:28] zepumph commented on #409
Maybe more like this?

![Uploading image.png…]()

[2021-11-11 23:50] terracoda commented on #363
I agree @zepumph, good to get all boiler plate stuff ready, and then I thought it might be useful to implement my requested changes to PDOM strings. This will hopefully be beneficial down the road.

[2021-11-11 23:51] terracoda commented on #363
As I said on slack, I marked issues that have PDOM changes as hi priroty.

[2021-11-11 23:54] terracoda commented on #384
@zepumph, this issue might be stale. I didn't open it. TickMarkRadioGroup is ready from a design perspective, when you are ready to implement.

[2021-11-12 00:02] terracoda commented on #381
@zepumph , I think we might be able to close this issue.
The voicing responses that were implemented here, is what  is documented in the design doc. It sounds like you will need to re-implement this interaction.

[2021-11-12 15:13] terracoda commented on #298
I think this must be a stale issue since the sim is now published. Just checked ally-view of published version and I see "halfway" spelling. Apologies for not closing this sooner.

[2021-11-12 15:13] #298 closed

[2021-11-12 15:30] terracoda opened #411 "(Description & Voicing) Updates to Scene Summary & Read-Me Button Content"
While creating content for the Voicing read-me buttons, I found it could be beneficial to make similar changes to the scene summary content of the Interactive Description.

Please see red and cross-out text in the [Read-Me Buttons](https://docs.google.com/document/d/1offJbONUg8y5Aa9kHewC9iTDtNISzna4giGt7WrpXCk/edit#heading=h.vj0ds4r6fj6y) section of the design doc for details.

Here's the new text

[2021-11-12 16:40] terracoda commented on #409
Ok, I think you got the original PDOM regions now! That's nice!
It might be better to call the query parameter "showVoicingRegions" instead or have two parameters, though I think I only need one for Voicing. I don't want to change the regions for Interactive description.

I am wondering for Voicing if we can change the ranges for the 3 main regions around the middle to eliminate the dashed regions

[2021-11-12 22:45] zepumph commented on #392
Done above

[2021-11-12 22:45] #392 closed

[2021-11-12 22:51] zepumph commented on #395
There was only one spot in description/visual-text where it needed to change, but many variables were renamed also to keep things in sync.

[2021-11-12 22:52] zepumph commented on #395
![image](https://user-images.githubusercontent.com/6856943/141580796-9b5080df-858d-4f0a-951f-c3c390b534cf.png)

[2021-11-12 22:52] #395 closed

[2021-11-12 22:52] zepumph commented on #344
Hey, I'm working in this repo again so I thought I'd ping this issue, at least on the priority label.

[2021-11-12 23:04] zepumph commented on #398
Great idea @terracoda. I have not gotten to voicing yet, but I've updated the helpText depending on the checkbox enabled.  Please review.

[2021-11-12 23:17] zepumph commented on #399
Alright, the change has been made. I also just went ahead and implemented the hint read me button for both screens based on what you said. (since I was here). Please review.

[2021-11-15 20:36] #401 closed

[2021-11-16 04:21] zepumph commented on #411
Static paragraphs have been updated. The dynamic updates will need to wait on https://github.com/phetsims/ratio-and-proportion/issues/400, like you said. Marking on hold until I get to that set of regions.

[2021-11-17 17:57] terracoda commented on #399
Awesome. Closing.

[2021-11-17 17:57] #399 closed

[2021-11-17 18:10] terracoda commented on #398
Great. Love it.

[2021-11-17 18:10] #398 closed

[2021-11-17 18:14] zepumph commented on #389
DO NOT DELETE THIS BRANCH UNTIL WE HAVE GOTTEN ALL THAT IS DESIRED FROM https://github.com/phetsims/ratio-and-proportion/issues/363#issuecomment-966459940.

[2021-11-18 23:22] zepumph commented on #400
Regions were added above but the only usage is for https://github.com/phetsims/ratio-and-proportion/issues/411. @terracoda, do you want this in the create screen at all?

[2021-11-18 23:33] zepumph commented on #411
"of Play Area" was removed from both screen summaries. @terracoda, can you please review. It wasn't clear if you wanted any updates to the create screen summary?

[2021-11-19 00:44] terracoda commented on #411
Yes, that's right. The changes are consistent across both screens.
And hopefully, you got all the changes to both screens that are noted in the design doc.

I'll review in the morning, and let you know.

[2021-11-19 14:25] terracoda commented on #411
@zepumph, so you need to make all the same changes to the PDOM descriptions on the Create Screen as you made on the Discover Screen. Apologies for not being explicit. I thought it would just happen automatically since except for a few sentences the two summaries are identical.

In addition, please add punctuation to the bulleted list items describing the position of the left hand and right hand (o

[2021-11-19 14:29] terracoda commented on #411
Note, there is no space after "horizontal lines". The space is just there because of the formatting.

[2021-11-19 14:35] terracoda commented on #400
@zepumph, yes we need the green-ness scale implemented for both screens in the state descriptions. There is no mention of the screen being green in responsive descriptions.

The full dynamic nature of the scale may not be fully implemented yet, so apologies if this is on your radar. I did notice that the screen summary details section was not in synch with what was happening with the hand sliders.

[2021-11-19 17:10] zepumph opened #412 "Factor out common screen summary code?"

[2021-11-19 18:08] zepumph commented on #400
Sorry about that. I missed the ratio fitness as a dynamic piece of that. I also updates the create create and simplified some of the screen summary by having both screens share that sentence.

The above commits cover https://github.com/phetsims/ratio-and-proportion/issues/411#issuecomment-974117159 and https://github.com/phetsims/ratio-and-proportion/issues/400#issuecomment-974124988.

[2021-11-19 18:09] zepumph commented on #411
All has been done, but over in https://github.com/phetsims/ratio-and-proportion/issues/400#issuecomment-974294001. I'm going to close this issue for clarity, and there can be a single issue to review these changes over there.

[2021-11-19 18:09] #411 closed

[2021-11-19 18:09] zepumph commented on #400
Alright, please review.

[2021-11-19 18:16] zepumph commented on #388
I'm going to restart this implementation, closing this for now, but it is noted when I pull out the both-hands implementation from the preferences branch.

[2021-11-19 18:16] #388 closed

[2021-11-19 18:17] zepumph opened #413 "[Voicing] Implement individual hands"

[2021-11-19 18:17] zepumph commented on #413
See https://docs.google.com/document/d/1offJbONUg8y5Aa9kHewC9iTDtNISzna4giGt7WrpXCk/edit#heading=h.28bzd92yq4vf

[2021-11-24 15:29] terracoda commented on #400
Descriptions all look good now! Thanks.
Closing this issue.

We might need to adjust the shade of the lightest green of the lightest green region, the edge the "some what close to ratio" region. It looks pretty white, but this detail is a new issue. I'll demo at today's voicing meeting and post an issue if needed.

[2021-11-24 15:29] #400 closed

[2021-11-26 13:27] terracoda opened #414 "(Visual Change) Add lock icon to Ratio Lock checkbox"
We would like to add a visual dynamic lock icon to the Ratio Lock, check box.
For the first pass, I'd like to try having the lock next to the visual checkbox and keep the visual text label, too.

So, kind of like this:
![ratio-lock](https://user-images.githubusercontent.com/1902116/143586719-0a6a0777-b0ef-465b-aefa-130c794cca22.png)
![ratio-lock](https://user-images.githubusercontent.com/1902116/1

[2021-11-26 13:34] terracoda commented on #414
@zepumph, in terms of priority, if this is relatively simple to add to the visual design without making changes to the PDOM or any descriptions, please add it in after you have implemented voicing for the indy-hand interactions.

If this complicates things, let's lower the priority to "low".

[2021-12-01 17:39] terracoda opened #415 "(PDOM & Voicing) What should happen to the indy hand sliders when the Ratio Lock is locked?"
While trying to work out how "Interactive Highlights" would work with Voicing, I noticed more than ever the oddness of our current keyboard focus highlights when the Ratio Lock checkbox is checked and locked.

For mouse and touch input, the individual hand sliders basically become unavailable, so the pick highlight that goes around Both Hands makes total sense for mouse and touch input when ratio

[2021-12-01 18:39] terracoda commented on #415
There are two issues here Interactive Highlights & Focus Highlights.
- removing the sliders might be straightforward.
- not sure about the slider descriptions are tied to.
- we do not want to have a to spend a lot of time on the re-working the state descriptions to accommodate a no-indy hands situation.

We think this would improve the user experience, but we might not be able to fit this improvem

[2021-12-01 18:48] terracoda commented on #415
@terracoda should re-evaluate the state descriptions that would be affected, just in case we have time or if design or interview issues come up.

[2021-12-02 00:10] zepumph commented on #413
Above is a start. I only have responses on end drag right now, not "during" drag. I still need to work out how GFLB was doing that and make things right.

I also am just using exact alerts from description, and I think they are a bit too verbose.

@terracoda this is as much as I could get to today, and likely won't have more time before our meeting Friday. Here is a dev version now even though it

[2021-12-02 14:52] terracoda commented on #413
This is a great start @zepumph! I am glad you have just implemented the default descriptions for now. I think that is an excellent approach. Here are few things I am noticing right off the bat:
1. When clicking or tapping a hand without making it move (column 1 in the table), I only want name & object response (proximity to ratio). I don't want position information (or progress information) unless

[2021-12-02 14:57] terracoda commented on #413
And just an FYI, I really like that I can turn off context changes (position information) and just hear ratio information.

[2021-12-02 18:49] zepumph commented on #408
Looks like this cleared up also. Like https://github.com/phetsims/gravity-and-orbits/issues/413

[2021-12-02 18:49] #408 closed

[2021-12-02 21:01] zepumph commented on #414
Could you add a mockup of what you are thinking when the numbered tick marks are present? They look like they will overlap in the current state:

![Uploading image.png…]()

[2021-12-02 21:56] terracoda commented on #414
Hmm, good point.
![image](https://user-images.githubusercontent.com/1902116/144509388-6ce4ad14-c513-4e3e-80f3-f46bcd0f75d0.png)
![image](https://user-images.githubusercontent.com/1902116/144509446-f882b5d0-e6f6-4011-ac51-8dc2b184fee5.png)

[2021-12-02 22:03] terracoda commented on #414
The problem with the icon outside of the checkbox label is that people will try and click on it. If we keep the visual checkbox, the icon needs to be part of the checkbox label.

I would prefer to keep the visual checkbox, and just add the icon to the label of the checkbox, is that possible?

[2021-12-02 23:34] zepumph commented on #414
I made https://github.com/phetsims/equality-explorer/issues/182 to progress the move so we can use the same (currently sim-specific) icon

[2021-12-03 02:25] zepumph commented on #413
I think I just implemented (1) above, but I could be wrong

[2021-12-03 14:46] pixelzoom commented on #414
Noted while working on https://github.com/phetsims/equality-explorer/issues/182 ...

The mockups for this look like:
![ratio-lock](https://user-images.githubusercontent.com/1902116/143586719-0a6a0777-b0ef-465b-aefa-130c794cca22.png)
![ratio-lock](https://user-images.githubusercontent.com/1902116/143586881-e1f456cd-1532-4e68-b209-890eb27873e7.png)

I don't know if the placement of the icons is inte

[2021-12-03 16:01] zepumph commented on #413
For 2, we created a whole set of outside Properties that could change the description (aria-valuetext) of the sliders, so I just linked to all of those. I think it is working better now to update the context and object responses.

[2021-12-03 16:24] zepumph opened #416 "`HandPositionsDescriber.getDistanceProgressString()` is not idempotent"
We are running into a problem here over in https://github.com/phetsims/ratio-and-proportion/issues/413 because we want to use the "closer/farther" distance-progress strings in both description and voicing. When you call that function, it registers the previous value and overwrites the distance. It was designed to be called only when delivering an alert to the user during interaction. So in additio

[2021-12-03 16:25] zepumph commented on #413
(3) will get worked on over in https://github.com/phetsims/ratio-and-proportion/issues/416. There are two issues with that one. The most pressing is that by asking for the distance progress with voicing, we nullify the distance progress for description. (basically the second time we call it, the function thinks there has been no change).

[2021-12-03 16:30] zepumph commented on #414
@terracoda and I agree. We will put it on the right side of the label.

[2021-12-03 16:46] zepumph opened #417 "`HandPositionsDescriber.previousDistance` and `previousDistanceRegion` need to be reset"

[2021-12-03 20:15] pixelzoom commented on #414
In https://github.com/phetsims/equality-explorer/issues/182, I factored out LockNode, which now lives in scenery-phet.

Here's how you'd use it to create the Checkbox for this sim:

[code]

Here are what the 2 states look like. These match the mockups in https://github.com/phetsims/ratio-and-proportion/issues/414#issue-1064477105, but with the icons to the right of the text:

<img width="185" alt=

[2021-12-06 20:57] zepumph commented on #414
Implemented a first pass above. @terracoda, what do you think?

[2021-12-10 18:01] terracoda commented on #413
@zepumph, I am still hearing position or progress information when I click on a hand and do not move it. I checked this version https://bayes.colorado.edu/dev/html/ratio-and-proportion/1.2.0-dev.2/phet/ratio-and-proportion_en_phet.html

I'll check phettest :-)

[2021-12-10 18:24] terracoda commented on #413
Another issue with mouse input:
When no checkboxes are checked and I click on the hands, I hear their name reponses:
- Left Hand
- Right Hand

When I check any of the checkboxes in the preferences menu, I no longer hear the name response, I just hear the responses associated with the checkboxes.

**Note that for keyboard input**, the responses that fire on keyboard focus are working correctly and

[2021-12-10 18:27] terracoda commented on #414
The visual lock looks great. Thanks @zepumph and thanks to @pixelzoom, too.

[2021-12-10 18:28] terracoda commented on #414
We won't explore other visual design changes for the Ratio Lock check box for the next release of this sim.

[2021-12-10 18:28] #414 closed

[2021-12-17 14:52] terracoda commented on #412
@zepumph, except for the mentioning of the "Play Area" and "Control Area" in the static part of the summary, I think I already factored out the differences between the full screen summary and the the content delivered through the 3 read-me buttons.

I am pretty sure that only the content for the "Play Overview" button differs from the Interactive Description design.

At least, that is what I was a

[2021-12-17 17:45] zepumph commented on #413
Today @terracoda and I spoke about this further, going through the table column by column. We realized it would be best if we focused on implementing the keyboard interaction before worrying about the timing of the mouse. This will be able to occur after  https://github.com/phetsims/ratio-and-proportion/issues/417 https://github.com/phetsims/ratio-and-proportion/issues/416 and mostly https://githu

[2021-12-17 20:08] terracoda opened #418 "(Description) Found one instance of "lock ratio" that should be updated"
On screen 2 (the Create Screen) we have some platform-specific help text:

- To move both hands, first check Lock Ratio. With ratio locked, move both hands as a single unit to explore the challenge ratio. This custom multi-touch interaction is not yet possible with screen reader software on a mobile device.

This should be updated in the next release to not use "check Lock Ratio". Here's the updat

[2022-01-03 18:05] zepumph commented on #418
It looks like the string you have above is a bit outdated, since https://github.com/phetsims/ratio-and-proportion/commit/7d6b4310418e3be98a5a8c4851f5b368f2419b03. Here is the help text that is currently in the sim:

"Explore challenge ratio with individual Left and Right hands, or try with ratio locked. The custom Both Hands interaction is not yet possible with screen reader software on a mobile d

[2022-01-03 18:09] zepumph commented on #412
Yes I couldn't agree more. That nice design is perfect, but in the code, we are duplicating the two implementations almost completely in DiscoverScreenSummaryNode and CreateScreenSummaryNode.

Upon further reflection though. . . yes there is duplication in the way that the summaries are set up, but it is a fine line between factoring things out, and just complicating the pattern by obfuscating cod

[2022-01-03 18:09] #412 closed

[2022-01-05 16:57] terracoda commented on #418
That's the platform-specific help text for mobile, but I'll have  better look.

[2022-01-05 18:35] terracoda commented on #418
Ok, yes this is help text for gesture with iOS VoiceOver.

I might have come across the old string when cleaning up the design document.

FYI, there might be a duplicate of this help text see
Line 367
"bothHandsGestureDescriptionHelpText"
"Explore challenge ratio with individual Left and Right hands. The custom Both Hands interaction is not yet possible with screen reader software on a mobile devi

[2022-01-05 22:46] zepumph commented on #413
Here is a first pass at using common code to achieve this. Here is the work that is done, and behavior expected:

* On focus hear the default name/object/hint
* On end drag (keyboard) hear the object/context, don't hear this if you didn't move.
* On mouse start, hear name/object
* On mouse move, hear object
* on mouse end, hear object/context.

NOTE: The context responses for distance progress are

[2022-01-06 16:29] terracoda commented on #418
The help text is not an issue. Just wondering about the duplication?

[2022-01-06 16:30] terracoda commented on #418
Oh, I think 367 is fro screen 1 and 398 is for screen 2.

Marking as resolved.

[2022-01-14 17:01] terracoda commented on #413
hmm...

- [x] On focus hear the default name/object/hint
- [x] On end drag (keyboard) hear the object/context, don't hear this if you didn't move.
    - **Feedback**: I hear object and context response, but I only hear the context response that includes progress. I think there are cases when I should not hear progress, certain object or context landmarks, like landing at ratio, landing even with o

[2022-01-14 17:22] zepumph opened #419 "Context responses need updating for single hands"
From #413.

- [x] For all position landmarks and distance landmarks and at ratio, we should never hear distance progress response (just distance region).

[2022-01-14 20:56] terracoda commented on #419
As mentioned in meeting, the context responses that are currently firing for the indy hand sliders is not working properly. I went a tested the Interactive Description for the same version and that is also not working, but in the exact opposite way. In both cases I hear the appropriate object responses, but not the appropriate context responses:
- For Voicing: The only context responses I hear are

[2022-01-14 21:05] terracoda opened #420 "Incorrect distance-progress string in context response (sometimes)"
I haven't isolated when exactly this happens, but it happens, and has been happening from time to time for a while. It is really random and difficult to reproduce, but in the last 5 minutes, I was able to make it happen twice at this url which I live is the latest version
https://phet.colorado.edu/sims/html/ratio-and-proportion/latest/ratio-and-proportion_en.html

[2022-01-14 21:06] terracoda commented on #420
Let's keep this bug in mind as we work on #413 and #419.

[2022-01-14 23:31] zepumph commented on #416
This would be nice to do so that @terracoda can test voicing with distance-region AND distance-progress these days

[code]

[2022-01-20 17:07] zepumph commented on #419
Above I commented out the description context response so that you can test what is currently implemented. It was a little different from what we discussed on friday. When in the same distance-region,  it will alternate between that distance region and the distance progress region:

[code]

Just so you can know. This most likely shouldn't change how we are going to proceed with voicing.

[2022-01-20 22:47] zepumph commented on #420
I have also seen this before, you move farther away and it says "Closer to . . ." I'll keep my head up for the bug.

[2022-01-20 23:57] zepumph commented on #413
I was making progress on implementing the voicing we talked about that is specific to mouse drags, but I couldn't really test because of https://github.com/phetsims/scenery/issues/1337.

Here is  the current patch of work:

<details>

[code]

[2022-01-21 16:52] terracoda commented on #413
Testing Notes from latest versions Jan 21, 2022
- on first keyboard focus after adding object & context responses, I don' hear the ratio value. This work fine for mouse click, though.

Issue likely caused by un-updated aria-valuetext.

[2022-01-21 17:29] zepumph commented on #413
- [ ] Note that the hints for mouse need to be changed from endDrag to startDrag.

[2022-01-21 17:59] terracoda commented on #419
As I mentioned in today's meeting this alternating logic should gracefully handl single-value regions like:
- "at top"
- "at middle"
- "at bottom"
And then we will hopefully only have one edge case - "hands at challenge ratio". I think pedagogically it is better to distance region rather than distance progress when  learner hits the challenge. I think they need to connect the approximate distance

[2022-01-21 20:07] terracoda opened #421 "Hands snapping to "around" Nth tick rather than "on" Nth tick mark"
This might already be on our radar as something we would address with the Voicing design, but just in case I am making an issue so we make sure we fix this for Interactive Description, too.

When using VoiceOver and a mouse in published version, I could see some very slight snapping to the tick mark line, but VoiceOver would always say "around Nth tick mark" rather than "on Nth tick mark".

I know

[2022-01-21 20:11] terracoda commented on #421
@zepumph, we can address this as we work on implementation of the indy hand sliders issues #413 through #420.

[2022-01-21 20:16] zepumph commented on #416
Committed in https://github.com/phetsims/ratio-and-proportion/commit/71ae824c11bc540f702d072dd474551814c719ea

[2022-01-21 20:46] zepumph commented on #416
Fixed above, it was easiest to create a separate instance of HandPositionsDescriber that was just for voicing. Then I also had to split up the "previous" region for both hands vs single.

[2022-01-21 20:46] #416 closed

[2022-01-21 20:51] zepumph commented on #419
All the distance regions were covered by the bug fix in https://github.com/phetsims/ratio-and-proportion/issues/416. Above I made sure that in-proportion will never have distance progress either. Please review, does all look right to you @terracoda?

[2022-01-21 20:56] #417 closed

[2022-01-21 20:57] zepumph commented on #420
I I'm unsure if this is fixed, because I haven't heard the bug in a while, but I feel like it might be from changes in #416 because both hands and single hands description were sometimes overwriting each other's state. I will still be on the lookout for this.

[2022-01-22 12:19] terracoda commented on #419
@zepumph, I think we are onto something good here, but we have lost "position-region" for mouse exploration. It's so hard to tell which string is what since they all three are so qualitative, so I am going to repeat it here. We have three possible dynamic strings in context responses:
1. **distance-region**: the strings that describe the range is distance between the hands. The distance parameters

[2022-01-22 12:22] terracoda commented on #419
@zepumph, can you comment on or work on my suggestions for **Next Steps** (above)? Once we get that sorted, we can work on narrowing down the **Bug** that I mentioned.

[2022-01-22 16:43] terracoda commented on #420
Ok, i will test for this and comment back here.

[2022-01-24 18:53] zepumph opened #422 "DragListener end drag utterance should not interrupt onchange?"
From https://github.com/phetsims/ratio-and-proportion/issues/419, @terracoda said:

This would most likely be an easy fix, but I would want to try it out in an isolated issue (+ isolated testing) to make sure it is as we want it to me. Something to do a bit later, once the initial implementation is set.

[2022-01-24 18:54] zepumph opened #423 "sometimes I hear "no right hand" or "no left hand""
From https://github.com/phetsims/ratio-and-proportion/issues/419, @terracoda said:

I'll investigate

[2022-01-24 18:58] zepumph commented on #419
Ugg, yes, I'm so sorry that I ditched the position regions, my mistake. I guess my mind was way too involved on the distance side of things. You can test above. The bug and potential improvement have been moved to separate issues.

[2022-01-24 19:00] zepumph commented on #419
@terracoda, at this time, I believe that the keyboard interaction (voicing and description) is also ready for review.

[2022-01-24 19:17] zepumph commented on #404
Lots more has been done in common code with enumerations, options, and scenery classes. I'm going to take another pass at the entire code base and improve things. I started last week with https://github.com/phetsims/ratio-and-proportion/commit/cb48791014fd8d8c402d416f70feedf8d82668ec, but didn't get to all options usages.

[2022-01-24 21:01] zepumph commented on #404
There are still a fair number of usage of merge that I kept around because the supertype isn't in typescript yet. I thought that was easiest. I also got rid of a bunch of ts-ignore usages. All that are left are from old-style mixins.

[2022-01-28 16:53] terracoda commented on #419
There are more bugs visual and and text related:
- visual arrow key icons do not go away when using keyboard
- aria-valuetext is not updating for keyboard. E.g., one hand can be read out as hands at challenge ratio and when focus moves to the other hand the hands are far from challenge ratio (no movement of hands).

But on the positive side, I think the distance-region and distance-progress parame

[2022-01-28 17:21] zepumph opened #424 "Keyboard hand cues don't disappear when using"
From https://github.com/phetsims/ratio-and-proportion/issues/419#issuecomment-1024415606, @terracoda reported:

I can easily reproduce this regression, and it seems to be new

[2022-01-28 17:22] zepumph opened #425 "Object response needs to be always updated so it is correct on focus"
From https://github.com/phetsims/ratio-and-proportion/issues/419#issuecomment-1024415606. Just like with ariaValueTet in AccessibleValueHandler, we should always update the object reponse whenever the valueProperty or a11y dependencies change:

Here:

https://github.com/phetsims/sun/blob/877f09991f4ae29029c2a7c8215d814318b6a91d/js/accessibility/AccessibleValueHandler.ts#L433

[2022-01-28 17:27] terracoda commented on #419
Need to narrow down when I hear "no left hand" or "no right hand".

[2022-01-28 18:31] zepumph commented on #425
Alright, fixed above. @terracoda please review. Anything else here?

[2022-02-04 17:07] zepumph opened #426 "No ratio sounds when using the keyboard"
@terracoda reported that there is no sound when using the keyboard over in #425.

I think it has to do with https://github.com/phetsims/scenery/issues/1340

[2022-02-04 17:07] terracoda commented on #425
The object responses are updating. The keyboard arrow icons are still present after movement, but that will be part of a different issue.

And I am not hearing the chime when using keyboard. You made an issue for that.

Closing this issue.

[2022-02-04 17:07] #425 closed

[2022-02-04 18:04] terracoda commented on #423
@zepumph, I think I am hearing "no right hand" or "no left hand" when I am within the tolerance to be in ratio, but not exactly at ratio.

**To reproduce:**
1. Using the keyboard, move a hand so hands are at challenge ratio.
2. Then using the mouse, move a hand just a tiny bit, but not so much that the screen changes color.
3. You should hear "no right hand" in the context responses when making th

[2022-02-04 18:21] terracoda commented on #419
@zepumph, I think the context responses sound really good in interactive description. I tried 3 different voice rates:
- my usual Voice rate: 55
- slower than usual voice rate: 40 I'll try some slower and faster voice rates to double check.

[2022-02-04 18:24] #419 closed

[2022-02-04 18:24] terracoda commented on #419
It might sound different in other screen readers, but I think we can leave timing tweaks alone for now.

[2022-02-04 22:48] zepumph commented on #426
Fixed, see https://github.com/phetsims/scenery/issues/1340#issuecomment-1030410527

[2022-02-04 22:48] #426 closed

[2022-02-07 17:09] zepumph commented on #424
Fixed in common code with above commit, see https://github.com/phetsims/scenery/issues/1340#issuecomment-1030410527 for details. (sorry for the obvious regression)

[2022-02-07 17:09] #424 closed

[2022-02-07 17:10] zepumph commented on #420
RE https://github.com/phetsims/ratio-and-proportion/issues/420#issuecomment-1018854360, I'm going to bass this back to @terracoda. https://github.com/phetsims/ratio-and-proportion/issues/416 and https://github.com/phetsims/ratio-and-proportion/issues/419 are closed. Please assign back to me if you hear more trouble and can reproduce.

[2022-02-07 17:15] zepumph commented on #423
Ahhh, very good! Thanks for the report, you are actually hearing ` null left hand`. Here are some examples using `?printVoicingResponses`:

[code]

Investigating now.

[2022-02-07 21:55] zepumph commented on #384
I got something working in master for this, but I'm pretty sure we will want to use this chance to update common code over in https://github.com/phetsims/sun/issues/699.

[2022-02-07 22:15] zepumph opened #427 "Issues blocking Ratio and Proportion"
Just to help me keep track of work outside this repo:

* https://github.com/phetsims/scenery/issues/1349
* https://github.com/phetsims/sun/issues/699
* https://github.com/phetsims/joist/issues/775
* https://github.com/phetsims/utterance-queue/issues/60
* https://github.com/phetsims/sun/issues/726
* https://github.com/phetsims/joist/issues/782
* ~https://github.com/phetsims/scenery/issues/1367~ (de

[2022-02-09 23:31] zepumph opened #428 "Add Voicing to Challenge ComboBox"
From https://github.com/phetsims/ratio-and-proportion/issues/363

[2022-02-10 00:42] zepumph commented on #428
Some good progress in https://github.com/phetsims/sun/issues/726, but we aren't done yet.

[2022-02-11 18:07] terracoda opened #429 "Always want postion region when hands are at challenge ratio"
When testing latest version on phettest, I realized I missed an edge case with pointer input. I can actually hit the challenge ratio and not lift my finger (I can keep my mouse clicked)

The logic for pointer input (mouse and touch) is that during drag, we only get distance-progress in the context responses.
And then at end of drag, we get distance-region in the context response.

We also **always

[2022-02-11 18:32] zepumph commented on #384
Don't forget about on-focus, we need more than just listening to the Property changing.

[2022-02-11 21:06] KatieWoe opened #430 "CT Assertion failed"
[code]

[2022-02-12 01:07] zepumph commented on #430
@terracoda, there is a case where we are dragging the mouse, and then the current distance between the hands is the exact same as the previous distance. It is a bit rare, but can happen when you drag with the mouse to the exact position of the other hand (without letting go and getting the snap-to functionality).

How would you like to handle this case? It is pretty rare, so I would be totally fin

[2022-02-12 03:50] zepumph commented on #428
Alright, both combo boxes in RAP are now implemented, please review this as you review the common code in https://github.com/phetsims/sun/issues/726 (or after.

[2022-02-16 19:45] BLFiedler opened #431 "Implement handtracking for left and right hand vertical positions using MediaPipe"
We would like to implement a simple handtracking that maps the left and right hand vertical positions in Ratio and Proportion to the vertical height in the detection window using the machine learning library produced by MediaPipe and a device's camera which @samreid implemented as a demo for Build an Atom (https://github.com/phetsims/tangible/issues/7#issuecomment-936658746)

MediaPipe's page here

[2022-02-18 13:29] terracoda commented on #428
The Challenge Combobox one sounds right, but the Range combobox does not.
Still reviewing. Not sure if it is my documentation or the implementation.

[2022-02-18 16:28] terracoda commented on #428
Ok, I've made notes in the design doc that we can discuss.

I don't like hearing "Range" when arrowing through items as this part of the name response.
Maybe learners do not hear options read out if object responses is not checked.

[2022-02-18 16:36] #423 closed

[2022-02-18 16:56] terracoda commented on #420
Ok, I think this is fixed, too.
But I am still get a distance-progress string when I hit the challenge when I use the mouse, and when I hit the top.

Is this problem related to this issue, or do we need a new one?
Maybe since this issue is about a bug, we need a new one.

Closing.

[2022-02-18 17:01] terracoda commented on #413
Testing Notes from latest versions Feb 18, 2022
- [ ] Discuss distance progress at ratio and at edge
- [ ] Discuss combobox design notes

[2022-02-18 17:31] zepumph commented on #430
We will return null if they are equal, and support using distance region again.

[2022-02-21 15:36] BLFiedler commented on #431
Updated text above! Let me know if you would like to meet to chat about anything @zepumph

[2022-02-23 16:24] zepumph commented on #413
At this point, I think the last item here will be covered over in https://github.com/phetsims/ratio-and-proportion/issues/429. I'm going to close this, please reopen if there is more to discuss, or feel free to open new issues to report bugs you find.

[2022-02-23 16:24] #413 closed

[2022-02-23 16:26] zepumph commented on #430
In https://github.com/phetsims/ratio-and-proportion/issues/429 we are supporting returning null anyways, so the "distanceProgress-only" function can still return distance region in some cases. Thus, it was pretty simple to add that case here, where now we give distance region when the previous distance is the same as the new distance. Closing

[2022-02-23 16:26] #430 closed

[2022-02-23 16:27] zepumph commented on #429
Alright. This has been implemented. Please review. At this point, the individual hands have been fully implemented. Let me know if anything more is needed here.

[2022-02-23 16:28] zepumph commented on #428
From https://github.com/phetsims/sun/issues/726#issuecomment-1048338444, @terracoda said:

I'm going to take that this is good to close then.

[2022-02-23 16:28] #428 closed, assigned to terracoda

[2022-02-23 23:01] zepumph commented on #384
Ok, I have added this to common code, and removed the custom implementation in TickMarkRadioButtonGroup. @terracoda please review after a thorough cleaning of the cache (I will pull all on phettest)

[2022-02-24 00:18] zepumph commented on #363
@terracoda FYI, I just turned on interactive highlights.

[2022-02-24 00:28] zepumph opened #432 "Implement both hands voicing"
From https://github.com/phetsims/ratio-and-proportion/issues/363. @terracoda, I'm not sure the status on the both hands design yet. Can you let me know when it's ready. This isn't blocking me or anything, I'm just making some organizational issues for the remaining work.

[2022-02-24 00:30] zepumph opened #433 "Update voicing position regions"
From https://github.com/phetsims/ratio-and-proportion/issues/363

https://docs.google.com/document/d/1offJbONUg8y5Aa9kHewC9iTDtNISzna4giGt7WrpXCk/edit#heading=h.jthi63tcg8wx

[2022-02-24 00:31] zepumph opened #434 "Update tick mark position regions for voicing"
From https://github.com/phetsims/ratio-and-proportion/issues/363, see

https://docs.google.com/document/d/1offJbONUg8y5Aa9kHewC9iTDtNISzna4giGt7WrpXCk/edit#heading=h.hf7fzk15hsv9

[2022-02-24 00:33] zepumph commented on #381
This is next on my radar to implement in master. I may try to make it happen in Common code while we are at it.

[2022-02-24 00:56] terracoda commented on #428
I got confused between the RaP issue and the sun issue.

[2022-02-24 01:17] terracoda commented on #432
Not ready yet. Will get back to that now that Indy hands are working.

[2022-02-24 13:21] terracoda commented on #381
AccordionBox is another 2-step interaction (like comboBox) that allows for help text to be delivered for both mouse/touch and alt/input. Hopefully, the design document communicates this clearly. Reach out if there is any confusion. I did re-document this interaction several times.

[2022-02-24 15:31] terracoda commented on #429
@zepumph, I think the position string is fixed.

I experienced one weird thing - the hands not moving when I was hitting the arrow keys, but I can't reproduce. I think it was a temporary glitch. I just did a lot of hammering on the arrow keys, on the tab key, and with the mouse and I cannot reproduce. Just noting the weirdness for the record.

Since position is fixed, I am closing issue.

[2022-02-24 15:31] #429 closed

[2022-02-24 15:48] terracoda opened #435 "Is any Voicing possible for the disabled Range Combobox?"
Currently there is no name response on focus of the disabled Range Combobox.
<img width="212" alt="image" src="https://user-images.githubusercontent.com/1902116/155555980-6689d6e0-da07-44d7-99ee-67e4915512b6.png">

There is likely an open scenery issue for this https://github.com/phetsims/scenery/issues/1220

While at the moment we cannot click/tap on the disabled combobox and get any response voi

[2022-02-24 15:54] terracoda commented on #384
The Tick Marks radio button responses sound great. Closing.

[2022-02-24 15:54] #384 closed

[2022-02-24 23:19] KatieWoe opened #436 "CT comma spacing"
[code]

[2022-02-24 23:27] zepumph commented on #436
Thanks! Fix is already pushed in https://github.com/phetsims/ratio-and-proportion/commit/c13b60f6a439745c1a8129a02b2c417220c52b75

[2022-02-24 23:27] #436 closed

[2022-02-25 19:08] terracoda commented on #434
@zepumph and @terracoda discussed the edge-case when using a mouse there is no snapping to the "At middle" region which is a single-value region. It is difficult to land on that region when using a mouse, but when the Right Hand is "At top", the tolerance for the ratio makes it easy to find the challenge ratio within a range of space around the "At middle" region.

But hearing "In lower-middle reg

[2022-02-25 19:22] terracoda commented on #434
@zepumph, wrong issue! Deleting and creating new issue.

[2022-02-25 19:23] terracoda opened #437 "Edge case and no mouse snapping to At middle region"
@zepumph and @terracoda discussed the edge-case when using a mouse there is no snapping to the "At middle" region which is a single-value region. It is difficult to land on that region when using a mouse, but when the Right Hand is "At top", the tolerance for the ratio makes it easy to find the challenge ratio within a range of space around the "At middle" region.

But hearing "In lower-middle reg

[2022-02-25 19:27] terracoda commented on #437
I am going to tag all the issues about regions because there are a few #421 , #433 , and #434.

I think the above is a single edge case, but good to keep other region-related issues in mind while addressing this edge case.

[2022-02-25 19:32] terracoda commented on #433
Copying an image of the table here from the design document - for the record:

**Because we came up with new pointer-input logic for distance-progress** information while implementing the Indy Hands (No Tick Marks), **we may not need to simplify the position region names**. Ideally we want these region names to be the same across Interactive Description and Voicing.

![image](https://user-images.g

[2022-02-25 19:35] zepumph commented on #437
Alright added above, please test it out at https://bayes.colorado.edu/dev/phettest/ratio-and-proportion/ratio-and-proportion_en.html?brand=phet&ea&debugger&voicingInitiallyEnabled&printVoicingResponses&showRegions

A couple things about the current implementation:

1. The "around middle" region covers all cases (save "at middle") when in proportion in this case (screen 1, right at top, challenge 1

[2022-02-25 19:36] terracoda commented on #434
Copying two tables from the design doc here so I can record the design. I will review the documentation of the hand interactions before we make any major changes to regions. Hopefully, we can leverage distance-progress with Tick Marks, as we did with No Tick Marks.

![image](https://user-images.githubusercontent.com/1902116/155782651-962f2d26-82f7-462b-8c68-45c4dc7626df.png)

![image](https://user

[2022-02-25 19:51] terracoda commented on #437
@zepumph, can you make the sum of the the 3 regions "around middle" + "at middle" + "around middle" = tolerance of ratio? The tolerance has some value right?

[2022-02-25 19:55] zepumph commented on #434
Sounds like we are still in design mode.

[2022-02-25 19:57] terracoda commented on #437
Or just widen the "around middle" regions a tiny bit more?
Keyboard still sounds great.

[2022-02-25 20:04] zepumph commented on #437
Yes definitely, at least the static threshold (there is a different number for the "moving in proportion" bi manual/choir sound interaction. The threshold is `.025`, so I can just base the "around middle" regions on that number.

https://github.com/phetsims/ratio-and-proportion/blob/e6e80fb7f015e4c52c6d1431c35ae62c6f33fba7/js/common/rapConstants.ts#L63

[2022-02-25 20:07] zepumph commented on #437
It would actually be the other way around, the "around middle" region space is larger that the in-proportion ratio threshold in my testing.

[2022-02-25 20:11] zepumph commented on #437
RE: https://github.com/phetsims/ratio-and-proportion/issues/437#issuecomment-1051187015

It is completely wrong, please disregard. That number, `.025`, is in FITNESS units, not position. Thus, it cannot be converted to a single position distance. It will change based on the values of positionLeft, positionRight, and targetRatio.

[2022-02-25 20:29] zepumph commented on #433
Let me know when/if you would like something implemented.

[2022-02-25 22:01] zepumph commented on #437
I got a bit stuck with some new logic I was trying to avoid duplicating the regions in the ?showRegions layer and in the describer. I have to come back to this:

<details>

[code]

[2022-02-28 21:40] zepumph commented on #404
Above was a documentation and general Typescript review. I haven't updated options, `ts-ignore`s, TODOs or `any`s just yet.

[2022-02-28 22:01] zepumph commented on #404
Ok, I have done all the optionize that I can do at this time. I'll wait for more common code to be converted.

Other TODOs will be discussed during this week's dev meeting.

[2022-02-28 22:07] zepumph commented on #405
I marked the remaining items here for dev meeting discussion thursday.

[2022-03-02 15:42] terracoda opened #438 "Change helpful hint for the hand interactions"
Quite a long time ago, I decided to shorten the helpful hint for the hand interactions from:
- Move hands to find challenge ratio.
TO just:
- Move hands.

This is not a huge priority, but I don't want it to get missed.

[2022-03-02 15:55] #438 closed

[2022-03-02 15:57] terracoda commented on #421
The snapping and the snapped-to description work fine when tick marks are enabled. The issue I described in #420 is happening because there is no snapping and "At middle" is a super tiny region - hard to hit with  mouse input.

[2022-03-02 16:01] terracoda commented on #421
Actually, I can get the incorrect description during active drag. The correct snapped-to description only happens at end of drag.

[2022-03-02 16:41] zepumph commented on #437
@terracoda mentioned that this is likely an issue for when the tick marks are showing also, since you would snap to a tick mark when you let go of the mouse, but until then, you are still in ratio, but the position says you are "around" tick mark, not "on tick mark". Perhaps this is really the same issue (from a design perspective) as https://github.com/phetsims/ratio-and-proportion/issues/421.

[2022-03-02 17:08] zepumph commented on #421
Ok, I see, 3 issues here, and I discussed them with @terracoda.

1. General snapping of keyboard, rounds to a step of .06 in certain cases (the unit test in https://github.com/phetsims/ratio-and-proportion/commit/7a344388346ae7a7c25d156944d2ee8210435f66). @terracoda and I decided that this is not a bug. The primary design goals are to (a) make sure that you can get in-proportion for every target r

[2022-03-02 17:13] zepumph opened #439 "Tension between position regions and in-proportion tolerance"
This has come up a few times now, in https://github.com/phetsims/ratio-and-proportion/issues/437, as well as number (2) in https://github.com/phetsims/ratio-and-proportion/issues/421#issuecomment-1057166863. The basic issue is that we "hollywooded" the in proportion state to be a region with tolerance. This makes the sim actually usable, but we didn't apply the same behavior to the position region

[2022-03-02 17:36] terracoda commented on #421
Now (on PhET test on March 2) when using VoiceOver and a mouse on MacOS 11.4, I hear object responses (descriptions about proximity to ratio) when actively dragging, and I only hear context responses - responses that contain distance-region & position-region (tick-mark-region) - at end of dragging (letting go).

This is not an issue on master, and I also checked VoiceOver on the published version,

[2022-03-02 17:36] #421 closed

[2022-03-02 18:06] terracoda commented on #439
Just noting that I can get the incorrect region "Extremely close to right hand, almost on third Tick Mark." even at end of drag. It might depend how fast I am moving with the mouse, but it is pretty easy to re-produce.

I am kind of concerned about this issue.

I wonder if a simple removal of those "almost on" regions during active dragging would work.
For example, if am actively dragging near a t

[2022-03-02 18:07] zepumph commented on #437
Alright. I was able to add the "around middle" region. While working on it, I fixed some code duplication that I was having with the regions layer node created over in https://github.com/phetsims/ratio-and-proportion/issues/409.

I was able to make the "around middle" region pretty much exactly the same as the fitness tolerance for in proportion when right hand is at 1, and target ratio is at 1/2.

[2022-03-02 18:11] zepumph commented on #409
I am wondering for Voicing if we can change the ranges for the 3 main regions around the middle to eliminate the dashed regions, "in upper-middle region" and "in lower-middle" region.

Over in https://github.com/phetsims/ratio-and-proportion/issues/433 it is very unclear if we are actually going to go through with this work. If we do, it will happen in that issue, and we can consider how it will e

[2022-03-02 18:17] zepumph commented on #422
Current behavior: the response during drag and the response at the end of a drag are both powered by the same Utterance, so they interrupt each other.

Desired behavior (as I understand it):
* While dragging, each new description would still interrupt the previous one, to have the most up-to-date info while dragging
* When you let go, the end drag response doesn't interrupt the drag response curre

[2022-03-02 18:22] zepumph commented on #397
The behavior as it is seems just great to me. Indeed it is a bit easier to hear the "choir" sound when the ratio is locked. This is because if the ratio is locked, it bypasses a "moving fast enough" threshold in the model (note the comment):

https://github.com/phetsims/ratio-and-proportion/blob/31e449177761b443d816fcd248b0154dd8792c23/js/common/model/RAPRatio.ts#L98-L99

Ready to close?

[2022-03-02 18:25] zepumph commented on #439
Can you please create a new issue here. I want to know if we can get a region that says "almost on" when we are snapping to "on". That is a bug, and not part of this design-related issue.

[2022-03-02 19:02] terracoda commented on #438
That's right no change to Interactive Description. "Move hands." is a brief custom hint for Voicing.

[2022-03-02 19:17] zepumph commented on #381
(deleted previous wrong comment)

[2022-03-02 19:22] terracoda commented on #409
I don't think so. I don't think we will change the regions after all, except the change we already made around the middle, ... and now that I re-look at my table, I think I may have been trying to address that edge case with the simplified regions.

Anyways, changing the regions the least amount as possible is good in the long run.

[2022-03-02 19:25] terracoda commented on #409
Closing.

[2022-03-02 19:25] #409 closed

[2022-03-02 21:53] zepumph commented on #381
I believe this is completely implemented. @terracoda will you please review the Ratio and Proportion design?

[2022-03-02 22:11] zepumph opened #440 "Add readingblock for MyChallengeAccordinBox content"
Related to https://github.com/phetsims/ratio-and-proportion/issues/381

https://docs.google.com/document/d/1offJbONUg8y5Aa9kHewC9iTDtNISzna4giGt7WrpXCk/edit#heading=h.tmpeoajac3hg

[2022-03-02 22:12] zepumph opened #441 "Add Voicing to NumberPickers in MyChallengeAccordionBox"
Related to https://github.com/phetsims/ratio-and-proportion/issues/381

https://docs.google.com/document/d/1offJbONUg8y5Aa9kHewC9iTDtNISzna4giGt7WrpXCk/edit#heading=h.jbqbxs39dkh5
https://github.com/phetsims/ratio-and-proportion/issues/363

[2022-03-02 22:45] zepumph commented on #440
This should be fully implemented. @terracoda please review.

[2022-03-02 22:54] zepumph commented on #440
One interesting item here, is if you press a numberPicker button until it reaches the max, then that increment/decrement because pickable:false, and if you click again the ReadingBlock get's pressed. I'm not bothered by that, but it is a bit unexpected from a design perspective.

[2022-03-02 23:24] zepumph commented on #441
Ok. This is complete. Please review.

[2022-03-02 23:27] zepumph commented on #440
- [ ] I just noticed that the reading block is before the number pickers in the focus order. That was what it was by default, let me know if we need to change it.

[2022-03-02 23:33] zepumph commented on #363
I believe that every item in the design doc that is RAP-specific is done except the Both hands interaction.

[2022-03-02 23:35] zepumph commented on #377
I haven't seen this error in quite some time. I'm going to optimistically close this. :)

[2022-03-02 23:35] #377 closed

[2022-03-02 23:35] zepumph commented on #393
I haven't seen this in ages. I'll reopen if it pops up again, but fuzzing locally can't reproduce. Closing

[2022-03-04 17:23] zepumph opened #442 "Both individual hands should show Interactive Highlights with multitouch"
The work would be done in https://github.com/phetsims/scenery/issues/1367, but it would be good to have a sim-specific issue to track this. Here is the highlight design for multi-touch:

![double highlight](https://user-images.githubusercontent.com/6856943/156810130-564fc308-3743-4e96-8f51-bd41f6da16c2.png)

@emily-phet, today during our RAP meeting, @terracoda and I were wondering if this is bloc

[2022-03-04 18:35] terracoda commented on #437
The left hand positions sound good in Voicing with mouse and keyboard. Thanks @zepumph

[2022-03-04 18:41] terracoda commented on #437
And I think #421 is a related issue, but we can't easily solve that one, since there are potentially 30 or more edge cases when the range of tick marks is set to 30.

I wonder if it might be necessary to silence the regions near the tick marks for Voicing. We can think about that in #433

[2022-03-04 18:47] terracoda commented on #437
For the record, I don't think the in-between-tick-mark regions proposed in #434 will address the issue. The issue is that the descriptions are not aligned with the tolerance for ratio.

I am not sure we can easily address this unless when at ratio, we only provide the context response upon release when the  hand actually snaps to the tick mark.

[2022-03-04 18:51] terracoda commented on #437
@zepumph, let me know what you think of that idea.

When using mouse, if a hand is moves into the fitness area that is considered close enough to ratio, only provide the object and context responses on end drag only.

[2022-03-04 18:57] terracoda commented on #397
I don't hear the chime any more when going lowest point to position with the hot keys. All moves with hot keys sound good to me.

[2022-03-04 19:01] zepumph commented on #432
Today during @terracoda and my RAP meeting, we decided it would be nice to have the current PDOM descriptions for the both hands interaction added to voicing as a baseline. We noticed this was already implemented for the individual hands when the ratio is locked (forwards to both-hands description content). I'll add that for BothHandsPDOMNode.

[2022-03-04 19:35] zepumph commented on #432
I was able to hide the both hands interactive highlight, but I made https://github.com/phetsims/scenery/issues/1372 to find a better way to do it.

[2022-03-04 19:39] #397 closed

[2022-03-04 20:05] terracoda commented on #437
Oh, that thought is supposed to be in issue #439.
I will move my comments and ideas to that issue.

[2022-03-04 20:08] terracoda commented on #437
Your thoughts can go in #439 and you can close this issue because this single edge case is resolved.

[2022-03-04 20:14] terracoda commented on #439
**Miss-placed Comments from #437**
And I think #421 is a related issue to #437, but we can't easily solve that one, since there are potentially 30 or more edge cases when the range of tick marks is set to 30.

I wonder if it might be necessary to silence the regions near the tick marks for Voicing. We can think about that here and in #434.

For the record, I don't think the in-between-tick-mark re

[2022-03-04 20:19] terracoda opened #443 "Check Interactive Highlights"
Interactive Highlights are now implemented, so I need to check them.

[2022-03-04 20:29] terracoda commented on #422
You are absolutely correct, we can still have things out of date, and this solution might preserve the issue described in #439, rather than improve the experience.

Marking this on hold.

[2022-03-04 20:48] terracoda commented on #381
The My Challenge Accordion Box is implemented as I laid out in the design and is working as designed.

But, now that it is implemented, it might be better to follow an option that more closely follows the design of Interactive Description, in particular the Context Responses. I we change it, then we would also need to change the reading block to be for all input - not just pointer input.

I am goi

[2022-03-04 20:51] zepumph commented on #432
Alright. Implemented. Let me know how the design goes @terracoda and let me know if you have any questions or thoughts to bounce back and forth.

[2022-03-04 22:13] zepumph commented on #381
I hear a bug. On startup, we close the accordionbox, and so I hear this because it is listening to the Property:

[code]

[2022-03-04 23:14] zepumph commented on #431
I had some good luck with this script. After doing a bit of investigation, it will be easy to add to the sim, and it is really responsive, but I still have questions about how to bring it to production. I can't seem to figure out how to host all files locally (like by including them as preloads). For research, we just have to expect them to load from network connections. Its a bit less than 20MB e

[2022-03-05 00:06] zepumph commented on #431
I have a prototype working. Here are some questions and next steps:

- [ ] Is downloading the package on runtime load ok?
- [ ] What to do if only a single hand is detected, right now I require both so that their positions can be sorted and you can determine which one we care about. Perhaps we can use left/right hands to make this better? That could be problematic depending on if your webcam flips

[2022-03-09 17:03] zepumph opened #444 "Assertion failed: "descendants exist with accessible content, innerContent cannot be used""
I hit this while working on https://github.com/phetsims/joist/issues/762. When changing the name of the discover screen dynamically, it sets the inner content on the screen button, which has two RatioHandNodes as icon in the pdom as `input` tags but `hidden`. Instead we need to remove it from the PDOM completely.

[2022-03-09 18:04] zepumph commented on #444
One thought that we decided not to go for:

This, we found, doesn't work! Because of assumptions in PDOMUtils.setTextContent, it could blow away the hidden children. We decided it wasn't worth breaking the assumption of no children + innerContent that we have built up over the years.

After fuzzing with a new assertion to catch this when children are added to a node that already has inner content,

[2022-03-09 19:13] zepumph commented on #431
In the above commit, I need to make no changes to the HTML file to use MediaPipe, everything is imported via the MediaPipe class. I'll hide this behind a query parameter and then get a dev version out next.

[2022-03-09 19:30] zepumph commented on #431
Ok, now you can add `?mediaPipe` to add hand tracking conditionally to the RAP runtime. It will only load the scripts needed for hand tracking if you provide that query parameter.

Try it out in https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.10/phet/ratio-and-proportion_all_phet.html?voicingInitiallyEnabled&mediaPipe

[2022-03-09 20:36] zepumph commented on #431
In a meeting with @BLFiedler 👍

This will be acceptable. Especially since it is only needed to load the sim.

Note that MULTI_HANDEDNESS

pick some behavior for 1 hand. For now, don't do anything when only one is detected.

Make sure to support the case where hands are facing the down, on a table, and the webcam is pointing down to it. Thus we need a horizontal flip, and a vertical flip ability. M

[2022-03-11 18:45] #437 closed

[2022-03-17 19:01] terracoda commented on #440
**Yes, please move reading block**
- It should come after the Right Value number spinner in the Tab Order

And **keep it as an all-input reading block.**

**New strings for the reading block:**
- Current challenge {{1}} to {{2}}. (same as PDOM context response)
- Hint Response (when hints are checked in Preferences):
    - Change challenge, and move hands.

[2022-03-17 19:17] terracoda commented on #440
Re https://github.com/phetsims/ratio-and-proportion/issues/440#issuecomment-1057474159

Yes, I think controls inside reading blocks will have to work like that. That is how it works in GFLB as well. So, let's keep it like that and be aware of it.

[2022-03-17 20:35] terracoda commented on #381
Ok, here are the design changes to My Challenge Accordion.

- [ ] Remove stative custom object responses "hidden" and "1 to 2" (the value when opened).
- [ ] Remove custom hint, "Set left and right values to create your challenge." We'll just have a hint on the Reading Block.
- [ ] Remove custom hints for when opening and closing the accordionbox, "Set left and right values to set your challenge."

[2022-03-17 20:41] terracoda opened #445 "Need name response on Range Combobox"
I think implementation is missing a name response, but I am double checking. Will report back asap.

[2022-03-17 20:51] terracoda commented on #445
Yes, we have an object response instead the combined name response when the combobox is opened with pointer input.

And the text for the hint needs to be a customized one, different from PDOM.

Upon opening the range combobox with a click or tap, with hints checked, I should hear:
- Range: 0 to 10, Choose range for tick marks.

And the same hint for the other inputs.

Everything else is good.

[2022-03-17 20:54] terracoda commented on #440
And the number spinners won't have a hint, see related issue #441

[2022-03-17 20:59] terracoda commented on #441
I may have commented in the wrong issue for the design changes to the number spinners.

- [ ] Remove hint on keyboard focus. (Have a hint on the reading block).
- [ ] Use PDOM responses for all input.

![image](https://user-images.githubusercontent.com/1902116/158893873-1def44bd-dbb6-4281-883b-4ba1e7126f13.png)
![image](https://user-images.githubusercontent.com/1902116/158893918-42d2c752-f5d4-4c29

[2022-03-17 21:01] zepumph commented on #440
Ok The reading block should be done. I updated the focus order, removed the NumberPicker hint responses, and changed the reading block hint response.

[2022-03-17 21:13] zepumph commented on #445
We will want to talk about this. It is quite hard to do this, but I'd like to explain this more. I believe we discussed this a bit in https://github.com/phetsims/sun/issues/726.

[2022-03-18 12:07] terracoda commented on #441
I found my original uncommitted comment. It was over in issue #440, but not posted.

**From #440:**
I have updated the interactions by input in the design doc.

For the number spinners, we will now use the default PDOM responses for all inputs. The custom hint has been moved to the all-input reading block in issue #440 . For pointer input, it means we won't hear Left Value and Right Value anywhere

[2022-03-18 12:59] terracoda commented on #440
Sorry @zepumph, I did not explain the Tab Order explicitly.

The My Challenge button should stay where it was in the Tab Order, and the reading block should only be in one spot. On first tab through I seem to be able to get tot eh reading block twice before and after the number spinners.

When the accordion panel is open, it should have 3 Tab stops after the actual My Challenge heading/button, one

[2022-03-18 13:05] terracoda opened #446 "Double check code the Preferences button"
After last commit, in #440 the Preferences menu button can become unclickable and not operable via the keyboard after a little bit of interaction.

[2022-03-18 13:07] terracoda commented on #446
This might be resolved when #440 and related issues #381, #441 are all ?

[2022-03-18 13:16] terracoda commented on #446
Actually, it's more than just the Preferences button. The sim is inoperable with a mouse, unless my hardware is the issue.

[2022-03-18 13:19] terracoda commented on #446
Updating, after last commit, the sim can become inoperable with a mouse. It appears to work fine with the keyboard, but I think I did notice at least once that the Preferences button was not operable vi the keyboard after interaction.

[2022-03-18 13:19] terracoda commented on #446
A reset does not fix the problem.

[2022-03-18 13:49] terracoda commented on #445
Ok, we can discuss at today's meeting. The weirdest part for me, is that there is no Name Response at all when no checkboxes are checked in Preferences, and "Range: 0 to 10" is text on the screen.

I am just copying in current design to document it:
![image](https://user-images.githubusercontent.com/1902116/159014023-3a2acc2c-b77a-4047-9fa8-ca0447adbe1a.png)
![image](https://user-images.githubuser

[2022-03-18 14:04] #402 closed

[2022-03-18 15:01] terracoda opened #447 "Need additional context response when number spinners unlock the Ratio Lock"
Is it possible to have an additional context response when interaction with the number spinners unlock the Ratio Lock?

This response is part of Interactive Description, but I think it might have been difficult to implement.

In Interactive Description these two context responses fire in quick succession:
- Hands no longer locked.
- Current challenge 1 to 3. Hands, far from new challenge ratio.

C

[2022-03-18 15:43] zepumph commented on #440
I think https://github.com/phetsims/ratio-and-proportion/issues/446 and this issue are related. I am getting a strange assertion about PDOM order/DAG, which is also why we were getting duplicate ReadingBlock highlights. I'll take a look.

[2022-03-18 15:43] zepumph commented on #446
I'm not sure about this, but if you find you're getting this assertion:

Then I have reproduced this problem, and it will be fixed in #440.

[2022-03-18 15:48] zepumph commented on #440
Ok, sorry, the focus order is buggy, but will be handled in https://github.com/phetsims/scenery/issues/1385. Sorry for the confusion, I thought it was working but didn't test this case enough.

[2022-03-18 16:12] KatieWoe opened #448 "CT no description found for pitch at value: 1.4999999999999998"
[code]

[2022-03-18 16:47] terracoda commented on #446
Checked console, but will heck again next time it happens.

[2022-03-18 17:00] zepumph opened #449 "Description broken for edge context responses"
When I continue to press in the direction of the edge while at the edge, this is what the description looks like in the a11y view:

[code]

This is buggy, we aren't actually moving farther. Thanks @terracoda for noticing that!

[2022-03-18 17:03] zepumph opened #450 "Voicing doesn't repeat for each key press when attempting to "going beyond" edge"
This behavior is the how it works in description, but it seems it isn't set up for Voicing just yet. We should work on having that edge alert repeat for voicing if you press the key that keeps things at the edge value.

Thanks @terracoda for noticing!

[2022-03-18 17:09] zepumph opened #451 "Voicing: Go beyond response occurs when arriving at last step"
At least one way to reproduce:
1. Second screen
2. lock ratio
3. focus left hand
4. step down 4 times. The 4th time is when the hand reaches the "edge" (not actually zero because the ratio is locked)

The description response is: `Hands almost even with each other, both hands near bottom.` That is great!

The Voicing response is: `hands, at challenge ratio, Left Hand, near bottom. Move hands up to

[2022-03-18 17:17] zepumph opened #452 "Both-hands context response good when using individual hand with ratio locked - move edge response to start of drag"
Related to https://github.com/phetsims/ratio-and-proportion/issues/451. When we reach the edge, with ratio locked and controlling an indy hand, we don't get the "Both hands" context response.

Current description:

What we want to see:

[2022-03-18 17:33] zepumph commented on #445
@terracoda and I talked through this problem today. The main issue is that when you select the button, you are actually getting the voicing because the list item Node is focused, thus, to add this, we would also need to say the name response when cycling through options. This is not ideal.

@terracoda thinks this may be acceptable, because you still get the name response upon selection, but will w

[2022-03-18 17:52] zepumph commented on #445
@terracoda! I think I can make this happen easily afterall!!

@jessegreenberg and I discussed, I can adapt `supplyHintResponseOnNextFocus` to handle the case where we supply the nameResponse instead of the hint response. Assigning back to me.

[2022-03-18 18:01] terracoda commented on #445
That would be ideal, especially for Sims that have really meaningful comboboxes like Molarity.

[2022-03-18 18:36] zepumph commented on #440
@jessegreenberg and I discussed the focus order issue, and solved it in this commit. I'll update the context response next.

[2022-03-18 20:11] zepumph commented on #445
Ok. @terracoda please review master now. I think it is you desire with the name response on open. Commits in https://github.com/phetsims/sun/issues/726

[2022-03-18 21:52] zepumph commented on #381
@terracoda, please review all changes to the "My Challenge" AccordionBox interaction in this issue if helpful to. This includes the ReadingBlock (https://github.com/phetsims/ratio-and-proportion/issues/440) and NumberPickers (https://github.com/phetsims/ratio-and-proportion/issues/441).

I really appreciate all the comments outlining all the changes. I did them, and then went through all three sec

[2022-03-18 21:52] zepumph commented on #440
See https://github.com/phetsims/ratio-and-proportion/issues/381 for review.

[2022-03-18 21:52] zepumph commented on #381
From https://github.com/phetsims/ratio-and-proportion/issues/441#issuecomment-1071470294

In https://github.com/phetsims/ratio-and-proportion/issues/283 we ended up writing out words for the aria-valuetext because of a screen reader bug. As a result, and for consistency, I am using the same function for the voicing object and context responses. Do you mind having the values as words instead of act

[2022-03-18 21:52] zepumph commented on #441
See https://github.com/phetsims/ratio-and-proportion/issues/441#issuecomment-1071470294 for review.

[2022-03-21 18:09] zepumph opened #453 "Tick mark sounds broken?"
I don't know this for sure, but while trying to add boundary sounds to MediaPipe input (https://github.com/phetsims/ratio-and-proportion/issues/431#issuecomment-1063347885), I found tickMark sounds weren't playing. I couldn't get them to play during mouse input either. I'll need to investigate.

[2022-03-21 19:07] zepumph commented on #439
@terracoda, I don't remember why we assigned me to this on Friday. Can you note what I should do here?

[2022-03-21 23:35] zepumph commented on #396
See https://github.com/phetsims/scenery/issues/1220#issuecomment-1074526225, this isn't going to be dealt with soon, and likely not for RAP's publication this year. Marking deferred.

[2022-03-21 23:36] zepumph commented on #435
I would consider this a duplicate issue to https://github.com/phetsims/ratio-and-proportion/issues/396, which is a deferred issue. Feel free to close or mark accordingly.

[2022-03-21 23:39] zepumph commented on #431
Smoothing is happening now based on the last 10 positions. It feels pretty cool, it is a bit delayed when moving fast, such that I wonder if we could provide weights to more recent values to speed up the "laggy" feel. That said, I still liked it better than the last 7 positions.

I also added boundary bonks and grab/release sounds.

[2022-03-22 00:06] zepumph commented on #431
We now have the ability to flip axes. If you check "x-axis flipped" it just swaps what hand controls which in the sim, as you can't move left/right currently.

[2022-03-22 00:23] zepumph opened #454 "Add voicing to MediaPipe input"
From https://github.com/phetsims/ratio-and-proportion/issues/431, I will commit shortly, but basically this will need some further design.

What I will commit will mimic how the "both hands" responses are formatted in the BothHands interaction. So perhaps we will automatically get improvement here when we make improvements over in #432.

[2022-03-22 02:44] zepumph commented on #431
Alright. I think I have done all I can here. @BLFiedler would you please take a look at all the new features.

* Try out the new `showVideo` query parameter (to be used with `mediaPipe` also, over in https://github.com/phetsims/tangible/issues/10.
* Check out some voicing implementation in https://github.com/phetsims/ratio-and-proportion/issues/454.
* Note some sounds, especially boundary sounds.

[2022-03-22 02:45] zepumph commented on #431
It would also be worth noting that it was helpful to have a scrap that I could use to iterate quickly on, outside of phetsims, so I made this HTML:

<details>

[code]

[2022-03-23 14:09] #445 closed

[2022-03-23 16:07] terracoda commented on #441
The number spinners sound great with pointer and keyboard input. Closing.

[2022-03-23 16:07] #441 closed

[2022-03-23 16:08] terracoda commented on #440
The reading block works great with pointer and focus inputs. Nice work!

[2022-03-23 16:13] terracoda commented on #381
Ok, the number spinners sound great and the reading block sounds great.

My Challenge and related interactive things all voice nicely with pointer and focus-based inputs. Just checking touch device now.

[2022-03-23 16:16] terracoda commented on #453
I noticed, I did not hear tick marks with hands ere locked at challenge ratio. That might be intentional. I need to check with @BLFiedler.

[2022-03-23 16:18] terracoda commented on #443
Interactive highlights work well.

[2022-03-23 16:18] #443 closed

[2022-03-23 16:29] #381 closed

[2022-03-23 17:30] terracoda opened #455 "Indy Hands - Hear context response when I don't make a change"
When I have Tick Marks enabled, I hear the tick mark position of the indy hand when I click and do not make a change. This is not how the indy hands work when Tick Marks are hidden.

Please make them work the same when clicking, i.e., only provide a context response about position if the hands actually move.

The focus event is fine. I do not hear position when I put keyboard focus on an indy hand

[2022-03-23 17:33] zepumph commented on #453
That is intentional. We don't play when the ratio is locked, or when the staccato sounds play:

https://github.com/phetsims/ratio-and-proportion/blob/b29f54a9577b63910abcdc55095b1ac83b3838be/js/common/view/RAPScreenView.ts#L167-L168

[2022-03-23 17:56] terracoda commented on #439
@zepumph, I think you were going to investigate snapping to the Tick Mark when using pointer input.

[2022-03-23 18:08] zepumph commented on #453
AhhH!  After some investigation, I realized that we put that under "extra sounds". It is working like a charm. Oops! I'm ready to close. Feel free to @terracoda once you read the above and feel good about it.

[2022-03-23 18:10] terracoda commented on #439
Basically, if we have a tolerance for mouse input to find the ratio, when a learner let's go of the mouse, and they are within the tolerance or fitness, the actual described position of the hand needs to communicate the same thing as the sound and visuals are communicating.

So for example, if the right hand is "on Tick Mark 6" and a leaner moves the Left Hand to be "around Tick Mark 3" and they l

[2022-03-23 18:12] terracoda commented on #453
If that is how it is supposed to work, great.

[2022-03-23 18:12] #453 closed

[2022-03-23 18:31] zepumph commented on #431
- [ ] Oh I think there was one more feature I was going to add, which was an option to "narrow" the range of the webcam that equates to the hands, such that you could be just the middle 80% of the height or something. I'll take a look at doing that too, but you can still review in parallel.

[2022-03-23 18:32] zepumph commented on #405
Here is the discussion from the dev meeting agenda on March 3:

 `private` in typescript is more strict than we are used to. In general, we called "private" as private to that file, but typescript won't allow accessing private things from helper functions in the same file (RatioHalf's accessibleNameBehavior)
JB: Does it work to create a static function?
SR: (tried it, said it does in this case)
MK

[2022-03-23 18:33] #405 closed

[2022-03-23 18:47] zepumph commented on #439
Over to you sounds great. Thanks for finding a case.

If the issue is that you thought it should snap but doesn't, that is different from the issue where you snap, and the "endDrag" alert still says "around tick mark X." Please let me know if it is either of these, or something else. I remember we couldn't really figure out what the issue was.

Furthermore, this issue is pretty general, and was (i

[2022-03-23 18:55] zepumph commented on #455
I cannot reproduce this bug, I added logging to determine if the position was not being tracked correctly, but there is "no voicing" when expected, each time I click, and let go of the hand without moving.

Is it possible that you moved a miniscule amount when letting go? I'm also happy to try to reproduce together.

Here is just an example of the voicing output, it is a bit confusing on its own,

[2022-03-23 18:58] terracoda commented on #455
I just did a fresh pull, and it does not appear to be happening any more.

[2022-03-23 18:58] terracoda commented on #455
Maybe it was a glitch. Closing until it pops up again. Thanks for the investigation.

[2022-03-23 18:58] #455 closed

[2022-03-23 19:49] zepumph commented on #404
Ok! I got rid of many TODOs here, still some remain as common code is not yet in typescript yet (SoundClip, SoundGenerator, ScreenIcon, KeyboardHelpSection).

* 8 usages of any
* 2 ts-ignore
* 9 TODOs to this issue.
* I should still go through and mark all members `readonly` that should be marked as such. Perhaps there is a lint rule for that.
*

[2022-03-28 18:17] zepumph commented on #452
The issue is the same as #416, but now we need two instances of BothHandsDescriber, one for voicing and one for description, otherwise the context response that is requested second (voicing in this case) will be as if it is the second context response at the edge (our criteria for a "go beyond" alert.

[2022-03-28 18:53] zepumph commented on #452
@terracoda please review the hand voicing bugs we created together 2 weeks ago.

[2022-03-28 18:54] zepumph commented on #451
Solved in and to be reviewed in https://github.com/phetsims/ratio-and-proportion/issues/452#issuecomment-1081018789. Closing

[2022-03-28 18:54] #451 closed

[2022-03-28 18:54] zepumph commented on #450
Solved in and to be reviewed in https://github.com/phetsims/ratio-and-proportion/issues/452#issuecomment-1081018789. Closing

[2022-03-28 18:54] #450 closed, assigned to zepumph

[2022-03-28 19:02] zepumph commented on #449
Alright, after the above commit, we never give distance progress at the min/max positions. Here is what the aria live alerts look like now:

[code]

[2022-03-28 19:13] zepumph commented on #404
A couple more TODOs taken care of here since SoundClip and SoundGenerator are now typescript.

[2022-03-30 17:32] terracoda commented on #452
The context responses at the edge - the ones that communicates the edge has been hit and that the learner should change directions (move down to explore more or move up to explore more) is working perfectly when I have focus on either of the individual hand sliders and with any one of the explore modes slected (No Tick Marks, Tick Marks, Numbered Tick Marks).

The context responses are not yet fix

[2022-04-01 17:16] zepumph commented on #432
From today's design meeting with @terracoda:

1. Both hands need the same implementation that the indy hands have for mouse (with ratio locked), where you get distance progress while dragging, and distance region on end drag. Keyboard will still alternate like description.
2. Next step: shorten the description by removing the distance region (when applicable) when tick marks are not hidden. For mo

[2022-04-01 17:54] zepumph commented on #431
@terracoda and I had a couple of fun ideas about this today:

* What if open hands means you can move them, and then you close the hands to "let go" of the ratio. This would give an end drag voicing response and a let go sound,.
* What if when the ratio was locked, you only needed one hand to move the ratio around?
* What if we disabled the ratio lock checkbox when media pipe is turned on, we don'

[2022-04-01 18:00] samreid commented on #431
Have you discussed the opposite?  It may be more natural to grab the hands by grasping, then release them by releasing.

[2022-04-01 18:17] zepumph commented on #452
@terracoda explained this further to me, the keyboard + indy hand + ratio locked is working well, but two other modalities are not:
* Mouse + ratio locked, we go from this response to this response:
`hands, at challenge ratio, Hands not so close to each other, left in lower-middle region, right near top.`
`hands, at challenge ratio, Right Hand, at top. Move hands down to explore more.`

We should

[2022-04-04 13:37] terracoda commented on #432
@zepumph, at our meeting on Friday, I didn't mention that the Hint Responses are custom strings:

Before interaction or before full interaction with each of the Both Hands interaction when icons are still on the screen:
- Move hands. {{W and S keys move left hand, Up and Down arrow keys move right hand.}}

After successful interaction with each of the Both Hands hands:
- Move hands.

[2022-04-04 15:17] terracoda commented on #452
@zepumph, for mouse/touch input (pointer input), the timing it too finicky to provide a hint about changing directions at End of Drag. The natural place for this kind of hint is at start of drag when there is no value change at all and only if one hand is at the edge. This should work well for keyboard input, too, when the Ratio Lock is checked.

Does this approach make sense to you? More specific

[2022-04-04 15:43] terracoda opened #456 "User Experience wierdness when Ratio Lock is checked"
In #452 I think we decided to have a consistent name response of "Both Hands" for the Voiced experience when the Ratio Lock is locked (checked).

However, a learner can still put their keyboard focus on an individual slider when the ratio is locked. Once the visual hints go away, the interaction sounds the same, "Both Hands".

I may have asked this before and was told that it is not possible, so i

[2022-04-04 16:58] terracoda opened #457 "Go beyond edge context responses & special hint responses at edges"
In #452 @zepumph and I verified that there are no special responses when a learner tries to go beyond the top or bottom of the visual Play Area when using the keyboard for Interactive Description. I just verified that this is the case for the Both Hands and the Indy Sliders - no special responses at the edges.

A hint about changing directions is only provided when ratio is locked. I think this is

[2022-04-04 17:01] terracoda commented on #457
@zepumph, please note that the above strings do not reflect other specific changes to context responses that we have already discussed for Voicing, e.g., removing the distance-region when Tick Marks are shown.

[2022-04-04 17:04] terracoda commented on #457
I think this issue is also directly related to #432 where you are implementing the Both Hands.

[2022-04-04 17:45] terracoda commented on #432
@zepumph in your comment:

You meant to say:
3. We think it is a bug that we never get distance progress while using the both-hands interaction with Ration Locked. Perhaps we are wrong, but it needs investigation.

I am investigating.

[2022-04-04 17:52] terracoda commented on #432
In the published version, I do indeed hear distance-progress. So this is currently a bug on master and this bug is also appearing to our default PDOM implementation for voiced Both Hands interaction.

[2022-04-04 19:36] terracoda commented on #432
In the Interactive Description design document, there is a lot of work on how to switch back and forth distance-progress and distance-regions, so the distance-region would not repeat, and we could have shorter responses using distance-progress.

That logic is now missing in master.
I think, this is the same logic we have for the indy hand sliders (alternating back and forth between distance-progre

[2022-04-04 20:28] terracoda commented on #432
Note that on Master with interactive description using Both Hands, I can get the occasional distance-progress, but often when I am just starting out the distance-progress is the wrong one.

In the published version, I can get distance-progress sometimes when I land on ratio. As the logic is cleaned up, let's fix that.

I think generally across the board for discrete input we want to be alternating

[2022-04-04 23:14] jessegreenberg commented on #448
This was fixed via  https://github.com/phetsims/john-travoltage/issues/461.

[2022-04-04 23:14] #448 closed

[2022-04-06 17:49] zepumph opened #458 "HandPositionDescriber should not be dependency injected"
From item 3 in https://github.com/phetsims/ratio-and-proportion/issues/432#issuecomment-1086154317 and #416, this is buggy to have different text-output modalities (voicing and description) share the same state for the hand position describer. This is messing up the distance progress/region logic for the both hands interaction.

[2022-04-06 18:36] BLFiedler commented on #431
To discuss:

- Approach to tangible input with tolerances (general to RaP and Quadrilateral) for biasing important feedback points
- Noise filtering (currently averaging)
- Continued investigation into needs of MediaPipe in sims for later publication (sim size, etc)
- Hand gesture capabilities & incomplete landmark detection handling

[2022-04-06 19:29] BLFiedler commented on #431
re: Tangible Input Tolerance widening for Quadrilateral: https://github.com/phetsims/quadrilateral/issues/116

[2022-04-06 20:01] zepumph commented on #431
Meeting notes:

* Approach to tangible input with tolerances (general to RaP and Quadrilateral) for biasing important feedback points
    * Unsupported Human movement vs. Model Tolerances
        * [https://github.com/phetsims/quadrilateral/issues/116](https://github.com/phetsims/quadrilateral/issues/116)
        * Widen tolerances for TANGIBLE when breaking out of ratio
        * 8 cases to manag

[2022-04-06 20:24] zepumph commented on #458
I had good luck with this new strategy. I will take this to the next space that I create describers.

[2022-04-06 20:33] #458 closed

[2022-04-06 20:43] zepumph commented on #432
- [ ] This is non-trivial. It would create a dependency where each ratio half needs to know about the both hands object (the "whole") while being created, but the whole needs to know about each half to be created. How important does this feel to you @terracoda?

[2022-04-06 20:52] zepumph opened #459 "Bug? No distance progress in both-hands interaction when ratio locked"
This is item (3) in https://github.com/phetsims/ratio-and-proportion/issues/432#issuecomment-1087838546. Also from https://github.com/phetsims/ratio-and-proportion/issues/432#issuecomment-1087937650 and https://github.com/phetsims/ratio-and-proportion/issues/432#issuecomment-1087983092

I used this to debug:

<details>

[code]

</details>

And I found that it is actually purposeful.

In https://gi

[2022-04-06 20:55] zepumph commented on #459
Perhaps that issue was just designed for individual hands, and not for all interactions. Sorry if I didn't understand this during the implementation.

[2022-04-06 20:56] zepumph commented on #432
It looks like item (3) was actually 2 issues/bugs. I created https://github.com/phetsims/ratio-and-proportion/issues/458 and https://github.com/phetsims/ratio-and-proportion/issues/459 to discuss them. I think that https://github.com/phetsims/ratio-and-proportion/issues/459 is going to be where @terracoda and I discuss all of @terracoda's comments since https://github.com/phetsims/ratio-and-propor

[2022-04-06 20:59] zepumph opened #460 "Shorten both hands description when tick marks are visible by removing distance region"
This info is more redundant, and can be removed. I want to wait until the initial implementation is done over in https://github.com/phetsims/ratio-and-proportion/issues/432#issuecomment-1086154317 item (1).

This should not apply to the description, and it most likely applies to all voicing of both hands, meaning when the ratio is locked + mouse input too. On hold for now though.

[2022-04-06 21:10] zepumph commented on #447
Right! Thanks for the reminder and ping. We have this in the description, I just didn't do this yet in voicing.

[2022-04-06 21:11] zepumph commented on #432
Up next is the main portion of this issue, where we divide out the both-hands interaction to focus/drag/enddrag like for the indy hands. I will get to this soon.

[2022-04-06 21:14] zepumph commented on #456
We could add an option like "alternativeIncrementKeys" and "alternativeDecrementKeys", and check them here:

https://github.com/phetsims/sun/blob/571e04d1cd9417929e753c68a2048a5d76dcd0b7/js/accessibility/AccessibleValueHandler.ts#L624-L629

We could not easily mutate this list dynamically, at least without being tricky. I would like to discuss this with @jessegreenberg just to see if he sees an ea

[2022-04-06 21:30] jessegreenberg commented on #456
Agreed @zepumph, that seems like how we would do it! Do we know if we get input events from letter keys for an `<input type=range>` for each of VoiceOver, NVDA, and JAWS? I suspect we do but that might be the limiting factor.

Otherwise, maybe we replace `<input type=range>` with `<div role=application>` and use KeyboardDragListener?

[2022-04-06 21:49] jessegreenberg commented on #456
If we don't want to add options to AccessibleValueHandler, maybe a sim-specific listener for these letter keys would be better. That might actually be harder to implement. I am not too worried about adding options like this to AccessibleValueHandler.

[2022-04-08 17:13] BLFiedler commented on #431
@terracoda , would you have a moment before next Wednesday (4/13) to try out the hand tracking with Voicing and comment a bit on how it feels compared to its intended design?

To test, open the latest on phettest and append the `mediaPipe` query parameter. You may also find `showVideo` helpful, but it may reduce performance on your machine.

[2022-04-08 17:51] BLFiedler commented on #431
Related to Quadrilateral issue https://github.com/phetsims/quadrilateral/issues/116, we've discussed smoothing out the haptic experience when using tangibles or computer vision when using simulations that use tolerances (intervals around a target value that provide modal feedback). One way to accomplish this is to add "forgiveness" when a user achieves the target state, making it more difficult to

[2022-04-13 16:16] terracoda commented on #459
The distance-progress responses are missing on master, so I do think this is a bug.

[2022-04-13 16:35] terracoda commented on #432
@zepumph, Let's forget about changing any interactive highlights. I like the way the Voicing is sounding by calling all three hand interactions Both Hands when the Ratio Lock is checked.

[2022-04-13 18:32] zepumph commented on #456
@terracoda and I discussed this today, we don't want to devote resources to this now, since we are quite sure that @jessegreenberg is right and that role "range" will block W and S keys while a screen reader is on. We feel like there is a good chance that in the future we may still want this feature even if it only works with Voicing, especially since there are cueing hints that mark the left hand

[2022-04-14 01:23] zepumph commented on #459
Looks like a good example of how a bug fix causes another bug.

In https://github.com/phetsims/ratio-and-proportion/issues/429 we caused this with https://github.com/phetsims/ratio-and-proportion/commit/725f4f02b78e14ee753e1a14c466d7cfb2d453e4

I will add back that option to make sure that we still get distanceProgress from description when the ratio is locked.

[2022-04-14 02:21] zepumph commented on #459
Actually, I think that https://github.com/phetsims/ratio-and-proportion/commit/937bf0a64e93c3dadf9b2600a92c881de300f984 originally caused the bug. I may fix it as part of my both hands refactor over in https://github.com/phetsims/ratio-and-proportion/issues/432, but I'll let you know here.

[2022-04-14 03:26] zepumph opened #461 "Both hands context response is capitalized in voicing response"
This makes good sense for description, but not in voicing, I think it would be straight forward to fix. Here is what things look like right now:

[code]

[2022-04-14 03:29] zepumph commented on #459
Adding `inProportionOverridesDistanceProgress` as part of the above larger commit fixed this bug. @terracoda please note that this applies to ALL both hands cases. This means indy hands with mouse when ratio is locked, media pipe, etc., in voicing and description. Does this seem correct to you. Ideally we wouldn't have this logic split on voicing and description, but I understand if we need it to.

[2022-04-14 03:30] zepumph commented on #432
Alright. I believe that this is working now. I was able to utilize the current implementation of distanceResponseType being passed through on mouse input to make the both hands (ratio locked + indy hands + mouse) responses correct. @terracoda can you please review this and https://github.com/phetsims/ratio-and-proportion/issues/459

[2022-04-14 13:06] terracoda commented on #459
This sounds right to me. We do not currently have non-discrete interaction with Interactive Description.

The logic that balances distance-progress and distance-region for discrete input (keyboard and swipes) is different because the experience is actually different.

I hope that makes sense.

[2022-04-14 23:45] jessegreenberg opened #462 "Implementation changes after https://github.com/phetsims/scenery/issues/1403"
After https://github.com/phetsims/scenery/issues/1403 changes are coming to Alerter.ts and Voicing.ts which may require implementation changes in the sim. This issue is to track and review.

[2022-04-15 13:40] terracoda commented on #459
The distance-progress and distance-regions seem to be working with Ratio Lock checked with mouse input - I get distance-progress during drag, and then distance-region at ratio and at end drag.

Indy hand sliders still work fine, too - I get distance-progress during drag, and then distance-region at ratio and at end drag.

[2022-04-15 13:45] terracoda commented on #459
Noting when Ratio is locked and using the keyboard, I get a good mix of of distance-progress and distance-region, so I think keyboard input is working well, too. And Both Hands & edge responses with keyboard interaction are working fine, too.

[2022-04-15 13:51] terracoda commented on #461
Are you proposing to have no capitals on the phrases? This does make sense since all periods have been removed, and we just have concatenated phrases & sentence fragments.

[2022-04-15 14:01] terracoda commented on #432
Ok, I hear distance-progress and distance-region when using bi-manual keyboard input with Both Hands (i.e., Ratio Lock is not checked).

It seems to be connected to when entering and traversing the same distance-region, so this seems to be correct and the same as PDOM logic (I haven't directly compared).

We still need to work on the edge responses, though. I think that will be addressed in a sepa

[2022-04-15 14:05] terracoda commented on #432
I think this is working well, except fr items in other issues, so closing.

Also, I am now not convinced that we need to implement item 2 in [comm](https://github.com/phetsims/ratio-and-proportion/issues/432#issuecomment-1086154317)

I'll test and comment in the appropriate issue.

[2022-04-15 14:05] #432 closed

[2022-04-15 14:10] terracoda commented on #460
I like the qualitative distance-region info combined with the tick marks. I think we should leave it.

I am not sure how it will work with Media-Pipe, but with Mouse and Ratio Locked it seems fine.

[2022-04-15 14:12] terracoda commented on #460
And with Both Hands and bi-manual input it seems fine. And with the indy sliders with keyboard input are fine, too.

I think the qualitative distance will be helpful for some learners, especially learners with vision impairments or learners with learning disabilities.

[2022-04-15 14:17] terracoda commented on #460
I'll close after I test with media pipe.

[2022-04-15 14:24] terracoda commented on #431
What is the query parameter fro media pipe?

[2022-04-15 14:50] terracoda commented on #454
Issues:
- There seems to be quite the lag in the Voicing.
     - Can we voice based on velocity (or timing logic) like we do for mouse? The problem I am finding is that it is even hard to not move my hands than it is to not move a mouse.
- When each had is moving independently in either direction, I am thinking it must be very difficult to calculate distance-progress.
     - The way it work for mo

[2022-04-15 16:08] terracoda commented on #461
I am inclined to not address this issue right now.
The broader question is what do we want to do with sentence capitalization of Context responses, in general?

[2022-04-15 16:15] zepumph commented on #460
@terracoda and I discussed this, and we don't think this is needed. This would be a totally fine change, but it is good right now, and there is a chance it would be worse when it was shorter. We have control over toggling the context responses. Closing

[2022-04-15 16:15] #460 closed

[2022-04-15 16:49] terracoda commented on #454
@zepumph had a nice idea of having a silent moving gesture versus a regular voicing gesture - simply close thumb and pointer for silent mode (non-voicing mode), then open for voicing mode.

[2022-04-15 17:11] terracoda commented on #454
We have a few places we can tweak in the chain of commands.
-  smoothing algorhythm
- modal property position - media pipe value
- timing of utterances

@zepumph is going to start with the simplest mouse voicing logic plus close finger gesture to get and end drag event and voice lates tratio/position.

[2022-04-15 23:54] jessegreenberg commented on #462
I think https://github.com/phetsims/ratio-and-proportion/commit/bea560ea9e4731b8e5ddad750d3521ffdd1bd2a6 is all we need for this issue, all other Voicing announcements go through the `voicingSpeak*` functions.

Assigning to @zepumph to confirm before closing.

[2022-04-18 12:46] terracoda commented on #431
@zepumph and I discussed on Friday some ideas to improve the Voicing. Connecting to https://github.com/phetsims/ratio-and-proportion/issues/454#issuecomment-1100222835

[2022-04-18 12:52] terracoda commented on #431
Originally, we thought that the hand tracking would be very similar to the voicing experience with mouse interaction (non-discrete input), but for hand tracking there is no end drag event. See https://github.com/phetsims/ratio-and-proportion/issues/454#issuecomment-1100222835 for active hand gestures that that might make the Voiced experience with hand tracking more flexible, and controllable, and

[2022-04-18 16:44] BLFiedler commented on #431
After chatting with EM, it's clear we need a good understanding of the publication possibilities with MediaPipe before we can progress too far.

- [ ] @zepumph, can you summarize your prior findings on the needs for loading MediaPipe and, if needed, spend some time determining what our options are? We'd like to lay out as many details as possible for each case, e.g., to the best of our ability, de

[2022-04-18 16:47] BLFiedler commented on #454
Thanks, @terracoda! I've prioritized the publication investigation first, but all of this would be great for a discussion with all of us (+EM)! The needs for non-visual access to handtracking control is definitely not there yet, but building a common sense library of gestures seems like a great use of MediaPipe that can extend outside of Ratio and Proportion! We'll have that meeting soon.

One que

[2022-04-18 17:25] zepumph commented on #431
I will get to this on Wednesday

[2022-04-18 22:57] zepumph commented on #457
I didn't get to a commit point unfortunately.

<details>

[code]

[2022-04-19 13:21] terracoda commented on #454
The visual hands do not seem very lag. It seems quite responsive - very good, in fact. The Voicing is gets behind immediately and stays about 2 responses behind all the time.

[2022-04-22 17:41] zepumph commented on #457
A challenging case for this is to convey what input value changed if both hands are at extremities. At the moment I am just going to go down the list "was left at top, if so alert that as the go beyond", "was right at top. . . .". But if left is at top, and right is at bottom, and then I move right down, it would alert as if I press "up" on the left.

[2022-04-22 17:43] zepumph commented on #457
I will be quite hard to convey "I tried to move the X hand" from input -> node -> describer -> context response. I'll have to think more about this part as I do the easier stuff.

[2022-04-22 20:12] zepumph commented on #457
I have the above case (https://github.com/phetsims/ratio-and-proportion/issues/457#issuecomment-1106727045) working where edge responses know what term was most recently moved.

Here are two more challenging cases that we aren't currently supporting:

1. With both hands keyboard, ratio unlocked, press 0, and then press 0 again. It says: `hands, extremely close to challenge ratio, Left Hand, at bot

[2022-04-22 20:41] zepumph opened #463 "Mouse input voicing should only change with y dimension"
I noticed that we get overriding voicing responses if the "value" (y dimension) doesn't change, but the X dimension does. I think this is buggy, since the x position is not part of the model. I ran into this with go-beyond edge responses in https://github.com/phetsims/ratio-and-proportion/issues/457

[2022-04-22 21:08] zepumph commented on #463
This sounds so much nicer, especially when at the min/max

[2022-04-22 21:08] #463 closed

[2022-04-22 21:49] zepumph commented on #457
@terracoda please review.

Summary of changes:
* Support for both hands go-beyond-edge responses when ratio is not locked
* Support for indy hands go-beyond-edge responses when ratio is not locked
* Refactor previous responses when ratio was locked to be the same function as the above.
* Ensure that mouse/touch drag/endDrag responses don't have go-beyond-edge respones
* go-beyond edge hint respons

[2022-04-23 00:46] zepumph commented on #431
Sorry for the delay here. To summarize the aspects of publishing a sim with MediaPipe, we can definitely move forward with this requiring internet connection. Over in https://github.com/phetsims/tangible/issues/9#issuecomment-1107072513 I again tried to get these files to be delivered offline, but failed. And so I feel like the best path is knowing that loading MediaPipe will download ~20MB of dat

[2022-04-25 16:03] terracoda commented on #457
## Testing with VoiceOver
**Both Hands unlocked & keyboard:**
- Edges working correctly (same as Voicing)

**Indy Slider unlocked & keyboard:**
- Edges working correctly with Indy sliders (same as Voicing)

**Both Hands with ratio locked & keyboard:**
- Edges working correctly for the hand that can get to the top or get closest to bottom (same as Voicing)
- I don't get the go beyond response when

[2022-04-25 16:45] terracoda commented on #435
Closing this issue as it is a duplicate of #396

[2022-04-25 16:45] #435 closed

[2022-04-25 17:33] BLFiedler commented on #431
Thanks @zepumph!

Yes, let's arrange a meeting with the 4 of us (@zepumph, @terracoda, @emily-phet, and me) to discuss. I'll put out the feelers for a common time for gesture discussion!

I think pairing with JO or whoever is needed is definitely a good use of time to try for offline access. I agree versioning (for a library explicitly indicated as an "alpha") is likely to be of concern down the l

[2022-04-25 19:39] emily-phet commented on #431
@BLFiedler @zepumph Yes, I agree with Brett to @zepumph suggestion, pairing with a senior dev should be one of the next steps.

If it's the case that there is no way around a sim with the kind of input we're talking about here (computer vision tracking naturalistic hand movement) weighing in at ~20mb, then there are some follow-up questions that need to be addressed.

The issues with larger file s

[2022-04-27 16:36] zepumph opened #464 "NOTE: Large file size from MediaPipe dependencies"
Publication should not occur until there has been a decision made about the size of media pipe dependencies and how to proceed about it. See https://github.com/phetsims/tangible/issues/9 and #431. Current RAP built, minified filesize is 23MB.

[2022-04-27 16:49] KatieWoe commented on #464
Looks like this is showing up in CT
[code]

[2022-04-27 17:39] #452 closed

[2022-04-27 18:05] zepumph commented on #457
I couldn't get the dragging case to reproduce, but I fixed the end drag edge bug. Over to @terracoda for a final look through.

[2022-04-27 18:10] zepumph commented on #462
Looks great. Thanks!

[2022-04-27 18:10] #462 closed

[2022-04-27 18:10] zepumph commented on #363
This issue has run its course. We are feature complete, and will generally create new issues as needed to address issues that arise.

[2022-04-27 18:12] zepumph commented on #389
All desired have been acquired! Deleted, Closing

[2022-04-27 18:12] #389 closed

[2022-04-27 18:27] zepumph commented on #404
The only thing left for this issue is to convert KeyboardHelpSection code to typescript once those common code types are complete.

[2022-04-27 18:31] zepumph commented on #391
I believe this is pretty much done. The only two I had questions about are these two:

Would you like these usages capitalized or not?

[2022-04-27 18:33] zepumph opened #465 "Increate "in-proportion" tolerance when using MediaPipe"
From https://github.com/phetsims/ratio-and-proportion/issues/431#issuecomment-1090720108, we want to make it easier to use the ratio with MediaPipe, meaning an easier time getting in ratio.

[2022-04-27 18:47] zepumph commented on #465
@BLFiedler, I made the tolerance when using MediaPipe the same as when "moving in direction" (for the choir sound). Please review. It is definitely a lot more usable. Let me know where you want to go from here. For reference, you can see the values (in fitness units from (~-100 to 1) 1 means in proportion.

https://github.com/phetsims/ratio-and-proportion/blob/7cfca18c54a1e124b1f0c27c2b5059f8df956

[2022-04-27 19:36] zepumph commented on #465
@BLFiedler, you can use this dev version too btw: https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.13/phet/ratio-and-proportion_all_phet.html

[2022-04-27 21:02] zepumph opened #466 "Two left hand bullets in create screen"
![image](https://user-images.githubusercontent.com/6856943/165630441-6a6b16ff-c8d0-4440-9b5d-b5f931de09cc.png)

[2022-04-27 22:32] zepumph commented on #454
Good progress happened with this today. @marlitas and I were able to add in the definition for a new gesture that has both thumb/index fingers touching. We used that to turn of the voicing of the hands.

Some thoughts about the implementation:
* There is currently no "smoothing" or averaging. @marlitas and I brainstormed some ideas for this like averaging each finger's last few positions, averagin

[2022-04-27 22:34] zepumph commented on #447
Looks like both are there: https://github.com/phetsims/ratio-and-proportion/blob/1ccb1e3afa8ffe9f82d1d0d8e649cdb6a3889bed/js/common/view/BothHandsPDOMNode.ts#L186-L190. My guess is that this isn't coming through because of Utterance settings (like cancelSelf). I'll just combine the utterance instead.