[2022-04-27 23:10] zepumph commented on #447
It is indeed all about timing and interrupting. Just like for description, order matters. Unlike in description, voicing is set to interrupt each other, so it isn't just about order, but making sure that both come through. Because of this, in the case where you change the number pickers, the "Hands no longer locked" response must come after the original context response. This isn't the case for th

[2022-04-28 19:11] zepumph commented on #404
New convention to adopt: initialize in the declaration site when possible.

[2022-04-29 16:21] terracoda commented on #457
Just a note that the special responses about reaching the edge are currently in the general context response category, and not in the hint response category. Would it

## Testing Voicing
**Both Hands unlocked & keyboard:**
- [x] No Tick Marks (Top and Bottom)
- [x] Tick Marks (Top and Bottom)
- [x] Numbered Tick Marks (Top and Bottom)

**Indy Slider unlocked & keyboard:**
- [x] No Tick Marks (Top

[2022-04-29 16:55] terracoda opened #467 "Distance progress when dragging beyond edge with mouse"
While reviewing https://github.com/phetsims/ratio-and-proportion/issues/457#issuecomment-1113498319, I noticed I was still getting distance-progress when dragging the indy hands with mouse.

@zepumph wants to take a deeper look at how distance-progress is firing and make sure it does fire when no movement happens.

[2022-04-29 19:18] terracoda commented on #398
Note that the disabled Ratio Lock checkbox won't get the hint response until disabled controls can be voiced.

[2022-04-29 19:43] terracoda commented on #447
Ok, I hear the order like this:
- object response = new value of number spinner = "3"
- context response with _appended lock response_= "Current challenge 1 to 3, Hands far from new challenge ratio. **_Hands no longer locked._**"

From what you said above, I think you **cannot** pre-append the lock response to the front of the context response, so it would be like this:
- object response = new val

[2022-04-29 22:15] zepumph commented on #447
Yes. This is because they are not technically one whole response, but two responses, and that means two utterances. The context response like "Current challenge 1 to 3, Hands far from new challenge ratio." is controlled by common code and cannot be easily (or perhaps at all) told to not interrupt the other separate response that says "Hands no longer locked." I'm sorry for the trouble.

[2022-04-29 22:25] zepumph commented on #467
I was not able to get to this today and will have to investigate when I'm back in a week.

[2022-05-02 18:28] terracoda commented on #447
Hmm, ok, let's not spend anymore time on this right now, assuming there is no way to set a priority level and have the "Hands no longer locked." response fire first as soon as the model knows the hands are no longer locked.

[2022-05-03 14:40] BLFiedler commented on #465
I agree this helps a lot with finding the target proportion and subsequently maintaining!

I think the value chosen is a good starting point.
- [ ] Would it be possible to create a query parameter for that value to adjust in situ if we find things are problematic for summer usage?

We can plan to get rid of it prior to any publication of the sim with the feature.

[2022-05-09 16:34] zepumph commented on #447
Sounds good. Yeah it is a bummer that the ordering is seemly so closely tied but actually they are coming from far, far away.  Would you like to close this issue?

[2022-05-10 19:16] #465 closed

[2022-05-10 19:30] BLFiedler opened #468 "Update PhET-iO data collection for summer studies"
Progressing data collection from #142 for current needs this summer

[placeholder, to be updated by BF 5/11/2022]

[2022-05-10 22:56] zepumph commented on #468
Note a clapperboard available in the sim preferences now, see https://github.com/phetsims/scenery-phet/issues/739.

[2022-05-11 14:26] #351 closed

[2022-05-11 14:53] KatieWoe opened #469 "CT Cannot find module"
[code]

[2022-05-11 15:12] BLFiedler commented on #468
Copied over and edited from meeting notes:

# Minimum functionality for data collection
## Synchronization
- [ ] Precise Start/Stop to data collection (@zepumph added in https://github.com/phetsims/scenery-phet/issues/739)
  - Don’t want to fully start data collection with press of button, but we can spit out the state at that point. Ignoring stuff before is “asking for trouble”.
  - Button in Pre

[2022-05-11 15:46] zepumph commented on #469
Yeah sorry, one of my two repos' failed to push in webstorm. Normally it can just auto merge so I missed it. Fixed now and CTQ is passing. Closing

[2022-05-11 21:37] zepumph commented on #468
Above I put MediaPipe directly onto the data stream. It is a bit spammy right now, perhaps if we don't have multiple hands, then we just don't set it. Not sure yet.

[2022-05-13 16:46] terracoda commented on #454
@terracoda to let @zepumph how the testing goes.

[2022-05-13 16:57] terracoda commented on #447
@zepumph, will investigate a little bit more.

[2022-05-13 16:58] zepumph commented on #447
Ahha! Priority is working really well here. I can't remember why I thought that announcer options was the only tool here for ordering. @terracoda have a listen. Anything else here?

[2022-05-13 18:48] zepumph commented on #467
At one point I saw that the positions I was comparing were not both 0, one was 0 and the other was .000000004324 or something. So I used this patch, but I can still reproduce the bug. Perhaps I am wrong, or perhaps this is correct, but I still need to do more.

<details>

[code]

[2022-05-13 22:26] zepumph commented on #467
Alright. I fixed it! Though with a workaround; https://github.com/phetsims/scenery/issues/1415 tracks the actual bug.

@terracoda you should never hear a distance progress against the boundary again.

[2022-05-16 18:17] KatieWoe opened #470 "CT Parent already contains child"
[code]

[2022-05-17 16:09] terracoda commented on #467
Not hearing distance progress when dragging with mouse at edges.
There is still some inconsistency with the hint, but I'll comment on that  over in #457 .

Closing this issue. Thanks @zepumph !

[2022-05-17 16:09] #467 closed

[2022-05-18 16:44] #466 closed

[2022-05-18 16:52] #470 closed

[2022-05-20 17:00] zepumph commented on #457
From @terracoda meeting today.

We do want go-beyond-edge responses in voicing to generally be hints, but it is too hard at this point to split this out for anything but mouse (which we already split up).

* There is a bug where the mouse hint go-beyond-edge response is incorrect at the top of the. When unlocked, we just don't get a start hint. When the ratio is locked, there is no hint on start A

[2022-05-20 17:07] terracoda commented on #457
So, @zepumph, just to be clear, the action is to make sure with pointer input:
1. we don't hear the go-beyond-edge response on end drag when we hit the edge
2. we do hear the go-beyond-edge response on start of drag when starting at the edge.

[2022-05-20 19:59] zepumph commented on #457
Alright. I solved the bug. All should be good now! @terracoda can you confirm and feel free to close.

[2022-05-20 20:06] zepumph commented on #467
@terracoda and I ran into this same bug again but with rounding on the max value. I fixed it more generally in https://github.com/phetsims/ratio-and-proportion/commit/652a63396c28f8996b11ecb6df94b70a2d18447c. So I could remove this workaround.

[2022-05-23 18:57] terracoda commented on #457
@zepumph, can you double check when tick marks are turned on. For mouse input, I am not hear the correct hint at the top when tick marks are on. Everything else seems correct, though.

[2022-05-23 19:01] terracoda commented on #457
You need to check both indy sliders and when the hands are locked - the hints at the top are not the special hints.

[2022-05-23 21:18] terracoda commented on #454
I think we need to do some adjusting as the sim doesn't seem to voice consistently.

Two things that seem to happen regularly are:
- when keep the OK fingers, and move my hands the sim often stops talking.
- when I am using the OK fingers and I open my hands, the sim can silence the latest response mid sentence.

What I think we are going for is:
- with OK fingers and active movement, object respo

[2022-05-25 16:24] zepumph commented on #457
Alright. I found the bug. It is the exact same javascript imprecise number bug, but this time in the function when we are snapping to a tick mark. It basically mapped the number 1 -> .999999, after (in the code) when the dragListener ensured the value was correctly 1 :)

I am witnessing good coverage for mouse input go-beyond alerts now. Do you see any other issues?

[2022-05-25 19:05] zepumph commented on #468
Almost everything has been completed here for RAP. I added query parameter values to the constants (which already has tolerances etc). I also instrumented MediaPipe Properties.

Still to do:
- [ ] Double check that all mediaPipe results (unparsed) are as we desire.
- [ ] AccessibleValueHandler is not instrumented, this means we don't get a specific notification about how a keyboard press caused th

[2022-05-25 22:03] KatieWoe opened #471 "CT After startup, only dynamic instances prescribed by the baseline file can be registered."
[code]

[2022-05-26 16:23] zepumph commented on #471
Tracked and fixed in https://github.com/phetsims/sun/issues/761, closing.

[2022-05-26 16:23] #471 closed

[2022-05-27 19:26] zepumph commented on #468
I think I will hold off to hear from @BLFiedler how important instrumenting AccessibleValueHandler is.

[2022-05-27 19:34] BLFiedler commented on #468
It is unlikely keyboard will be used in upcoming studies, so it is alright to exclude. Also falls under the "nice to have" regardless. Not required for study questions at present.

I mentioned this for Quad, but it would be good for the clapperboard sync to appear in the parsed output for sync purposes.

[2022-05-27 20:24] zepumph commented on #431
We haven't posted here in a while, even though we all had a meeting just after the most recent comment. I have completed https://github.com/phetsims/tangible/issues/9, and MediaPipe is now entirely offline, and bundled with the sim (please note https://github.com/phetsims/ratio-and-proportion/issues/464). I think we need to come to a consensus about how we should move forward about brining Ratio a

[2022-05-30 16:22] terracoda commented on #457
You got it @zepumph! I am closing this issue!

[2022-05-30 16:45] terracoda commented on #457
@zepumph, for mouse input, I am getting the hint on mouse up (end of interaction) at the edge, and when I mouse down and a hand is starting at an edge.

Maybe I am miss-understanding something, but I thought for pointer input, we only hear the response on mouse down when starting at an edge, and we won't hear it at end of drag when ending at an edge. For mouse input, when ending at an edge, we hav

[2022-05-30 17:06] terracoda commented on #457
We really are almost there, @zepumph... in comment https://github.com/phetsims/ratio-and-proportion/issues/457#issuecomment-1133130972

We agreed that was possible to not hear the special go-beyond-edge hint response when ending a mouse drag at an edge.

[2022-05-30 17:13] terracoda commented on #457
Let me know if you need to pair to wrap this issue up.

[2022-05-30 17:26] terracoda commented on #457
@zepumph, the issue only happens when hands are locked at challenge ratio. The special hints for the indy sliders are working find with pointer input.

[2022-05-30 17:40] terracoda commented on #457
And it is happening in the context response, not the hint response. OK, best to document this again...

**Mouse Input**
- No go beyond edge responses with mouse input at end of drag
    - NOT working correctly when Ratio locked. When ratio is locked and I use the mouse and end at an edge, I get a special edge response to move in the other direction at end of drag (i.e., when I lift my finger off t

[2022-05-30 17:59] terracoda commented on #447
This is sounding great. Closing.

[2022-05-30 17:59] #447 closed

[2022-05-30 18:06] terracoda commented on #442
I think this issue is deferred for now.

[2022-05-30 18:18] terracoda commented on #454
Media Pipe does not seem to work in Safari.

[2022-05-30 18:37] terracoda opened #472 "Media Pipe does not seem to work in the Safari"
Related to #454, on Mac OS 12.2.1 using Safari, I can't seen to get media pipe to work.
<img width="1029" alt="image" src="https://user-images.githubusercontent.com/1902116/171045564-d25d5185-2ec9-45e3-99b1-1d5df18ba051.png">

I was advised to use Chrome which works well, but am opening this issue in case we need to investigate why it is not working in Safari.

[2022-05-31 19:12] BLFiedler opened #473 "Connect external devices to Ratio and Proportion using Electron/Serial and Bluetooth API"
We're ready to connect some devices to Ratio and Proportion to be used for codesign work.

Creating this issue to log progress or needs for this implementation.

We will plan to create a way to communicate using both Bluetooth and Serial for redundancy purposes.

Serial uses the electron app which was developed for Quadrilateral to communicate with a USB device. Relevant issues might be:
https://g

[2022-06-01 17:08] zepumph commented on #457
Ok. I found the bug, we were removing the go-beyond edge response for the indy hints manually, but not when the ratio was locked. We are now. Let me know if you see any other weirdness.

[2022-06-01 17:36] terracoda commented on #457
Verified Both Hands (ratio locked) for mouse all 3 modes are voicing correctly (No Tick Marks, Tick Marks and Numbered Tick Marks).

Thanks @zepumph. We did it!

Closing this issue.

[2022-06-01 17:36] #457 closed

[2022-06-06 23:00] jessegreenberg commented on #473
@zepumph and I met with progress with Chris and Casey from ATLAS today got a fair amount working.

We have a successful connection one bluetooth device working well, and data from the device is updating the hand positions in RaP.

We ended with some hacky code that tries to make two bluetooth connections with one press of "Request Device".  Sometimes the connection to both devices is successful, o

[2022-06-08 15:29] zepumph opened #474 "ComboBox voicing response on selection broken"
I can reproduce this in the voice combobox in the voicing preferences, and also in the my challenge combo box. I'll take a look. I believe this is a regression, though it could have been part of the design. I thought it should say the selection when you press it. This is broken for mouse and keyboard.

[2022-06-08 15:30] zepumph commented on #474
Discovered while poking around https://github.com/phetsims/joist/issues/813

[2022-06-09 13:40] #434 closed

[2022-06-09 13:44] terracoda commented on #433
We are not taking the path to rename regions, so I am going to close this issue. We can open this issue in the future if we find a need to re-design any described regions (voicing and interactive descriptions). Ideally, scaffolding this complicated should remain the same for both experiences.

[2022-06-09 13:44] #433 closed

[2022-06-09 22:00] jessegreenberg commented on #473
Over slack, Casey reported that a user interaction is required to make a connection request so we cannot batch both connections into a single button press. So we added two buttons, one for each hand that the user can press to connect to each device.

[2022-06-10 19:13] terracoda commented on #454
@zepumph and I discussed mediaPipe implementation June 10, 2022

We want to try the following simplified implementation:
- With active open hands - while we think we might eventually want responses with distance progress, we will first just try with sonification
- When OK-fingers are activated, we will treat that like an end drag, and give the latest response distance-region. AND we will try not t

[2022-06-10 20:28] zepumph commented on #454
Some notes one how to improve the relationship with voicing and mediaPipe from a conversation with @jessegreenberg:

[code]

[2022-06-10 21:22] zepumph commented on #454
Ok. The main updates from the above commit is that now you will only hear distance_region (since we only are supporting the "end drag" case in media pipe at this time. And I improved the detection of the OK_GESTURE such that it behaves much less buggily. @terracoda it is worth a listen, when I am using the OK_GESTURE, even when I move it around, the voicing response currently speaking almost never

[2022-06-10 21:42] zepumph commented on #474
Ahhh, @jessegreenberg, we have broken voicing responses on combobox selection because of voicingVisible. The listbox get's hidden, so we don't hear it even though the combobox code hasn't changed.

https://github.com/phetsims/sun/blob/811a46cb8e395efbbe0e59dd603af474c5d5d045/js/ComboBoxListBox.ts#L311-L326

I'll investigate a way to voice through a visible part of the combobox.

[2022-06-10 21:52] zepumph commented on #474
@terracoda please note here, feel free to test if you'd like and let me know if you run into trouble.

@jessegreenberg, will you give me a spot check here?

[2022-06-13 17:28] zepumph opened #475 "MediaPipe: x-axis flip doesn't work"
@terracoda reported this, I can reproduce.

[2022-06-13 17:30] zepumph opened #476 "OK_GESTURE should freeze hands in position of latest voicing response"
@terracoda had this idea. I like it! This way the voicing that you hear won't seem out of date because you can't move your hands when the OK_GESTURE is in place.

[2022-06-13 18:16] zepumph commented on #476
Ok, this is ready to test, and I feel like it is really cool. good job @terracoda. I also updated the "memory" of detecting the OK_GESTURE from 10 frames to 20 so it takes a bit longer to snap out of the OK_GESTURE. This makes false negatives (where you are doing the gesture but mediaPipe doesn't pick it up) less obtrusive to listing to the whole voicing response.

@terracoda, let me know what you

[2022-06-13 18:21] zepumph opened #477 "MediaPipe: Improve detecting both hands to interact"
Right now, the naive algorithm says mediaPipe is interacting with the sim if two hands are shown. And not if we don't have 2 hands. This means that a single frame that doesn't detect a hand will let go of the hands (release sound and no more sonification). Furthermore, I have found that putting a single hand on the side of your cheek/head in a thinking position often results in a frame or two of i

[2022-06-13 18:25] terracoda commented on #476
The hands are not freezing for me. Do I need a query parameter?

[2022-06-13 19:06] zepumph commented on #477
Alright. This is working well on my side. Closing

[2022-06-13 19:06] #477 closed

[2022-06-13 19:31] zepumph commented on #475
@terracoda and I noticed that the bug is that whatever hand is detected first automatically because the first one. I'll fix this.

[2022-06-13 19:50] zepumph commented on #475
Ok. This bug should now be fixed. Feel free to close.

[2022-06-13 21:38] zepumph commented on #476
There was a bug in phettest, please retest there or in https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.21/phet/ratio-and-proportion_all_phet.html

[2022-06-14 12:33] terracoda commented on #476
Trying with câche cleared and dev tools open :-)

[2022-06-14 13:06] terracoda opened #478 "Missing context response for Challenge combobox (Discover Screen)"
On screen 2, we implemented a context response for when a learner changes the challenge with the number spinners which causes a change in the hands proximity to ratio.

That context response is missing on screen 1.

**I am not 100% sure if it was ever implemented, but I think it must have been because it is well documented, and the response also exists for interactive description in this scenario.

[2022-06-14 19:06] terracoda commented on #476
I have shared the link for more feedback. Hopefully, we get some.

[2022-06-15 19:38] jessegreenberg commented on #473
I was able to play with this demo today, it works very well! The sensors are sensitive enough that I could make distinctions between different proportions on the second screen.

One issue at the moment is that sound does not play while hands move from this input. @zepumph is there a trigger or field that needs to be set to play sound?

[2022-06-15 21:05] zepumph commented on #473
I did a bit of cleanup here. @jessegreenberg and I also talked about getting voicing to work with this. If we get the "mid drag" voicing working over in #454, then we think it would be a good candidate over here too.

[2022-06-16 18:45] terracoda commented on #454
In #476, I decided to freeze the hands & Voice their current state (according to checked preferences) with the OK-fingers gesture.

[2022-06-16 18:58] terracoda commented on #476
This works well, so closing the issue.

[2022-06-16 18:58] #476 closed

[2022-06-16 19:01] #475 closed

[2022-06-16 19:04] terracoda commented on #474
Sounds good.

[2022-06-16 19:28] terracoda commented on #454
I do not know how the design decision in #476 will affect other devices connected through bluetooth described in #478

[2022-06-21 18:36] KatieWoe opened #479 "CT alignBounds should be a non-empty finite Bounds2"
[code]

[2022-06-22 21:35] #479 closed

[2022-06-22 21:42] zepumph commented on #478
This is an extension of https://github.com/phetsims/ratio-and-proportion/issues/474. It looks like I didn't quite get the response completely back in the original fix over there. The context should be fixed now. Feel free to close if all sounds good.

[2022-06-23 00:04] zepumph opened #480 "End drag voicing should only a single time on O-hand gesture"
Instead of hearing "hands, hands hands" while moving the hands, what about just making voicing property centric and triggered when the O-hands begin. I have it working well in my working copy. Coming soon!

[2022-06-23 00:05] zepumph opened #481 "Voicing current context response when mediaPipe hands are stationary"
This was a tendril of #454 that I don't think is currently being tracked.

[2022-06-23 00:06] zepumph opened #482 "Rename OK_GESTURE to O_HAND_GESTURE"

[2022-06-23 00:11] zepumph commented on #481
@terracoda, there is now logic in place such that when you keep your hands still enough, it will speak voicing to you. I wanted to make this the distance progress context response (like we designed and talked about), but couldn't because ofhttps://github.com/phetsims/utterance-queue/issues/83. No matter, please review hearing an end-drag-like response when keeping standard, "open" hands and then k

[2022-06-23 00:11] zepumph commented on #481
This work/research was a precursor to getting the same behavior working over in #473

[2022-06-23 00:13] zepumph commented on #480
This was an improvement that I was able to work out while implementing https://github.com/phetsims/ratio-and-proportion/issues/481. We no longer hear constant voicing responses interrupting each other, and instead only hear voicing at the beginning of the new gesture. In this case, it is the O-hand gesture. When this occurs, the hands still freeze, and we should hear just a single response. If we

[2022-06-23 00:59] zepumph opened #483 "Add voicing to bluetooth input"
Basically this is the current conversation over in https://github.com/phetsims/ratio-and-proportion/issues/473, but I'll make a new issue for it.

[2022-06-23 01:00] zepumph commented on #483
Over in #481 we created logic that is exactly what we want to use here. I have tested it in mediaPipe and it is working well. Next I'll just need to implement in bluetooth and have someone else test it with bluetooth devices.

[2022-06-23 01:18] zepumph commented on #483
Alright, I added bluetooth voicing, and created a dev version. I think we can move forward with testing this with a link like:

https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.23/phet/ratio-and-proportion_en_phet.html?bluetooth&voicingInitiallyEnabled

To get voicing, keep the devices very still (stationary), and you should hear a response. If you move them again, the response sh

[2022-06-23 15:43] zepumph commented on #473
@jessegreenberg, can you take a look at this issue and let me know if there is anything else to do besides https://github.com/phetsims/ratio-and-proportion/issues/483. Are we ready to close?

[2022-06-23 15:50] jessegreenberg commented on #483
That seems like a promising design, I like it! I am no longer able to test the device and setup though, Ill pass to @BLFiedler to comment on next steps to verify this is working.

[2022-06-23 16:18] #474 closed, assigned to zepumph

[2022-06-24 16:09] BLFiedler commented on #483
I've asked Chris to test (and I believe TS did as well) when he is able. I'll also plan on testing on Monday when I'm on campus.

[2022-06-24 16:15] BLFiedler commented on #473
From reports, the connection works well! Agreed that side issues should be create for anything that comes up.

[2022-06-24 17:06] #482 closed

[2022-06-24 17:17] zepumph commented on #422
This seems less than ideal because we don't want out of date information (from the remainder of the drag response). Closing

[2022-06-24 17:17] #422 closed

[2022-06-24 17:27] zepumph commented on #415
@terracoda and I discussed this today. If we changed the accessible names of the indy sliders for description, you could hear `both hands, both hands, both hands` when tabbing through the three inputs. This seems worse than the way it is right now. Over to @terracoda to confirm and close.

[2022-06-24 17:55] terracoda commented on #481
I am going to close this issue. I like the way it is working.

[2022-06-24 17:55] #481 closed

[2022-06-24 18:00] #478 closed

[2022-06-24 19:52] pixelzoom opened #484 "Reimplement ChallengeComboBoxItem"
In https://github.com/phetsims/sun/issues/768, ComboBoxItem is being converted from `class` to `type`.

From https://github.com/phetsims/sun/issues/768#issuecomment-1165735283:

Hmmm... This makes converting ComboBoxItem to a `type` a bit more complicated.  In ratio-and-proportion:

[code]

... and ChallengeComboBoxItem does some work that a `type` cannot.

ChallengeComboBoxItem is a bad design. T

[2022-06-24 19:52] pixelzoom commented on #484
In https://github.com/phetsims/sun/issues/768#issuecomment-1165787587, @zepumph said:

[2022-06-24 20:28] zepumph commented on #481
https://github.com/phetsims/utterance-queue/issues/83 was solved, so now this will be the distance progress instead of the distance region (yay!). Thanks @jessegreenberg.

[2022-06-26 20:56] pixelzoom commented on #484
Since this is a significant change, I published [1.2.0-dev.24](https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.24/phet/ratio-and-proportion_all_phet.html) as a baseline before proceeding.

[2022-06-26 21:06] pixelzoom commented on #484
Done in the above commit.

I noticed that there was a lot of duplication of the ratio constants 1/2, 1/3, 3/4 in ChallengeRatioComboBoxNode.   There was an existing Map that mapped ratio to `capitalized` and `lowercase` strings.  So I extended that Map to include other info about challenges that is needed by ChallengeRatioComboBoxNode.  That eliminated the duplication of ratio constants, and facil

[2022-06-27 00:18] terracoda commented on #483
I only tested with Media Pipe hand gestures and I liked it.

[2022-06-27 15:28] zepumph commented on #484
Looks amazing (obviously). Thanks for doing that refactor. I really appreciate. The code is much better.

[2022-06-27 15:28] #484 closed

[2022-06-27 20:19] zepumph commented on #468
I needed to add PhET-iO instrumentation to a couple more Properties for mediaPipe and bluetooth.j

[2022-06-27 21:52] zepumph commented on #468
I successfully tested a metacog recording loop, and brushed off the dust from the postprocessing script over in https://github.com/phetsims/special-ops/issues/202.

Here is the new version, with added phetioIDs from https://github.com/phetsims/ratio-and-proportion/issues/468#issuecomment-1123911772.

<details>

[code]

</details>

@BLFiedler, can you please take a look at the csv here and let me k

[2022-06-27 22:38] zepumph commented on #483
I met with @BLFiedler, Chris and Casey today and got some feedback about the stationary calibration. We want to make query parameters to control the history length, and threshold, as well as changing the defaults.

[2022-06-27 22:39] zepumph commented on #483
Ok to test here is a link with the query parameters already set to their defaults:

https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.28/phet/ratio-and-proportion_all_phet.html?bluetooth&bluetoothStationaryThreshold=.02&bluetoothHistoryLength=10

Here is the documentation about the parameters, and the defaults.

https://github.com/phetsims/ratio-and-proportion/blob/fd6496d/js/commo

[2022-07-05 16:22] BLFiedler commented on #468
@zepumph, can upload all of the files generated on metacog on 6/29/2022? Including parsed files. If the files aren't too large, you can just e-mail them to me. Otherwise, let me know and I'll create a temporary Drive folder.

There may be additional codesign sessions this summer with Craft lab leading the charge in which case we'll likely want to use this again. Reassign me and we'll leave the iss

[2022-07-06 17:04] zepumph commented on #468
I sent you these files on slack, please let me know if you have any questions.

[2022-07-08 22:46] zepumph opened #485 "Don't publish with the ClapperboardButton in the sim options preferences"
Likely this was just for research, and shouldn't stick around

[2022-07-12 00:25] samreid opened #486 "// eslint-disable-line @typescript-eslint/consistent-generic-constructors"
During https://github.com/phetsims/chipper/issues/1277, I was trying to enable the rule `@typescript-eslint/consistent-generic-constructors` and found one case in RAP that required special handling:

[code]

Since the positionProperty refers to itself in its definition, it cannot be used for type inference.  I added eslint-disable-line for now, but thought you might want to take a look.

[2022-07-15 18:43] zepumph commented on #464
@emily-phet and I discussed this and we want to proceed with publishing this where dependencies are downloaded only when a query parameter is available. I want to discuss at dev meeting though to make sure that the team is OK with us hiding downloads behind a query parameter in a production sim.

[2022-07-18 05:47] emily-phet commented on #431
So, I've refreshed my memory and I think it should be one of the following:
- Computer Vision: Hands (or just "Computer Vision")
- Camera Tracking: Hands (or just "Camera Tracking")

Computer vision is the technical term, but I wonder of "Camera Tracking" might make more sense to a layperson, and also result in better outcomes when translated.
The addition of a specific tracked object may be neede

[2022-07-21 18:26] zepumph commented on #464
Discussed at dev meeting, we think that downloading dependencies, hidden behind a query parameter, is the best path forward. Though 25MB isn't a tremendous amount of data, our global use and general internet access around the world and in offline use cases would suffer from all sims being this large. With that in mind we will download the dependencies.

I was also noted that we have to make sure t

[2022-07-22 16:54] terracoda commented on #374
@KatieWoe, had you already interacted with that screen, or was this the first time you entered the screen and you were entering from the Home page.

Ideally, focus should be placed on the H1 when the screen loads for the first time. I am not sure if that is still the case if a learner is returning to a screen.

[2022-07-22 16:58] KatieWoe commented on #374
It has been a long time since working on this issue, but I would suspect it occurred the first time it was entered/there was no previous interaction, otherwise I think I would have mentioned it.

[2022-07-22 17:05] terracoda commented on #431
I think we need a final query parameter for publication.

[2022-07-22 17:05] terracoda commented on #431
Was there a favorite determined in a recent Status meeting?

[2022-07-22 17:08] emily-phet commented on #431
Status was cancelled last week, so I wasn't able to get input on it. I plan to bring it up next status meeting. If you have a preference, please feel free to weigh in here!

[2022-07-22 17:55] terracoda commented on #415
@zepumph, apologies I just got a new idea!!!! And I think it is simple, but I just noticed the hands are broken when VO is enabled. I'll open a new issue for that.

**My Idea**
Rename all 3 interactions when hands are locked. This would let the learner know the hands are locked when focus is placed on one of the interactive hand objects, and I don't think this would interfere with the object or co

[2022-07-22 17:58] zepumph commented on #374
This behavior occurs every time there is a screen change. I'm not sure why VO is acting up but I believe this was reported in another sim. @jessegreenberg does this ring any bells?

[2022-07-22 17:59] terracoda commented on #415
@zepumph, let me know if you have any concerns about implementing this both for ID and Voicing.

[2022-07-22 18:10] jessegreenberg commented on #374
I encountered something like this recently in https://github.com/phetsims/greenhouse-effect/issues/182#issuecomment-1183745498In that case, focus should move to the observation window heading in greenhouse-effect after "start sunlight" is pressed. In that issue for iOS VoiceOver sometimes it worked and sometimes it didn't. When it didn't work, focus moved to the address bar.

For this case, I have

[2022-07-22 18:22] terracoda opened #487 "Hand Interactions inoperable when Voice Over is enabled"
Mac OS Monterey 12.2.1
Mac Book Pro 13-inch, M1, 2020
Chip Apple M1
Mem 16GB

When VoiceOver is enabled I can used the arrow keys to move the sliders, or to move the right hand when focus is on the Both Hands interaction. The W and S keys still work to move the left hand up and down when focus is on the Both Hands interaction.

Also, just an FYI, when focus is on the Both Hands interaction VoiceOv

[2022-07-22 18:23] terracoda commented on #487
The arrow keys seem to work fine when VO is not enabled.

[2022-07-22 18:43] terracoda commented on #487
On PhET Test
Sliders in Ohm Law work only when pressing the VO keys
- first focus on slider, then Ctrl+Opt+Shift+Down Arrow to enter slider, then VO keys+Arrow keys to move slider
- same for JT

[2022-07-22 18:50] terracoda commented on #487
Same for RaP, strict use of VO's key patterns work fine with the sliders, though there are now issues with the small steps hot key.

[2022-07-22 18:58] zepumph commented on #415
That worked great on my end. Give it a go and tell me what you think!

[2022-07-22 19:21] terracoda commented on #487
**V slider of OL 1.4.12**
[code]

[2022-07-22 19:50] zepumph commented on #374
@emily-phet, should think block publication of RAP?

[2022-07-22 20:37] terracoda commented on #487
Oh my, Quick Nav was on this entire time. There is no bug on teh sliders or on the Both Hands interaction as far as I can tell at this moment in time.

[2022-07-22 20:37] #487 closed

[2022-07-22 20:43] zepumph commented on #415
Even though the both hands div says, "Both Hands, Locked", the name is not read out as that, but instead as "Both Hands". In NVDA and VO.

[2022-07-22 21:09] terracoda commented on #415
I see in the HTML that the `aria-label` attribute hasn't yet been modified to dynamically update.

[2022-07-22 21:13] terracoda commented on #415
![image](https://user-images.githubusercontent.com/1902116/180569339-2ca52902-d5da-4f6c-acf3-2217a99831b2.png)

[2022-07-22 21:20] terracoda commented on #415
I tested the focus events and the responsive descriptions on the sliders and everything sounded really nice. It should work fine with the Both Hands, Locked as well once the `aria-label` attribute dynamically updates.

I can't believe I didn't think of this a year ago.

[2022-07-22 21:22] terracoda commented on #415
@zepumph, please reassign for VO testing once the `aria-label ` is updated.

[2022-07-25 04:37] emily-phet commented on #374
No, I don't think this should block publication.
It sounds like the following is the case:
- The issue is not specific to Rap
- The issue happens only some of the time
- When the issue happens, it's relatively clear a problem has happened (e.g., reading the address bar for GHE, reading from the middle of the scene summary)

If there was a category for: if we had time to at least pin down the sourc

[2022-07-25 04:41] emily-phet commented on #464
@arouinfar @amanda-phet
Are there any examples (either in published sims, website, or artwork somewhere) of alerts? If we could see a few I think that would help us craft something pretty rapidly that seems consistent with PhET's existing look and feel.
Even seeing examples of other kinds of relevant things in a few sims will also help us create a look that is distinct if there is nothing at all l

[2022-07-25 05:22] arouinfar commented on #464
The closest example I can think of is Molecule Shapes, which uses WebGL to render the graphics.  If you run the sim on a device without WebGL enabled, it's a significant downgrade in graphics quality:
https://phet.colorado.edu/sims/html/molecule-shapes/latest/molecule-shapes_en.html?webgl=false

The home screen will have this persistent warning:
<img width="476" alt="image" src="https://user-image

[2022-07-25 05:32] arouinfar commented on #464
One last idea --

The website has the ability to host multiple versions on the same sim page. Perhaps we could do the same for RaP.

For example, Greenhouse Effect has three different versions available to users on its sim page.
https://phet.colorado.edu/en/simulations/greenhouse-effect

If you try to launch the sim from the sim page, you'll be presented with this dialog:
<img width="895" alt="ima

[2022-07-25 13:31] terracoda commented on #431
I like "Camera Tracking" for the same reasons that you like it.

[2022-07-25 13:41] terracoda commented on #374
I also do not think it should block publication.

Based on the structure of the PDOM, in theory (and likely in practice) an miss-placement of focus like this should be relatively easy to recover from....

- oh my focus is now here, that's weird. I want to be on X element.
- learner uses their screen reader to find X element and moves on.

Not a perfect experience, but one that a learner should be

[2022-07-25 15:59] zepumph commented on #486
Thanks for the issue. It worked to just have the type on both sides of the equals sign. If either are removed, there is an error, so it seems pretty self explanatory (hence no added doc). Closing.

[2022-07-25 15:59] #486 closed

[2022-07-25 18:34] zepumph commented on #464
That could work pretty well! I'm not sure we want this prototype feature to be so loud, but if there was a second option below the main sim called "Launch with Camera Tracking enabled (internet required)" that just included the query parameter `?mediaPipe` (to be renamed).

[2022-07-26 04:15] emily-phet commented on #464
I really like the "multiple ways to launch" option, for when mediapipe control is fully fleshed out. I'm not sure about that now for the current state (where only the custom hands are controlled by gesture and there's not much supporting info available for users).

For the current planned RaP situation, the invalid query parameter seems the most aligned with the need - though it will need new text

[2022-07-26 18:11] zepumph commented on #464
@emily-phet are you talking about an alert that will occur if you add the query parameter when offline? If you are trying to have this dialog for an incorrect "value" for the query parameter, it doesn't work on flags like this. Only for values of known query parameters, like `screens=blarg`. It wouldn't know that `?mediaWipe` was a misspelling of `?mediaPipe` (for example).

[2022-07-28 16:47] BLFiedler commented on #431
From Status today:

From EM: Which name for computer vision feature that is tracking hand gestures in Ratio and Proportion:
“Computer Vision: Hands” (or just "Computer Vision")   ******
“Camera Tracking: Hands” (or just "Camera Tracking") *****
Hand Tracking                                                                **
Camera Input: Hands	                                                    ***

[2022-07-29 16:18] terracoda commented on #391
Yep, go ahead and change these two instances to "challenge ratio".

Apologies for coming to this issue so late.

[2022-07-29 16:21] terracoda commented on #344
@BLFiedler and @arouinfar, do any updates need to be made to Legends of Learning as this sim heads to publication again with new features.

[2022-07-29 16:24] terracoda commented on #307
@emily-phet, have you made your tweaks?

[2022-07-29 16:24] terracoda commented on #307
Just asking as we head towards publication.

[2022-08-03 14:27] emily-phet commented on #464
@zepumph - I'm not sure I understand your comment. If it helps, I wasn't suggesting anything related to misspelling as part of the RaP mediapipe solution. Rather, when a correctly spelled mediapipe query parameter is added when the sim is offline, a pop up *like* the "Invalid query parameter* popup appears. Instead of saying "invalid query parameter" it says something like "Hand Input not availabl

[2022-08-03 15:04] zepumph commented on #464
Very much! Thanks.

[2022-08-04 21:35] zepumph commented on #415
[code]

[2022-08-05 16:40] zepumph commented on #472
@emily-phet: "I think this is worth a quick search to see if there is an obvious reason/fix for this."

If it involves more development to work around this, then let's hold off.

[2022-08-05 16:49] terracoda commented on #439
Discussed this on August 5th, and I am closing. We cannot address the issue that causes this tension at this time.

[2022-08-05 16:49] #439 closed

[2022-08-05 16:54] zepumph commented on #456
This issue has a better solution over in https://github.com/phetsims/ratio-and-proportion/issues/415!! There we decided to change the name response of the individual hands to "Both Hands, Locked". Closing

[2022-08-05 16:54] #456 closed

[2022-08-05 16:56] zepumph commented on #415
https://github.com/phetsims/scenery/issues/1436 was the problem, but I was able to make a simple work around and it is now ready for review.

[2022-08-05 17:05] zepumph commented on #431
@terracoda, @emily-phet, and @zepumph really like "Camera Input: Hands".

And the query parameter will look like this: `?cameraInput=hands`

This way we will be able to support multiple types of input, like in the future quad implementation of openCV with `?cameraInput=objectsWithGreenTapeOnThem`.

This flexibility means we won't just use `?cameraInput` as a flag.

[2022-08-05 17:06] zepumph commented on #427
Everything is closed. Closing

[2022-08-05 17:06] #427 closed

[2022-08-05 17:20] zepumph commented on #374
https://github.com/phetsims/greenhouse-effect/issues/182#issuecomment-1183745498In is closed, perhaps this is ready for testing. I'll take a look.

[2022-08-05 17:23] zepumph commented on #344
Marking as blocking until this is marked as not. I'm not sure what the current status of this is.

[2022-08-05 17:24] zepumph commented on #307
This does not block our release. @emily-phet will get to it as time permits.

[2022-08-05 17:25] zepumph commented on #444
Ping on this as we move RAP to publication.

[2022-08-05 17:26] zepumph opened #488 "How to test Camera Input: Hands for publication"
For QA. This issue is mean to document how best to test Camera Input: Hands (media pipe).

This is a new feature, that has never been tested before, and only thus far used for research. It also isn't considered "complete" because it is only set up to control the hands, and not all controls.

**Feature Explained:**
* To enable, add the query parameter: `cameraInput=hands`
* This feature is set up t

[2022-08-05 17:38] zepumph opened #489 "Support mediaPipe hands when ratio is locked"
When the ratio is locked @terracoda, @emily-phet, and I think we should (semi-arbitrarily) choose a primary hand and only use that value to set the ratio.

I like it!

[2022-08-05 17:40] zepumph opened #490 "Support mediaPipe when it only detects 1 hand"
We had left this out for simplicity to begin with, but if we just detect one hand, let's have it map to the first ratio hand. From discussion with @terracoda and @emily-phet

[2022-08-05 17:42] zepumph commented on #490
A potential item to add if not too hard: When flipping x-axis perhaps the single hand applies to the other ratio term.

[2022-08-05 17:49] zepumph opened #491 "Update words in camera input preferences"
Over in https://github.com/phetsims/ratio-and-proportion/issues/431#issuecomment-1206666577 we are now calling things "Camera Input: Hands"

Here are the current preferences:

![image](https://user-images.githubusercontent.com/6856943/183132793-7b152679-dc4c-4b8b-a1ee-1cba67f359d3.png)

Over to @terracoda to design this, and potentially add a sentence/description for each. (don't forget to add des

[2022-08-08 14:56] #485 closed

[2022-08-08 15:02] zepumph commented on #393
Still can't reproduce

[2022-08-08 15:02] #393 closed

[2022-08-08 21:59] zepumph commented on #356
After more investigation, I found that really the solution is to limit the number of times textContent is set to a PDOM element per frame. I made https://github.com/phetsims/scenery/issues/1439 to implement it, but I don't think this issue warrants it at this time. I want to tag @emily-phet in case she would rather implement the PDOM change over in https://github.com/phetsims/scenery/issues/1439 a

[2022-08-10 18:56] zepumph commented on #490
This has been implemented, and flipping the x axis switching what hand the input applies to in the sim. @terracoda please let me know if you have any thoughts here.

[2022-08-10 19:01] zepumph commented on #431
Alright. The query parameter has be renamed to `?cameraInput=hands`. Many code types should likely keep their MediaPipe name, since it is so heavily tied to the implementation. The main goal here was to have a consistent and general public-facing layer. All other work is divided into sub issues. Closing

[2022-08-10 19:04] #431 closed

[2022-08-10 20:34] zepumph commented on #489
Alright. This now works. Similar to #490, you have to use the x-flipped option to change the term that the hands apply to. Please review @terracoda.

[2022-08-10 21:54] zepumph commented on #464
I think I would like to use https://developer.mozilla.org/en-US/docs/Web/API/Navigator/onLine. Using `window.navigator.onLine` may not cover all cases, but @samreid and I were able to find a nice way where we can try/catch the specific failure in the Hands library, and show the offline dialog from there. Committed above.

Here is the first pass of the verbage. @emily-phet will you please wordsmith

[2022-08-10 23:08] samreid commented on #464
I fixed a typo in the commit

[2022-08-11 17:01] zepumph commented on #404
I went through all files. Closing!

[2022-08-11 17:01] #404 closed

[2022-08-11 18:25] zepumph opened #492 "Use typescript to assist in over coupling"
Over in https://github.com/phetsims/mean-share-and-balance/issues/71#issuecomment-1204266977, we have a fun new strategy of using `Pick` to isolate on the items from larger objects (like the model). I would like to try this out! I think it will make constructor signatures a bunch nicer.

[2022-08-12 16:44] zepumph commented on #464
I know @emily-phet is having a crazy week, so I'm going to ask @terracoda to take a first pass at this wording.

[2022-08-12 17:53] emily-phet commented on #464
@zepumph Better late than never I hope!

Let's go with "Camera Input requires an internet connection."

[2022-08-12 18:47] terracoda commented on #464
I'm working on wording for #491 which seems really complicated. I might need help.

[2022-08-12 18:53] terracoda commented on #491
Remove heading "Sim-specific settings".

**Question:** Should this feature eventually exist under the Input Tab? Maybe only once it can be turned on through the Input Tab. Until then, we need to explain the query parameter and the X-Y settings on the General Tab.

So assuming we stick the General Tab for now, here are some potential words to describe this featured input method when it is enabled:

[2022-08-12 18:56] terracoda commented on #491
I think this seems best...

**Camera Input: Hands**
With "cameraInput=hands" enabled, real-world hands move the sim's Left and Right Hands.

Choose camera perspective and orientation for hand operation.
[ ] Flip camera view of hands between frontal and horizontal views
 - Special context responses (no repeat of name response)
     - When checked: Using horizontal view of hands.
     - When uncheck

[2022-08-12 18:57] terracoda commented on #491
@zepumph this would mean the dialog content would look something like this:

**Camera Input: Hands**
With "cameraInput=hands" enabled, real-world hands move the sim's Left and Right Hands.

Choose camera perspective and orientation for hand operation.
[ ] Flip camera view of hands between frontal and horizontal views
[ ] Flip hand operation between mirrored hand control and opposite hand control.

[2022-08-12 19:01] terracoda commented on #491
And the reading block for the first part would be:
"Camera Input: Hands. With cameraInput equals hands enabled, real-world hands move the sim's hands Left and Right Hands."

The heading is read out as part of the reading block when focus lands on the reading block below the heading.

[2022-08-12 19:05] terracoda commented on #491
Note that the checkboxes have the special checkbox "Preferences Menu" context response pattern where the object name is not repeated with the context response.

[2022-08-12 19:06] emily-phet commented on #491
@terracoda Thoughts:
- Yes - this would be perfect for an "input" tab. Let's just have an Input tab for this sim, if that's not a big challenge.
- Can we use "**use your hands** to move the sim's Left and Right hands" instead of "real world hands"?
- Can we use "Customize hand movement" (instead of "choose camera perspective and orientation for hand operation")

I think the intent of the checkboxe

[2022-08-12 19:15] terracoda commented on #491
"Yes - this would be perfect for an "input" tab. Let's just have an Input tab for this sim, if that's not a big challenge."

@zepumph, informed me already that doing sim-specific stuff inside the tabs is really hard at the moment.

Re-wording changes...I'll copy out your simplified suggestions. I had a lot of trouble getting my head around the X & Y axes.

**Camera Input: Hands**
With "cameraInput

[2022-08-12 19:21] terracoda commented on #491
I'll put the artwork request in a separate issue request.

[2022-08-12 19:33] terracoda opened #493 "Artwork needed for Camera Input: Hands"
Over in #491, we are working out the words to describe how customize the hand movement.

**Here's how I currently have it described**

Customize hand movement.
[ ] Flip camera view of hands between frontal and horizontal views
[ ] Flip hand operation between mirrored hand control and opposite hand control

**Here are some sample hand drawings**
![image](https://user-images.githubusercontent.com/19

[2022-08-12 19:43] terracoda commented on #493
These are not very good. Just tryin to get an idea across for frontal camera view with the hands
Directly mirrored, or
<img width="415" alt="hand-mirrored" src="https://user-images.githubusercontent.com/1902116/184431387-0a908ad6-eb43-4745-b6c9-5c87c738523a.png">

Opposite hand control
<img width="491" alt="hands-opposite" src="https://user-images.githubusercontent.com/1902116/184431404-defd8537-0

[2022-08-12 20:51] zepumph opened #494 "Create a Device input selection for Camera Input"
It seemed like much of the problem that @marlitas and I found with using MediaPipe in safari over in https://github.com/phetsims/ratio-and-proportion/issues/472 can be traced back to the fact that PhET wasn't allowing the user to select the available device. I'll try to get that working here.

[2022-08-12 20:57] zepumph commented on #472
@marlitas (who has a mac and safari) and I have investigated this extensively today. We discovered a couple of things.

1. The mediaPipe hands demo worked for @marlitas. https://code.mediapipe.dev/codepen/hands
2. We found that safari by default disables the ability to use media devices (video/audio) from untrustworthy sources. This means localhost! Turn it on with https://stackoverflow.com/questi

[2022-08-12 22:46] zepumph commented on #494
Ok. Lots of great stuff here!

I was able to get an option into the mediaPipe options in which you can select your media device. I was only able to test on my device which just has a single webcam though.
As part of this, we had to ditch using camera and control utils (Good riddance!)

It added a bit of complexity to the code, but all of it is in browser API (via mediaDevices) instead of mediaPipe

[2022-08-13 13:57] emily-phet commented on #356
@zepumph Deferring is fine with me.

[2022-08-15 13:13] terracoda commented on #493
@emily-phet, could you elaborate on what you have in mind for a graphic?

[2022-08-15 13:15] terracoda commented on #493
Maybe we need a sim screen in front of the human hands?

[2022-08-16 14:53] terracoda commented on #415
I hear, "Both Hands, Locked, empty movable" now which is what is expected on VoiceOver for custom draggable objects.

[2022-08-16 14:53] #415 closed

[2022-08-16 15:07] terracoda commented on #491
@zepumph can you update the wording. Then we can decide on which Tab it will go under and what graphics we might need.

[2022-08-16 15:11] terracoda commented on #491
Just retyping the content and the response...

**Camera Input: Hands**
With "cameraInput=hands" use your hands to move the sim's Left and Right Hands.

**Customize hand movement**
[ ] Flip camera view of hands between frontal and horizontal views
 - Special "Preferences Menu" context responses (no repeat of name response)
     - When checked: Using horizontal view of hands.
     - When unchecked:

[2022-08-16 15:25] terracoda commented on #494
Just an FYI, Camera Input seems to be working on Safari now.

[2022-08-16 15:29] terracoda commented on #494
And also, an FYI, if I turn my wireless off after I load "cameraInput=hands" it still seems to work.
It seems to me that one may only need an internet connection to download the software?

[2022-08-16 15:36] terracoda commented on #494
Hmm, my camera is not getting recognized anymore. I am not sure what happened. Maybe device detection is not working perfectly yet. It might be a local setting for my camera, though.

[2022-08-16 16:41] marlitas commented on #494
@samreid and I tested this together and saw the following behaviors:
- The camera input would load correctly at startup, and identified an available camera for use.
- When we tried switching camera inputs (both in Chrome and Safari), we got the error: `Error Loading Camera Input: Hands` `Camera Input requires an internet connection to work correctly.`
- @samreid noticed that the console reported R

[2022-08-16 17:34] zepumph commented on #491
Fixed over in https://github.com/phetsims/friction/issues/289.

I am ready for a review here. I wasn't sure just how much description to add, most was delivered by common code. Let me know what you think!

[2022-08-16 17:36] zepumph commented on #464
I adjusted the wording. I think we are ready to close! Thanks all

[2022-08-16 17:36] #464 closed

[2022-08-16 19:25] #490 closed

[2022-08-16 20:03] zepumph commented on #472
@terracoda was just reviewing this and found that we had to follow step (2) before safari allowed this to work on on phettest (bayes.colorado.edu). She will report back if this setting was also needed for accessing a dev version on phet-dev:

https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.29/phet/ratio-and-proportion_all_phet.html?cameraInput=hands&showVideo

[2022-08-16 20:04] zepumph commented on #491
@terracoda and I went through this for the above commits. Please let me know if there is anything else here!

[2022-08-16 21:07] terracoda commented on #472
This dev link is working fine in Safari with the new Input Device set-up.
https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.29/phet/ratio-and-proportion_all_phet.html?cameraInput=hands&showVideo

Note that one does have to Allow the video camera in Safari's preferences and may even have to do this repeated every time you reload or clear the cache.

[2022-08-16 21:09] terracoda commented on #472
And Camera Input: Hands is also working fine on master with Safari.

[2022-08-16 21:10] terracoda commented on #472
<img width="982" alt="image" src="https://user-images.githubusercontent.com/1902116/184985780-c9b2c2da-c841-4ef5-b289-1999aa8630cd.png">

[2022-08-16 21:11] #472 closed

[2022-08-16 21:28] terracoda commented on #491
Ok, here's the final wording in the dialog.
@zepumph requested that the Camera Input; Hands part have general help text.

<img width="781" alt="image" src="https://user-images.githubusercontent.com/1902116/184988236-f450f22a-06fc-4cc5-9691-cf3522ab66ac.png">

[2022-08-16 21:28] #491 closed

[2022-08-16 21:31] terracoda commented on #489
The locked hands are working well with or with out checkboxes checked.

[2022-08-16 21:31] #489 closed

[2022-08-16 21:33] terracoda commented on #494
FYI, the issue for me was a Safari preference. I had to re-allow camera.

[2022-08-18 21:15] #391 closed

[2022-08-18 21:17] zepumph commented on #356
Sounds good! Thanks.

For next time:

To be clear. I never experienced any performance issues, but I did use the performance tab to see how much computation was going into setting textContent. I believe that they are linked, but have not totally confirmed just yet.

[2022-08-19 16:41] zepumph commented on #493
This is blocking publication of the sim. What are the goals here?

[2022-08-19 16:42] terracoda commented on #493
Personally, I don't think this should block publication as long as the text is understandable.

[2022-08-19 16:51] zepumph commented on #386
We don't support the playback wrapper anymore, so I'm going to close this. I just re-confirmed this is working in the input-record-and-playback wrapper.

[2022-08-19 16:51] #386 closed

[2022-08-19 16:52] zepumph commented on #387
This is fixed in master. Confirmed in the input-record-and-playback wrapper. Closing

[2022-08-19 16:52] #387 closed

[2022-08-19 17:06] arouinfar opened #495 "PhET-iO Design Review"
This sim is already instrumented for PhET-iO and phet-brand will be republished this quarter. @zepumph suggested we consider including the phet-io-brand in the upcoming redeploy. Self-assigning to review the tree and see where things are at.

[2022-08-19 17:12] arouinfar commented on #344
This issue is not blocking, and was ready to close a long time ago, my apologies. LoL uses the latest version of the simulation, so they will automatically get updates.

[2022-08-19 17:12] #344 closed

[2022-08-19 19:23] zepumph opened #496 "Support mediaPipe on insecure sites"
from https://github.com/phetsims/ratio-and-proportion/issues/494 and https://github.com/phetsims/ratio-and-proportion/issues/472, @jessegreenberg and I found that when you are on an insecure site, but set a flag/setting in the browser to still allow media access, you do not get the deviceID. This breaks the implementation for the new MediaPipe selection, as it assumes a blank deviceID means it has

[2022-08-19 21:18] jessegreenberg opened #497 "Empty Node in SimControlsNode adds extra separator to "General" tab"
Reported in https://github.com/phetsims/joist/issues/814#issuecomment-1221091478

The empty content for the "General" tab adds the separator like this
![image](https://user-images.githubusercontent.com/6396244/185708409-63e0bf7c-aab3-462c-9f50-f42ba6674860.png)

Would it be OK to conditionally provide sim controls behind MediaPipeQueryParameters.cameraInput instead of the current default which add

[2022-08-22 15:55] zepumph opened #498 "Move CamerInput=hands preferences to the input tab"
From https://github.com/phetsims/ratio-and-proportion/issues/491#issuecomment-1213422185

[2022-08-22 16:02] zepumph commented on #496
I believe I have this sorted out. It was simple once I understood the problem (something @jessegreenberg was invaluable in assisting with). Committed above.

This code added to the end of the initialize function helped me feel confident!

[code]

From here I will have people test a dev version I made.

@terracoda, can you please make sure this is link is working as expected, and let me know about

[2022-08-22 17:26] terracoda commented on #496
Both work for me!

[2022-08-22 17:59] marlitas commented on #496
Looks great! Nice job and super fun!

[2022-08-22 18:40] terracoda commented on #493
Here's a rough idea with a screen in front of the hands.
![image](https://user-images.githubusercontent.com/1902116/185994774-f4d4aa94-1739-47d9-88f6-311b313b76d2.png)
![image](https://user-images.githubusercontent.com/1902116/185994812-0452ceab-67bc-4853-a24d-8f87b6172e79.png)
![image](https://user-images.githubusercontent.com/1902116/185994901-f7fcca9a-68f4-4d9b-805d-095a7e8c4733.png)

[2022-08-22 19:18] zepumph commented on #493
It isn't clear to me what artwork you are interested it. What size generally do you want this? Is it an icon? Something for the options dialog as well as the website if we were going to filter on it/put it next to sims that supported it? Perhaps the "screen" portion of it should be general and not sim-specific. Like two hands and a blurry screen background or something. If you were trying to have

[2022-08-23 01:27] terracoda commented on #493
I hadn't considered a blurry screen. That's and interesting idea.

And actually, it needs to be very simple - iconic in nature and ideally black and white. I was just using the image from the home screen button because I can't seem to draw.

Ideally, a screen on an angle with hands in front would be good.

[2022-08-23 14:08] terracoda commented on #493
I think we may need better images of the hands, but I think we are getting closer to simple and iconic.

[2022-08-23 14:17] terracoda commented on #493
Another options for

[ ] Flip camera view of hands between frontal and horizontal views
![image](https://user-images.githubusercontent.com/1902116/186181906-6835598b-c725-49f8-8991-98e245448b29.png)

[2022-08-23 14:18] terracoda commented on #493
@emily-phet and @zepumph, assigning to you both for comment.

[2022-08-23 15:20] terracoda commented on #493
**Camera Input: Hands**
With "cameraInput=hands" use your hands to move the sim's Left and Right Hands.

[ ] Flip hand operation between mirrored hand control and opposite hand control
![image](https://user-images.githubusercontent.com/1902116/186177319-4a737c7c-4100-4f6e-a482-ab6d7bad4ab1.png)

**Customize hand movement**
[ ] Flip camera view of hands between frontal and horizontal views

[2022-08-23 15:34] zepumph opened #499 "Support dynamic layout for changing locales"

[2022-08-23 15:35] zepumph commented on #499
From a first pass, here is what it seems like we still will need to do:

- [ ] Support accessibleName, innerContent, and labelContent
- [ ] Support Voicing responses
- [ ] Support Keyboard help dialog common code
- [ ] Support AccordionBox title with dynamic layout

[2022-08-23 15:52] emily-phet commented on #493
@terracoda Did you reach out to @Ashton-Morris about this? If not, I can ask him if he could put something together quickly for this when I have some afternoon meetings with him. JB is out so we'll have time for that.

[2022-08-23 21:09] Ashton-Morris commented on #493
I am going to brainstorm and try to come up with some ideas.

[2022-08-24 00:56] terracoda commented on #493
Thanks @Ashton-Morris, I forgot to reach out to you.

[2022-08-24 18:25] zepumph commented on #496
Yay! Thanks you two. We will move towards a QA test.

[2022-08-24 18:25] #496 closed

[2022-08-25 15:20] BLFiedler commented on #468
Closing as completed for this round.

[2022-08-25 15:20] #468 closed

[2022-08-26 21:04] zepumph commented on #494
I think issue is solved since finishing up https://github.com/phetsims/ratio-and-proportion/issues/496. Ready to close.

[2022-08-26 21:04] zepumph commented on #498
This has been done over in https://github.com/phetsims/joist/issues/835

[2022-08-26 21:04] #498 closed

[2022-08-26 21:25] #494 closed

[2022-08-26 21:28] zepumph commented on #497
Yes indeed! I'm doing that now in RAPPreferencesModel since https://github.com/phetsims/ratio-and-proportion/commit/36135be4eb90bf99da8f6b16d5be7231e0535b5f.

Note though that this is in the input tab, so there isn't worry of an extra separator line, but instead the whole input tab being present and blank. Closing

[2022-08-26 21:28] #497 closed

[2022-08-26 21:33] zepumph commented on #492
I took a look into this, but there were often more spots that items were coming from than I expected, and so this didn't make a lot of sense. In other cases, we were packing them all into options, so I didn't really want to `&` the options type with a Pick call. It seemed more confusing that just listing things. Closing

[2022-08-26 21:33] #492 closed

[2022-08-26 21:53] zepumph commented on #499
Another pass after https://github.com/phetsims/scenery/issues/1442, in general it isn't going to be easy to convert describers, it is just a lot of content that is depending on strings. I don't think I'm going down that path.

[2022-08-27 02:29] samreid commented on #499
I pushed a workaround for a type error:

[code]

[2022-09-01 19:00] Nancy-Salpepi commented on #488
@zepumph I see there is a gesture to get the hands "free" but is there a gesture that stops the hand motion or do I have to remove the query parameter/turn off camera if I want that to occur?

[2022-09-01 19:31] zepumph commented on #488
Sorry. That was a typo. That gesture will "freeze" the hands in place, and the lack of that gesture will free them back up for movement.

[2022-09-02 12:53] Nancy-Salpepi opened #500 "Using Camera Input: Hands results in incorrect ratios"
**Test device**
MacBook Air m1 chip

**Operating System**
macOS 12.5.1

**Browser**
Safari + chrome

**Problem description**
For https://github.com/phetsims/qa/issues/831, when using Camera-input:hands, the color changes to dark green and the happy chime is heard before the correct ratio is obtained. For example, with the 1-10 scale and Challenge 1: if my left hand is at 2, the happy chime will be

[2022-09-02 14:20] zepumph commented on #500
This is a purposeful design decision due to the inherent inaccuracies with hand movement. If it seems totally way too graceful we can discuss further. Feel free to close.

[2022-09-02 15:51] Nancy-Salpepi commented on #500
@zepumph I feel like it might be a bit confusing for learners to understand what a ratio is if there are multiple correct answers for the same challenge... 1:1.5, 1:2, 1:2.5

[2022-09-02 16:57] Nancy-Salpepi opened #501 "Error message appears with camera input: hands + voicing"
**Test device**
macbook air m1 chip

**Operating System**
macOS 12.5.1

**Browser**
Safari 15.6.1

**Problem description**
For https://github.com/phetsims/qa/issues/831, the sim freezes when using camera input: hands and voicing.
I was able to get it to occur 3 times. I didn't feel like I was doing anything in particular....just moving my hands up and down, stopping every once in a while, making t

[2022-09-02 17:46] Nancy-Salpepi commented on #501
I was also able to reproduce this with mac + chrome (although I still don't know exactly what triggers it).

I was incorrect though--the sim isn't frozen. The error message keeps increasing in number so the performance is affected. The voicing still works and buttons make noise, but any changes I make don't appear on the screen.

https://user-images.githubusercontent.com/87318828/188209034-25b3b55

[2022-09-02 18:15] samreid opened #502 "CT error: ordinal should match, expected: first, actual: ‪first‬, Position: 0.1, TickMarkView: VISIBLE, tick mark range: 10"
Unit tests are failing with:

Discovered in https://github.com/phetsims/joist/issues/844

@zepumph can you please investigate or advise?

[2022-09-02 18:32] Nancy-Salpepi opened #503 "What should happen when one hand is used?"
**Test device**
macbook air, m1 chip

**Operating System**
macOS 12.5.1

**Browser**
Safari 15.6.1

**Problem description**
For https://github.com/phetsims/qa/issues/831, @KatieWoe and I both interpreted

to mean, that if my right hand was down, and I was only using my left, the hand on the left side of the screen would move. If I was using only my right hand, the hand on the right side of the scr

[2022-09-02 18:33] KatieWoe opened #504 "Circle hand symbol doesn't freeze hands with large movement"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/831
I noticed that the gesture freezes the hands well if you aren't moving too much, but if you try to drop your hands or move them a lot, the hands move again. This seems to be the intended behavior to pair with voicing. However, I was trying to use it to keep the

[2022-09-02 19:25] KatieWoe opened #505 "Sim freezes momentarily while camera activates"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/831
When starting the sim with the camera inputs, the sim seems frozen for up to a few seconds and clicking or mousing over things don't seem to work. The sim then starts and runs smoothly. I suspect the camera is activating at this time, but it isn't necessarily ob

[2022-09-06 18:58] Nancy-Salpepi opened #506 "hand moves position in play area when my hand moves out of camera view"
**Test device**
MacBook Air m1 chip

**Operating System**
macOS 12.5.1

**Browser**
Safari 15.6.1

**Problem description**
For https://github.com/phetsims/qa/issues/831, with camera input: hands:

When I move my left hand too high or too low so that it is out of camera view, the left hand on the screen will jump to the same position as the right hand on the screen. This doesn't happen if I move my

[2022-09-06 19:41] Nancy-Salpepi opened #507 "Standard PhET-iO wrapper isn't always in correct state with Ratio Lock on"
**Test device**
MacBook Air m1 chip

**Operating System**
macOS 12.5.1

**Browser**
Safari 15.6.1

**Problem description**
For https://github.com/phetsims/qa/issues/831, in the Studio wrapper on the Create Screen:
Creating my own challenge and then locking the ratio will result in an incorrect state in the standard PhEt-iO wrapper. The hands will be in different positions and the checkbox will not

[2022-09-06 20:04] Nancy-Salpepi opened #508 "Cannot open debug version with mac + safari"
**Test device**
MacBook Air m1 chip

**Operating System**
macOS 12.5.1

**Browser**
Safari 15.6.1

**Problem description**
For https://github.com/phetsims/qa/issues/831 but also seen in other recent tests (ex. https://github.com/phetsims/qa/issues/830), the debug version doesn't open with safari. An error message appears in the console. It also happens after I build a version on master.

<img widt

[2022-09-06 22:51] KatieWoe opened #509 "Hand control is not paused when a dialog is open"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/831.
When a dialog, such as the preferences menu, is open, typically the controls to the sim behind it pause. With the hand controls, this is not the case. This can lead to some odd seeming behavior. In particular, I had voicing for the sim occur as I was trying to

[2022-09-07 15:39] zepumph commented on #495
With the need to support dynamic locales, this sim is no longer marked for PhET-iO publication. Deferring and unassigning.

[2022-09-07 16:03] zepumph commented on #374
I was not able to consistently reproduce this today. Sometimes it was at the top of the sim, and sometimes it went to the address bar. I never had it go to the control panel components. Recognizing https://github.com/phetsims/ratio-and-proportion/issues/374#issuecomment-1193568649 and our current timeline, I'm going to mark this as deferred.

[2022-09-07 21:51] samreid commented on #508
@zepumph and I built a local version with `grunt --brands=phet --minify.minify=false` and observed this stack trace when running:

http://localhost/main/ratio-and-proportion/build/phet/ratio-and-proportion_all_phet_debug.html

<img width="789" alt="image" src="https://user-images.githubusercontent.com/679486/188989641-96b90c0e-64d1-4904-aceb-2c9571ac8548.png">

We also observed that for the local

[2022-09-07 22:43] samreid commented on #508
We are in uncharted waters.  The google search `"cannot access uninitialized variable" "webpack" safari` has only 4 results.  We know it is a webpack problem because thing work in unbuilt mode with `public static` class attributes.  Running transpile even for the debug versions "patches" the problem though (or makes it so webpack is OK with it), but does make the debug code a bit uglier (combines

[2022-09-07 23:04] zepumph commented on #508
I also want to add that we updated to webpack 5.74 and the problem still persisted.

[2022-09-08 15:47] Nancy-Salpepi commented on #501
With Win10 + FF, I left the sim open for 30 minutes with the camera input: hands and voicing activated. When I returned, there was a message that FF crashed.
![firefox crashed](https://user-images.githubusercontent.com/87318828/189166984-374af21a-7283-4319-bc7f-1777f6f91f32.JPG)

[2022-09-08 17:20] zepumph opened #510 "Camera Input causing browser crash"
Over in https://github.com/phetsims/ratio-and-proportion/issues/501#issuecomment-1240899536 @Nancy-Salpepi reported a memory leak that crashed the browser after 30 minutes:

![firefox crashed](https://user-images.githubusercontent.com/87318828/189166984-374af21a-7283-4319-bc7f-1777f6f91f32.JPG)

[2022-09-08 17:23] zepumph commented on #501
I played around for about 10 minutes and couldn't reproduce, that said. The error message is really helpful, and I'm pretty sure that I can make this graceful, because from the best of my understanding, this is from the library, and not from our code.

RE: https://github.com/phetsims/ratio-and-proportion/issues/501#issuecomment-1235761633, it is expected that an error like this would completely cr

[2022-09-08 18:21] jonathanolson commented on #508
Dev meeting: we'll add minimal transpilation, AND notify webpack.

[2022-09-08 21:34] samreid commented on #454
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-08 21:34] samreid commented on #459
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-08 21:34] samreid commented on #473
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-08 21:51] zepumph commented on #508
@samreid will you please pull all and confirm this is fixed to unblock this issue?

[2022-09-08 22:06] #473 closed

[2022-09-08 22:29] #454 closed

[2022-09-08 22:29] #459 closed

[2022-09-08 22:47] zepumph commented on #510
I'm not too sure about this. I had the sim running for 30 minutes and took a memory snapshot after and before, and they were only 1MB different. I will test again, this time on firefox, and see if I can get anything to reproduce. It doesn't immediately strike me as a memory leak anymore.

[2022-09-08 23:01] zepumph commented on #507
I can't reproduce this on master. I believe this is a great example of how https://github.com/phetsims/axon/issues/409 is saving us time in state setting. Tagging @samreid here (yay!). The lockedProperty for the ratio can change the enabledRangeProperty in a listener, and the value of it is checked on in the tupleProperty listener.

@Nancy-Salpepi can you please confirm fixed on master and feel fr

[2022-09-08 23:03] zepumph commented on #505
Yea. I'm not sure if there is any way around this. The sim freezes because it loads the media pipe library content. I can experiment with using asyncLoader locks, but we will need/want to have an offline dialog after the load time if internet is off. So I'll need to take a closer look.

[2022-09-08 23:58] Nancy-Salpepi commented on #507
Yes! Looks good @zepumph! Closing.

[2022-09-09 01:01] Nancy-Salpepi commented on #507
Sorry @zepumph. I need to reopen this.
I just tried it in the State wrapper on master and I get an "assertion failed" error when setting the state  a second time with Ratio Lock on.

Steps:
1. In the State wrapper, go to the create screen
2. Set state rate = 0
3. Change my challenge (2:1) and move hands to reach challenge
4. Check Ratio Lock
5. Press Set State Now button
6. Go back to the upstream

[2022-09-09 04:53] samreid commented on #508
I pulled, inspected the commit, built with `grunt --brands=phet` and tested locally at http://localhost/main/ratio-and-proportion/build/phet/ratio-and-proportion_all_phet_debug.html in Safari with "Empty Caches" and no dev tools open. It launched and ran well.  If that all sounds good, perhaps this issue can be closed.

[2022-09-09 11:55] Nancy-Salpepi opened #511 "Sim doesn't load with Preview HTML in Studio"
with macOS 12.5.1 and safari 15.6.1

For https://github.com/phetsims/qa/issues/831 in the studio wrapper:
After pressing Preview HTML, copying and saving code as html in atom, the saved sim will not load. The screen is white with several errors in the console.

I was able to replicate this on master using both Ratio and Proportion and Gravity and Orbits (FYI @samreid), but not with the most recent

[2022-09-09 15:17] samreid commented on #511
I think there is a constraint for the “unbuilt” mode that the wrapper has to be put in a certain relative path to be able to find things. Oh, and it looks like a transpiler has to be running too? I saw a path to chipper/dist.  This may not work. We will have to decide as a team whether (a) QA team should be able to test unbuild mode studio file save or (b) testing should only be done on built vers

[2022-09-09 16:09] terracoda commented on #483
@BLFiedler, is there anything that needs to be added to this issue? Can this issue be closed?

[2022-09-09 16:31] zepumph commented on #499
I just realized that this effects the PhET brand too, because the all HTML will have a localization tab, so I think I need to support this generally.

[2022-09-09 16:36] zepumph commented on #500
Here are the current fitness values, we can definitely decrease it a little bit to improve this usability. @terracoda and I think it is up to @BLFiedler and @emily-phet to decide if we should lessen this value.

[code]

So .3 is the current value.

Can you please test with https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.31/phet/ratio-and-proportion_all_phet.html?cameraInput=hands

[2022-09-09 16:47] zepumph commented on #503
Yes, although we were totally aware of this behavior, and thought it would be acceptable for this publication, @terracoda and I just had a fun idea! We can have the current behavior be the general default, but then if the hand is located in the "other half" of the screen, we will make it map to the other sim hand. I don't foresee this being too challenging, but if it takes a while to implement we

[2022-09-09 16:54] zepumph commented on #504
This is definitely a bummer, but we have not really set up a way to stop interacting with MediaPipe at this time. We will need to handle this later when we develop a more complete Camera Input featureset (next publication).

As for the "freeze" gesture, @terracoda and I have both felt like it could be a bit more responsive, I will take a look to see if I can improve on it without sacrificing the s

[2022-09-09 16:54] BLFiedler commented on #483
Yup. All this was working fine. We'd like to retain those query parameters for future use as a note.

[2022-09-09 16:54] #483 closed

[2022-09-09 16:59] zepumph opened #512 "What to document about Camera Input: hands"
@terracoda and I are finding that we are asking quite often what information will need to be given about camera input to our users. We will add stuff here as it comes up.

* Hidden under `cameraInput=hands`
* Load time warning (couple second lag on startup)
* Single hand use
* Only supported for the hands interaction
* `showVideo` can help to calibrate where you are interacting with the webcam.
*

[2022-09-09 16:59] zepumph commented on #512
Tagging @emily-phet and @BLFiedler if they have any other items to communicate.

[2022-09-09 17:01] zepumph commented on #509
It would be nice to brainstorm some suggestions about how to hand this generally. Perhaps with @jessegreenberg.

[2022-09-09 17:10] BLFiedler commented on #500
I'm sorry, this was happening in issue #465 and was set to experiment with summer data collection and I did not revisit the default value for publication purposes. Thanks for catching this @Nancy-Salpepi!

It is nicer to have it slightly wider than the default 0.025, but 0.3 is actually a bit too much. I had used the query parameter to adjust this during summer experimentation/studies.

`mpInPropo

[2022-09-09 17:13] BLFiedler commented on #500
Happy issue number 500? 🥳

[2022-09-09 18:54] Nancy-Salpepi commented on #501
@zepumph I wasn't able to reproduce with Win10 + chrome and @KatieWoe mentioned that she wasn't able to either with Win11 + chrome. Perhaps this is a mac thing?

[2022-09-09 21:27] zepumph commented on #511
It is expected that this will not work in unbuilt mode, but it should definitely work in the build version of the sim. I followed these steps and was able to successfully load the standard wrapper via copy/paste with "preview".

* Go to https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.31/phet-io/wrappers/studio/
* click on Preview HTML Button
* copy and paste the text into a file

[2022-09-09 22:07] zepumph commented on #500
Excellent! Done above, @Nancy-Salpepi please test and make sure all is good for you.

Also, since we are moving towards publication, I renamed the query parameter from `mpInProportionThreshold` -> `cameraInputInProportionThreshold`

[2022-09-10 05:08] emily-phet commented on #512
Potentially - tips or nuances related to practical use scenarios, such as:
- An explicit indicator that there are two likely usage scenarios - the vertical and horizontal hand movement.
- If there are any likely collaborative scenarios that *don't* work well. i can't recall if two people standing next to each other can each contribute a hand or not...I think perhaps they can if their other hands a

[2022-09-10 09:18] terracoda commented on #512
Yes, two people can each hide a hand use their shown hand to operate the sim.

[2022-09-12 12:25] Nancy-Salpepi commented on #511
@zepumph--It is working correctly for a built version after trying again. I went back to my original file and I could see that there was no Target API version listed as there should be, so I must have been in an unbuilt version. Sorry about that.

[2022-09-12 12:25] #511 closed

[2022-09-12 13:40] Nancy-Salpepi commented on #500
This range is looking much better @zepumph!

[2022-09-12 17:29] KatieWoe opened #513 "Camera Input is basically unusable on iPad"
**Test device**
iPad 6th Gen
**Operating System**
iPadOS 15.6.1
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/qa/issues/831. When using camera input on the iPad the sim lags so badly that it is essentially unusable. In addition, the camera on the device has trouble picking up movement on top of this.

**Visuals**

https://user-images.githubusercontent.com/41024075/1897

[2022-09-12 17:29] jessegreenberg commented on #509
I think it is OK that hands continue to control the sim while the dialog is open - sims generally continue to animate while dialogs are open.  If we decide to change this I think that will be a larger decision for PhET.

I expected sim voicing to stop while the dialog is opened, maybe there is a loose end in joist about this. If this part is fixed that might be enough for this issue.

[2022-09-12 19:26] KatieWoe opened #514 "Voicing cuts off when you click on a hand"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/831.
When you click on a hand with voicing it will describe the hands, then start to say you can move them, but cut itself off.
**Steps to reproduce**
1. Turn on voicing and check the three checkboxes
2. Go to one of the pages
3. Click on one of the hands and listen

[2022-09-12 19:29] BLFiedler commented on #512
I think we considered restricting handedness via built in MediaPipe, but did not implement it, so either participate can contribute either of their hands. I believe it just looks for whichever hand is left/right-most.

Just adding some clarification on what calibration means in bullet list below.

Also adding point about performance on low-spec devices.

_Updated list:_

* Hidden under `cameraInpu

[2022-09-12 19:32] BLFiedler commented on #512
Where would we like to document this? Parts of this should find their way into the teacher tips, but only points relevant to how to integrate into a teacher's classroom (so the collaborative scenarios is a good point and what priority the sim makes of hands in view, as well as performance issues)

[2022-09-12 19:50] terracoda commented on #512
Should we sheet explaining all of the above linked in the teacher tips?

[2022-09-12 20:50] KatieWoe opened #515 "Some strings are no longer translated"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/831.
The "Challenge 1," "Challenge 2," "Challenge 3," and "Ratio Lock" strings are no longer translated in any language, even though they may be in the published sim.

**Visuals**
<img width="511" alt="Nottranslate2" src="https://user-images.githubusercontent.com/41

[2022-09-12 21:13] KatieWoe opened #516 "Translations may now overlap objects or be too long to be fully shown"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/831
Strings that are longer than in English now overlap other objects, when they did not in published. This seems to only be seen in existing translations, not with string tests.

**Visuals**
<img width="960" alt="toolong2" src="https://user-images.githubusercontent

[2022-09-12 22:47] KatieWoe opened #517 "Voicing may repeat itself in studio"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/831
When I turn voicing on or off in Studio it repeats itself. I.E. it says "Voicing off, voicing off" but it doesn't seem to do so in the main sim, or when the sim is launched.
**Steps to reproduce**
1. Go to studio
2. Turn on voicing in the sim
3. Turn off voicing

[2022-09-12 22:57] zepumph commented on #517
This is byproduct of the fact that Studio creates archetypes. The code in VoicingPanelSection assumes that it has total control over the voicingProperty changing. Instead of adding voicing code to a Property listener, can we make it occur in response to user input on the toggle switch that this voicing dialog section controls. We could also not add this listener if we know we are an archetype, but

[2022-09-12 23:09] zepumph commented on #513
@emily-phet is this acceptable, or should we work on iPad performance here?

[2022-09-12 23:11] zepumph commented on #516
Yes, this is expected as of now because I didn't realized we needed to support this for this release, but it will be covered in https://github.com/phetsims/ratio-and-proportion/issues/499. Please note that issue for all dynamic layout/i18n/ dynamic locale changing.

[2022-09-12 23:12] zepumph commented on #512
No strong preference, it seems like something that should be supplementary to the sim, so teacher tips, the research page, maybe both? A blog post somewhere by one of us about our "exciting new research"?

[2022-09-12 23:13] zepumph commented on #508
Yes that seems right to me, if I felt like I was <1 hour to a simple, reproducible case to give to webpack, then I think it would be worth it, but this workaround seems more than reasonable given our current priorities and schedule. Closing

[2022-09-13 04:59] emily-phet commented on #513
I'm a bit surprised by this. It sounds like two issues - 1) performance, and 2) tracking.
Re 1) I would have expected ok performance from a newer generation iPad, but that certainly doesn't seem to be the case. Re 2) I wonder if the challenge picking up hand motion stems from the lighting in the room - since it appears there's a bright overhead light.

I don't think we should address performance i

[2022-09-13 05:06] emily-phet commented on #512
I think we should do a few things:
1) make a very short video (similar to the sound primer") that goes with this sim. That way any other place we provide info can refer to the video, simplifying some of the text.
2) A short section in the teacher tips with a bullet list that mentions all of these things. Since it's a new feature I think all of these are relevant, and if we keep it short and sweet

[2022-09-13 14:43] KatieWoe commented on #513
The trouble picking it up seemed to be more the size of the camera and the logistics of having it point at the user while still having free hands. The lighting didn't seem to be an issue, I was more having trouble getting both hands in screen and having room to move them.

[2022-09-13 16:14] zepumph commented on #510
I had this link open all afternoon yesterday, and even this morning it hadn't yet crashed my browser, I'll keep testing.

http://localhost:8080/ratio-and-proportion/ratio-and-proportion_en.html?brand=phet&ea&debugger&voicingInitiallyEnabled&printVoicingResponses&preferencesStorage&cameraInput=hands

[2022-09-13 16:14] zepumph commented on #510
Maybe it is the built version only!?!

[2022-09-13 16:52] stemilymill commented on #513
I tested on chromebook to see if the performance is an issue. It was still laggy, but significantly better than on my ipad, and i would definitely consider it useable.

[2022-09-13 18:04] KatieWoe opened #518 "Arrows are always in state"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/831. The arrows around the hands do not disappear in state after the hands are moved. I thought at first this might be intended so that the arrows show up when you launch a sim in studio after putting the hands somewhere new. However, this is not the case according

[2022-09-13 19:45] KatieWoe opened #519 "NVDA - Space and Enter may not exit dialog"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/qa/issues/831. Seen with NVDA. Haven't been able to reproduce again, so I'm not sure of the exact cause. When trying to exit the Keyboard Nav dialog, pressing enter or space with the x highlighted got rid of the highlight, and tabbing did nothing. It didn't even leave the si

[2022-09-13 20:08] KatieWoe commented on #519
I think I figured out how this happens. If the reading enters into the dialog, or you use arrows to start reading it, then this starts to happen.

[2022-09-14 16:18] zepumph commented on #502
Thanks. It was because we introduced embedding markings into strings that were using triple equals comparison. I don't want to change the sim code at all, but I used stripEmbeddingMarks for the tests. Closing

[2022-09-14 16:18] #502 closed

[2022-09-14 17:05] samreid commented on #508
Noting that Safari 16 was released today.  I tested https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.31/phet/ratio-and-proportion_all_phet_debug.html with dev tools closed and cache empty, and it worked OK on safari Version 16.0 (17614.1.25.9.10, 17614).

@zepumph should we change anything?

[2022-09-14 20:37] Nancy-Salpepi opened #520 "Some preferences maintained when opening standard wrapper"
**Test device**
MacBook Air (m1 chip)

**Operating System**
MacOS 12.5.1

**Browser**
Safari 15.6.1

**Problem description**
For https://github.com/phetsims/qa/issues/831 and related to https://github.com/phetsims/joist/issues/744
STUDIO: In the audio tab of the preferences menu, the following states carry over to the standard wrapper:
      - Audio features off
      - Sounds off
      - Extra so

[2022-09-14 21:24] zepumph commented on #520
We spoke about this during PhET-iO meeting today, and confirmed that "preferences" in general should not be stateful (persisting through to the standard wrapper). General audio (audioManager.enabledProperty) should be stateful. We will make sound and extraSound phetioState:false.

[2022-09-16 16:52] zepumph commented on #519
This is very helpful issue for me to see come in. Thank you!

TLDR: This isn't a problem, and I recommend updating QA doc to reflect that and closing.

This isn't a bug or problem at all, but rather just a feature of screen readers, and one that I'm happy for the opportunity to make sure the QA team understands. I don't want to over explain, but I feel like it is important to be complete, so I'm s

[2022-09-16 17:09] jessegreenberg commented on #519
Yes, that is right - this is the expected behavior for reading with the virtual cursor. @KatieWoe hopefully that makes sense, let us know if you have further questions about this.

[2022-09-16 17:24] jessegreenberg commented on #517
VoicingPanelSection makes this assumption but so does PreferencesToggleSwitch. I think the way to fix this is to instrument ToggleSwitch similarly to Checkbox. It looks like the way is already paved by sound code in ToggleSwitch so this may not be too bad.

But the tricky part for the Voicing PreferencesToggledSwitch is that it still needs to use `speakIgnoringEnabled`. So we might need to forward

[2022-09-16 17:47] jessegreenberg commented on #517
- Is this also an issue for "Sim sound on/off" responses? Those are alerted way over in NavigationBarToggleButton (also linked to the Property). Do we need to speak these identical responses through both the NavigationBarAudioToggleButton and the PreferencesToggleSwitch for "All Audio"?

[2022-09-16 19:22] samreid commented on #520
I applied the patch and regenerated API files, closing.

[2022-09-16 19:23] samreid commented on #520
Or perhaps a review phase would be good if there's time?

[2022-09-17 15:01] zepumph commented on #520
Yes great thanks.

[2022-09-17 15:01] #520 closed

[2022-09-19 14:42] KatieWoe commented on #519
Sounds good. Thanks

[2022-09-19 14:42] #519 closed

[2022-09-23 21:15] jessegreenberg commented on #444
Sorry it has been a while but the commits here look good. Setting tagName to null makes sense. The new assertion for this has not uncovered any new problems. Closing.

[2022-09-23 21:15] #444 closed

[2022-09-28 19:32] terracoda commented on #493
These look way more interesting than the ones I hacked together.

I personally like this straight on perspective as I can see the letters there the best.
![image](https://user-images.githubusercontent.com/1902116/192872117-4849dc8c-59eb-4ece-946f-b4085c54fcee.png)

[2022-09-28 20:47] emily-phet commented on #493
I like the straight on perspective, or the upper left one in your comment above.
Let's have the sim hands look like the hands in the sim RAP, and distinguish them from the representation of the real human hands.
Also - if the dimensions of the screen could be narrower, that would be great. Right now it looks more like a TV than a computer screen to me.

[2022-09-29 00:45] terracoda commented on #493
The one in the upper left was my second favourite

[2022-10-04 14:49] samreid commented on #461
Discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs remaining in the code. Reopening.

[2022-10-04 16:26] zepumph commented on #508
If that is the case, I think we should revert the commit. I did so above. Can you please pull and build locally and confirm things still have the behavior you expect?

[2022-10-04 18:03] Ashton-Morris commented on #493
Update: I have made it more like a monitor a bit. Also added the Sim hands.

Should the sim hands be intentionally red still or do you all think black and white only would be best?
![Screen Shot 2022-10-04 at 12 02 17 PM](https://user-images.githubusercontent.com/34492870/193892759-13bb775c-ed43-4342-bc59-3b0664f006c8.png)

[2022-10-05 15:33] KatieWoe commented on #514
I'm pretty sure this is a bug. Just clicking the hands is done to check their position, no movement happens. And a partial sentence is read out. I can get sound fine, I'm not sure why it isn't playing for you.

[2022-10-05 15:39] zepumph commented on #514
OOps. The sound issue was specific to my computer, and a restart fixed it. Ok thanks! I'll take a look. Sorry for the unnecessary ping.

[2022-10-05 15:45] zepumph commented on #514
Ok ok. I see what is happening, and the `printVoicingResponses` query parameter is very helpful. There is no bug that I can see, but the way that the response is read makes it seem like there is more to say. The string when you just click on a hand with all object/context/hint responses on is: `Left Hand, hands, at challenge ratio, Move hands.`. The "Move hands" is the hint.

Does this seem like w

[2022-10-05 16:06] KatieWoe commented on #514
Yes it does. I thought "Move hands" was the start of something like "Move hands to explore"

[2022-10-05 16:08] zepumph commented on #514
Righto! Thanks for the bug report, also I'm not sure if you knew that `printVoicingResponses` existed, or if you want to add it to QA doc for voicing testing. I'm ready to close this issue. Let me know if there is anything else. Thank you!

[2022-10-05 16:08] #514 closed

[2022-10-05 16:54] #461 closed

[2022-10-05 16:55] zepumph commented on #510
I don't think this is a memory leak:

![image](https://user-images.githubusercontent.com/6856943/194117810-166a8f1c-b504-4db7-a5ff-a6279ec6cd6c.png)

[2022-10-05 17:26] zepumph commented on #503
@Nancy-Salpepi. Now a single can can control both sim hands, one at a time, depending on what side of the camera you are on. Will you please test this out on master and see how it goes? Just add `cameraInput=hands` on phettest. Let me know if you like it!

[2022-10-05 17:27] zepumph commented on #503
Also tagging @terracoda only if she wants to try it out.

[2022-10-05 17:37] zepumph commented on #509
This patch works, but I believe we should discuss before I commit. @jessegreenberg, we were using voicingVisible for toggling "sim voicing", but not with dialogs.

Seems potentially like we forgot to get here in https://github.com/phetsims/scenery/issues/1300 even though that was part of that work (not really sure, I can't remember). Anyways! What do you think about this? It should apply to all mo

[2022-10-05 17:55] zepumph commented on #488
@Nancy-Salpepi @KatieWoe @stemilymill, I'm going to close this issue, but please feel free to add this info to QA doc, or to come back to it and improve on things as we go. Also reopen if you'd prefer.

[2022-10-05 17:55] #488 closed

[2022-10-05 18:07] Nancy-Salpepi commented on #503
@zepumph things work very nicely when my hand is clearly on one side or the other!
The behavior gets a bit unpredictable if my hand is in the center--one hand may move and then the other--but I don't think that most users would have their hand in the middle. What do you think?

[2022-10-05 18:08] emily-phet commented on #505
We'll describe this as a feature still in development any place we're sharing the query parameter to access it, so a short freeze is acceptable. This should not block publication.

[2022-10-05 18:12] Nancy-Salpepi commented on #503
@zepumph I also wanted to clarify something based on earlier comments that you made.

Is the change you made is now the default? When using 1 hand: If my left or right hand is on the left side of the camera, it moves the left hand. If my left or right hand is on the right side of the camera, it moves the right hand.

[2022-10-05 18:17] zepumph commented on #503
Yes, there is no detection for what "hand" you are actually using to control, just the position of said hand. I agree the middle of the camera is a bit weird, but hopefully they will just move to either side when that happens, which is likely obvious because of how it will effect each hand individually. Does that seem good to you?

[2022-10-05 18:20] Nancy-Salpepi commented on #503
yes it does @zepumph!

[2022-10-05 18:24] #503 closed

[2022-10-05 18:30] Nancy-Salpepi commented on #507
Looks good is studio and state. Closing.

[2022-10-05 18:30] #507 closed

[2022-10-05 19:00] zepumph commented on #517
I believe that this is the right direction:

<details>

[code]
</details>

But I still haven't fixed the main issue, which is:

https://github.com/phetsims/joist/blob/85774f55bd3e2a50b512685f8cbd3a6dfdafcefa/js/preferences/VoicingPanelSection.ts#L251-L263

[2022-10-06 16:15] zepumph commented on #493
Since we have such good progress here, I'm going to mark this as blocking to keep the conversation going.

In terms of adding this to the controls themselves:
* We could make this a radio button group where the icons are the UI.
* We could add like a "double arrow" swap to the icon and keep the flipping checkbox
* We could highlight the "selected" icon when checked, and grey out the other.

@terra

[2022-10-06 21:36] zepumph commented on #493
Next steps here from a conversation with @emily-phet:

1. We like a "toggle" style icon UI, something like Color Vision or Balancing Act:
![image](https://user-images.githubusercontent.com/6856943/194422410-08eb5022-3d80-4471-98ea-d6ffd448ee14.png)
![image](https://user-images.githubusercontent.com/6856943/194422426-7b96861b-1232-4047-b9a5-c77ca046cab8.png)

2. Create heading for the UI. Something

[2022-10-07 15:51] zepumph commented on #517
@jessegreenberg and I spoke, and we feel like it would be good to add support for voicing into ToggleSwitch directly. Then voicingPanelSection's link to the audioEnabledProperty can still use the newly public toggledEmitter as a listener from input instead of just a Property listener.

[2022-10-07 16:23] zepumph commented on #509
@KatieWoe, we have fixed this now. Please confirm on master and let me know how it goes!

[2022-10-07 16:39] KatieWoe commented on #509
Voicing playing when moving hands while the dialog is open no longer occurs on master. Movement itself does still happen. If this is the desired behavior I believe this is fixed.

[2022-10-07 16:57] terracoda commented on #493
Here's the current text set-up in the Preferences Menu for Reference

<img width="868" alt="image" src="https://user-images.githubusercontent.com/1902116/194604325-8c94f276-cca6-4f4e-87ea-9b4d2c18a287.png">

Regarding the suggested heading, I am not understanding "Flip hands up/down" and "Flip hands left/right".

[2022-10-07 17:14] terracoda commented on #493
We need to communicate two things visually
1. Your camera can be in front of you, or overhead
2. You can flip the hands

I think we are currently missing something. Are people expected to flip the hands if they are using an aver the head camera.

I am all information is visually captured yet.

![image](https://user-images.githubusercontent.com/1902116/194613306-4c7fc03c-4dbf-4930-ab9d-8776e3122427

[2022-10-07 17:25] terracoda commented on #493
Please help me understand bu comparing these two mock-ups
Current Text Only Representation
<img width="649" alt="image" src="https://user-images.githubusercontent.com/1902116/194614865-d605d0c8-dbc3-4c2d-a1bf-eae1a6f705c6.png">

How do we or do we need to represent the Camera View with the Visual Icon Representation?
<img width="858" alt="image" src="https://user-images.githubusercontent.com/19021

[2022-10-07 17:30] terracoda commented on #493
In the visual representation above, there are two separate choices to be made - one for the camera and one for how you want the camera to interpret the hands.

[2022-10-07 20:40] zepumph opened #521 "support dynamic layout of the preferences dialog"
This is covered over in https://github.com/phetsims/friction/issues/312 blocks RAP too.

[2022-10-07 20:43] #509 closed

[2022-10-12 14:06] zepumph commented on #500
Great thanks!

[2022-10-12 14:06] #500 closed

[2022-10-12 14:11] zepumph commented on #504
A gesture to "stop" interacting isn't in the cards for this release. When next we work more fully on gesture support as a whole in sims, we will tackle that problem. Closing

[2022-10-12 14:11] #504 closed

[2022-10-12 14:16] zepumph commented on #506
@emily-phet and I looked at this. Originally I thought it was because it then detected a single hand and controlled the "wrong one", but that doesn't seem to be the case, when the bug displays, it seems to always move back to the center, so I will need to double check on some calculation code in this case.

[2022-10-12 14:18] zepumph commented on #510
@emily-phet and I feel like this is not worth fixing for this release, given that I have not yet been able to reproduce this. Closing

[2022-10-12 14:18] #510 closed

[2022-10-12 14:32] zepumph commented on #517
@emily-phet and I discussed this today, and conceptually it makes a lot more sense that we would listen to the Property. Perhaps we can tackle this in a different way, where we ensure that archetypes don't do this voicing logic.

[2022-10-12 19:04] zepumph commented on #506
When testing this morning with @emily-phet, I was very very easily able to reproduce the issue, but now it is much harder, though not impossible. I think that is potentially a bread crumb about the weird state we are getting into to set the value back to a "middle" point.

[2022-10-12 21:29] zepumph commented on #506
Ok. My best guess from further investigation is that this has to do with how we are "smoothing" values for detection/interaction. When we lose the second hand going off screen, it looks like we actually have a single false positive detection where mediaPipe thinks that both hands are enabled. We have smoothing to determine if we are "interacting" together, but we don't have smoothing about false p

[2022-10-13 17:30] zepumph commented on #499
Make sure we are disposing these texts now, see https://github.com/phetsims/scenery-phet/issues/771

[2022-10-14 15:24] zepumph commented on #517
This patch will be best here, but let's also move isInsidePhetioArchetype to PhetioObject instead of ParallelDOM.

[code]

[2022-10-14 22:27] zepumph commented on #521
I checked on all strings I see in RAP, and everything looks dynamic. Closing

[2022-10-14 22:27] #521 closed

[2022-10-14 22:31] zepumph commented on #517
Committed above, and is working well. We cannot move isInsidePhetioArchetype to PhetioObject because it is about Node ancestry, not PhetioObject (phetioID/tandem) ancestry. Closing

[2022-10-14 22:31] #517 closed

[2022-10-14 23:18] zepumph commented on #513
I tried out this on the iPad, and it was really quite bad, https://codepen.io/mediapipe/pen/RwGWYJw. But not as horrible as phetsims. This seems to be entirely a performance issue. I know that the mediaPipe models are computationally expensive, and they need to do quite a bit of analysis on each frame's picture.

A couple of thoughts for next time (happy friday)

* The `?profiler` wasn't working o

[2022-10-19 14:38] zepumph commented on #513
@emily-phet and I feel that It is important to spend some time on this issue. We will check back in next week.

[2022-10-19 15:59] zepumph commented on #501
I believe that this bug should be fixed by the above commit. Ready for testing in next QA test.

[2022-10-19 16:25] zepumph commented on #499
From a conversation with @jonathanolson:

* When scaling: look at localBounds because those don't account for scale.
* Use Aliginbox/**VBox** or maybe a Manual constraint to make sure the layout scaling nodes are good.

[2022-10-19 21:55] zepumph commented on #499
Noting we should work on https://github.com/phetsims/scenery-phet/issues/769 to get this done too.

[2022-10-19 22:07] zepumph opened #522 "Voicing Assertion with `?audio=disabled`"
Tagging @jessegreenberg, most likely we will want to figure out how to solve this sooner rather than later.

http://localhost:8080/ratio-and-proportion/ratio-and-proportion_en.html?brand=phet&ea&debugger&voicingInitiallyEnabled&printVoicingResponses&preferencesStorage&fuzz&audio=disabled

[code]

[2022-10-19 22:08] zepumph commented on #499
I punted quite a few times, please search for `StringProperty.value` to complete this work for description/voicing.

[2022-10-19 23:30] zepumph commented on #499
Good progress today.

[2022-10-19 23:35] zepumph commented on #499
- [ ] Dynamic switching to `ja` pushes the top scaling VBox to the right:
![image](https://user-images.githubusercontent.com/6856943/196823962-852cef08-9f40-44e1-9a15-a2a26375ab72.png)

[2022-10-19 23:36] zepumph commented on #499
- [ ] Same with `my` on the create screen:
![Uploading image.png…]()

[2022-10-19 23:37] zepumph commented on #516
This has been fixed by https://github.com/phetsims/ratio-and-proportion/issues/499

[2022-10-19 23:37] #516 closed

[2022-10-19 23:39] zepumph commented on #515
This is fixed by https://github.com/phetsims/ratio-and-proportion/issues/499

[2022-10-19 23:39] zepumph commented on #499
- [ ] Editing the RatioLock string in studio pushes the whole bottom scaling VBox off to the right. We need to fix this!.
- [ ]
![image](https://user-images.githubusercontent.com/6856943/196824417-f88c5787-be26-4fbf-8875-f1350acee744.png)

[2022-10-19 23:42] zepumph commented on #499
- [ ] I encountered many spots where I added *StringProperty.value eagerly because I didn't want to overhaul Describers (meant only for Voicing/Description) without proper cause. There are many TODOs pointing to this issue because of that.
- [ ] There are still many usages of StringUtils.fillIn because I didn't want to create a new Property every time I formulated a dynamic description string just

[2022-10-20 15:25] jessegreenberg commented on #522
Requires the combination of `audio=disabled&voicingInitiallyEnabled`

[2022-10-20 15:46] jessegreenberg commented on #522
This is happening because when audio is disabled PreferencesModel.supportsVoicing is false and so the SpeechSynthesisAnnouncer is never initialized.

I made it more graceful in the above commit. What do you think about this @zepumph?

[2022-10-20 16:23] jessegreenberg commented on #522
Ah very good! I wasn't sure how to best do it but that is nice. I slightly prefer not returning early so I will leave as is but similarly don't feel strongly. Closing.

[2022-10-20 16:23] #522 closed

[2022-10-31 20:03] zepumph commented on #499
Alright. I believe that we are unblocked here. The above two checkboxes in https://github.com/phetsims/ratio-and-proportion/issues/499#issuecomment-1284707711 have TODOs pointing here, and could be worked on in the future if desired, but I sorta feel like it isn't every going to be worth the effort, and we should apply the new patterns in the new description sims we implement.

[2022-10-31 20:23] zepumph commented on #499
QA (@KatieWoe), can you please review the work done in this issue:

I was using https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.32/phet/ratio-and-proportion_all_phet.html?keyboardLocaleSwitcher&dev and ctrl + U/I helped test this a lot. Please ensure the below issues are resolved in this sim.

- [ ] https://github.com/phetsims/ratio-and-proportion/issues/515
- [ ] https://github.

[2022-10-31 20:51] KatieWoe commented on #515
Testing for https://github.com/phetsims/ratio-and-proportion/issues/499. While the Challenge strings are now translated, the Ratio Lock string still isn't. Reopening.

[2022-10-31 21:29] KatieWoe commented on #499
https://github.com/phetsims/ratio-and-proportion/issues/515 also still has a problem. Sending this back to you @zepumph. Testing was done on the provided dev version.

[2022-11-03 17:08] zepumph commented on #515
Thanks. I renamed the string key and thought it wouldn't matter. My bad! I brought it back. Thanks for reopening. I appreciate it and apologize that you had to pick up my slack. Closing

[2022-11-03 17:08] #515 closed

[2022-11-03 17:09] zepumph commented on #493
Just a ping here. We are getting close to all other issues finishing up, and this is still marked as blocking RAP. Please change the blocking label or provide the wording updates desired. Thanks!

[2022-11-03 17:38] zepumph commented on #499
I think I fixed keyNode here,
![image](https://user-images.githubusercontent.com/6856943/199794658-7add8e16-6526-4983-9335-f2a76e8993b3.png)

Can you give it another shot? I'm not sure why hebrew had blank keys.

[2022-11-03 20:17] zepumph commented on #513
After testing again with the above performance metrics, it is still totally horrible and unusable. I decreased the video picture by a factor of 4 (less pixels to compute), and I'm only analyzing every other frame. Still it is horrible.

https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.33/phet/ratio-and-proportion_en_phet.html?cameraInput=hands

I will make some query parameters fo

[2022-11-03 21:28] zepumph commented on #501
Actually @Nancy-Salpepi, could you try to reproduce this now? Either with master or with https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.35/phet/ratio-and-proportion_all_phet.html?cameraInput=hands

[2022-11-03 21:46] KatieWoe commented on #499
The overlapping looks much better. There are one or two other languages that also have blank keys btw.

[2022-11-03 22:23] zepumph commented on #499
I created https://github.com/phetsims/scenery-phet/issues/786 for the blank keys. Closing. Please reopen if you feel differently.

[2022-11-07 19:24] zepumph commented on #501
No worries! Very helpful. Can you please test on master, with assertions enabled. I added some logging that may help if you have a chance to copy the data structure that is printed if you ever see a note like, "broken hand landmark input:"

[2022-11-07 19:32] zepumph commented on #513
I was able to get the profiler working on an iPad, I see that with this link we hover around 7-8FPS without any hands on the screen. Perhaps it is something outside the actually computation.

https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.35/phet/ratio-and-proportion_en_phet.html?cameraInput=hands&ea&cameraFrameResolution=3&cameraImageResolutionFactor=.05&profiler

[2022-11-07 22:58] Nancy-Salpepi commented on #501
not sure if this a different error, but this popped up in the console "21 hand positions expected"

<img width="978" alt="Screenshot 2022-11-07 at 5 57 01 PM" src="https://user-images.githubusercontent.com/87318828/200433297-078d7a3e-ef23-4661-91a9-bb865108e911.png">

[2022-11-08 15:12] zepumph commented on #501
That last line where it says "Assertion failed" is exactly right! Thank you. Though I am surprised that it didn't show a larger red "error" with a stack of calls below it (like you see on CT). Anywho. . .  Very helpful and I think I can clean this up, but I'm still so unsure how it detects a "hand" without any position data. Can you describe how you are reproducing this error; I have never encount

[2022-11-09 14:08] Nancy-Salpepi commented on #501
@zepumph after clearing my history I am no longer able to reproduce this issue.
I will definitely still keep a look out for this in future testing.

[2022-11-09 15:42] zepumph commented on #493
@emily-phet and I feel like this is fine to go to RC with, but we will want new wording before we publish.

[2022-11-11 22:27] zepumph commented on #513
@emily-phet and I discussed this and decided it wasn't worth more investigation at this time. I'm going to close this issue with these weak workaround put into the sim for iOS. Closing

[2022-11-11 22:27] #513 closed

[2022-11-15 19:59] Nancy-Salpepi opened #523 "Exiting Full Screen while moving hand prevents release of hand when mouse is no longer pressed"
**Test device**
MacBook Air (m1 chip)

**Operating System**
13.0.1

**Browser**
safari 16

**Problem description**
For https://github.com/phetsims/qa/issues/852, when I press the 'esc' key to exit Full Screen while moving a hand with the mouse, releasing the mouse doesn't release the hand. I need to click on the screen to release it.

This is also seen in published.
I couldn't reproduce this with

[2022-11-15 21:15] Nancy-Salpepi opened #524 "Voicing Repeats "Everything Reset""
**Test device**
MacBook Air m1 chip

**Operating System**
13.0.1

**Browser**
safari and chrome

**Problem description**
For https://github.com/phetsims/qa/issues/852, after pressing Reset All, voicing repeats "Everything Reset" statement.

**Steps to reproduce**
1. Go to either Screen
2. Turn on Voicing and check the Sim Voicing Options
3. Press the Reset All button.

**Visuals**

https://user-im

[2022-11-15 23:07] Nancy-Salpepi opened #525 "Voicing says "Property Number" before each item in keyboard nav dialog"
**Test device**
MacBook Air m1 chip

**Operating System**
13.0.1

**Browser**
safari and chrome

**Problem description**
For https://github.com/phetsims/qa/issues/852, before each item in the keyboard dialog, voicing says "property number ...."

**Steps to reproduce**
1. Turn on Voicing
2. Open Keyboard Nav dialog
3. Click  on or tab to any section.

**Visuals**

https://user-images.githubusercont

[2022-11-16 16:36] Nancy-Salpepi opened #526 "Voicing compares hand location to same hand"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 13.0.1

**Browser**
safari 16.1 and chrome

**Problem description**
For https://github.com/phetsims/qa/issues/852, when moving the left hand, voicing compares its location to 'left hand' and the same thing happens when moving the right hand.

**Steps to reproduce**
1. Turn on Voicing and check Sim Voicing Options checkboxes
2. Move

[2022-11-16 17:18] Nancy-Salpepi opened #527 "Voicing stops when only one hand is used with ?cameraInput=hands"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 13.0.1

**Browser**
safari and chrome

**Problem description**
For https://github.com/phetsims/qa/issues/852, when using ?cameraInput=hands, voicing only works when both hands are in view. I wasn't sure if this was intentional or not.

**Steps to reproduce**
1. Turn on Voicing and check Sim Voicing Options checkboxes
2. Lower one ha

[2022-11-16 22:25] Nancy-Salpepi commented on #501
@zepumph I was not able to reproduce this problem in 1.2.0-rc.1

[2022-11-16 22:36] #501 closed

[2022-11-17 00:00] terracoda commented on #493
@emily-phet, I am still a little fuzzy on how I can describe the set-up with one set of radio buttons. I think I need to assume vertical movement happens with a straight-on camera and horizontal movement happens with an over-the-head camera. That's not a choice, but an assumption.

Then the user can choose to change the hand association from a directly mirrored mapping to an opposite mapping. Now,

[2022-11-17 03:39] stemilymill opened #528 "Voicing reads combo box in a previously used locale"
For https://github.com/phetsims/qa/issues/852

**Test device**
Dell laptop

**Operating System**
Win10 21H2

**Browser**
Chrome 107.0.5304.107

**Problem description**
With voicing enabled, I was switching between different locales and using keynav. When I had switched from Danish to English, and shift+tabbed back to play with the hands, voicing read over "Challenge 3" (which was currently  select

[2022-11-17 14:57] terracoda commented on #493
I am not sure "Opposite" is the correct term. "Natural" might be better.

Oh, I just realized I have this all backwards. The hands in the sim face the same direction as me.
The left hand in the sim is controlled naturally by my own left hand.

Not sure why this was so confusing for me to understand.

**Customize hand movement**
Choose vertical or horizontal hand movements to control the sim.
[x] N

[2022-11-17 15:03] emily-phet commented on #493
I think something simple like:
[ ] Flipped vertical movement
[ ] Flipped horizontal movement

would be sufficient. To me, it's ok if you wouldn't necessarily know which specific direction your choosing ("natural" or "mirrored" from the menu. You would be seeking this option if you *need* to have it flipped. So in that situation, you would know. Otherwise, you might be curious what happens when you

[2022-11-17 16:52] terracoda commented on #493
I almost posted "flipped" with only 2 options with only 2 radio buttons, but I was thinking that there would be no option for "natural horizontal movement", but now I realize that **natural horizontal movement** is just the default if the learner is using an over-the-head camera.

If we only have 2 radio buttons as in the following design:
**Customize hand movement**
Flip hand operation to support

[2022-11-17 17:01] emily-phet commented on #493
Ahh - I didn't catch this until just now. I think we need only two *checkboxes*, not radio buttons.

Horizontal and vertical movement is independent. My recommendation is to use the text I suggested above (using "flipped"), and for each of the two options there is a checkbox. The default is unchecked for both.

Another option would be to have to sets of two radio buttons:
- Vertical option radio b

[2022-11-17 17:05] terracoda commented on #493
I'll get back to this later this evening. I think we are finally getting on the same page.

[2022-11-17 17:23] BLFiedler commented on #493
Popping into the issue just to note that (at least when I requested the ability to flip the camera feed), I was envisioning it much the way game developers implement control customization, in which case they use the word "inversion" or "inverting controls", "Invert x- or y- axis", etc.

In case that phrase is helpful, it is very common.

[2022-11-17 18:43] zepumph commented on #528
Voicing is an "english only" feature, so this bug is actually that voicing doesn't turn off when switching locale. I'll take a look.

[2022-11-17 22:51] Nancy-Salpepi commented on #528
@zepumph voicing seems to be working correctly with mac + safari/chrome.  With Voicing enabled, when I switch locale it becomes disabled and I hear "Voicing off. Only available in English."

[2022-11-18 01:40] Nancy-Salpepi opened #529 "Voicing statement incorrect when tabbing to Reset All button"
**Test device**
MacBook Air (m1 chip0

**Operating System**
13.0.1

**Browser**
safari and chrome

**Problem description**
For https://github.com/phetsims/qa/issues/852, when I tab to the Reset All button, Voicing says "Sim screen restated. Everything reset." instead of "Reset All."

**Steps to reproduce**
1. Turn on Voicing
2. On either Screen, tab to Reset All button

**Visuals**

https://user-i

[2022-11-18 15:07] terracoda commented on #493
OK, I prefer to keep it simple, too. Let's stick with checkboxes. I think this is what Emily is suggesting.

The words are still a bit confusing me. Am I supposed to describe an interaction that is customizing how the hands in the sim move, or how hand input operates?

**Customize hand movement** or **Customize hand operation**
If needed, flip hand operation to support different camera setups.
[ ]

[2022-11-18 15:53] terracoda commented on #493
**Voicing Design**

_Move focus to reading block:_

Checking a checkbox with Voicing
_Move focus to first checkbox:_

_Toggle checkbox with Space and here the context response:_

_Toggle checkbox again to unchecked with Space and here the context response:_

_Move focus to second checkbox:_

_Toggle checkbox with Space and here the context response:_

_Toggle checkbox again to unchecked with Space

[2022-11-18 15:55] BLFiedler commented on #493
@terracoda and I met briefly to discuss this. Based on the implementation in the sim, which functionally is just flipping the X or Y axis of the camera, I suggested this be taken more from a troubleshooting perspective to address what each checkbox will do for your given camera orientation. Goals for the below is to be very explicit about exactly what each checkbox does, as well as the contexts yo

[2022-11-18 16:16] terracoda commented on #493
Scenarios we are troubling shooting.

**Default scenario (nothing needs to be checked)**
User has a face-to-face camera and their own hands operate the same hands in the sim, and hand direction is mapped identically in the sim.
<img width="964" alt="image" src="https://user-images.githubusercontent.com/1902116/202747562-2607da8c-200c-4dac-81d6-d853932aeabd.png">

**When the physical camera is turn

[2022-11-18 16:43] Nancy-Salpepi commented on #526
I also see this issue with VoiceOver.

[2022-11-18 18:12] terracoda commented on #493
###  Troubleshooting Camera Detection
The simulation assumes your camera is facing you as with a traditional laptop webcam. If this is your setup, you are ready to go.

If your camera is behind you, physically rotated on the Y-axis, your hand movements may feel like they map to the wrong objects in the sim. Try flipping the Y-axis.
[ ] Flip camera Y-axis.

If your camera is over head, physically r

[2022-11-18 18:15] terracoda commented on #493
@BLFiedler I generalized the language a little bit.

[2022-11-18 18:25] Nancy-Salpepi opened #530 "[VoiceOver] Object responses not heard with hand slider"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 13.0.1

**Browser**
safari 16.1

**Problem description**
For https://github.com/phetsims/qa/issues/852:
With VoiceOver, it seems like object responses are being overwritten by context responses when moving one hand at a time. I am not hearing any changes to Challenge Ratio proximity. You can see at the start of the video that first

[2022-11-18 18:36] terracoda commented on #493
Actually, my version is way too long, let's try a very slightly tweaked version of @BLFiedler 's version

### Troubleshooting Camera Input: Hands

The simulation assumes your camera is facing you as with a traditional laptop webcam. If your camera setup is different, use the options below to change the camera detection of your hands to match your hand movements.

Are your hands mapped to the wrong

[2022-11-18 18:37] terracoda commented on #493
@zepumph, I think this is ready.

[2022-11-18 18:40] terracoda commented on #493
@zepumph, any questions, please ask. This was a monster issue. You only need to look at https://github.com/phetsims/ratio-and-proportion/issues/493#issuecomment-1320392707

[2022-11-18 18:54] terracoda commented on #493
And, there is no artwork needed :-)

[2022-11-18 19:26] KatieWoe opened #531 "Camera Input doesn't work with LoL"
**Test device**
Samsung
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/852
When running the sim in Legends of Learning, if you enable the camera input a warning pops up saying no camera is available.
**Steps to reproduce**
1. Enter the sim in the LoL harness with the `cameraInput=hands` parameter.

**Visuals**
![lolhands](https://us

[2022-11-18 21:25] Nancy-Salpepi opened #532 "[VoiceOver] "Range" is spoken twice when it has focus"
**Test device**
MacBook Air (m1 chip)

**Operating System**
13.0.1

**Browser**
safari 16.1

**Problem description**
With VoiceOver, when I tab to the range combobox, "range" is said twice. It also happens when closing the combobox.

**Steps to reproduce**
1. Turn on VoiceOver
2. Tab to and select (numbered) tick marks
3. Tab to Range Combobox--you should here "range" repeated
4. Change the range

[2022-11-19 01:16] emily-phet commented on #493
@terracoda @BLFiedler
Here's a suggestion for less text, and leaning in to the specific reference to the "simulation hands". Bold is to emphasize where I made changes only, not intended for the end user. :)

Here's my thinking:
- I figured once we mention "hands" in the sim once, we can assume this is sim-specific text and we can keep on using it. So, I used "simulation hands" throughout.
- The ca

[2022-11-21 14:01] Nancy-Salpepi commented on #528
Also not seeing this issue with the Chromebook.

[2022-11-21 15:33] terracoda commented on #493
Thank you @emily-phet, I think the above adjustments are really good.

[2022-11-21 15:34] terracoda commented on #493
Over to you @zepumph.
This issue has taught me something about web cams :-)

[2022-11-21 16:03] emily-phet commented on #531
I don't think we need to support the camera input / lol combo.

[2022-11-21 16:35] BLFiedler commented on #531
Is this generally true for the sim in any iframe or unique to LoL?

[2022-11-21 16:40] stemilymill commented on #528
when the locale was danish, voicing was actually correctly disabled, but when I switched back to english and voicing was re-enabled everything except the combo box was being read correctly

[2022-11-21 16:42] KatieWoe commented on #531
The hands worked in the iframe, but not in LoL

[2022-11-21 17:17] Nancy-Salpepi commented on #528
Thanks for the clarification @stemilymill!
I was able to reproduce with the mac and with Chromebook using these steps @zepumph:

Steps:
1. Enable Voicing
2. In the Localization tab, change the locale to Dansk or any other language --Voicing becomes disabled
3. Exit the dialog
4. On the Discover Screen, change the Challenge--ex. Pick Challenge 2
5. Change the locale back to English --Voicing become

[2022-11-21 18:11] Nancy-Salpepi opened #533 "Voicing will sometimes read descriptions for previous item before current item"
**Test device**
MacBook Air and Chromebook

**Operating System**
macOS 13.0.1

**Browser**
chrome

**Problem description**
For https://github.com/phetsims/qa/issues/852, Voicing alerts aren't always interrupted when I tab through objects on chrome. This doesn't happen with mac + safari.

**Steps to reproduce**
1. Enable Voicing and check all Sim Voicing Options
2. Tab through the controls and nav

[2022-11-21 19:52] Nancy-Salpepi opened #534 "Screen shifts when hand is moved at bottom of screen with Chromebook"
**Test device**
Chromebook

**Operating System**

**Browser**
chrome

**Problem description**
https://github.com/phetsims/qa/issues/852

When I drag a hand to to the bottom of the screen using the mouse or keyboard, the screen shifts a little. It was hard to video (because I was also moving), but look at the Challenge combobox to see the movement.

This doesn't happen on my mac, but I did notice t

[2022-11-21 20:01] zepumph commented on #524
Minor bug from https://github.com/phetsims/scenery-phet/commit/7de4c8738e13848ce1f1e35c97eb9d916b490624 while working on https://github.com/phetsims/scenery-phet/issues/780.

To cherry pick: https://github.com/phetsims/scenery-phet/commit/36fbcee4a51368a0a0fd2d38ef8e39b7a3ba1082

[2022-11-21 20:14] KatieWoe opened #535 "NVDA says "Slider, invalid entry" when ratio is locked"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Firefox + NVDA
**Problem description**
For https://github.com/phetsims/qa/issues/852
When NVDA reads out the slider for the hand, it may say that the slider is invalid. I've only seen this so far when the ratio is locked on the second screen.

Troubleshooting information:

<details>

!!!!! DO NOT EDIT !!!!!
Name: ‪Ratio and Proportion‬
U

[2022-11-22 00:38] zepumph commented on #523
@chrisklus and I were not able to see any differences in input events between safari and chrome on macos, though we confirmed chrome works. We also reproduced this with dragging in number play. I am going to move this to scenery as a browser bug.

[2022-11-22 00:51] zepumph commented on #531
I'm happy to not support this, but I'd like to know what's going on. That message is most often because you have another tab opened that is using you webcam. What's a link that I can reproduce this? Feel free to message me instead if you don't want that on github.

[2022-11-23 21:50] terracoda commented on #374
Is this still an issue with the latest release of MacOS?

[2022-11-23 21:55] zepumph commented on #374
@KatieWoe can you see if you can reproduce it on master please?

[2022-11-23 21:57] zepumph commented on #529
Duplicate of https://github.com/phetsims/ratio-and-proportion/issues/524 (though it didn't seem like it), fixed by https://github.com/phetsims/ratio-and-proportion/issues/524#issuecomment-1322576755). Cherry pick will happen over there. Closing

[2022-11-23 21:57] #529 closed

[2022-11-23 22:09] zepumph commented on #525
Good catch, noting https://github.com/phetsims/scenery-phet/issues/769 here because that is where this showed up. It would be best to fully support this with a patternStringProperty, but this commit will be best to cherry pick. I'll note over in the other issue to ensure a more thorough solution.

[2022-11-23 22:33] zepumph commented on #525
Cherry pick: the above 2 commits!

[2022-11-23 22:39] zepumph commented on #526
Well that is less than ideal!!

Looks like the bug is not in https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.31/phet/ratio-and-proportion_all_phet.html?printVoicingResponses&voicingInitiallyEnabled&preferencesStorage, and is in https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.32/phet/ratio-and-proportion_all_phet.html?printVoicingResponses&voicingInitiallyEnabled

[2022-11-23 22:40] zepumph commented on #526
94f074fdab69ebcf6c3230da52affc45093704de has the bug, 5ee9dc4425851249078de3d8fb709f3401771deb does not.

[2022-11-23 23:01] zepumph commented on #526
Classic, looks like the bug was introduced by a simple mistake in https://github.com/phetsims/ratio-and-proportion/commit/d4f186a42f9bc72f3cca525ea61891dc62334678#diff-b1e62322eee34f09e99fbdae2de1b90ed22ebae29b875e92c7bf5567705483a2L284.

[2022-11-23 23:01] zepumph commented on #526
Fixed by https://github.com/phetsims/ratio-and-proportion/commit/91fa9af5166f36d970bd8e7c18e3cfaefb20f2bd, to cherry pick that.

[2022-11-23 23:05] zepumph commented on #527
There is no detection of the voicing cue with one hand. @emily-phet is this something you would like me to work on? If not, I recommend closing this issue and tracking future camera input hands work in a central spot.

[2022-11-23 23:21] zepumph commented on #528
Wonderful. You are seriously talented folks. Thanks! I also found the same issue with voicing name response for the combo box list items.

To cherry pick: https://github.com/phetsims/sun/commit/ddb02404eee474d6998f752ba57078345238c1cf

[2022-11-24 01:22] zepumph commented on #533
After some investigation here . . . .

This is another great bug!!!

We will talk about the example of playing around in the nav bar going from create screen -> discover screen button and then waiting. You hear the complete create screen response and then the complete discover screen response after.

Basically what I found is that in this case, you can get the a race condition between when the bro

[2022-11-24 01:38] zepumph commented on #533
Ok, so I was a bit wrong above, we have a currentlySpeakingUtterance AND a pending one, which holds the space in between the synchronous request and the async start listener. It is even being cancelled correctly. The bug is that it isn't taken into consideration when the utteranceQueue asks if the announcer should cancel from a new Utterance. I confirmed that this commit works to fix it, but I hav

[2022-11-24 01:45] zepumph opened #536 "I hear tick mark bump AND boundary sound"
To reproduce:

* first screen
* Show tick marks
* Use the keyboard
* highlight consequent and move in large steps to the bottom value.
* When reaching zero, I hear a tick mark bump on key down, and a boundary sound on key up.

This is a bug.

[2022-11-24 01:47] zepumph commented on #536
To cherry pick: https://github.com/phetsims/ratio-and-proportion/commit/444859d9407a63eed5a07cbda3998ad67a1d3403

[2022-11-24 01:55] zepumph commented on #535
I have not yet been able to reproduce this. At first I thought it may be another case of a Property leaking into a PDOM attribute value, but I manually passed a Property and it didn't care at all.

@KatieWoe can you please try to reproduce in the debug version, or on master. I would like to see if there are any assertions when it happens. If there are not, and it continues to be hard to reproduce,

[2022-11-24 01:58] zepumph commented on #531
Also, I noticed the URL is in the "Troubleshooting details", but without the query string. Do you purposefully remove those, or is there a bug somewhere? It may be nice to include those in the issue unless there is a reason not to. Let me know if you want to talk to try to reproduce.

[2022-11-24 02:04] zepumph commented on #523
I created https://github.com/phetsims/scenery/issues/1505, for now I do not consider this blocking, as it is a mouse/keyboard interaction only when exiting fullscreen mode on safari. Since there is a common code issue now, I'm going to go ahead and close this. @emily-phet please reopen and mark this as blocking if you disagree. Thanks!

[2022-11-24 02:04] #523 closed

[2022-11-24 03:22] zepumph commented on #493
Alrighty!

How's this?

![image](https://user-images.githubusercontent.com/6856943/203686615-fafbfc85-bffe-445b-9366-d009b729a4cd.png)

I have a preference to keep things sim-independent. But I'm happy to keep this of you'd prefer. These options live best in common code, and not in RAP (other sims will likely want to implement features to flix these dimensions).

Let me know what you'd like to do.

[2022-11-24 13:34] emily-phet commented on #493
Looks great!

[2022-11-25 20:21] zepumph commented on #493
Alrighty. To cherrypick: The three commits above that aren't in Quad.

[2022-11-25 20:23] terracoda commented on #493
Yep, looks great!

[2022-11-25 20:24] zepumph commented on #512
Over in https://github.com/phetsims/ratio-and-proportion/issues/527 we realized that a list of camera input features that we don't currently have implemented seems prudent for if we ever come back to this issue. For now, I'll just put it in this comment:

**We punted on this, but for next time we are in RAP:**
* https://github.com/phetsims/ratio-and-proportion/issues/527: Voicing + one-handed inte

[2022-11-25 20:24] zepumph commented on #527
Sounds great! I noted it in https://github.com/phetsims/ratio-and-proportion/issues/512#issuecomment-1327866985, and we can keep that list going for next time. Closing

[2022-11-25 20:24] #527 closed

[2022-11-25 20:35] zepumph commented on #534
I remember working on this in an ISLC sim for a time, and I got no where with it. These small layout inconsistencies can be tough to track down. I looked into the Helper to see if there was anything obvious about the layout that could be trouble, with not luck. I also couldn't reproduce this on my windows/Chrome.

As for the second. This is alright, and is also in the published version. I honestly

[2022-11-25 20:35] #534 closed

[2022-11-28 14:22] Nancy-Salpepi commented on #532
@zepumph I see this issue on master. Perhaps it is specific to VoiceOver + safari? You said you were on a Windows machine.

[2022-11-28 15:43] KatieWoe commented on #531
I didn't purposely remove it. I'm not sure why it isn't there.

[2022-11-28 18:10] KatieWoe commented on #535
It happens both on master and in the debug version, and I did not see any errors. Let me know if you want to pair on this.

[2022-11-28 18:27] KatieWoe commented on #374
I checked on master with the latest iPadOS (now iPadOS 16) and did not see this. Let me know if you want further testing.

[2022-11-28 18:30] jessegreenberg commented on #533
Ah, thank you for diving into this and fixing. The change makes sense.

I am not too worried about this, each Utterance would be cancelled according to `shouldUtteranceCancelOther` and I think that is correct.

I am looking at `handleCanAnnounceChange`. What if the canAnnounceProperty changes while the utterance is "pending", I don't see how the Utterance would be cancelled in that case.

[2022-11-28 18:36] KatieWoe commented on #535
Here's a video of the bug:

https://user-images.githubusercontent.com/41024075/204354431-89a44da1-b002-4b8d-8a36-a22af135e6c5.MOV

[2022-11-28 19:47] jessegreenberg commented on #533
Tried to fix in the above commit. I verified that it is working by adding this line right after the `this.getSynth()!.speak` call.
[code]

Unit tests with ?manualInput are passing. @zepumph are you OK with this?

[2022-11-30 15:52] zepumph commented on #374
That is excellent news! Thanks for checking. Closing

[2022-11-30 15:52] #374 closed

[2022-11-30 15:57] zepumph commented on #530
Next steps are to try to reproduce this, and then make sure that it wasn't an issue with VO state as opposed to sim state.

[2022-11-30 15:59] zepumph commented on #531
@emily-phet and I don't think we should look into this any further. Closing

[2022-11-30 15:59] #531 closed

[2022-11-30 16:06] zepumph commented on #532
I'll try to reproduce on my iOS+ safari, and then solicit help if I need a mac. @emily-phet and I agree that so long as we understand what is happening, and it seems minor, if we can't fix it is ok to proceed.

[2022-11-30 20:30] zepumph commented on #535
Thanks. That is great. I can easily reproduce in firefox and I cannot get this in chrome.

I wondered if it was because of the hair spaces we put after repeating aria-valuetext in AccessibleValueHandler, but removing those did nothing.

I also found https://stackoverflow.com/questions/20386266/how-to-prevent-jaws-from-saying-invalid-entry-on-required-fields which made it seem like it was because o

[2022-11-30 21:03] zepumph commented on #535
Aha! looks like this is the culprit

https://github.com/phetsims/ratio-and-proportion/blob/ac42c8e6a6fdb701863d0be0f635e7399260c484/js/common/model/RAPRatio.ts#L33-L36

Firefox+NVDA didn't like that the slider step didn't evenly go into the min and max. I could adjust this by decreasing the threshold constant by EPSILON so that the range matches the step.