[2020-07-07 14:14] Ashton-Morris commented on #9
My own personal notes have this "Create two versions of the C G C G organ sound and send that in" I think I was going to create a second success variation so it wouldn't sound too repetitive.

@zepumph The dev build wasn't published, can you let me know which organ sound we had in use so I can create a variation of that?

[2020-07-07 17:32] zepumph commented on #83
Note to self: Add in how interactive description ranges play into the above regions.

[2020-07-07 17:55] zepumph opened #85 "Tweaks to alt input"
From RaP design meeting today, we want to change the behavior of the step sizes for the alt input on the ratio hands.

* We want this to not be based on the gridBaseUnitProperty
* Default step size is one half of a standard grid space.
* Shift step is 1/10 of a standard grid space. We talked about making it 1/5 to optimize interaction with less keyboard strokes, but decided that it wasn't enough g

[2020-07-07 18:41] zepumph commented on #85
Implemented above. Closing

[2020-07-07 18:41] #85 closed

[2020-07-07 20:27] zepumph commented on #83
All boxes have been checked off here. @emily-phet @BLFiedler please review the tolerance and "small ratio value" behavior in master now.

I wrote a note to the RaP slack channel about integrating interactive description related feedback into the above organization:

Anything else to discuss here?

[2020-07-07 20:29] zepumph commented on #14
Above has now been implemented. Please see https://github.com/phetsims/ratio-and-proportion/issues/83#issuecomment-655112681 for next steps and review. I think I'm going to close this issue, and carry on over there. Please reopen if you feel differently.

[2020-07-07 20:41] jbphet commented on #84
I think I've missed the deadline, but if not, here's a thought for capturing the proportion idea with imagery that is mostly available in the sim and that would be reasonably easy to generate programmatically:

![image](https://user-images.githubusercontent.com/3082831/86840202-b2a7f800-c05f-11ea-9b36-6e381dd83286.png)

The "Create" screen ideas above seem fine to me.

[2020-07-07 21:41] zepumph commented on #14
Today during sound design, we rehashed our current algorithm for tolerance, we didn't discuss the above changes, but instead focused again back on the tolerance itself. We were wondering how the grid lines should change the tolerance. Right now they don't at all, but @emily-phet mentioned that it could be better to have the tolerance change based on the number of grid lines. This way if you are co

[2020-07-07 22:23] zepumph commented on #9
From design meeting today:
- [ ] We want staccato sounds always playing when you are holding a hand with the mouse. For keyboard, we think that perhaps you have to not just focus, but then move once for this behavior to then be constant until next blur.
- [ ] We decided to go with the staccato sound for out of proportion feedback, and to use the "random mix" as the sound for it. All else can be cl

[2020-07-07 23:21] jbphet commented on #77
In the 7/7/2020 sound design meeting we (@emily-phet, @Ashton-Morris, @zepumph and @BLFiedler)  reviewed the accordion box with the generic open and close sounds in the context of the "Ratio & Proportion" sim.  The general consensus was that it's not bad with the generic sounds, but it would be nice to try something a little more interesting, thought not too catchy, that better conveys the idea of

[2020-07-08 00:32] emily-phet commented on #83
Thoughts...

- I don't think it's necessary to have the screen be required to be white when right hand is in position 0. If the screen would otherwise be a shade of green, I think that's fine. The sudden flash to white at hands position 0 seems too jarring. **@zepumph - please go ahead** and remove this requirement.
- @zepumph - can you confirm that in the most extreme case (I think 1:2) it is not

[2020-07-08 00:34] emily-phet commented on #71
Great! We'll get a chance to check out the possible issue @BLFiedler brought up when we implement self-voicing in this sim in the future, and test with low vision users (not using screen readers).

[2020-07-08 00:34] #71 closed

[2020-07-08 00:36] emily-phet commented on #14
@BLFiedler - I still want to think about this a little more, but don't have mental capacity to do so at the moment (I'm too tired...).
When you consider this, if it's easy to convince yourself that @zepumph and @jbphet were correct, don't work too hard to try to convince yourself otherwise. They're probably right...but I still want to take some time when I'm sharp to think it through.

[2020-07-08 00:49] emily-phet commented on #84
Here's what I'm thinking, after digesting and adding to the ideas listed above.

**Explore Screen:**
- Two hands showing, one obviously higher than the other, but not at the same scale as the sim (trying to show them as large as possible with still clear difference in height)

(I had this other thought, but think it's not worth the effort, since it will mostly be viewed at a very small size in nav

[2020-07-08 13:17] emily-phet opened #86 "both hands mode - gesture interaction on mobile VO"
We determined yesterday in description meeting that it is not possible to have independent simultaneous control of two objects when using mobile voice over (@jessegreenberg using iPad investigated and determined this). Two handed gesture is reserved by VO for other purposes (selecting and interacting with a single object).

We will need to determine how to proceed - my guess is either punting (and

[2020-07-08 15:07] jessegreenberg commented on #86
Yes that seems very doable. If we want a drag/drop then a double tap + hold is required to start the interaction, if we wanted more of a slider interaction then it could be just a swipe up/down to move both hands at once.

[2020-07-08 19:04] amanda-phet commented on #84
I wanted to take a stab at making the hands look as though they are moving, but it's tricky. If you want this to look better, you should probably work with Cheryl. Otherwise, these are incredibly simple and I'm happy to take on the icons.

Attempt 1:
![image](https://user-images.githubusercontent.com/7852916/86959647-71751e00-c11b-11ea-9674-17bc22310305.png)

Attempt 2:
![image](https://user-image

[2020-07-08 19:19] amanda-phet commented on #84
I often like to make different icons for the navbar since they are so much smaller. So here is my first stab. If you'd like to refine the "moving" hand, I would recommend working with Cheryl. If you just want to make minor tweaks to what I have here, please let me know and I'm happy to make the changes. The second icon could possibly be made in code by @zepumph instead of using a screenshot.

![im

[2020-07-08 23:11] zepumph commented on #63
This code is now in a file called `InProportionSoundGenerator.js`

[2020-07-08 23:21] Matthew-Moore240 opened #87 "Ratio and Proportion Description ready for implementation"
Lots of updates to the description are ready to be added. Ill make a check list of all the headings that need to be implemented, everything in red just notates that its been updated and is ready to go.

- [x] **H1: Explore Screen, Ratio and Proportion**

- [x] Static Screen Summary

- [x] Dynamic state-of-sim (qualitative):

- [x] Dynamic state-of-sim (quantitative):

- [x] Static sim-specific int

[2020-07-08 23:23] zepumph commented on #9
To discuss for next meeting from me:

* I added hysteresis for the in proportion succes sound, and it can be adjusted with `?hysteresisThreshold`. The default value is .1, which means 10% of the total fitness range above and below the in proportion range.
* I had a question about the random mix staccato sounds. Would it be ok if they could repeat? There is code that makes sure of no repetition, bu

[2020-07-10 02:53] emily-phet commented on #84
Thanks @amanda-phet!

I'd like to include this in the next Thursday design meeting we request, coming in a couple of weeks.

[2020-07-10 03:15] emily-phet commented on #35
@Matthew-Moore240 - Can you take a look at @jessegreenberg question, and see if this still seems relevant now, or in the future?

[2020-07-10 03:18] emily-phet commented on #86
@Matthew-Moore240 Please consider which seems preferable here - the drag/drop (double tap + hold) or the slider style interaction (individual swipes increment/decrement). At first impression, the drag/drop seems more aligned with the interaction we're going for...but will probably require more work to describe well enough for intuitive use.

[2020-07-10 07:35] zepumph commented on #62
I have sometimes gotten a reentrant error when pressing the 0 key. It is a bit hard to reproduce, but I think I will want to investigate. Reopening.

[2020-07-10 12:13] terracoda commented on #84
I like attempt 1 :-)

[2020-07-10 17:51] Matthew-Moore240 commented on #86
Its a tricky situation because to me if I want to move two sliders at the same time I would just use two fingers/thumbs to move it but I am not sure how non-visual people interact with stuff like that. As of right now I would go with the slider interaction to swipe up and down.

[2020-07-10 17:54] Matthew-Moore240 commented on #35
@jessegreenberg Are we talking about whether or not we should have responses that revolve around how close or far you are to individual sliders IE: Right hand is slight above left hand

[2020-07-10 17:58] emily-phet commented on #86
@Matthew-Moore240 agreed - two finger interaction would be ideal. There are limitations in this situation (mobile device use with screen reader on) because the use of the screen reader essentially takes over, and all gesture/swipes/taps, etc. are being interpreted by the screen reader. Independent control of two objects simultaneously seems, by @jessegreenberg  investigation and my understanding o

[2020-07-10 18:01] jessegreenberg commented on #35
That is correct @Matthew-Moore240, in the design meeting on https://github.com/phetsims/ratio-and-proportion/issues/35#issuecomment-631007245, it was discussed that content like "Right hand is slight above left hand" would be important to include.

[2020-07-10 18:03] jessegreenberg commented on #86
I think that https://github.com/phetsims/ratio-and-proportion/issues/86#issuecomment-656807014 accurately describes the trade-offs.

[2020-07-10 18:10] terracoda commented on #86
I heard of one new gesture from the aria-interest-group list...

I was wondering a custom gesture like a "split-tap" could be a way to lock proportion and then play with increasing or decreasing the space between the hands. Would that be a useful way to explore ratio and proportion?

[2020-07-10 18:11] terracoda commented on #86
@jessegreenberg, are you aware of a resource that describes some of the less common gestures for VoiceOver?

[2020-07-10 18:16] emily-phet commented on #86
@terracoda - the split tap sounds like a way to "select". Maybe something like "grabbing" before a drag (so grab+drag would be like "hold down finger 1, tap with finger 2, then drag with finger 1". Seems like it might be useful in some cases, but if we can get away with a slider interaction here, I'm not sure that continuous drag really buys us enough to be worth teaching someone a potentially new

[2020-07-10 19:01] jessegreenberg commented on #86
I have ususally checked Apple's docs: (https://support.apple.com/guide/iphone/learn-voiceover-gestures-iph3e2e2281/ios), I just found this one too though, looks pretty nice! (https://www.interactiveaccessibility.com/education/training/downloads/iOS-Cheatsheet.pdf)

The "split-tap" is listed in the Apple resource as an alternative way to activate something:

[2020-07-10 20:36] zepumph commented on #9
I have implemented all my stuff for this issue, and will continue to work on NumberPicker sounds over in https://github.com/phetsims/scenery-phet/issues/612. Unassigning until Tuesday.

[2020-07-10 20:46] zepumph commented on #83
This is possible. It is quite easy to put the right hand at ~.4 of a gridline, and the slowly move the left hand up from zero, and encounter it getting darker, and then lighter again. This will always be possible with this strategy a little bit, but perhaps we could make the range of this smaller, not up to .5 (half a gridline), but instead only up to .3 or something. Want to pair to discuss this

[2020-07-10 20:48] zepumph commented on #83
You only spoke about the right hand, but then said talked about the negatives of the "sudden flash." We get that when moving both hands, so I took this to mean remove this for both hands. Please let me know if you still wanted it to be white when only the left hand is at zero.

[2020-07-10 21:06] zepumph commented on #87
Thanks! Working on it now.

https://docs.google.com/document/d/1HJvvGWYaUv9tlat9S7omQQVng8fGB4FuUhTEM1qx1z8/edit#

[2020-07-10 23:24] zepumph opened #88 "zoom feature breaks AccordionBox titlebar expand/collapse"
In perhaps the most obscure bug I have ever discovered, it appears that turning on the zoom/mag feature breaks the ability to have an AccordionBox's title bar clickable to toggle expand collapse. It does not effect the behavior of the expand collapse button.

To reproduce the problem:
* On master in RaP, note that even though AccordionBox's option `titleBarExpandCollapse` is set to true, that feat

[2020-07-10 23:50] zepumph commented on #87
I have implemented the basic stucture, labels, and help text for everything except the AccordionBox as a component (I did the content).

* Next I will look into the screen summaries.

* Later I will review the response descriptions to see what may need implementing. For example, the last time I tried to move a hand with the keyboard, I didn't get description (perhaps from the composite listener),

[2020-07-11 00:04] zepumph commented on #86
I really like the direction of this conversation. I want to add that to me we should keep time in mind as it pertains to going back and forth with each hand while interacting. I would assume that once a use was more comfortable with the interaction, that the best interaction would be the one that would allow the user to shift between the two to make fine tune adjustments quickly. This is very much

[2020-07-11 00:09] zepumph opened #89 "Will tangible input be included in the published simulation?"
We started this sim in part as an exploration into adding tangible input to a phet simulation. Now, as we move towards a timeline that brings publication to a discrete place in the future, I am curious what we are going to do about tangible input. For example, I see nothing about it in https://docs.google.com/spreadsheets/d/1-9UCrkXG1QSTTdUGKxf2x_mPVypzjKQHYYnrudghPw/edit#gid=0.

@emily-phet can y

[2020-07-13 06:07] emily-phet commented on #89
Thanks for asking!

For an initial publication (timeline = sim design complete by end of 2020 Q3, and published by end of 2020 Q4), that publication *does not* include tangible input. That publication is planned to include - visual display, interactive auditory description, sound and sonification, magnification, (our typical set of) alternative (i.e., keyboard input), and mobile screen reader acce

[2020-07-13 06:14] emily-phet commented on #86
@zepumph That's a good point about the time delay regarding double tap and hold.
Let's be sure we're not talking about different things, though.

In my comments above, i'm referring to a new - potentially mobile VO only scenario for the third tab stop. So users would be able to use a slider interaction (swipe up, swipe down) to move the two hands individually in the first (left hand) and second (r

[2020-07-13 06:18] emily-phet commented on #83
Correct, no need to enforce white background when it would otherwise be shades of green for right or left hand.

[2020-07-13 13:36] terracoda commented on #73
Apologies @emily-phet, @Matthew-Moore240 and @zepumph for being late to this issue.

In the scenario below, I think there needs to be a label...
![Screen Shot 2020-07-13 at 11 01 47 AM](https://user-images.githubusercontent.com/1902116/87310303-5e39c800-c4f8-11ea-9246-6aecb41d0038.png)

How about:
```html <button>Range: Disabled when Grid hidden</button>```

Possible help text (which I shall put i

[2020-07-13 18:34] zepumph commented on #83
@BLFiedler and I made a query parameter to tweak the choir sound threshold, it is called `?movingInProportionThreshold=X.` The value up until today has been .5, meaning that you get half of the fitness range to be in while still playing the choir sound (if both moving fast enough in the same direction). We felt like .7 or .75 may be a really good number for this. It had a good balance of not havin

[2020-07-13 18:36] zepumph commented on #83
@emily-phet, you are assigned still to make sure there is nothing more to discuss about https://github.com/phetsims/ratio-and-proportion/issues/83#issuecomment-656882601.

[2020-07-13 19:36] zepumph commented on #73
I will implement and we can go from there.

[2020-07-13 19:38] zepumph commented on #73
Oh, I see the discussion in the google doc now, let's go from there. Closing again.

[2020-07-13 19:38] #73 closed

[2020-07-13 19:39] terracoda commented on #73
Ok, then use the shorter label that I put on the design doc :-) Maybe "Grid Disabled"?

[2020-07-13 22:04] zepumph commented on #87
All that seems to be left for static PDOM content (maybe this is called state description now?) are the screen summaries. I'll work on those updates now.

[2020-07-13 23:38] zepumph commented on #86
I think I pulled the conversation away from the third interaction a bit, and was talking about switching between the first two "sliders" (or however we choose to implement them on mobile).

Maintaining the ratio for the third interaction feels like a really awesome idea, and may even also be something we would want to think about supporting for keyboard navigation. At first I felt like it may be "

[2020-07-14 00:01] zepumph opened #90 "Common code issues that need to be done before publication"
- [x] Home Screen description review: https://github.com/phetsims/joist/issues/496
- [x] AccordionBox.js interactive description implementation and review https://github.com/phetsims/sun/issues/444
- [x] https://github.com/phetsims/joist/issues/641

[2020-07-14 00:31] zepumph commented on #87
I moved the common screen summary to the explore screen, and redid it so that it matched the design document. It wasn't totally trivial to add the dynamic value of what challenge we were on, so I left that constant with a TODO. Next is to implement that, and to add the screen summary for the create screen.

[2020-07-14 03:48] emily-phet commented on #83
Sounds good - on the agenda for tomorrow.

[2020-07-14 16:43] Ashton-Morris commented on #9
[Here are some faster electric piano sounds with a faster attack](https://drive.google.com/drive/folders/10-kHZgFSu0HEMUfNk0zEn0cvPRK8gFXg?usp=sharing)

sucess-indicator-elec-piano-2w-faster-attack.wav
sucess-indicator-elec-piano-2w-faster-attack-001.mp3
sucess-indicator-elec-piano-2w-faster-attack-001.wav
sucess-indicator-elec-piano-2w-faster-attack.mp3

[2020-07-14 16:56] Ashton-Morris commented on #9
[I tried to create a woop like John suggested. ](https://drive.google.com/drive/folders/1YHLFqMsM_lXnnTT_Ec-yGK86mTqgX9Ec?usp=sharing)

- accordian-box-close.mp3
- accordian-box-close.wav
- accordian-box-open.mp3
- accordian-box-open.wav

I also tried sounds that were closer to a real Accordion but I didn't bounce them because I feel they were too extreme sounding for PhET.

This approach was not

[2020-07-14 17:14] zepumph commented on #83
Today during design meeting, and based on discussion that @BLFiedler and @emily-phet had, we decided that we need similar logic for the choir sound as we have for other feedback when values are lower than half a default grid line.

- [ ] No choir sound should play when either hand is less than `.5`.

[2020-07-14 17:36] zepumph opened #91 "Normalize tolerance based on the value of the numerator and denominator"
From design discussion over in https://github.com/phetsims/ratio-and-proportion/issues/83, we don't like that for some custom ratios, you get too much range of feedback. For example with a ratio of 1/10, moving the right hand yields feedback for 100% of the range. Designers would most like feedback to range 40% of the screen. Perhaps normalizing on the numerator and denominator would make the tole

[2020-07-14 17:47] jbphet commented on #77
@Ashton-Morris has created some sounds to try out, see https://github.com/phetsims/ratio-and-proportion/issues/9#issuecomment-658295156.

[2020-07-14 18:14] zepumph opened #92 "Add a "lock ratio" checkbox"
Add this to the second screen only. When checked, moving one of the hands will also change the other hand to maintain the current ratio.

could be displayed with an actual "lock" icon, maybe even in the middle between the ratio.

[2020-07-14 18:14] zepumph commented on #87
- [ ] Grid range combo box needs the "Range" span next to the button, see Molarity.

[2020-07-14 18:58] jbphet commented on #9
Issue for adding sound to PhET button: https://github.com/phetsims/joist/issues/637

[2020-07-14 19:00] jessegreenberg commented on #88
Interesting, I am seeing this too. I really don't know what is happening yet. But I do see that when zoom is enabled the `collapsedTitleBar` is not in the eventTrail which is why it is not receiving the down event to open:
![image](https://user-images.githubusercontent.com/6396244/87465450-a9c8a080-c5e2-11ea-9d9f-2894c9a0eb6d.png)

[2020-07-14 19:05] zepumph opened #93 "Mouse cursor bug"
Steps to reproduce:

1. click on a ratio hand with a mouse
2. note that the cursor is a pointer.
3. let go of the hand (no need to move the hand, but you can)
4. note that even when you let go, the cursor is still a pointer.
5. Only when you move the cursor outside of the entire RatioHalf box does the cursor change back from the pointer to normal cursor.

[2020-07-14 21:56] zepumph commented on #9
From design meeting today:

"In Proportion" sound:
* New sound option that only uses roots and fifths (perhaps starting at g4 since that is where the staccato high note is).
* new option that is a major chord (perhaps starting a third above c4 to not start on the same note as the staccato sound).
* Make at least three options.
* Try making this higher than the sounds from this week (in https://git

[2020-07-14 22:17] zepumph opened #94 "Visual design of the Challenges Combo Box items"
I don't feel like this was every totally solved, so I think it would be good to create an issue. Right now the items have a random colored rectangle next to them. I think at one point we wanted gift boxes as ratio buttons, but I'm unsure what we would most prefer here. @emily-phet please close is this is a duplicate of something else.

[2020-07-14 22:25] jbphet commented on #77
We reviewed the sounds that were generated for this week, and decided that we should try something that is more similar to that used for the combo box now.  @Ashton-Morris will come up with a couple new ones that are in the same vein.  For now, we are thinking no slide, just two distinct pitches.

[2020-07-14 23:48] zepumph commented on #87
Still to do for screen summaries:
- [ ] (explore) dynamic state of `{{challenge 1}}` combo box
- [ ] (create) dynamic state of grid range combo box
- [ ] (create) support left/right values toggling between qualitative and quantitative.

[2020-07-16 20:18] zepumph commented on #87
I originally had this, but removed it during this issue because the design doc didn't include the "Range:" piece. I've added it back in now, and it matches the Molarity implementation.

[2020-07-16 20:34] zepumph commented on #87
It is not yet clear what the quantitative value for these should be. I asked for clarification in the design doc, but for now here is a patch that is on its way, but would need some gridDescriber work to return a string for use by the bullet

<details>

[code]

[2020-07-16 23:27] zepumph commented on #87
I'm pretty sure this is an element of the screen summary that is just included from common code, like:

If so, then nothing needs to be done for this.

[2020-07-16 23:27] zepumph commented on #87
All that I have left for this issue if for @Matthew-Moore240 et all to respond to comments from the google doc. The biggest one is what the quantitative screen summary bullets should look like for the left and right hands.

[2020-07-16 23:28] zepumph commented on #9
I have nothing to do in this issue until there are sounds for me to add to the sim. Unassigning.

[2020-07-16 23:29] zepumph commented on #28
Over in #89, it looks like tangible implementation is not going to be included in the initial publication of this simulation. Unassigning for now.

[2020-07-16 23:39] zepumph commented on #58
I right aligned the grid range combo box, but changing the width of the combo box is a bit weird because its width is based on its content. One thing I could do is increase the size of the the text to make it larger (vertically and horizontally). Otherwise I could look at extending the content width, but that would increase the size of the Combo Box and potentially look strange.

Here is the combo

[2020-07-16 23:47] emily-phet commented on #58
I like the general look of the range combobox aligned with the radio buttons (as in this screenshot). I agree, though, that it makes the combobox to large given we want to minimize the visual emphasis of this.

Is there a way to decrease the height of the combobox, keeping all else the same? Maybe increasing the padding on the heading portion of the accordion box would make that a bit bigger, and

[2020-07-20 17:37] zepumph commented on #58
Yes, but it will likely look really weird. This uses scaling just in the Y dimension to basically squish everything vertically. I don't think this would pass code review, as most of the time we try to keep the same aspect ratio for common components, especially since there is a "normally scaled" combo box on the other screen.

![image](https://user-images.githubusercontent.com/6856943/87967821-e6c

[2020-07-20 17:41] Ashton-Morris commented on #77
@jbphet I created 5 variations. [Open goes up in pitch and close goes down. They are in the same family as the ComboBox.](https://drive.google.com/drive/folders/1YHLFqMsM_lXnnTT_Ec-yGK86mTqgX9Ec?usp=sharing)

- accordion-box-open-combobox-related.wav
- accordion-box-close-combobox-related-004.mp3
- accordion-box-close-combobox-related-004.wav
- accordion-box-close-combobox-related-003.mp3
- accord

[2020-07-20 18:48] zepumph commented on #91
I was able to shape the tolerance by normalizing on the size of the target ratio. This worked very well for the denominator, solving the 1/10 case as described above. The issue that we keep coming back to is that this reciprocally effects the left hand also, so when we shrink the range of fitness for the right value, it does the same on the left value. Again we are constrained by everything discus

[2020-07-20 19:35] zepumph commented on #83
I updated the above initial comment with the values currently in the model. I also made it so that choir ("moving in proportion success sound") cannot play when values are too small. The only thing left for this issue in my opinion is to make sure this doc ends up in `model.md` documentation.

[2020-07-20 19:48] zepumph commented on #89
That sounds great to me. Here is what I think the cleanup is until we continue with tangible input:

1. Do the three issues in https://github.com/phetsims/tangible/issues (labels to the repo, move 3rd part adapter to sherpa)
2. Remove clement related input strategies from ProportionMarkerInput
3. Remove the usage of ProportionMarkerInput, so that no marker input is run on master.

[2020-07-20 20:38] zepumph commented on #87
I just spoke with @Matthew-Moore240, and he showed me a table in the design doc that I wasn't looking at. It is exactly the quantitative description that I was looking for. I will add that, and then ping him to review this implementation.

[2020-07-20 22:00] zepumph commented on #91
After discussing this with @samreid, we were able to classify the problem into trying to solve a function based on each value and the target ratio: `f( x1, x2, t)`. This helped us note that there were two ways to solve this, each treating a different value as the "optimal" or "target" value, and then calculating how "off" the other value was, like this:

[code]

We then used this to note the parad

[2020-07-20 22:53] samreid commented on #91
Ideas from using deltas:

<details>

[code]

</details>

[2020-07-21 02:13] Ashton-Morris commented on #9
"We want these options created and delivered by Monday so that I will have time to input them before the next meeting which will be either next Tuesday or Wednesday." [ Just read this again. Hope you get time!
](https://drive.google.com/drive/folders/10-kHZgFSu0HEMUfNk0zEn0cvPRK8gFXg?usp=sharing)
**"In Proportion" sound:**
in-proportion-fifths-option-1.wav
in-proportion-major-chord-option-3.mp3
in

[2020-07-21 03:47] zepumph commented on #91
@samreid and @jonathanolson helped further with this, and we got very far with an approach that uses deltas. I ended up committing because it is generally working well, although there are a few strange pieces that still need to be worked out. I also committed tests. @samreid a couple tests are commented out, because there seems to be an edge case where fitness can get greater than 1. I don't think

[2020-07-21 16:44] zepumph commented on #91
I also just noted that we are not yet supporting when the target ratio changes. We should link and recalculate fitness accordingly there. This may also fix the reset case too.

[2020-07-21 17:15] BLFiedler commented on #80
I believe this is related to my experience in #37 . The "noises" I reference are a static-y sounding version of the sounds playing from the sim.

This typically occurred when I opened the simulation from an external link (so a new tab opened). This wasn't true across all devices and was difficult to reproduce for others.

[2020-07-21 17:38] KatieWoe opened #95 "CT assertion failed?"
[code]

[2020-07-21 18:13] zepumph commented on #87
After the above commits, all dynamic pieces of the screen summary should now be working as expected. @Matthew-Moore240 please review, and please create a new issue to discuss any changes or additions needed for context and object responses (i.e. alerts and aria-valuetext).

[2020-07-21 19:03] zepumph commented on #95
Now seems like a great time to think this one through! Related to work in #91.

[2020-07-21 20:02] zepumph commented on #91
After sleeping on this for a night. I'm pretty sure that solving tolerance by deltas won't work for two reasons. Both of thesehas the paradox of potentially having two different fitness values depending on what ratio value you consider the "ground truth"

1. Moving one value such that the fitness is no longer 1, then moving the other value. In this case, the dx is 1 when moving either value, but t

[2020-07-21 20:31] zepumph commented on #91
I reverted the delta-related algorithm above. Now the algorithm is back to the description explained in https://github.com/phetsims/ratio-and-proportion/issues/91#issuecomment-661268791. We have successfully shrunk the range of fitness to always be 40% of the screen whe moving the right value. This yields quite small ranges for the fitness when moving the left value for small ratios like 1/10. @em

[2020-07-21 21:51] zepumph commented on #9
All options above have been implemented. They can be found in this dev link. Looking forward to discussing them tomorrow!

https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.38/phet/ratio-and-proportion_en_phet.html

[2020-07-21 21:53] zepumph commented on #14
Please note that lots of experimentation has been done over in https://github.com/phetsims/ratio-and-proportion/issues/91, and currently the direction is to have the fitness be different depending on which hand you move. This is because fitness is based on the ratio, not individual values.

[2020-07-21 21:54] zepumph commented on #59
Unassigning until we are working on this.

[2020-07-21 21:57] zepumph commented on #62
Fixed above. Closing

[2020-07-21 21:57] #62 closed

[2020-07-21 22:02] zepumph commented on #79
I think the easiest thing to do would be to create a layout that works well in all aspect ratios. I'm sure you have already thought about that, but I do feel like there is a ton of vertical space in a normal aspect ratio currently. Maybe we could try to layout the grid buttons vertically always, and then things will be better on all devices.

[2020-07-21 22:14] zepumph commented on #79
I see the difference between tall screens though, since the vertical scaling is potentially only half of the screen or so. We can also go down a more manual approach that involves re laying out the UI controls, likely by scaling them up as much as the horizontal space allows. Here is a sketch of what that may look like for tall layout:

![image](https://user-images.githubusercontent.com/6856943/88

[2020-07-21 22:15] zepumph commented on #95
Fixed by reverting code over in https://github.com/phetsims/ratio-and-proportion/issues/91, closing

[2020-07-21 22:15] #95 closed

[2020-07-21 22:37] zepumph commented on #92
Added above. @emily-phet @Matthew-Moore240 @BLFiedler @terracoda please review.

[2020-07-21 22:40] zepumph commented on #92
https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.39/phet/ratio-and-proportion_en_phet.html?

[2020-07-21 22:48] zepumph commented on #93
After poking around a bit. I saw that I was applying an accidentally buggy/batch-renamed cursor on the whole RatioHalf, when really I wanted that cursor just on the RatioHandNode.  Closing

[2020-07-21 22:48] #93 closed

[2020-07-21 22:54] zepumph commented on #86
Noting https://github.com/phetsims/ratio-and-proportion/issues/92 as a potential cross-modality solution for the "locking"  ratio and changing the both hands by moving one of them. A general solution over there may apply to this issue too somehow.

[2020-07-21 23:24] zepumph commented on #89
The above has been implemented.

The last version that had mechamarkers in it (untested in quite some time) was https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.39/phet/ratio-and-proportion_en_phet.html. Looking back at old versions and the work done in https://github.com/phetsims/ratio-and-proportion/issues/8, it looks like https://phet-dev.colorado.edu/html/ratio-and-proportion/

[2020-07-21 23:27] zepumph commented on #89
Or perhaps closing is the right thing to do?

[2020-07-21 23:27] #89 closed

[2020-07-22 16:14] samreid commented on #91
Some notes from another possibility:

[code]

[2020-07-22 16:17] samreid commented on #91
We also discussed making a 3d plot of the function (for fixed `targetFraction`) to better visualize the behavior over all ranges.

[2020-07-22 16:51] BLFiedler commented on #92
A few quick notes:

- Being able to use the cursor to drag both with only a cursor that allows for much finer movements (depending on DPI settings) than touchscreen really highlights the velocity threshold. I am not sure this is a problem yet, but you can much more easily move "slowly" and not get the choir sound.
- Dragging all the way down forcibly translates the lower hand to be even-ish with t

[2020-07-22 17:02] terracoda commented on #92
Certainly, straightforward on how to get the coir sound now :-)

[2020-07-22 20:15] Petroochio commented on #28
Hey @zepumph! Sorry I missed the notification for this before. Yeah, we've been aware of the memory issues, but presently we are working on a browser only version that should be less intensive. In addition, I'm switching some of the image processing to the GPU which should cut down on CPU use. I'll let you know as soon as it's stable.

[2020-07-22 20:44] zepumph commented on #28
That's awesome! Thanks for the heads up. Over in https://github.com/phetsims/ratio-and-proportion/issues/89 we discussed the tangible implementation timeline, and it looks like we are at least 6 months out. Let's touch base the next time we are developing with mechamarkers.

[2020-07-22 22:17] zepumph commented on #9
Discussion about the Moving in Proportion options:
- [ ] Make the moving in Proportion sound mutually exclusive with the staccato sounds, implementation wise this means making movingInProportionThreshold and MOVING_IN_PROPORTION_FITNESS_THRESHOLD add up to 1.  Already implemented in https://github.com/phetsims/ratio-and-proportion/commit/77f0c610f1c41928c87f166460a1ec64da24fd73, but should be clea

[2020-07-22 22:43] zepumph opened #96 "Use mp3 sounds where possible"
We aren't here yet in the sound implementation process, but today @jbphet mentioned that I should attempt to only use mp3 files, even for loops, where possible for space saving. The moving-in-proportion sound will be a loop,and is currently a wav. I will take a look at trying to compress that when we are doing final adjustments.

[2020-07-23 14:11] emily-phet commented on #9
@zepumph @BLFiedler - I played with the sim this morning quite a bit. I think the dev 40 paradigm for mutually exclusive in  proportion, success, and choir sounds is good.

I think the choir sound could tail off faster. Sometimes it feels like I can still hear it even if I'm quite far off the ratio position.

If @BLFiedler agrees, I think we move to all using the sim with the different sound combi

[2020-07-23 14:27] BLFiedler opened #97 "Peaceful Tranquility disables sim interaction on iPad, Safari"
If you select the Peaceful Tranquility velocity sound and then hit the reset button (iPad, Safari) it locks all interaction with the simulation. Only that sound option though. (dev40)

I know you might be removing that particular option, but just to note that whatever specifically happened there caused some problems, @zepumph

[2020-07-23 14:28] BLFiedler commented on #9
Yeah - I think this is plenty smooth. The staccato and in-prop sounds seem to play when you move far enough out and/or re-enter just fine.

re: choir sound tailing off: I think this is particularly noticeable when you lock the ratio. There is a time delay between ending movement and the choir sound stopping. I agree that delay could be shorter so it's not still playing if you stop or leave the pro

[2020-07-23 14:53] KatieWoe opened #98 "CT cannot read property stop of null"
[code]

[2020-07-23 16:21] zepumph commented on #97
Sorry! This was a bug I fixed in real time yesterday, but didn't commit. Dev version coming soon!

[2020-07-23 16:41] zepumph commented on #97
See #9 for a dev version once I'm done with https://github.com/phetsims/ratio-and-proportion/issues/9#issuecomment-662725606

[2020-07-23 16:52] zepumph commented on #9
Should now be fixed

This could be a bug, or could be our current fade out time of .2 seconds. I'll try decreasing that to .1 to see if that is better. I'll get back to you after some investigation.

All other sound options have been implemented on master.

[2020-07-24 15:23] BLFiedler commented on #97
I'm going to re-open this one rather than start a new one.

Trying to select Chord Option 2 in master (7/24/2020) freezes the sim (tried on iPad, Safari as well Chrome, Win10)

[2020-07-24 19:22] zepumph commented on #97
Ugh, I'm so sorry. Try this one https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.41/phet/ratio-and-proportion_en_phet.html?

[2020-07-24 19:22] #97 closed

[2020-07-26 13:26] emily-phet commented on #91
@zepumph I think it looks good to me. I think by the time someone is deeply exploring 1:10, they are most likely to be in a place where they are confirming their understanding, and likely will need less feedback.

@BLFiedler any additional thoughts?

It would be cool to see a 3D plot of the function though...

[2020-07-26 13:42] #14 closed

[2020-07-26 14:08] emily-phet commented on #79
Give that this sim is actually will be best used for many in the vertical orientation, (while in projectile motion I think it's only a subset of situations benefit from the vertical orientation), I'd like to make sure the controls are at least a little better than currently in the vertical orientation. Right now it's nearly impossible to select different ranges on the second screen, for example.
!

[2020-07-26 14:10] emily-phet commented on #53
Note - I see something similar when switching between horizontal and vertical orientation on the create screen when using my iPhone.

[2020-07-26 14:25] emily-phet commented on #94
@zepumph
Let's stick with the colored squares for now, but change the colors. Let's go with the colors used in the sim Fractions: Intro, game screen, the colors used for levels 1, 2, and 4 (in that order for challenge 1, 2 and 3).

This avoids the use of green for a challenge, and I'm sure the Fractions Intro game colors are color-blind friendly.

[2020-07-26 15:03] emily-phet opened #99 "More relaxed, brightly colored hands"
I'd like to try to having more relaxed and colorful hand representations.

Something in the ballpark of this https://www.iconsdb.com/red-icons/whole-hand-icon.html, where the fingers have a little space between them, lines are rounded. The thumb I think needs to be angled up slightly more than in this example.

If we could have one of these made, then shown as right hand / left hand pair in the sa

[2020-07-27 13:16] emily-phet commented on #9
Sounds like we're all set to come up with our list of favorite combinations, in preparation for Tuesday. I'll let all know to do this in the RaP slack channel. :)

[2020-07-27 13:17] emily-phet commented on #9
Note - there are still some remaining to dos for @zepumph and @Ashton-Morris in this: https://github.com/phetsims/ratio-and-proportion/issues/9#issuecomment-662725606 above.

[2020-07-27 13:46] emily-phet commented on #87
@zepumph and @Matthew-Moore240
Is the current description up-to-date? I see some things that I think our older in the current a11y view on master (e.g., the scene summary for "Explore" describes 5 challenges instead of three).

If so @Matthew-Moore240 do you need any help going through and looking for issues? I have some time today if you'd like to meet and work on that together, in preparation fo

[2020-07-27 14:07] emily-phet commented on #58
Let's just leave this as is for now.

[2020-07-27 14:07] #58 closed

[2020-07-27 14:11] emily-phet commented on #82
@Matthew-Moore240 - can you please draft text for the keyboard help dialog text? Let me know if you'd like to discuss first.

[2020-07-27 16:26] BLFiedler commented on #92
A few more things:

- Bug: Hitting the sim reset button locks the ratio even when resetting. Does bring up cue arrows but hands are not in the original 1:2 positions :)

- This checkbox really highlights the tolerance values we've messed with at the bottom... May want to at least revisit the value we set (0.5 actually feels a little high to me now), which I think we intended to do.

- The lock rat

[2020-07-27 17:08] emily-phet commented on #65
emailed Dor (7/27/20) asking for reminder about why the gridline starts at 0.

[2020-07-27 17:31] emily-phet commented on #83
I did lengthy exploration of the sim today, across keyboard, touch input (iPhone 8), and mouse. I didn't see any additional issues related to tolerance, beyond those I'm about to mention in the sound design and lock ratio GitHub issues.

[2020-07-27 18:11] emily-phet commented on #92
My thoughts after significant exploration, and encapsulating (I think) the comments from @BLFiedler and @terracoda above.

Bugs:
- When a barrier is encountered, you can move the hands out of ratio. Need to disallow further motion in that direction for both hands whenever a barrier is encountered.
- Reset all does not place hands back to their original position correctly when pressed when "lock ra

[2020-07-27 18:27] Ashton-Morris commented on #9
[I have this here. ^__^](https://drive.google.com/drive/folders/10-kHZgFSu0HEMUfNk0zEn0cvPRK8gFXg?usp=sharing)

- moving-in-porportion-loop-preaceful-and-choir.wav
- moving-in-porportion-loop-preaceful-and-choir.mp3

[2020-07-27 18:36] emily-phet commented on #9
My thoughts re staccato success sound and velocity sound.

I'd be fine with any combination of "Fifths option 2", "Chord option 2" for the staccato success sound, and "Choir" or "Peaceful + Choir = nirvana" :) sound.

My top two favorites are:
1) Fifths option 2 + choir
2) Chord option 2 + choir

Some thoughts on these preferences:

- I like the fifths option 2 slightly more than chord option 2 fo

[2020-07-27 18:39] emily-phet opened #100 "Sound behavior on reset all"
When reset all is pressed, only reset all button sound should be heard, not the other sounds as the objects move to “reset” position.

[2020-07-27 18:41] emily-phet commented on #9
@zepumph There were times when I thought I was hearing sound feedback when the screen looked white. Is this the case, or is the tolerance such that the screen just happens to look white because it's a super subtle shade of green?
If it's the case that the background is exactly white but providing sound feedback, we should discuss if we want this to happen tomorrow.

[2020-07-27 19:27] Matthew-Moore240 opened #101 "Scene Summary for explore screen needs an update"
Right now the scene summary for screen one the explore screen says:
_The Play Area has two freely moving objects that can be moved around to find the current proportions and five mystery scene selection buttons. The Control Area has a button to reset the sim._

It should read:
**The Play Area is an open space with two movable hands. Hands can be moved individually or simultaneously to explore a ch

[2020-07-27 19:33] Matthew-Moore240 opened #102 "Explore and Create Screen names should match Home Screen button labels"
Buttons should be labelled "Explore" and "Create" instead of "screen 1" and "Screen 2"

[2020-07-27 20:31] zepumph opened #103 "Add phet logging for model values"
@emily-phet requested the ability to see current ratio and current fitness. I think using `phet.log` will be the best way to do this.

[2020-07-27 20:40] zepumph commented on #103
After the above commit, adding `?log` as a query parameter will show the following information whenever there are changes:

[code]

This is on master, and will be available for any future dev versions automatically.

[2020-07-27 20:42] zepumph commented on #102
This is a sim-specific issue that will be fixed as part of work over in https://github.com/phetsims/joist/issues/641#issuecomment-659445273. On hold until that is fixed, then we can make sure RaP was fixed.

[2020-07-27 20:43] zepumph commented on #98
Fixed in commits over in https://github.com/phetsims/ratio-and-proportion/issues/97

[2020-07-27 20:43] #98 closed

[2020-07-27 21:01] zepumph commented on #94
I copied the colors from fractions-intro levels.

[2020-07-27 21:01] zepumph commented on #94
![image](https://user-images.githubusercontent.com/6856943/88591787-58200d00-d009-11ea-8d52-843dfd758cbc.png)

[2020-07-27 21:04] zepumph commented on #101
Updated above.

[2020-07-27 21:04] #101 closed

[2020-07-27 21:14] zepumph commented on #9
After https://github.com/phetsims/ratio-and-proportion/commit/3523bc99cd94018890f94f2c585e5d4a2a4526f9, now the `?movingInProportionThreshold` query parameter takes the value in "distance from max fitness" instead of distance from min fitness. So the value used to be .7, but now it is .3.

[2020-07-27 21:24] zepumph commented on #9
Notes from adding the new combined `wav` sound:
* I added the new wav file from @Ashton-Morris and named it `moving-in-proportion-loop-peaceful-and-choir.wav`.
* I can't actually hear a difference between the two sounds I combined in code, and @Ashton-Morris's. Did you take out some of the bass notes as described in https://github.com/phetsims/ratio-and-proportion/issues/9#issuecomment-662725606?

[2020-07-27 21:25] jbphet commented on #92
I wasn't in on the meetings where it was decided to try this out, so perhaps I can offer a bit more of an outsider's perspective.  I tested [version 1.0.0-dev.41](https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.41/phet/ratio-and-proportion_en_phet.html) and here are my thoughts after playing around with this feature for several minutes:

- The [original issue description](https:/

[2020-07-27 21:46] zepumph commented on #9
Everything has been implemented from the above checkboxes.

I have not seen this, but will be on the lookout. Please create a new issue if you can consistently reproduce. I'm pretty sure that it is just a very faint shade of green. Hopefully logging added in #103 will help see that.

---------------------------

My thoughts about combos:
* I agree with @emily-phet that option 2 is a bit better tha

[2020-07-27 21:48] zepumph commented on #100
I can't reproduce the bug where pressing the reset-all button triggers any other sound. Could you please explain a reproduceable case for me?

[2020-07-27 22:02] zepumph commented on #92
Reset bugginess is hopefully fixed above.

[2020-07-27 22:10] zepumph commented on #92
Now when ratio locked in proportion, you ALWAYS should get the moving in proportion sound while moving either hand.

[2020-07-27 22:18] zepumph commented on #92
In the above commit the horizontal movement of the hands is locked when the ratio is locked.

[2020-07-27 22:30] zepumph commented on #92
Implemented above. Not the ratio is maintained, and progress gets stuck when either ratio hand hits an range extremity.

[2020-07-27 22:48] zepumph commented on #92
From the above comments. I see only 4 more items for discussion/implementation:

1.

Tolerance needs to be adjusted to maintain the same feedback for the whole range when ratio locked. This will be a fair bit of work, and should likely get its own issue.

2. This feature should only be on the second screen. I agree with this, and don't know how it slipped my mind. I will go ahead and implement the

[2020-07-27 22:53] jbphet commented on #9
As requested by @emily-phet, I spent some time reviewing the latest dev version (https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.41/phet/ratio-and-proportion_en_phet.html) and have the following comments:

- The hysteresis for playing the "in proportion" sound is too much when not doing dual drag.  I know I advocated for having some hysteresis, so I should elaborate.  When using

[2020-07-27 22:56] zepumph commented on #9
and

This was fixed in master in https://github.com/phetsims/ratio-and-proportion/commit/b643b7a894efc85a2c3900d42cdbaa8516e9c034 and was a bullet from a previous design meeting, see
https://github.com/phetsims/ratio-and-proportion/issues/9#issuecomment-662725606:

[2020-07-27 23:08] zepumph commented on #87
- [ ] Hide the left {{number}}, right {number} in the create screen when the accordion box is hidden (linking the visual implementation with the pdom)

[2020-07-27 23:19] zepumph commented on #87
@Matthew-Moore240 and I went through comments I made in the design doc, and made the above change to do. Implemented in https://github.com/phetsims/ratio-and-proportion/commit/7f267f245ee12c1292b648ca2ca85812943cb00f. Unassigning.

I think all that is left for the PDOM is to get the second screen's summary in place. Thanks @Matthew-Moore240!

[2020-07-27 23:20] zepumph opened #104 "Updates to aria-live alerts"
After discussing with @Matthew-Moore240, we will be moving some descriptions over to aria-valuetext for the left/right positions. This issue is to go along with the aria-valuetext implementation issue (https://github.com/phetsims/ratio-and-proportion/issues/105), to make sure that aria-live get's cleaned up.

[2020-07-27 23:26] Matthew-Moore240 opened #105 "Adding Aria Value text to Hand Position Sliders"
Adding new Aria Value text to the hand sliders. Two new tables under Object & Context Responses heading in the [PDOM](https://docs.google.com/document/d/1HJvvGWYaUv9tlat9S7omQQVng8fGB4FuUhTEM1qx1z8/edit#heading=h.ue3a9evp2qmj) have all the new description plus examples.

[2020-07-27 23:50] Matthew-Moore240 commented on #87
Made new issues for a couple of things @emily-phet mentioned. Everything else looks great any new updates will be put in there own issues. Amazing work @zepumph. Closing

[2020-07-27 23:50] #87 closed

[2020-07-27 23:51] Matthew-Moore240 commented on #82
Will do!

[2020-07-28 02:04] BLFiedler commented on #91
Agreed. I mostly stuck to talking about 1:10 because it was the extreme case, but I think it makes the transition between 1:2 and 1:3 on screen 1 more cohesive as well. Thanks for putting in so much effort to tackle this @zepumph and @samreid!

Nothing more on this particular take on tolerance from me.

@zepumph, It's a little unclear from Sam's last comment if there was any more to do here. Assig

[2020-07-28 02:20] BLFiedler commented on #92
Great thoughts, @jbphet! Helped trigger a few thoughts in my head.

Definitely a concern if it were on the 1st screen. I think being on the second screen will help (for most cases). I have a gut feeling that if you aren't totally sure what the sim is about and haven't explored the first screen fully, the Lock Ratio will still be a confusing option... I guess we'll see in interviews if people disco

[2020-07-28 02:41] BLFiedler commented on #9
The velocity sounds are reaaalllyyy quiet for me relative to the in/out of prop sounds, so this was a little harder to assess how rich/crowded the soundspace was, but:

- **MovingInProp**: Choir/Peaceful Choir are on nearly equal footing for me. I can see how the soundspace could be a little overpacked. I'd be fine with either. I suspect those using external speakers won't really hear the added pa

[2020-07-28 16:13] amanda-phet commented on #99
I adjusted the thumb in the example you provided. If this is looking ok, then I can wrap up this task. If you want the whole hand done from scratch, please contact Cheryl about making this!
![image](https://user-images.githubusercontent.com/7852916/88691911-af31ea80-d0ba-11ea-82ba-ed4760da0add.png)

Also, if it's a simple filled shape like this, then we can give @zepumph an svg and he can recolor

[2020-07-28 16:44] terracoda commented on #92
I like the lock ratio checkbox. I think it is quite useful, especially for people with dexterity issues. I'm not sure how that interaction will be described, but I still thin it is quite useful.
- proporation, {{distance between hands}}
- proportion, {{new distance}}

[2020-07-28 16:45] terracoda commented on #92
I do agree that the checkbox could heavily influence how learners explore the challenges.

[2020-07-28 17:33] zepumph commented on #92
We will make it such that when the ratio is locked, the min value for either value is .05 (half a grid line). That way we avoid the hollywood region.

[2020-07-28 17:54] zepumph commented on #92
We decided that we like that the checkbox is a bit more quiet in the bottom right. We don't want this feature to stand out too much. We also discussed making the ratio more attractive to help this. See https://github.com/phetsims/ratio-and-proportion/issues/99

[2020-07-28 17:56] zepumph commented on #99
Today during design meeting, @emily-phet, @terracoda, @BLFiedler, @Matthew-Moore240 and I discussed how to add these colors to the second screen. I brought up the colors view in proportion playground as a potential way to map the two number pickers in the "My Challenge" accordion box over to a hand color. Here is a screen shot of that:

![image](https://user-images.githubusercontent.com/6856943/88

[2020-07-28 18:07] zepumph commented on #92
We decided to leave this as it is now, especially with interviews right around the corner.

[2020-07-28 21:15] zepumph commented on #9
- [ ] Moving in proportion sound is much quieter than the in proportion sound. We should balance those by probably meeting somewhere in the middle.

- [ ] We decided as a group on Choir + Peaceful and Fifths 2. It may need some fine tuning, but we want to go through a round of interviews before doing more work on this (in case we need to pivot).

[2020-07-28 21:27] zepumph commented on #9
Some notes to look at when (if) we come back to fine tune the `Choir + Peaceful and Fifths 2` sound combo:
* For now we are keeping the bassy breadth of the peacful tranquility sound in because it sounds "complete," but in the future, we may change how we feel to thinking it a bit too muddy. We will come back to this thought
* The balance of levels between Moving in proportion sound vs in proporti

[2020-07-28 21:33] zepumph commented on #9
- [ ] When you would hear the staccato sound, don't play pick up and drop UI sounds for the hands.

[2020-07-28 21:44] zepumph commented on #92
Here is a patch keeping the values above .05, not ready yet:

<details>

[code]
</details>

[2020-07-28 21:51] zepumph commented on #9
Once the above is implemented, we can close this issue. As stuff comes out of interviews, we can make more issues for it.

[2020-07-28 22:57] zepumph commented on #91
@samreid and I spent a bit more time plotting some of the functions for different fitness algorithms. We used Mathematica.

How to read these: the "flat" coordinates are the left/right values, and the height is the fitness, from 0 to 1. Note that all of these are plotted with the target ratio as a constant: 1/2.  Please ignore the spikey ridge tops, this is just due to an incomplete sampling size.

[2020-07-28 23:52] zepumph commented on #105
This is implemented on master. Only for the individual hands (the sliders), not the combined interaction. Furthermore please see https://github.com/phetsims/ratio-and-proportion/issues/104 for work to be done on incorrect alerts and the lack of alerts during keyboard input.

@terracoda and @Matthew-Moore240, you can test things out in https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-d

[2020-07-29 00:24] zepumph commented on #104
I went through and cleaned quite a bit up here. I didn't see a lot of direction in the design doc, so I went with my gut a bit. @Matthew-Moore240 and I decided to get rid of positional alerts, and to only keep the direction (up/down) and ratio context in the alert. It wasn't clear though if we should keep what was currently implemented in the alerts about the "first alert" edge case, which happens

[2020-07-29 00:24] zepumph commented on #104
I should also add that these alerts now trigger from slider input (instead of just from mouse end drag.

[2020-07-29 00:55] zepumph commented on #92
I'm having trouble thinking through all the cases, and will need to come back to this:

<details>

[code]
</details>

[2020-07-29 12:28] samreid commented on #91
One way to compare the slopes in each direction is to take derivatives in each dimension.  For the function in master:

[code]

This shows why putting `targetRatio=1` yielded equal slopes in each direction.

If the design in master had not been approved, then we might use the idea of analytical derivatives to help design a function that had equal slopes in each dimension, but it's unclear if/how w

[2020-07-29 16:04] KatieWoe opened #106 "CT cannot read property stop of null"
[code]

[2020-07-30 00:42] zepumph commented on #106
Clear since this morning's commit, closing

[2020-07-30 00:42] #106 closed

[2020-07-30 18:14] terracoda opened #107 "Dynamic Screen Sumamry - Add "Play Area" to values"
Like in the `aria-valuetext`, please add "Play Area" to the dynamic descriptions of the hands

**Example:**
Currently, at ratio, on Challenge 1
- Left hand somewhat close to the bottom **of Play Area**
- Right hand in the middle **of Play Area**

[2020-07-30 18:17] terracoda opened #108 "Context Responses - remove up down related responses"
Get rid of up and down context responses completely.
- "up"
- "down"
- "moving {{left hand}} down"
- "moving {{left hand}} up"

These are not as useful as we thought.

[2020-07-30 18:19] terracoda opened #109 "Both Hands - Accessible name not heard on keyboard focus"
Tabbing to both hands with KB doesn’t say both hands. It just says movable. When reading with cursor keys, though, it says Both hands, movable.

Is this a coding issue?

Can you make it say, Both hands, movable on focus, please?

[2020-07-30 18:20] Matthew-Moore240 commented on #105
Verified and looks good! Closing.

[2020-07-30 18:20] #105 closed

[2020-07-30 18:22] terracoda opened #110 "Both Hands interaction - no values yet"
Currently we have no description for the both hands interaction.

Can we just implement the current `aria-valuetext` values for that interaction. Is it possible?

[2020-07-30 18:23] terracoda commented on #110
If possible, please do it. Otherwise, please let us know.

[2020-07-30 18:25] terracoda opened #111 "Need "At ratio" for non-visual experience"
Currently, we only get "very close to ratio" when we hit the darkest green and hear the ratio sound.

We need it to say "at ratio".
Can the descriptions follow the same fitness value as the other modalities?

Can we hack this in for interviews at least?

[2020-07-30 18:26] terracoda commented on #111
I realize this is and unintentional out come of all the tolerances that have been designed in.

[2020-07-30 18:28] terracoda commented on #104
See #108, you can also remove the up/down strings in the responses.

[2020-07-30 18:29] terracoda commented on #104
Other than #108, ready to close.

[2020-07-30 18:49] terracoda opened #112 "Review new screen summary"
Review new screen summary

[2020-07-30 19:43] terracoda opened #113 "Screen Summary Updates"
Can we update the entire screen summaries to be like this:

**Explore Screen**
**P1: The interactive Explore Screen changes as you play with it. It has a Play Area and a Control Area.**

P2: NO CHANGES

**P3: Move hands individually or at the same time to explore the challenge.**

P4: STATIC KB shortcuts hint (no change).

**Create Screen**
**P1: The interactive Create Screen changes as you play w

[2020-07-30 19:43] terracoda commented on #113
Bolded text is the new text. Please don't copy in pseudo code :-)

[2020-07-30 19:45] terracoda opened #114 "Help text for Lock Ratio checkbox"
"Explore hands with their ratio locked."

To come after the Lock Ratio checkbox.

[2020-07-30 20:26] zepumph commented on #107
Implemented above, please review.

[2020-07-30 20:30] zepumph commented on #108
Implemented above. Now the only context responses are the current state of the ratio. They are only triggered at the end of an interaction (i.e. end drag or keyboard arrow). Please review.

[2020-07-30 20:46] zepumph commented on #111
Implemented above. @terracoda please review.

[2020-07-30 21:10] zepumph opened #115 "design meeting pixel polishes"
From today's visual design meeting.

[2020-07-30 21:13] zepumph commented on #115
AccordionBox margins, and framing rectangle visibility updated. @emily-phet was there anything else that you wanted to see from this meeting?

[2020-07-30 21:15] zepumph commented on #113
P1 changes came from common code last night. See https://github.com/phetsims/joist/issues/642

[2020-07-30 21:23] zepumph commented on #113
Implemented above, @terracoda please review.

[2020-07-30 21:30] zepumph commented on #109
* The inner content of the `div`  was "Both Hands", but I added an `aria-label` of the same value to make sure the name was right.
* I renamed "Both Hands" to "Both hands"
* I updated the aria-roledescription from `movable` to `movable on focus`.

Please review.

[2020-07-30 22:02] zepumph commented on #110
aria-valuetext didn't seem to work for me. I think this is because it has a `role="application"` on it after trying a few options there, I thought that instead the best way forward, at least for the first round of interviews, is to just use aria-live alerts.

To review:
* I made up an alert pattern that used both left and right positions. Would you rather a different text?
* We alert both each tim

[2020-07-30 22:17] Matthew-Moore240 commented on #113
Couple of things @zepumph
Explore screen doesn't seem to have P3 implemented which the help text for the scene summary

Create screen doesn't have P2 or P3 implemented

[2020-07-30 22:46] Matthew-Moore240 commented on #107
Looks good, Closing.

[2020-07-30 22:46] #107 closed

[2020-07-30 22:47] Matthew-Moore240 commented on #108
Looks great much less cluttered now. Closing

[2020-07-30 22:47] #108 closed

[2020-07-30 22:55] Matthew-Moore240 commented on #110
The main issue I see with this right now is they get no info on where they are in relation to the ratio. Its possible this is fine for now but i would like @terracoda and @emily-phet opinions on this.

[2020-07-30 22:57] Matthew-Moore240 commented on #109
On NVDA its saying "both hands movable on focus" was that intended @zepumph

[2020-07-30 23:00] zepumph commented on #113
Create screen doesn't have P2 or P3 implemented

hmmm. This is what I see in https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.46/phet/ratio-and-proportion_a11y_view.html:

Explore with p3 highlighted:
![image](https://user-images.githubusercontent.com/6856943/88982632-4c388300-d275-11ea-96d5-30454969ce14.png)

Create with p3 highlighted:
![image](https://user-images.githubusercont

[2020-07-30 23:01] Matthew-Moore240 commented on #111
This works really well, I tried a bunch of weird ratios and was able to get the "At ratio" response every time. Closing

[2020-07-30 23:01] #111 closed

[2020-07-30 23:01] zepumph commented on #109
Oh poop. maybe this was a missunderstanding. @terracoda said:

But she meant "Can you make it say, 'Both hands, movable' on focus, please?"

Updates on the way!!!

[2020-07-30 23:03] Matthew-Moore240 commented on #113
I was on the wrong dev version totally my bad. These all look great! Closing

[2020-07-30 23:03] #113 closed

[2020-07-30 23:03] Matthew-Moore240 commented on #114
Looks good. Closing

[2020-07-30 23:03] #114 closed

[2020-07-30 23:05] zepumph commented on #109
Please review master, perhaps from phettest.

[2020-07-30 23:06] #104 closed

[2020-07-30 23:11] zepumph commented on #110
Oh, right! I should add that too. I put it after the position. Right now it is obvious that this is way too verbose, but it is at least a start, and better than not having this information. Let me know if you want it tweaked.

[2020-07-30 23:22] Matthew-Moore240 commented on #109
Haha no worries! This sounds good! Closing

[2020-07-30 23:22] #109 closed

[2020-07-31 02:16] emily-phet commented on #110
Yes - it is key that the learner hear text description that let's them know they have found the success point, so they have confirmation of that and can understand what the success ding sound means. Otherwise, we can ask them to look for the ratio, but they never know if they're there.

@Matthew-Moore240 can you listen to what @zepumph has in place now and see if you think it needs.

[2020-07-31 02:17] emily-phet commented on #110
Whoops - I may have misinterpreted, I hadn't read the entire thread. Ignore if it seems off-base. I'll take a full read through later on.

[2020-07-31 13:37] terracoda commented on #112
We reviewed and resolved in July 30 description design sprint. New screen summary implemented. Closing.

[2020-07-31 13:37] #112 closed

[2020-07-31 13:48] terracoda opened #116 "Add "button" to aria-roledescription on Sim Screen buttons"
"sim screen" alone in the `aria-roledescription` for the sim screen buttons likely won't work for learners. They will not know it is a button and that they need to press space or enter to choose a screen.

The `aria-roledescription`, if we use it, needs to have the word "button" in it.

Please add "button" to the `aria-roledescription` for all sim screen buttons, including Home Scree and in the bo

[2020-07-31 15:48] jessegreenberg commented on #116
Thanks, moved to https://github.com/phetsims/joist/issues/496.

[2020-07-31 15:48] #116 closed

[2020-07-31 15:48] terracoda opened #117 "Suggest 9-point scales for position and ratio"
@Matthew-Moore240 and @emily-phet, I think we will need more detail to describe ratio and possibly more details for describing the hand positions.

Based on Gravity Force Lab Basic's 9-point scale, I added some new qualitative ranges to the design doc. We can review after interviews and at next Design Meeting.

Here's the link to the **Described Ranges for States and Responses** section in the des

[2020-07-31 16:47] terracoda commented on #110
Apologies for th econfusion, @zepumph, I meant use the content from the aria-valuetext. Of course the attribute aria-valuetext will only work on input type range, (i.e. a slider).

[2020-07-31 16:58] terracoda commented on #110
This is very buggy on VoiceOver.

Sometimes I hear nothing.
Sometimes I hear ratio.
Haven't heard positions yet.

I think the object response (position value) and context response need to be put into one response. Firing 2 responses in quick succession might interrupt what is happening too much.

![Screen Shot 2020-07-31 at 2 22 22 PM](https://user-images.githubusercontent.com/1902116/89058098-499

[2020-07-31 17:10] jessegreenberg commented on #110
Self-assigning to test on VoiceOver.

[2020-07-31 22:29] jessegreenberg commented on #110
After the above commit it is working much better for me. It is ready for review again.

[2020-08-03 13:15] terracoda commented on #110
@jessegreenberg, need dev link as soon as possible :-)

[2020-08-03 13:30] emily-phet commented on #110
@terracoda - @jessegreenberg put a link to a dev version on Slack, the RaP channel Friday afternoon.

[2020-08-03 17:16] jessegreenberg commented on #88
This was fixed in https://github.com/phetsims/scenery/issues/1056, and the title of the accordion box is now clickable with or without the zoom feature.

[2020-08-03 17:16] #88 closed

[2020-08-05 19:51] BLFiedler opened #118 "MovingInProportion Sound, Lock Ratio bug"
If you lock the ratio while InProportion, pick up, translate slightly, the choir sound plays without requiring further movement.

In other words, you can be not moving and getting the MovingInProportion sound, though it requires an initial (very small) movement.

I'm calling this a bug because it seems from the sound meeting (that did not include @zepumph ), that this was not intended. I think it

[2020-08-06 21:35] zepumph commented on #118
Thanks for the report. I had a bug in how velocity was being calculated such that it wasn't ever truly 0. This was exposed by the lockRatio feature, but not caused by it. This is fixed in master now.

[2020-08-06 21:40] zepumph opened #119 "AccordionBox expanded state is not reset"

[2020-08-06 21:44] #119 closed

[2020-08-06 21:57] zepumph commented on #103
Let me know if you would like any more logging.

[2020-08-06 21:57] #103 closed

[2020-08-06 21:59] zepumph commented on #102
They are now labelled "Explore Screen" and "Create Screen" as specified over in #641. Please let me know if that is not acceptable.

[2020-08-06 22:20] zepumph commented on #92
After investigating a bit more today, I think that the way forward is with this patch. In addition to it, I will need to take a look a turning the valueRange potentially into a Property. That way the input can be bound accordingly (like the PDOM slider and dragListener). I tried going a different direciton with clamping in the model directly, and it seemed weird and buggy.

<details>

[code]

[2020-08-06 22:47] zepumph commented on #9
Alright! All has been implemented and cleaned up. Let's create new issues from here as we fine tune our sounds. Good work team!

[2020-08-06 22:47] #9 closed

[2020-08-07 14:14] BLFiedler commented on #118
Looks good!

[2020-08-07 14:14] #118 closed

[2020-08-07 19:26] Matthew-Moore240 opened #120 "Proper naming for the gridlines"
During the interviews for RaP it became clear that saying grid lines in the description was not the proper way to be referring to the lines so in todays meeting with @emily-phet and @terracoda we wanted to get your input on what we should be calling the lines.

**Non-Numbered lines**
![gridlines](https://user-images.githubusercontent.com/48224214/89681056-0600a680-d8a9-11ea-88a2-bf0acf152300.PNG)

[2020-08-07 19:28] emily-phet commented on #120
@amanda-phet
It sounded like learners using screen readers were (correctly!) envisioning "boxes" formed by having horizontal and vertical lines when they heard "grid".

Some ideas we had included:
- lines (maybe not specific enough...?)
- horizontal lines (though probably not great for younger learners)

If you have any suggestions, or know of any terms we should definitely avoid, please let us kn

[2020-08-07 22:04] amanda-phet commented on #120
Other ideas... these lines function very similar to tick marks on a number line, so I think you could try "tick marks" and "numbered tick marks". I like that idea a lot, but if you want to limit words, perhaps "units" and "numbered units". However, units can be a loaded term, so I think tick marks really fits well here. If you don't love it, I can keep brainstorming!

[2020-08-08 14:17] terracoda commented on #120
I like "tick marks" and "numbered tick marks", and I was also wondering if "guides" or "guide lines", or "numbered guides" and "numbered guide lines" might be appropriate.

Again, I like "tick marks", so if everyone likes that, let's go with that.

[2020-08-08 14:18] terracoda commented on #120
Maybe the options could be referred to as "Guide Options" and then talk about "tick marks" as the guides in the help text and and the responses.

[2020-08-08 14:22] terracoda commented on #120
For example, would this work?:

H3: Guide Options
P: Choose how you see or hear guided exploration.
- Tick Marks
- Numbered Tick Marks
- No Tick Marks

[2020-08-10 15:56] terracoda commented on #102
These changes were made ready for interviews last week. Closing.

[2020-08-10 15:56] #102 closed

[2020-08-10 17:06] zepumph commented on #91
Thanks @samreid, I agree with you. So far designers seem to like the current behavior. I'm going to close this issue, and we can reopen if there are problems found with the current approach.

[2020-08-10 17:06] #91 closed

[2020-08-11 17:05] zepumph commented on #79
I want to work on #53 before tackling this, because that bug's fix may effect the layout code that changes here. Marking on-hold until then.

[2020-08-11 17:22] zepumph commented on #92
From design meeting today:

- [ ] the lock ratio checkbox should be disabled when the ratio is not in proportion.

[2020-08-11 17:26] zepumph commented on #92
This is a little bit weird visually, because the checkbox's enabled get's altered exactly when the green "jumps" to/from its darkest, in-proportion green. I would like @BLFiedler and @emily-phet to confirm that this is acceptable.

[2020-08-11 18:36] BLFiedler commented on #92
I don't actually think that is weird. It feels to me like: "You did it! Now here's another thing to play with!" And it isn't more visually jarring than the appearance of the dark green jump. At least to me.

[2020-08-11 19:02] zepumph opened #121 "Make white hand circle transparent"
We would like the white circle in the hand to be transparent. Right now, we are placing a white circle on top of the hand icon.

Current look:
![image](https://user-images.githubusercontent.com/6856943/89935629-ef1ac680-dbbe-11ea-95ce-f9188835bf59.png)

`ai` file: https://github.com/phetsims/ratio-and-proportion/blob/13d8ee98ae71bc575bc47766f40cb58924a0f358/assets/filled-in-hand.ai

current png: h

[2020-08-11 19:07] zepumph opened #122 "Tweaks from design meeting today"
From today's meeting, there are three things that would be ideal to tweak in the sim before the next interview tomorrow:

1. Right now there is a white circle inside each hand. It would be great to make that circle transparent. See https://github.com/phetsims/ratio-and-proportion/issues/121
2. "hollywood" low region to <.2 instead of <.5
3. snap to grid lines (only for 0 to 10 grid range). Snap th

[2020-08-11 19:37] zepumph commented on #121
Ideally this could be done today, so that I could get it into a new version of a sim for interviews tomorrow. Marking the same priority as the parent issue.

[2020-08-11 19:48] terracoda opened #123 "Change Explore Screen to Discover Screen"
Based on 4 non-visual interviews @Matthew-Moore240 and @terracoda decided that we need to make it more obvious that the ratio challenges are something learners have to "discover" rather than "explore".

Of course, they are exploring to discover, and we feel "discover" is a better word to name the screen.

This is the first of several issues that will support and reflect this design change from "ex

[2020-08-11 20:15] terracoda commented on #120
I have two related questions for @emily-phet and @amanda-phet:

1. Can we start with the non-numbered tick marks experience?
2. Would it be an okay option to use ordinals to describe the non-numbered tick marks? Or is it better to just describe the numbers in both cases?

[2020-08-11 20:17] terracoda commented on #120
For example:
Currently, {{at}} the challenge {{1}} ratio with
- Left hand {{on second tick mark}}
- Right hand {{on fourth tick mark}}

[2020-08-11 20:21] terracoda commented on #120
Compared with numbered dynamic description which would be:
Currently, {{at}} the challenge {{1}} ratio with
- Left hand {{on tick mark 2}}
- Right hand {{on tick mark 4}}

[2020-08-11 20:40] terracoda opened #124 "Grid Lines Radio Group: Change Grid lines to Tick Marks"
Describing the lines as "grid lines" was unclear to non-visual learners. We will use "tick marks" instead. We will indicate in some way in the screen summary that the tick marks are represented as horizontal lines.

@zepumph, please make the following changes to the radiobutton group for the visual changes to the Play Area. "Tick marks" will also show up in the dynamic descriptions and the eventua

[2020-08-11 20:42] terracoda commented on #124
We may change the order of radio buttons over in issue #120. I am checking with @emily-phet on that.

[2020-08-11 20:52] terracoda opened #125 "Change help text for Ratio Challenges combobox"
Change help text from:
- Choose between three different ratio challenges.
To:
- Choose a ratio challenge to discover.

[2020-08-11 21:00] terracoda opened #126 "Change PDOM order in design doc back to the way it was"
@Matthew-Moore240 and @terracoda think that it makes much more sense to have the Ration Challenges combobox and the My Challenges accordionbox come before the radio buttons about the guides (no tick marks).

On screen one, please swap the order of the combobox interaction and the radiobutton group.

On screen two please put the collapsed My Challenges accordionbox above the radiobutton group.

Ple

[2020-08-11 21:09] zepumph commented on #122
RE 3: To calculate what the percentage of the circle is in terms of the grid lines space, I wanted to determine what the transform on both were. I'm unsure if I did right, but here is how I got each height:

`hand` is an instance of a `RatioHalf.RatioHandNode`
[code]

From this, I think we should snap to the grid within 13.5842179584% of the grid line (half of which on each side of the grid line).

[2020-08-11 21:12] zepumph opened #127 "Finalizing sound for the sim"
Copied from https://github.com/phetsims/tambo/blob/3c84d4124b7aa20ea6d33ab5a5e440b4db3e318c/doc/adding-sound-to-a-sim.md. . .

# Checklist for Adding Sound to a PhET Simulation

This checklist is intended to guide developers through the process of adding sound to a simulation.  It is written at
a fairly high level, and assumes certain knowledge of how the tambo library works and of PhET's developm

[2020-08-11 21:16] terracoda opened #128 "Create Screen - Dynamic summary - remove first bullet item"
On the second screen, the dynamic screen summary potentially has up to 4 bullets.
Please remove the first one that describes the state of the My Challenges accordionbox.

In interviews, users tried to interact with that content.

@Matthew-Moore240 and I think the accordionbox interaction can speak for itself and it does not need to be described in the dynamic summary.

[2020-08-11 21:19] zepumph commented on #127
soundDesign credits are @jbphet @Ashton-Morris.

[2020-08-11 21:34] zepumph commented on #92
-[ ] I didn't handle the case where you change the ratio, that should recalculate the enabled of the lock ratio checkbox also.

[2020-08-11 21:36] zepumph commented on #127
Notes on mixing:
* We want to keep the grid line crossing bump a quiet, and we like that it won't play when the staccato sound does.
* We may want the staccato sound a bit quieter

[2020-08-11 21:36] zepumph commented on #127
- [ ] Boundary sound for the ratio hands when at the edges should play even when the grid lines aren't visible.

[2020-08-11 21:45] arouinfar commented on #121
@zepumph I'll get started on this now. Would you prefer that I cut out the white dot entirely so that there's a fully transparent portion of the hand, or should the white circle still remain on top of the hand but with reduced opacity? I'm going to proceed with the former, if you want the latter, please let me know what alpha level you want for the white dot.

[2020-08-11 22:21] arouinfar commented on #121
@zepumph I vertically aligned the center of the cutout with the top of the thumb, and horizontally centered it within the body of the hand. The result is that the cutout takes out a bit of the fingers. Please let me know if you would like for me to adjust the alignment/proportions.

![image](https://user-images.githubusercontent.com/8419308/89953806-0c668980-dbed-11ea-8e26-974102b87d6b.png)

Here

[2020-08-11 23:09] zepumph commented on #122
(3) implemented above. I like the use of mutating the positionProperty and then notifying listeners static. It feels cleaner to me than creating a new Vector2 each time. It could be improved by only notifying if a change actually occurs, but right now I'm not too worried.

[2020-08-11 23:38] zepumph commented on #121
That looks great, thanks! Added above. Feedback will be given over in #122. Closing

[2020-08-11 23:38] #121 closed

[2020-08-11 23:39] zepumph commented on #122
(1) was implemented above. I have a couple tweaks I want to make to the lock ratio feature, and then I plan to make a dev version for tomorrow's interview.

[2020-08-12 00:08] zepumph commented on #92
Alright, I fixed the buggy case where you change the ratio, and the checkbox is still selected, but disabled (you are stuck until you reset). I will work on the rest of this issue at some point in the future.

[2020-08-12 00:17] zepumph commented on #122
Everything has been implemented here, and put into https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.50/phet/ratio-and-proportion_all_phet.html. I'm going to close this. @BLFiedler please reopen if there are issue.

[2020-08-12 00:19] #125 closed

[2020-08-12 00:20] zepumph commented on #123
Tagging @emily-phet and @BLFiedler as this is a rename of the entire screen. I hope to get to this next week.

[2020-08-12 00:25] zepumph opened #129 "Rename code from "grid" to "tick mark""
From https://github.com/phetsims/ratio-and-proportion/issues/124, this should be reflected in the code too, not just description. Marking for when code cleanup happens

[2020-08-12 00:31] zepumph commented on #124
Implemented above. I think there are quite a few other spots where "grid" is mentioned, but I'm not sure if this is the issue for it though. Here are some other spots I see in the description:

* Description that says something like "above grid position 5"
* "Grid Hidden" as the value of the disabled combo box
* "grid range" values of the combo box
* grid range help text
* Grid range screen summar

[2020-08-12 00:37] zepumph commented on #128
Implemented above. This included getting rid of the sub bullet. Please review.

[2020-08-12 00:41] zepumph commented on #126
Does this mean that the visual layout will adjust also? If so, it would be great to have a bit more specific on that to simplify the iteration on that.

Does this mean that the keyboard navigation order will change along with this? To something like ratio->challenge selector-> grid stuff.

[2020-08-12 00:41] zepumph commented on #126
Tagging visual peeps too just in case @emily-phet and @BLFiedler

[2020-08-12 01:40] terracoda commented on #124
Yep, there will be a cascade of changes, that we need to find, thanks for this list. It is helpful.

[2020-08-12 02:25] BLFiedler commented on #122
Just one thought - at least in my imagination, I think the snap only happened when you released the hands, rather than sticking while you were still moving the hands. Is this possible? It feels a little weird for the hands to snap as I'm actively moving them as it creates this "Stop-start" feeling as you explore.

[2020-08-12 12:37] terracoda commented on #126
@emily-phet and @BLFiedler, @Matthew-Moore240 and I would like to change the tab order and the visual order to better support the prominence of the Ratio Challenges combobox and the My Challenges accordionbox.

These interactions are pedagogically more important than the Guide Options radiobutton group.

The new order is outlined in the tables under [Heading Outline & Focus Order](https://docs.goo

[2020-08-12 13:08] terracoda commented on #128
Actually, @zepumph, please remove the third bullet, too. This is the bullet that describes the selection of the range for the grid lines (or soon to be the range for the tick marks). These settings speak for themselves are not needed for the big-picture view.

[2020-08-12 13:12] terracoda commented on #124
Looks good, thanks @zepumph. Closing.

[2020-08-12 13:12] #124 closed

[2020-08-12 13:19] terracoda commented on #123
I am assigning @emily-phet and @BLFiedler because we all want to move through these issues quickly this week.

@emily-phet and @BLFiedler please approve this change. It is essential to the design of the non-visual experience.

[2020-08-12 13:29] terracoda commented on #123
This change would mean that the H1 and the first paragrpah of the screen summary would change to:

H1: {{Discover}} Screen, Ratio and Proportion

P1: The interactive {{Discover Screen}} changes as you play with it. It has a Play Area and a Control Area.

other changes to the screen summaries are outlined in a different issue.

[2020-08-12 14:00] terracoda opened #130 "New intro text for the Static Screen Summary - both screens (State Descriptions)"
To better scaffold non-visual learners, we want to create a more "search & discover" feeling, and make the ratio challenges more prominent.

In issue #123 we will hopefully change screen 1's name from "Explore Screen" to "Discover Screen". Regardless, though, @Matthew-Moore240 and I want to use the word "discover" more in the State Descriptions to scaffold non-visual learners better.

In interview

[2020-08-12 15:13] BLFiedler commented on #123
Sounds good to me.

[2020-08-12 15:28] zepumph commented on #122
Agreed! I also found a bug with locking the horizontal movement on first drag with the lock ratio feature. I added it in here. Here is a new dev version:

https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.51/phet/ratio-and-proportion_all_phet.html

[2020-08-12 15:39] BLFiedler commented on #122
Looks great to me!

[2020-08-12 15:39] #122 closed

[2020-08-12 15:41] terracoda opened #131 "New wording for Dynamic state-of-sim both screens (State Descriptions)"
Related to screen summary changes in issue #130.
With coming changes to screen 2's dynamic screen summary, the two screens are now more aligned. The two descriptions use teh same parameters, however, still there is a slight wording difference as screen 2 refers to "my challenge ratio" rather than just "challenge ratio".

**The Dynamic state-of-sim description for Screen 1:**
Currently, hands are {

[2020-08-12 15:44] terracoda commented on #131
Oops forgot example for screen 2.

**Dynamic state-of-sim Screen 2:**
_Example on initial screen load_
Currently, hands are {{at}} the my challenge ratio with
- Left hand {{near bottom {{of Play Area}}}}
- Right hand {{just below middle {{of Play Area}}}}

[2020-08-12 15:50] terracoda opened #132 "New wording for Initial Interaction Hints - both screens (State Descriptions)"
The second to last paragraph in the Screen Summary contains a Static initial interaction hint. Here are the new hints fro Screen 1 and Screen 2.

**Screen 1**
- Current hint: "Move hands individually or at the same time to explore the challenge."

_Please change to:_
- Move hands individually or at the same time to maintain the ratio challenge.

**Screen 2**
- Current hint: "Explore current challe

[2020-08-12 16:30] terracoda opened #140 "New help text for Hand Interactions on both screens (State Descriptions)"
We are trying to add intrigue to the scaffolding, so we changing the help text for the Hand Interactions:

Current help text for sliders:
- "Move the hand positions to explore this challenge."

Please change to:
- "Move hands up and down to maintain the mystery challenge ratio."

Current help text for Both Hands:
- "Use W and S keys to move left hand and Up and Down Arrow keys to move right hand t

[2020-08-12 16:40] terracoda opened #133 "Changes for Range Combobox (State Descriptions)"
With the change to tick marks in the Guide Options, we need to change the help text for the Range Combobox.

Current Help Text:
- When grid shown, choose range for grid.

Please change to:
- When tick marks shown, choose range for tick marks.

[2020-08-12 16:42] terracoda commented on #133
Also, when no Tick Marks is selected, please show, "Tick Marks Hidden".

[2020-08-12 16:57] terracoda opened #134 "New help text for Lock Ratio checkbox (State Descriptions)"
The Lock Ratio checkbox will be disabled when the hands are not at the challenge ratio.

To support this, we need to change the help text.

Current help text:
- Explore hands with their ratio locked.

Please change to:
- When at challenge ratio, move hands as a single unit with the ratio locked.

[2020-08-12 17:04] terracoda opened #135 "Change position and wording of help text for the number spinners (State Descriptions)"
Please change position and wording of help text for the number spinners.

Current help text which currently comes after the number spinners is:
- Set left hand and right hand values to explore custom challenge

Please move help text so it comes before the two number spinners.

Here's the new help text:
- Set left hand and right hand values to create your custom ratio challenge.

[2020-08-12 17:15] terracoda opened #136 "New Region Names and ranges for describing qualitative hand position in the Play Area"
We have a new 9-point scale for qualitative hand position regions. Please see table in design doc in section [Described Ranges for States and Responses](https://docs.google.com/document/d/1HJvvGWYaUv9tlat9S7omQQVng8fGB4FuUhTEM1qx1z8/edit#heading=h.dq7735d8wjok)

Here are the words:
- {{at top}}
- {{near top}}
- {{somewhat near top}}
- {{just above middle}}
- {{at middle}}
- {{just below middle}}
-

[2020-08-12 17:28] terracoda opened #137 "New Region Names (8-point scale) for described proximity to ratio"
@zepumph, we have a new 9-point scale for describing the proximity to ratio. Hopefully, this will match nicely with the 9-point scale for describing position.

They are inspired from Gravity Force Lab Basics.

I have no rough ranges for these described ratios, hopefully, you have some ideas on how to handle this dynamically based on the model values.

Here are the parameters:
- farthest from
- ext

[2020-08-12 17:45] terracoda commented on #117
I am going to close this issue as I opened new issues for implementation.
#137 and #136

[2020-08-12 17:45] #117 closed

[2020-08-12 17:58] terracoda opened #138 "Review and optimize help text and hints for both screens"
While working on design doc and posting issues at different times, I think I may have made some wording changes that should be reviewed en masse together after implementation.

We may want to tweak the wording when we see it all in context.

[2020-08-12 19:13] BLFiedler opened #139 "Lower velocity threshold for choir sound"
Now that I've seen two interviewees do the correct movement (they were trying very hard!) but too slow to trigger the choir sound, I might recommend we try lowering the velocity threshold for the choir sound. I think it is probably the case that the requirement that it is moving and that we decreased the fitness window sufficiently increases the difficulty of triggering it for accidental movement.

[2020-08-12 21:28] amanda-phet commented on #120
This seems like a question for the design team, especially Brett who has been doing interviews. I assumed it was important to start with no tick marks (especially since it seems likely that students eventually spend more time with numbered tick marks on).

Is "ordinals" the example of "on second tick mark" and "on fourth tick mark"? If so, I think that sounds fine.

[2020-08-12 23:44] terracoda commented on #120
Thanks @amanda-phet, I only meant to ask you the ordinals questions :-)

[2020-08-12 23:47] terracoda commented on #140
Thanks for moving @jessegreenberg. Looks like I got my repos mixed up.

[2020-08-12 23:55] terracoda commented on #126
@BLFiedler, I didn't realize the pedagogical importance of the radio buttons.

For non-visual access there may be little to no interaction with the non-numbered lines, so it seemed in my interviews that it was important to change challenges.

Let's leave it as is and hopefully, the entire described experience will be more complete and less buggy in the next round of interviews.

[2020-08-12 23:58] terracoda commented on #126
Assiging to myself to re-order the design doc again and then close the issue  when that is done.

[2020-08-13 13:55] emily-phet commented on #120
@terracoda
Regarding your question "Can we start with the non-numbered tick marks experience?".
If you mean can the focus order start there, or the default startup of the sim start there, unfortunately no. The overall intended experience is for learners to explore non-numerically to start. Things like gridlines/tick marks and numbers are using mathematical representations. Dor's work on this topic

[2020-08-13 14:01] terracoda commented on #120
@emily-phet, thanks for the clarification! This makes total sense, and this is why I double checked.
I don't think it makes sense either to change the order, but as you say for non-visual access we may not find that perfect non-visual qualitative experience before first publication.

[2020-08-13 14:05] emily-phet commented on #123
Generally I personally try to avoid "discover", as it carries with it something that feels presumptive to me, like the learner can or should discover something, when it's possible they can't or don't.

But this sim is certainly unique from ones I've worked on in the past - they really do need to focus on figuring out what the challenges are. If it's important to @terracoda and @Matthew-Moore240 -

[2020-08-13 14:19] terracoda commented on #123
Thanks @emily-phet and @BLFiedler!

@Matthew-Moore240 and I do indeed like "discover", and we thought it would make sense to rename the screen. That said, I am **willing to hold off on actually renaming the screen**, and, to focus on strategically using the word "discover" for scaffolding in the rest of the State Descriptions.

I was all gung-ho to rename the screen and then I had 2 hesitations:
1

[2020-08-13 14:43] BLFiedler commented on #123
I'll back this up and say I do think this sim really is a bit more unique both in it's abstraction and task-oriented nature. There is something they are trying to uncover that is withheld from them (and they are challenged to do so) until they put in the effort to find it, and while they can do that by "exploring" around, it also doesn't carry the weight with it that maybe they should in fact be l

[2020-08-13 16:20] emily-phet commented on #115
Looks good! Closing...

[2020-08-13 16:20] #115 closed

[2020-08-13 17:00] zepumph commented on #123
This won't be very difficult, likely only 30 minutes of work or so. I'm happy to do it whenever, just assign me.

[2020-08-13 17:33] emily-phet commented on #94
Looks good! Closing.

[2020-08-14 15:11] terracoda commented on #123
Ok, well then, along with all the other issues that I have already posted for design changes for the State Descriptions, please make the screen name change, too. Assigning to you @zepumph.

[2020-08-14 15:14] terracoda commented on #123
@zepumph, in terms of priorties, you can focus on the other changes first. Then we can have another read through before we change the screen name.

Sound good?

[2020-08-14 18:41] zepumph opened #141 ""Hollywood region" may need to change based on grid range"
This was a thought from meeting this week. I'm not sure if it will come to fruition, but am making an issue. Over to @BLFiedler.

[2020-08-14 19:39] terracoda commented on #130
@zepumph, I am making a slight change to the wording (already changed in design doc). I think using the word "shown" can simplify the sentence structure.

**New P2 of the Static Screen Summary for Screen 1**
In the Play Area you have two movable hands and a set of ratio challenges to discover. Hands can be moved up and down individually or simultaneously to discover multiple places where the chose

[2020-08-14 19:49] terracoda commented on #137
@zepumph, just an FYI, I am working on how these scales will be used in the design doc.

[2020-08-14 20:13] BLFiedler opened #142 "Brainstorming movement and sim state data output"
Note: This issue is not tied to RaPs publication. It's just the most relevant sim we have currently in design. For use during meeting scheduled for 8/17

We'd like to be able to extract positional data for sim elements (e.g., draggable), positional data of related tangibles (e.g., fiducial markers [mechamarkers]), or other sim state/trigger information (e.g., goal states, auditory events, etc) for

[2020-08-14 23:40] zepumph commented on #142
I think that all this data is available in the step function in which we convert marker location into model values:

https://github.com/phetsims/ratio-and-proportion/blob/77f0c610f1c41928c87f166460a1ec64da24fd73/js/common/view/ProportionMarkerInput.js#L45-L62

We should be able to log everything needed there

This step function is run at 60hz (ideal).

[2020-08-14 23:58] zepumph commented on #142
I have written code that spits out a csv also before, and could add an options dialog entry to do that. My guess is that this would take an hour to get a one-off version snapshot that could do this for you. I will hold off until our meeting though.

https://github.com/phetsims/interaction-dashboard/blob/705fa1f14e8231fbc5861ec9e508c0c3c0c01366/js/preprocessor/preprocessor.js#L153

[2020-08-15 00:12] zepumph commented on #128
Sounds good to me.

[2020-08-15 00:53] zepumph commented on #131
In the above example, I see that we are only saying "of Play area" for qualitative description. I think this is the issue to update that about, but I feel like I should ask about doing that so that you understand the scope of this change.

in https://github.com/phetsims/ratio-and-proportion/commit/7bd2ac9b92c4a93fc3f72f16fc42dbdfadda3b4c we we now don't get "of Play Area" for quantitative descript

[2020-08-15 01:04] zepumph commented on #135
It is easy to make the help text go below the number spinners, or above the "my challenge" button. It is more challenging to place it in between the two. It is still possible, but will involve changes in AccordionBox to make it possible.

If you would like this to be done, will you please discuss if you feel like this is a general feature of all accordion boxes, or just where we want the help text

[2020-08-15 01:05] terracoda commented on #131
Thanks for the heads up @zepumph, I haven't sorted out the aria-valuetext and context responses (interaction alerts) yet.

I've started in a new parameter (proximity to /distance from other hand), but I haven't got compete examples of what it would sound like qualitatively or quantitatively yet.

Hopefully, I get get something concrete together in the morning.

[2020-08-15 01:23] zepumph commented on #137
pedagogically, I feel like "farthest from" is a bit of a confusing  region for this sim. It doesn't have an obvious mapping in the code, and I don't know how helpful it would be. If we want it, I see a couple of possible ways to proceed:

* Mapping from fitness of 0-1 (0 is when background is white). So 0 would be "farthest from" this is weird to me because the ratio can change and still be "farth

[2020-08-15 01:30] terracoda commented on #135
@zepumph, would the help text be outside the accordion box if it came before the number spinners? I was imagining html like this:

- button+heading for title of box
  - open wrapper for number spinners
    - p for help text
    - left hand number spinner
    - right hand number spinner
  - close wrapper for box

Obviously, that's very simplified.

It's not a show stopper to leave the help text whe

[2020-08-15 01:40] terracoda commented on #137
Ok, maybe, "farthest from other hand" makes more sense, as a kind of landmark. This would be similar to how we use "Track end left" and "Track end right" in GFLB.

Can you just merge the single-value region into "extremely far from" for now. We may only need an 8-point scale.

I hope to get some examples of the responses done in the morning.

[2020-08-15 01:45] terracoda commented on #136
@zepumph, I don't know if having a 9-point scale here, and an 8-point scale for proximity to challenge ratio in #117 will be problematic.

[2020-08-15 02:06] zepumph commented on #136
The above have been implemented, we can see if things need tweaking from here.

[2020-08-15 02:09] zepumph opened #143 "valueRange.min should be 0"
It is pretty hacky that the valueRange.min is .001 right now. I think the model and view should allow and support 0 values.

[2020-08-15 02:14] zepumph commented on #137
I think a single value region like this seems weird to me because of how it is relational based on both hand values. I'm happy to play around with it more though.

[2020-08-15 02:14] zepumph commented on #137
I'm not going to get to this until at least Monday.

[2020-08-15 02:34] terracoda commented on #137
Sorry for thinking out loud in a confusing way. I did not mean implement “farthest from other hand”, I am still thinking through that idea and how it would work, if at all.

I meant just make “extremely far from“ the last region for proximity to challenge ratio.

[2020-08-17 17:43] zepumph commented on #142
From today's meeting, I will try to get something to @BLFiedler for him to poke around with by the end of next week.

[2020-08-17 17:44] zepumph commented on #137
Ahh, I see. Gotcha!

[2020-08-17 20:19] zepumph opened #144 "Staccato sound should play immediately when leaving fitness=0"
I noticed that there seems to be a half second delay before hearing the first staccato sound. I thought I tried to fix this such that we have a sound right when entering the "feedback zone." There is either a bug with how I tried to do this, or I actually didn't do it. Tagging designer @BLFiedler to confirm that is expected behavior. I felt like we decided this in a sound design meeting, but didn'

[2020-08-17 20:25] zepumph opened #145 "Snap-to-ticks can snap out of proportion"
In a weird case, the snap-to-ticks can actually to do opposite of what we want. I will preface this issue by saying this is likely an edge case we don't care about this, but I still thought it good to log it.

Steps to reproduce:
1. Either screen
2. Show units and tick marks
3. target ratio of 1/3 (challenge 2 on the explore screen)
4. right hand at third tick mark
5. carefully place the right han

[2020-08-17 20:26] zepumph commented on #145
![image](https://user-images.githubusercontent.com/6856943/90441090-d578f380-e084-11ea-8264-f3a0af5d68a2.png)

[2020-08-17 21:00] BLFiedler commented on #145
Good catch! That is a little problematic for those who explore with the right hand and follow with the left (which was the case for the final interview I conducted last week).

Does it make sense (is it possible) to ask if the fitness is = 1 (or whatever value gives you dark green) at cursor release and if so, _do not_ snap-to-grid? Or is that problematic because it's asking the sim to predict wha

[2020-08-17 21:03] BLFiedler commented on #144
I think for consistency it would be good to play the first sound with the first visible color change. Tagging @jbphet to see if he agrees.

[2020-08-17 21:04] BLFiedler commented on #142
I'll be talking to EM tomorrow (818) and can confirm if anything here should be prioritized for the short-term.

[2020-08-18 05:30] zepumph opened #146 "Weird lock ratio bug"
I think this needs to be fixed with a design decision. Here is how to reproduce:

1. Create screen
2. Target ratio 1:1
3. move both hands to about ~.4, be in proportion, but try to make the values a bit different
4. Click "lock ratio"
5. both should snap to above .5
6. move them up to the top of the space
7. The minor different that was in proportion tolerance down low now makes a very strange wei

[2020-08-18 05:34] #143 closed

[2020-08-18 05:38] zepumph commented on #92
I was finally able to make this happen. The above commit includes a pretty large underlying model change to support changing the enabled range of each draggable hand.

To support this change in the view where the dragListener is wired up:
* I created `enabledValueRangeProperty`. Many spots want to always know what the whole range is, even if some of it is no enabled (like the tick marks), so the v

[2020-08-18 05:47] zepumph commented on #146
Can be seen in https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.52/phet/ratio-and-proportion_all_phet.html

[2020-08-18 05:47] zepumph commented on #139
I made this a query parameter so that you can tweak at your leisure. The value was .01, in words that means that it has to change 1/10 of a grid line every half a second to trigger,  see doc in https://github.com/phetsims/ratio-and-proportion/commit/0e676f4a39ec198ba61a1ae34f373e7e23d67647 for details.

I lowered it to .009, or 9/100 of a grid line per half second. Please let me know what you thin

[2020-08-18 05:48] zepumph commented on #92
See https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.52/phet/ratio-and-proportion_all_phet.html for a dev version to review.

[2020-08-18 05:53] zepumph commented on #145
It is very possible, in fact I thought it easiest to just implement in this patch it so I don't forget later. Let me know what you would like

[code]

[2020-08-18 15:27] BLFiedler commented on #146
Let's revisit this during design meeting. There's some weird behavior while doing this where it just pops out of ratio while moving it around the middle region.

But, wrt the above, we should maybe discuss if it's worth having the Lock Ratio automatically jump the hands to the exact ratio values (fitness == 1.000000000000000000000000000, exaggerated for emphasis)

[2020-08-18 15:28] BLFiedler commented on #145
@emily-phet , what do you think of that behavior? I am not immediately thinking of a downside, though I imagine something will come up...

[2020-08-18 16:39] zepumph commented on #146
Ahhh yes, jump to exactly in ratio, I like that! But which hand holds the definition of "the ratio"  probably it's enough to just say "the left" always.

[2020-08-18 17:15] terracoda commented on #140
Looks good, closing.

[2020-08-18 17:15] #140 closed

[2020-08-18 17:18] BLFiedler commented on #145
Snap-to-ticks is expected, let's leave this behavior as is.

[2020-08-18 17:18] #145 closed

[2020-08-18 17:19] terracoda commented on #136
I don't seem to land on "at middle" when I use default key press.
Not sure what to suggest about that.

[2020-08-18 17:32] BLFiedler commented on #139
I think I like something as low as 0.002. Let's assign that as the default for now and see if any problems arise.

[2020-08-18 17:39] zepumph commented on #135
@terracoda mentioned that this help text is not for the accordion box, but instead for the content of the accordion box.  We want the help text above that content. That should be easy! One implementation coming right up!

[2020-08-18 18:08] zepumph commented on #135
Fixed in master, please review.

[2020-08-19 00:11] emily-phet commented on #92
This looks good to me.

[2020-08-19 00:11] #92 closed

[2020-08-19 15:22] terracoda commented on #137
@zepumph, can you implement 8 regions, please:

- very far from
- far from
- not so close to
- close to
- very close to
- extremely close to
- at

Note, I chose "not so close to" over "somewhat close to", but after implementation we may need to swap that one.

[2020-08-19 15:24] terracoda commented on #137
Just added "extremely far from" to above list.

[2020-08-19 15:48] terracoda commented on #135
You have the help text where I wanted it now. Nice work, @zepumph and thanks. Closing this issue.

[2020-08-19 15:48] #135 closed

[2020-08-19 15:58] terracoda commented on #136
@zepumph, I am still not hearing "at middle" of Play Area neither with default key press now with little steps with Shift key.

[2020-08-19 16:03] terracoda commented on #134
verified and closing. Thanks!

[2020-08-19 16:03] #134 closed

[2020-08-19 16:04] terracoda commented on #133
Verified and closing. Thanks.

[2020-08-19 16:04] #133 closed

[2020-08-19 16:06] terracoda commented on #128
Verified. Thanks!

[2020-08-19 16:06] #128 closed

[2020-08-19 17:44] terracoda commented on #132
Assigning to @Matthew-Moore240 to verify.

[2020-08-19 17:44] terracoda commented on #131
Assigning to @Matthew-Moore240 to verify.

[2020-08-19 17:46] terracoda commented on #130
Assigning to @Matthew-Moore240 to verify.

[2020-08-19 17:58] terracoda commented on #126
Adding @Matthew-Moore240 to this ISSUE.
One of us will re-re-order the items in the design doc to match the current implementation

[2020-08-19 23:41] emily-phet commented on #110
Closing this issue - I think we have a plan for a next approach to the content that is displayed for the "both hands" scenario, and will create an issue focused solely on that approach.

[2020-08-19 23:41] #110 closed

[2020-08-19 23:42] emily-phet commented on #120
I think we have a strategy to move forward with. Closing this issue and will open new ones specific to what we would like implemented.

[2020-08-19 23:42] #120 closed

[2020-08-20 00:07] emily-phet commented on #126
Updated the design doc just now. Closing.

[2020-08-20 00:07] #126 closed

[2020-08-20 00:09] emily-phet commented on #130
@zepumph - Please remove the word "freely" from the scene summary in the Create screen. Once that's done, this looks good to go to me.

[2020-08-20 00:13] emily-phet commented on #132
Verified! Closing.

[2020-08-20 00:13] #132 closed

[2020-08-20 00:14] emily-phet commented on #138
Agreed - we'll review all and refine once the next iteration is all in place.

[2020-08-20 00:14] #138 closed

[2020-08-20 00:16] emily-phet commented on #35
Overhauling responses, to be more like GFL:B approach. Closing this and will open new issue with specifics of that approach.

[2020-08-20 00:16] #35 closed

[2020-08-20 00:18] emily-phet commented on #131
Looks good, implemented as requested. We'll decide later if it's an issue that "play area" is not used for ordinal or qualitative variants of the description.

[2020-08-20 00:18] #131 closed

[2020-08-20 00:23] emily-phet commented on #136
Agreed - I can't get "at middle" to appear in a11y view either.

[2020-08-20 00:32] emily-phet commented on #137
Discussed today, and here's the final list (8-point scale) we'd like implemented:
- "extremely far from" - (screen white)
- "very far from" - (screen white)
- "far from" - (screen white)
- "not so close to" - (screen white)
- "somewhat close to" - (screen light green)
- "very close to" - (screen light green)
- "extremely close to" - (screen light green)
- "at" - (screen darkes green)

Note - I add

[2020-08-20 00:37] emily-phet opened #147 "Updates to list in screen summary - when "tick marks" only selected"
@Matthew-Moore240
We need to discuss this situation. Currently, the implemented description does not have the ordinal wording (e.g., "first tick mark", "second tick mark") but also I think the "middle of tick mark" and the regions used for "just below" "below" etc. could be improved. Easier if we discuss in realtime though.

[2020-08-20 00:39] emily-phet opened #148 "Scene summary - add distance between hands as a third bullet in the bullet list"
Need to design the specific wording to capture this, then assign to MK. (can discuss with me if needed)

[2020-08-20 00:42] emily-phet opened #149 "Updated wording for help text just below hand sliders"
Replace "Move hands up and down to maintain the mystery challenge ratio." with "Move hands up and down to find the challenge ratio in different locations."

[2020-08-20 00:47] emily-phet opened #150 "Moving location of help text for Guide Options - to above list"
Move help text for Guide Options to above list, rather than current location below list.

[2020-08-20 00:48] emily-phet commented on #150
For both screens.

[2020-08-20 00:51] emily-phet opened #151 "H3 heading "My Challenge" above accordion box on Create screen"
See design doc, there is a "My Challenge" H3 heading above the accordion box. Please add this.

[2020-08-20 11:46] terracoda commented on #151
@emily-phet, "My Challenge" is coded as a heading level 3 `<h3>`, but it is a button inside a heading, so the styling in the A11y View makes it look like a button, rather than a heading.

Users in interviews were able to find "My Challenge" when looking for a heading or a button, and I think at least one participant commented positively about a button being inside a heading.

Here's the code:
![h3

[2020-08-20 11:46] #151 closed

[2020-08-20 16:36] BLFiedler commented on #146
Just to detail what we decided in the last design meeting:

Let's go ahead with the fix mentioned above re the left hand automatically jumping to make the ratio fitness precisely 1 within whatever precision is used in the sim with the understanding that the window of "dark green" is always fairly small and any jump will also be small and hardly noticed. If this is not the case and it seems jarring

[2020-08-20 23:15] zepumph commented on #137
Use this table: https://docs.google.com/document/d/1HJvvGWYaUv9tlat9S7omQQVng8fGB4FuUhTEM1qx1z8/edit#heading=h.v24owms95lch

[2020-08-20 23:41] zepumph opened #152 "Add distance-from regions + directional changes to ratio fitness alert"
In addition to description about the position of the slider hand you are moving, we also want to add in content about the relative distance/direction-of-movement from/to the other hand.

User this table for the directional regions: https://docs.google.com/document/d/1HJvvGWYaUv9tlat9S7omQQVng8fGB4FuUhTEM1qx1z8/edit#heading=h.mxsosk6hxekb

We also noted two cases where direction changes relative to

[2020-08-20 23:46] zepumph commented on #137
A reminder for me, well explained above, that the `at` region occupies the entire range of `model.inProportion()`

[2020-08-21 00:43] Matthew-Moore240 opened #153 "Third bulletin for Static screen summary"
Basic pattern for all 3 views

Currently, hands are {{proximity-to-ratio}} the challenge {{1}} ratio with
- Left hand {{hand-position-qualitative or hand-position-ordinal or hand-position-numbered}}
- Right hand {{hand-position-qualitative or hand-position-ordinal or hand-position-numbered}}
- **Hands are {{extremely far from}} each other.**

The third bulletin is new and has a [table ](https://do

[2020-08-21 01:00] Matthew-Moore240 opened #154 "Regions for in between tick marks for semi-quantitative Sceen Summary only"
added the table for semi-quantitative tick mark for the region between the hands and this is for the non numbered tick marks only.

- {{on}}
- {{just below}}
- {{below}}
- {{halfway past}}
- {{above}}
- {{just above}}

Example scene summarry
Currently, hands are {{at}} the challenge {{1}} ratio with

- Left hand {{**just above** second tick mark}}
- Right hand {{**halfway past** fourth tick mark}}

[2020-08-21 01:02] Matthew-Moore240 commented on #148
New issue posted and all set.

[2020-08-21 01:02] #148 closed

[2020-08-24 19:38] zepumph commented on #53
I really should get to this soon, elevating priority.

[2020-08-24 19:58] zepumph commented on #136
using `?log`, I saw that in many cases it was working, but going to either extremity, and then trying to find the direct center again most often resulted in a rounding error like `.499999999999999997` in the model. I clamped this to the expected value above, and I hope that this is no longer a bug. Please confirm fixed on master.

[2020-08-24 20:04] zepumph commented on #137
This is already in the describer code:

[code]

I'm a bit worried about how to define the regions that exist when fitness is 0. A couple of ideas:
* base it on distances in ratio error from the target ratio
* build it into the model with a new value range simliar to fitness, but with a different algorithm. This way other modalities to monitor this new range.
* Calculate the min and max ratio possi

[2020-08-24 20:09] zepumph commented on #137
Ah!! An idea. What if we stop clamping fitness, at least for this context, then we have the same algorithm that we are using for fitness, just sometimes we interpret it from 0-1 (normal case), and sometimes, like for this case, we interpret it from (~-10000, 1]. I will look into it.

[2020-08-24 20:27] zepumph commented on #137
Here is the value of unclamped fitness given the current ratio. I see the min fitness is >-50. Maybe that can be our bound for interpolation, for now.

| Target ratio | fitness <br>at max ratio | fitness <br>at min ratio|
| -------------- | --------- | ---------- |
| 1/2 | -9 | -4|
| 1/10 | -49 | -4|
| 1/1 | -4 | -4|
| 2/1 | -4 | -9|
| 10/1 | -4 | -49|

[2020-08-24 21:20] zepumph commented on #137
The penultimate commit above added most of the logic above, including an `unclampedRatioProperty`, This still maxes out at 1, but an go below 0 depending on how bad the fitness is. I felt like it was important to get you something to test quickly, but I think that if we move forward with this solution, then both Properties should be combined into one.

Here is the best way to test:
* on dev versio

[2020-08-24 22:00] Ashton-Morris commented on #127
@zepumph The one thing I thought needed changing but couldn't find was the sound for when you click on the PhET icon on the bottom right. Since it is an abrupt sound, it comes across to me as too loud. That sound play at 80% its current volume.

[code]

[2020-08-24 22:21] zepumph opened #155 "cleanup RatioAndProportionAlertManager.js and rename"
Right now a new instance is created for each RatioHalf, so it should probably get a new name based on that.

[2020-08-24 22:24] zepumph commented on #152
[the above commit](https://github.com/phetsims/ratio-and-proportion/commit/87eaef7b3b6abc924018fb5f8e8509f99aa70669) was good cleanup that separated describer logic into two types, one for the ratio fitness description, and the other about the position of the hands. This will make it easier to add these distance-related ones now. Right now I think they will go well in `HandPositionsDescriber.js`.

[2020-08-24 22:46] zepumph commented on #152
* I implemented the regions as described in the table (not yet committed), and I feel a bit like "extremelyCloseTo" has a bit too much breadth (range of 0<X<2. It is 1/5 of the vertical distance. That much range doesn't seem like an extreme to me.

[2020-08-25 00:15] zepumph commented on #152
This was added above, and can be tested in https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.56/phet/ratio-and-proportion_a11y_view.html.

To review:
* Note that you can never get a direction-change alert when both hands' position is the same ("even with" distance).
* I'm not totally convinced that the region ranges are totally spot on. But I didn't notice until I could play with i

[2020-08-25 17:36] zepumph commented on #137
After discussion today with @emily-phet, @Matthew-Moore240, and me, we would like to calculate what the current min-fitness is based on the target ratio, and map linearly from that number to 0 for the farther 4 regions. This is better than an arbitrary constant (currently -3) in which everything lower is clamped.

[2020-08-25 18:09] zepumph opened #156 "Reproducible key steps when mouse input moves off expected "grid""
This is a question for @terracoda:

@emily-phet, @Matthew-Moore240, and I were curious about how mouse input can "throw off" the designed keyboard steps. In particular, how using the mouse can make it impossible to get to the "even with" distance alert over in https://github.com/phetsims/ratio-and-proportion/issues/152, even if you use keyboard after mouse input.

Problem: keyboard movements go to

[2020-08-25 18:34] Matthew-Moore240 opened #157 "Adding location of hands to "both hands" play area"
We would like to add a sentence to the "both hands" indicating where the hands are located. Its a single sentence that follows the same logic as the dynamic scene summary bullet points for all three views of the sim. Here are examples.

**qualitative**
Left hand {{near bottom}} of play area, right hand {{just below middle}} of play area.

**ordinal**
Left hand {{on second tick mark}}, right hand {

[2020-08-25 19:15] zepumph commented on #152
We discussed this today, and thought that @Matthew-Moore240 should look at the above regions ranges and recommend any tweaks needed. He agreed that "extremely close to" had too large of a range.

[2020-08-25 19:47] zepumph commented on #146
Here is a start on this. It isn't as simple as I wished it was, as we have edge cases where automatically snapping the left will take it out of the position range.

<details>

[code]
</details.

[2020-08-25 21:32] zepumph opened #158 "Final sound mixing"
@Ashton-Morris mixed over in https://github.com/phetsims/ratio-and-proportion/issues/127#issuecomment-679388380, and that along with https://github.com/phetsims/tambo/commit/bf323435a704a1b2174d0201918b418a61bfce8f has made a potentially final sound mix for the sim. There is still some cleanup to be done in a few other issues, but the levels should be all set. Assigning for final review of https:/

[2020-08-25 23:13] #149 closed

[2020-08-25 23:28] zepumph commented on #150
@jessegreenberg, last week I feel like we talked about doing something really similar to the above commits, but I don't remember for what issue. Can you please review this refactor and let me know if you have any concerns. The goal is generality and reusability. My hope would be that we start using helpText and accessibleName in 95% of cases, and build out these behavior functions so that once oth

[2020-08-25 23:47] zepumph commented on #153
I wrote a comment in the design doc, but is it possible for these regions to be the same as the distance regions in the aria-live alerts? This would mean using the same ranges, and choosing if we want to have "max distance from" or "farthest from" as the last region in both. I went with "farthest from" right now since it is already in from work over in #152. Please review.

[2020-08-26 00:04] zepumph commented on #137
I have based the min of the ratio fitness regions on the actual minimum possible fitness given a target ratio. @emily-phet and @Matthew-Moore240 please review and compare the regions to https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.54/phet/ which just uses an arbitrary cutoff of a fitness of -3 to map regions less than 0.

Thanks!

[2020-08-26 00:06] zepumph commented on #130
I'm going to close this. Please reopen if anyone has thoughts.

[2020-08-26 00:06] #130 closed

[2020-08-26 00:39] zepumph commented on #154
Right now there is nothing about larger tick mark ranges, so I will keep this here in case we need it in the future, and just follow the table for now.

<details>

[code]

[2020-08-26 00:44] zepumph commented on #154
I updated the middle region what was "in the middle of" to be "halfway past". This is for the numbered grid also. I felt like that was what we talked about doing last design meeting also, even though it wasn't totally clear that was correct from the doc or above comment.

[2020-08-26 00:57] zepumph commented on #154
Ordinal numbers for semi-quantitative description has been implemented above, as well as a bug fix for the "halfway past" update above.

I only implemented to "ninth" because I saw that on the table, the tenth actually swapped back to full quantitative. Is this correct?

![image](https://user-images.githubusercontent.com/6856943/91242489-0b0c8500-e6f4-11ea-9798-36acd3b6a4ce.png)

I feel fine about

[2020-08-26 01:07] zepumph commented on #144
While working on this, I saw doc that made it seem like we made it this way to prevent getting a note often when you fling the hand from top to bottom through and past the ratio. @jbphet, this is a use case you were thinking about often. @BLFiedler and @jbphet, is it better now, or worse?

[2020-08-26 16:46] jbphet commented on #144
I think I prefer it this way, where the sound always occurs, even if moving fast.  I'll wait to log a final opinion until we have the "success" sound playing on each crossing, which is something that we discussed at the last sound design review meeting.

[2020-08-26 18:41] zepumph commented on #144
I don't know where the in proportion sound playing issue went, so I will do that here too.

[2020-08-26 20:57] Matthew-Moore240 commented on #153
These are working good. I am okay with it being farthest from, tested extremes and everything is looking pretty good. Closing

[2020-08-26 20:57] #153 closed

[2020-08-26 21:00] Matthew-Moore240 commented on #154
Yeah I think if @terracoda wants to weigh in on how far we want to take the ordinals since on the create screen the tick marks go all the way to 30.

[2020-08-27 02:32] jessegreenberg commented on #150
These functions look great, and I look forward to using them. I remember briefly talking about where to put them but don't think it was solidified. I think they will be hard to find in the `A11yBehaviorFunctionDef`, which (I think) would generally be used for validation rather then definition of behavior. Perhaps I am incorrect about this though.

What do you think about putting these in ParallelD

[2020-08-29 01:02] zepumph commented on #150
I moved to ParallelDOM, which felt best to me for now. When there are more we can move them around to a better spot.

[2020-08-29 01:02] #150 closed

[2020-08-29 01:44] zepumph opened #159 "prefer RAP*.js to RatioAndProportion*.js"
I think the shorter prefix would be easier and better.

[2020-08-29 02:01] #129 closed

[2020-08-31 16:31] zepumph commented on #90
So far nothing else has come up for this sim. I will open new issues if RaP is held up by future common code work

[2020-08-31 16:31] #90 closed

[2020-08-31 16:38] zepumph opened #160 "prefer callbacksForOtherNodes"
Now that we have a new and better pattern for forwarding accessibleName to another Node (from https://github.com/phetsims/sun/issues/503#issuecomment-680311514), we should use that here.

[2020-08-31 16:38] #160 closed

[2020-08-31 16:58] Matthew-Moore240 commented on #147
Do we still need this issue? I believe we discussed this and came to a conclusion about the tick marks.

[2020-08-31 17:23] zepumph commented on #157
It isn't totally clear where this sentence should go. Here is what I see in the design doc:

![image](https://user-images.githubusercontent.com/6856943/91747760-37e4f000-eb6b-11ea-9dee-553108738d77.png)

Does this mean it is a sentence after the help text? Will it be the content of the "both hands" div? Part of me has always imagined this as an alert, as the "object response". Adding it to the PDO

[2020-08-31 17:26] zepumph opened #161 ""both hands" context alert"
In addition to a sentence in the PDOM to be added in https://github.com/phetsims/ratio-and-proportion/issues/157, what should the user hear about the ratio after each both hands interaction.

[2020-08-31 17:59] zepumph opened #162 "in proportion sound should play when skipping over the "in proportion" range"
@jbphet mentioned this in the design meetings as well as over in https://github.com/phetsims/ratio-and-proportion/issues/144#issuecomment-680996581. If you quickly move from the top of the screen to the bottom, it is likely that an in Proportion value is never actually set to the Property, so we should handle the case where the values "straddle" the in proportion value (on either side of it).

[2020-08-31 18:00] zepumph commented on #144
On second thought, I think I will work on that in a new issue, see https://github.com/phetsims/ratio-and-proportion/issues/162.

@BLFiedler anything else for this issue?

[2020-08-31 18:03] BLFiedler commented on #144
Haha. Nope, that'll do here.

[2020-08-31 18:03] #144 closed

[2020-08-31 20:23] zepumph opened #163 "How to avoid divide by zero error with right value"
In the model we need to support the case where the right hand goes to 0. This has been dealt with in two different ways thus far.

1. (no longer used) First we set the range of the sliders to be between .00001 and 1. Then you never get a divide by zero error. This ended up being sloppy for description ranges.
2. Currently implemented we manually address the divide by zero errors only in the cases

[2020-08-31 20:33] zepumph commented on #162
I got this working as the design spec was thought through for mouse input, and I committed it so that people could experiment, but it is really weird for keyboard navigation. In that input modality, there are many cases where you are moving the value directly to a new number, and not thinking about dragging through the range to that number. The easiest example is when pressing home/end. Should tog

[2020-08-31 20:47] zepumph commented on #63
I just had an idea, why not just stop the previous sound before playing the next one. It will stop on a delay so it shouldn't be abrupt or anything. But then when I add this patch, I can't hear a difference at all.

[code]

I can't really think of a problem here with this issue. Everything with the sound's design is correct, and there have been no more issues. The main fix that occurred in this sp

[2020-08-31 20:49] zepumph commented on #63
Oh! I figured it out. When you are not fully enabled, the sound clip will stop (not just mute). Thus when no longer interacting with a hand, it stops itself. My best guess as to why this wasn't happening before was because it was embedded in the same class as the staccato sounds, or perhaps we were recreating SoundClips too often because of different sound options logic.

[2020-08-31 21:49] Matthew-Moore240 commented on #152
Okay I think the new regions should be something like this

This is with the right hand all the way to the top and the left hand all the way at the bottom.

**Left hand:**

- extremely far from (1.0 -.8) this is tick marks from 0 to 2
- very far from(.7999 to .6) this is tick marks 2.1 to 4
- far from(.59999 to .4) this is tick mark 4.1 to 6
- not so close to (.3999 to .3) this is tick mark 6.1 to

[2020-08-31 21:58] zepumph commented on #162
I am going to mark this as high priority because we are trying to solidify sound design this week.

[2020-08-31 22:01] zepumph commented on #63
After looking into https://github.com/phetsims/tambo/issues/120 with @jbphet, we decided that the best way to solve this issue is to use inheritance instead of composition so that the fullyEnabledProperties are set to the SoundClip.

[2020-08-31 22:05] zepumph commented on #63
We now no longer get the tail of the previous success sound when beginning a new interaction in success conditions. I'm going to close this issue, as I don't think there is anything else to discuss, and this was a minor bug to begin with.

[2020-08-31 22:06] #63 closed

[2020-08-31 22:21] zepumph opened #164 "Get directional changes when move away from each other when farthest apart"
This bug was discovered while I was reviewing https://github.com/phetsims/ratio-and-proportion/issues/152.

Steps to reproduce in a11y view:
1. move left hand to 0
2. with keyboard navigation get to the the max with right hand. alert should be "Farthest from left hand, far from challenge ratio." or something.
3. press up arrow (no change in position because it is already at max), now I get an aler

[2020-08-31 22:22] zepumph commented on #152
Implemented above. This feels really good to me. One thing: 1.0 is currently a single point region "farthest from", is that still correct to you?

Please review. Anything else?

[2020-08-31 22:38] zepumph commented on #100
I still can't reproduce this. Unassigning

[2020-08-31 22:44] zepumph commented on #164
Fixed above. closing

[2020-08-31 22:44] #164 closed

[2020-08-31 22:45] zepumph commented on #59
Now that we are working on #158, I think it is time to think about this issue. Over to @emily-phet for final thoughts and actionables.

[2020-08-31 22:55] jbphet commented on #158
I tried the mix out on headphones, on a pair of Altec-Lansing "Multimedia" computer speakers (with no subwoofer), and on the built-in speakers of my Dell XPS laptop.  For the most part, I thought the relative levels were great.  The only suggestion I would make is to slightly reduce the level of the getting-closer-pluck sound.  It seemed a little loud to me in all cases, especially since it plays

[2020-08-31 23:01] jbphet commented on #158
One other thing related to common-code UI components: I think the open and close of the accordion box is a little loud and we should consider reducing it.  I believe this is the first sim that will be published with sound enabled for this component, so we should be free to make changes without worrying about the impact on other sims.

[2020-08-31 23:55] Matthew-Moore240 commented on #152
Yes thats totally good with me!

[2020-09-01 00:21] zepumph commented on #53
After much poking around, I finally got a patch that fixes this. I want to discuss it with @jessegreenberg tomorrow, since he is much better and visual layout than I am, but I think it is close to complete. It feels a bit sloppy, because you have to convert transform contexts between the ratioHalf and the parent (screen view), but I think we can get something to work here.

[code]

[2020-09-01 00:22] emily-phet commented on #57
@zepumph

- [ ] For the first screen, can you have the color of the hand match the challenge color (with a medium black stroke around the outside of the hand)?

- [ ] For the second screen, can you have the color of the hand match the blue number spinner color (again, with a medium black stroke around the outside of the hand)?

- [ ] For the second screen, can you have the hands in the accordion b

[2020-09-01 02:57] #152 closed

[2020-09-01 13:24] emily-phet commented on #84
@zepumph - Can you implement the following?
I'm thinking like this mockup with a few changes I couldn't draw in: [Presentation1.pdf](https://github.com/phetsims/ratio-and-proportion/files/5156440/Presentation1.pdf)

- [ ] For the first screen, like the mockup,  but with the hands the yellow challenge color, with a medium black stroke around outside of hands:
- [ ] For the second screen, like the m

[2020-09-01 13:33] emily-phet opened #185 "New hand design for RaP"
@clmccutchan Can you take a look at this issue - https://github.com/phetsims/ratio-and-proportion/issues/99 - and sketch one or two new hands?

I'm not sure of your schedule, etc. so could you let me know if you could take this on and how quickly you might be able to do it? We're hoping to iterate on some new hand designs over the next week or two if that's possible.

[2020-09-01 13:54] emily-phet commented on #81
I made these mockups for discussion today:

<img width="276" alt="Screen Shot 2020-09-01 at 6 52 35 AM" src="https://user-images.githubusercontent.com/5109055/91859805-b8fdbf00-ec1f-11ea-8bc2-9ae3a163b45c.png">

<img width="269" alt="Screen Shot 2020-09-01 at 6 52 50 AM" src="https://user-images.githubusercontent.com/5109055/91859834-c1ee9080-ec1f-11ea-9d4f-914b67703a00.png">

In addition to visua

[2020-09-01 13:58] emily-phet commented on #82
@Matthew-Moore240 Let me know if you have any questions on this. We'll need this complete (drafted, iterated on, finalized) by Sept. 15th.

[2020-09-01 14:00] #65 closed

[2020-09-01 14:08] emily-phet commented on #100
Seems fine to me now. Closing.

[2020-09-01 14:08] #100 closed

[2020-09-01 14:09] emily-phet commented on #48
Forgoing this. Closing.

[2020-09-01 14:09] #48 closed

[2020-09-01 14:10] terracoda commented on #137
@zepumph, one region name string on master is missing "so".

- "not close to challenge ratio"

Should be:
- "not so close to challenge ratio"

I see the "so" in the distance region name, but not in the proximity to ratio region name.

Also, unrelated to this issue, in this view (with tick marks), I had proposed using number of tick marks apart as the metric for describing distance. I'll check in w

[2020-09-01 14:12] emily-phet commented on #59
That's happening in #158. Closing this issue. @zepumph let me know if you thought this issue was about something else.

[2020-09-01 14:12] #59 closed

[2020-09-01 14:12] terracoda commented on #137
I am re-assigning back to @zepumph. I hope this is okay?

[2020-09-01 14:14] emily-phet commented on #158
Question - should we hear the tick mark sounds (the little 'bump' sound as hands move past the tick marks) when we're also hearing the choir sound. For example, with lock ratio checked and tick marks showing, you hear both the choir sound and the tick mark sound as you move hands up/down.

[2020-09-01 14:19] emily-phet commented on #99
Requested Cheryl sketch hands in an issue in tasks repo.

[2020-09-01 14:29] terracoda commented on #137
Also, it seems odd to me that with left hand at zero and right hand at half-way past zero (basically tick mark 0.5, regardless of the set tick mark range 10, 20 or 30) I can't get the ding for the 1:2 challenge ratio.

But maybe that is mathematically correct? Maybe 0 to 0.5 is not equivalent to 1:2? And maybe that is why we need a zero mark?

Here's a screenshot of my confusion:
![Screen Shot 202

[2020-09-01 15:45] BLFiedler commented on #158
Sound levels generally seem fine to me. Defer to others on most of UI sounds. They generally don't play while you're playing with the sim, so volumes don't seem too problematic to me.

re the tick marks during choir: It seems like tracking the tick mark sounds and the choir at the same time might be kind of difficult, but auditorily it seems like it's analogous (but missing some dimensionality) to

[2020-09-01 17:01] terracoda commented on #158
Hand interaction
 - focus sound for hands much quieter than radio button sounds. Not sure if that is intentional, it might be.

Screen buttons in bottom bar
- like sounds on home screen when going from button to button. Does it make sense to do the same thing in the bottom bar?
- like different sound for going back to Home screen.

Challenges combobox
- there are no sounds for 3 challenges. Is tha

[2020-09-01 17:13] zepumph opened #165 "Create a separate class for "both hands" interaction"
Promoting TODO from code, it will be better for the screen view to just have a single line like `bothHandsInteraction = new BothHandsInteraction`

[2020-09-01 17:15] terracoda commented on #81
<img width="363" alt="Screen Shot 2020-09-01 at 2 43 38 PM" src="https://user-images.githubusercontent.com/1902116/91885053-b2903700-ec61-11ea-9831-93fc75095184.png">

[2020-09-01 18:25] zepumph opened #166 "Change shift keyboard step size to be 1/12 of a first-screen tick mark"
From design meeting today, we realized that to prevent the tick mark range changes from feeling like "zoom", we should make sure that the keyboard steps never change, and work with all ranges (0-10/20/30). 1/12 seems good! We will try it out and see how it goes.
Tagging @emily-phet @terracoda @Matthew-Moore240 as part of the discussion

There was some talk about making sure that the wording that g

[2020-09-01 18:29] zepumph commented on #57
I got some feedback from the dev team about how to do this, and I will need SVG images from the `ai` files so that I can move that into the code. Then once they are `SCENERY/Path` instances created from the SVG drawing code, I can change the color/stroke easily.

Here is a starting patch:

<details>

[code]
</details>

I think I can just convert the `ai` to `SVG` online. I'll report back!

[2020-09-01 18:35] Matthew-Moore240 commented on #154
Going with ordinals all the way to the 29th spot, and tick mark {{last number of the grid}}. This applies only to  semi-quantitative descriptions.

[2020-09-01 18:37] zepumph commented on #137
Yes, zero is weird, that is expected though

I updated the region. Anything else for this issue @terracoda, @Matthew-Moore240?

[2020-09-01 19:01] zepumph commented on #166
I started doing this, and then the design conversation began moving potentially towards getting rid of 0-30 range, and thus the need for a base unit of 1/12. I will put this on hold until that is solved.

[2020-09-01 19:01] zepumph commented on #166
[code]

[2020-09-01 20:11] zepumph commented on #53
Thanks to help from @jessegreenberg, we turned the above patch into a simple method that is working very well. I tested this by fuzzing the sim with the chrome dev tools open in the "responsive" device toolbar, and then I spammed the "rotate" button while the sim fuzzed.

I can no longer reproduce the bug. Closing

[2020-09-01 20:11] #53 closed

[2020-09-01 20:28] jbphet commented on #162
I tried this out on master, and having it make the peak sound every time to me seems correct to me.  @zepumph said,

In my opinion, since the user has no knowledge of Property values and such, the speed at which the hands move shouldn't determine whether this sound is played.  Crossing the sound barrier always creates a sonic boom, regardless of how fast you do it, and this seems like an analogous

[2020-09-01 20:31] zepumph commented on #57
I looked at the pattern used for another ai that needed customization over in https://github.com/phetsims/equality-explorer/blob/master/assets/README.md#organize-button. This involved taking the shape out of SVG and putting it into a `Path` into the sim. When I do that for the `ai` files for the current hand cutout, this is what it looks like out-of-the-box.

![image](https://user-images.githubuse

[2020-09-01 20:32] BLFiedler commented on #162
A little uncertain on the keyboard interaction. By skipping by you do still hear a (very truncated) success sound, which to me may indicate you've "passed" the zone and need to backtrack to find it. But it also may mistakenly sound as though you've found the proportion when you haven't quite. Gut tells me to leave the sound there with the same behavior as the mouse, but might be worth a quick chim

[2020-09-01 20:34] zepumph commented on #79
https://github.com/phetsims/ratio-and-proportion/issues/53 is now complete.

[2020-09-01 22:31] zepumph opened #167 "Some staccato sounds don't have a ton of attack"
@jbphet mentioned this problem, and @Ashton-Morris said that there were three of https://github.com/phetsims/ratio-and-proportion/tree/fcd294f172c15db52a6cd170ce22a84ff761a0de/sounds/staccato that sounded like there was less attack.

Over to him to make fixes for me to put them in the sim.

[2020-09-01 22:32] zepumph opened #168 "Some staccato sounds don't have enough attack"
@jbphet mentioned this problem, and @Ashton-Morris said that there were three of https://github.com/phetsims/ratio-and-proportion/tree/fcd294f172c15db52a6cd170ce22a84ff761a0de/sounds/staccato that sounded like there was less attack.

Over to him to make fixes for me to put them in the sim.

[2020-09-01 22:36] zepumph commented on #158
- [ ] Staccato sound quieter
- [ ] UI tick mark bumps off when locked ratio
- [ ] Move it behind the "enhanced sound" option
- [ ] Don't mute the pickup/drop sounds when in staccato feedback range, just the tick mark bumps

RE: @terracoda's comment:

Since they are fundamental interactions, we like them being a bit quieter so they don't get annoying.

Two different sounds are because it is two dif

[2020-09-01 22:48] zepumph commented on #162
In sound design meeting today, we agreed that for mouse/touch this makes sense as implemented above, and we would like to keep it. We also agreed that it is buggy for keyboard, where the interaction is more of "warp" right to the value it is set at. I will work at making this behavior happen, though at this time I don't know how hard it will be.

[2020-09-02 00:47] zepumph commented on #79
I added scaling in the above commit. It will scale more and more depending on how much more tall the screen is than the default (the `ScreenView`'s `layoutBounds`). It worked well to add linear functions that can alter the scaling on a sliding scale (no pun intended), at that max height (when the ratio halves no longer reach to the top of the screen), the scaling is 1.5. I also had to implement a

[2020-09-02 00:48] zepumph commented on #167
oops, duplicate of #168

[2020-09-02 00:48] #167 closed

[2020-09-02 00:57] zepumph opened #169 "Separate sound generators into individual members of screen view"
Promoting TODO to issue. Basically this means getting rid of `ProportionFitnessSoundGenerator.js`

[2020-09-02 01:17] #169 closed

[2020-09-02 01:39] zepumph commented on #162
I was able to add an option to the inProportionSoundGenerator to toggle this feature on and off. It is only on when a hand is being dragged with mouse/touch. @BLFiedler please review. Anything else for this issue?

[2020-09-02 01:39] zepumph commented on #157
I never reassigned, sorry.

[2020-09-02 02:00] #165 closed

[2020-09-02 02:02] zepumph opened #170 "x position of RatioHandNode is not reset"

[2020-09-02 02:25] zepumph commented on #158
Everything has been done above. @BLFiedler will you please do a final review and make sure all is good.

RE: these three bullets:

[code]

We only talked about 2 UI sounds during the conversation: tick bumps and pickup/drop, but there is a third that happens when you boop the boundary of the vertical range. That sound is not an enhanced sound, and it still plays when the ratio is locked.

Over to

[2020-09-02 02:35] #170 closed

[2020-09-02 02:36] zepumph commented on #37
From investigation into https://github.com/phetsims/ratio-and-proportion/issues/80, it seems like these may be the same issue. Reopening and closing that one.

[2020-09-02 02:37] zepumph commented on #80
I reopened over in https://github.com/phetsims/ratio-and-proportion/issues/37, and will investigate there.

[2020-09-02 13:19] emily-phet commented on #79
@zepumph This looks great! Please apply  to the lock ratio checkbox and reset all as well.

[2020-09-02 17:32] emily-phet commented on #81
- only see visual cue prior to first successful movement, after that, no visual cue when tabbing to both hands.
- when up against an edge (top or bottom of screen) just don't show what won't fit.
- first try to use the yellow arrows, adjusting them so that the keyboard cues appear (and the yellow arrows, if they aren't already present) when tabbed to, and disappear when tabbed away or successfully

[2020-09-02 17:48] BLFiedler commented on #158
I think the boop is still informative with the ratio lock (you've hit the edge with a hand which is why you can't move any farther).

All checks out to me. Was able to identify all of the changes listed above. Woohoo! Over to zepump to close if there's nothing else  and to check off for the sound checklist.

[2020-09-02 19:03] jbphet opened #171 "Lines in grid selection radio buttons have inconsistent widths"
On my external monitor screen, which is a Dell LCD (I can figure out the model number if anyone needs it), the lines in the radio buttons that are used to select the grid mode have inconsistent widths, regardless of how the sim window is sized or scaled.  Specifically, the center line is thinner than the upper or lower lines.  Here is a screenshot that shows the problem.

![image](https://user-ima

[2020-09-02 19:28] zepumph commented on #158
That will be done over in #127.

[2020-09-02 19:28] #158 closed

[2020-09-02 19:28] zepumph commented on #171
Over to @emily-phet to prioritize.

[2020-09-02 19:29] zepumph commented on #171
I was able to reproduce it sometimes, and then not others. For example once on startup it was there, then I zoomed into the component and it wasn't, and then when I zoomed out again it wasn't present from what I could tell.

[2020-09-02 22:24] Ashton-Morris commented on #168
@zepumph Can you replace the old files with the same name with these ones. I have fixed the attack on these.

[Files here](https://drive.google.com/drive/folders/1A2SV3y_Qd0xAFx_IVCaMEqg9Mbq9wduk?usp=sharing)

marimba-variation-v2-g.mp3
marimba-variation-v2-c-sharp.mp3
marimba-variation-v2-c-sharp.wav
marimba-variation-v2-d-sharp.mp3
marimba-variation-v2-d-sharp.wav
marimba-variation-v2-e-001.mp3

[2020-09-03 01:07] terracoda commented on #154
I am sorry, I didn't understand the question.
First (zero) and last (ten, twenty, and thirty) are not ordinals to kind of cue the edges of the ranges.

[2020-09-03 01:16] terracoda commented on #157
I am also confused about this issue.
@Matthew-Moore240, could you clarify?

[2020-09-03 01:22] terracoda commented on #137
That's the change that I saw. Looks good to me @zepumph.

[2020-09-03 01:25] terracoda commented on #137
@Matthew-Moore240, I'll go ahead and close this issue. The ratio regions are implemented.

[2020-09-03 01:25] #137 closed

[2020-09-03 01:35] terracoda commented on #156
Oh my, this is an interesting issue. I don't think we have run into this before because we usually have some rounding to a certain number value that is visually displayed.

I think the minimum movement of the mouse had to snap to the smallest step size that can be made with the keyboard, i.e., the Shift-key step size. I don't think we know what this is yet (1/10th or 1/12th).

Alternatively, the f

[2020-09-03 01:37] terracoda commented on #156
@zepumph, @emily-phet, and @Matthew-Moore240, do either of those ideas make sense?

[2020-09-03 01:40] terracoda commented on #161
This is a burning question that needs to be worked out.

[2020-09-03 16:31] zepumph commented on #156
I prefer this. We implemented the other snapping for mouse input (maybe I never committed it?!?!) and it felt like it took away from the "free-motion" feel of mouse/touch.

[2020-09-03 18:22] terracoda commented on #156
@zepumph, that makes sense for the mouse. I would hope/think that snapping/rounding the key press on the first step with the keyboard is a good approach.

[2020-09-03 20:08] terracoda commented on #157
Yes, exactly, this sim currently doesn't have individual object descriptions in the Play Area. Not that it can't, but because the Both Hands interaction is not stand-alone, two step interaction, say like the Yellow Balloon in BASE, the structures may not easily provide room for a sentence.

That said, we do need a starting value for the Both Hands interaction, so I think you are right @Matthew-Moo

[2020-09-03 20:26] terracoda commented on #157
@zepumph and @Matthew-Moore240, I suggested these same values in the brainstorming table:
Table: Initial Object Responses - Thinking through Options (DRAFTS)

We can definitely try this approach. I was concerned that describing each hand separately might be too wordy.
I was going to suggest that we start the object value (for both hands) with distance between the hands, rather than the position of

[2020-09-03 21:08] terracoda commented on #157
At the last meeting when we were trying to brainstorm the "in between values" somebody mentioned possible describing rough number of tick marks apart. I have added the following suggestions in the design document:

- 2.5 tick marks apart or 2 and a half tick marks apart
- just over 2 tick marks apart
- 2 tick marks apart
- just under 2 tick marks apart
- 1.5 tick marks apart or 1 and a half tick m

[2020-09-03 21:28] terracoda commented on #157
We still have the issue of where to provide the description in the interaction.
![Screen Shot 2020-09-03 at 6 46 44 PM](https://user-images.githubusercontent.com/1902116/92171048-e3b16880-ee15-11ea-8312-f0ab33e5ffab.png)

**PSEUDO-CODE**
[code]

Of course, this doesn't include what happens upon actual movement. It's just a scenario for on-focus.

[2020-09-03 21:29] terracoda commented on #157
@zepumph, would that structure for both hands work?

[2020-09-03 21:31] terracoda commented on #157
@zepumph, you'll notice that I am not sure if it matters whether a paragraph or a div is used to wrap the both hands description.

[2020-09-03 21:38] terracoda commented on #157
@Matthew-Moore240, if that structure works, your both hands description would go in this spot:
[code]

Ideally, the output would be sound like:

No Tick Marks:
- {{Left hand near bottom of Play Area, right just below middle}}, Both Hands, movable

Tick Marks:
- {{Left hand on second tick mark, right on fourth tick mark}}, Both Hands, movable

Numbered Tick Marks:
- {{Left hand on tick mark 2, righ

[2020-09-03 21:40] terracoda commented on #157
Assigning to @zepumph for comment on structure.

[2020-09-04 00:42] zepumph commented on #157
That is very cool and clever! It think that it will work. What I don't know is if the description in the other div/p will automatically update when you are focused on the application div (which you didn't include `role=application` but I assume was meant).

I can conduct an isolated test next time I'm on a11y.

[2020-09-04 12:19] terracoda commented on #157
@zepumph, yes, assuming role="application" on the parent div.

And yes, there needs to be some way - maybe the same was as the PDOM updates - for the Both Hands description (i.e. it's object value) to stay in synch with the sim.

In theory, the `aria-controls` attribute would be ideal for this, but from previous research that I have read, the attribute is not very reliable.

[2020-09-04 12:32] terracoda commented on #81
Adding images from Friction for reference. For that sim we didn't emphasize the letter keys. Take this example with a grain of salt. Friction's interaction was simple enough, visual instruction about letter keys was deemed unnecessary at some point.

Grabbed Zoomed-in Book
<img width="886" alt="Screen Shot 2020-09-01 at 2 52 18 PM" src="https://user-images.githubusercontent.com/1902116/92239398-82

[2020-09-04 12:49] terracoda commented on #82
Here are examples from sims with similar interactions:

Sliders & Combobox - Molarity
![molarity-kbs](https://user-images.githubusercontent.com/1902116/92239881-477b7600-ee96-11ea-811c-ce4820e6eae9.png)

Sliders, Number Spinners, Custom Grab & Move Ruler & Custom Jump keys - GFL
![gfl-kbs](https://user-images.githubusercontent.com/1902116/92240059-93c6b600-ee96-11ea-8371-8c911cfbeb16.png)

Custom

[2020-09-04 12:50] terracoda commented on #82
@Matthew-Moore240, you'll need to also look at the A11y views as the wording is slightly different when the instructions are spelled out.

[2020-09-04 17:21] emily-phet commented on #171
@zepumph - @amanda-phet made this artwork as other sims have done. I wonder if this is something others have encountered. Could you bring this up in a dev meeting or something, just to get a sense if others have encountered it?
In general, this is not a high priority. Regarding if it needs to be addressed prior to publication, I actually don't know. I don't know if this is something that would typ

[2020-09-04 17:26] #147 closed

[2020-09-04 20:28] amanda-phet commented on #171
I'm trying to figure out why the icons aren't as crisp as the 'eye' icon, but I don't know where to find the eye icon to verify the resolution of it. Maybe the resolution of these gridline icons could be higher. They are currently larger than what is needed, but they sometimes seem a little fuzzy to me. Anyway, I haven't been able to reproduce this issue. @jbphet what browser are you using? I thin

[2020-09-04 20:40] amanda-phet commented on #171
The most fool-proof solution is to make the icons in code.

[2020-09-08 16:19] zepumph commented on #171
I think it may also be helpful to know what resolution your screen/monitor goes to.

That one is font awesome, and the math to draw it can be seen [here](https://github.com/phetsims/sun/blob/b01905a3c21ef3a12396f2c45f29280798c8c49e/js/FontAwesomeNode.js#L46). Likely because it is SVG instead of PNG.

@amanda-phet do you want to give me copy of these images with a very high resolution, and we can s

[2020-09-08 17:23] zepumph commented on #57
From design meeting today, @emily-phet mentioned that this will be on hold, and she will let us know if we will need to do a partial solution before we get new hand artwork.

[2020-09-08 18:09] zepumph opened #172 "Use "both hands" description on single hand focus when ratio "locked""
From design meeting today, when the ratio is locked, the basic interaction on either hand should adapt to sound/describe as the "both hands" description.

[2020-09-08 18:13] zepumph opened #173 "Implement "both hands" description"
This issue combines much of https://github.com/phetsims/ratio-and-proportion/issues/172, https://github.com/phetsims/ratio-and-proportion/issues/161 and https://github.com/phetsims/ratio-and-proportion/issues/157 (mostly the design coming from 157).

During design meeting today, we decided on the following direction for both hands:

On focus, we want to state the distance between each hand, as exp

[2020-09-08 18:14] zepumph commented on #168
@jbphet could you please review to see that this is fixed on master now.

[2020-09-08 18:49] zepumph commented on #157
This will be picked up over in https://github.com/phetsims/ratio-and-proportion/issues/173. I will mention the use of aria-describedby over there too. Closing

[2020-09-08 18:49] #157 closed

[2020-09-08 19:20] zepumph commented on #173
In design meeting today, we discussed implementing this with aria-live, at least in part, but after investigation over in https://github.com/phetsims/a11y-research/issues/159, I think that the both hands on focus/change description should be attempted with aria-describedby first. I'll see how it goes.

[2020-09-08 19:21] zepumph commented on #173
More notes from the meeting today:
[code]

[2020-09-08 21:43] zepumph commented on #173
Above implemented the distance-related both hands description using aria-describedby, because https://github.com/phetsims/a11y-research/issues/159 went pretty well. I think it is a bit less responsive than aria-valuetext, but hopefully it will still be acceptable.

Next I will rework the context alert to include ratio qualitative and hand positions.

[2020-09-08 22:01] zepumph commented on #173
[Above](https://github.com/phetsims/ratio-and-proportion/commit/c9fb5989e99078cafe6f0eece092325af466640b) implemented the new ratio/position alert. Next I will look into converting single hand behavior to this when the ratio is locked.

[2020-09-08 22:02] zepumph commented on #172
https://github.com/phetsims/ratio-and-proportion/issues/173 is far enough along to try this out. First I will need to refactor the logic put directly into the BothHandsPDOMNode for use in individual RatioHalfs.

[2020-09-08 22:45] zepumph commented on #172
Implemented above.

[2020-09-08 22:48] zepumph commented on #173
Thoughts for review:

- [ ] Currently distance says something like "Hands somewhat close to each other." but I think we should lose the capitalization and period, because we are more mimicking aria-valuetext conventions. Plus when ratio is locked from work over in https://github.com/phetsims/ratio-and-proportion/issues/172 that description actually IS in aria-valuetext. Do you agree that we should

[2020-09-08 23:31] zepumph commented on #154
Ordinals up to twenty-nine implemented above. zero and top tick mark are always numbers. Please review.

[2020-09-08 23:32] zepumph commented on #154
https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.61/phet/

[2020-09-08 23:32] zepumph commented on #172
Review to be done over in https://github.com/phetsims/ratio-and-proportion/issues/173

[2020-09-08 23:32] #172 closed

[2020-09-08 23:33] zepumph commented on #173
Dev version over in https://github.com/phetsims/ratio-and-proportion/issues/173

[2020-09-09 00:10] zepumph commented on #161
This was implemented over in https://github.com/phetsims/ratio-and-proportion/issues/173, closing

[2020-09-09 00:10] #161 closed

[2020-09-09 00:11] Matthew-Moore240 commented on #173
In play area is repeated twice in the aria live text for both hands.

[2020-09-09 00:11] #159 closed

[2020-09-09 00:24] zepumph commented on #79
Done now for the bottom controls. Anything else here @emily-phet?

[2020-09-09 00:53] zepumph commented on #83
First pass at doc done above. There will be revisions, but I feel good closing this issue now.

[2020-09-09 00:53] #83 closed

[2020-09-09 00:57] zepumph commented on #173
When I use the "both hands" interaction, I get alerts like this:

Somewhat close to challenge ratio. Left hand on second tick mark of Play area, right hand halfway past fifth tick mark

That seems right to me.

Then when I look at the alerts while using a single hand while the ratio is locked, alerts look like:

At challenge ratio. Left hand near bottom of Play Area of Play area, right hand just b

[2020-09-09 01:02] zepumph commented on #173
My above assessment was a bit wrong. Actually I was making sure to always add "of Play Area" to the left hand description, but it didn't duplicate for (semi-)quantitative. Above I removed the extra "of Play Area", and now we are also never getting that for any type of quantitative descriptions.

Good catch @Matthew-Moore240!

[2020-09-09 01:04] zepumph commented on #173
Let's go with https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.62/phet/ now.

[2020-09-09 21:03] BLFiedler commented on #162
Tested - looks great! Closing.

[2020-09-09 21:21] zepumph opened #174 "Sound audit"
Now that #158 has been completed, and we have a good first draft of #173 in place, we want to take a holistic look at the sound implementation (including description) to see if we need to make any changes.

The latest dev version is https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.63/phet/ratio-and-proportion_en_phet.html

Please ask questions and comment below, no matter how smal

[2020-09-09 21:24] zepumph commented on #96
We have solidified sound enough that we may be able to convert some `wav` files over to `mp3`. I'm not sure how the loops will go.

The current en_phet.html is 3.1MB large. I'm unsure how to see what proportion of that is because of sound files.

[2020-09-09 22:14] zepumph opened #175 "Some target ratio + one hand position yields impossible other hand with smallest keyboard step"
Wow. confusing title. This is coming from discussion during today's sound design meeting, as well as a review that @BLFiedler did in https://github.com/phetsims/ratio-and-proportion/issues/162#issuecomment-685229934.

To reproduce:
* Second screen
* Target ratio of 1/5
* Right hand at 9.4
* Left hand can't get to ratio, but closest is 1.9

@emily-phet, @jbphet, and @BLFiedler discussed and definit

[2020-09-10 14:18] BLFiedler commented on #175
I will try to detail this without being more confusing and correct me anywhere I mess up the details of what's currently in place.

During normal exploration, a keyboard user can use the coarse increment (Up/Down for single focus) to move a hand or the fine increment (Shift+Up/Down). The fine increment moves along a defined grid such that there are 10 keypresses between integer tick marks (0-10 ra

[2020-09-10 18:19] Matthew-Moore240 commented on #173
This looks good to me for a first run through. I do think some of the regions are off and the timer is just a hair to long. Great job @zepumph

[2020-09-10 22:13] jbphet commented on #171
In response to the questions posed to me above, I'm using Chrome version 85.0.4183.102 (Official Build) (64-bit) for my browser and my external display resolution is 1920 x 1200 (and the settings app says that this is "recommended").

[2020-09-14 16:50] zepumph commented on #162
Reopening, right now there is a bug where this behavior occurs even when one or more values are in the "hollywood zone" of no success at the bottom of the position range.

[2020-09-14 16:55] zepumph commented on #162
I think that will fix this. Closing

[2020-09-14 16:55] #162 closed

[2020-09-14 17:04] zepumph commented on #141
Right now the hollywood region is when either position is greater than 21% of the way up to the first default grid line. With this number, the smallest tick mark range still seems to work well with this current value. I can even get in proportion well below the first tick mark of 30:

![image](https://user-images.githubusercontent.com/6856943/93116049-3c300380-f669-11ea-977d-32918fc069b2.png)

IMO

[2020-09-14 17:06] zepumph commented on #123
Hey, I was about to start working on this, then I saw https://github.com/phetsims/ratio-and-proportion/issues/123#issuecomment-674123205. Do you want to do a read through before signing off on this change?

[2020-09-14 17:08] zepumph commented on #171
Thanks @jbphet, @amanda-phet would you mind giving us these icons with much better resolution (not sure exactly what that means), and we can put them in the sim and see if it fixes this?

[2020-09-14 17:57] terracoda commented on #123
@zepumph, reading through the current A11y View now :-)

[2020-09-14 18:03] zepumph opened #176 "Create "Ratio" type in model"
While working on https://github.com/phetsims/ratio-and-proportion/issues/146, I think that it would be much easier to create the logic around lock ratio/clamping/holywood zone etc if there was a more formal "ratio" structure. The division would potentially split the model in half.

RAPRatio.js would handle lock ratio listeners, lock ratio Property, clamping done to keep things in range, and the ve

[2020-09-14 18:29] zepumph commented on #176
The above was a good first step, but I was doing a lot of forwarding at the top of RAPModel that we should change to passing around the ratio as needed. Furthermore there are some TODOs marked for renaming different things that will make it more clear now that there is an encapsulation around the ratio.

[2020-09-14 18:30] zepumph commented on #146
In https://github.com/phetsims/ratio-and-proportion/issues/176 I am going to factor out the lockRatio logic into a single spot. It will likely make it easier to see a way to add this clamping into place.

[2020-09-14 19:14] #141 closed

[2020-09-14 19:39] terracoda commented on #173
@Matthew-Moore240, what about putting the distance between the hands description in the first part of the description? I think this might be a bit more natural sounding. And the structure may be more parallel to the actual interactive pieces (two bullets = two hands).

Currently, hands are {{at}} the challenge {{1}} ratio **and** {{far from}} each other:
- Left hand {{just below middle of}} Play A

[2020-09-14 19:58] zepumph commented on #173
Seems reasonable to me!

[2020-09-14 20:34] terracoda commented on #123
@zepumph, yep, I think we can go ahead with changing the Explore Screen to the Discovery Screen.

[2020-09-14 20:58] zepumph commented on #163
Up until this issue's investigation, I hadn't really realized how easy and fine it is to have fitness calculated with the right value at 0. This is because the fitness algorithm is based in part on the distance away from the ideal value, instead of fully being based on how different the current ratio is to the target. If it was solely the latter, then the zero case would be weird because the curre

[2020-09-14 20:58] #163 closed

[2020-09-14 21:07] zepumph commented on #123
I just made a blanket rename from explore->discover in the sim. I am about 90% sure that there is a usage that I shouldn't have renamed, especially in PDOM description. @terracoda could you please look at every usage of "discover" (case insensitive) in https://github.com/phetsims/ratio-and-proportion/blob/master/ratio-and-proportion-strings_en.json and either change them back to explore or let me

[2020-09-14 21:09] zepumph commented on #123
I see 7 usages in the strings file that should be looked at.

[2020-09-14 21:52] Matthew-Moore240 commented on #173
Yeah I like this approach, it flows nicely.

[2020-09-14 22:13] zepumph commented on #176
There is now nothing in RAPModel that directly forwards to RAPRatio. Everything accesses `ratio` directly.

[2020-09-14 22:49] zepumph commented on #173
Sounds great I'll implement

[2020-09-14 22:57] zepumph commented on #176
I think this refactor is good. There is only one more TODO left in the model, and it should be dealt with after https://github.com/phetsims/ratio-and-proportion/issues/146 is done

[2020-09-14 22:57] #176 closed

[2020-09-14 23:08] zepumph commented on #173
Implemented above, can someone address the thought in https://github.com/phetsims/ratio-and-proportion/issues/173#issuecomment-689176274?

[2020-09-15 05:41] Matthew-Moore240 commented on #173
@zepumph Sorry I totally missed that question, we should bring it up tomorrow in the meeting I am not 100% sure what we should do there.

[2020-09-15 12:36] terracoda commented on #173
@zepumph, will review the alerts with screen reader today.

[2020-09-15 17:18] zepumph commented on #123
I will take a look at the above usages to ready the dev version for interviews tomorrow.

[2020-09-15 17:38] zepumph commented on #173
From today's design meeting,

- [ ] we found that on VoiceOver, aria-describedby wasn't read on focus, or on change. I will create an a11y-research issue to understand aria-describedby's support better, especially for VoiceOver.

- [ ] RE https://github.com/phetsims/ratio-and-proportion/issues/173#issuecomment-689176274: We decided to lowercase it with no period, even though it is aria-describedby

[2020-09-15 17:46] zepumph opened #177 "Add proximity to ratio alerts when changing the challenge ratio"
On the first screen, this will be easy, when the combo box selects an element, then we should alert just the state of the current ratio, like:

"Somewhat close to challenge ratio."
"At challenge ratio."

etc.

On the second screen, we want this same type of alert when you change either number picker. There may be a way to implement this with AccessibleValueHandler, but I'm not sure.

[2020-09-15 17:47] zepumph opened #178 "Add ding sound when changing ratio causes in proportion state"
From design meeting today, changing the number pickers (second screen) or combo box (first screen) to an inproportion ratio state should ding.

[2020-09-15 17:48] zepumph commented on #177
This description is called "proximity to ratio" description.

[2020-09-15 17:57] Matthew-Moore240 commented on #154
So these all seem implemented I think its good to close now unless we want to wait till after interviews?

[2020-09-15 18:23] zepumph commented on #177
Implemented above. Over to @Matthew-Moore240 to review once I create a dev version for interviews.

[2020-09-15 18:43] zepumph commented on #123
I changed most PDOM strings back to use "explore" instead of "discover". @Matthew-Moore240 please review the above changes, and let me know if any usages of "explore" should become "discover.

[2020-09-15 18:52] zepumph commented on #178
Implemented above. This was done by allowing the InProportion sound to play whenever the model is in that state, no matter the cause. This also means that it will always play fully until the model is no longer in proportion.  The two main places where this can be weird are:

1. The long sound can bleed into another screen if you change screens while it plays. I tested out the "LongSoundTest" in th

[2020-09-15 18:54] zepumph commented on #154
How about we close this, and create new issues for any tweaks that may come from interviews. Reopen if you feel differently.

[2020-09-15 18:54] #154 closed

[2020-09-15 19:08] Matthew-Moore240 commented on #177
This is great! Closing.

[2020-09-15 19:08] #177 closed

[2020-09-15 19:09] zepumph commented on #178
@jbphet mentioned on slack that one way to solve (1) is:

Good to keep in  mind that there is an easy solution.

[2020-09-15 21:07] jbphet commented on #174
I just reviewed the version linked above, and wow - we've come a long ways with this.  I like having the "grid line bump" sounds behind the "Enhanced Sounds" checkbox.

Here are some thoughts and observations from my review:

- I think something got a little messed up with some of the pitches for these sounds, because they don't seem to be consistent at all proportion levels, and can jump around a

[2020-09-15 21:45] zepumph opened #179 "Staccato sound bug"
From https://github.com/phetsims/ratio-and-proportion/issues/174#issuecomment-692980081

some of the repeating sounds are mixed up and different pitches.

To reproduce:
1st screen
challenge 1
move right value to 3

[2020-09-15 21:47] zepumph opened #180 "Should horizontal boundaries get a boundary sound"
Over in https://github.com/phetsims/ratio-and-proportion/issues/174#issuecomment-692980081 @jbphet mentioned that it is weird to get the boundary bumps on vertical boundaries but not horizontal. @BLFiedler do you think that this deserves design attention.

[2020-09-15 22:06] zepumph commented on #174
Implemented above. @Ashton-Morris, @jbphet and I felt like a quorum enough to implement this change.

[2020-09-15 22:50] zepumph commented on #179
Good catch @jbphet! I traced it back to a naming issue, but when I redownloaded e-001 from https://drive.google.com/drive/u/1/folders/10-kHZgFSu0HEMUfNk0zEn0cvPRK8gFXg and it sounds correct now. Over to @jbphet to confirm on master.

[2020-09-15 23:11] zepumph opened #181 "Create a model type to house both ratio values"
From discussion with @samreid, we think that the messy listeners that currently implement the "lock ratio" feature would be much easier to write if there was a Property that held both values. Here is the currently annoying code:

https://github.com/phetsims/ratio-and-proportion/blob/5bb948f8b1e414483221b782d04f22f0d39749cf/js/common/model/RAPRatio.js#L52-L83

There would be no reentrancy issues if

[2020-09-16 00:01] Matthew-Moore240 commented on #123
I couldnt find any that felt weird so it looks good to me!

[2020-09-16 00:02] Matthew-Moore240 commented on #123
Ill go ahead and close this and if anything pops back up we can just create a new issue.

[2020-09-16 00:02] #123 closed

[2020-09-16 02:51] Ashton-Morris opened #182 "Test the "In Proportion" sound with alternate fade out styles"
[Here are two alternate fade styles to try out.](https://drive.google.com/drive/folders/1A2SV3y_Qd0xAFx_IVCaMEqg9Mbq9wduk?usp=sharing)

- in-proportion-quick-fade.mp3
- in-proportion-quick-fade.wav
- in-proportion-studio-fade.mp3
- in-proportion-studio-fade.wav

[2020-09-16 22:29] amanda-phet commented on #171
Here they are at super high resolution! Also exported using anti-aliasing, so hopefully that helps.

![Gridlines_Grid2](https://user-images.githubusercontent.com/7852916/93398903-a8f9f800-f839-11ea-84c3-3658bb0ff46a.png)
![Gridlines_NumberedGrid2](https://user-images.githubusercontent.com/7852916/93398904-a9928e80-f839-11ea-82b1-dcff89e5e2b6.png)

Alternatively, we could save these as SVG. Maybe t

[2020-09-17 02:55] BLFiedler commented on #180
My gut reaction is that the horizontal boundaries have no pedagogical meaning and I wouldn't want to draw attention to them with sounds. The vertical boundaries indicate the edge of the dimension that provides feedback through movement. Horizontal displacement only exists for mouse and touch interaction (not keyboard) and we generally want people to quickly figure out it has no bearing on how they

[2020-09-21 16:40] zepumph commented on #180
I think that this is only for mouse input, and not for keyboard. I agree it isn't very pedagogically important, but perhaps it would be a nice minor improvement for continuity. Either way is good with me, just let me know what you would like.

[2020-09-21 17:30] zepumph commented on #171
When I plugged in the even larger PNG files, I felt like the problem (where the middle line was thinner) got even worse. From that I wondered if the cause of the issue was in fact how the sim was scaling down the images, and not about pixel resolution of the originals.

In the code I saw that at the beginning of this issue, the icons (~200X200px) were being scaled by a `.2`, which leaves a lot of

[2020-09-21 19:40] zepumph commented on #96
I saved the two WAV file data sections into a file and saved it, and it was 1.5MB. That is 50% of the total file size. I think that it would be good to spend some time trying to make these MP3s.

[2020-09-21 20:51] zepumph commented on #182
In the above commit I added these two as options for the in proportion sound. The default is still in place, but you can change to either of these two by in the console typing:

[code]

Setting the value to any other string will go back to default. I'm looking forward to discussion tomorrow about this. You can test this out on https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.65/ph

[2020-09-21 20:53] zepumph commented on #173
From investigation over in https://github.com/phetsims/a11y-research/issues/159, I do not think that aria-describedby is the best technology for supplying the responses on the "both hands" interaction. Likely aria-live will be the better solution.

[2020-09-21 22:32] zepumph opened #183 "infinite loop with "both hands" interation"
To reproduce:

1. second screen
1. lock ratio
3. both hands interation
4. press 0.
5. press 1.

infinite loop ensues.

It may have to do with rounding with `toFixedNumber` calls, or just how the reentrant lock ratio listeners are set up. Perhaps https://github.com/phetsims/ratio-and-proportion/issues/181 will fix this on its own.

[2020-09-21 23:12] jessegreenberg opened #184 "ResetAllButton doesn't look depressed when clicked with keyboard"
I noticed this while testing another issue. I think it is caused by `interruptSubtreeInput` in the reset listener. This interrupts the PressListener itself and stops the `a11yClickingProperty/looksPressedProperty` from running the timer to looked pressed from an PDOM click.

Instead of calling interruptSubtreeInput on the ScreenView would it be possible to do it on a subtree that has everything ex

[2020-09-21 23:30] zepumph commented on #184
I am worried about this implementation, is this new because of work done in https://github.com/phetsims/scenery/issues/1076? calling `interruptSubtreeInput` in reset has become a standard (see https://github.com/phetsims/simula-rasa/blob/61b80f1febdd6e7f80bdb46de243f6891409e71d/js/simula-rasa/view/SimulaRasaScreenView.js#L30). Note I didn't add this, but just got it from creating the sim repo. If

[2020-09-22 02:06] Ashton-Morris commented on #174
When you choose from the accordion box "Challenge 2" and then choose "Challenge 1", since it starts **In Proportion** it rings out the **in proportion** sound.

This feels like the continuity is off because when you switch from difference scenes or from home to different scenes, it doesn't play the **In Proportion** sound even though the sim starts **In Proportion** (full green) for both scenes.

[2020-09-22 03:05] zepumph commented on #181
I refactored this logic, and I like the way that lock-ratio is handled now. Closing

[2020-09-22 03:05] #181 closed

[2020-09-22 03:55] zepumph commented on #146
I was finally able to solve this, mostly because of work done in #181. I can no longer reproduce the initial problem (1:1 case). @BLFiedler please review. Does this feel complete to you?

[2020-09-22 16:04] BLFiedler commented on #180
Let's just get a quick consensus on this from the group during sound design meeting.

[2020-09-22 16:12] BLFiedler commented on #146
Looks like it works in the latest dev version, but we should check to make sure the jump doesn't feel funny to anyone in design meeting, just to circle back on this decision.

[2020-09-22 16:29] jessegreenberg commented on #184
No, this is unrelated to https://github.com/phetsims/scenery/issues/1076. I didn't realize that interrupting the entire ScreenView was becoming a standard.

Another option could be changing the behavior of PressListener from this (in `click`)
[code]
to have some minimal "looks pressed" duration.  Lets discuss today!

[2020-09-22 17:28] emily-phet commented on #174
@terracoda mentioned that the radio buttons sound popping may have sounded like Jaws changing forms mode. We haven't heard this before from other JAWS users, but something to think about for future reference.

[2020-09-22 17:43] zepumph commented on #146
The design team looked this over today and we don't feel like the snap is too jarring. I couldn't produce a case where the snap changed the description into a different position/distance-apart region. I'm going to close this issue.

[2020-09-22 17:43] #146 closed

[2020-09-22 17:45] zepumph commented on #142
Today @BLFiedler said we can "push this out for a while." Marking as deferred.

[2020-09-22 18:48] zepumph commented on #183
Over in #181 I changed how the locked ratio was snapped to ranges, using the enabled range instead of the default. This is now successfully clamping the hands out of the dangerous infinite loop that was happening above. I can no longer reproduce this. Closing

[2020-09-22 18:48] #183 closed

[2020-09-22 19:24] zepumph commented on #184
@jessegreenberg and I discussed this, and decided that changing the behavior of `PressListener.click` when the listener callback interrupts itself was the best way forward. Committed above. Fuzzing is passing. Closing

[2020-09-22 19:24] #184 closed

[2020-09-22 21:10] zepumph commented on #182
today during sound design meeting, we felt like we wanted `studio` fade, but even shorter than the current `quick` version of the above. Perhaps only 1.5 or 2 seconds long?

[2020-09-22 21:41] zepumph commented on #178
The sound design team discussed this at length today, in regards to https://github.com/phetsims/ratio-and-proportion/issues/174#issuecomment-696472593. We think that we should revert this commit, and tie the in-proportion sound only to user interaction of the hands. We feel that hearing the sound as part of the target ratio changing doesn't support the visual display and the description display in

[2020-09-22 21:55] zepumph commented on #182
Over in https://github.com/phetsims/ratio-and-proportion/issues/178#issuecomment-696997581 we decided to revert the change that caused this long sound from always playing fully.

After that is done, we will just have this issue (long sound playing) on keyboard input when you don't focus away. We feel like using the above "quick" version of this sound is short enough to cover this case. I will put

[2020-09-22 22:04] zepumph commented on #180
@emily-phet said that we normally add these sorts of sounds unless there is a reason not to. We feel like we should add this, and then note for future use if we see a problem with it.

[2020-09-22 22:08] zepumph commented on #174
I didn't get the feeling that we "signed off" on this issue this week. Let's touch base again next week after I implement all the changes from today.

[2020-09-22 22:42] emily-phet commented on #174
@zepumph Please bring this up in the tuesday morning meeting. I think at that point, @terracoda and @Matthew-Moore240 will be in a good place to weigh in on whether or not there is a lot gained by having that sound for non-visual access.

Here's how I'm thinking of the problem:
- Screen 1 - challenge combobox. Is it important for visual and non-visual access to have the success sound play when int

[2020-09-23 00:37] zepumph commented on #182
"Quick" sound is now in place, and the `wav` file was added to assets. Closing

[2020-09-23 00:37] #182 closed

[2020-09-23 00:51] zepumph commented on #180
Implemented above. Closing

[2020-09-23 00:51] #180 closed

[2020-09-23 00:51] zepumph commented on #180
Tagging #174 as this may want review over there

[2020-09-23 00:51] zepumph commented on #181
Tagging #174 as this may want review over there

[2020-09-23 00:52] zepumph commented on #182
Tagging #174 as this may want review over there

[2020-09-23 00:54] zepumph commented on #178
Reverted above, tagging #174 as this may want review over there.

[2020-09-23 00:54] #178 closed

[2020-09-23 00:55] zepumph commented on #80
Oops, this shouldn't be open.

[2020-09-23 00:55] #80 closed

[2020-09-23 00:59] zepumph commented on #173
I'm sorry I didn't bring this up during design today. I think it just got lost. @terracoda, I am curious about how the aria-describedby worked (or didn't) in interviews.

I'm interested in converting this to aria-live + a `p` help-text like element that get's updates as alerts occur. But perhaps there is another way to go about this.

[2020-09-24 17:27] Ashton-Morris commented on #182
[I added some sounds here](https://drive.google.com/drive/folders/1A2SV3y_Qd0xAFx_IVCaMEqg9Mbq9wduk?usp=sharing)

Based off of my notes from the meeting "TODO:  Studio Fade on ringing out but a little bit shorter (1.5 or 2 seconds long)"

- in-proportion-studio-fade-1.5-sec.mp3
- in-proportion-studio-fade-1.5-sec.wav

But reading above maybe we decided not to do that edit? Either way the files are

[2020-09-25 18:06] terracoda opened #186 "Left/Right Hand Sliders need vertical orientation"
In the last interviews, the Left and Right Hand sliders sounded horizontal (Left-Right slider).

@zepumph, can you verify that `aria-orientation="vertical"` is being used on the sliders, please.

It's possible, it's there, but JAWS doesn't recognize it (not sure).

[2020-09-25 19:50] terracoda opened #187 "Home Screen changes for Ratio and Proportion"
Related to some minor changes in https://github.com/phetsims/joist/issues/665

In the last interview for Ratio and Proportion, it took one learner using a screen reader about 15 minutes to load an actual screen. It is expected to take longer to get to a sim screen because learners usually read a lot more before they make a decision to interact, or choose their interactive path.

While the user exp

[2020-09-27 17:54] jbphet commented on #168
Yes, I think this is an improvement.

[2020-09-28 02:14] #168 closed

[2020-09-28 13:09] terracoda commented on #173
The dynamic description in the screen summary seems to work fine on initial read. I don't think there were many re-reads (actually, may be close to zero re-reads).

I had JAWS users, so the `aria-describedby` worked pretty good during interaction. The learners seemed to get some combination of hand position, distance between hands and proximity to ratio.

There are still issues around the content

[2020-09-28 13:21] emily-phet commented on #187
@terracoda We don't always know if a learner will be experiencing the sim in the configuration we test it in. There is a publicly known query parameter that allows teacher to create a link that sets which screen(s) and in what order the learner sees the screen. So it's entirely possible that the learner gets the sim with *only* one screen, or screens in reverse order.

I think we'll have to rely o

[2020-09-28 13:22] emily-phet commented on #187
Or - the "start here" needs to be dynamic, and know what the screen configuration is regardless of changes.

[2020-09-28 13:27] terracoda commented on #187
@emily-phet, re https://github.com/phetsims/ratio-and-proportion/issues/187#issuecomment-700002612, I thought using "Start here" would be problematic, I just wasn't sure why.

The words, "Start here", are less important than the wording of the actual hint for the screen. Maybe it's just the wording of the screen hint that needs to be adjusted.

[2020-09-28 13:30] terracoda commented on #187
Maybe this is better:
1. Discover Screen, button
    P: Explore this screen to discover set ratio challenges.
2. Create Screen, button
    P: On this screen, set your own ratio challenges to explore.

[2020-09-28 15:50] jbphet commented on #171
They're definitely more consistent now.  A bit fuzzy, but equally so for all three lines.  I'll paste a screenshot from my external monitor below.  Honestly, if it were me, I think I'd take the time to create code-based nodes for them so that the crispness matched that of the eye icon (eye-con?), but it's up to @zepumph and @emily-phet whether that's worth the time.

![image](https://user-images.g

[2020-09-28 16:29] emily-phet commented on #171
Now that pan/zoom is a thing (yay!) I think we'll need to do this in cases (like this) where the difference in crispness is noticeable.

[2020-09-28 17:32] Matthew-Moore240 opened #188 "Word change for the Create Screen static scene summary."
One word needs to be changed for the static scene summary

**Was**:
On this screen you can create your own ratio challenge. The Play Area has two movable hands that can be moved individually or simultaneously, or as a single interaction with the ratio locked to explore the ratio challenges you create. There are options to add plain or numbered tick marks shown as evenly-spaced horizontal lines tha

[2020-09-28 17:36] Matthew-Moore240 opened #189 "New Help Text for Accordion Box"
This is the new help text for the Accordion Box and should be available only if the Accordion Box  is expanded.

**The new help text should read:**
Choose left hand and right hand values to set your ratio challenge.

[2020-09-28 17:40] Matthew-Moore240 opened #190 "New Help Text for Lock Ratio check mark."
New help text for the lock ratio check mark.

**New Help Text:**
Enabled when hands are at challenge ratio.  Move hands as a single unit to maintain my challenge ratio.

[2020-09-28 17:48] zepumph commented on #186
I see `horizontal` right now:
![image](https://user-images.githubusercontent.com/6856943/94467674-c3a06b00-016f-11eb-84fd-eeafb5879646.png)

Sorry about that! one change coming right up.

[2020-09-28 17:53] zepumph commented on #186
It's now vertical. Closing

[2020-09-28 17:53] #186 closed

[2020-09-28 18:02] zepumph commented on #187
Let me know when you have something you would like to see in the sim.

[2020-09-28 18:03] terracoda commented on #187
@zepumph, let's go with content in https://github.com/phetsims/ratio-and-proportion/issues/187#issuecomment-700008069

[2020-09-28 18:11] zepumph commented on #188
Implemented above. If you want to, you can feel free to edit these minor changes via github directly, see https://github.com/phetsims/ratio-and-proportion/blob/master/ratio-and-proportion-strings_en.json. You can edit that file and link the commit message to the url of an issue like this if you want someone to review it.

[2020-09-28 18:45] zepumph commented on #171
When I open up the svgs from https://github.com/phetsims/ratio-and-proportion/issues/171#issuecomment-693699405, There isn't an obvious single shape, instead there a re a couple of shapes in `g` elements mixed with other elements (like `rect`). This will be quite manual and challenging to create, and I wonder if there is a way to export the SVG as a single "shape" or "vector" for the whole icon. T

[2020-09-28 18:48] zepumph commented on #171
When I open the SVG in inkscape, I can combine this into a path by:
* Select all
* Path -> Union
* Path -> Combine
* File -> Save as -> Optimized SVG

Then I end up with a single path with a `d` attribute I will use to create the shape.

[2020-09-28 19:44] terracoda commented on #82
@Matthew-Moore240, I polished up the draft content for the Keyboard Shortcuts dialog. We can discuss at Tuesday's meeting or if you like it, just assign it to @zepumph.

This sim has different actions on different screens, so 2 different dialogs will be needed.

Link to [Keyboard Shortcuts Dialog](https://docs.google.com/document/d/1HJvvGWYaUv9tlat9S7omQQVng8fGB4FuUhTEM1qx1z8/edit#heading=h.sd1v4v

[2020-09-28 19:56] zepumph commented on #171
After I convert the PNGs to `SCENERY/Path` using the above steps to export the SVGs to the correct format, here is the difference when zoomed in:

Before:
![image](https://user-images.githubusercontent.com/6856943/94478323-9956a980-017f-11eb-968d-d0b70bae91a6.png)

After:
![image](https://user-images.githubusercontent.com/6856943/94478375-ab384c80-017f-11eb-9325-202f9d420924.png)

I know that this

[2020-09-28 21:33] zepumph commented on #173
@terracoda I did a little bit of research down the path you outlined above.

This snippet won't work because when we add the  application role, it seems to disable the behavior associated with the `input[text]`.

[code]

When I remove the `role="application"`, then we lose the alt-input behavior, as it behaves like a text input.

I think I'm going to work towards using aria-live for use on change

[2020-09-28 21:58] zepumph commented on #173
Can we try the above commit, which gives an aria-live alert on focus, and whenever the fitness changes while the "both hands" interaction is being used.

I only have an iPad, and the interaction doesn't work on that platform, so it should be reviewed for VoiceOver on a Mac book. Over to @terracoda

Hopefully you can give at least a couple minutes to try this out before we discuss at the descriptio

[2020-09-28 22:01] zepumph commented on #187
Implemented above.

[2020-09-28 22:18] zepumph commented on #37
Noting that the "not working" sound in this issue has been described as "static-y" over in https://github.com/phetsims/ratio-and-proportion/issues/80. I cannot reproduce this on my iPad, I tried loading the sim from slack, and from phetmarks in the "unbuilt" mode hosted from a local server on my Windows machine.

[2020-09-28 22:22] zepumph commented on #37
Oops, I wasn't trying to close this issue. Instead, I was hoping that we could get QA to try to reproduce this bug. Perhaps spending 1 hour or less of time. On this version.

https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.65/phet/ratio-and-proportion_en_phet.html

@KatieWoe can you please assign someone to take on this job? The issue of broken sound has only been reported on Saf

[2020-09-28 22:58] zepumph commented on #84
I added the first screen icon above. It isn't yellow currently. That feature will be on hold until #57 is sorted out. It uses the same icon creation code as in the "My Challenge" accordion box on the create screen. It seemed easiest to handle the color updates for the whole sim at the same time.

[2020-09-28 22:58] zepumph commented on #84
![Uploading image.png…]()

[2020-09-28 23:22] zepumph commented on #84
@emily-phet, it ended up being challenging to include the hover behavior on the increment button on the second NumberPicker. If we need that feature, we can work on adding that ability to NumberPicker.

Please review.

[2020-09-28 23:22] zepumph commented on #84
![Uploading image.png…]()

[2020-09-29 00:49] zepumph commented on #127
worked out that it becomes desirable to start prototyping. For an example, please see the Molecules and Light Sound
Design document.

Who is the lead sound designer? @BLFiedler I feel like you may be our guy because @emily-phet is in grant land. Could you do this please?

[2020-09-29 00:52] zepumph commented on #127
sim and sets the volume level for all sim-specific sounds.

See #158

of all of the sound designers and other stakeholders in the original sound design GitHub issue and ask them to either
approve of the implementation or log their objections. Example:

See #174

[2020-09-29 00:52] emily-phet commented on #127
@Ashton-Morris has been creating these. He may have already started one.

[2020-09-29 01:25] zepumph commented on #96
I was able to convert the moving-in-proportion sounds to be  `mp3` files. This was much easier than I expected with the following steps:

* Open in Audacity
* Export as mp3
* use the LAME codec
* Choose a constant rate of 48kbps
* repeat for both files.

I added the `trimSilence` option to both sound clips. I cannot tell a difference between the versions. If anyone would like to try, https://phet-

[2020-09-29 01:28] zepumph opened #191 "Finalize names of sound files"
From #127 checklist:

the assets directory. Make sure the names match, e.g. bonk.mp3 in the sounds directory and bonk.wav in the
assets directory.

We still have our prototype-like names of sounds in the project, and not all of them have associated `.wav` files in the `assets` folder.

I want to do this issue with @Ashton-Morris so that whatever names he has for files are updated in correlation wi

[2020-09-29 01:33] zepumph commented on #191
Thoughts I have to change:

* marimba-variation-v2-... should maybe be named more for `staccato` than for `marimba`.
 * every sound should have a number suffix (000/001/002 OR 001/002/003 OR 1/2/3). I think I like 1/2/3.
 * How about something like:
    * staccato-c-1.mp3
    * staccato-c-2.mp3
    * staccato-c-3.mp3
    * ....
    * staccato-f-sharp-1.mp3 etc...
* in-proportion-quick-fade -> `in-

[2020-09-29 01:36] zepumph commented on #127
the assets directory. Make sure the names match, e.g. bonk.mp3 in the sounds directory and bonk.wav in the
assets directory.

See https://github.com/phetsims/ratio-and-proportion/issues/191

[2020-09-29 01:38] zepumph opened #192 "Add sound design credits"
From https://github.com/phetsims/ratio-and-proportion/issues/127:

other lists in the credits, add them using the soundDesign key.

I think this is just going to be @Ashton-Morris, but I thought I would double check.

[2020-09-29 01:38] zepumph commented on #192
Anything else here @Ashton-Morris?

[2020-09-29 02:32] zepumph commented on #127
aspects of the simulation through the publication process.

I think that we should close this issue, and testing should be done via QA when we are publishing the sim. If there is something that QA is not set up to test sound-wise during testing, then that is a problem, and we should work on that. @jbphet can you speak to how QA is currently expected to test sound?

Everything else that hasn't been

[2020-09-29 06:38] pixelzoom opened #193 "CT: getLocalToGlobalMatrix unable to work for DAG"
Failing consistently in CT since 9/28 @ 5:24pm

[code]

[2020-09-29 14:50] Ashton-Morris commented on #192
@zepumph Not that I am aware of.

[2020-09-29 14:51] Ashton-Morris commented on #127
I have started the sound design doc and will complete it this week

[2020-09-29 15:48] KatieWoe commented on #37
Tried to reproduce on iPadOS 14 Safari, with no luck. Do you want any other platforms looked at @zepumph?

[2020-09-29 16:18] jbphet commented on #171
Looks much better on master!

[2020-09-29 16:37] zepumph commented on #171
Excellent. I'm going to close this.

[2020-09-29 16:37] #171 closed

[2020-09-29 16:37] #192 closed

[2020-09-29 16:40] jbphet commented on #127
I generally make it clear that sound is a part of what needs to be tested when I set up the QA task.  That's about it.  So far, they just verify that it works, not that it matches a spec or anything.

[2020-09-29 16:58] zepumph commented on #193
Thanks. It looks like the NumberPickers I used in the home screen icons over in https://github.com/phetsims/ratio-and-proportion/issues/84.

I can remove accessibleContent with this patch:

[code]

But I think I would prefer instead to create a static function on NumberPicker to create an icon and always do this. I'll think about it.