[2020-09-29 17:00] zepumph commented on #193
I'll clean up CT eagerly, but may change the implementation.

[2020-09-29 17:09] clmccutchan commented on #185
@emily-phet Do you need me to redesign the hands? I wasn't quite sure from the thread above.

[2020-09-29 17:28] zepumph commented on #57
We are soon going to have new hands that will be ready to get colors, over in #185. Marking on hold, and assigning myself.

[2020-09-29 17:29] terracoda commented on #185
Design changes to hand:
- elongate the see-through window
- round the bottom
<img width="157" alt="Screen Shot 2020-09-29 at 2 57 05 PM" src="https://user-images.githubusercontent.com/1902116/94594561-296e1f00-0264-11eb-960f-c1d5876472b9.png">
- @zepumph needs an SVG

[2020-09-29 17:29] zepumph commented on #127
@jbphet, that makes sense to me, and things seem to be working well. Since we are on the topic, would you please look at https://github.com/phetsims/QA/blob/master/documentation/qa-book.md#sound-test. This is currently a single sentence:

Can you think of anything more to add to this to assist in the QA testing of sound?

[2020-09-29 17:45] zepumph commented on #84
From design meeting today, it would be good to try to include this hover behavior in the icon. I'll take a look into doing that.

Also we like having different numbers, like maybe 3/2:

![image](https://user-images.githubusercontent.com/6856943/94596307-6fad8900-0238-11eb-9701-f80dcc2ef0a7.png)

@emily-phet mentioned that maybe this different set of numbers will hint to come to this screen second.

[2020-09-29 18:10] zepumph opened #194 "Prefer "antecedent/consequent" to "numerator/denominator""
@Matthew-Moore240 helped me learn about the component term names of a ratio, I should use those instead of fraction notation.

[2020-09-29 18:58] zepumph commented on #173
I brought @terracoda and @Matthew-Moore240 up to speed on the conversion to aria-live today. They will review with this as they continue with the "both hands" design.

[2020-09-29 19:16] zepumph commented on #37
Thanks for taking a stab @KatieWoe, it has only been reported on iPad, so no other platforms needed.

@BLFiedler, @emily-phet et all discussed this today at design meeting today, and no one has encountered this for a while. That coupled with QA's difficulty in reproducing makes us feel good about closing this, and reopening if it ever becomes a problem.

[2020-09-29 19:16] #37 closed

[2020-09-29 19:35] zepumph commented on #193
@jessegreenberg and I discussed adding this function to ParallelDOM:

[code]

[2020-09-29 20:56] terracoda opened #195 "State & Responsive Descriptions for My Challenge number spinners"
In today's design meeting we discussed new labels for the number spinners:
- Set Left Value
- Set Right Value

AND a new pattern for the Object Response that explicitly states the ratio:
- {{number-spinner-value}} challenge ratio, {{left-value}} to {{right-value}}
    - 1, challenge ratio 1 to 2
    - 2, challenge ratio 1 to 2

AND a new pattern for Context Responses as the new values are set:
- H

[2020-09-29 21:00] zepumph commented on #82
After discussing with @jessegreenberg, we are going to add support for screen-specific help content over in https://github.com/phetsims/joist/issues/668. I'll do that before this issue.

[2020-09-29 21:11] emily-phet commented on #174
@terracoda @Matthew-Moore240
Can you all weigh in on this (https://github.com/phetsims/ratio-and-proportion/issues/174#issuecomment-697020678), or let me know if you have questions? If so, we could have a quick chat about this later next week. It relates only to when you hear the "success" sound from interaction not directly involving moving the hands in the play area.

[2020-09-30 15:22] terracoda opened #196 "Object & Context Responses for Ratio Challenges Combo Box"
Yesterday we discussed new approach with the number spinners on Screen 2, see issue #195.

On screen 1 we have the Challenge Ratio combobox that allows learners to change between 3 different pre-set challenge ratios.

In the design document I sketched out what the interaction sounds like, and 2 options for the context response. There are pros and cons to both options. I am wondering which one @Mat

[2020-09-30 15:28] terracoda commented on #174
@jbphet said, "I like having the "grid line bump" sounds behind the "Enhanced Sounds" checkbox."

**Question:** What is the grid line bump? I don't hear anything indicating grid lines.

[2020-09-30 15:40] terracoda commented on #174
@jbphet said, "I like the boundary sounds for the top and bottom limits of the hand motion."

**Ah Ha!** I didn't hear boundary sounds while using a keyboard. I see now that's why I don't hear the grid line bumps, either. They both need to be added for keyboard input.

I think both these sounds will be useful for blind keyboard users!

[2020-09-30 15:58] terracoda commented on #174
**Related to the success sounds when using the secondary controls**, this is tough question.
The main issue I have is that screen changes color and the sounds communicate those changes.

@emily-phet, are you suggesting that we don't communicate changes in proximity to the newly selected or newly set ratio challenge at all, or are you suggesting that we only communicate that change through the prim

[2020-09-30 16:03] jbphet commented on #174
@terracoda said:

To hear this sound, you need to use the PhET menu to turn on Enhanced Sound.  Try that, and you should be able to hear it.

[2020-09-30 16:13] terracoda commented on #174
@emily-phet, I also want to remind ourselves that early on in the design process, a decision was made to put all the controls in the Play Area.

Is there something in your thinking about the sound that would also indicate that the other controls would be better placed in the Control Area?

I am not saying we should, I am just wondering about the controls themselves and what we have done in other s

[2020-09-30 16:16] terracoda commented on #174
@jbphet, thanks, I had enhanced sounds on. The issue is that I don't hear the enhanced sounds when navigating using the keyboard. I hear them with the mouse interaction only.

I think @zepumph can fix this :-) I'll make a new issue.

[2020-09-30 16:21] terracoda opened #197 "Edge sounds and tick mark bump sounds not heard with keyboard naviagation"
I noticed in #174 that I was not hearing all the sounds when using a keyboard.

I don't hear tick mark sounds, an enhanced sound, nor do I hear the top and bottom edge sounds (not an enhanced sound).

I am using Safari browser on mac book pro, high sierra 10.13.6.

[2020-09-30 17:03] terracoda commented on #173
@zepumph, the aria-live solution is working. With VoiceOver, I am getting pile-ups of alerts, so we need to optimize that. I am hearing both responses, though, object and context responses, so I think this solution will be good as we work through finalizing the actual strings and their order.

[2020-09-30 17:03] terracoda commented on #173
Re pile-ups, I am not sure how you have fixed that in the past, but you have done it before :-)

[2020-09-30 17:34] Matthew-Moore240 commented on #196
I really like option 2. I think that is a pretty elegant solution to the problem.

[2020-09-30 19:01] Matthew-Moore240 commented on #188
Looks good! Closing.

[2020-09-30 19:01] #188 closed

[2020-09-30 19:03] Matthew-Moore240 commented on #189
Looks good! Closing.

[2020-09-30 19:03] #189 closed

[2020-09-30 19:03] Matthew-Moore240 commented on #190
Looks good! Closing

[2020-09-30 19:03] #190 closed

[2020-10-01 14:25] terracoda commented on #187
Looks and sounds awesome @zepumph.
In phetsims/joist#665, you'll update the static introductory sentence to include "interactive":
- "Come explore with {{Ratio and Proportion}}. It has {{2}} **interactive** screens."

The content in this issue is verified, so closing.

[2020-10-01 14:25] #187 closed

[2020-10-01 18:02] amanda-phet commented on #185
How is this for hand shape @terracoda ?
![image](https://user-images.githubusercontent.com/7852916/94845916-9fe25c80-03dd-11eb-84ce-80c7150658c2.png)
![image](https://user-images.githubusercontent.com/7852916/94846111-d91acc80-03dd-11eb-834d-d72cd7a86e1e.png)

[2020-10-01 21:05] amanda-phet commented on #185
I just realized the circle in the hand is probably not in that location because you liked it, but probably because it's in the center. So here is the new hand with a dot that is accurately centered.
![image](https://user-images.githubusercontent.com/7852916/94863363-949c2a80-03f7-11eb-9be3-2d220c0d0c73.png)

[2020-10-02 04:48] emily-phet commented on #196
My initial thought was also to go with option 2.

A few additional thoughts: I was trying to think through how people would conceptualize a combobox interaction in general. My guess is that maybe our kind of use is probably pretty uncommon, but I don't know for sure. For example, I can't think of common examples of a combobox where after you make the choice it essentially sets the whole underlying

[2020-10-02 04:56] emily-phet commented on #174
@terracoda - re https://github.com/phetsims/ratio-and-proportion/issues/174#issuecomment-701492542

From our past decisions on Play Area / Control Panel organization, I think the current setup aligns. People would have a really hard time getting much out of the sim if they do not use the radio buttons and combo box. Previously that has been part of the reasoning behind putting those sorts of thing

[2020-10-02 11:35] terracoda commented on #174
@emily-phet, I agree, let's leave the Play Area/Control Area division as it is.
It is also not about sound, so not part of this issue.

[2020-10-02 11:38] terracoda commented on #197
Added @jbphet, as I am actually not sure who needs to fix this issue.

[2020-10-02 12:27] terracoda commented on #196
Re, is a combobox the right interaction?
- We could try out a group of three radiobuttons to see if that works better. Both interactions provide a list of options to choose from. I think the combobox interaction might have been chosen for its visual brevity (compactness).

We can also look very carefully at how the combobox is being experienced non-visually. There seems to be subtle differences be

[2020-10-02 15:36] jbphet commented on #197
I'll leave this to @zepumph since he's the primary developer and I don't think this is a problem with the sound library.

@zepumph - there are examples of sound being played in keyboard listeners in, I think, friction, gravity-force-lab, and probably a few other places if you need them.

[2020-10-05 02:04] Ashton-Morris commented on #191
I have no issues. I have the changed the names of those files on my computer. Did you want to change them on your end also, or have me send some? @zepumph

[2020-10-05 20:18] terracoda opened #198 "New Regions for describing between Tick Marks"
@zepumph, @Matthew-Moore240 and I discussed some minor improvements to the describing the small steps between the tick marks.

**Summary of Changes:**
{{just below}} -> {{almost on}}
{{below}} -> {{just over half-way past}}
{{above}} -> {{almost half-way past}}
{{just above}} -> {{around}}

**Example Object Responses for stepping between Tick Marks 2 and 3 (bolded steps are default step-size)**
Sm

[2020-10-06 01:42] zepumph commented on #82
@terracoda , here are some notes to review:
* I used the built in slider keyboard help component to get to where we are for the 'Move Left or Right Hand' section. If we need to change individual rows to be more hand-specific, we can, but that will be a change to the common code component, so I thought I would check. Perhaps we can solve this by changing the heading to 'Move Left or Right Hand Indi

[2020-10-06 16:30] terracoda commented on #82
@zepumph, here's a better example from GFLB where we have left/right sliders and up/down number pickers, and where the visual and physical interaction of moving left/right or up/down is kind of strong. Of course, with sliders, all the arrow keys work. That said, I think we have the choice to pick a direction that is relevant to the sim. I think this is what we did for GFLB.

![Screen Shot 2020-10-

[2020-10-06 16:42] terracoda commented on #82
@zepumph, I have made some notes in the design doc that we can discuss at today's meeting.

[2020-10-06 16:45] terracoda commented on #82
@zepumph, and I should say, the samples are a great start. It's great to see they content laid out.

[2020-10-06 17:34] zepumph opened #199 "Prefer "Challenge Ratio" to "Ratio Challenge""
There are many spots in the description. @Matthew-Moore240 and @terracoda will confer before making the change.

[2020-10-06 17:36] zepumph commented on #199
They conferred. We will change all usages and then review.

[2020-10-06 17:48] zepumph commented on #82
Today during design meeting, @terracoda @Matthew-Moore240 and I went through the keyboard help content and made many changes to the design doc. @terracoda will clean it up and assign me when it is ready for a direct copy.

Part of this will be adding options to the slider help text to improve its verbage.

[2020-10-06 18:08] zepumph commented on #198
- [ ] @terracoda mentioned that we may still need to tweak the 0-1 range, because "almost half-way past tick mark 0" may sound strange.

[2020-10-06 22:03] zepumph opened #200 "[JAWS] Cannot escape out of forms mode in "Both Hands" interaction"
@terracoda mentioned during this morning's description meeting that a learner had trouble with exiting the "Both Hands" interaction using JAWS. She was in a non-standard forms setting where entering/exiting weren't automatic. From my understanding, she was able to press enter to move from the virtual cursor mode into forms mode on the Both Hands application role/div, and use the interaction well.

[2020-10-06 22:06] zepumph opened #201 "Investigate aria-orientation="horizontal" for radio button group"
@Matthew-Moore240 mentioned that during an interview, a learner thought the radio buttons were vertical, and so preferred using up/down arrow keys to move them, we have not to my knowledge investigated using an aria orientation on our radio buttons, but I think we should!

[2020-10-06 22:22] zepumph commented on #173
- [ ] I think we should create a new issue to investigate alert pile ups, but should wait until the description is more refined. Much of the timing may end up being based on the actual length of each alert.

[2020-10-06 22:42] zepumph commented on #84
@emily-phet, please review:

![image](https://user-images.githubusercontent.com/6856943/95267632-2cc45600-07e2-11eb-89c9-6a2e9b5da11d.png)

[2020-10-06 22:48] zepumph commented on #199
Please review, especially "challenge ratios".

[2020-10-06 22:50] zepumph commented on #193
Added above. Closing

[2020-10-06 22:50] #193 closed

[2020-10-06 23:06] zepumph commented on #201
When I added this patch, it didn't seem any different to me on NVDA. Neither reported an orientation, and since the interaction works with any arrow key, it seems to be moot for that device.

I witnessed the same thing on the iPad with VO. There isn't any orientation provided through the radio button group. I'm still happy to add in this minor patch to see if things improve in the case that @Matth

[2020-10-07 12:57] terracoda commented on #200
@zepumph, I am not sure I understand. You said,

What does that mean? Did you add that? Or have you determined that no action is required?

I agree that the Esc Key can be part of an interaction as you described, going from draggable back to grabbable.

In the case of the Both Hands interaction the hands are "draggable" by default, so how do we make sure the are let-go-able by default as well? If

[2020-10-07 12:59] terracoda commented on #200
Or maybe, you meant the Escape key is implemented and is working?

[2020-10-07 13:01] terracoda commented on #200
I can't test JAWS, so I cannot actually verify a change it a change was made.
Please enlighten me a little further.

[2020-10-07 13:54] terracoda commented on #82
@zepumph, the content for the Keyboard Shortcuts dialog is updated and ready for implementation.
Use this link to jump to the sections with the [content for both dialogs](https://docs.google.com/document/d/1HJvvGWYaUv9tlat9S7omQQVng8fGB4FuUhTEM1qx1z8/edit#heading=h.6y493yuizr6z).

[2020-10-07 14:44] KatieWoe opened #202 "CT qq.createIcon is not a function"
[code]

[2020-10-08 00:24] zepumph commented on #202
Thanks, I forgot to push a commit.

[2020-10-08 00:24] #202 closed

[2020-10-08 12:58] terracoda commented on #174
It's possible, as long as we have a voiced response that the ratio situation with the hands has changed (we could keep it very general), I think we can could avoid using the sounds.

The latest description ideas for the Challenge Ratio combobox and the My Challenge number spinners would indeed voice the changes to the proximity to the challenge ratio. We could see how learners respond to having so

[2020-10-08 13:11] terracoda commented on #185
@amanda-phet, I think the center of the circle is supposed to align with the tip of the thumb so either the center of the circle or the thumb can be used to align with the tick marks.

I think that means the circle should be moved up a bit.

Can others comment, @BLFiedler, @Matthew-Moore240, @zepumph?

[2020-10-08 14:13] BLFiedler commented on #185
@amanda-phet, yeah, for now, I think we'll aim to have the circle center line up with the highest point of the thumb so that touchscreen users still have something to line up even if they are covering the transparent circle with their finger. This makes for a strange placement of the circle for sure, but we will likely explore alternative hand shapes sometime later down the line.

Thanks!

[2020-10-08 17:11] amanda-phet commented on #185
Gotcha.

@zepumph here are the two svg hands!

[new hands.zip](https://github.com/phetsims/ratio-and-proportion/files/5349859/new.hands.zip)

[2020-10-08 19:46] terracoda commented on #196
Discussed October 8th.
Sketch out smaller scale for proximity to ratio and indication to play with hands.

[2020-10-09 01:54] zepumph commented on #200
I didn't explain well. I'm trying to talk about who "gets" an event coming from the keyboard. I think of the screen reader as a gate keeper for events. It reads each event as it comes, but only certain events get sent through to the webpage. When using the virtual cursor with a screen reader, that screen reader "gets" the arrow key events, and handles them in the screen reader program. It "absorbs

[2020-10-09 01:56] zepumph commented on #200
I'd like to hear if @jessegreenberg has any ideas about a way to have an immediately draggable interaction still be "let-go-able". Feel free to comment, or we can discuss next dev meeting.

[2020-10-09 13:05] terracoda commented on #200
@zepumph, thank you for the thoughtful explanation. I do indeed understand now.

This, indeed complicates our ideas about making the hands immediately draggable. The two-step approach we use in other grabbable-draggables provides a simple and direct release operation.

We might have to change the Both Hands interaction into our traditional grab-then-drag interaction.

Currently, if JAWS can't exit

[2020-10-09 18:17] zepumph commented on #191
I will rename now.

I used this script to change all the staccato filenames:
[code]

[2020-10-09 18:28] zepumph commented on #191
Everything is renamed, now I just need to add the staccato sound `wav` files to assets. I'll get them from the google drive folder.

[2020-10-09 18:29] zepumph commented on #191
Grabbing the wav files from https://github.com/phetsims/ratio-and-proportion/issues/9#issuecomment-654891590

[2020-10-09 18:37] zepumph commented on #191
I used this script to rename and move wav files into assets:

[code]

Everything seems done to me now. @Ashton-Morris will you please take a look at file names in the following dirs to make sure all looks good from your end. Feel free to close.

https://github.com/phetsims/ratio-and-proportion/tree/master/assets
https://github.com/phetsims/ratio-and-proportion/tree/master/assets/staccato
https://g

[2020-10-09 18:57] zepumph commented on #185
old:
![image](https://user-images.githubusercontent.com/6856943/95620499-c1b29380-0a1c-11eb-91b3-7f9bc90094ec.png)

new:
![image](https://user-images.githubusercontent.com/6856943/95620538-cf681900-0a1c-11eb-9b1d-da5e15f181e1.png)

The transition was very simple and easy. Please review. Even though there may be some tweaks here, since the shapes are in SCENERY/Path format now, we can unblock #57 a

[2020-10-09 18:58] zepumph commented on #57
Over in https://github.com/phetsims/ratio-and-proportion/issues/185 we now have Paths for the hands, so we can dynamically change the colors over here. Taking off hold.

[2020-10-09 19:43] zepumph commented on #57
<details>

[code]

[2020-10-09 21:57] jessegreenberg commented on #200
Hmm, I can't think of a technical way other than what @zepumph suggested (remove the application role, change the tagName to be something non-interactive, etc)

Not sure if it is cause for concern or changes though, it sounds like the user was able to move somewhere else with tab navigation. It doesn't feel as harmful as a keyboard trap to me.

[2020-10-09 23:20] zepumph commented on #57
Colors have been implemented. I also added the color updates to the home screen icons. Please review. My guess is that the second screen dark blue is not going to stick around, as its contrast with the black stroke isn't very strong. Just so you are aware, it is easy to change the color of the NumberPickers in correlation with the hands, and we can also easily differentiate each hand if that would

[2020-10-09 23:21] zepumph commented on #200
I think before we implement any solution, we should do some research into other application roles online, and see what other behavior is for widgets or components. How do they manage escape?

[2020-10-10 03:09] emily-phet commented on #84
@zepumph I think the second screen has too much in it...the images look too small when in the nav bar, etc.

Let's go with just using the number spinners alone for the second screen.

[2020-10-10 03:28] emily-phet commented on #185
@zepumph Looks great to me!

[2020-10-10 03:33] emily-phet commented on #57
@zepumph
Where should I be looking? Checked on phettest, and the hands look "old" (straight-line bottom edge, color = black).

[2020-10-10 04:16] #185 closed

[2020-10-10 16:50] Ashton-Morris commented on #191
Looks good

[2020-10-12 16:28] terracoda commented on #84
I think simplifying to number spinners is a good idea.

[2020-10-12 18:08] zepumph commented on #84
Like that?

![image](https://user-images.githubusercontent.com/6856943/95777566-e86a0780-0c72-11eb-8cda-1a6167084745.png)

[2020-10-12 18:35] zepumph commented on #57
I just pulled all and things looking good to me. Here is a dev version also just in case.

https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.67/phet/

[2020-10-12 18:50] terracoda commented on #84
I like the color added to the hands. That will be a color of the challenge.

[2020-10-12 20:56] jbphet commented on #179
Yep, seems fine on master.  Closing.

[2020-10-12 20:56] #179 closed

[2020-10-12 21:10] jbphet commented on #127
Sure, here are some thoughts, and I'll add a refined version of this to the sound implementation checklist sometime soon:

- Verify that all basic UI controls create some sort of sound.
- Verify that none of the sounds produced are disproportionately loud compared to the others, i.e. the balance is good.  Note that the sound designers often use the Reset All button's sound as the volume reference.

[2020-10-12 21:20] Matthew-Moore240 commented on #199
Looks to me like they were all changed. Closing

[2020-10-12 21:52] Matthew-Moore240 commented on #196
Scale for proximity

- on
- around/near
- far-off/distant

1. Last part changes to this if they are already in ratio:

Hands, {{on}} challenge ratio. _Move hands again to explore more of challenge {{2}} ratios._

2. This is shorter, near/around could be used when the screen is any shade of green that isnt {{on}}

Hands, {{near}} challenge _{{2}} ratio. Use hands to find ratio._

3. This is also sh

[2020-10-12 22:07] Matthew-Moore240 opened #203 ""Guide Options" - Context Responses for changing radio buttons"
**No Tick Marks**
Customize play area without tick marks.
Explore play area without tick marks.
No tick marks in play area.
Customize play area with only words

**Tick Marks**
Customize play area with tick marks
Explore play area with tick marks.
Tick marks activated in play area.
Customize play area with words and some numbers.

**Numbered Tick Marks**
Customize play area with numbered tick marks

[2020-10-13 13:34] emily-phet commented on #84
I'm not loving the green/red and green/blue combinations. Maybe a white background would be better?

[2020-10-13 13:59] #79 closed

[2020-10-13 14:04] emily-phet opened #204 "Optimizations for phones"
Using the latest on my iPhone 7 (small size), the hands are incredibly small, and the open circle is completely useless.

I’d like to know if it would impact any of the tolerances etc if we increased the size of the hands maybe 4x when we know it’s a mobile device.

Also, other things could be enlarged as well... grid numbers, lock checkbox seems particularly small, etc.

[2020-10-13 16:52] zepumph commented on #84
Like this?

![image](https://user-images.githubusercontent.com/6856943/95891259-5117b980-0d31-11eb-97ab-c223c4b74938.png)

[2020-10-13 16:53] zepumph commented on #84
Oh you meant for both.

![image](https://user-images.githubusercontent.com/6856943/95891394-7e646780-0d31-11eb-9486-efa931ddb9ee.png)

[2020-10-13 17:24] zepumph opened #205 "Can't click in the cut out hand hole to drag"

[2020-10-13 17:37] Ashton-Morris commented on #127
I have completed the sound design document @emily-phet can you take a look?

- [Ratio and Proportion Sound Design Document](https://docs.google.com/document/d/1dSfPP5JnaQX2Z4lKn7DdSWSuzCLijoNUFvpW_nnR-7s/edit#)

[2020-10-13 18:16] zepumph opened #206 ""somewhat close to" should occur only with staccato and light green feedback"
@terracoda mentioned that these two triggers are slightly off. All these feedbacks should occur right at the same time.

[2020-10-13 18:17] zepumph commented on #206
@Matthew-Moore240 mentioned that this behavior is working correctly for single hand interaction, so this may just be an issue with "both hands".

[2020-10-13 19:01] zepumph opened #207 "New "Both Hands" description"
A new walkthrough in the design doc is ready for prototyping in the sim. A few key pieces:

* It uses the "closer/farther" paradigm when direction changes (like alerts for single hand interaction)
* It moves much of the context response into the object response.
* It implements new absolute position regions. These are different from the single hand interaction ones, but we will keep both for now.

[2020-10-13 19:33] Matthew-Moore240 commented on #203
**No Tick Marks**
Explore play area without numbers

**Tick Marks**
Explore play area with some numbers.
Explore play area with ordinal numbers.
Explore play area with minimal numbers.

**Numbered Tick Marks**
Explore play area with mostly numbers.
Explore play area with numbers.

@emily-phet Still brainstorming a way to be slightly more specific on how to cue tick marks and numbered tick marks as

[2020-10-13 19:40] Matthew-Moore240 commented on #196
We want to avoid using words that are already in other parts of the description.

[2020-10-13 21:45] zepumph opened #208 "Code review"
I'll assign to @jbphet when ready for review.

[2020-10-13 21:58] zepumph commented on #191
I found https://drive.google.com/drive/u/1/folders/1A2SV3y_Qd0xAFx_IVCaMEqg9Mbq9wduk with outdated file names. Does this folder stick around past the design phase of a sim? We already store all the underlying `wav` files in the github repo, so I'm not sure we need this.

[2020-10-13 22:07] zepumph commented on #127
@Ashton-Morris had a great idea of how to embed sounds into the sound design document. We were able to add this guide in https://stackoverflow.com/questions/26897862/playing-sound-with-google-script to the above linked design document. It now has a side bar that can have arbitrary HTML (like sound) written to it. This could be a good way to add a "sound board" of sorts to the design doc.

[2020-10-13 22:46] zepumph commented on #174
@Matthew-Moore240 do you have any thoughts to add to this issue? Otherwise I think we are ready to close.

[2020-10-14 00:15] zepumph commented on #207
The basic structure of the object/context reponses is in place. I still need to update the both-hands position regions.

The main complexity was in adding the "direction changed" text when closer/farther changes, and making that work well with the both hands and individual interaction, because both use that logic.

- [ ] I left a couple of TODOs in the sim that I want to go over, potentially with

[2020-10-14 00:30] zepumph commented on #207
New regions are implemented for qualitative, "both-hands" position. @terracoda I think this is ready for some poking around on master to see what you think.
https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.68/phet/

- [ ] Alerts don't repeat if they are the same sometimes. @terracoda can you reproduce this, is it problematic to you?

[2020-10-14 00:41] zepumph commented on #198
Implemented above. I'm a little confused by "{{just over half-way past}} {{third}} tick mark". My brain doesn't easily meld the "past" with the "third" when in between 2-3. That said, I don't feel strongly, and totally trust you. I thought I'd mention my perspective.

Please review.

[2020-10-14 01:12] zepumph commented on #195
All 4 things above have been implemented, see phettest or master for review.

[2020-10-14 01:17] zepumph commented on #195
Please note that this:

Now applies to the context response on the first screen when the combo box changes the target also.

[2020-10-14 14:33] terracoda commented on #198
@zepumph, I agree, I was wondering if we could safely use "around" instead the "just over" phrasing.

Also, when I pass half-way past tick mark zero, the next step says "just over half-way past tick mark 1". The "1" needs to be "0" until "almost on tick mark 1."

I'm going to re-look at the whole scale for a minute to see if there should be any other changes.

[2020-10-14 14:55] terracoda commented on #198
@zepumph said "I'm a little confused by "{{just over half-way past}} {{third}} tick mark". My brain doesn't easily meld the "past" with the "third" when in between 2-3. "

That was a typo, it should have been the previous number, "{{just over half-way past}} {{second}} tick mark"

But, still, the description is a little long and confusing.

I'm working on it.

[2020-10-14 15:00] terracoda commented on #198
@zepumph, can you do this instead:

Small & Large steps | Tick Marks checked | Numbered Tick Marks checked
-- | -- | --
=10 | {{on}} {{third}} tick mark | {{on}} tick mark {{3}}
8-9 | {{almost on}} {{third}} tick mark | {{almost on}} tick mark {{3}}
6-7 | {{around}} {{half-way past}} {{second}} tick mark |{{around}} tick mark {{2.5}}
=5 | {{half-way past}} {{second}} tick mark | {{on}} tick mark {

[2020-10-14 15:29] terracoda commented on #207
@zepumph, when both the hands are in the same region, we can greatly reduce the length of the object response by saying, "both hands in {{region-name}}"

You might not have seen [Table: (New Idea) Parameters for Region of Play Area](https://docs.google.com/document/d/1HJvvGWYaUv9tlat9S7omQQVng8fGB4FuUhTEM1qx1z8/edit#heading=h.c9wem8ke1pju)
in the design doc. I have simplified it here for you.

**N

[2020-10-14 15:34] terracoda commented on #207
Also for distance, I don't hear "even with other hand". I'll check the design doc, maybe we haven't we requested that.

[2020-10-14 16:50] Ashton-Morris commented on #127
After spending some time looking into it further I don't think this is the solution for in document audio previewing. It works but it should be immediately accessible. Currently you have to choose add-ons, then allow permissions, then sign in with your google id, then run the script.

I also looked into publishing a pdf or spreadsheet with sound and that did not work either. I'll have this idea on

[2020-10-14 16:57] Ashton-Morris commented on #191
I have copies of all of the in-developement working files on my computer so I don't thing we need this, but usually I just leave them there out of habit.

[2020-10-14 17:34] zepumph commented on #191
It's redundant to have the same resources check into git as well as in drive. It also seems problematic to me to have them with outdated filenames that no longer link to the same resources in github, and (hopefully) on your computer. I would expect that from this issue, all of the filenames on your computer (wav/reaper-projects/tracks-in-reaper/mp3/etc) would have the new name. Thus something titl

[2020-10-14 17:36] terracoda opened #209 "Lock Ratio - the hands seem to become askew of the tick marks"
There may be an open issue for this? I just noticed when I used Lock Ratio with no tick marks and then activated the tick marks, the hands were askew of the marks. Mathematically they might be in challenge ratio, but visually it seems a bit off. And describing between the tick marks is more wordy, so I am concerned this may become an issue for the described experience.

We haven't designed the Res

[2020-10-14 19:24] jbphet commented on #96
Looks good to me, and it's cool that it reduced the size significantly.  I also double checked that the .wav files were in the assets dir and there were.  Closing.

[2020-10-14 19:24] #96 closed

[2020-10-15 03:11] emily-phet commented on #127
@Ashton-Morris Agreed!

I anticipate there will be some of @jbphet's time available toward the end of this quarter, that he could use for creating the version of sound board we discussed on Tuesday available through phettest. We'll talk more about how that could fit into this quarter tomorrow (thursday) in our planning meeting.

[2020-10-15 11:09] terracoda commented on #203
@Matthew-Moore240, I understand your direction here, now, apologies for my confusion.

The style of these phrases is more like "help text" than responsive text. A response in this context often describes what has changed. In this case what has changed is the set-up or described experience in the Play Area.

The goal of the response would be to communicate what's important about this change to the

[2020-10-15 14:37] terracoda commented on #203
Another help text option:
- Choose type of guidance when moving the hands.

[2020-10-15 14:51] emily-phet commented on #203
Just a quick thought - we might want to be careful about taking the terms "guide" and "guidance" too far. The visual display of the lines is a visual guide to the eye, but the descriptions you hear with these on are not quite that (in my opinion). They are additional useful information. "guide" and "guidance" could be interpreted in more of an active way than we mean, there is no active guidance p

[2020-10-15 15:07] Matthew-Moore240 commented on #174
Yeah I think its ready to close. Closing

[2020-10-15 15:07] #174 closed

[2020-10-15 15:17] terracoda commented on #203
@emily-phet, I agree, but what words besides "lines", "tick marks", "guides" can we use? We have accoustic tick marks in enhanced sounds, so there are accoustic guides in addition tot he described tick marks.

I am finding the different modalities challenging :-)

[2020-10-15 15:20] terracoda commented on #203
How about these responses?
- Tick Marks
    - Move hands in relation to evenly spaced tick marks.
- Numbered Tick Marks
    - Move hands in relation to numbered tick marks.
- No Tick Marks
    - Move hands with no tick marks.

[2020-10-15 15:23] terracoda commented on #203
Or maybe?
No Tick Marks
- Move hands in relation to general position in Play Area.

[2020-10-15 15:27] terracoda commented on #207
@zepumph, I'm not sure the "closer/farther" paradigm when direction changes is working here because when I go back and forth from moving first the left hand up and then the right hand up, I get directional changes each time. I get closer with left hand and then farther with right hand.

If I keep doing that, I never hear actual distance :-)

So, can you you do the following:
- remove the closer/fa

[2020-10-15 15:55] Matthew-Moore240 commented on #203
I am totally not opposed to doing it the way @terracoda is describing but I do think we benefit more from them sounding a bit more help text like. At this point if we can give the learner clear and concise help that is in line with the visual more and doubles as a way to clear up some of the more confusing aspects of the sim I would rather go with that first and then tune according to the intervie

[2020-10-15 18:01] zepumph commented on #86
Today, we brought this back up. We likely need to detect mobile and hide/remove change the both-hands content/interaction. Marking for a11y meeting.

[2020-10-15 18:06] zepumph commented on #196
The context responses for this combo box were changed as part of  https://github.com/phetsims/ratio-and-proportion/issues/195#issuecomment-708095506 for the other screen.

[2020-10-15 18:14] Matthew-Moore240 commented on #201
@zepumph At this point I think we can just ignore this interaction, it doesnt seem to break anything. As opposed to everything else this is really low priority. Let me know what you think and if you agree we can close.

[2020-10-15 18:17] #201 closed

[2020-10-16 12:26] terracoda commented on #195
Ok, I'll have a listen.

[2020-10-16 12:30] terracoda commented on #86
I'm going to add the note that when a screen reader is not enabled, and we have a self-voicing design, moving the two hands could potentially be accessible to blind learners on iOS.

[2020-10-16 12:58] terracoda commented on #198
@zepumph and @Matthew-Moore240, **I would like the above "in-between regions" implemented, and I want to post that I would be open to simplifying further if need be:**

Small & Large steps | Tick Marks checked | Numbered Tick Marks checked
-- | -- | --
=10 | {{on}} {{third}} tick mark | {{on}} tick mark {{3}}
8-9 | {{around}} {{third}} tick mark | {{around}} tick mark {{3}}
6-7 | {{around}} {{half

[2020-10-16 14:03] terracoda commented on #196
@Matthew-Moore240, I am thinking what @zepumph has implemented things in a way that gets us on the right track.

I think if we make the help text more explicit, and add "new" to the response, so it is clear that the challenge is new and thus different we may achieve much better scaffolding.

Personally, I would rather make the help text more lengthy and explicit than create a response with differe

[2020-10-16 14:05] terracoda commented on #196
Hopefully, the help text makes it clear to go move the hands to explore the new challenge.

[2020-10-16 14:08] terracoda commented on #196
Assigning to @Matthew-Moore240, and @emily-phet and @zepumph are welcome to chime it.

I have a feeling these changes to the strings would be quite trivial to implement.

[2020-10-16 16:48] zepumph commented on #208
From dev meeting yesterday, @jbphet will be the one to do the whole code review. I'll rename to reflect that change. Right now I'm shooting for this sometime mid-November, but more development work, self-code review, and likely dev testing will need to be done first.

[2020-10-16 16:56] zepumph opened #210 "Self Code Review"
*NOTE! Prior to doing a code review, copy this checklist to a GitHub issue for the repository being reviewed. Delete the Table of Contents section, since the links will be incorrect.*

# PhET Code-Review Checklist (a.k.a "CRC")

* Mark failed items with ❌
* Call attention to items with ⚠️
* Mark items that are not applicable with "N/A"

## Table of Contents
* [Build and Run Check](https://github.c

[2020-10-16 17:34] Matthew-Moore240 commented on #196
Yeah I think the shorter string for the help text is good, I am okay with taking this new approach.

[2020-10-16 19:36] terracoda commented on #195
@zepumph, @Matthew-Moore240 and I agreed on iterations for the Ratio Challenge combobox over in #196, and here I'll outline our agreed upon changes for the My Challenge number spinners.

Changes were implemented and here’s two example initial object responses from VO. Of course, all AT is different, but this is what VO says:
![Screen Shot 2020-10-16 at 12 23 54 PM](https://user-images.githubuserco

[2020-10-16 19:49] terracoda opened #211 "My Challenge Accordion Box needs Context Responses"
Related to https://github.com/phetsims/ratio-and-proportion/issues/195#issuecomment-710490937

Please create context responses for the accordion expand/collapse interaction.
- When box is actively expanded
    - “Current challenge ratio {{1}} to {{2}}.
- When the current challenge is actively collapsed
    - “Current challenge hidden.”

[2020-10-16 19:58] terracoda opened #212 "Text for My Challege Accordionbox interaction?"
Related to https://github.com/phetsims/ratio-and-proportion/issues/195#issuecomment-710490937
Currently,we have "My Challenge" in both the visual and non-visual experiences.

I am wondering if  "My Challenge Ratio" would be more helpful in the non-visual experience.
I would prefer the text was the same for both.

I am wondering if there is a reason we didn't originally go with "My Challenge Ratio"

[2020-10-16 20:05] terracoda opened #213 "My Challenge accordion -Possible code change"
Related to https://github.com/phetsims/ratio-and-proportion/issues/195#issuecomment-710490937

There must be some “grouping” logic that is causing the “My Challenge Region” to be spoken when one first enters the My Challenge box. I am wondering if it’s critical, or maybe we can remove it?

Example comparison:
![Screen Shot 2020-10-16 at 12 23 54 PM](https://user-images.githubusercontent.com/190211

[2020-10-16 20:07] terracoda commented on #195
And, BTW, nice work on previous implementations. Hopefully, these changes will make it even better.

[2020-10-16 20:35] terracoda commented on #203
This is a simple interaction, so let's not over think it. That said, I am quite stumped for the help text. I think the responses for a particular setting is more straight forward.

I am also trying to think about how the help text would work in a Self-Voicing experience.

How about any of these?
- Set up different marks for the Play Area as needed.
- Choose different marks for the Play Area as nee

[2020-10-16 20:45] terracoda commented on #203
Alternatively, let's just simplify the situation and change the heading to "Tick Mark Options", and have no help text. The labels and responses can clearly communicate  the changes:

**Tick Mark Options**
- No Tick Marks - response upon selecting: Tick Marks hidden.
- Tick Marks - response upon selecting: Evenly-spaced horizontal lines added to Play Area.
- Numbered Tick Marks -  response upon sel

[2020-10-16 20:49] terracoda commented on #203
@BLFiedler you are also welcome to chime in about changes to "Guide Options."

[2020-10-16 20:51] Matthew-Moore240 commented on #203
I like this idea

[2020-10-16 23:10] terracoda commented on #203
Awesome, that's 2 votes, one from me and one from you. I am assigning over to @zepumph.

[2020-10-16 23:34] terracoda commented on #203
@zepumph, to summarize:
- Change heading for radio group to: "Tick Mark Options".
- Remove help text.
- Implement new context responses.

[2020-10-17 00:23] zepumph commented on #207
Implemented above like "boths hands {{inPosition}}"

[2020-10-17 00:29] zepumph commented on #207
"at middle" added above.

[2020-10-17 00:37] zepumph commented on #207
This may have been a rounding issue fixed in https://github.com/phetsims/ratio-and-proportion/commit/e84cd52f71f011db3d6b806eae3578fef3864c83. I think that you figured this out in https://github.com/phetsims/ratio-and-proportion/issues/207, but I wanted to note that I can get "even with" distance when using individual interactions now, but now the both hands has been updated as you specified above

[2020-10-17 00:40] zepumph commented on #203
Easy stuff done, see you over in https://github.com/phetsims/ratio-and-proportion/issues/203#issuecomment-710600010

[2020-10-17 01:03] zepumph commented on #203
Context responses implemented above.

I wanted to use this same string as what is already in the disabled combo box, so I made that one lowercase to match this usage:
![image](https://user-images.githubusercontent.com/6856943/96325030-41b69b80-0fd1-11eb-9cff-2587f8d92aff.png)

Also, should "Evenly-spaced horizontal" (or numbered) have a comma in between the two adjectives?

[2020-10-17 01:04] zepumph commented on #213
Yeah sure thing, but please assign me again when you are ready to see it in place.

[2020-10-17 01:17] zepumph commented on #196
Implemented above.

RE #199, should this be ratio challenge?

[2020-10-17 01:18] zepumph commented on #195
Even if we get rid of it, that comma was easy

[2020-10-17 01:38] zepumph commented on #195
Not a worry! It was simple.

What do you think about adding "new" like we did over in https://github.com/phetsims/ratio-and-proportion/issues/196

[2020-10-17 01:40] zepumph commented on #198
I like both! Sorry I can't be of more help. Let me know what you would like implemented.

[2020-10-17 01:47] zepumph commented on #206
It was indeed a small bug. Basically a "greater than or equal to" should have been "greater than". @terracoda please confirm that you cannot reproduce the "somewhat close to ratio"  region when the staccato sounds are not playing (I couldn't). Also a reminder about `?log` which prints the ratio region and some model values along with it.

[2020-10-19 15:47] terracoda commented on #211
@zepumph, you may have already done, this, I am just checking my issues now.

[2020-10-19 15:52] terracoda commented on #211
These responses are not implemented yet, apologies for not assigning this issue to you on Friday. Over to you now :-)

[2020-10-19 16:03] terracoda commented on #195
@zepumph, good catch, I think using "new" will work perfectly, here, too.

However, just an FYI, the response upon opening the My Challenge accordion (#211), won't sound right with "new" because not change has been made.

[2020-10-19 16:05] terracoda commented on #195
Oh, forget that last comment, #211 is just using the first part of the above response:
- "Current challenge 2 to 2."

[2020-10-19 16:40] terracoda commented on #195
@zepumph, all we need is "new" to align with what we did in #196.
- labels for spinners are good.
- help text is good.
- As you suggested, just add "new" to the new Context Response pattern, and I think this issue can be closed.

[2020-10-19 16:44] terracoda commented on #195
Once #211 is implemented, I think the My Challenge accordion box and number spinners should be complete.

[2020-10-19 16:46] terracoda commented on #195
Well, there could be minor tweak in #212, and then I need to re-verify how things sound before we do anything with #213. It already sounds better.

[2020-10-19 16:55] terracoda commented on #203
@zepumph, that makes perfect sense.
The new heading and responses look good to me. Closing.

[2020-10-19 16:57] terracoda commented on #213
Just waiting on final changes to #195 and #211 before deciding on any further changes.

[2020-10-19 17:05] terracoda commented on #196
@zepumph, the object and context responses are working nicely for the combobox. I'll close this issue and head over to #199 to note changes to the heading for the combobox.

[2020-10-19 17:05] #196 closed

[2020-10-19 17:15] terracoda commented on #199
I noticed in the opening paragraph, we have 2 mentions of "ratio":

@zepumph, please remove "ratio" from "ratio challenge" and just leave it as "challenge".

And then, based on our thinking and work in #196, please swap the words in the H3 heading that above  the combobox, so it reads/says, "Challenge Ratio."

[2020-10-19 17:25] terracoda commented on #206
@zepumph, you got it sorted, thank you! And next time I will post an issue sooner when I first notice it :-)

[2020-10-19 17:25] #206 closed

[2020-10-19 17:28] zepumph commented on #199
Please note the changes to both screen's summaries. Anything else here?

[2020-10-19 17:34] Matthew-Moore240 commented on #198
I like the newest one @terracoda posted. I like some of the shorter responses.

[2020-10-19 18:00] terracoda opened #214 "Utterance Queue is not emptying wih the Both Hands interaction"
This might be related to #200, but I don't think the utterance queue is clearing out as as it should.

I get tonnes of response pile-ups while using both hands, and just now, silenced voice over with the Control key, Tabbed to the Tick Mark Options radio buttons and the Both Hands started up again.

There is something sticky going on with the utterances. They stick around way too long.

I uploaded

[2020-10-19 18:15] terracoda commented on #214
@zepumph, the reason I am thinking that this might be related to #200 is that it might be possible that the utterance queue doesn't know the interaction stopped because there is no explicit release, so then VO just continues with the queued responses once VO is reactivated.

[2020-10-19 18:20] terracoda commented on #199
@zepumph, sorry for my lack of clarity, I only wanted the second instance changed. The first instance should still say, "challenge ratios".

The h3 is now correct.

Just add back "challenge ratios" in the first sentence:
"In the Play Area you have two movable hands and a set of challenge ratios to explore."

[2020-10-19 18:25] zepumph commented on #195
@terracoda, "new" was added above. See you next over in https://github.com/phetsims/ratio-and-proportion/issues/211

[2020-10-19 18:33] zepumph commented on #211
Implemented on master.

[2020-10-19 18:36] terracoda opened #215 "Remove "my" and add "hand" in screen summary pieces (screen 2)"
Follow-up to #199
I think the "my" is awkward, and we should just call it a "challenge" like we do on screen 1. Adn I just noticed that "hands" is missing.

@zepumph, please adjust the dynamic screen description and hint phrases:
FROM

TO

[2020-10-19 18:49] terracoda commented on #211
@zepumph, I like the way the responses are working, but when the box is collapsed, I would like the response to be:
- “Current challenge hidden.”

Currently, the same response fire on expanding and on collpasing.

[2020-10-19 18:56] terracoda commented on #195
The "new" sounds great. Closing this issue.

[2020-10-19 18:56] #195 closed

[2020-10-19 19:04] terracoda commented on #198
@zepumph, can you please implement the the responses in https://github.com/phetsims/ratio-and-proportion/issues/198#issuecomment-710029471

Thanks :-)

[2020-10-19 19:13] terracoda commented on #207
@zepumph, the combined response "Both hands {{region-name}}" is working when I use the W and S keys for the left hand, but not when I use the arrow keys for the right hand still get separate descriptions for each hand.

[2020-10-19 19:18] terracoda commented on #207
Generally related to this issue, I posted #214. It is difficult to evaluate the quality (and length) of the responses with the large pile-ups.

[2020-10-19 19:36] terracoda commented on #173
@zepumph, I created #214 to investigate response pile-ups.

[2020-10-19 19:36] terracoda commented on #173
I think we should close this issue and continue work over in #207.

[2020-10-19 19:37] #173 closed

[2020-10-19 19:37] terracoda commented on #173
@zepumph, please re-open if there are things in here that I have missed.

[2020-10-19 19:59] terracoda opened #216 "Should we add num-tickmarks-apart to dynamic screen summary?"
Adding to adjustments already mentioned in #215

Currently, in the dynamic state-of-the-sim summary, we provide a qualitative description for distance between the hands in all three views (i.e. with or without tick marks).

I think it might be helpful to provide tick marks apart when tick marks are checked in addition to the qualitative description.

**SCREEN 1**

When Tick Marks or Numbered Tick

[2020-10-19 21:28] zepumph commented on #82
Everything should either be implemented, or have a comment in the design doc about implementation. I believe the only main thing left is to determine how we want to set up the common code combo box help section header.

Desired text for RaP:
"Choose a Challenge Ratio"

Current text for molarity:
"Steps to Change Solute"

If there was a single sentence that could easily cover all cases, like "Choos

[2020-10-19 22:06] zepumph commented on #82
Ok. Now I like the way that the common code combo box help section heading option is set up. I think that RaP is totally done, save a couple things in design doc comments. @terracoda please review by looking first at these comments, and then at the design doc comments (I think that will make the most sense).

I will make a note over in https://github.com/phetsims/molarity/issues/234 to discuss how

[2020-10-19 23:29] zepumph commented on #214
I feel like the main tool that we have in this case is a parameter on each Utterance that controls how long before the utterance is spoken. During this delay, if a new alert from the same utterance comes in, the timing restarts. I feel like it is quite likely that you are familiar with this parameter.

NVDA sounds quite good in general with the current parameters, so my first thought would be to h

[2020-10-19 23:45] zepumph commented on #207
Hmm, I can't reproduce this. Can you potentially be more specific? Is it a pile up error? Is it consistently in a case that you could describe? Is the error in VoiceOver, such that you see different things between the aria-live section of the a11y view and what is in your VO dialog?

[2020-10-19 23:46] zepumph commented on #207
My main question to discuss in this issue tomorrow at the meeting is to confirm that direction description will not be needed in the both-hands interaction. That will be a sizeable cleanup that I would like to do while this work is fresh.

[2020-10-19 23:47] zepumph commented on #211
I'm terribly sorry. Very sloppy on my end! Implemented now.

[2020-10-19 23:53] zepumph commented on #199
How's that? I also want to remind you to feel free to edit the json file when there are these simple changes to be made, either directly on github, https://github.com/phetsims/ratio-and-proportion/edit/master/ratio-and-proportion-strings_en.json, or in your local copy. Furthermore, in cases where you are just editing strings in the sim that we are working on, even if it broke a string pattern or s

[2020-10-20 00:02] zepumph commented on #210
- [ ] There is no reason to have describer functions that return an index function. We can combine those with accessing the string from the array.

[2020-10-20 00:20] zepumph commented on #198
Implemented above. Please review

[2020-10-20 01:16] zepumph commented on #197
The above refactor will make the addition of keyboard sounds very easy,

[2020-10-20 13:57] emily-phet commented on #81
New idea, what if we just:

- Had the yellow arrows re-appear the first time the both hands mode is navigated to by keyboard, and
- on the left hand, overlaid a "W" and "S" key graphic.

This way, the yellow arrows always mean up/down with arrow keys, and yellow arrows with W/S on them mean up/down with W/S keys. The W/S look like the W/S in the BASE grab graphic above (with boxes around them, so

[2020-10-20 13:59] emily-phet commented on #84
This looks great! Closing - the only remaining changes would be having the second screen button match the color of things on the second screen if we change them.

[2020-10-20 13:59] #84 closed

[2020-10-20 14:10] emily-phet opened #217 "Making Hands 20-50% larger"
With the new colors for the hands, and the outline stroke, I think the appear smaller than when the hands were completely filled.

Additionally, the see-through circle seems too small.

In today's meeting, can we look at different increased sizes of the hand (the whole thing, inner circle and all) scaled larger?

[2020-10-20 14:13] emily-phet commented on #57
I'm not 100% happy with the colors right now, but I think increasing the size of the hands will help. I'd like input from visual designers, but don't have a good mechanism to get that...I might ask for a quick Thursday design meeting just on this (asking those attending to consider color in advance, and discuss their thoughts briefly Thursday).

[2020-10-20 14:35] emily-phet commented on #57
@kathy-phet @amanda-phet @ariel-phet @arouinfar
Please take a look at the latest RaP, and consider the current four different colors of the hands (three colors on the first screen, one for each challenge) and one color on the second screen.

Please consider if you like these colors - or if you have a suggestion for improving them. If you don't care for these color choices, please suggest other col

[2020-10-20 16:20] terracoda commented on #199
I figured, I could do it. I'll try next time.

[2020-10-20 16:24] terracoda commented on #199
Looks good thank-you, @zepumph.

[2020-10-20 16:24] #199 closed

[2020-10-20 16:31] terracoda commented on #211
No worries :-)
Thanks for fixing. It looks good now! Closing.

[2020-10-20 16:31] #211 closed

[2020-10-20 16:48] terracoda commented on #198
@zepumph, sounding good, but I found an odd string in the numbered tick mark experience.
I heard, "half-way past tick mark 7.5".
This should be "on tick mark 7.5" - so beautifully short :-)
The same problem in the Both Hands situation.
I hear, "left half-way past tick mark 7.5"

Since we are going with the half decimal, we need to remove "half-way past" string from the numbered tick marks response

[2020-10-20 16:51] terracoda commented on #198
Here are some screen shots for help
Both Hands
![Screen Shot 2020-10-20 at 2 19 43 PM](https://user-images.githubusercontent.com/1902116/96618376-70898600-12df-11eb-939c-62e02a7cf257.png)

A single hand slider
![Screen Shot 2020-10-20 at 2 20 07 PM](https://user-images.githubusercontent.com/1902116/96618416-7bdcb180-12df-11eb-987b-f003ef388385.png)

[2020-10-20 16:54] terracoda commented on #198
Found some more in the around half-way region
![Screen Shot 2020-10-20 at 2 20 07 PM](https://user-images.githubusercontent.com/1902116/96618650-c827f180-12df-11eb-9ae9-a872a1c90d60.png)

![Screen Shot 2020-10-20 at 2 23 59 PM](https://user-images.githubusercontent.com/1902116/96618772-edb4fb00-12df-11eb-95d2-722255681679.png)

[2020-10-20 16:57] terracoda commented on #215
Looks good, thanks @zepumph.

[2020-10-20 16:57] #215 closed

[2020-10-20 17:17] zepumph commented on #198
Arg!! I updated the "on X.5" description above.

I didn't know what you meant by this. Is there another bug besides what I just fixed?

[2020-10-20 17:21] terracoda commented on #209
Keep an eye out for a repeat of this as this is not a 1:2 ratio. Not sure if it is a model bug or a visual bug.

[2020-10-20 17:24] zepumph commented on #209
@terracoda said that likely it was happening while she was using the screen reader.

@emily-phet said to not spend too much time trying to reproduce. We can always give this to QA to try to reproduce.

[2020-10-20 17:59] zepumph commented on #217
![image](https://user-images.githubusercontent.com/6856943/96625452-b08a4200-12ba-11eb-806a-c2f7e8229683.png)

The old scale was 2, the new scale is 3 (50% bigger?). I also made the scale a query parameter (`?handNodeScale=6` is fun).

[2020-10-20 17:59] terracoda commented on #212
Discussed keeping "My Challenge" in both - visual and non-visual.

[2020-10-20 18:02] terracoda commented on #212
Closing for now.

[2020-10-20 18:02] #212 closed

[2020-10-20 18:09] terracoda commented on #216
Try and flip the phrases around to make it more clear that they are the same thing being described.

[2020-10-20 18:14] zepumph commented on #214
@terracoda said today at design meeting, this is not a matter of tweaking, but instead this is a real issue, with way too many  pileups that aren't clearing out. @jessegreenberg, it may be nice to discuss this with you.

[2020-10-20 18:23] zepumph commented on #207
From design meeting today, @terracoda repeated her sentiment from above comments that the direction changes won't work with the both hands interaction. As a result currently `HandPositionsDescriber.getBothHandsDistanceOrDirection()` is unused. @terracoda mentioned though that this may be an important piece of describing the lock ratio. So I have nothing else in regards to this issue.

@terracoda p

[2020-10-20 18:37] zepumph commented on #207
Actually, @terracoda made me aware of a large issue in the way I implemented both hands. Basically, whenever both hands are in the same region, that is when we shorten the object description. I mistook that for when the VALUES were the same, which is only at one spot. That should be fixed, and instead should say "even with" when the values are the same.

Reassigning.

[2020-10-20 18:39] zepumph commented on #194
Perhaps this work should be done as part of https://github.com/phetsims/ratio-and-proportion/issues/210.

[2020-10-20 18:44] amanda-phet commented on #57
I like the colors of the hands! I think I recall the green background being really important, but If I were to change anything, it would be that. If you considered that path, I would look into a different green hue, or pick a hue based on the hand colors. If that's not an option, then I would keep everything as it is! I also really like the stroked hand.

[2020-10-20 18:56] zepumph commented on #205
Ordered list of solutions:

1. It would be nice to see if expanding pointer areas is supposed to cover this.
2. We can add a transparent, clickable rectangle behind the cut out so that it's clickable.

[2020-10-20 18:57] zepumph commented on #217
We should make sure to adjust pointer areas after finding a scale we like. Right now there is weird overlap:

![image](https://user-images.githubusercontent.com/6856943/96631605-01059d80-12c3-11eb-9bb7-784fac703aed.png)

[2020-10-20 22:28] zepumph commented on #214
@jessegreenberg was a huge help on this today. Together we were able to reproduce the issue on Mac. We found that the problem doesn't like within the UtteranceQueue parameters, because this pile up is happening after the queue has been drained, so this is a screen-reader issue.

We also found that the behavior seems to be correct as it pertains to the specification of `aria-live="polite"`. VO let'

[2020-10-20 23:01] emily-phet commented on #57
Thanks @amanda-phet!

[2020-10-20 23:45] arouinfar commented on #57
I also like the hand colors, but I tried to see if I could find an alternative palette based on the background color, and I didn't really like any of the options I came up with. They are all quite a bit muddier than the original set of hand colors.

![image](https://user-images.githubusercontent.com/8419308/96655291-57420300-12fa-11eb-8f3a-feab3b736d73.png)
![image](https://user-images.githubuserc

[2020-10-21 00:20] zepumph commented on #214
For me to review:
- [ ] I'm surprised the a11y view's orange section is working. I wonder why adding assertive elements doesn't change the view? Maybe we should highlight the assertive ones for clarity?

[2020-10-21 00:28] zepumph commented on #207
Description has been fixed above. Now https://github.com/phetsims/ratio-and-proportion/issues/207#issuecomment-713050690 applies. Ready for review.

[2020-10-21 00:51] zepumph opened #218 "No pickup or drop sounds for Both Hands interaction"
Discovered while working on https://github.com/phetsims/ratio-and-proportion/issues/197. This seems buggy enough that I am going to add it, and we can remove it if there is a problem with having it. It more likely seems like an oversight to me. Tagging @emily-phet @terracoda @BLFiedler here for comment.

[2020-10-21 00:53] zepumph commented on #197
This is working for individual interactions now, but not for the both-hands. I think I will need to move these sounds out to the screen view, and pass them into the ratioHalfs and the both hands interaction so they can be used in each. Also note that because of https://github.com/phetsims/ratio-and-proportion/issues/218, I'm going to be doing this for all sounds in RatioHalf.js

[2020-10-21 01:37] zepumph commented on #82
@terracoda and @emily-phet, I just realized that we currently don't have help content for using the number keys on the "both hands" interaction. Is this something we want to support still? If so, doesn't it deserve keyboard help content?

both hands interaction -> number key 0-9 to move both hands to that value.

[2020-10-21 02:02] zepumph commented on #197
Ok there are now boundary, tick mark, grab, and release sounds in the Both hands interaction. @terracoda please review the sound as it pertains to alt input.

I'm especially interested in how you like the boundary sound behavior.

[2020-10-21 02:02] zepumph commented on #218
Implemented in https://github.com/phetsims/ratio-and-proportion/commit/ff2e88d15cc64d9e0711c6771996bd13ee48649b as part of https://github.com/phetsims/ratio-and-proportion/issues/197. @emily-phet can you please confirm that having these sounds for the both-hands interaction is appropriate.

[2020-10-21 02:05] zepumph commented on #57
I wanted to add that I personally dislike that challenge three is the same/close to the cue arrows. Of the above colors. I hope we can find a cue arrow color that isn't the same as a potential ratio hand color.

[2020-10-21 02:08] arouinfar commented on #57
Given the amount of color in the sim, you could probably go with a light gray for the cueing arrow. I think this especially true if challenge 1 is going to start out in ratio, as it currently does in master. The arrow shape itself is also attention-grabbing.

[2020-10-21 14:35] terracoda commented on #214
Nice work sorting out the difference between aria-valuetext and aria-live regions.

I think you are into something.

Is possible to flush the queue after an assertive response or something like that because, now I can get multiple polite responses after the latest assertive response.

Or can you make it so they are both assertive and I'll try that?

[2020-10-21 14:43] terracoda commented on #214
Wait a second, it sound much better than yesterday.

[2020-10-21 14:44] terracoda commented on #214
@zepumph, I agree, it would be good to highlight the assertive responses in the A11y View.

[2020-10-21 15:15] terracoda commented on #198
and in "around half-way past" should just be "around X.5"
![Screen Shot 2020-10-21 at 12 43 42 PM](https://user-images.githubusercontent.com/1902116/96740268-3da4c800-139b-11eb-9011-14b78dfa6866.png)

[2020-10-21 15:24] BLFiedler commented on #217
Definitely a device specific/aspect ratio scaling thing. handNodeScale=6 on a phone in portrait is actually not that bad looking but is a bit more monstrous in widescreen where the vertical space is much more limited.

![Screenshot_20201021-091654](https://user-images.githubusercontent.com/47331395/96741286-dbd66500-137e-11eb-9f9e-60840f67fe37.png)
![Screenshot_20201021-091637](https://user-images

[2020-10-21 15:24] terracoda commented on #214
BTW @jessegreenberg and @zepumph, great detective work here figuring out differences between `aria-valuetext` and `aria-live regions` for object responses.

So, the responses are working much better. If I move the hands relatively quickly, it seems the polite responses about proximity to ratio do not pile up. I just get "At challenge ratio", at the end when I hear the chime.

When I move them more

[2020-10-21 15:29] amanda-phet commented on #57
@arouinfar I love what you did with the green. +1 for making the green brighter as you have done.

[2020-10-21 15:30] #207 closed

[2020-10-21 15:41] terracoda commented on #213
I'm thinking
![Screen Shot 2020-10-21 at 1 08 45 PM](https://user-images.githubusercontent.com/1902116/96743523-a9d4fb00-139e-11eb-846b-c22c099c1020.png)

With the label changes and the re-arrangement of Currant ratio responses, I think the region information is fine now.

The region clearly communicates that the number spinners are part of the My Challenge box.

No changes needed to the code. Clo

[2020-10-21 15:41] #213 closed

[2020-10-21 17:03] terracoda commented on #197
I can hear all the sounds  now. Thanks @zepumph!

[2020-10-21 17:48] Matthew-Moore240 opened #219 "Adding context responses to the range combobox"
Range COMBOBOX
Accessible Name: Range {{0 to 10}}
ARIA: aria-labelledby needed to provide the selected challenge name dynamically
PhET Type: Combobox (button and popped up listbox)
Button Label:  selected item is part of the button’s label
Listbox list items:

- Range {{Tick Marks Hidden}}
- Range {{0 to 10}}
- Range {{0 to 20}}
- Range {{0 to 30}}

Help text: When tick marks shown, choose range f

[2020-10-21 18:11] zepumph commented on #197
Excellent, I have a bit more code cleanup.

[2020-10-22 17:20] zepumph commented on #217
Yes that is possible, and that is similar to discussion about how to change the height of each ratio half. The thing is that integer changes feel wonky to me, and it would probably be best to have a sliding scale based on how tall the aspect ratio.

Here is a patch that jumps from a scale of 3 to 4 when the aspect ratio becomes "vertical":

<details>

[code]

</details>

I think it will look best

[2020-10-23 19:03] emily-phet commented on #217
@BLFiedler
Can you take the lead on the design side for this? I'm out of time for today, but ideally there would be decisions ready for @zepumph for Monday.

I like the idea of having the size scale based on view window height. @BLFiedler can you confirm if a range of 3-6 makes sense to you?

@zepumph - do you need any input regarding logic for the scaling? E.g., would there be no size change on l

[2020-10-23 19:08] emily-phet commented on #217
@zepumph Can we also see some screenshots with the window circle at 50% larger, and 100% larger?

[2020-10-23 19:18] emily-phet commented on #57
@zepumph Let's make the arrows the same orange as in @arouinfar color palette [above](https://github.com/phetsims/ratio-and-proportion/issues/57#issuecomment-713202022) (first row, third column).

That addresses the issue with Challenge 3 hands being too similar to the cueing arrows - I believe.

Note about my thought process on this: I might have suggested we go with white for the cueing arrows,

[2020-10-23 19:27] emily-phet commented on #57
@zepumph @terracoda @Matthew-Moore240 @BLFiedler @jbphet @Ashton-Morris
Please weigh in re changing the background green to the brighter green background color in the screenshots [above](https://github.com/phetsims/ratio-and-proportion/issues/57#issuecomment-713202022).

I initially felt it was too lime-y, but I think that was just when considering in contrast to the current color. Looking back at

[2020-10-23 19:32] emily-phet commented on #204
Since this issue relates only to the size of the hands and the window circle, and that's being handled in https://github.com/phetsims/ratio-and-proportion/issues/217, I'm going to close this issue.

[2020-10-23 19:32] #204 closed

[2020-10-23 19:51] BLFiedler commented on #57
I kind of like it. Notches the "playfulness" up one more and matches the aesthetic of the hands.

Yes from me.

[2020-10-23 21:44] BLFiedler commented on #217
Hm. I'm not immediately concerned by the difference in size that the hand takes up of the space between the tick marks as the spacing on the tick marks also changes.

However, if there is a simple solution to have the hands match the scaling the tick mark spacing, then perhaps that would work.

Otherwise, I like 3-6 for reasonable aspect ratio (phones being the "tallest" devices that are typically

[2020-10-23 23:49] zepumph commented on #217
Sounds good. I'll work towards scaling like this.

[2020-10-23 23:56] zepumph commented on #57
Originally I was very used to the current green, and wasn't sure about a new one, but now that I see this one, I really like it. It is much less dull, and the contrast makes it feel more phet-like. I'm all in for the new colors.

[2020-10-26 12:21] terracoda commented on #57
I like the new green.

[2020-10-26 14:41] Ashton-Morris commented on #57
I like the new green as well

[2020-10-26 17:52] emily-phet commented on #57
Well - I see how this is going. :)

@zepumph Please implement the new green.

@arouinfar Thanks for suggestion, and your effort in looking around for some new colors. I definitely agree, the new green complements the new hand colors very nicely.

[2020-10-26 17:55] Matthew-Moore240 commented on #57
Really like the new green, I think this is a big improvement.

[2020-10-26 18:18] zepumph commented on #57
Implemented above, see https://bayes.colorado.edu/dev/phettest/ratio-and-proportion/ratio-and-proportion_en.html?ea&brand=phet

[2020-10-26 18:19] zepumph commented on #57
Anything else here?

[2020-10-26 18:28] emily-phet commented on #57
@zepumph In the link above, it looks like the old green (comparing it to the screenshots above).

[2020-10-26 18:29] emily-phet commented on #57
@zepumph There is also changing the arrow colors - see [this comment](https://github.com/phetsims/ratio-and-proportion/issues/57#issuecomment-715534107) for specifics.

[2020-10-26 20:42] zepumph commented on #219
Context alerts changed above. The only difference between the sim and the above design from what I can see is that in the sim the "hidden" is lowercase, i.e. "Range {{Tick Marks hidden}}". This is the same value as when the tick marks are shown/numbered/hidden. Want it capitalized?

[2020-10-26 20:49] zepumph commented on #57
I updated the cue arrows to the orange as desired in https://github.com/phetsims/ratio-and-proportion/issues/57#issuecomment-715534107. To me it looked a bit weird until I removed the transparency (opacity) that was set back in https://github.com/phetsims/ratio-and-proportion/issues/18#issuecomment-619556276. So now the cue arrows have no transparency. This helped bring out the orange (before it f

[2020-10-26 21:03] arouinfar commented on #57
The first row, third column orange from https://github.com/phetsims/ratio-and-proportion/issues/57#issuecomment-713202022 is `#e68a5b`.

I also realized that the hexcodes I provided in the code snippet do not match the screenshots. I iterated over a few different options locally, and I think I made an error when copying the values over.

If you compare master to the screenshots, you can see the di

[2020-10-26 21:06] zepumph commented on #214
It looks like we are using `mutation.addedNodes`, and so even though we are now adding an observer onto the parent div of all the polite elements (and another one for all the assertive ones), the addedNode is still the child `p` tag with the alert. I think this is fine for now, but could be improved. I'll make a note over in https://github.com/phetsims/chipper/issues/991.

[2020-10-26 21:13] zepumph commented on #214
Yes, it sounds like you are totally right. It's tweaking time!

From what you said:

It sounds like the first place to start is with decreasing the time on the context alert. Another way to potentially do the same thing is by increasing the time on the object response. It's just a matter of how quickly we should be getting these alerts.

Try them both out and see! For context, the sliders we have

[2020-10-26 21:18] zepumph commented on #57
Thanks @arouinfar. I updated to these new values.

As for the cue arrow opacity (with the updated background greens)
No transparency:

![image](https://user-images.githubusercontent.com/6856943/97229527-5b07d680-178d-11eb-829d-3b12533511fa.png)

20% transparency:
![image](https://user-images.githubusercontent.com/6856943/97229558-66f39880-178d-11eb-9125-25840372e547.png)

To me, having the transpa

[2020-10-26 21:18] zepumph commented on #57
(And @emily-phet this time my commits are actually pushed)

[2020-10-26 21:42] emily-phet commented on #57
@zepumph The green looks nice!

For the arrows - it looks like we're threading a color needle here, now the orange-y color looks too reddish (to similar to the red hands).

Let's go with @arouinfar's suggestion of a grey (a dark grey, may like the numbers when numbered grid lines are on). Grey fill, black stroke still. The sim's so bright now (particularly on startup) that maybe a more muted arrow

[2020-10-26 22:07] zepumph commented on #57
I used the same dark grey as the framing rectangles. How is that?

![image](https://user-images.githubusercontent.com/6856943/97233877-96f26a00-1794-11eb-9cb7-3c6e33f450a8.png)

[2020-10-26 22:20] emily-phet commented on #57
@zepumph I think a little lighter would feel "friendlier". Since I can't join tomorrow for our usual meeting, I'll message you on Slack to see if we can set up a time tomorrow to sort this out in realtime. I'm guessing it will be most efficient that way.

[2020-10-26 22:24] zepumph commented on #57
How about this gray? It is the color of the tick marks and framing rectangles when out of proportion. If not, let's meet tomorrow about this.

![image](https://user-images.githubusercontent.com/6856943/97235062-f0f42f00-1796-11eb-97b3-9b09845d5ece.png)

[2020-10-27 13:57] emily-phet commented on #86
In last week's design meeting - we decided to:
- there is no way to determine if someone is using a screen reader on a mobile device, so there is no way to selectively remove the both hands mode for only that scenario - both hands mode will be encountered by everyone
- we do know when someone is using a mobile device, and since the user affected by an inability to move both hands would be someone

[2020-10-27 14:09] emily-phet commented on #82
Re the [combobox question](https://github.com/phetsims/ratio-and-proportion/issues/82#issuecomment-712452923) - I have the feeling we'll want different wording related to comboboxes. How standardized do we need to get here? Can there be a default (Molarity's wording seems fine) and then a way to sandwich the combobox name inside of a text string however we want - so we can customize? My guess is t

[2020-10-27 14:13] emily-phet commented on #82
I made a suggestion re number jumping in the design doc.

[2020-10-27 14:23] emily-phet commented on #81
@zepumph Do you need artwork for the keyboard keys?

- They W/S keys should look just like the ones used in BASE
- the up/down arrow keys should look like the ones in the example in [this comment](https://github.com/phetsims/ratio-and-proportion/issues/81#issuecomment-684871062) (lower panel)
- they should appear overlaid on the base part of each arrow (the narrow part, closest to the hand).
- If

[2020-10-27 15:36] terracoda commented on #81
I like @emily-phet 's second suggestion in comment https://github.com/phetsims/ratio-and-proportion/issues/81#issuecomment-712870773

I think the cue should appear on focus on the Both Hands interaction until there is successful movement and reset after a sim reset.

[2020-10-27 15:36] Ashton-Morris commented on #191
I see what you are saying. I think this ties into the soundboard idea that JB and I will be diving into. I can bring up this in relation during those talks because I do think it's good to have a better tracked workflow overall.

[2020-10-27 15:57] terracoda commented on #214
@zepumph, just noting that when using the sliders on VoiceOver, all the context responses containing distance from other hand and proximity to ratio pile up easily, too.

[2020-10-27 17:05] zepumph opened #220 "RatioAlertManager.alertRatioChange doesn't use an Utterance"
In https://github.com/phetsims/ratio-and-proportion/issues/214#issuecomment-717343425, @terracoda said:

This is likely because there is no utterance, and so there is no alertStableDelay. Likely this should be the same as all context responses that talk about the ratio (1000?).

Furthermore, I was surprised that this wasn't handled by AccessibleValueHandler, and perhaps we want to pack this into t

[2020-10-27 17:08] zepumph commented on #214
Thanks, I made https://github.com/phetsims/ratio-and-proportion/issues/220 because that is actually a totally different code path. I can see why it is buggy.

[2020-10-27 17:14] terracoda commented on #214
object responses are assertive
context responses are polite

[2020-10-27 17:21] Matthew-Moore240 commented on #219
No I think its good lower case. Looks great overall, closing.

[2020-10-27 17:21] #219 closed

[2020-10-27 17:54] terracoda commented on #136
Closing.

[2020-10-27 17:54] #136 closed

[2020-10-27 17:56] terracoda commented on #214
Discussed at meeting.
For now MK is going to change the context response delay to 2 seconds.
Ideally we should design shorter object responses. We'll wait until after interviews and after Lock Ratio is designed.

[2020-10-27 17:59] terracoda opened #221 "Design responses for Lock Ratio interaction"
@terracoda is to work on this

[2020-10-27 18:08] zepumph commented on #200
I had the thought of listening to `escape` key and bluring the interaction. This would send the user to the top of the page though (because focus moves to the body), so we shouldn't do this.

@terracoda had an idea of adding the `application` role dynamically when focusing, and then removing it when you press escape. That may be an appropriate way to handle this.

[2020-10-27 18:15] zepumph commented on #86
Marking this with @terracoda and @Matthew-Moore240 as a "would be nice" for interviews, but if it doesn't get done (by next week), that is alright.

[2020-10-27 18:26] zepumph opened #222 "Both hands object response bug when using number keys"
Steps to reproduce:

1. Create screen
2. Show numbered tick marks
2. range to 0-30
4. focus both hands
5. press "0"
6. press "9"

-> object response is: `hands 9 tick marks apart from each other, left on tick mark 0, right on tick mark 9`

[2020-10-27 18:30] zepumph commented on #82
@terracoda said I could implement the added row in the design doc about 0-9 in the keyboard dialog. That is all I will do right now.

[2020-10-27 18:45] terracoda commented on #82
@zepumph here are some edits:
**Visual Keyboard dialog for screen 1:**
- Change "eight" to right
- Add new item for 0-9 shortcut
![Screen Shot 2020-10-27 at 4 04 45 PM](https://user-images.githubusercontent.com/1902116/97346693-b3fb6b80-186e-11eb-97c7-3bc94d3380f5.png)

*Accessible keyboard shortcuts screen 1**
- add missing periods
- remove "the" before Shift key
- add new item about number keys

[2020-10-27 18:56] zepumph commented on #214
Today @terracoda, @Matthew-Moore240 and I thought through this problem a bit more. We found that the issue is with polite alerts ready to be spoken by the screen reader when an assertive alert comes in and has priority. In NVDA, there is internal behavior that clears all queued polite alerts when an assertive alert comes through. On VoiceOver this doesn't happen, thus it is possible to get a build

[2020-10-27 19:06] zepumph commented on #214
@terracoda, I think that this is ready for interviews at this point. If you agree, please remove this issue from the milestone (as we may come back for more tweaking later.

[2020-10-27 19:12] terracoda commented on #82
The changes above should also fix the same issues on the second screen's keyboard shortcuts dialog.

I made a decision not to include the Range combobox in dialog on screen 2.

As for comboboxes, in general, it would be good to know how often the default wording will work for learners.

I feel that the numbered list implies ordered steps, so I feel less strongly today about the explicit language w

[2020-10-27 19:15] terracoda commented on #82
For the record, the Home screen keyboard dialog looks good to me.

[2020-10-27 19:18] terracoda commented on #82
And also, for the record, in https://github.com/phetsims/ratio-and-proportion/issues/82#issuecomment-717475379 I made a decision to not include instructions for the Range combobox because of space issues.

[2020-10-27 20:18] terracoda commented on #82
@zepumph, for interviews, we just need to the minor corrections made and the number shortcuts added.

[2020-10-27 21:01] zepumph commented on #127
aspects of the simulation through the publication process.

This will be done outside of this issue.

If the sound design document is in good shape, then this issue can be closed. @Ashton-Morris please create a new issue if you want to track discussion around providing sounds in design documents.

[2020-10-27 21:01] #127 closed

[2020-10-27 21:20] zepumph commented on #197
Alright, cleanup complete. Closing

[2020-10-27 21:20] #197 closed

[2020-10-27 21:50] zepumph commented on #82
I implemented the bug fixes for RaP. Over to @emily-phet to confirm or discuss the default "Choose a . . . " for combo box help sections from https://github.com/phetsims/ratio-and-proportion/issues/82#issuecomment-717475379.

[2020-10-27 22:13] zepumph commented on #198
Ok, I understand the problem much better now. Thanks for going over that with me. I ended up rewriting the regions for this, because they were so dependent on the current tick mark view. They should be good to go now.

[2020-10-27 22:46] zepumph commented on #222
This seems to fix it, but I don't know why yet.

[code]

[2020-10-27 23:02] zepumph opened #223 "Fine tune the size of the cut out circle of the hands"
@emily-phet and I think the cut out hand holes need to be bigger.

[2020-10-27 23:03] zepumph commented on #223
Here is what the cut out currently looks like

![image](https://user-images.githubusercontent.com/6856943/97371180-8b22a880-1865-11eb-91a2-0ac1b33a01f0.png)

[2020-10-27 23:07] zepumph commented on #218
@emily-phet and I feel like everything is good here. We aren't too worried about the pickup and drop sounds playing at the same time as you cycle through interactives.

[2020-10-27 23:07] #218 closed

[2020-10-27 23:31] zepumph commented on #81
@emily-phet and I feel like it is acceptable to use the same arrow key icons from the keyboard help dialog along with the W and S letter key Nodes.

- [ ] Use those key Nodes
- [ ] Position them inside the base of the current cue arrows if possible.
- [ ] Make sure these things scale with the ratio hand (likely covered over in https://github.com/phetsims/ratio-and-proportion/issues/217).
- [ ] Whe

[2020-10-28 00:36] zepumph opened #224 "Keep Both hands interaction "j" to jump to lowest common value?"
In https://github.com/phetsims/ratio-and-proportion/issues/62 we added that "J" can be used to jump the higher hand to match the lower position. It isn't documented in the keyboard help dialog, and I forgot about it. I think we should either get rid of it, or add it to the dialog. @emily-phet what do you think?

[2020-10-28 01:03] zepumph commented on #222
I found the bug to be that when the target ratio is 1/2, the unclamped fitness will be the same when at 0/N as it will for N/N, this is because of the fitness algorithm. Thus, listening just to fitness to rely on these changes was not enough. I updated the listener above, and documented it. It also struck me that it would likely be better to listen to the ratioTupleProperty instead, so I'm going t

[2020-10-28 01:24] zepumph commented on #222
That went pretty smoothly. I'm happy with this conversion, because I'm hoping to try to get rid of as many usages of numeratorProperty and denominatorProperty as possible.

[2020-10-28 14:01] emily-phet commented on #224
Agreed - I think we can get rid of it. I think the number keys are more intuitive to use, and too many options for moving the hands may just be confusing.

[2020-10-30 00:19] zepumph commented on #220
@terracoda, the build up should now be solved. We are using AccessibleValueHandler's build-in support for the context response now.

Please review.

At meeting next week I would like to double check one question I had while working on this part. The context response for individual hands has extra logic that won't alert a repeat context response. This seems particular to the qualitative regions, si

[2020-10-30 01:12] #222 closed

[2020-10-30 01:16] #224 closed

[2020-10-30 01:28] zepumph commented on #205
I went with option (2)

[2020-10-30 13:29] terracoda commented on #214
@zepumph, think look good in the A11y View, but I can't load the sim for testing. I am getting this error:
![Screen Shot 2020-10-30 at 10 48 55 AM](https://user-images.githubusercontent.com/1902116/97709798-dc1ce180-1a9d-11eb-9430-975f61ea1335.png)

Can you have a look?

[2020-10-30 14:32] terracoda commented on #198
Some issues for distance between tick marks. This might need to go in a new issue? But I am working on something else, so just plopping screen shots here for the record.
"0 and a half tick marks apart" should be
"half a tick mark apart"
![Screen Shot 2020-10-30 at 11 55 18 AM](https://user-images.githubusercontent.com/1902116/97717038-49814000-1aa7-11eb-9848-8322e9c61b59.png)

"1 tick marks" shoul

[2020-10-30 15:57] terracoda opened #225 "Number Key shortcut and Lock Ratio"
With lock ratio checked, I accidentally hit the 5 shortcut and both hands jumped to 5, even though ratio was locked.

Not sure what we want to do with these shortcuts when Lock Ratio is checked.

I am open to suggestions.

[2020-10-30 20:42] terracoda commented on #221
@zepumph, I created a table here in the design doc. I only have No Tick Marks column filled it, but I have flipped thing around.

Will something like be possible?
- Object value = proximity to ratio
- Context response = something useful about distance or distance progress and Play Area position for hands.

I was also playing with the logic for when someone gets a "distance progress" response.
1. O

[2020-10-30 20:44] terracoda commented on #221
@zepumph, could you answer if this approach is possible/doable and re-assign to me to fill in the other tick marks?

[2020-10-31 00:13] zepumph commented on #221
This seems like it would be possible from my view.

[2020-10-31 00:50] emily-phet commented on #223
@amanda-phet Apologies for asking for yet another thing related to this, but I'd like to see the new hands (new colors, and size) with the circle cutout 50% and 100% larger. Right now, with the colored hands and the black outline stroke, the inner part of the hands look way smaller.

@zepumph said that he'd need new svg files to make this happen in the sim. Could you make some new svg files with t

[2020-11-02 17:19] zepumph commented on #225
My guess is that the number keys should either be disabled when the ratio is locked (preferred), or perhaps make it match the left hand. If we go with matching the left hand, it will be possible to lock a ratio where it isn't possible to get to all the tick marks with the left hand.

[2020-11-02 21:25] zepumph commented on #221
@terracoda has completed the first column in the above table (for qualitative description), and on slack we decided to implement what is in there as best as we can for now, and discuss it tomorrow.

[2020-11-02 21:49] zepumph commented on #156
I went ahead and had each keyboard interaction snap to the nearest shift keyboard step. To see the new feature/bug-fix you can do the following:

* Load the sim with ?log
* move the left hand with the mouse. Let's say the new value for it is `.251847895`
* keyboard focus the left hand (individually or with the "both hands interaction"
* press shiftKey+up and the new value will snap, to something l

[2020-11-03 04:22] zepumph opened #226 "Hand position regions are not symmetrical"
The regions outlined here are not symmetric about the "even with" region. It is possible to .5 above even with and be "Extremely close to" but, .5 below and be "very close to"

https://github.com/phetsims/ratio-and-proportion/blob/bfc2d0af2ac723bb9f7053b9e0e721ec4bd8fbb0/js/common/view/describers/HandPositionsDescriber.js#L260-L295

[2020-11-03 04:56] zepumph commented on #221
* Bug fix for when distance was calculated after both values had changed (like when ratio is locked).
* Update single hand interaction context response when locked to be something like "Hands, very close to each other, both hands in lower region."
* Update single hand interaction object response when locked to be the proximity to ratio, which means that it is always "at challenge ratio"
* Noted th

[2020-11-03 15:55] terracoda commented on #225
@zepumph, I have some context responses coming up in a new issue for the lock ratio button.

[2020-11-03 16:00] terracoda opened #227 "Context Responses for Lock Ratio Checkbox"
I recently realized we do not have context responses for the Lock Ratio checkbox.
It is a strange interaction with some complicating scenarios that can knock the hands out of ratio, so this is what I suggest.

Goal is to alert the user that the locked situation is no longer in play, and continue on with business as usual in an unlocked situation. I am not sure if this is the best approach, but it

[2020-11-03 16:13] terracoda commented on #227
Note I updated the content in the table after initial post. No changes to the responses - just the supporting text.

[2020-11-03 16:18] terracoda commented on #225
@zepumph, I just posted Lock Ratio Context Responses in #227.

If we don't disable the number key shortcuts, we can use a response to communicate what happened to the Lock situation. We have to do this for the My Challenge number spinners, so we can just do something similar with the number key short cuts.

[2020-11-03 16:24] terracoda commented on #203
Oops, re-opening, missing periods in two responses.

[2020-11-03 16:31] terracoda commented on #203
@zepumph, I added the periods in c7ad9d4.
Whoo hoo, an actual commit.

[2020-11-03 16:31] #203 closed

[2020-11-03 17:01] terracoda commented on #198
We need to adjust the strings when the tick mark value is less than 1 or maybe around 1/2?

- hands 0 and a half tick marks apart from each other, left half-way past tick mark 0.5, right on first tick mark
should be:
- hands, a half tick mark apart from each other, left half-way past tick mark 0, right on first tick mark

![Screen Shot 2020-11-03 at 1 24 13 PM](https://user-images.githubuserconten

[2020-11-03 17:02] terracoda commented on #198
There is some funny business that we need to work on below the first tick mark.

[2020-11-03 18:04] emily-phet commented on #223
@amanda-phet Will you be able to take a look at this sometime this week? If not, is it possible to hand off the artwork files to someone else.

Again, apologies - I hope this is like a five-minute thing for you.

[2020-11-03 18:09] zepumph commented on #225
Here we decided that we do want to support number keys "pulling" the ratio out of "locked" status. This is just like the behavior of when you are locked, and you change the challenge ratio.

Thus, we should here add detection to the case where we change the challenge ratio or move the hands out of the locked status, and disabled and uncheck the "lock ratio" checkbox.

[2020-11-03 18:25] amanda-phet commented on #223
No worries, this is quite fast. I'll have something today.

[2020-11-03 18:38] amanda-phet commented on #223
I'm not sure how the stroke was done- I'm guessing in code? I included an option with a thinner stroke as well, and guessed that the current one is 2px.

Here are some options:

<img width="822" alt="image" src="https://user-images.githubusercontent.com/7852916/98026843-fff76480-1dc8-11eb-912a-cf27ff7597bb.png">

[2020-11-03 18:54] zepumph commented on #220
We discussed a lot about potentially detecting this duplicating case and offering a slightly different alert, like manually swapping in "Farther from" for the distance part. For now though, we think leaving it as is is best. We can make these sorts of tweaks after we learn more during interviews.

[2020-11-03 18:54] zepumph commented on #220
Now just have a look at the build-up of alerts when using the individual hands.

[2020-11-03 19:00] zepumph commented on #198
This is good enough for interviews tomorrow. We will pick this back up after them.

[2020-11-03 19:18] emily-phet commented on #223
Thanks @amanda-phet!

I like the biggest circle. At that size, it also looks more like a ball or a cutout (like a "window") and less like a crucified hand (which of course, we were trying really hard to avoid).

@zepumph can you add in the 2px stroke and 20px circle option (the last one)? I think even if it looks slightly odd, it will increase the ability to use the cutout as a way to line up the

[2020-11-03 20:20] amanda-phet commented on #223
Here you go!

[cutout-hand-05.svg.zip](https://github.com/phetsims/ratio-and-proportion/files/5483843/cutout-hand-05.svg.zip)

[2020-11-03 23:26] zepumph commented on #221
This feature was added to the "both hands" interaction when the ratio is locked. See above. Up next is the "Hands, hands. . ." typo.

[2020-11-03 23:27] zepumph commented on #221
This is fixed now.

[2020-11-04 00:07] zepumph commented on #223
When I open this SVG, there are now three `path` elements:

[code]

Whereas before there was just a single one. I think it would be simplest if we let scenery do the line width to avoid this complexity.

Furthermore, if we wanted to capture lineWidth in the SVG, then we would want to be consistent about that between the filled in and cut out hands.

Thus I think it would be easiest to get cut out

[2020-11-04 00:28] zepumph commented on #221
I also saw a recent change in the design doc, and now the object description is "hands, at challenge ratio".

[2020-11-04 00:31] zepumph commented on #221
Ready for review.

[2020-11-04 01:15] zepumph commented on #225
These bug fixes have been solved, and context responses in these cases will come over in https://github.com/phetsims/ratio-and-proportion/issues/227

[2020-11-04 01:26] zepumph commented on #227
Above I added the typical context response based on the checkbox firing. I didn't get to the other two before I ran out of time for the day. I feel ok about the incomplete state for interviews, since this is the main case. @terracoda, please field any weirdness that may come from no context response when automatically unlocking the ratio (both hands number keys or changing the challenge ratio).

[2020-11-04 02:35] amanda-phet commented on #223
At first I thought I accidentally exported the wrong piece of artwork, but I think those three paths are actually the hand plus the two (now separated) fingers. I didn't even notice that they were no longer connected!

<img width="243" alt="image" src="https://user-images.githubusercontent.com/7852916/98062297-fbec3680-1e0a-11eb-973f-15a5e18df132.png">

I can put a superficial ring around the circ

[2020-11-04 15:14] terracoda commented on #214
I generally use PhET Marks locally at local host.
I always pull before I test and I often clone missing repos, too.
I always empty caches and clear history, too.

I don't know why for this sim it has been that I often can't load it and not always for the same reason.

I can't load it no locally after pulling, cloning, emptying caches, and clearing history.
<img width="885" alt="Screen Shot 2020-11

[2020-11-04 15:14] terracoda commented on #214
I'll try phettest directly.

[2020-11-04 15:21] terracoda commented on #214
I can load from phettest directly.

[2020-11-04 15:42] terracoda commented on #221
@zepumph, this sounds good on my system.
Nice job. I am getting the object response "hands, at challenge ratio" for both sliders and teh Both Hands interaction.

I am getting good context responses, too.

[2020-11-04 15:55] terracoda commented on #221
There's an issue with the sound on my system. I'll make a separate issue for that to address after this weeks interviews.

[2020-11-04 15:58] terracoda opened #228 "Sometimes sounds are cut short"
I am having trouble re-producing the issue.
But some times, the chime and the proximity sounds are cut short when using Both Hands.

I'll add new details as I find them.
No time right now for deep investigation.

[2020-11-06 00:06] Matthew-Moore240 opened #229 "Potential clipping of "singing" sound while using the lock ratio button"
We observed this weird clipping sound during the interview. We are not sure if its a bug or a product of the recording. Could you investigate @jbphet we also noticed the "singing" sound to be inconsistent. Here is a clip of the issue. [Clipping](https://drive.google.com/file/d/17fRrsiDsV9kK3dQgolwSEEbwskXBB6QG/view?usp=sharing)

[2020-11-06 00:12] Matthew-Moore240 opened #230 "Both hands interaction sonification inconsistent during interview"
We also noticed that during the Both Hands interaction that a lot of the sounds were very inconsistent. Could you investigate @jbphet again we are not sure if its a bug or a weird recording hiccup. Here is another clip of the issue. [Inconsistent sound](https://drive.google.com/file/d/1p0l0pyMxJoTm3S4rd7zwsTSMQWtEuWFN/view?usp=sharing)

[2020-11-06 14:38] terracoda commented on #228
This also happened in a recent interview. See issue #229.
This is now a duplicate issue, so closing.

[2020-11-06 14:38] #228 closed

[2020-11-06 14:42] terracoda commented on #228
Oh, apologies, this issue was more related to #230 than #229.

[2020-11-06 14:44] terracoda commented on #229
@jbphet, could you please have a look when you are next working on sound for RaP?

The interview seemed to think the "clicking" was because of the looping sound, and @emily-phet says that is likely not the reason.

[2020-11-06 14:46] terracoda commented on #230
@jbphet, this "interruption" of the sounds also happens for me, so I am not sure if it might be a VO-specific issue. The interviewee was using VO and I also use VO.

[2020-11-06 18:33] jbphet commented on #230
@Matthew-Moore240 and @terracoda - To help me in duplicating this behavior, please let me which platforms (OS, OS version, and hardware manufacturer) you were using when you saw and heard the problems.

[2020-11-06 18:34] jbphet commented on #229
@Matthew-Moore240 and @terracoda - To help me in duplicating this behavior, please let me which platforms (OS, OS version, and hardware manufacturer) you were using when you saw and heard the problems.

[2020-11-09 13:25] terracoda commented on #229
@jbphet, for me it happens when I am using VoiceOver & Safarii on macOS 10.13.6, and for the interview the participant was also using VoicOver & Safari, but on macOS 10.14.

[2020-11-09 13:32] terracoda commented on #230
I also posted the system info in issue #229VoiceOver & Safarii on macOS 10.13.6, on a 2015 macBook Pro, and for the interview the participant they were also using VoicOver & Safari, but on macOS 10.14 and on a macAir. I don't know how new.

[2020-11-09 13:40] terracoda commented on #229
@jbphet, apologies, this "clicking" does not happen on my system, though in the zoom clip, some clicking is clearly heard.
The issue that happens on my system is #230.

[2020-11-09 15:03] terracoda commented on #214
I verified the both hands interaction.
It was working as intended, so closing this issue.

[2020-11-09 15:03] #214 closed

[2020-11-09 15:05] terracoda commented on #221
The lock ratio responses were implemented as I requested, so closing this issue.

[2020-11-09 15:05] #221 closed

[2020-11-09 16:31] terracoda opened #231 "Static Screen Summary: wording and structure changes"
The latest information in the screen summary ([dev 1.0.0-dev.71/](https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.71/phet/ratio-and-proportion_a11y_view.html)) is scaffolding learners much better to immediately start moving the hands (individual sliders or both hands). Learners are interacting with the hands much more quickly than in previous interviews.

That said, there still r

[2020-11-09 17:00] terracoda commented on #231
## Common changes for both screens fro RaP:
@zepumph , I want to drop the word "interactive" in the first sentence. I want this to be for all multi-screen sims. I am not sure if the first sentence is part of a different repo. The words "interactive screens" will be on the Home Screen see https://github.com/phetsims/joist/issues/665 . Here on the individual screen page of a multi-screen sim, I woul

[2020-11-09 17:50] terracoda commented on #231
@zepumph, the individual changes are cover chunking and some minor wording changes

## Changes to P2 of the Discover Screen
P2 will change to:

P: The Play Area is a vertical space containing two hands that can be moved up and down. You can move the Left Hand and the Right Hand individually or activate Both Hands to move them both hands at the same time. Your goal is to move the hands up and down

[2020-11-09 18:06] terracoda commented on #231
## Changes t P2 of Create Screen
P2 will change to:

P: On this screen you can set your own challenge ratio. The Play Area has two movable hands that can be moved individually or simultaneously, or as a single interaction with the ratio locked to explore the challenges you create. There are options to add plain or numbered tick marks shown as evenly-spaced horizontal lines that divide up the verti

[2020-11-09 18:06] terracoda commented on #231
@zepumph, I want to run changes to content by @Matthew-Moore240 and @emily-phet.

[2020-11-09 18:16] terracoda opened #232 "Implement RaP for iOS"
I had an interview where the participant needed to use an iPhone and I realized the sim was not yet fully implemented to work on iOS.

This was not a huge surprise since I hadn't yet tested the sim on iOS.

Now is the time to start moving on that front.

The main issues currently are that when interacting with the individual hands there are no Responsive Descriptions firing - no objects responses

[2020-11-09 18:19] terracoda commented on #232
@zepumph, please assign to me if you have questions.

[2020-11-09 19:30] zepumph commented on #232
I am able to get context and object responses for the individual hand sliders on my iPad this morning. 7th gen iPad, ios 13.7. I'll update it and see if it still works.

[2020-11-09 19:35] terracoda commented on #232
oh that's good.
Participant was using VO on iOS 13.

[2020-11-09 20:22] terracoda commented on #232
In the interview, the participant moved the hands with a double tap and drag.

[2020-11-09 20:23] terracoda commented on #232
We can talk on slack

[2020-11-09 21:10] zepumph commented on #232
That is not a supported interaction for sliders as far as I know. I can reproduce that swiping up/down works, but double tap and hold does not on native sliders with this snippet:

[code]

I confirmed this same behavior on ios 14. Let me know what you would like to do from here.

[2020-11-09 22:55] emily-phet opened #233 "Braille reader output during custom interactions"
In a recent interview, a participant was using a Braille reader, and was unable to get Braille output of the descriptions when using the Both Hands mode.

@terracoda and I thought this was unexpected. @zepumph and/or @jessegreenberg confirm if this is to be expected, or if this is an implementation issue?

[2020-11-09 22:57] zepumph commented on #217
In the work done for this issue, I worked to consolidate all of the scaling being done for the hands into a single place. Up until this point there was scalling on the hand images, the `RatioHandNode` type that swaps between the two, and also in `RatioHalf` because this issue requires scaling to be done to the cue arrows in addition to the hand Nodes.

As part of this work, I removed the scaling o

[2020-11-10 00:02] zepumph commented on #233
I think that this will be challenging for me to tackle without having a braille reader, or at least understanding a bit more about them.

The context and object descriptions of the both hands interaction run completely on aria-live. Was the use able to get any context responses like when adjusting the controls on the left? Is there a recorded clip where I could gain some context about how a braill

[2020-11-10 00:08] emily-phet commented on #233
My question was first just verifying whether or not Braille reader output should be expected for custom interactions. I wasn't sure if that was the case.

It didn't come up until later in the interview that the participant had not been able to access Braille output consistently, as he was also hearing the descriptions aloud. I'm not sure if the participant and @terracoda delved deeply into what wa

[2020-11-10 00:26] zepumph commented on #232
@terracoda showed me a video of a user interview where this was a problem. @emily-phet said in slack:

My guess is that ultimately this will end being some kind of issue with implementation, as the behavior we saw in this video is unlike anything @terracoda or I thought was possible with mobile VO interactions. It would be good if you could look into, and perhaps try it out yourself on the iPad, s

[2020-11-10 00:32] zepumph commented on #223
Ah! Your are brilliant! This larger circle was easlily swapped in because of your clever work around. Thank you. @emily-phet what are you thinking about the 20px option currently in the sim?

![image](https://user-images.githubusercontent.com/6856943/98612538-d2b32680-22a0-11eb-8139-a4500d6a5767.png)

[2020-11-10 11:33] terracoda commented on #233
I'll review the video. I think there was speech output, but no braille output which does seem odd to me. I would assume that the output channels would be identical. My understanding of a braille display is that is displays the same stuff as the screen reader is speaking, but that assumption could be very wrong since one can use one without the other. They two pieces of equipment are not inherently

[2020-11-10 14:35] emily-phet commented on #81
@zepumph - regarding your question in the prior comment.

The way I envision it - the left hand/right hand cue arrows should always appear and disappear together. There shouldn't be a situation where you only see the left hand arrow cue, or only the right hand arrow cue.

Also - the both hands and the hands-as-sliders are two different interaction "modes" so moving within one should have no impact

[2020-11-10 14:41] emily-phet commented on #217
This looks fine to me. I have a few questions about behavior at very small screen sizes, but I'll ask in today's meeting.

[2020-11-10 14:42] terracoda commented on #233
According to https://www.boia.org/blog/how-braille-displays-help-users-with-visual-impairments-access-the-web, braille display should be able to display text-based content, so in theory the device should be able to display text delivered via a live region just like a screen reader does.

Hmm, according this MDN resource, there may be a need for 2 channels, one for screen reader output and one for

[2020-11-10 14:42] emily-phet commented on #223
I like it! Let's show everyone at the meeting today.

[2020-11-10 14:57] emily-phet commented on #156
@zepumph Does it snap only to the nearest shift+keypress location, regardless of whether or not the user is using the shift modifier key? If the user is not using the shift modifier key, I think it should snap to the nearest arrow keypress location.

If someone has used a mouse first, and then the keyboard it seems their intent is to move the hand, so if the hand moves a tiny bit or little bit see

[2020-11-10 15:14] emily-phet commented on #231
I added a suggested change to the bottom of https://github.com/phetsims/ratio-and-proportion/issues/231#issuecomment-724171448. If these suggestions are good, they would need to be propagated into the Create screen description.

[2020-11-10 17:40] zepumph opened #234 "Mobile screen layout bug: bottom bar hidden"
While looking at the sim with my Android phone in portrait mode, I found that there can be a bug where the bottom of the ratio halves get lost vertically. This is only when the layout changes only to reflect the browser nav bar hiding. I witnessed this on slack web viewer, and firefox:

![Screenshot_20201110-083416_Firefox](https://user-images.githubusercontent.com/6856943/98710609-5c5e0500-2330-1

[2020-11-10 17:58] zepumph commented on #191
I ceated https://github.com/phetsims/tambo/issues/127 to track the tail of this conversation. I think this specific issue is ready to be closed.

[2020-11-10 17:58] #191 closed

[2020-11-10 18:23] zepumph commented on #223
We met about the above change, and like it as a group. Closing

[2020-11-10 18:23] #223 closed

[2020-11-10 18:35] emily-phet commented on #82
From 11/10 meeting - We'd like to remove the left/right indicators from both "move hands" and "move hands in smaller steps".

[2020-11-10 19:27] zepumph commented on #232
I created https://github.com/phetsims/sun/issues/668, but from design meeting today, we decided that working on the double-tap and hold slider interaction on iOS shouldn't block the current publication track this sim is on. We can work on this when we start to implement self-voicing, a feature that @emily-phet mentioned is quite design-similar to this problem.

[2020-11-10 19:29] zepumph commented on #232
We will close this issue, and handle this in the general sun issue

[2020-11-10 19:29] #232 closed

[2020-11-10 19:30] zepumph commented on #82
Sounds good. Can you also comment on https://github.com/phetsims/ratio-and-proportion/issues/82#issuecomment-717560995?

[2020-11-10 19:41] terracoda commented on #231
@terracoda to re-post all changes.

[2020-11-10 19:59] zepumph commented on #230
I don't think this is a sound bug. This is in the way the staccato sounds were implemented. They only play when Property says that the both hands is being interacted with. I feel like me logic for that doesn't correctly account for how focus/interaction may change when the screen reader is on. I'll take a closer look.

[2020-11-10 20:05] zepumph commented on #229
I cannot get this to reproduce on firefox or chrome with windows. It sounded really bad on the recording though, and perhaps would be easy to realize when a platform was having that trouble.

[2020-11-10 21:00] zepumph commented on #217
@emily-phet, is there anything else here or are we ready to close? There wasn't any feedback that came from the design meeting today.

[2020-11-10 21:22] terracoda commented on #231
@zepumph, final changes to P2 of Discover Screen

## Final copy for P2 of the Discover Screen

P: The Play Area is a tall space containing a Left Hand and a Right Hand that can be moved up and down. You can move the Left Hand and the Right Hand individually, or activate Both Hands to move both hands at the same time. As you move the hands up and down, you will get closer to or farther from the Cha

[2020-11-10 21:34] terracoda opened #235 "Slight tweaks to help text for sliders and both hands"
In light of changes to the screen summary in https://github.com/phetsims/ratio-and-proportion/issues/231#issuecomment-724974512, I think the help text for the interactions can be tweaked a little.

**Screen Summary interaction hint** (from https://github.com/phetsims/ratio-and-proportion/issues/231#issuecomment-724974512):
- Move hands to find the Challenge Ratio in different places.

## Current H

[2020-11-10 21:56] zepumph commented on #233
@jessegreenberg and I reviewed this issue during our meeting today. We don't really understand why the braille output wasn't occurring, the documentation over in https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Screen_Reader_Implementors_Guide made us think that it was perhaps a browser-specific issue:

Since this is optional for browsers to implement, perhaps some of the time

[2020-11-10 22:27] zepumph commented on #82
Implemented above. This was all in common code, so we will be able to choose icons for just up/down, just left/right, or both in the future as well. The default is both.

![image](https://user-images.githubusercontent.com/6856943/98741045-727fbb80-2358-11eb-9d8d-643937ec1551.png)

Over to @emily-phet to review and to provide feedback for https://github.com/phetsims/ratio-and-proportion/issues/82#i

[2020-11-10 22:48] zepumph commented on #156
Great idea! I have implemented the constraint to take into account if the shiftKey is down. Please review.

[2020-11-10 22:49] Matthew-Moore240 commented on #235
Yeah @terracoda  those look really good to me!

[2020-11-10 23:10] emily-phet commented on #217
This seems good to go! Closing.

[2020-11-10 23:10] #217 closed

[2020-11-10 23:11] terracoda commented on #229
Well, as long as it is not because of the record loop, maybe we can wait and see in QA?

[2020-11-10 23:12] terracoda commented on #229
I'll test it on my partner's macAir!

[2020-11-10 23:14] emily-phet commented on #82
I think this looks great! I'm fine with the "choose a challenge ratio" decision.

[2020-11-10 23:14] terracoda commented on #235
Over to you @zepumph .

[2020-11-10 23:17] terracoda commented on #156
I agree, that should solves some issues.

[2020-11-10 23:18] emily-phet commented on #156
I just tried this on phettest, and I can't get the hands to move at all with the keyboard after moving them with the mouse.

For example, first screen opens, I move left hand up with mouse, then move focus to left hand, press arrow keys - nothing.
Same happens if I move focus to the left hand, then move hand with mouse, then press arrow key (with or without focus highlight on hand) - nothing.

[2020-11-10 23:19] emily-phet commented on #175
@zepumph Is this waiting for implementation, or waiting to be decided if we should do this? Let me know if you'd like to talk through this further.

[2020-11-10 23:19] terracoda commented on #233
The participant was using NVDA and FF on W10. Their goto SR and browser.

[2020-11-10 23:21] terracoda commented on #233
I also don't understand why the text is not coming through to the Braille Display.

[2020-11-10 23:24] emily-phet commented on #231
This looks great to me - I made a minor edit to comment above fixing typo (no content changes).

[2020-11-10 23:36] zepumph commented on #82
Sounds great. "Choose a {{thing}}" is the default for ComboBoxHelpSection. Molarity overrides it and says "Steps to Change Solute" Closing

[2020-11-10 23:36] #82 closed

[2020-11-10 23:38] zepumph commented on #235
Alright!

[2020-11-10 23:38] #235 closed

[2020-11-10 23:39] terracoda commented on #82
Crispy clean!

[2020-11-10 23:44] zepumph commented on #156
If there is no focus highlight, I wouldn't expect any keyboard interaction to work, since that means that the PDOM element doesn't have DOM focus.

Weird! I pulled all on phettest and loaded https://bayes.colorado.edu/dev/phettest/ratio-and-proportion/ratio-and-proportion_en.html?brand=phet&ea and couldn't reproduce.

I also haven't encountered this locally on my development machine.

Can you try

[2020-11-10 23:46] zepumph commented on #175
It is totally on me. I think it is going to be hard so I have been putting it off :). It is on my radar though!

[2020-11-11 00:40] zepumph commented on #231
Discover screen implemented above. I think @terracoda still needs to give a final update on the create screen.

[2020-11-11 01:06] zepumph commented on #175
I feel like this is something that should occur at each location in which the view is changing model values. I don't think it makes sense to but this logic into the model, as it would in part involve baking in what input modality the value changes as a result of. This is not ideal.

Thus we are stuck calculating ideal in-proportion values from the view. This also feels very unfortunate, as I don't

[2020-11-11 01:17] zepumph commented on #81
Here are some key nodes in the arrows, but I think I'm going to refactor the cue arrows into RatioHandNode before continuing.

[code]

[2020-11-11 01:19] zepumph opened #236 "Move cue arrows into RatioHandNode"
I don't like how much duplication there is in RatioHalf when applying things to the RatioHandNode and each cue arrow separately, for example:

[code]

If the cue arrows were in the ratioHandNode, then the first line would take care of everything.

Note this blocks https://github.com/phetsims/ratio-and-proportion/issues/81, and is part of #210.

[2020-11-11 01:41] zepumph commented on #205
I noticed that though touch areas are set on the RatioHandNode, that the mouse areas are not. This is generally a code smell, and it may be the best way to solve this issue anyways.

[2020-11-11 01:43] zepumph commented on #236
I'm happy with the above, and couldn't find any regressions. Catch ya over in https://github.com/phetsims/ratio-and-proportion/issues/81

[2020-11-11 01:43] #236 closed

[2020-11-11 01:58] zepumph commented on #81
I got a start on this, but there is nothing to commit yet.

Progress:

<details>

[code]

</details>

@emily-phet, I have one more question, that has likely been answered but I am still unsure. As for the cues when you highlight a single hand slider, and/or on startup, do you want to default cue arrows to have arrow keys in both hands, like so? I didn't think so. I thought that the only icons occu

[2020-11-11 02:00] terracoda commented on #231
## Final copy for Changes to P2 of Create Screen

P: Here, you can create your own Challenge Ratio. The Play Area is a tall space containing a Left Hand and a Right Hand that can be moved up and down. You can move the Left Hand and the Right Hand individually, or activate Both Hands to move both hands at the same time. As you move the hands up and down, you will get closer to or farther from the C

[2020-11-11 02:04] terracoda commented on #231
Assigning to you @zepumph because I am pretty sure there are no typos :-)

[2020-11-11 22:42] zepumph commented on #231
Implemented.

[2020-11-12 14:23] terracoda commented on #231
@zepumph, the word "interactive" in the first sentence needs to be removed. That first sentence might be in common code in a different repo, see https://github.com/phetsims/ratio-and-proportion/issues/231#issuecomment-724142653.

All other changes are perfect! Thanks!
It's probably safe to close this issue, but I am assigning back to you just in case.

[2020-11-12 14:31] terracoda commented on #225
Thanks @zepumph, this is verified. Closing and heading over to #227.

[2020-11-12 14:31] #225 closed

[2020-11-12 14:36] terracoda commented on #227
I updated the phrase in the table in https://github.com/phetsims/ratio-and-proportion/issues/227#issue-735442323

[2020-11-12 14:38] terracoda commented on #226
@zepumph, would a region called, "almost even" help solve this issue?

[2020-11-12 16:42] zepumph commented on #226
I don't think so. This is just a minor bug with rounding.

[2020-11-12 16:44] terracoda commented on #226
Ok, got it. A new region might help with reducing repetition which is a different issue :-)

[2020-11-13 16:52] terracoda opened #237 "Region Issues and Inconsistancies"
Just listing things I find as I work on the refining the design for the Object and Context Responses for all the hand interactions.

Region Issues

1. Sliders - locked ratio - left hand in middle region, right at top
- left should be at middle
- wondering if this is related to snapping.
- this issue might be resolved by issue #245 and #241

2. Both Hands, Ratio Locked, hands near bottom (0.5 and 1

[2020-11-14 02:05] zepumph commented on #175
@samreid met with me today to discuss this issue, and we thought about a lot of solutions. We ended up feeling like this behavior needed to be supported by each input modality that wanted to support it, because each has a different delta that would need to be conserved. Thanks @samreid for the really productive and helpful conversation for this hard problem!!

In the above commit, logic for this w

[2020-11-16 15:50] KatieWoe opened #238 "CT position expected to be in valueRange"
[code]

[2020-11-16 18:53] zepumph commented on #200
@terracoda just had another interview with a JAWs user and said that this wasn't an issue. @terracoda can you comment on what forms-mode setting they were using, and what you recommend for this issue?

[2020-11-16 19:21] terracoda commented on #200
In latest interview where I did not notice any issues around "getting stuck" on the Both hands interview, the participant said they use JAWS with forms mode off. I think this means in "manual" mode.

In the interview, where the issue occurred the forms mode setting was described as "manual".

So, in the latest version of the sim this issue did not come up, and unfortunately, I did not specifically

[2020-11-16 21:28] zepumph commented on #238
Thanks. This is from #175

[2020-11-16 21:37] terracoda commented on #198
@zepumph, I think my comments in https://github.com/phetsims/ratio-and-proportion/issues/198#issuecomment-719587503 are muddying the waters for this issue. The Both hands situation is more complicated because currently, in that view, the design is describing distance between hands in tick marks apart.

I'll create a new issue to address that issue. I'm thinking we should stick with qualitative dis

[2020-11-16 21:39] terracoda commented on #198
I should also say that for the values above first tick mark (above tick mark 1), the strings are correctly implemented.

[2020-11-16 21:40] terracoda commented on #198
Let me know if the special cases for less than 1 are problematic for implementation.

[2020-11-17 14:34] emily-phet commented on #81
@zepumph

First, the overlaying of the keys on top of the arrows doesn't look good. Let's nix that idea. Instead, let's do this:
- The grey arrows and they keyboard indicators are not present at the same time - the keyboard indicators replace the grey arrows when that item (Left Hand, Right Hand, or Both Hands) is tabbed to:
- Whenever focus is on a left hand, right hand, or Both Hands, the grey a

[2020-11-17 14:36] emily-phet commented on #230
Unassigning @jbphet for now.

[2020-11-17 14:55] emily-phet opened #239 "Increasing height of boundary rectangles so parts of hand never go "off screen""
Now that the hand sizes have been increased significantly, it feels a little clunky that at the top and bottom of the screen, part of the hands can go (visually) off-screen.

I'm not sure if it is a big challenge to do this, but could we increase the size of the grey rectangles such that the hands don't go off-screen? (Squishing a bit the range for the hands to move)

If it's a major challenge to

[2020-11-17 14:56] emily-phet commented on #156
Got it working in dev 72 - This looks great to me!

[2020-11-17 16:50] KatieWoe opened #240 "CT Assertion failed"
[code]

[2020-11-17 17:42] zepumph commented on #240
Same issue as https://github.com/phetsims/ratio-and-proportion/issues/238. @KatieWoe please ignore CT in this repo until that issue is closed.

[2020-11-17 17:42] #240 closed

[2020-11-17 18:18] zepumph commented on #239
In meeting today, we liked the value of `32` for laptop screens, and about `64` for phones. If it is easy to do the dynamic layout to make this happen, we should do that, but otherwise we are fine hard coding for just laptops like:

[code]

[2020-11-17 18:21] #156 closed

[2020-11-17 18:55] zepumph commented on #198
In design meeting today, @terracoda mentioned that if it was much harder in the code to spell out "zero" when numbered check marks are checked, then don't worry about it.

She also updated the design doc table for "{{at}} zero" and "{{near}} {{zero}}" for the NUMBERED case, where if it is easier to be consistent with the rest of the description for the numbered case, then that is ok. Like:

`{{on}

[2020-11-17 19:52] terracoda opened #241 "New Play Regions to align position descriptions for Sliders and Both Hands"
I have changed the parameters for describing qualitative hand position, so the descriptions can be aligned across both slider interactions and the Both Hands interaction.

Here's the parameters that should work in both the sliders' aria-value-text and in the Both Hands. These parameters are also used in the screen summary.

Regions for hand position | Proposed Ranges
-- | --
{{at top}} | 10
{{near

[2020-11-17 19:55] terracoda commented on #241
If more detail is needed, please see the section [Responsive Descriptions for Hand Interactions](https://docs.google.com/document/d/1HJvvGWYaUv9tlat9S7omQQVng8fGB4FuUhTEM1qx1z8/edit#heading=h.ym5u0y2c0uow)

[2020-11-17 20:06] terracoda opened #242 "Add "almost even" to distance scale describing distance between the hands"
As discussed in design meeting today, I have added a new region to the distance scale.

**Table: Distance Scale - Actual number of key presses per region describing distance between hands**
Distance Region Name | farthest from | extremely far from | very far from | far from | not so close to | somewhat close to | very close to | extremely close to | almost even with | even with
-- | -- | -- | -- |

[2020-11-17 20:07] terracoda commented on #242
@zepumph the table looks better in the design doc.

[2020-11-17 22:35] zepumph commented on #238
Fixed by https://github.com/phetsims/sun/commit/278bd57e33ca0bf57ed770e8eafb4b5e6a678ee2 and later commits over in https://github.com/phetsims/ratio-and-proportion/issues/175

[2020-11-17 22:35] #238 closed

[2020-11-17 22:40] zepumph opened #243 "What to do about Utils.toFixedNumber usages?"
There are currently 18 usages of `Utils.toFixedNumber( . . . , 6 );`. This is because lots of code in the sim uses triple equals (`===`) to perform certain functions. I don't know if this problem is generally avoidable, or if I just need to do a better job of factoring this out.

[2020-11-17 22:41] zepumph commented on #175
I'm feeling more confident about the current behavior for the individual sliders. The main issue, which caused some CT problems, was from javascript rounding. If you look in the repo now, there are 18 usages of `Utils.toFixedNumber( . . . , 6 )`; I created https://github.com/phetsims/ratio-and-proportion/issues/243 to work on that.

Next I'll add this to both-hands interaction.

[2020-11-18 00:17] zepumph commented on #175
Both hands is working well above. I think I am ready for design feedback. There are still some tricky edge cases and loose ends, but I want to see if the base behavior is working, and also to check in with how important some of these special cases are.

* If the input snaps to the in-proportion value, then the remainder is noted, if you reset the sim right then, the remainder not be cleared, and w

[2020-11-18 01:25] zepumph commented on #81
Implemented above. I think that in general the way of setting the cue based on each interaction is working well. Please play around with it and let me know what you think.

There are two questions I have for you.

What do you think about this buggy case?
1. Use first slider
2. go to both hands interaction
3. focus on the second slider
4. the first slider gets its arrows back.

It can also seem a b

[2020-11-18 01:34] zepumph commented on #205
@emily-phet will you please quickly confirm that the current pointer areas make sense and work for you:

![image](https://user-images.githubusercontent.com/6856943/99471303-be030e00-28f2-11eb-9996-ceb788a46b6f.png)

You can use `?showPointerAreas` to achieve this sort of view.

[2020-11-18 01:39] zepumph commented on #209
I haven't found this in the last month. I think it would be best to link this issue in the first dev test we have for the sim.

[2020-11-18 01:41] zepumph commented on #231
Yes this is in common code. Please confirm that you are alright with this change in every screen summary at PhET. Feel free to close.

[2020-11-18 01:55] zepumph commented on #239
I was able to implement the sliding scale, so the min was 32 (2x what it was), and the max is 64. Let me know what you think1

[2020-11-18 01:56] zepumph commented on #81
One other weirdness is that since the cue arrows are based on each interaction, it is very possible for cues to be off screen:

![Uploading image.png…]()

[2020-11-18 12:34] terracoda commented on #209
Now that we have lock ratio responses, I can have a look at this sim with this issue in mind, and I like the idea f linking this issue to a dev test.

[2020-11-18 12:57] terracoda commented on #231
@zepumph, the idea was that the removal of "interactive" on the screen page would be for mullti-screen sims, only.

I don't want to remove "interactive" from single screen sims like JT, BASE, Fiction, etc which have this sentence:
Single Screen Sim starts like this:
- {{Gravity Force Lab: Basics}} is an interactive sim. It changes as you play with it. It has a Play Area and a Control Area.

Screen

[2020-11-18 13:01] terracoda commented on #231
I think the issue is phetsims/joist#665

I'll copy the previous comment to that issue

[2020-11-18 15:13] terracoda opened #244 "Replace quantitative distance description with a qualitative ones"
Once the distance scale for describing qualitative distance between the hands is updated in #242, I would like to use qualitative distance in all places, and no longer use quantitative distance, ie, distance described as "tick marks apart" when the Tick Marks or Numbered tick marks is checked.

If I am not mistaken, I think this "quantitative distance phrase" is currently only used in the Both Han

[2020-11-18 15:27] terracoda commented on #200
There was a moment in the latest interview where the participant was on the Both Hands interaction and the interaction seemed activated, and the participant was not able to access the help text for the interaction. I'll review the section in the interview to see if I can make sense of it and to see if it is related to this issue.

In any case, the situation was not like one that caused me to open

[2020-11-18 15:31] terracoda commented on #198
@zepumph, issue #244 will address the complicated phrases underlined above that describe "tick marks apart". Those phrases will be replaced with qualitative distance phrases which are more straight forward.

[2020-11-18 17:49] terracoda opened #245 "Flip the Object and Context Responses around"
As discussed in the design meeting on Tuesday, we want to try and flip the object responses and context responses around for the hand interactions.

Reason, we like the order of the information when Lock Ratio check box is checked , and in that case, proximity to ratio is the value for the object responses.

I've sketched out an example [CWT for the Both Hands interaction in this table](https://do

[2020-11-19 03:03] zepumph commented on #175
Here is a case that seems a little bit weird. The "conservation of keypresses" feature behaves strangely when you move up and down on one side of the in-proportion value. Here is an example:

1. Create screen
2. challenge ratio to 2:7
3. select left ratio
4. *repeat as needed* three key presses down, three key presses up.

As you do this, you can see that when you change directions, I kinda expect

[2020-11-19 16:41] #237 closed

[2020-11-19 19:33] BLFiedler commented on #175
Hm. I think we should talk about whether this behavior happens all the time or only on the small steps. I think I envisioned this behavior only happening when you were fine tuning and not as a replacement for needing to use the small steps to find the ratio. Not sure if I am the only one that was thinking that though.

Not sure if that addresses your concerns, but above occurred to me as I played

[2020-11-20 17:40] terracoda opened #246 "Volume of edge sounds - can we increase the volume?"
In a recent interview (November 13), a screen reader user had trouble hearing the edge sounds when moving hands up and down in the Play Area.

I'm wonder if we can increase the volume of the edge sounds?

It might be good to make sure the edge sounds for the number spinners and the edge sounds for the hand sliders and the Both Hands are all at similar levels.

[2020-11-20 18:01] zepumph commented on #231
From slack discussion, @terracoda and I want to add back in "interactive". Anything else here?

[2020-11-20 18:16] jbphet commented on #246
I'm going to turn this over to @zepumph.  I'm in more of consulting role on this sim, whereas @zepumph is doing the bulk of the actual implementation.

[2020-11-20 18:58] zepumph commented on #231
From more discussion with @terracoda, we want to remove this just for the multi-screen sentence, which is what was done above, but I confused the situation with incorrect info. Now the "interactive" is out for multi-screen sims (this doesn't include Rap with `?screens=1`). @terracoda anything else here?

[2020-11-20 19:07] zepumph commented on #242
Implemented above. Please review.

[2020-11-20 19:25] terracoda commented on #231
Looks good. Thanks for making the change again :-) Closing.

[2020-11-20 19:25] #231 closed

[2020-11-20 20:58] terracoda opened #247 "With Ratio Locked - Add edge-like responses"
Because a learner cannot hit the bottom when the hands are locked in ratio, we might need some special responses to indicate they should change directions to continue exploring.

Here is a draft idea for a Context Response when a hand reaches either the lowest possible position or the highest possible position when the hands are locked in ratio.
- {{Right hand}}, {{at top}}. Move {{down}} to explo

[2020-11-20 20:59] terracoda commented on #247
@zepumph, tagging you so you are aware of this issue, but no need to implement until after I test changes coming in #245.

[2020-11-20 22:18] zepumph commented on #244
Sounds good to me! Please review.

[2020-11-23 15:33] terracoda commented on #209
@zepumph, I don't know if this screen shot is related to this issue, but I wanted to put it here, just in case. I just noticed that the hands look like they are at 0 an 0.5 when they are actually reading as 0.5 and 1 and are in lock ratio.

I was flipping back and forth between No Tick Marks and Numbered Tick Marks while checking responses in the A11t View.
![Screen Shot 2020-11-23 at 11 47 52 AM]

[2020-11-23 18:20] terracoda commented on #209
Actually, this might be due to the hands starting off in the incorrect position. I just noticed that at start up on the second screen the hands are not visually starting at 2 and 4.

![Screen Shot 2020-11-23 at 2 46 30 PM](https://user-images.githubusercontent.com/1902116/99999629-014df880-2d9b-11eb-8ce2-c45ca2b7c8ac.png)

[2020-11-23 19:00] terracoda commented on #244
Looks like all the quantitative distance phrases have been replaced with qualitative distance phrases.
- slider context responses
- both hands object responses

[2020-11-23 19:02] terracoda commented on #244
I think we can close this issue :-)

[2020-11-23 19:03] #244 closed

[2020-11-23 19:03] terracoda commented on #242
Almost even is sounding good.
Thanks @zepumph.

[2020-11-23 19:04] #242 closed

[2020-11-23 19:44] terracoda commented on #244
And in the lock ratio responses, too.

[2020-11-23 21:32] zepumph commented on #198
After discussion with @terracoda right now, we found a typo in https://github.com/phetsims/ratio-and-proportion/issues/198#issuecomment-728344102, it should say "{{on}}" tick mark .5.

[2020-11-23 22:01] emily-phet commented on #81
@zepumph I think this is looking pretty good!

Regarding questions/comments from you above:
- To this https://github.com/phetsims/ratio-and-proportion/issues/81#issuecomment-729325468 and this https://github.com/phetsims/ratio-and-proportion/issues/81#issuecomment-729315933: It's fine if all of the logic we decide on is being followed, and it just happens that sometimes one of the set of arrows or

[2020-11-23 22:03] emily-phet commented on #239
I think this looks amazing! Very sharp. I think it really helps make the sim look "finished" visually, at all the different aspect ratios.

[2020-11-23 22:03] #239 closed

[2020-11-23 22:13] zepumph commented on #198
The zero-case has been implemented above. I'm not happy with the complexity it added to this function. I feel like this is the most complicated describer function I have ever written. That complexity is simply because the description region cases are complicated. I am alright with incurring this cost, because @terracoda and I have discussed here the value of this zero-specific edge case. That said

[2020-11-23 23:00] zepumph commented on #241
Implemented, I commented in the design doc about a question of symmetry. See https://docs.google.com/document/d/1HJvvGWYaUv9tlat9S7omQQVng8fGB4FuUhTEM1qx1z8/edit?disco=AAAAK0yOKPk

Please review.

[2020-11-23 23:01] zepumph commented on #226
This will be covered by #241.

[2020-11-23 23:01] #226 closed

[2020-11-23 23:02] zepumph commented on #246
Seems reasonable to me! I'll confirm during meeting tomorrow.

[2020-11-23 23:28] zepumph commented on #81
I edited the above to be an ordered list to better explain my following comment.

I think that C.3 is at odds with B. In B you want focus of keyboard to turn off keyboard the grey arrows for ever, basically putting the sim in "cue-for-keyboard" mode. The issue with this is that there is no logic we can use for C.3 to turn back into "cue-for-mouse" mode. Right now we are treating the blurring of a

[2020-11-23 23:51] zepumph commented on #227
In the above table, there was no indication of a context response when you uncheck the checkbox, so I added it above. It says "Ratio no longer locked."

Next I will add the atypical cases that can cause the checkbox to be unchecked.

[2020-11-24 00:03] zepumph commented on #227
Edge case 1 is turning out to be very challenging to code up. Notes for myself:

Order of operation for NumberPicker:
1. input fires a listener on the NumberPicker
2. Property track:
  a. That input changes a value
  b.  In the model that value change may or may not unlock the ratio
3. Input listener on Node Track:
  a. AccessibleValueHandler is listener for the end of the interaction to give a co

[2020-11-24 00:05] zepumph commented on #227
I can do edge case 2 though.

[2020-11-24 02:16] zepumph commented on #227
Edge case 2 implemented above. The "Ratio no longer locked." is not part of the same utterance as the normal object/context response. I tried to time it so that it aligned like you have above, but it would be good to test on something other than NVDA.

[2020-11-24 02:27] zepumph commented on #230
This is what I want to test on a mac, but I don't have one to test. Perhaps I can pair with @jessegreenberg on this to see what is happening here. On windows with or without NVDA, I always have had great success with the sound starting on first both-hands key press, and not stopping until tab navigating away.

[2020-11-24 02:56] zepumph commented on #194
Each is called "term", so I renamed RatioComponent-> RatioTerm.js

[2020-11-24 02:57] zepumph opened #248 "boundary sounds should reflect the enabled range, not total"
While using both hands when the ratio is locked, of the 4 "border" cases in that interaction (antecedent/up-down and consequent/up-down), only the consequent-up triggered border alerts (when locked at 1/2). All others are not at the very end, so they don't get border alerts. @emily-phet please let me know if this is a problem that should be solved.

[2020-11-24 02:58] #194 closed

[2020-11-24 02:59] zepumph commented on #233
@emily-phet can you please recommend how to proceed with this? Should QA get a braille reader to test with?

[2020-11-24 03:00] zepumph commented on #245
@terracoda asked me not to do this until she could have a listen to some of the other changes I made in the description. @terracoda let me know when we are ready for this.

[2020-11-24 03:05] zepumph opened #249 "Initial "my challenge" should be set from target ratio"
The initial my challenge values are set from the starting values of the ratio terms. If we wanted to start out of ratio ever, this would be broken. Promoting TODO to issue from CreateScreenView:

[code]

I asked the dev channel, and I got some nice resources for converting a decimal into a reduced fraction:

* Utils.gcd
* https://github.com/phetsims/graphing-lines/blob/585fa2983366a813d465d9ae257c

[2020-11-24 03:06] zepumph opened #250 "AccordionBox expandedProperty should be reset"

[2020-11-24 03:10] zepumph commented on #250
This was a regression from https://github.com/phetsims/ratio-and-proportion/commit/e6239fee60402a6367d202e79729fc9585e7066e#diff-d17b5dc18c202856a5c1c396493a39d774708313bc2e9f83ae08540809932614R238, where I deleted to super type reset call. Restored above.

[2020-11-24 03:10] #250 closed

[2020-11-24 03:55] emily-phet commented on #81
Talking tomorrow sounds good.

For the case you bring up, the logic for B is under the assumption that the user never tries to use the mouse. The most important thing to me is that we don't leave keyboard users in the dark about what keys to use, I'm far less concerned about mouse/touch users not trying to move the mouse. If the most straightforward (or possible) solution is to just have the keybo

[2020-11-24 04:09] emily-phet opened #251 "Reset All bug on second screen - potentially causing issue with My Challenge ratio"
Some combination of interactions on the second screen, including checking the locked ratio button and selecting reset, caused an issue where the My Challenge ratio was NOT 1:2, but the hands seemed to be stuck in 1:2 (showing green at 1:2 ratio, moving with 1:2 ratio when Lock Ratio was selected, etc.). The screenshot is an example I got at least twice, though I couldn't reliably reproduce what wa

[2020-11-24 04:24] emily-phet commented on #248
The bottom position is 0 - if the lock ratio is on, then the current state has the Challenge Ratio and 0 should never be reached (though the hands should to a position just above 0. So the hands should never reach the bottom position.

So, if I'm understanding correctly the cases where the border alert is triggered, I think this sounds correct to me.

I would guess this will come up in QA as a pot

[2020-11-24 04:45] emily-phet commented on #233
I think we should just do some light investigation into this for RAP, to determine if this is a general problem for Braille readers or for a subset of scenarios with Braille readers.
For a start, we could reach out to our consultants that use screen reader devices and ask if they happen to ever use a Braille device as well. We could also reach out to the CU Usability and Accessibility Lab and see

[2020-11-24 15:26] terracoda commented on #241
The adjusted region ranges that @zepumph suggested results in a symmetric number of key presses in regions above and below "at middle". This is what I was hoping for, so thanks for catching that @zepumph.

Regions for hand position | Proposed Ranges | Default Key Presses
-- | -- | --
{{at top}} | 10 | 1
{{near top}} | 9.00 -9.99 | 2
{{in upper region}} | 6.51 - 8.99 | 4
{{in upper-middle region}}

[2020-11-24 15:28] terracoda commented on #241
For non-visual access 3 steps without a change in region is often a good range. It seems that might be easily achievable here.

[2020-11-24 16:10] terracoda commented on #220
@zepumph, I just experience the "special logic" you mentioned in https://github.com/phetsims/ratio-and-proportion/issues/220#issuecomment-721314046. I documented this in the design document. It only seems to happen with the right hand slider when ratio is locked.

I do think there is potential here for swapping in the distance-progress string rather than having a silent region. Marking this for fu

[2020-11-24 16:24] terracoda commented on #233
I did some light investigation by posting a few questions on the WAI-IG list. Apologies for not getting comments into this issue sooner.

It seems like this issue maybe screen reader dependent and we might want to submit a bug to NVDA.

Here are the questions I asked about screen reader software (SR), braille displays (BD), and ARIA live regions.
1. Is it safe to assume that text is text and that

[2020-11-24 17:01] terracoda commented on #216
Closing this issue as we decided to use qualitative distance across the description design.

[2020-11-24 17:01] #216 closed

[2020-11-24 17:03] terracoda commented on #198
These sound good. Marking for meeting to discuss issue @zepumph referred to.

[2020-11-24 18:44] zepumph commented on #81
We discussed this during design meeting today, and came up with the following criteria:

* grey arrow (per hand):
     *visible WHILE NOT KEYBOARD FOCUSED until a successful mouse OR individual keyboard interaction

* individual-hand key arrow cues:
  * visible on focus, hidden on blur, until successfully moved with individual keyboard interaction

* both hands arrows:
  * Treat each individually,

[2020-11-24 18:55] zepumph commented on #81
we liked this patch as it applied to the left hand. We felt like there was a bug in how this was applied to the right hand, as it felt different.

[code]

[2020-11-24 18:58] zepumph opened #252 "tick mark bumps occur when tick marks are hidden"

[2020-11-24 18:58] zepumph commented on #246
From meeting today, @terracoda will describe what type of sound issue there is (balancing vs. general level).

[2020-11-24 19:26] zepumph commented on #175
During design meeting. . . .

 we decided to make this change, it was failing a unit test though so I didn't commit:

[code]

RE: https://github.com/phetsims/ratio-and-proportion/issues/175#issuecomment-729292704

We decided we do need to support the reset case.

For  this we can keep it as is, because no output modality will say we are "at ratio", and the consevation of keypress remainder is real

[2020-11-24 19:31] terracoda commented on #241
We will leave it as is.

[2020-11-24 19:31] #241 closed

[2020-11-24 19:35] terracoda commented on #198
Thanks great work.

[2020-11-24 19:35] #198 closed

[2020-11-24 20:07] zepumph commented on #220
We discussed this at the meeting today, and @terracoda will think through  supplying  closer/farther distance logic with a proximity to ratio context response when the normal context response would duplicate (instead of not supplying anything).

[2020-11-24 20:08] zepumph commented on #86
Pinging @terracoda and @Matthew-Moore240 to update help texts and associated description for mobile gesture a11y support.

[2020-11-24 21:00] zepumph commented on #229
@jessegreenberg and I were able to get bad clipping on staccato, in proportion, and singing/moving in-proportion while using safari. It was also badly clipping for all common code ui sounds like reset all, home screen buttons, and radio buttons. I put this here because it likely is general to all sounds.

This was only on safari/mac. safari 13.1.2

[2020-11-24 21:05] zepumph commented on #230
@jessegreenberg and I discovered that we could reproduce this bug in safari in  https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.71/phet/, but not on master. I'm not sure what has changed, and if it is a tambo thing or a RaP thing.

[2020-11-24 21:31] terracoda commented on #220
@zepumph, explained the current logic
1. First step or change in direction -> replace qual-distance-region with distance-progress
2. When the whole context response repeats - don’t do anything (no distance region & no proximity to ratio)

@zepumph,  I see 2 possible paths forward:
**Option 1: Tweak responses based on the same logic:**
1. For changes in direction -> replace qual-distance-region wit

[2020-11-24 21:54] terracoda opened #253 "Undiscussed Possibilities with Number Spinners when Lock Ratio is checked"
In design meeting today, while discussing some complexities around #227 a new idea about how to handle the number spinners when Lock Ratio checkbox is check was conceived.

**The idea:**
- when Lock Ratio checkbox is checked, lock the number spinners in the same way we lock the hands

For example, if Lock Ratio is check with My Challenge set to 1 and 2
- an increase to Left Value from 1 to 2 would

[2020-11-24 21:54] #253 closed

[2020-11-24 22:15] jbphet commented on #229
Assigning to @Ashton-Morris to test on his Mac, since it's fairly new and I was wondering if this problem could be with the hardware/software implementation on older Macs.

[2020-11-24 22:38] terracoda commented on #86
Adding this to my to do. We'll need device dependent help text that directs touch users away from the Both Hands interaction.

[2020-11-25 01:11] terracoda opened #254 "Keyboard dialog and options for providing instructions for sliders"
@zepumph, moving from https://github.com/phetsims/gravity-force-lab-basics/issues/171#event-4030016841. I posted this issue there by accident.

Your note in RaP's description design doc referencing differences between a11y content and visual content in the Keyboard Shortcuts dialog, made me think we could have 3 common code options for providing instructions for sliders:

The three common-code opt

[2020-11-25 02:07] zepumph commented on #175
I handled reset on blur and resetting. I also made this behavior only for shift key stepping. @BLFiedler, would you like to double check and see if there is anything else to do here?

[2020-11-25 17:37] terracoda commented on #254
@zepumph, is this issue clear?
Basically, I am suggesting a path forward for options to slider instructions.

1. General case for typical sliders, e.g., Resistance in a Wire
![Screen Shot 2020-11-25 at 1 54 24 PM](https://user-images.githubusercontent.com/1902116/100261816-e1970b80-2f25-11eb-9a8d-adabe8c61f0a.png)

2. Special Case Horizontal Emphasis - for pedagogical reasons emphasize horizontal

[2020-11-25 18:27] terracoda commented on #86
Ok, as I wrote this out, I realized that Screen 1 (Discover Screen) and Screen 2 (Create Screen) could benefit from different instructions as the Lock Ratio checkbox is only on Screen 2.

Here's my first go at help text for the Both Hands interaction when accessed on iOS presumably with VoiceOver enabled, though we can only detect the platform not the screen reader.

Purpose of help text is to red

[2020-11-25 18:31] terracoda commented on #86
If we want a custom interaction, i.e. like Lock Ratio as suggested by @emily-phet in https://github.com/phetsims/ratio-and-proportion/issues/86#issuecomment-657380631, the help text would be different.

[2020-11-25 18:35] BLFiedler commented on #175
Double-checked and it looks good according to our conversation yesterday. I think this particular issue is done!

[2020-11-25 18:35] #175 closed

[2020-11-25 21:21] terracoda commented on #86
We are just sticking with our current lock ration situation, so going with help text in https://github.com/phetsims/ratio-and-proportion/issues/86#issuecomment-733878148

[2020-11-25 21:22] terracoda commented on #86
Over to you @zepumph for platform specific implementation.

[2020-11-25 23:54] zepumph commented on #86
Implemented above. The structure is set up such that you can tweak the strings all you want in the strings json and it will show up only for gesture description (mobile a11y + VO).

Personally, I feel like `mulit-touch` sounds a bit weird. Though I don't feel strongly, what about . . .

This custom keyboard interaction
This custom keyboard component
This custom keyboard widget
This custom widget
.

[2020-11-25 23:59] #252 closed

[2020-11-26 00:24] zepumph commented on #81
My current algorithm doesn't account for this, but I don't want to forget to come back to this part.

[2020-11-26 01:28] zepumph commented on #81
https://github.com/phetsims/ratio-and-proportion/issues/81#issuecomment-733164835 taken care of above.

Outstanding thoughts:

- [ ] Should using the number keys in both hands mode remove the cues? Right now they don't hide the cue arrows. I added a TODO for this.
- [ ] We will need to add to this once we add back in marker input. I added a TODO for this, but I don't know if it is worth its own is

[2020-11-26 02:36] zepumph commented on #249
https://github.com/phetsims/phetcommon/issues/53 made this very easy. Thanks again @samreid for pointing me in the right direction. Closing

[2020-11-26 02:36] #249 closed

[2020-11-26 02:44] zepumph commented on #230
I looked around commits in RaP, scenery, and tambo, and nothing stood out as the cause of this fix. It would be nice to know, but I don't know how else to investigate without taking up more time of someone with a mac.

@Matthew-Moore240 can you please confirm that this is fixed for you on master/mac/safari and feel free to close.

[2020-11-26 02:51] zepumph commented on #251
I can't seem to reproduce this, but I also think that https://github.com/phetsims/ratio-and-proportion/issues/249 is likely a fix for that, since that fraction is now based on the actual target, instead of whatever the starting values of the hands are. I feel about 60% that this bug may be a side effect of that, and fixed now.

@KatieWoe could we request some help from QA for this? On master, seco

[2020-11-26 02:55] zepumph commented on #248
While you are right, from an interaction standpoint, I still feel like it may warrant further discussion. If I were blind, I may want feedback that my keypress didn't do anything, even though in other modes I could go further.

Right now, it is possible to continue to press down and hear nothing (because repeat description context responses won't be said). Potentially after work in https://github.

[2020-11-26 14:43] terracoda opened #255 "Range and the enhanced Tick Mark Sound"
I just noticed that I hear the enhanced tick mark sound on every step when range is set to 0 to 30 even though the step size is 1.5 tick marks. With range set to 0 to 30, the hand lands on a tick mark every other step.

I'm not sure if this is actually an issue because I am not clear on what the sound is supposed to indicate, i.e. passing a tick mark or landing on a tick mark. In other ranges, the

[2020-11-26 15:03] terracoda commented on #246
The tick mark sounds and the edge sounds are really low in volume. I f a screen reader is speaking at the same time, they are not audible.

I can hear them when the sim is not talking.

I get why the tick mark sounds are subtle, but it seems like we are not using volume as a parameter in wood block sound that indicates nearing proportion. It seems we are using pitch and tempo there.

I am wonderin

[2020-11-26 15:04] terracoda commented on #246
@Ashton-Morris, do my recommendations in https://github.com/phetsims/ratio-and-proportion/issues/246#issuecomment-734346645 seem reasonable?

And if so, can the volume be directly handled in the code?

[2020-11-26 15:13] terracoda commented on #86
If "custom multi-touch interaction" is not clear,
would either of these terms be better?
- "custom bi-manual interaction"
- "custom two-point interaction"

Tagging @Matthew-Moore240, @emily-phet, and @BLFiedler for your thoughts.

[2020-11-26 16:05] terracoda commented on #86
I didn't note @zepumph's suggestions...

If "custom multi-touch interaction" is not clear,
would either of these terms be better?
- "custom bi-manual interaction"
- "custom two-point interaction"
- "custom widget"

Tagging @Matthew-Moore240, @emily-phet, and @BLFiedler for your thoughts.

[2020-11-26 16:18] terracoda opened #256 "(mobile a11y) - I hear night sky, flashlight, spot light, sun"
I just listened to RaP for the first time on my iPhone7 (iOS 14.2) to test out device dependent help text from https://github.com/phetsims/ratio-and-proportion/issues/86.
Unrelated to the help text, I heard a couple of funny things:

On the Home page at the start of the list of sim screen buttons, I heard:
- "one, list start night sky", then discover screen, button & description
- "two, night sky"

[2020-11-26 16:24] terracoda commented on #86
The Both Hands interaction is essentially an interaction designed for keyboard access, so I added that suggestion of @zepumph's to the list, too.

[2020-11-26 20:21] terracoda opened #257 "Big snap-to minimum jump - Hands move a lot when lock ratio gets checked"
I think we are still working on how best to handle "at challenge" spots near the bottom of the screen, so this issue might naturally fix itself.

**To reproduce:**
1. Set My Challenge to 1:3
2. Use shift key to put Left hand at 1/3 and right hand at 1
    - The screen should be green & the hands should be at challenge ratio.
3. Go check the Lock Ratio checkbox
    - The hands jump and snap to 0.5

[2020-11-26 20:24] terracoda commented on #257
@emily-phet and @zepumph, is this a known problem?

[2020-11-26 20:24] terracoda commented on #257
@emily-phet and @zepumph, is this a known problem?

[2020-11-26 20:25] BLFiedler commented on #257
Is this only happening with the left hand below our minimum value for getting the ratio? Shouldn't it not be possible to get a perfect ratio below that so the lock ratio should not be enabled?

[2020-11-26 20:28] terracoda commented on #257
I am putting the left hand below 0.5, and I am able to get the hands to "at challenge ratio" with the shift keys with the left hand below 0.5.

I am wondering if the minimum position for the left hand should be 0.1 (the shift key step size) rather than 0.5.

[2020-11-26 20:29] terracoda commented on #257
Let me rephrase that...
I am wondering if the minimum position for the left hand (0.1) should guide the minimum possible at ratio spot?

[2020-11-27 16:33] terracoda commented on #257
This seems to be as low as I can go.
![Screen Shot 2020-11-27 at 12 52 44 PM](https://user-images.githubusercontent.com/1902116/100469020-16cf6500-30b0-11eb-8945-c0215cc0b7b0.png)

I am not sure if it is better to prevent going that low or to allow going that low. It seems to work fine with the shift key.

The described positions are very rough, even with tick marks on. The value of the left hand

[2020-11-27 16:35] terracoda commented on #247
@zepumph, actually, there is not need to wait on this. Assigning over to you for implementation.

[2020-11-27 16:38] terracoda commented on #247
I imagine, there could be cases like this:
- {{Right hand}}, {{at top}}. Move {{down}} to explore more.
- {{Right hand}}, {{near top}}. Move {{down}} to explore more.
- {{Left hand}}, {{near bottom}}. Move {{up}} to explore more.
- {{Left hand}}, {{at top}}. Move {{down}} to explore more.
- {{Left hand}}, {{near top}}. Move {{down}} to explore more.
- {{Right hand}}, {{near bottom}}. Move {{up}} t

[2020-11-27 16:40] terracoda commented on #247
Maybe I can make this simpler, basically, I just want 2, maybe four possibilities, a max and min point when ratio is locked.

[2020-11-27 16:59] terracoda commented on #247
Oh, it seems regardless of teh set challenge, the max will always be 10/ at top and the min will always be 0.5 / near bottom, so going back to the same plan. I think there are only 4 possibilities.

 - {{Right hand}}, {{at top}}. Move {{down}} to explore more.
- {{Left hand}}, {{near bottom}}. Move {{up}} to explore more.
- {{Left hand}}, {{at top}}. Move {{down}} to explore more.
- {{Right hand}}

[2020-11-27 17:02] terracoda commented on #247
I added "hands".
Ok, ready for you now @zepumph. Apologies for my last minute iterations.

[2020-11-27 17:45] terracoda commented on #209
I just found some funny business. It might not be related, but I think it is since I have been playing a lot with Lock Ratio, these days.
Darn, I can't reproduce it, but I think the hands went lower than their "allowed value" after I locked ratio, went all the up the screen and then allow the way back down again.

It was when I had the hands back near the bottom, the visual value was lower than th

[2020-11-27 20:14] terracoda commented on #209
I don't know how I got here, but this looks funny to me:
![Screen Shot 2020-11-27 at 4 43 29 PM](https://user-images.githubusercontent.com/1902116/100481772-c8ca5980-30cf-11eb-8165-bdac66a7f133.png)

[2020-11-27 20:17] terracoda commented on #209
It seems after this happens, the numbers in the state descriptions are off:
![Screen Shot 2020-11-27 at 4 46 36 PM](https://user-images.githubusercontent.com/1902116/100481918-3fffed80-30d0-11eb-934c-d998663ee538.png)

[2020-11-27 20:21] terracoda commented on #209
After a reset, the hands are in the wrong place, the State Descriptions are correct.
![Screen Shot 2020-11-27 at 4 48 24 PM](https://user-images.githubusercontent.com/1902116/100481988-86ede300-30d0-11eb-932c-0b9e73bece1d.png)

[2020-11-27 20:34] terracoda commented on #209
Oh, THIS happens after I resize the browser window!!! FOUND IT!

**To reproduce:**
1. Load sim
2. go to screen 2
3. lock hands in ratio
4. move hands so they are at the lowest possible position
5. resize the browser window
6. the left hand slips below zero, and gets stuck in the wrong place

So, when I resize the browser window, the left hand slips below the bar, and then it stays askew there afte

[2020-11-30 15:15] terracoda commented on #233
Latest helpful information from w3c-wai-ig email list (Sean Murphy):

[2020-11-30 17:45] terracoda commented on #230
@zepumph, considering your comment in https://github.com/phetsims/ratio-and-proportion/issues/230#issuecomment-733232729, shall we leave this issue for QA?

I use a mac all the time and I have not experienced this issue.

[2020-11-30 18:25] terracoda commented on #86
On second thought, considering, mobile devices do have digital keyboards, and we do not want people to think they need to bring up their digital keyboard to access and operate this custom interaction, I would not "custom keyboard interaction".

So, our choices are, stick with the current one:
- This **custom multi-touch interaction** is not yet possible with screen reader software on a mobile devi

[2020-11-30 18:43] terracoda commented on #209
This issue could possibly be related to #251 noted by @emily-phet.
Not sure, but it took a long time for me to figure this one one out.

[2020-11-30 18:46] zepumph commented on #257
@BLFiedler, this is not below that threshold (which is .21 of a tick mark).

This is technically a known problem, in which the snapping will be larger lower down because the fitness algorithm is, by design, position independent.

We could swap the snapping so that it was based off of the right side, but this is not really a solution, as you could still reproduce the issue with the inverse ratio (2

[2020-11-30 18:59] zepumph commented on #257
That seemed like a really nice way to handle this, so that the larger value was never getting snapped, it may look something like this patch, but there was a reentry bug when one of the values was below .5 tick marks (could be unrelated, but I need to investigate).

[code]

[2020-11-30 19:52] emily-phet commented on #81
@zepumph - I think use of the number keys should remove all cues. It may be an accident, but if it's an "advanced user" who has looked at the keyboard help dialog, it seems like it would be annoying for them to remain.

- What if any use of the keyboard just removed all of the grey arrows? We could consider these primarily for cueing basic up/down motion, and if you're using the keyboard you'll ge

[2020-11-30 19:57] emily-phet commented on #229
@jbphet - @Ashton-Morris is out now until January.

I just tried this on my computer (2019, macOS Catalina, 10.15.7) and the choir sound is quite static-y with lock ratio. I've never heard it sound like this before (though I often use the sim with sound off, since I tend to do it early in the morning when family is asleep).

I was just using the latest on phettest.

[2020-11-30 20:52] zepumph commented on #256
On my samsung with TalkBack I don't hear this. Everything sounds normal. @KatieWoe can you reproduce this on an iPhone?

@terracoda it would also be helpful if you can answer a couple of questions:
1. What link did you use to test this? If a dev version please post.
2. Can you reproduce this on master right now? https://bayes.colorado.edu/dev/phettest/ratio-and-proportion/ratio-and-proportion_en.h

[2020-11-30 20:58] zepumph commented on #230
Sounds good. I'll just leave open for QA. Great idea!

[2020-11-30 21:01] terracoda commented on #256
Ok, on the link above, I hear "night sky" on the Home Screen at the beginning of the list, but I no longer hear "flash light" and "spot light" on any screens.

[2020-11-30 21:13] zepumph commented on #256
Is this is safari? Can you try in Chrome?

[2020-11-30 21:15] zepumph commented on #256
Actually, @KatieWoe, I can reproduce this on my iPad, so I'll unassign you for now. Sorry for confusion.

[2020-11-30 21:16] terracoda commented on #256
With VoiceOver and iOS VoiceOver, it is best to use Safari.

[2020-11-30 21:18] terracoda commented on #256
I don't have Chrome installed on my iPhone :-) I am indeed using Safari, iOS 14.2.

[2020-11-30 21:19] terracoda commented on #256
@zepumph, I can try the link on iOS 13.5.1 I haven't updated the iPhone8.

[2020-11-30 21:21] zepumph opened #258 "Reentry detected snapping to locked ratio, <.5"
The process of snapping the ratio into the lock ratio range ( always greater than .5) causes a reentry bug). Discovered while working on https://github.com/phetsims/ratio-and-proportion/issues/257#issuecomment-735977802

[2020-11-30 21:24] zepumph commented on #256
I will try to create a dedicated HTML snippet to reproduce this on. "Night Sky" after the list number on the the home screen buttons  happens for me consistently on iPad in the regular sim, but not in the a11y view.

I won't get to this today though.

[2020-11-30 21:29] zepumph commented on #257
Ok. I went ahead with the commit. @terracoda now the smaller value with snap, so hopefully it will seem much less dramatic. Does this solve the problem to you?

[2020-11-30 21:32] terracoda commented on #257
Ok, I'll check it out. My main concern was, with such a large jump, I felt like I needed to describe the new values.

[2020-11-30 21:34] zepumph commented on #81
Seems reasonable to me, so using the mouse would remove both grey arrows forever, and using the keyboard (on individual sliders) would remove both arrow-key cues and (if applicable because you haven't used mouse yet) also the grey arrows?

[2020-11-30 21:41] terracoda commented on #81
I think what you (@emily-phet and @zepumph) suggest is worth a try.

We were originally thinking that the single grey arrows could remind people to move each hand, if they are only moving one, but I think for keyboard users, the pink focus highlight also cues that the other hand is interactive and hopefully it should be obvious that one would move it the same way as one moved the other one.

I was

[2020-11-30 21:57] terracoda commented on #245
@zepumph, I made a table with a [small test of the Left hand slider with the design flipped](https://docs.google.com/document/d/1HJvvGWYaUv9tlat9S7omQQVng8fGB4FuUhTEM1qx1z8/edit#heading=h.hq2zvuiwvq6f)

I think it is safe to flip the design.

[2020-11-30 21:58] terracoda commented on #245
My test was applying the new logic, but we can discuss the logic before or after the flip - whatever makes sense to you.

[2020-11-30 23:25] KatieWoe commented on #251
I haven't been able to reproduce this on master. I spent about 10 minutes trying both with mouse and with keyboard nav. But I also tried an old dev version and couldn't replicate it there either, so I'm not sure if it is still an issue or not. I'll try for a little while longer though. @emily-phet would you want to pair on this issue at some time?

[2020-12-01 10:38] terracoda commented on #245
Oops, forgot to re-assign to you, @zepumph.

When you do this, I see 3 parts to the flip:
1. Both Hands - looks like a direct flip since the ratio responses are currently on their own in context responses
2. Sliders - not a direct flip, since ratio responses are combined with distance (and progress) in context responses
3. Adjustment of the current logic that replaces context responses with distan

[2020-12-01 18:09] emily-phet opened #259 "Sim page accessories"
When sim is ready for publication - we'll need to input the following into the admin page:
Accessories (keywords, categories, description, learning goals, related sims, NSDL)

[2020-12-01 18:19] terracoda commented on #86
We'll  leave wording as is, "multi-touch".

[2020-12-01 19:28] emily-phet opened #260 "A11y page website description text"
We plan to publish a dev version to the a11y page, and will need associated text written.

[2020-12-01 19:44] terracoda commented on #245
@zepumph, I'll create separate issues numbers 2 and 3 above, in case that is helpful.
This issue can be for number 1.

[2020-12-01 19:50] terracoda opened #261 "Flipped design for slider interactions"
Related to issue https://github.com/phetsims/ratio-and-proportion/issues/245# we will be flipping the design of the sim so that proximity-to-ratio is the object response for all interactions.

An example of what this flip will look like for sliders is found in this table in the design doc:
https://docs.google.com/document/d/1HJvvGWYaUv9tlat9S7omQQVng8fGB4FuUhTEM1qx1z8/edit?ts=5fc56c26#heading=h.hq

[2020-12-01 20:01] jbphet commented on #229
I am not able to duplicate any clipping on the Macbook Air that I have available to me, which is running OSX 10.12.6 and Safari version 12.1.2.  I tried it with VoiceOver on and off, and didn't hear clipping in either case.  I also tried it in Chrome on that same device and heard no clipping, again regardless of whether VoiceOver was on or off.  @emily-phet and I are meeting today, perhaps she can

[2020-12-01 20:05] terracoda opened #262 "Distance Progress Logic for Flipped design"
While working on lock ratio responses, and thinking about a design flip in https://github.com/phetsims/ratio-and-proportion/issues/245, I realized new logic for providing distance progress information would be beneficial for all perspectives of the moving the hands, either individually or at the same time.

This logic is demonstrated in examples in the design document in these tables:
- [Table: Te

[2020-12-01 21:28] jbphet commented on #229
By the way, I do notice a bit of a pause in the sound when the direction of motion is changed while moving the hands with "Lock Ratio" on.

[2020-12-01 21:30] KatieWoe commented on #229
I haven't been able to reproduce this device on Jordan (which is the device I would be most able to spare). I tried with and without audio ducking, on both master and latest dev. I'm still willing to lend you the device if you think it will help. It is Mac 10.14.7.

[2020-12-01 21:56] KatieWoe commented on #229
Quick correction. I was on Mac 10.14.6. Safari is 14.0.1

[2020-12-01 23:50] jbphet commented on #229
@emily-phet and I just duplicated the really bad sound experience described in https://github.com/phetsims/ratio-and-proportion/issues/229#issuecomment-733230605 above.  It happened during a Zoom meeting where @emily-phet was sharing her screen and sound and ran the sim in Safari.  The sound for everything was horribly distorted.  However, when she loaded the sim into Chrome and Firefox, the sound

[2020-12-01 23:52] jbphet commented on #229
@Matthew-Moore240 - When you observed the clipping, were you sharing screens?  Can you duplicate the issue when *not* sharing screens?

@zepumph - When you experienced the bad sound described in https://github.com/phetsims/ratio-and-proportion/issues/229#issuecomment-733230605, were you sharing screens?

[2020-12-02 00:00] emily-phet commented on #229
Just noting that I found Ratio and Proportion open in another browser window (probably the same one I noticed the poor sound issue in yesterday). It again has poor sound in safari - while not having Zoom on.  I [recorded it](https://drive.google.com/file/d/1v3rHkiJVFyE-CCuEYCbB3y7yRbP4K6hU/view?usp=sharing) (for posterity!).

I'm not sure if it's helpful, but I tried to gather all info I could thi

[2020-12-02 00:01] emily-phet commented on #229
@jbphet - regarding your [question](https://github.com/phetsims/ratio-and-proportion/issues/229#issuecomment-736894970) for @Matthew-Moore240 - the original observation of this issue was during a remote interview when screens were being shared on zoom.

[2020-12-02 00:07] emily-phet commented on #251
Agreed - I can't reproduce this now, either. Maybe #249 did the trick! Closing.

[2020-12-02 00:07] #251 closed

[2020-12-02 05:27] zepumph commented on #229
Hmm, I don't really remember, @jessegreenberg and I were pairing, but his mac is his second computer, and sometimes he just tests things on his own, and sometimes we add the mac to the zoom call and he shares his screen with it. I can do more investigation with him next Tuesday during our meeting if you would like. Just assign me back if you would like that or any other help.

[2020-12-02 15:21] jessegreenberg commented on #229
I am pretty certain we were sharing screens with zoom on my Mac. In fact, I just confirmed by using two devices here that if I run the sim from master without sharing screens I don't get any clipping. But if I do share screens while sharing audio the clipping happens. If I share screens without sharing audio there is no clipping, so sharing audio is required. This is using macOS 10.15.6 Safari 13.

[2020-12-02 16:26] KatieWoe opened #263 "CT reentry detected"
[code]

[2020-12-02 16:29] terracoda commented on #257
@zepumph, I don't see why we have to move the hands at all when Lock Ratio is turned on. The hands are already in ratio.
I just tested and there still seems to be a big jump. I'm not sure why I can get to "at ratio" with the left hand below 0.5, but I can't do so when ratio is locked? But maybe this issue does not have to be solved immediately, but maybe after the upcoming pre-dev dev test.

![1-7

[2020-12-02 16:34] terracoda commented on #257
In https://github.com/phetsims/ratio-and-proportion/issues/257#issue-751812436, the starting 1:7 "at ratio" position is different (values are higher), but the after lock ratio position is the same 0.5:3.5. Is that because with a 1:7 ratio, that's the first "even" tick representation?

[2020-12-02 16:52] terracoda commented on #257
With a ratio of 1:3, the jump is less, of course.
Before I lock ratio, I can get the Left Hand to 2 shift-key steps below Tick Mark 0.5 (3 shift-key steps above zero) and move the Right Hand to 1 shift-key step below Tick Mark 3 and get the hands at ratio. This seems to mathematically correct, roughly 0.3:0.9.

Because it seems mathematically correct to me, I don't see why we have to re-calculate

[2020-12-02 16:56] terracoda commented on #257
I am wondering is the "fitness" you have built in is based on the step-size of 0.1 Tick Marks or on some other value? And honestly, I don't know the math, so maybe that isn't even a good way to think about the fitness adjustment.

[2020-12-02 16:57] terracoda commented on #257
@emily-phet and @zepumph, should we look at this issue again after the pre-dev dev-test is completed?

[2020-12-02 17:29] zepumph commented on #263
Yes thanks, this will be covered by #258.

[2020-12-02 18:20] zepumph commented on #257
Oh! I figured out the issue. We said at one point that the range of the locked ratio is between .5 and 10, so not only is the ratio snapping to the exact target, it is also getting moved up. @terracoda, I am not able to reproduce this though because I keep running into #258.

Let me try to sum up an explanation of the code, which will likely be review.

"at ratio" is a description output which is

[2020-12-02 18:34] terracoda commented on #257
I think what you explain above is the issue. The left hand is indeed snapping to 0.5.
I'll get the numbers with the ?log to help us.

[2020-12-02 20:13] terracoda commented on #257
I think the latest numbers are at the bottom of the log.
**Hands at ratio before lock ratio**
![Screen Shot 2020-12-02 at 4 40 09 PM](https://user-images.githubusercontent.com/1902116/100925976-4cfc5280-34bd-11eb-8966-0a5563ffe3b1.png)

**Hands at ratio after checking the lock ratio checkbox**
![Screen Shot 2020-12-02 at 4 40 43 PM](https://user-images.githubusercontent.com/1902116/100926011-54bbf

[2020-12-02 20:20] terracoda commented on #257
Those look off. Here we go again:

**Before Lock Ratio**
![Screen Shot 2020-12-02 at 4 48 38 PM](https://user-images.githubusercontent.com/1902116/100926696-69e55580-34be-11eb-90b3-fcff4689a836.png)

**After Lock Ratio**
![Screen Shot 2020-12-02 at 4 49 04 PM](https://user-images.githubusercontent.com/1902116/100926726-749fea80-34be-11eb-9137-512543f994a8.png)

[2020-12-02 20:22] terracoda commented on #257
In the first log, I think I resized the browser, causing issue #209. I think that's why the visuals look incorrect.

[2020-12-02 20:23] terracoda commented on #257
Hopefully, the log values in https://github.com/phetsims/ratio-and-proportion/issues/257#issuecomment-737472498 are helpful.

[2020-12-02 21:11] terracoda commented on #261
@zepumph, I mapped an example for tick marks and started numbered tick marks (not finished).
The new logic does work as great with the tick marks, unfortunately.

[2020-12-02 23:54] zepumph commented on #257
Thanks @terracoda, it is nice to confirm this. I appreciate the logs. This min value was determined as behavior that we wanted in https://github.com/phetsims/ratio-and-proportion/issues/92#issuecomment-665175449. We should bring this up at a meeting to see how we should proceed.

What to do?
1. Leave it as is
2. Change the range of snapping
3. When locking, don't necessarily snap, but only let the

[2020-12-03 02:55] zepumph commented on #81
@emily-phet and @terracoda please play around with it. Here is the behavior I was going for:

1. Grey arrows are displayed and hidden as a pair. a single mouse or single keyboard or single both-hands interaction will hide all grey arrows.
2 individual arrow key cues are displayed and hidden as a pair. They are hidden once either individual hand is used, or upon using both sides of the both-hands i

[2020-12-03 03:01] zepumph commented on #220
I like option 2, I'll implement that unless you say otherwise.

[2020-12-03 13:47] terracoda commented on #257
@zepumph, thanks for the list. I was also thinking about the same 3 options, and especially curious about numbers 2 and 3.

[2020-12-03 13:58] terracoda commented on #256
@zepumph, RaP is loading from PhETTest. When you have a moment, could you post a dev link for to try out.

[2020-12-03 14:02] terracoda commented on #262
This new logic may not work as well as the current logic does, when Tick Marks are checked.
The logic can quote easily start a pattern that replaces every or almost every even-numbered Tick Mark.
This is undesirable.

[2020-12-03 14:07] terracoda commented on #261
@zepumph, apologies I forgot to assign you to the issue.

[2020-12-03 14:09] terracoda commented on #261
This issue is also related to #262.

[2020-12-03 16:38] terracoda commented on #262
Ok, I tested out some more scenarios and would like to discuss additions to my proposed logic to make things better with the tick marks on. Here's the new logic that seems logical to me:
**As above:**
1. Never replace a context response if it contains a play area region landmark, that is, if it contains a single-value pa-region (“at top”, “at bottom”, “at middle”). I see these single-value regions

[2020-12-03 22:06] zepumph opened #264 "use globalKeyStateTracker"
Now that there is globalKeyStateTracker from https://github.com/phetsims/scenery/issues/1048, likely BothHandsInteractionListener doesn't need to make its own. I'll take a look.

[2020-12-03 22:33] zepumph commented on #264
@jessegreenberg please review. Does this seem like the way forward for keyStateTracker?

[2020-12-03 23:20] zepumph commented on #247
Implemented above. I like that it is based on what hand is at the extremity, and not what hand was just moved. Please review.

[2020-12-04 00:48] terracoda commented on #220
See related issue #262 which is contains continued thinking on the logic related to design changes in #245.

[2020-12-04 00:52] terracoda commented on #220
@zepumph, apologies for not connecting this issue with #262, sooner.

[2020-12-04 01:05] zepumph commented on #220
Does this mean this issue should be closed, because it will be covered by the spec outlined in #262?

[2020-12-04 01:54] zepumph commented on #261
I think this is implemented, it was a bit hard to know for sure, because #262 isn't in place yet. Please review.

[2020-12-04 01:54] zepumph commented on #245
This should be implemented, please review @terracoda.

[2020-12-04 02:30] zepumph commented on #262
Above is quite complicated. I am happy to continue down that road, but as a first-pass, I decided to approach this in the opposite manner. Instead out outlining each edge case that we wouldn't want to specify an overriding direction description, I just chose a simple criteria that compares the whole alert instead of just the QDR. I'm not sure how far this will take us, but I'm excited to be able t

[2020-12-04 02:38] zepumph commented on #256
This has unvetted flipped description for the ratio hands from #245 et all, so take it with a grain of salt.

https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.0-dev.74/phet/

[2020-12-04 18:40] zepumph opened #265 "A11y dependencies needed between RatioHalf position Properties"
@terracoda moved the right hand, and the aria-valuetext for it updated, but the aria-valuetext for the left didn't. Since #245, we added a dependency on each. Likely the best way forward is to make the unclamped fitness Property the dependency.

[2020-12-04 18:57] zepumph commented on #262
After a discussion with @terracoda, we decided to make a minor change to my commit/her design where instead swapping the entire context response, we will only ever swap out the QDR when it repeats. This way we will always have the position in the context response.

- [ ] There is a chance that this will still be too long, especially for both hands, but we will need to implement first before decidi

[2020-12-04 21:06] zepumph commented on #262
Notes:
- [ ] Comma after "Hands. . . " for distance and proximity to ratio?

[2020-12-05 01:35] zepumph commented on #262
Everything I can think of has been implemented above.  The checkboxes that aren't checked in https://github.com/phetsims/ratio-and-proportion/issues/262#issuecomment-739020593 need to have a bit of discussion, and likely for @terracoda to review before we discuss next Tuesday. I'm going to mark this for meeting, because there is a lot to discuss, but we can still make progress on it in the interim

[2020-12-05 01:36] zepumph commented on #245
When you review this, know that all flipping logic from side-issues (#261 and #262) has also been implemented.

[2020-12-05 01:38] zepumph commented on #255
I thought that it was passing a tick mark, over to @emily-phet for recommending how to proceed.

[2020-12-05 01:41] zepumph commented on #265
@terracoda can you please confirm that the above works to your liking?

[2020-12-05 01:43] zepumph commented on #166
It doesn't seem like this is the direction that we are heading. @emily-phet anything else here, or should we close this?

[2020-12-05 01:44] zepumph commented on #166
Note that https://github.com/phetsims/ratio-and-proportion/issues/175 sorta covers this.

[2020-12-05 01:51] zepumph commented on #230
QA, when you get here, please take a look at the behavior in the video in the original comment, and then try to reproduce with the "Both hands interaction" (when the keyboard focus highlight is around both hands). I could only see the bug in safari.

[2020-12-05 11:14] terracoda commented on #220
Yes, work on this issue will continue in #262. Closing.

[2020-12-05 11:14] #220 closed

[2020-12-07 16:34] KatieWoe opened #266 "CT cannot read property getProximityToChallengeRatio"
[code]

[2020-12-07 18:25] terracoda commented on #265
I verified this for the hand interactions, but lock ratio is no longer working. Not sure if it is related.

I'll open a new issue.

[2020-12-07 18:30] zepumph commented on #265
Oops, try that.

[2020-12-07 18:30] zepumph commented on #266
Thanks, fixed with https://github.com/phetsims/ratio-and-proportion/commit/250db2fd979e6085494768bc4ee7a64f6b507e40

[2020-12-07 18:30] #266 closed

[2020-12-07 18:31] terracoda commented on #265
Ok, I'll try again, no new issue for now.

[2020-12-07 18:48] terracoda commented on #265
Much better :-)
Each value for the hands, whether using the sliders, or the both hands interactions, up date in unison, so the always have the same value.
When ratio is locked, everything seems operational again, and the ratio value stays "at challenge ratio" as expected.

[2020-12-07 18:48] terracoda commented on #265
I'll go ahead and close this issue.

[2020-12-07 18:48] #265 closed

[2020-12-07 18:54] terracoda commented on #265
Please note, I only tested with A11y View. I am having trouble with using VoiceOver with this sim (investigating).

[2020-12-07 19:28] terracoda opened #267 ""Safari Busy" when VoiceOver Enabled"
I thought it was system version (Mac OS 10.13.6) and it might still be partly due to my system version, but for some time now, I have been having trouble using RaP with VoiceOver Enabled.

Until last week, I think I could still get the sim to respond by restarting VO, but today, I am constantly getting "Safari Busy" when tabbing through the sim.

So, today, I also tested out some other sims (MAL a

[2020-12-07 19:29] terracoda commented on #267
So my system is Mac OS 10.13.6 and Safari is Version 13.1.2 (13609.3.5.1.5)

[2020-12-07 19:31] terracoda commented on #267
I do plan on upgrading very soon, but still thought it was important to post this issue in case it is not directly related to my system.

[2020-12-07 19:34] terracoda commented on #267
Basically, I mainly hear, "Safari Busy" when I tab through the sim.

[2020-12-07 19:34] zepumph commented on #267
@KatieWoe, could you have a QA person do a very limited test on your latest mac/ VO with master of Ratio and Proportion to see if this is an issue generally, or from @terracoda's system/version?

[2020-12-07 19:35] terracoda commented on #267
Oh, this does not happen when I uncheck the "debugger" checkbox in PhET Bookmarks.

[2020-12-07 19:35] terracoda commented on #267
I hadn't noticed until recently that the debugger is ticked by default.

[2020-12-07 19:36] terracoda commented on #267
@KatieWoe, do you want to verify that this is due to the debugger, or should I just close the issue?

[2020-12-07 19:45] KatieWoe commented on #267
I think that we can leave it there if you are fairly confident. It may be a good thing to check when the sim next goes for testing though.

[2020-12-07 19:52] terracoda commented on #267
@KatieWoe, I am no longer confident.
It seems like it was a fluke.
The sim is now working with the debugger on and with the debugger is off.

Good news is... I can use the sim with VO now.
Not sure why it doesn't work sometimes.

[2020-12-07 19:56] KatieWoe commented on #267
Could it be related to https://github.com/phetsims/molecules-and-light/issues/349?

[2020-12-07 20:00] terracoda commented on #265
verified with VO on.
Working as expected.

[2020-12-07 20:05] terracoda commented on #227
Typical Scenario is good.
![Screen Shot 2020-12-07 at 4 33 27 PM](https://user-images.githubusercontent.com/1902116/101399494-2027b100-38aa-11eb-8840-94b0bbfccef3.png)
![Screen Shot 2020-12-07 at 4 33 39 PM](https://user-images.githubusercontent.com/1902116/101399487-1e5ded80-38aa-11eb-9922-8310e0200b50.png)

[2020-12-07 20:26] zepumph commented on #234
I think this will be covered by https://github.com/phetsims/scenery/issues/1121, on hold until that general issue is solved.

[2020-12-07 20:27] zepumph commented on #227
Note that Edge case 1 is not yet implemented here.

[2020-12-07 20:53] terracoda commented on #227
@zepumph, said:
"Edge case 2 implemented above. The "Ratio no longer locked." is not part of the same utterance as the normal object/context response. I tried to time it so that it aligned like you have above, but it would be good to test on something other than NVDA."

I don't actually hear, "Ratio, no longer locked." when using VO.
The string flashes quickly in the VO box, but does stay long eno

[2020-12-07 21:01] terracoda commented on #227
If we go with a static parameter about the locking part, like this:
- "{{Ratio no longer locked.}} {{Hands {{qual-distance-region}} each other, both hands {{pa-region}}."

Then we assume, the learners has to go back to the hands to find the actual proximity to the current ratio, knowing already that the hands are no longer locked at the challenge ratio.

If we want to actually say everything in th

[2020-12-07 21:03] terracoda commented on #227
@zepumph, my main question is still about the separate responses.
Is there any specific reason why you have decided to NOT use one compiled response. That seems way simple to me, and less fragile in terms of missing a response.

[2020-12-07 21:08] terracoda commented on #227
In https://github.com/phetsims/ratio-and-proportion/issues/227#issuecomment-732496032, @zepumph said:

@zepumph, if ratio is locked, a change in the number spinners will always knock the hands out of ratio, right? There is no "may not unlock" case, here.

[2020-12-07 21:09] terracoda commented on #227
Yes, let's discuss tomorrow, glad you marked it with meeting label.

[2020-12-07 21:28] terracoda commented on #245
With my challenge 1:3, the distance-progress response are reversed, just going to test if is always the case they are reversed.

- I move hands up, sims says "closer together"
- I move down, sim says "farther apart"

Just double checking now.

[2020-12-07 21:28] terracoda commented on #245
I will do a fresh pull first.

[2020-12-07 21:29] zepumph commented on #267
Hmm That is a good point, from that issue I took that this "safari busy" normally has to do with performance. I'll take a look to see if there are any obvious performance problems that could be causing this in the sim-specific code.

[2020-12-07 21:34] terracoda commented on #245
The issue is that, when ratio is locked, and I move the hands down, I get "farther apart", and when i move them up, I get "closer together".

[2020-12-07 21:39] terracoda commented on #245
**with ratio locked, Moving hands down**
![Screen Shot 2020-12-07 at 6 07 33 PM](https://user-images.githubusercontent.com/1902116/101408531-1c4e5b80-38b7-11eb-8a84-038209967287.png)

**with ratio locked, Moving hands up**
![Screen Shot 2020-12-07 at 6 06 40 PM](https://user-images.githubusercontent.com/1902116/101408448-fc1e9c80-38b6-11eb-8787-835febca4629.png)

[2020-12-07 21:44] terracoda commented on #245
@zepumph, I don't seem to get distance-progress if I have focus on a slider and ratio is locked. Here are three consecutive steps going up in the same distance region.

![Screen Shot 2020-12-07 at 6 11 52 PM](https://user-images.githubusercontent.com/1902116/101409055-e198f300-38b7-11eb-9b1d-6cac6e7ade74.png)
![Screen Shot 2020-12-07 at 6 12 09 PM](https://user-images.githubusercontent.com/1902116

[2020-12-07 21:45] terracoda commented on #245
Last comment is more appropriate for issue #262, maybe.

[2020-12-07 21:48] terracoda commented on #245
Oh, last 2 comments, https://github.com/phetsims/ratio-and-proportion/issues/245#issuecomment-740198448 and https://github.com/phetsims/ratio-and-proportion/issues/245#issuecomment-740195818

maybe these comments should go in #262?
Anyways, this issue is connect to #261 and #262

[2020-12-07 22:41] zepumph commented on #263
I can't reproduce this after, https://github.com/phetsims/ratio-and-proportion/commit/6d1ece40ec63539d8998784a8c738ce3e7fcbc91 closing

[2020-12-07 22:42] zepumph commented on #258
https://github.com/phetsims/ratio-and-proportion/commit/87e3bc449443bcc989401392a2e0d5c891a734bf fixed an incorrect assertion error in the following case:

* ratio unlocked
* move both values to about .4 (less than half a tick mark)
* lock ratio
* both values should snap to .05.

There was an assertion forbidding both values changing like that, but it was for another case, so I updated the asserti

[2020-12-07 22:42] #258 closed

[2020-12-07 22:44] zepumph commented on #234
After furthering discussion about this over in https://github.com/phetsims/scenery/issues/1121, I don't feel like we need to track this locally for this sim. Closing

[2020-12-07 22:44] #234 closed

[2020-12-07 22:48] zepumph commented on #254
This is clear, and was implemented in commits in common code referenced right below this comment: https://github.com/phetsims/ratio-and-proportion/issues/82#issuecomment-724918145.

The common code component now supports exclusive up/down keys, exclusive left/right, or both. The GFL examples you have above don't use this common code component, but the capabilities to use it exist. I don't think it

[2020-12-07 23:03] zepumph commented on #209
Wow. Really great work. https://github.com/phetsims/ratio-and-proportion/issues/209#issuecomment-734983859 is awesome, and made it very easy to find the bug. This should be solved now. When I repeat your above instructions on master, the hands stay at .5 and 1. Please confirm fixed and feel free to close.

[2020-12-07 23:07] zepumph opened #268 "Fill out Credits for the sim."
We are probably late enough in the process to get a first pass in here.

[2020-12-07 23:53] zepumph opened #269 "Memory test: phet brand"
see https://github.com/phetsims/ratio-and-proportion/issues/210

[2020-12-07 23:55] zepumph opened #270 "Performance testing and sign off"
From code review in https://github.com/phetsims/ratio-and-proportion/issues/210

[2020-12-07 23:58] zepumph opened #271 "review pointer areas"
General issue from code review. @emily-phet can you please take a look at the sim with `?showPointerAreas` and let me know what you think. There was an outstanding question about this over in https://github.com/phetsims/ratio-and-proportion/issues/205#issuecomment-729318851. I will combine that with this issue here.

[2020-12-07 23:58] zepumph commented on #205
This will be covered by https://github.com/phetsims/ratio-and-proportion/issues/271. See you over there!

[2020-12-07 23:58] #205 closed

[2020-12-08 00:01] zepumph opened #272 "GridNode should be replaced with BAMBOO/GridLineSet"
I ran a deprecation warning in https://github.com/phetsims/ratio-and-proportion/issues/210

[2020-12-08 00:04] zepumph opened #273 "stringTest=long looks bad"
![image](https://user-images.githubusercontent.com/6856943/101419874-6b879280-389d-11eb-9ff9-d9f3b30df722.png)

uh oh. See #210

[2020-12-08 00:09] zepumph opened #274 "Inline most query parameters"
From https://github.com/phetsims/ratio-and-proportion/issues/210, I realized that most were from prototyping, and that it isn't that valuable to keep these around.

[2020-12-08 00:14] zepumph commented on #210
I went through a first pass of the checklist just now. Tomorrow I will go through each file and review its implementation.

[2020-12-08 00:29] zepumph commented on #269
After 30 minutes of testing, here are the snapshots:

![image](https://user-images.githubusercontent.com/6856943/101421191-40eb0900-38a0-11eb-8aea-c408edc62697.png)

The first 6 were every 1 minute, then the next 3 were every 2 minutes, then the last 2 were after 10 minutes.

It was constantly increasing so perhaps there is  a memory leak, but a very minor one at that.

Here is what the comparison

[2020-12-08 15:04] emily-phet commented on #271
I've not worked on finalizing pointer areas in a sim in modern times...
Here's a few questions:
- Does it matter that the sim screen icons have multiple overlapping pointer areas, instead of just one for the whole button image? If ultimately this doesn't matter... I guess it's fine to me, but since these are serving as a single button image it struck me as odd that the pointer area is multiple ove

[2020-12-08 15:11] emily-phet commented on #81
Looks good - I like this. Simple, straightforward.

[2020-12-08 15:11] #81 closed

[2020-12-08 15:24] emily-phet commented on #255
Hey folks - here's the link to the sound design doc, which lists out all of the sounds and when they play. https://docs.google.com/document/d/1dSfPP5JnaQX2Z4lKn7DdSWSuzCLijoNUFvpW_nnR-7s/edit?usp=sharing

The tick mark sound is intended to happen as you pass a tick mark.

I'm not sure if this means the behavior at 0-30 is fine, but behavior elsewhere is not, or if this means there isn't a bug.

@t